[2018-05-02 10:45] jigartankhupp commented on #1409
@blockrazorbot claim

[2018-05-02 10:58] jigartankhupp commented on #1409
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-02 11:12] #1407 closed

[2018-05-02 11:26] #1395 closed

[2018-05-02 11:27] #1389 closed

[2018-05-02 14:59] gazhayes opened #1411 "Problem: official website not displayed on currency detail page"
Problem: official website for each currency is not displayed on currency detail page.

Solution: add official website to one of the tabs on the currency detail page. Also allow it to be edited like everything else.

[2018-05-02 21:17] anbud commented on #1384
Done in #1412. Please note that the solution is not entirely backward compatible and may show inconsistent data for auctions completed before this.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-03 00:11] #1324 closed

[2018-05-03 02:02] chamidu-supeshala commented on #1344
fixed in #1413
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-03 02:03] chamidu-supeshala commented on #1411
@blockrazorbot claim

[2018-05-03 02:58] AshHimself commented on #1394
Fixed in #1414
@blockrazorbot label "done"

[2018-05-03 02:58] AshHimself commented on #1394
@blockrazorbot done

[2018-05-03 03:07] #1394 closed

[2018-05-03 03:09] AshHimself opened #1415 "problem: [/editProfile] No such template: editProfile"
Problem: [/editProfile] No such template: editProfile, I believe someone may of removed/deleted did not import the template correctly

Solution: Review code and provide solution in PR

[2018-05-03 03:09] AshHimself commented on #1415
@blockrazorbot claim

[2018-05-03 03:45] AshHimself commented on #1415
Fixed in #1416
@blockrazorbot label 'done'

[2018-05-03 03:45] AshHimself commented on #1415
@blockrazorbot done

[2018-05-03 05:39] #1415 closed

[2018-05-03 05:43] AshHimself commented on #1396
@blockrazorbot claim

[2018-05-03 06:00] gazhayes opened #1417 "Problem: side menu UX isn't very good"
Problem: the side menu often flows over the edge of the screen on smaller screens and can't be scrolled. It also doesn't look too good.

Solution:
Implement something like the scrollable YouTube menu with icons:

<img width="241" alt="screen shot 2018-05-03 at 1 54 52 pm" src="https://user-images.githubusercontent.com/8143945/39561691-df98d9be-4ed9-11e8-8c46-daeb19bb366c.png">

[2018-05-03 06:08] AshHimself commented on #1396
@gazhayes - first draft PR sent on this. thoughts? #1418

Honestly I think we need to remove that light blue background and decide on a graph color as part of the overall theme to show a bit of flow in the design.

[2018-05-03 06:17] gazhayes commented on #1396
Feel free to experiment ;)

Here are some colour schemes to think about:
https://coolors.co/15a29c-293571-131a36-e8e9f3-cecece
https://coolors.co/495867-577399-bdd5ea-f7f7ff-fe5f55
https://coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1

[2018-05-03 07:40] AshHimself commented on #1396
@gazhayes we can add a little consistency then to other elements like i've done here so its just not all GREY :)

![image](https://user-images.githubusercontent.com/148682/39564816-48ef1cee-4ee8-11e8-8413-1c7d4edfe828.png)

[2018-05-03 07:54] gazhayes commented on #1396
That's considerably nicer.

However this should be done in a new Bootswatch file, we'll slowly end up with a 'blockrazor' bootswatch theme that can also be contributed to the Bootswatch project itself.

[2018-05-03 08:06] jigartankhupp commented on #1409
Done #1419

[2018-05-03 09:27] #1409 closed

[2018-05-03 09:41] jigartankhupp opened #1420 "Problem : Console Error in [/addCoin] page in prev/next steps"
Problem : Console Error in [/addCoin] page on click of prev / next button due to old version of SmartWizard being used.
Solution : Updating `SmartWizard` version in use will fix the issue. It's in use at 'imports/ui/components/typeNX.js'

[2018-05-03 09:42] jigartankhupp commented on #1420
@blockrazorbot claim

[2018-05-03 09:47] jigartankhupp commented on #1420
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

Done #1421

[2018-05-03 10:04] jigartankhupp commented on #1420
@blockrazorbot claim

[2018-05-03 10:11] jigartankhupp commented on #1420
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

Done #1422

[2018-05-03 10:26] #1420 closed

[2018-05-03 10:29] gazhayes commented on #1404
@jigartankhupp #1406 was not merged.

[2018-05-03 10:30] #1384 closed

[2018-05-03 11:08] janat08 commented on #1035
I set browser.pause to 10000, but then I can't use jquery methods or access globals it seems.

[2018-05-03 12:07] jigartankhupp commented on #1404
Done #1425

[2018-05-03 12:11] janat08 commented on #1397
Im out of my depth. What the lighthouse would want you to do is in lux.min.js:
[code]
Except that then fortawesome meteor package begins use fortawesome that doesn't use this too. There's also ``optional`` param to font-display that may decide to not load things altogether if its too much a bother, fallback potentially not switching to the downloaded font on the first visit. @blockrazorbot unclaim

[2018-05-03 12:30] janat08 opened #1426 "Problem: router points at addCoin2 that doesn't exist"
Problem: router has addcoin2 route that no longer exists

Solution: delete it.
@blockrazorbot claim

[2018-05-03 12:33] janat08 opened #1427 "Problem: [/addcoin] doesn't import template eagerly"
Problem: addcoin imports bundle only so long as Meteor.userId() is defined.

Solution: move it outside if statement.

@blockrazorbot claim

[2018-05-03 12:34] gazhayes commented on #1397
ping @anbud

[2018-05-03 12:37] jigartankhupp opened #1428 "Problem : Sidemenu close button position not center"
Problem: In sidebar close icon not showing in center and also not visible in smaller screen.
![screenshot from 2018-05-03 17-58-43](https://user-images.githubusercontent.com/38810839/39576753-d5e62444-4efc-11e8-89bb-9654a062759a.png)
Solution:  Add css to set icon in center.

[2018-05-03 12:38] jigartankhupp commented on #1428
@blockrazorbot  "claim"

[2018-05-03 12:39] janat08 commented on #1427
@blockrazorbot claim

[2018-05-03 12:41] gazhayes commented on #1428
It also covers things, it would be better to make it much more slim.

[2018-05-03 12:43] jigartankhupp commented on #1428
@gazhayes ok - the image above is an image of issue. I'll push the fix you asked and also the one I found.
but why can't I claim the issue ? any idea ?

[2018-05-03 12:45] gazhayes commented on #1428
I'm looking into it now.

[2018-05-03 12:47] gazhayes commented on #1428
OK. You can only claim a maximum of two issues at once. That's why. When you have finished an issue you can `@blockrazorbot done` in addition to `@blockrazorbot label "done"` and it will free you up to claim more.

[2018-05-03 13:02] anbud commented on #1397
I'll check it out.

@blockrazorbot claim

[2018-05-03 13:03] #1404 closed

[2018-05-03 13:05] jigartankhupp commented on #1428
@blockrazorbot  Done #1429
@blockrazorbot  label "done"
@blockrazorbot  remove "in progress"

[2018-05-03 13:10] #1428 closed

[2018-05-03 13:27] jigartankhupp commented on #1417
@blockrazorbot  claim

[2018-05-03 16:03] geekyd commented on #1392
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-03 16:26] gazhayes commented on #1392
Blockrazorbot closed this automatically. Re-opening it so that @janat08 can validate and close.

[2018-05-03 16:37] #1232 closed

[2018-05-03 18:26] janat08 commented on #1427
or basically, I'm not sure that it matters if the action hook runs at compilation rather than trigger.

[2018-05-03 18:26] #1427 closed

[2018-05-03 18:36] janat08 commented on #1392
I imagine @geekyd was asking where a typeahead component could be found. Anyway the issue with what you did is that now if you go to comparedCurrencies, and then delete currency from list it won't reappear on typeahead menu until you type again (so long as currency should've shown up on the list in first place). There're comments explaining almost as much. @blockrazorbot remove "done". Please reve

[2018-05-03 19:03] janat08 opened #1431 "Problem: newFeature method has validation removed"
Problem: newFeature method is stripped of validation in #1425. Issue being that a hacker would still call method from console passing book "war and peace" as a feature.

Solution: Ideal refractor would involve usage of MDG validated method, although that would be pretty esoteric if you had to design a schema and plug-in client validation, something that should've happened in /addcoin.

[2018-05-03 19:08] geekyd commented on #1392
@janat08 I tested the scenario & the item reappears in the typeahead menu after removing it from the comparison.
![screen shot 2018-05-04 at 12 38 00 am](https://user-images.githubusercontent.com/12807846/39597571-80b27982-4f33-11e8-8e49-ca4abedc6c3a.png)
![screen shot 2018-05-04 at 12 38 15 am](https://user-images.githubusercontent.com/12807846/39597572-810de7e0-4f33-11e8-815c-2e4cbfe33123.png)

[2018-05-03 19:12] janat08 commented on #1392
You typed in "e".

[2018-05-03 19:42] geekyd commented on #1392
It is there even when the user does not type.
![screen shot 2018-05-04 at 1 11 13 am](https://user-images.githubusercontent.com/12807846/39599046-200f7b98-4f38-11e8-89c1-41b7a14b99d8.png)

[2018-05-03 20:00] anbud commented on #1354
Done in #1433.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-03 20:03] anbud commented on #1355
@janat08, I can't seem to find where `xmlbuilder` is imported, and I can't see it with bundle-visualizer.
Am I missing something? :)

[2018-05-03 20:09] anbud commented on #1353
@blockrazorbot claim

[2018-05-03 20:16] anbud commented on #1353
Done in #1434.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-03 20:24] anbud opened #1435 "Problem: [currency/x] TypeError: Cannot read property 'downVoted' of undefined"
Problem: There's a bunch of type-errors appearing in the console when you visit `/currency/x` route.

Solution: Check if the object is defined before trying to access its fields.

@blockrazorbot claim

[2018-05-03 20:32] anbud commented on #1435
Done in #1436.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-03 20:32] #1435 closed

[2018-05-03 21:47] #1355 closed

[2018-05-03 21:48] #1354 closed

[2018-05-03 21:48] #1397 closed

[2018-05-03 22:03] janat08 commented on #1392
Right, before giving up I gave my comments a try and this turns out to be right: ``this destroy/init dance is required since you can't open menu without refocusing after select``.

[2018-05-03 22:04] janat08 commented on #1392
refocusing manually that is.

[2018-05-03 22:06] #1353 closed

[2018-05-03 22:16] janat08 commented on #1392
and I meant that to update menu from the collection observers if user is typing in stuff specifically which you won't be able to test on this page, so if you get the chance to make the menu open up on focus after some event and input focused it would be somewhat redundant given how it's really only used on things that don't change.

[2018-05-03 22:29] janat08 commented on #1355
I guess that it went away once all of the routes were moved to dynamic imports, or something.

[2018-05-03 22:39] janat08 opened #1437 "Problem: es5-shim loaded into bundle"
Problem: es5-shims, at 30kb, are fairly pointless and thus should be deleted from packages list: https://caniuse.com/#search=es5.

Solution: remove.

[2018-05-03 22:47] janat08 opened #1438 "Problem: ....sweetalert2 are not dynamically imported"
Problem: There's aslagle:reactive-table, moment which could be converted to the npm version and sweetalert2. The reason why they're still bundled is because they're asking for meteor version below 1.5 or they require Meteor.startup hook or because they have no mainmodule.
https://github.com/sweetalert2/sweetalert2
https://github.com/aslagle/reactive-table/blob/master/package.js

These total about

[2018-05-03 22:47] janat08 commented on #1373
@andbud I don't see this in bundle anymore, you have any ideas about why it went away?

[2018-05-03 22:57] janat08 opened #1439 "Problem: popper.js in bundle and downloaded as script in theme.html (20kb)"
Problem: Popper.js is still in bundle, even if theme.html is supposed to be dynamically imported. The downloaded version (self-served) is in ../ui/components/compatibility which is dynamically imported. I don't know if script tags count towards the bundle.

[2018-05-03 23:01] janat08 opened #1440 "Problem: jquery-validate is in bundle (23kb)"
Problem: jquery-validate makes it into the bundle.

Solution: dynamically import it.

[2018-05-03 23:02] janat08 commented on #1373
its still in there, it just got way smaller.

[2018-05-03 23:02] janat08 commented on #1373
feel free to close.

[2018-05-03 23:06] janat08 commented on #1431
the schema for this is located in non-standard location and should be moved (under some ``validation`` folder).

[2018-05-03 23:55] gazhayes commented on #1439
theme.html can be removed, it's just to test bootswatch.

[2018-05-04 00:00] #1373 closed

[2018-05-04 00:07] gazhayes commented on #1431
Is it simpler to revert #1425 and then solve #1404 properly?

[2018-05-04 02:00] #1344 closed

[2018-05-04 02:26] chamidu-supeshala commented on #1411
done in #1441
@blockrazorbot done
@blockrazorbot label "done"

[2018-05-04 06:14] gazhayes opened #1442 "Problem: comment layout is broken"
Problem: [/currency/x] comment layout is broken. There should be a horizontal row at the bottom.

<img width="503" alt="screen shot 2018-05-04 at 2 12 39 pm" src="https://user-images.githubusercontent.com/8143945/39614833-5ab6b780-4fa5-11e8-942b-603f31c47e23.png">

[2018-05-04 06:16] gazhayes opened #1443 "Problem: add exchange field is in heading"
Problem: [/currency/x] the add exchange field is in the heading of the currency, it should be on the exchanges tab.

[2018-05-04 06:28] geekyd commented on #1437
@blockrazorbot claim

[2018-05-04 06:42] chamidu-supeshala commented on #1442
@blockrazorbot claim

[2018-05-04 06:47] geekyd commented on #1437
@blockrazorbot done
@blockrazorbot label "done"

[2018-05-04 06:48] geekyd commented on #1443
@blockrazorbot claim

[2018-05-04 06:50] gazhayes opened #1445 "Problem: TypeError: Cannot read property 'params' of null"
Problem: console error on /addcoin: `TypeError: Cannot read property 'params' of null`

Solution: work out the cause of the problem and then decide if it's worth solving it.

[2018-05-04 08:14] anbud commented on #1438
@blockrazorbot claim

[2018-05-04 08:34] geekyd commented on #1443
Done in #1446
@blockrazorbot done
@blockrazorbot label "done"

[2018-05-04 08:35] chamidu-supeshala commented on #1442
fixed in #1447
@blockrazorbot done
@blockrazorbot label "done"

[2018-05-04 09:17] gazhayes opened #1448 "problem: exchanges can be removed without moderation"
Problem: exchanges on the /exchanges route can be removed without any moderation steps.

Solution: add proposed exchange removals to the moderation system using 3 cumulative up/down votes to decide if the exchange should be removed or not.

[2018-05-04 10:06] geekyd opened #1449 "Problem: helper text for no exchanges in currency/:x needs improvement"
Problem: The current helper text in case for no exchange for a currency is `empty`, which is less meaningful.

Solution: The helper text should be more meaningful. We should change it to `No exchange available`

[2018-05-04 10:06] geekyd commented on #1449
@blockrazorbot Claim

[2018-05-04 10:11] geekyd commented on #1449
@blockrazorbot claim

[2018-05-04 10:58] jigartankhupp commented on #1417
@blockrazorbot  Done #1451
@blockrazorbot  label "done"
@blockrazorbot  remove  " in progress"

[2018-05-04 10:59] jigartankhupp commented on #1417
@blockrazorbot  remove "in progress"

[2018-05-04 11:13] #1437 closed

[2018-05-04 11:13] jigartankhupp commented on #1417
@gazhayes Do let me know your thoughts on icons used on side menu. I've used the best one's at my understanding :)

[2018-05-04 11:14] geekyd commented on #1449
Done in #1450
@blockrazorbot done
@blockrazorbot label "done"

[2018-05-04 11:14] #1449 closed

[2018-05-04 11:24] janat08 commented on #1431
@jigartankhupp you still should make the original method validate data, you can do that with simpleSchema, (add coin method does that), and move the schema to another file.

[2018-05-04 11:27] janat08 commented on #1379
As per original comment in #1035, ``I set browser.pause to 10000, but then I can't use jquery methods or access globals it seems.``

[2018-05-04 11:30] janat08 commented on #1445
@blockrazorbot claim.

[2018-05-04 11:39] janat08 commented on #1445
The issue is about it not being able to parse navigation history, ill look into disabled that middleware even if I already looked into it before concluding that it actually isn't suppose to be enabled.

[2018-05-04 11:40] janat08 commented on #1390
#1445 related.

[2018-05-04 11:54] janat08 commented on #1390
it's likely not related, since while it will still look a navigation history even with every possible routing module removed, in addCoin the external button was used and so it didn't initialize properly.

[2018-05-04 12:37] jigartankhupp opened #1452 "Problem : filter modal not showing propare"
Problem: [/] home page not able to click in modal.
![screenshot from 2018-05-04 18-03-55](https://user-images.githubusercontent.com/38810839/39628820-dcfaee06-4fc7-11e8-85ac-291c330b61b9.png)

Solution: Need to add css to handle when modal open.

[2018-05-04 12:38] jigartankhupp commented on #1452
@blockrazorbot  claim

[2018-05-04 12:44] janat08 opened #1454 "Problem: can't create exchange at [/addcoin]"
Problem: create exchange at addcoin does nothing, and it won't show up on list, or show up list of to be added exchanges. the display logic was messed with at #1392. Although it's likely that the create prop to typeahead template doesn't intends for creation to simultaenously create and add exchange, yet doesn't actually add it.

[2018-05-04 12:45] jigartankhupp commented on #1452
@blockrazorbot  Done #1453
@blockrazorbot  remove "in progress"
@blockrazorbot label "done"

[2018-05-04 12:46] janat08 commented on #1445
I don't think that the error does anything.

[2018-05-04 13:10] anbud commented on #1438
I've gotten rid of `momentjs` and `sweetalert2` in #1455. I don't know what to do about `reactive-table`, as I can't seem to find an easy way to dynamically import a package that includes Blaze components.

Please note that this PR may cause issues with `sweetalert` as I've updated it to `sweetalert2`. I've fixed most of the caused issues, but if something happens, please create new issues. I've m

[2018-05-04 13:13] anbud commented on #1448
@blockrazorbot claim

[2018-05-04 13:14] #1452 closed

[2018-05-04 14:03] anbud commented on #1448
Done in #1456.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-04 14:15] geekyd commented on #1392
@janat08 Okay I will look into it. Thanks

[2018-05-04 14:35] janat08 commented on #1445
It's not an error with typeahead template either, nx-framework itself is interacting with router history.

[2018-05-04 15:03] janat08 commented on #1445
https://github.com/nx-js/framework/issues/25
@blockrazorbot label "low_priority"

[2018-05-04 15:06] janat08 commented on #1392
or you could just follow suggested solution of overriding animation in css.

[2018-05-04 15:11] janat08 commented on #1390
nx-js/framework#25
I'd try commenting out nx-framework component, and not importing the library to see if behaviour is fixed.

[2018-05-04 15:18] janat08 opened #1457 "Problem: unterminated character class at exchanges at [/addcoin]"
Problem: regular expression param to mongo query is causing issues in typeahead

Solution: follow example on typeahead docs.

[2018-05-04 15:32] janat08 commented on #1390
nx is the culprit.

[2018-05-04 15:33] janat08 commented on #1390
@blockrazorbot label "low_priority" "unmet dependency"

[2018-05-04 15:37] janat08 commented on #1362
So if you type a lot of text will go to next line, and you'll have blank space on second line, clicking that won't do anything.

[2018-05-04 15:37] anbud commented on #1438
@janat08, both `sweetalert` and `sweetalert2` are used for popups/modals. `sweetalert2` is just an update for `sweetalert` which is not entirely backward compatible. We use `sAlert` for method completion notifications, which is, I guess, not connected to either `sweetalert` nor `sweetalert2`.

[2018-05-04 15:41] janat08 commented on #1438
@AshHimself any chance sAlert stands for "sweetalert"(1).

[2018-05-04 15:42] janat08 commented on #1438
i'll close this since modals don't pop up at my face for basic actions.

[2018-05-04 15:42] #1438 closed

[2018-05-04 15:44] anbud commented on #1440
@blockrazorbot claim

[2018-05-04 15:51] anbud commented on #1438
@janat08, this is the one, https://github.com/juliancwirko/meteor-s-alert

[2018-05-04 16:12] anbud commented on #1440
Done in #1459.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-04 16:16] anbud commented on #1439
@blockrazorbot claim

[2018-05-04 16:37] anbud commented on #1439
I've just tried this one, `popper.js` is actually imported by `bootstrap` npm package. In order to fix this one, I've added `bootstrap` to dynamically imported packages in #1460. It doesn't seem to cause any issues with the UI, I've tried it in multiple browsers to ensure that I didn't have anything cached. If it does cause problems in the production, we can easily revert it. If not, we gain more

[2018-05-04 16:38] anbud commented on #1439
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-04 18:57] #1440 closed

[2018-05-04 19:13] #1439 closed

[2018-05-04 22:11] anbud commented on #1379
@janat08, you'll have to use `browser.execute` to access jQuery methods and globals on the page. Also, you'll have to place all calls that use the `browser` object inside of an `it` block, otherwise it won't work properly.

[2018-05-04 23:09] janat08 commented on #1379
i forgot

[2018-05-06 01:47] #1417 closed

[2018-05-06 01:47] #1442 closed

[2018-05-06 01:47] #1443 closed

[2018-05-06 01:48] #1411 closed

[2018-05-06 01:49] gazhayes commented on #1275
Hey @samuelralak are you still working on this?

[2018-05-06 07:10] samuelralak commented on #1275
Yes I am still working on that one.

On Sun, 6 May 2018 at 04:49, Gareth Hayes <notifications@github.com> wrote:

[2018-05-06 08:41] gdevdeiv commented on #1398
@blockrazorbot claim

[2018-05-06 09:41] gazhayes opened #1461 "Problem: no Blockrazor bootswatch theme"
Problem: we are currently using lux.min.js which is difficult to modify.

Solution: copy the unminified lux bootswatch style to a new blockrazor.bootswach.css file which can be more easily customized.

For future reference, all changes should stick to the existing bootswatch API so that our theme can be shared back to the Bootswatch project as a new theme.

[2018-05-06 09:41] gazhayes commented on #1398
@gdevdeiv you also might want to look at #1461 which is probably related.

[2018-05-06 09:42] AshHimself commented on #1461
I sorta already stated this mate in the ticket I have opened assigned to me
which I need you input on ?

On Sun, 6 May 2018 at 5:41 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-05-06 09:42] geekyd opened #1462 "Problem: Inconsistent design of currency cards on `/` route"
Problem: The design is inconsistent on `/` route for the currency cards.

![b2072dc7-1fe5-4237-ad8e-aeaf75674614 5](https://user-images.githubusercontent.com/12807846/39672000-e010fe72-513f-11e8-9353-df6e89d17965.png)

![b2072dc7-1fe5-4237-ad8e-aeaf75674614 4](https://user-images.githubusercontent.com/12807846/39671985-9770af14-513f-11e8-9f73-ebd97b5cdda9.png)

Solution: Making the design  of card

[2018-05-06 09:43] geekyd commented on #1462
@blockrazorbot claim

[2018-05-06 09:55] geekyd commented on #1462
Done in #1463
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-06 10:44] gazhayes commented on #1461
Oh ok just take this then and send a PR

[2018-05-06 10:45] #1396 closed

[2018-05-06 10:50] AshHimself commented on #1461
@gazhayes

[2018-05-06 10:51] AshHimself commented on #1461
@blockrazorbot claim

[2018-05-06 12:11] janat08 commented on #1392
revert the changes

[2018-05-06 12:52] #1462 closed

[2018-05-06 12:55] geekyd opened #1465 "Problem: Missing client side validation on /signup"
Problem: Missing client side validation on /signup

Solution: Add client side validation for email & password on /signup route

[2018-05-06 12:55] geekyd commented on #1465
@blockrazorbot claim

[2018-05-06 13:13] janat08 commented on #1379
Would you finish it for me? I can't get FRparams to work since we're overwriting those.
[code]
Ill imeplemented the commented out stuff.

[2018-05-06 15:01] #1465 closed

[2018-05-06 15:02] gazhayes commented on #1465
This is not necessary, email signup will almost certainly not be used after launch.

[2018-05-06 15:06] #1313 closed

[2018-05-06 15:07] #1035 closed

[2018-05-06 15:09] gazhayes commented on #1209
I'll close this now, just log discrete issues for any speed and size related problems.

[2018-05-06 15:09] #1209 closed

[2018-05-06 15:10] #613 closed

[2018-05-06 15:10] #681 closed

[2018-05-06 16:29] anbud commented on #1379
Deal, I'll try to fix it today. :)

[2018-05-06 22:12] anbud commented on #1379
@janat08, here's your code with `FRparams` working. The only thing left to make this work is to fix `listChild` method. Currently, it returns `currencyName` (innerHTML) while `FRparams` returns `currencySymbol` that's used in the URL, so tests are failing because these two don't match. I've added some required pauses here and there, and I've added `.value` to `browser.execute` calls. Please note t

[2018-05-07 07:40] geekyd opened #1466 "Problem: overlapping share button with header on /bounties"
Problem: overlapping share button with header on /bounties.

Solution: Decrease some negative top margin for the share button on /bounties.

![screen shot 2018-05-07 at 1 08 30 pm](https://user-images.githubusercontent.com/12807846/39690649-7a381e50-51f8-11e8-9c08-4f039250313d.png)

[2018-05-07 07:40] geekyd commented on #1466
@blockrazorbot claim

[2018-05-07 07:50] geekyd commented on #1466
Done in #1467
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-07 07:50] #1466 closed

[2018-05-07 07:56] AshHimself commented on #1461
Fixed in #1468
@blockrazorbot label 'done'

[2018-05-07 07:56] AshHimself commented on #1461
@blockrazorbot done

[2018-05-07 08:01] AshHimself opened #1469 "problem: main body div is not responsive"
Problem: main body div is not responsive and is causing me to have to scroll right on all pages to see some content. This is providing a horrible UX

http://g.recordit.co/9YqJKuT9Bp.gif

Solution: ensure CSS is responsive

[2018-05-07 09:20] AshHimself opened #1470 "problem: login page has broken icons"
problem: login page has broken icons

Solution: investigate why icons are broken and fix

[2018-05-07 09:33] geekyd opened #1471 "problem: missing NaN checks for values in /compareCurrency"
Problem: missing isNaN checks for values in /compareCurrency which leads to the values getting displayed as NAN on the page.

![screen shot 2018-05-07 at 3 04 00 pm](https://user-images.githubusercontent.com/12807846/39695375-f3bdb082-5207-11e8-8964-826ba8217080.png)

Solution: Add proper checks to the values in /compareCurrency

[2018-05-07 09:34] geekyd commented on #1471
@blockrazorbot claim

[2018-05-07 09:53] geekyd commented on #1471
Done in #1472
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-07 10:01] #1471 closed

[2018-05-07 11:38] gazhayes opened #1473 "Problem: Krazor price is not updated"
Problem: the price of Krazor is not updated.

Solution: update the Krazor price at the end of each auction.

ping @anbud

[2018-05-07 11:56] anbud commented on #1473
@blockrazorbot claim

[2018-05-07 13:09] AshHimself commented on #1470
fixed in #1474
@blockrazorbot label 'done'
@blockrazorbot done

[2018-05-07 13:10] AshHimself commented on #1470
@blockrazorbot done

[2018-05-07 13:42] #1461 closed

[2018-05-07 15:30] geekyd opened #1475 "Problem: header is not aligned properly on all routes"
Problem: header is not aligned properly on all routes

Solution: Change the `left` property of the `pageHeader` class

![b2072dc7-1fe5-4237-ad8e-aeaf75674614 6](https://user-images.githubusercontent.com/12807846/39710149-99d43758-5239-11e8-80d0-56bc1449fee9.png)

[2018-05-07 15:32] geekyd commented on #1475
@blockrazorbot claim.

[2018-05-07 15:38] geekyd commented on #1475
fixed in #1476
@blockrazorbot label 'done'
@blockrazorbot done

[2018-05-07 16:46] #1475 closed

[2018-05-07 20:01] anbud commented on #1473
@gazhayes, I've just tested this on production, and the data is correctly updating after an auction has been finished, but the chart only shows prices in the last 7 days. Currently, every auction that has ended is shown as a point on the graph. If there's no data in the last 7 days should it show something like average prices from previous dates?

Another possible solution for the graph that I had

[2018-05-07 21:25] geekyd opened #1477 "Problem: wallet shows incorrect notification after placing bid from /currencyAuction"
Problem: After placing a bid on a currency from /currecnyAuction, the wallet shows a notification, but on visiting /wallet there is no notification for transactions.

![b2072dc7-1fe5-4237-ad8e-aeaf75674614 7](https://user-images.githubusercontent.com/12807846/39725962-246b451a-526b-11e8-9c17-25346e5108a3.png)

[2018-05-07 21:37] geekyd opened #1478 "Problem: user can submit empty problems from /problems"
Problem: The user can create new problems without inputting data in the form at /problem.

Solution: The user must not be able to create such problems in the system. We must add proper validations to the form at /problems

![screen shot 2018-05-08 at 3 02 53 am](https://user-images.githubusercontent.com/12807846/39726547-04ad59aa-526d-11e8-8886-770420e6bc34.png)

[2018-05-07 21:44] geekyd opened #1479 "Problem: bad design of cards on /problem for mobile screens"
Problem: bad design of cards on /problem for mobile screens. The status of the problem overflows the parent element.

![screen shot 2018-05-08 at 3 14 06 am](https://user-images.githubusercontent.com/12807846/39726795-e9fedcea-526d-11e8-92fb-735dad0e2d7c.png)

Solution: The status of the problem must not overflow the parent. We can change the design to something like this.
![screen shot 2018-05-08

[2018-05-07 22:13] geekyd opened #1480 "Problem: missing icon for bounties in nav bar"
Problem: missing icon for bounties in nav bar.

![screen shot 2018-05-08 at 3 40 47 am](https://user-images.githubusercontent.com/12807846/39727844-fea81bda-5271-11e8-844e-86111356a9be.png)

Solution: Add an icon for the bounties in nav bar.

[2018-05-07 22:14] geekyd commented on #1480
@blockrazorbot claim

[2018-05-07 22:18] geekyd commented on #1480
Done in #1481
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-08 01:00] gazhayes commented on #1473
I mean the Krazor price in the currencies collection

[2018-05-08 01:03] gazhayes commented on #1479
This isn't such a big problem, the only pages that matter for mobile are the home route and compare currencies.

[2018-05-08 01:06] #1470 closed

[2018-05-08 01:32] AshHimself commented on #1426
@blockrazorbot claim

[2018-05-08 01:56] gazhayes commented on #1478
@anbud I just checked and it seems to be happening on production, weird I thought we had validation there.

I guess validated-method and simpl-schema should be used.

[2018-05-08 04:53] gazhayes commented on #1480
FYI @geekyd you can close any issues you create once the fix has been merged and you verify it works on the production server.

[2018-05-08 05:04] #1480 closed

[2018-05-08 07:41] jigartankhupp commented on #1478
@blockrazorbot  claim

[2018-05-08 07:50] jigartankhupp commented on #1478
@blockrazorbot claim

[2018-05-08 07:55] jigartankhupp commented on #1478
@gazhayes  Not able to claim issue.

[2018-05-08 08:06] gazhayes commented on #1478
The dev server VPS where blockrazorbot is down, it happens sometimes.

[2018-05-08 09:00] jigartankhupp commented on #1478
@gazhayes  Live site also not working.

[2018-05-08 12:41] jigartankhupp commented on #1478
@blockrazorbot  label "done"
@blockrazorbot  remove "in progress"

[2018-05-08 12:42] jigartankhupp commented on #1478
@blockrazorbot  #1483  Done

[2018-05-08 12:54] jigartankhupp commented on #1478
@gazhayes  validation already there.
Just need to clean before checking.

[code]

[2018-05-08 16:01] chamidu-supeshala commented on #1469
@blockrazorbot claim

[2018-05-08 21:45] gazhayes commented on #1479
@blockrazorbot label "UI-UX"

[2018-05-08 21:47] anbud commented on #1473
Oh, sorry for the misunderstanding. It'll be done soon. :)

[2018-05-08 21:51] gazhayes commented on #1473
No I just realised I wasn't very clear at all in that problem report.

[2018-05-08 22:03] anbud commented on #1473
Done in #1484.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-08 22:09] anbud commented on #868
@janat08, what's the current status on this one?

[2018-05-08 22:15] anbud commented on #1118
@blockrazorbot claim

[2018-05-09 00:03] anbud commented on #1118
Done in #1485. The old method actually had no validation at all, just some random validation code copied from the old addCoin method which did nothing in this case.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-09 00:07] anbud commented on #1457
@blockrazorbot claim

[2018-05-09 01:25] gazhayes opened #1486 "Problem: bcrypt < v2.0.0 is susceptible to bcrypt wrap-around bug."
Problem: bcrypt@1.0.3: bcrypt < v2.0.0 is susceptible to bcrypt wrap-around bug.

Solution: Upgrade to bcrypt >= v2.0.0 for improved support for newer bcrypt hashes

[2018-05-09 01:45] gazhayes opened #1487 "Problem: not all regular contributors are listed on Github organization"
Problem: not all regular contributors are listed at https://github.com/orgs/Blockrazor/people and this might lead people to think we are not being transparent.

Solution:
Go to https://github.com/orgs/Blockrazor/people

If you see <img width="75" alt="screen shot 2018-05-09 at 9 41 31 am" src="https://user-images.githubusercontent.com/8143945/39791241-33a2aafc-536d-11e8-9a2a-413b03c9a8d6.png"> nex

[2018-05-09 01:58] gazhayes opened #1488 "problem: when adding a new auction error if no reserve"
Problem: when a user adds a new auction there's an error if they don't put anything into the reserve field.
<img width="595" alt="screen shot 2018-05-09 at 9 55 54 am" src="https://user-images.githubusercontent.com/8143945/39791639-5c953234-536f-11e8-984f-689c1227db47.png">

Solution: default this to 0 if field is empty, don't prompt user for a 0.

[2018-05-09 02:01] gazhayes opened #1489 "problem: cannot bid low amount on auction"
Problem: in chrome, I get this error when attempting to bid on an auction.
<img width="905" alt="screen shot 2018-05-09 at 10 00 16 am" src="https://user-images.githubusercontent.com/8143945/39791744-e2845064-536f-11e8-9d69-b3b743691267.png">

[2018-05-09 02:38] gazhayes opened #1490 "problem: ETH balance incorrect"
Problem: ETH balance is not updating correctly.

To test this, try adding ETH to your wallet. You will see no change in your balance and will be unable to use the additional coins in auctions.

[2018-05-09 04:54] AshHimself commented on #1426
Fixed in #1491
@blockrazorbot label "done"

[2018-05-09 04:54] AshHimself commented on #1426
@blockrazorbot done

[2018-05-09 04:55] AshHimself commented on #1487
Done

[2018-05-09 04:57] AshHimself commented on #1489
@blockrazorbot claim

[2018-05-09 05:06] AshHimself commented on #1489
@blockrazorbot label "done"
fixed in #1492

[2018-05-09 05:06] AshHimself commented on #1489
@blockrazorbot done

[2018-05-09 05:07] AshHimself commented on #1489
@gazhayes - this problem looks to be globally throughout the site. Should I do another PR to fix this globally on this ticket?

[2018-05-09 05:28] AshHimself commented on #1488
@blockrazorbot label "done"
fixed in #1494

[2018-05-09 05:28] AshHimself commented on #1488
@blockrazorbot done

[2018-05-09 05:38] gazhayes commented on #1489
@AshHimself

Yeah, if you haven't already

[2018-05-09 05:38] #1489 closed

[2018-05-09 05:38] AshHimself commented on #1486
@blockrazorbot label "done"
fixed in #1495

[2018-05-09 05:39] AshHimself commented on #1486
@blockrazorbot done

[2018-05-09 05:43] AshHimself commented on #1490
@blockrazorbot claim

[2018-05-09 05:54] AshHimself commented on #1490
@gazhayes are you sure? can you test again I can do it no issues.

[2018-05-09 05:57] gazhayes commented on #1490
Weird. Testing again now.

[2018-05-09 06:01] gazhayes commented on #1490
Must have been a weird thing with my local cache or something.

[2018-05-09 06:01] #1490 closed

[2018-05-09 07:27] AshHimself opened #1497 "problem: [wallet] US dollar on wallets can't have an icon as its not a currency"
Problem: [wallet] US dollar on wallets can't have an icon as its not a currency

Solution: Add a fontawesome dollar sign for the US currency.

[2018-05-09 07:33] AshHimself commented on #1497
@blockrazorbot claim

[2018-05-09 07:33] gazhayes commented on #1497
Should probably use font awesome

[2018-05-09 07:33] gazhayes commented on #1497
Actually I noticed that font awesome has monero, bitcoin, and ethereum too. It could make the style nice, I don't know.

[2018-05-09 07:34] AshHimself commented on #1497
ha... beat me to it. have updated my solution.

On Wed, May 9, 2018 at 3:33 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-05-09 07:39] AshHimself commented on #1497
hmmm couldn't see one for monero

[2018-05-09 07:44] AshHimself commented on #1497
@gazhayes
![image](https://user-images.githubusercontent.com/148682/39802133-d6660f4a-539f-11e8-853f-cd6a1a787bef.png)

[2018-05-09 07:48] gazhayes commented on #1497
https://fontawesome.com/icons/monero?style=brands

[2018-05-09 07:48] gazhayes commented on #1497
I should probably make a Krazor logo.

[2018-05-09 07:53] chamidu-supeshala commented on #1469
Fixed in #1498
@blockrazorbot label "done"
@blockrazorbot done

[2018-05-09 07:56] chamidu-supeshala commented on #1487
Done

[2018-05-09 07:57] AshHimself commented on #1497
yay or nay

[2018-05-09 07:58] AshHimself commented on #1497
As for the logo.. you got like 3-5 logos you like and I can probably photoshop one up and start getting one together for launch?

[2018-05-09 08:16] gazhayes commented on #1497
Push! don't ask ;)

[2018-05-09 08:35] AshHimself commented on #1497
@blockrazorbot label "done"
fixed in #1499

[2018-05-09 08:35] AshHimself commented on #1497
@blockrazorbot done

[2018-05-09 08:46] gazhayes opened #1500 "problem: cannot upload new currency logo"
Problem: [/currency/:x] can't upload new logo

<img width="435" alt="screen shot 2018-05-09 at 4 45 31 pm" src="https://user-images.githubusercontent.com/8143945/39805128-8be028f8-53a8-11e8-9f67-1bb39d1643df.png">

[2018-05-09 09:25] #1488 closed

[2018-05-09 09:26] #1486 closed

[2018-05-09 09:26] #1497 closed

[2018-05-09 09:27] gazhayes commented on #1478
@geekyd you can close issues if you added them (after you verify that it's actually solved).

[2018-05-09 10:07] anbud commented on #1500
This one is on me, I thought it was in the schema already.

@blockrazorbot claim

[2018-05-09 11:40] #1487 closed

[2018-05-09 13:50] #1426 closed

[2018-05-09 13:50] anbud commented on #1500
Done in #1501.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-09 13:55] #1478 closed

[2018-05-09 13:59] anbud commented on #1457
@janayt08, what's the exact problem here? :) I can't seem to find what actually needs fixing here.

[2018-05-09 14:31] anbud commented on #1431
I'll convert it to validated-method.

@blockrazorbot claim

[2018-05-09 15:09] anbud commented on #1431
Done in #1502.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-09 15:11] #1500 closed

[2018-05-10 03:12] #1118 closed

[2018-05-10 03:13] #1431 closed

[2018-05-10 03:13] #1469 closed

[2018-05-10 03:14] gazhayes commented on #1398
@gdevdeiv are you still working on this?

[2018-05-10 08:04] chamidu-supeshala commented on #1477
@blockrazorbot claim

[2018-05-10 08:25] chamidu-supeshala commented on #1477
fixed in #1503
@blockrazorbot label "done"
@blockrazorbot done

[2018-05-10 08:39] chamidu-supeshala commented on #1477
fixed in #1504

[2018-05-10 08:40] geekyd opened #1505 "Problem: user able to add NaN to wallet on /wallet"
Problem: user able to add NaN to wallet on /wallet which leads a situation where the account balance  becomes 0.

![screen shot 2018-05-10 at 2 07 02 pm](https://user-images.githubusercontent.com/12807846/39860682-cd81ae9a-545b-11e8-8790-79c8976e1e5f.png)
![screen shot 2018-05-10 at 2 07 12 pm](https://user-images.githubusercontent.com/12807846/39860683-cdae0e0e-545b-11e8-81d2-fdf3b7cb379d.png)

S

[2018-05-10 08:41] geekyd commented on #1505
@blockrazorbot claim

[2018-05-10 08:52] geekyd commented on #1479
@blockrazorbot claim

[2018-05-10 08:55] geekyd commented on #1505
Done in #1506

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-10 09:11] #1505 closed

[2018-05-10 10:52] #1457 closed

[2018-05-10 10:53] janat08 commented on #1457
can't reproduce

[2018-05-10 10:54] janat08 commented on #1445
@blockrazorbot label "unmet dependency". unclaim

[2018-05-10 10:54] janat08 commented on #1445
@blockrazorbot unclaim

[2018-05-10 11:12] gazhayes commented on #1445
What's the dependency?

[2018-05-10 11:37] anbud commented on #1454
Since #1457 is closed, I'll take a look at this. :)

@blockrazorbot claim

[2018-05-10 12:36] janat08 commented on #1379
how do you import collection

[2018-05-10 12:37] janat08 commented on #1379
or I suppose the solution to this is to make collections global in testing?

[2018-05-10 12:47] anbud commented on #1454
The issue is fixed in #1507.
@janat08, please review it to check if I unintentionally broke something else, or if it's the best solution here. We have to use a callback (or a promise) for data creation as the data is created asynchronously.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-10 19:47] #1479 closed

[2018-05-11 05:39] MadanBhandari commented on #1244
Anyone working on this ? I would like to start from this.

[2018-05-11 05:41] samuelralak commented on #1244
@MadanBhandari nop. you can go ahead and claim it

[2018-05-11 05:43] MadanBhandari commented on #1244
@blockrazorbot claim
@gazhayes It's great to be back :) I love working with you guys.

Nice UI job so far :D

[2018-05-11 05:44] #1477 closed

[2018-05-11 07:38] geekyd opened #1509 "Problem: missing proper messages for form at /new-problem"
Problem: missing proper messages for form at /new-problem due to which it is very difficult for the user to understand what is missing in the form.

Solution: Add proper alerts for missing fields in the form at /new-problem

[2018-05-11 07:38] geekyd commented on #1509
@blockrazorbot claim

[2018-05-11 08:19] chamidu-supeshala opened #1511 "Problem: [/currency/x] summary, redflag and feature posted time broken"
Problem: created/posted time for summary/redflag/feature not displaying in [/currency/x]

Solution: find where it broken and fix it

[2018-05-11 08:19] chamidu-supeshala commented on #1511
@blockrazorbot claim

[2018-05-11 08:42] geekyd opened #1512 "Problem: table at /wallet/:x overflows viewport in mobile screen"
Problem: table at /wallet/:x overflows viewport in mobile screen.

Solution: Add overflow scroll to the table wrapper to provide a better user experience.

[2018-05-11 08:42] geekyd commented on #1512
@blockrazorbot claim

[2018-05-11 08:46] #1509 closed

[2018-05-11 08:47] geekyd commented on #1512
Done in #1513

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-11 10:53] #1512 closed

[2018-05-11 11:14] janat08 commented on #1445
nx-js/framework#25

[2018-05-11 11:28] janat08 opened #1514 "Problem: meteor packages in test environment"
Problem: Since meteor packages are not recognized by npm, they can't be used in testing solutions outside webdriver which makes them bad tests since they'll be implementation dependent. I think that both typeahead and localizable collection tests would be better served by being independent of their implementations.

Solution: There's https://github.com/TheBrainFamily/testable-meteor, which I tried

[2018-05-11 11:30] janat08 opened #1515 "Problem: localizable collection untested"
Problem: Localizable collection is untested, that's located in api/utilities.js.

Solution: Hopefully I won't run into trouble testing server related stuff on client side, but until then: @blockrazorbot label "unmet dependency" #1514

[2018-05-11 11:32] gazhayes commented on #1514
Waiting is probably the simplest solution here. And also removing any meteor packages if npm packages can be used instead.

[2018-05-11 11:34] janat08 commented on #1514
So closing and writing tests in webdriver

[2018-05-11 11:34] #1514 closed

[2018-05-11 12:04] chamidu-supeshala commented on #1511
fixed in #1516.
@blockrazorbot label "done"
@blockrazorbot done

[2018-05-11 12:05] janat08 commented on #1392
@geekyd  would you finally revert your changes: #1507

[2018-05-11 12:12] geekyd commented on #1392
@janat08 Thanks for the detailed description. I'm sending a PR for reverting the changes.

[2018-05-11 12:37] janat08 commented on #1515
@blockrazorbot unlabel "unment dependency"

[2018-05-11 12:37] janat08 commented on #1515
@blockrazorbot unlabel "unmet dependency"

[2018-05-11 12:46] janat08 opened #1518 "Problem: make collections global in tests in webdriver"
Problem: you have to run queries in webdriver and the collections are out of scope nor can they be imported/required.

Solution: import things from indexDB.js as * as ``objectContainingAllImports`` to introduce as globals for development environment in startup/client folder which hopefully is what web driver is run in. @blockrazorbot claim

[2018-05-11 13:11] chamidu-supeshala opened #1519 "Problem: [/currency/x] Add new contributions to blockchain not implemented"
Problem: In some currencies (ex: Cloakcoin) , some of the block chain details not yet added. When going to [/currency/x], we can see the `+contribute` button. However clicking it goes to a [/currencyEdit/x] route which is not defined.

To reproduce the issue go to [/currency/cloakcoin] route and click contribute button for one of the blockchain details.

![screenshot from 2018-05-11 18-31-20](http

[2018-05-11 13:12] chamidu-supeshala commented on #1519
ping @anbud

[2018-05-11 13:26] anbud commented on #1519
You're right, it's interesting, I'll see what's the best possible approach.

@blockrazorbot claim

[2018-05-11 15:11] anbud commented on #1519
The basic solution is in #1520, which fixes the issue.

@gazhayes, contributions for data fetched from various APIs (`maxCoins`, `cpc`, `cpt`, `price`, `marketCap`, `circulating`) are disabled (as they were before).
Should we allow users to contribute these things as well, if, for example, the API is not available or something? We could possibly let them contribute `maxCoins`, `circulating` and `p

[2018-05-11 15:38] anbud commented on #1515
@janat08, if there's something you want to test on the server only, you can also use Mocha unit tests. The syntax is almost the same as in WDIO client tests and they're checked in the CI.

[2018-05-11 15:52] janat08 commented on #1515
oooo, what's the api for server side?

[2018-05-11 19:16] janat08 opened #1521 "Problem: localized collections used inefficient callback option by default in observer tap"
Problem: The localized collection will tap observers (queries run in autorun) and use observedChanges option for that which supports inefficient beforeAdded option that's required if limits and skips are used.

Solution: Try using added, and if the query uses limit or skip it should throw an error somewhere (there's a github issue describing why an error is thrown) at which point beforeAdded could

[2018-05-11 19:16] janat08 commented on #1454
#1521

[2018-05-11 19:17] janat08 commented on #1454
would you like other issues addressed in issue tracking?

[2018-05-11 21:28] geekyd opened #1522 "Problem: console error in /addcoin for smartContractURL"
Problem: console error in /addcoin for smartContractURL. The smartContractURL only exists if the `Is this a smart contract?` option is checked. It should be ignored if the option is not checked.

![screen shot 2018-05-12 at 2 53 38 am](https://user-images.githubusercontent.com/12807846/39947799-dc117f72-5590-11e8-8fe0-a8090a93bbcd.png)

Solution:  Add a condition for the case where the option for

[2018-05-11 21:28] geekyd commented on #1522
@blockrazorbot claim

[2018-05-11 21:35] geekyd commented on #1522
Done in #1523

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-11 22:08] #1522 closed

[2018-05-12 01:12] gazhayes commented on #1519
No in that case we should just ask for an API instead because it's such a moving target.

The one thing that we can ask for though is maxcoins, since sometimes that's not in an API.

[2018-05-12 05:57] janat08 opened #1524 "Problem: no audit with lighthouse 3.0's new tests"
Problem: Lighthouse 3 comes out this week as chrome extension with new tests, etc, and so our previous audits are less valuable.

Solution: run audit once it's out.

[2018-05-12 09:03] #1511 closed

[2018-05-12 09:03] #1519 closed

[2018-05-12 09:07] geekyd opened #1525 "Problem: missing validations on steps of form in /addCoin"
Problem: missing validations on each step of form in/addCoin, which lets user jump to the finish without completing the form. Currently if the user completes a form & misses a field he/she will have to manually move to the step to complete the missing detail.

Solution: Add validations on each step of the form. This will help user to fill the form & provide a better user experience than the curren

[2018-05-12 10:47] janat08 opened #1526 "Problem: testing docs aren't on exhibit from #1035"
Problem: #1035 holds documentation for testing, and that issue was closed, and so unlikely to be discovered and difficult to be found.

[2018-05-12 11:17] gazhayes commented on #1526
These should be added to the docs folder

[2018-05-12 13:07] janat08 opened #1527 "Problem: collections in global scope may be used successfully in development environment"
Problem: collections were introduced into global scope for development environment since testing one doesn't exist and access is to them is desired, for testing typeahead.js. It would be a good idea to test against them being used, as that will break in production.

Solution: You could set up proxy against collections exposed into global that would throw an error or something, and have tests look

[2018-05-12 13:39] janat08 commented on #1379
whats our policy on committing broken tests?

[2018-05-12 13:40] janat08 commented on #1379
That is neither the code nor tests are really broken, and yet it fails.

[2018-05-12 15:25] janat08 commented on #1379
note to self that I forgot to migrate test config to new branch.

[2018-05-12 18:14] anbud commented on #1454
As far as I can tell, the core issue here has been fixed, you should open other issues for possible problems, but I believe this one can be closed. :)

[2018-05-12 18:15] anbud commented on #1515
Here it is: https://guide.meteor.com/testing.html#mocha, the syntax is almost the same.

[2018-05-12 18:16] anbud commented on #1526
I'll add them to the docs folder.

@blockrazorbot claim

[2018-05-12 18:56] anbud commented on #1526
Done in #1528.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-12 19:03] anbud commented on #1521
As far as I can tell, it's currently using `added` by default, and it's only switching to `addedBefore` in case there's a limit or a sort field in the projection. Isn't that what's the solution you've proposed describing?

[2018-05-12 19:14] janat08 commented on #1515
Do I have to mock things though, I remember having to fix tests for changing ``find`` to ``findOne`` that returned nothing.

[2018-05-12 19:14] #1526 closed

[2018-05-12 19:15] anbud commented on #1515
Yap, you do have to mock/stub things that are not important to the thing you're testing.

[2018-05-12 19:16] janat08 commented on #1521
Yes. Yet it warns against including the option in callbacks in meteor api: https://docs.meteor.com/api/collections.html#Mongo-Cursor-observeChanges.

[2018-05-12 19:17] janat08 commented on #1515
Oh right.

[2018-05-13 09:52] janat08 commented on #1379
@gazhayes do I send the tests that fails twice but appear to have no bugs.

[2018-05-13 09:56] gazhayes commented on #1379
If the test is going to fail every time someone runs it there's no point in having the test.

What you can do though if you are stuck is is send a pull request with the best you've got, I'll merge it anyway. It will fail, but maybe @anbud can fix it (it's easier to deal with once it's merged than trying to pull your fork etc etc). If he can't fix we can just reverted anyway.

[2018-05-13 10:44] janat08 commented on #1379
create logic, button/inline button dynamics, custom empty message, limit, transcient not tested.

[2018-05-13 11:20] janat08 opened #1530 "Problem: addCoin doesn't use localizableCollection"
Problem: #1507 removed initialization of transcient option, and disabled the option for addCoin whereas it should remain on.

Solution: uncomment transcient code, enable transcient prop for addcoin.js

[2018-05-13 11:28] janat08 opened #1531 "Problem: typeahead's non-inline add button event unencapsulated with new param"
Problem: #1507 changed api for click of non inline button to add item. It now expects parent template to make a mandatory function call, that additionaly requires that params be passed in one of which is only within scope of typeahead.js (compare against other method calls within events). Ther reason given for change was that it doesn't refresh typeahead on call and on change of cursor, which reve

[2018-05-13 11:29] #1454 closed

[2018-05-13 13:26] janat08 commented on #1399
Blaze.toHTML(Template.mainLayout). Basically gives me what I want.

[2018-05-13 13:32] janat08 commented on #1399
Blaze has special template for body, which would be the root.

[2018-05-13 15:10] anbud commented on #1530
The commented code wasn't there before, that was just me testing something out. I'm not sure it should be there.

[2018-05-13 15:15] anbud commented on #1530
Also, I couldn't get data to update with transcient option on, it just used old cache.

[2018-05-13 18:27] janat08 commented on #1530
Lol I didn't really recognize that comment. The way transcient option worked (if it ever did) was that an observer would be set up outside the typeahead, and the cache would wiretap the observer to update itself. I'm unsure that creating added observer would be worthwhile.

[2018-05-13 19:11] anbud commented on #1518
@janat08, if I'm correct, this has been done in #1529, right?

[2018-05-13 19:11] #1518 closed

[2018-05-13 19:55] anbud commented on #1527
@blockrazorbot claim

[2018-05-13 20:03] anbud commented on #1525
I honestly thought this was already in place. I think it would be a good idea to check each step, as it is kinda frustrating if you have to go back a few steps just to fix a certain field.

@gazhayes will have to confirm this, but I believe that required fields are the ones you can see in `Currencies.schema`. Issues #868 and #617 probably have meaningful information about this as well.

[2018-05-13 21:07] gdevdeiv commented on #1398
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-13 22:25] anbud commented on #1527
The basic functionality is done in #1534, if someone tries to use a global collection in production, it'll throw an error.

Now, I'm not sure about what's the best approach to testing this. When we run WDIO tests in CI, they're being run on a server instance that has `isDevelopment` flag set to true, and hence, this behavior can't be tested there.

There are two possible solutions that I can think

[2018-05-14 02:17] gazhayes commented on #1525
I also thought this was done.

If you go back in history to the old addcoin form that's probably the best way to see what is and isn't required as it changes based on what boxes are selected on the first screen.

The only addition to this is the smart contract thing.

[2018-05-14 03:31] gazhayes commented on #1398
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-14 03:31] gazhayes commented on #1398
@blockrazorbot done

[2018-05-14 05:51] geekyd commented on #1525
@gazhayes @anbud Thanks for the response. I will go ahead with this and add proper validations on each step.

[2018-05-14 05:51] geekyd commented on #1525
@blockrazorbot claim

[2018-05-14 05:58] gazhayes commented on #1525
If you have specific questions about anything just ask and I'll probably reply almost immediately :)

[2018-05-14 09:38] #1398 closed

[2018-05-14 09:39] janat08 commented on #1399
@blockrazorbot remove "unmet dependency"

[2018-05-14 10:58] janat08 commented on #1399
templatetag.js and codegen contain parsers in spacebars-compiler.
templating-tools produces render function
and templating-runtime consumes it producing code for client

[2018-05-14 17:00] janat08 commented on #1399
This will take more like over 20 hours. I spend 8 hours on this, and you could fairly say that I got nowhere with 100 lines of empty code written (doesn't work, isn't very meaningful), and no way to get spacebars format that I want (in form of SpacebarsCompiler.parse(html string) at least on client, forget having it built by meteor.

[2018-05-14 17:13] janat08 commented on #1399
NX-framework doesn't have SSR, and I believe meteor's server-render definitely expects static-html for it's compiler instead of blaze compiler.

[2018-05-14 21:55] gdevdeiv opened #1535 "Problem: we are still using lux.min.css"
Solution: replace it with our custom stylesheets, we have already started to do so, but isn't complete.

[2018-05-14 21:55] gdevdeiv commented on #1535
@blockrazorbot claim

[2018-05-15 01:14] gazhayes commented on #1535
You can just copy/paste these:

https://bootswatch.com/4/lux/_variables.scss
https://bootswatch.com/4/lux/_bootswatch.scss

[2018-05-15 08:57] janat08 commented on #1521
@blockrazorbot claim

[2018-05-15 09:04] janat08 commented on #1521
Right, andbud made it with the solution.

[2018-05-15 09:04] #1521 closed

[2018-05-15 09:07] janat08 commented on #1530
closing in favour of #1531.

[2018-05-15 09:07] #1530 closed

[2018-05-15 09:11] janat08 commented on #1531
What the issue is about solves for transcient option being turned on and create method being used in which case if there's no life query outside typeahead that tries fetching created document, local collection won't update and if the document is then removed from selection it won't reappear in typeahead.

[2018-05-15 09:16] janat08 commented on #1525
issue #868 is meant to bring simpleSchema to client side to govern what steps should be shown, and by loose extension if they can be used with previous ones being valid.

[2018-05-15 09:32] janat08 commented on #1527
We could just expose the globals under a different name, testingOnlyCurrencies.

[2018-05-15 10:58] janat08 commented on #1515
- [ ] test that localizableCollection always calls super on the server.

- [ ] populateLocal only calls method once.

- [ ] that Local queries are updated with live queries

[2018-05-15 11:27] AshHimself opened #1536 "problem: loading indicator has ugly UX"
Problem: the numerous 'LOADING' indictors across the screen offers a bad UX and a single page loading screen offers a better UX.

Solution: single loading indicator until the page is loaded

[2018-05-15 11:27] AshHimself commented on #1536
@blockrazorbot claim

[2018-05-15 11:30] AshHimself commented on #1536
Fixed in #1537

[2018-05-15 11:30] AshHimself commented on #1536
@blockrazorbot label "done"

[2018-05-15 11:31] AshHimself commented on #1536
@blockrazorbot done

[2018-05-15 11:42] janat08 commented on #1531
Also, I forgot bad localizableCollection had insert/update methods that will update the local collection as it does with minimongo. Ideally a solution to this would be to try and deffer method calls that depend on affected document until method that affected them has run it's course and would like to update ID of document with server's one, or at least just create live query for id field on insert

[2018-05-15 12:12] #1536 closed

[2018-05-15 12:16] AshHimself opened #1538 "problem: transactions page not styled"
Problem: transactions page not styled

Solution: apply bootwatch lux theme and fix fontawesome icons

[2018-05-15 12:16] AshHimself commented on #1538
@blockrazorbot claim

[2018-05-15 12:32] AshHimself opened #1540 "problem: compare currencies page UX is ugly"
Problem: The bottom headers of the compare currencies page are all white and its not obvious where new data sets begin and end.

Solution: Add clear indication where datasets begin and end by making headers bolder or possibly seperate cards.

[2018-05-15 12:32] AshHimself commented on #1540
@blockrazorbot claim

[2018-05-15 14:29] gsovereignty opened #1541 "Problem: trading auctions immediately jump to the highest bid"
Problem: when users bid on an auction at /auctions the way the auction works is the user must bid their maximum nominal amount and the auction then increases to that price. Users cannot set a maximum bid price and then let the system automatically increase their bid depending on the other bids (in a similar way to eBay).

ping @anbud I haven't looked at the auction code, how hard is it to implemen

[2018-05-15 17:17] anbud commented on #1541
Not that hard, I have an idea on how to implement it, it doesn't require big changes.

@blockrazorbot claim

[2018-05-15 20:59] geekyd opened #1543 "Problem: unequal size of icons in navbar"
Problem: unequal size of icons in navbar

Solution: Make the size of all icons equal in the navbar

[2018-05-15 21:00] geekyd commented on #1543
@blockrazorbot claim

[2018-05-15 21:09] geekyd commented on #1543
Done in #1544

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-16 00:49] gazhayes opened #1545 "problem: [/addcoin] TypeError: d.BTCFork is undefined"
Problem: when creating a new currency that is not a bitcoin fork this error appears in the console and the form can't be submitted.

[2018-05-16 02:59] chamidu-supeshala commented on #1545
@blockrazorbot claim

[2018-05-16 03:33] chamidu-supeshala opened #1546 "problem: [/addCoin] when BTCfork checked genesis date input not visible"
Problem: if user checked BTCfork checkbox in the STEP1, the genesis timestamp input box not visible in STEP3, and cannot proceed to next step

[2018-05-16 03:35] chamidu-supeshala commented on #1545
fixed #1547
@blockrazorbot label "done"
@blockrazorbot done

[2018-05-16 03:35] chamidu-supeshala commented on #1545
@blockrazorbot remove "in progress"

[2018-05-16 03:36] chamidu-supeshala commented on #1546
@blockrazorbot claim

[2018-05-16 03:37] gazhayes commented on #1546
We should be asking for a fork date instead of a genesis date when it's a BTC fork. The genesis block of a BTC fork is simply the Bitcoin genesis block (so it has the same timestamp and we can just pull that from the Bitcoin object in the currencies collection without asking the user). But we still need to know the fork date. It might be better to use a fork block height instead of a fork date act

[2018-05-16 03:46] chamidu-supeshala commented on #1546
Now i understood the actual problem, its just an unnecessary step validation. because when BTCfork checked, there is fork height (and no any date input). but when proceeding to next step it asked "please input proper date" while there is no date input visible. So the solution will be remove that unnecessary date validation, if BTCfork checked

[2018-05-16 04:09] chamidu-supeshala commented on #1546
fixed #1548
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-16 05:27] chamidu-supeshala opened #1549 "problem: [/addcoin] user not conveniently informed of errors"
Problem: for add coin wizard, the more of validations happens on the server side, only after completely submitting the form.
So when there is validation issue in an intermediary step, it wont focused, user has to go back step by step searching where's the issue

Solution:
1. introduce step by step validations with server.
(currently there are only client side step validations, which only checks wh

[2018-05-16 05:31] chamidu-supeshala opened #1550 "Problem: [/] Type Error while scrolling down in home: Cannot read property 'hasAttribute' of null"
Problem: when scrolling further down in the home route, following console error showing

![screenshot from 2018-05-16 10-34-59](https://user-images.githubusercontent.com/27463355/40098292-665de462-58f8-11e8-8fb7-cde87152e9fe.png)

Solution: check what causes it and fix

[2018-05-16 05:46] chamidu-supeshala opened #1551 "problem: [/currencies/x] the icon of cancel button of blockchain info edit broken"
Problem: problem: [/currencies/x] the icon of cancel button of blockchain info edit broken.

![screenshot from 2018-05-16 11-10-35](https://user-images.githubusercontent.com/27463355/40098668-528b20ba-58fa-11e8-93c9-10cdfa2e7723.png)

Solution: probably after the font awesome version changed. as some icon names are different than old version. fix the icon name

[2018-05-16 05:53] chamidu-supeshala opened #1552 "Problem: [/addcoin] cannot proceed with a new security algorithm"
Problem: if security algorithm for new coin not available, there is option saying "Your algorithm is not here? Add it.". when click on it, the algorithm select element disappear and input element appears, where we can type new algorithm name. but when clicking next, error showing, asking to select an algorithm

Solution: probably this is due to incorrect client side validations. it should not ask

[2018-05-16 06:08] chamidu-supeshala opened #1553 "Problem: [/problems] problems can submitted without description"
Problem: anyone can just add new problem without even any description. (currently only requires problem summary, to submit a new problem)

those loosly submitted problems appear in the problem page as follows, without any description:

![screenshot from 2018-05-16 11-33-26](https://user-images.githubusercontent.com/27463355/40099442-a5a4008e-58fd-11e8-8f7a-e7e9831e78d2.png)

Solution:  make proble

[2018-05-16 06:10] chamidu-supeshala commented on #1551
@blockrazorbot label "UI-UX"

[2018-05-16 06:16] chamidu-supeshala opened #1554 "Problem: [/problems] no consistency in app for selections"
Problem: in the other pages, we replaced top most select boxes with check boxes.
Dunno why the select element with ALL, OPEN, INPROGRESS, SOLVED, CLOSED still not replaced with check boxes to make the UI of app consistent across pages.

Solution: if there is no any reason to keep the select element, we can replace it with check boxes.
(if check boxes is not the ideal solution for this particular u

[2018-05-16 06:22] chamidu-supeshala opened #1555 "Problem: page not found bad UI UX"
Problem: to make the website more professional, it is better to consider page not found page also. currently it looks as below

![screenshot from 2018-05-16 11-51-19](https://user-images.githubusercontent.com/27463355/40099886-89ad31c8-58ff-11e8-8a96-88c4c62c4b1a.png)

Solution: make it use same theme of the app or any other good solution

[2018-05-16 06:33] gazhayes opened #1556 "Problem: poor form validation used throughout Blockrazor"
Problem: There's a mish-mash of validation techniques being used. Sometimes stuff is sent to the server only after local validation, other times it's always sent, other times there are multiple conflicting validation rules on client and server. In terms of UI, it's also a mish mash. In many cases, sAlert is being used for form errors which is pretty annoying for users, especially when there are mu

[2018-05-16 06:34] chamidu-supeshala opened #1557 "Problem: [/problems] the searching of existing problems happened for problem description and not for the problem summary"
Problem: the searching of existing problems happened for problem description and not for the problem summary

Solution: change search to look for keyword in problem summary, rather than problem description

[2018-05-16 06:38] chamidu-supeshala commented on #1553
i have edited this issue and logged new one for searching issue

[2018-05-16 06:43] gazhayes commented on #1554
Yeah the select box is annoying, it should be check boxes instead. The default state should be whatever makes the most sense as a user, so I guess "open" only, and everything else unchecked.

[2018-05-16 06:44] gazhayes commented on #1557
It should really search description *and* summary.

[2018-05-16 07:06] chamidu-supeshala opened #1558 "Probelm: [/problems] just after submitting an issue, immediately open it causes series of console exceptions and problem wont properly displayed"
Problem: if we open a submitted problem immediately after submitting it, causes following console exceptions:

`Exception in template helper: TypeError: Cannot read property 'type' of undefined`

`Exception in template helper: TypeError: Cannot read property 'cancelled' of undefined`

`Exception in template helper: TypeError: Cannot read property 'taken' of undefined`

`Exception in template helpe

[2018-05-16 07:07] gazhayes commented on #1558
Ping @janat08

[2018-05-16 07:17] chamidu-supeshala opened #1559 "Problem: [/profile/x] Cannot Read Property 'toFixed' of undefined, when kzr balance is zero"
Problem: when new user open an account, his kzr balance will be zero. if he navigate to [/profile/x] page and click the `0 KZR` button appearing below profile picture, the following console exception occurs

`Exception in template helper: TypeError: Cannot read property 'toFixed' of undefined
    at Object.fixed (/imports/ui/pages/userProfile/userProfile.js:157:14)`

Solution: check whether balanc

[2018-05-16 07:18] chamidu-supeshala commented on #1559
@blockrazorbot "low priority"

[2018-05-16 07:21] chamidu-supeshala opened #1560 "problem: [/profile] No proper page not found redirection after logged out"
Problem: when use not logged in, the [/profile] route should not be accessible. but when goes to [/profile], the following console error shown, and not redirected to page not found page.

![screenshot from 2018-05-16 10-26-49](https://user-images.githubusercontent.com/27463355/40102335-d4c71856-5907-11e8-9793-a0d7a99f7414.png)

Solution:
1. restrict access to [/profile] url when not logged in
or
2

[2018-05-16 07:37] chamidu-supeshala opened #1561 "Probelm: [/mypending] Bad UI/UX and not consistent with other pages"
Problem:  the UI looks not good at [/mypending] and specially it is not consistent with other pages.

![screenshot from 2018-05-16 13-03-29](https://user-images.githubusercontent.com/27463355/40103001-aa5b143a-5909-11e8-8bb3-b793bdb2a575.png)

Solution: the following adjustments can be made:

1. add the heading and header outer just like other pages
2. bootswatchify elements and use grey theme rat

[2018-05-16 07:37] chamidu-supeshala commented on #1561
@blockrazorbot label "UI-UX"

[2018-05-16 07:38] #1546 closed

[2018-05-16 07:46] #1543 closed

[2018-05-16 07:46] #1525 closed

[2018-05-16 07:56] geekyd commented on #1552
@blockrazorbot claim

[2018-05-16 08:05] jigartankhupp commented on #1555
@blockrazorbot  claim

[2018-05-16 08:35] geekyd commented on #1554
@blockrazorbot claim

[2018-05-16 09:47] jigartankhupp commented on #1555
@blockrazorbot  Done #1563
@blockrazorbot remove "in progress"
@blockrazorbot  label "done"

[2018-05-16 10:45] janat08 commented on #1558
Why adding add observer works since I think the problem was that minimongo runs method on client creating wrong ID, and then passes wrong ID into problemView that starts non-local find method and can't find any records from server that created it's own ID.

[2018-05-16 10:47] janat08 commented on #1558
I'll move this to new issue for optimizing added document detection strategy.

[2018-05-16 10:53] janat08 opened #1565 "Problem: Localizable Collection's _ids go out of sync on local creation optimization"
Problem: Currently this is solved for by #1564 by just adding an added observer which I don't know why it works. It might be the case that it just overwrites everything even if I'm running observeChanges, at which point method calls should be removed, if we decide to keep the observer running since that observer is easily batched for it's simplicity.

Possible Solution: run query observer after in

[2018-05-16 10:54] janat08 commented on #1558
@blockrazorbot label "done"

[2018-05-16 10:58] janat08 commented on #1531
fixed in #1564, reverting.

[2018-05-16 11:07] janat08 commented on #1525
I think what happened here is that he was testing validation on dev with devValidationEnabledFalse.

[2018-05-16 11:11] janat08 opened #1566 "Problem: add problem/coin require validation on dev"
Problem: adding things when you run meteor without any flags for the environment shouldn't run validations complicating testing using devValidationEnabledFalse variable exported from /imports/api/indexDB that turns to true in production environment.

Solution: revert changes from #1525 in case that that issue is erroneous, since validation is done entirely is poor form with usage of notifications

[2018-05-16 11:15] janat08 commented on #1566
Perhaps this should be labeled as noteworthy.

[2018-05-16 11:33] janat08 opened #1567 "Problem: typeahead doesn't add created items to selection in [/addCoin]"
Problem: sAlerts on success imply and that exchanges are created and automatically added while they're not.

Solution: Run add method on results of create methods.

[2018-05-16 12:11] janat08 commented on #1399
@gazhayes I offered special terms for this which went along the lines of I can be paid up to 8 hours, and if I can't deliver I don't get paid, do I close this?

[2018-05-16 12:12] gazhayes commented on #1399
What do you feel like doing?

[2018-05-16 12:35] janat08 commented on #1399
Im totally interested but would like to make money.

[2018-05-16 12:35] #1531 closed

[2018-05-16 12:43] AshHimself commented on #1540
Fixed in #1568
@blockrazorbot label "done"

[2018-05-16 12:43] AshHimself commented on #1540
@blockrazorbot done

[2018-05-16 12:44] AshHimself commented on #1561
@blockrazorbot claim

[2018-05-16 14:02] geekyd commented on #1552
fixed #1569
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-16 14:24] dilpreetsio opened #1570 "Problem: missing validation on /addCoin"
Problem: missing validation on /addCoin

Solution: Add required validation for algorithm in /addCoin

[2018-05-16 14:26] geekyd commented on #1570
fixed #1571
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-16 14:47] janat08 commented on #1566
yes, these validations shouldn't run when you launch with "meteor", and previous validations wouldn't have run either if there were some.

[2018-05-16 14:52] #1570 closed, assigned to nobody

[2018-05-16 15:09] gazhayes commented on #1399
Ok close it off. We can open this again later if it becomes 'interesting'.

[2018-05-16 15:47] janat08 commented on #1399
but it is.

[2018-05-16 16:01] gazhayes commented on #1399
I'll implement Kadira to get some more data first.

[2018-05-16 18:12] geekyd commented on #1557
@blockrazorbot claim

[2018-05-16 18:37] geekyd commented on #1557
fixed #1572
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-16 18:45] geekyd opened #1573 "Problem:/currency/:x currency name not visible in small screens"
Problem: /currency/:x name of currency not visible for small screens
![screen shot 2018-05-17 at 12 13 02 am](https://user-images.githubusercontent.com/12807846/40137185-611436ae-5967-11e8-9e3e-12e253ec086d.png)

Solution: Set the name of the currency visible for mobile screens

[2018-05-16 18:45] geekyd commented on #1573
@blockrazorbot claim

[2018-05-16 18:47] anbud commented on #1565
I like the current solution, it kinda seems simpler.

[2018-05-16 18:55] geekyd commented on #1573
fixed #1574
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-16 19:10] geekyd opened #1575 "Problem: inconsistent size of cards on /wallet"
Problem: inconsistent design of cards on /wallet
![b2072dc7-1fe5-4237-ad8e-aeaf75674614](https://user-images.githubusercontent.com/12807846/40138609-d0fd9368-596a-11e8-82de-7fe2b636f8f3.png)

Solution: Make the size of all the cards equal.

[2018-05-16 19:12] janat08 commented on #1565
We should check how it actually works, to see if method call is to be removed. I belief reason why it didn't work previously is that method call on client created it's on ID which then isn't synced with server, why adding add observer that should add duplicate with different id helps I don't know.

[2018-05-16 19:17] geekyd opened #1576 "Problem: icon not rendered properly in /wallet/:x"
Problem: icon not rendered properly in /wallet/:x for reset button
![b2072dc7-1fe5-4237-ad8e-aeaf75674614 1](https://user-images.githubusercontent.com/12807846/40138899-bf5e26ee-596b-11e8-9296-4038b8bad6f8.png)

Solution: Make sure that the icon is rendered properly. Use `fa-times` instead of `fa-close`

[2018-05-16 20:36] janat08 commented on #1399
I belief kadira is for server.

[2018-05-16 21:00] anbud commented on #1541
Done in #1577. I've set the increment to 0.0001, we can change it whenever we want.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-16 21:02] anbud commented on #1567
@blockrazorbot claim

[2018-05-16 21:17] anbud commented on #1567
Done in #1578.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-16 21:42] anbud commented on #1553
Fixed in #1579.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-17 03:20] gazhayes opened #1580 "problem: full bid amount is not reserved from wallet"
Problem: [/auctions] when bidding on an auction only the current bid amount is reserved from a user's wallet, the full bid amount is not reserved. This means that they could accidentally spend more than is currently in their wallet on other auctions, or other parts of the site.

ping @anbud

[2018-05-17 03:23] #1541 closed, assigned to nobody

[2018-05-17 03:25] gazhayes opened #1581 "problem: excess amounts removed from wallet upon auto bidding"
Problem: with each auto-bid, the new bid amount is withdrawn from the users account instead of the difference between the previous bid and the current bid.

For example, I bid $10 on an auction, however almost $20 was withdrawn because the total 'winning' amount is withdrawn each time someone else bids.

<img width="694" alt="screen shot 2018-05-17 at 11 23 23 am" src="https://user-images.githubus

[2018-05-17 03:32] #1558 closed

[2018-05-17 03:35] #1555 closed

[2018-05-17 03:35] #1553 closed

[2018-05-17 03:36] #1552 closed

[2018-05-17 03:37] #1557 closed

[2018-05-17 03:57] #1545 closed

[2018-05-17 07:00] #1573 closed

[2018-05-17 09:48] #1567 closed

[2018-05-17 12:01] janat08 commented on #1399
I'll go do a tracker conversion. If it works/helps I'm billing it.

[2018-05-17 12:16] AshHimself commented on #1561
@blockrazorbot label "done"
fixed in #1582

[2018-05-17 12:16] AshHimself commented on #1561
@blockrazorbot done

[2018-05-17 12:33] AshHimself opened #1583 "problem: [mypending] moderator ID displayed instead of name"
Problem: moderator ID displayed instead of name
Solution: normalize the name when a currency or bounty is rejected

[2018-05-17 12:33] AshHimself commented on #1583
@blockrazorbot claim

[2018-05-17 13:48] gazhayes commented on #1399
OK. That's fine with me. But it's best to keep an eye out for higher priority things (errors etc) and do this as a lower priority.

[2018-05-17 13:50] gazhayes commented on #1560
That looks like the simplest solution.

[2018-05-17 13:51] gazhayes commented on #1559
I removed the low priority tag because this is a really simple 5 minute fix so it's worth solving.

[2018-05-17 13:53] gazhayes opened #1584 "problem: add coin UI errors are annoying"
Problem: some of the errors on /addcoin are using sAlert rather than showing inline bootstrap errors.

[2018-05-17 13:53] gazhayes commented on #1554
Is this done or in progress?

[2018-05-17 13:55] gazhayes commented on #1549
Whoever does this please pay very careful attention to #1556

[2018-05-17 13:56] gazhayes commented on #1535
@gdevdeiv you should avoid locking up small issues like this for more than 24 hours.

@AshHimself can you look at this, I thought you did this already?

[2018-05-17 13:58] gazhayes commented on #1524
I'm going to close this. Testing performance is an ongoing thing. Rather than tracking things like this, just report issues found with any testing tools whenever you run them.

[2018-05-17 13:58] #1524 closed

[2018-05-17 14:00] gazhayes commented on #1379
What's going on with this one?

If there are related issues, log them in individual issues (break things down as much as possible).

[2018-05-17 14:11] #1540 closed

[2018-05-17 15:08] janat08 opened #1585 "Problem: typeahead custom empty messages are untested"
Problem: typeahead doesn't have test for custom empty message for inline button or external integrated button. The inline button function prop has params for current value. There're currently no pages that have custom message, but you might just test default one.

Solution: edit typeahead.ui-test.js with new tests.

[2018-05-17 15:17] janat08 opened #1586 "Problem: typeahead limit/autofocus/placeholder/displayField props untested"
Problem: typeahead has props like limit that isn't actually used anywhere, along with others- as per the title- that are used in various placed. It should be checked that these props have an effect and expected output, or otherwise that defaults work (all the prop defaults are at the top of created hook.

Solution: Searching repository for "typeaheadProps" will find you the files/pages that use ty

[2018-05-17 15:23] janat08 opened #1587 "Problem: typeahead transcient prop not tested."
Problem: typeahead transient prop should change this.search property in typeahead.

Solution: A way to test this would be to access a local property of collection, and insert a document in there and see if it appears in the list (which is generally sorted alphabetically) if transcient option is on (there're no typeahead with transient option off.)

[2018-05-17 15:33] janat08 opened #1589 "Problem: inline/external-integrated button dynamics not tested."
Problem: There's no prop that decides if there's external-integrated button or inline button in typeahead, but if there's integrated-external one then clicking on inline message/button shouldn't trigger the create event. If customAddButtonExists prop is false it renders integrated button, if it's true and the create event is true- exists- then it renders inline test fires an event.

Solution: addC

[2018-05-17 15:35] janat08 opened #1590 "Problem: typeahead create item functionality isn't tested"
Problem: typeahead has the option to create an item that's used in /addCoin and /currency/:x. There're no tests to see if items are actually created.

[2018-05-17 15:44] janat08 commented on #1515
I was going to split this, but this isn't entirely front-end.

[2018-05-17 15:58] anbud commented on #1580
This one is mine, I'll fix it.

@blockrazorbot claim

[2018-05-17 16:37] geekyd commented on #1584
@blockrazorbot claim

[2018-05-18 04:52] #1561 closed

[2018-05-18 04:56] chamidu-supeshala commented on #1554
It was done, but the label text incorrect, though

![screenshot from 2018-05-18 10-24-01](https://user-images.githubusercontent.com/27463355/40216684-cfdd1668-5a85-11e8-9f5c-80aea0619f72.png)

[2018-05-18 04:57] chamidu-supeshala commented on #1554
I'll close this as original problem solved

[2018-05-18 04:58] #1554 closed

[2018-05-18 05:00] chamidu-supeshala opened #1592 "Problem: [/problems] label text of filters is incorrect"
Problem: label text displays "filter bounties" in problems page

![screenshot from 2018-05-18 10-24-01](https://user-images.githubusercontent.com/27463355/40216770-64d3c4ec-5a86-11e8-8921-00c9b384ac65.png)

@blockrazorbot label "UI-UX"

[2018-05-18 05:42] jigartankhupp commented on #1576
@blockrazorbot  claim

[2018-05-18 05:47] chamidu-supeshala commented on #1560
@blockrazorbot claim

[2018-05-18 06:00] chamidu-supeshala commented on #1560
fixed #1593
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-18 06:01] chamidu-supeshala commented on #1559
@blockrazorbot claim

[2018-05-18 06:09] jigartankhupp commented on #1576
@blockrazorbot  Done #1594
@blockrazorbot  label "done"
@blockrazorbot  remove "in progress"

[2018-05-18 06:17] chamidu-supeshala commented on #1559
fixed #1595
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-18 06:53] chamidu-supeshala commented on #1551
fixed #1596
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-18 07:13] geekyd commented on #1592
Sorry about this.
@blockrazorbot claim

[2018-05-18 07:25] #1560 closed

[2018-05-18 07:26] #1592 closed

[2018-05-18 08:19] AshHimself commented on #1583
Fixed in #1598
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-18 08:38] AshHimself opened #1599 "Problem: [bounties] share modal does not display share URL"
Problem: share modal does not display share URL

![image](https://user-images.githubusercontent.com/148682/40224813-dffc42e2-5ab9-11e8-8e69-a5c0599779cb.png)

Solution: Looks like we have upgrade sweet alert 2 which has a different syntax and will need updating.

[2018-05-18 08:39] AshHimself commented on #1599
@blockrazorbot claim

[2018-05-18 08:53] AshHimself commented on #1599
Fixed in #1600
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-18 10:53] anbud commented on #1550
@blockrazorbot claim

[2018-05-18 11:09] anbud commented on #1550
Fixed in #1601.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-18 11:28] gazhayes opened #1602 "Problem: no 2FA for user actions"
Problem: users are going to have to be able to withdraw cryptocurrency from Blockrazor, however at present there's no 2FA implemented.

Possible solution: It looks like the simplest solution is probably using something like https://github.com/speakeasyjs/speakeasy

Users should be able to activate it on their account and once activated they can't log in without it.

ping @anbud

[2018-05-18 11:35] anbud commented on #1602
Agreed, this one is important and `speakeasy` seems quite simple.

@blockrazorbot claim

[2018-05-18 11:49] anbud commented on #1527
Done in #1603.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-18 12:06] #1527 closed

[2018-05-18 13:05] janat08 commented on #1399
1. onInvalidatedCallbacks

[2018-05-18 13:13] #1599 closed

[2018-05-18 13:40] anbud commented on #1602
Done in #1604.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-18 17:58] janat08 commented on #1399
I've decided that it's easier to map oberve-utils onto tracker.api rather than other way around.

api:

- [ ] autorun

- [ ] flush

- [ ] nonreactive

- [ ] active

- [ ] inflush

- [ ] currentComputation

- [ ] oninvalidate

- [ ] afterflush

- [ ] stop

- [ ] oninvalidate

- [ ] onstop

- [ ] stopped

- [ ] invalidated

- [ ] firstrun

- [ ] changed

- [ ] depend

- [ ] hasdependents

[2018-05-18 21:25] janat08 commented on #1399
Currently the issue is that I'm not initializing ids for dependency or in nx mapEntry for new Dependency, which would then be used in Dependency.depend when things run at first.

[2018-05-19 01:35] #1602 closed

[2018-05-19 02:07] gazhayes opened #1605 "Problem: 2FA doesn't have backup codes"
Problem: if users lose their phone (or whatever) there's no way to restore their 2FA and they will be permanently locked out of their account.

ping @anbud

[2018-05-19 03:58] chamidu-supeshala commented on #1097
Hi @samuelralak , whats the progress on this buddy? Because If you do not have enough time to do it, i can give it a try.

[2018-05-19 03:59] #1550 closed

[2018-05-19 04:01] gazhayes commented on #1097
@samuelralak if you've done work on it but are too busy to finish, you could push what you have to your fork and then @chamidu-supeshala can pick up where you left off.

[2018-05-19 06:15] anbud commented on #1605
@blockrazorbot claim

[2018-05-19 15:27] anbud commented on #1605
Done in #1606.
Please note that if you've activated 2FA before, you'll have to click on the `regenerate` link to get the first set of backup 2fa tokens.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-19 17:16] janat08 commented on #1399
There's limitation on manipulating reactiveVars in autorun. https://github.com/nx-js/observer-util/issues/25

[2018-05-19 17:18] #1379 closed

[2018-05-19 17:31] janat08 commented on #1549
@blockrazorbot claim, closing the one I opened previously, #868, following it's solution.

[2018-05-19 17:31] janat08 commented on #1399
@blockrazorbot label 'unmet dependency'

[2018-05-19 17:32] janat08 commented on #1566
@blockrazorbot claim, fixing is part of validation adjustment for /addcoin issue.

[2018-05-19 17:44] janat08 commented on #1549
btw autoForm doesn't depend on allow/deny, creating it's own method that follows the method. I'll likely look for inspiration there.

[2018-05-20 01:01] gazhayes commented on #1549
Oh I was under the impression that autoform required using allow/deny.

I actually don't care how we do validation, as long as it's consistent. I wrote #1556 because people are using different stuff all over the place even after we've settled on simpl-schema + validated-method months ago. But if you have a simpler way to solve the problem that's fine, just make sure you comment it extremely well s

[2018-05-20 01:37] #1605 closed

[2018-05-20 05:53] janat08 commented on #1549
I simply saw this: https://github.com/aldeed/meteor-autoform/blob/devel/formTypes/method.js. @anbud?

[2018-05-20 06:19] gazhayes commented on #1549
Ah yes autoform itself doesn't. But autoform doesn't offer much without collection2, and collection2 needs client side mongo writes to work with allow/deny and simpl-schema rules.

[2018-05-20 11:37] #1583 closed

[2018-05-20 11:50] AshHimself opened #1607 "problem: unknown what exchanges have already been flagged for deletion"
Problem: unknown what exchanges have already been flagged for deletion

Solution: Add a flag

@gazhayes - this an actual problem in your opinion?

[2018-05-20 11:52] AshHimself opened #1608 "problem: [currency] Exception in template helper: TypeError: val[0].join is not a function"
Problem: [currency] Exception in template helper: TypeError: val[0].join is not a function

Solution: Debug and resolve

[2018-05-20 11:52] AshHimself commented on #1608
@blockrazorbot claim

[2018-05-20 11:56] gazhayes commented on #1607
I'm not actually sure I understand what you mean. Can you be more specific?

[2018-05-20 11:58] AshHimself commented on #1607
Sorry.. on the exchanges page you can mark them for deletion but actually never know what items you have clicked and what others have clicked.

![image](https://user-images.githubusercontent.com/148682/40278666-1741ebee-5c68-11e8-8d87-df0deeb755b9.png)

[2018-05-20 12:04] AshHimself commented on #1608
Fixed in #1609
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-20 12:09] AshHimself opened #1610 "problem: [currency] load more button visible when no more to load"
Problem:  load more button visible when no more data to load into the DOM.

Solution: Hide the load more button when there is no more data to load and offer a better UX.

[2018-05-20 12:10] AshHimself commented on #1610
@blockrazorbot claim

[2018-05-20 12:35] gazhayes commented on #1607
Oh ok, no I don't think it's a problem. It does have to be handled correctly on the moderation side though: 3 cumulative up/downvotes, and then it must be removed from individual currencies too. I haven't checked if that's all working properly, you might want to have a look.

[2018-05-20 12:48] janat08 commented on #1549
https://github.com/aldeed/meteor-autoform#method
[code]

[2018-05-20 13:07] gazhayes commented on #1549
So you want to use this with validated-method and simplschema? Or are you proposing to completely rework everything?

[2018-05-20 13:15] janat08 commented on #1549
I'd still use the validated method to validate on server as that doesn't happen with custom method param, but in integrating autoform I would remove current form logic in favour of autoform to given control to schema which would involve passing labels/select options/if field is to appear.

In way of step validation I think I can only use AutoForm.validateField(formId, fieldName, skipEmpty) on ever

[2018-05-20 13:18] janat08 commented on #1549
PS: the guide talked about deciding if a field should appear, I realize now that there're no apparent directives in schema which would let autoform know that, so I might not do that.

[2018-05-20 13:18] gazhayes commented on #1549
Oh, I should have mentioned this earlier, but the first solution is the only one that really solves the actual issue (the real issue here is that validation is annoying for users). So validation is needed at each step rather than letting users go through the whole form before validation.

[2018-05-20 13:30] gazhayes commented on #1549
It's best to open fresh issues instead of reopen old ones, keep everything very tight and specific in regards to the problem (this issue). Then again, if they aren't big changes, you can just send a number of small commits to address each smaller problem and tag the pull request with this master issue.

[2018-05-20 13:32] AshHimself commented on #1608
@gazhayes is our little bot broken :/ can't seem to update this ticket.

[2018-05-20 13:37] gazhayes commented on #1549
I'm pretty sure autoform doesn't really help here, but if you think it makes it easier for you to solve the issue then I have no problem with you using it and seeing what happens.

[2018-05-20 13:44] AshHimself commented on #1610
Fixed in #1611
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-20 14:47] janat08 commented on #868
reopening, and doing after 1549. @blockrazorbot claim

[2018-05-20 15:19] gazhayes commented on #1608
@blockrazorbot  claim

[2018-05-20 15:19] gazhayes commented on #1608
Server went down, its working again now

[2018-05-20 15:19] #1608 closed

[2018-05-20 16:58] anbud commented on #1097
@chamidu-supeshala, until @samuelralak responds, I believe you can take one of the following: #1276, #1277, #1278, as they're not taken by anyone and they're similar to this.

[2018-05-20 17:01] samuelralak commented on #1097
@chamidu-supeshala sorry man just seeing this now, yeah sure you can go ahead and take  it. Wouldn't want to delay this any longer

[2018-05-20 17:02] anbud commented on #1549
@janat08, I haven't used autoform in ages, I can't really help here. If you get stuck somewhere though, let me know and I'll take a look.

[2018-05-20 17:49] janat08 commented on #1549
Fine i'll just fish out the code behind AutoForm.validateField(formId, fieldName, skipEmpty)

[2018-05-20 18:13] janat08 opened #1612 "Problem: smart contract isn't validated for /addCoin"
Problem: there's a smartContractUrl field for currency schema, but it's not being reference anywhere including client side, also it's a conditional field therefore I imagine there should be a boolean field too. It appears at top level of client (first step of form).  @blockrazorbot label "unmet dependency"

[2018-05-20 19:42] anbud commented on #1565
I'll take a look.

@blockrazorbot claim

[2018-05-20 20:05] anbud commented on #1565
@janat08, I've tested it a little bit, the method call can be removed. The data is still there, and everything works properly. Basically, when you add the `added` observer, all of the data is inserted already in that observer, so method call has no effect, as we don't need duplicates with wrong ids.

The only problem with that currently is that the `ready` flag depends on the method call, so if th

[2018-05-20 20:08] anbud commented on #1565
Also, when the fetch method is called in conjunction with `added` observer, errors like this: `Exception in delivering result of invoking 'fetchProblems': MinimongoError: Duplicate _id 'EWfN6MRWjrmWfxtN7'` sometimes occur, but not always.

[2018-05-21 00:10] #1610 closed

[2018-05-21 01:14] gazhayes commented on #1612
It's on the community part when the appropriate checkbox is selected on the first page.

[2018-05-21 01:17] gazhayes commented on #1612
What's the dependency? I.e. which issue must be completed before this one can be attempted?

[2018-05-21 04:45] janat08 commented on #1612
It didn't appear to be really validated on client side either, so I thought it should wait until I'm done.

[2018-05-21 04:46] janat08 commented on #1612
The url isn't required according schema.

[2018-05-21 04:47] gazhayes commented on #1612
OK, it *should* be required *if* the smart contract box is checked.

[2018-05-21 04:56] AshHimself commented on #1535
Sorry just saw this ticket guys... not sure what is going on but i'm happy to take a look at it again if @gdevdeiv is not longer looking at it?

[2018-05-21 05:01] janat08 commented on #1565
that would be the insert hook of localizedCol, that updates local col.

[2018-05-21 07:07] gazhayes commented on #1584
Ping @janat08 for reference

[2018-05-21 08:44] geekyd commented on #1584
@gazhayes Yeah. I will be sending a PR soon

[2018-05-21 12:09] chamidu-supeshala commented on #1097
As i have already implemented #1275 in my local, i will go with it first.

[2018-05-21 12:10] chamidu-supeshala commented on #1275
@blockrazorbot claim

[2018-05-21 12:10] samuelralak commented on #1097
ok cool

On Mon, 21 May 2018 at 15:09, Chamidu Supeshala <notifications@github.com>
wrote:

[2018-05-21 12:11] samuelralak commented on #1097
Will complete this one and make a PR today.

On Mon, 21 May 2018 at 15:10, Samuel Ralak <thesamuelralak@gmail.com> wrote:

[2018-05-21 12:15] chamidu-supeshala commented on #1097
Hey, i didnt understand this? what do you mean ? `Will complete this one and make a PR today.`

As you have already broke this one to #1275, #1276, #1277 and #1278

[2018-05-21 12:26] chamidu-supeshala commented on #1097
@samuelralak im sorry if you are about to complete #1275. I have pushed it since i couldn't move on to any other task without either pushing or trashing my changes. And i don't know whether it is against C4. If so, feel free to close my PR and push your own changes after you completing. And again sorry for the inconvenience.

[2018-05-21 12:29] samuelralak commented on #1097
Naah @chamidu-supeshala thats perfectly fine man. don't worry about it. if I'll need to make another patch I can still create an issue and push the patch. its perfectly fine man 👍

[2018-05-21 12:43] chamidu-supeshala commented on #1097
Its my fault, i would have go with #1276 or something, as @anbud mentioned. But actually i completed work on #1275, last Saturday itself, as i had no any other work that day. Today I saw @anbud 's suggestion to go with #1276 or something, but there was no option than rejecting or pushing my changes that i made on Saturday. Only After pushing and coming back here, i saw your recent comment that you

[2018-05-21 12:44] chamidu-supeshala commented on #1275
@blockrazorbot claim

[2018-05-21 12:45] chamidu-supeshala commented on #1275
fixed in #1613
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-05-21 12:46] samuelralak commented on #1097
@chamidu-supeshala thats very ok chief

[2018-05-21 12:46] #1275 closed

[2018-05-21 13:06] chamidu-supeshala opened #1614 "Problem: [/myPending] pending bounties and approved bounties not shown"
Problem: pending bounties and approved bounties are not shown in [/mypending]

Solution: this might because lack of `exact name` in the bounty schema for persisting id of the user who completed it.  Previously in the backend, the completed user id saved under `completedBy` in the bounty document , however recently it changed to `userId` in some places in the backend code base. However frontend sti

[2018-05-21 13:30] janat08 commented on #1584
Ill wait for you to send the pr then, and then continue working on /addcoin validation.

[2018-05-21 13:38] chamidu-supeshala opened #1615 "Problem: [/approvals] No place to approve API bounties"
Problem:  it seems like the moderator pending API bounty uses an old template, it currently only displays something called `HashrateAPI` bounties only, for the approval. This is how it queried currently:

`Bounties.find({pendingApproval: true, bountyType: "HashrateAPI"})`

But my database has no any bounty with that type. And also not found such bounty in [/bounties]

Solution: If `HashrateAPI` me

[2018-05-21 17:32] anbud commented on #1615
As far as I know, `HashrateAPI` is an old type of bounties that's not used anywhere on the site currently. It's not at all compatible with the current system. Hashpower API bounties were created instead of them, but they're automatically approved on first successful API call, so there's no need for moderator actions.

As a solution, you can remove the whole page, it's not used. :)

[2018-05-21 17:35] anbud commented on #1614
I'll take a look.

@blockrazorbot claim

[2018-05-21 17:37] anbud commented on #1607
@AshHimself, the item is flagged only the first time someone reports it, other reports basically do nothing. If you want to add some kind of UI flag to it, there's a field `proposedRemoval` in the document that basically holds the flag. It's not a big issue though, I agree.

[2018-05-21 18:57] anbud commented on #1614
Done in #1616.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-21 19:05] anbud commented on #1615
Actually, it's a small job, I'll do it. :)

@blockrazorbot claim

[2018-05-21 19:15] anbud commented on #1615
Done in #1617.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-21 23:33] samuelralak commented on #1276
@blockrazorbot claim
@blockrazorbot label "in progress"

[2018-05-22 00:00] samuelralak commented on #1575
@blockrazorbot claim
@blockrazorbot label "in progress"

[2018-05-22 00:05] samuelralak commented on #1575
@blockrazorbot remove "in progress"
@blockrazorbot lable "done"

[2018-05-22 00:06] samuelralak commented on #1575
fixed in [#1618](https://github.com/Blockrazor/blockrazor/pull/1618)

[2018-05-22 00:07] samuelralak commented on #1575
@blockrazorbot label "done"

[2018-05-22 00:08] samuelralak commented on #1575
@blockrazorbot remove "in progress"

[2018-05-22 00:09] #1576 closed

[2018-05-22 00:13] geekyd opened #1619 "Problem: hide vote for changes by moderator on changes dashboard"
Problem:  hide changes by moderator /moderator/changedCurrencies. The moderator who proposed the change can't vote for the change therefore showing voting buttons is redundant.

Solution: We should hide the buttons for voting on the dashboard for the changes proposed by the moderator himself.

[2018-05-22 00:13] geekyd commented on #1619
@blockrazorbot claim

[2018-05-22 00:51] geekyd commented on #1619
Done in #1620 .

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-22 01:09] #1619 closed

[2018-05-22 02:03] gazhayes commented on #1619
@geekyd please be more careful with your problem reports. You reported a solution here not a problem.

[2018-05-22 04:10] samuelralak commented on #1276
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-22 04:11] samuelralak commented on #1276
@blockrazorbot label "done"

[2018-05-22 04:11] samuelralak commented on #1276
@blockrazorbot remove "in progress"

[2018-05-22 04:12] samuelralak commented on #1276
done in [#1621](https://github.com/Blockrazor/blockrazor/pull/1621)

[2018-05-22 04:12] samuelralak commented on #1277
@blockrazorbot claim

[2018-05-22 06:48] janat08 commented on #1584
make errors inline

[2018-05-22 12:38] AshHimself opened #1622 "problem: not all pages have segment.io events"
Problem: not all pages have segment.io events

Solution: Add relevant segment.io events based on blockrazors functionality.

[2018-05-22 12:40] AshHimself commented on #1622
@blockrazorbot claim

[2018-05-22 13:15] gazhayes opened #1624 "problem: [/addcoin] planned altcoins cannot be added"
Problem: planned altcoins cannot be added (when none of the boxes on step 1 are checked, it's a planned altcoin).

[2018-05-22 17:45] anbud commented on #1590
@blockrazorbot claim

[2018-05-22 18:54] anbud commented on #1590
Done in #1626.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-22 19:41] anbud commented on #1624
I believe this one is related to #1549, as it's a validation problem as far as I can see.
ping @janat08

[2018-05-22 23:11] geekyd commented on #1584
Done in #1627 .

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-23 02:44] gazhayes commented on #1624
I only had a quick look, but it seems like it might simply be a client side validation thing not in the schema, if that's the case it only requires a one line change.

[2018-05-23 12:16] AshHimself opened #1629 "problem: [addCoin] Uncaught TypeError: Cannot read property 'params' of null"
Problem: typeNX.js: Uncaught TypeError: Cannot read property 'params' of null is returned when jumping between steps on addCOin

Solution: Adding some better error handling when this var is null

[2018-05-23 12:42] anbud commented on #1629
This one is already reported at #1445. :)

@janat08 says that it doesn't cause any issues though.

[2018-05-23 12:43] AshHimself commented on #1629
Oops... floods my console with errors though :)

On Wed, 23 May 2018 at 8:42 pm, Andrej Budinčević <notifications@github.com>
wrote:

[2018-05-23 12:48] anbud commented on #1629
It is kinda annoying, I agree.
If you have a solution in mind, I would say go for it. :)

[2018-05-23 12:50] anbud commented on #1589
Testing is fun. :)

@blockrazorbot claim

[2018-05-23 13:07] anbud commented on #1589
Done in #1630.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-23 13:13] anbud commented on #1587
@blockrazorbot claim

[2018-05-23 13:14] gazhayes opened #1631 "problem: [/] subscriptions not finalizing"
Problem: this waits for subscription and never updates:
<img width="328" alt="screen shot 2018-05-23 at 9 13 03 pm" src="https://user-images.githubusercontent.com/8143945/40426650-32798530-5ece-11e8-95c6-16fab84fd086.png">

[2018-05-23 14:19] anbud commented on #1587
Done in #1632.

@blockrazorbot label "done"
@blockrazorbot remove "in  progress"

[2018-05-23 14:20] anbud commented on #1631
I'll check it out.

@blockrazorbot claim

[2018-05-23 14:43] anbud commented on #1631
Should be fixed in #1633. It's also related to #1565.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-23 14:57] anbud commented on #1585
@blockrazorbot claim

[2018-05-23 15:05] janat08 commented on #1624
noted and ignored

[2018-05-23 15:07] janat08 commented on #1589
the test is about if one of and only one of external-integrated, inline, and non-butttons exist.

[2018-05-23 15:08] #1587 closed, assigned to nobody

[2018-05-23 15:12] anbud commented on #1589
Oh, ok, I'll update it for those things as well.

@blockrazorbot remove "done"
@blockrazorbot label "in progress"

[2018-05-23 15:13] samuelralak opened #1634 "Problem: [/signup] Broken styles on sign up form"
Problem: The styling on sign up from is broken; input group icons appear out of place and the sign up button cannot be seen.

Solution: Fix broken styles - borrow solution from from sign in from.

<img width="427" alt="screen shot 2018-05-23 at 6 12 40 pm" src="https://user-images.githubusercontent.com/4476552/40433564-f9015fa8-5eb4-11e8-80db-884dac9a9efc.png">

[2018-05-23 15:38] anbud commented on #1585
Default value is tested in #1635.

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-23 15:47] #1585 closed, assigned to nobody

[2018-05-23 16:55] samuelralak opened #1636 "Problem: [/wallet/kzr] wallet kzr notifications shown to wrong user"
Problem: As an admin user,  wrong notifications are received after rejecting a wallet image. These notifications are intended for the user whose wallet image had been rejected.

<img width="1084" alt="screen shot 2018-05-23 at 7 55 07 pm" src="https://user-images.githubusercontent.com/4476552/40439322-40308936-5ec3-11e8-8c28-f6670aeda94a.png">

[2018-05-23 19:49] geekyd commented on #1634
@blockrazorbot claim

[2018-05-23 19:53] geekyd opened #1637 "Problem: No notification shown /wallet after completing bounty"
Problem: No notification shown on /wallet after completing bounty. Although there is a notification on the side bar & nav bar.

Solution: After some investigation I found that an attribute currency is used to retrieve the `currencyNotifications` on /wallet which does not exist in the schema. We can either add an attribute to the schema or use a solution similar to the one used in wallet/walletTran

[2018-05-23 19:53] geekyd commented on #1637
@blockrazorbot claim

[2018-05-23 19:55] samuelralak commented on #1277
@blockrazorbot remove "in progress"

[2018-05-23 19:55] samuelralak commented on #1277
@blockrazorbot label "done"

[2018-05-23 19:55] samuelralak commented on #1277
done in [#1638](https://github.com/Blockrazor/blockrazor/pull/1638)

[2018-05-23 19:57] samuelralak commented on #1278
@blockrazorbot claim

[2018-05-23 20:38] janat08 commented on #1637
From what I remember bounties is no singular collection or document with a schema, therefore it will have a bunch of unique methods for dealing with bounty completions wherein its likely that a function call is amiss. Might it be possible that you stumbled on bounty type that has bad method call, although if the sidebar and navbar notifications have the same query as [/wallet] then it's a bad subs

[2018-05-23 21:37] #1277 closed

[2018-05-23 21:40] samuelralak commented on #1575
@geekyd feel free to close this one

[2018-05-23 22:19] geekyd commented on #1637
@janat08
The problem is when a transaction is completed when a bounty completes.
The transactions on `wallet/walletTransactions` are fetched using the `message` attribute of the wallet. But in case of `/wallet` we are querying using an attribute `currency`. There is no attribute called `currency` in the `/wallet` schema.

We can either use the `message` attribute or we can add `currency` to the sc

[2018-05-23 22:46] geekyd commented on #1634
Done in #1639

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-23 22:48] geekyd opened #1640 "Problem: different icons for reset filters in /transactions/:x & /wallet/:x"
Problem: different icons for reset filters in /transactions/:x & /wallet/:x

Solution: Use same icon for resetting filter on both the pages

[2018-05-23 22:55] geekyd opened #1641 "Problem: currency card is not clickable at certain areas"
Problem: currency card is not clickable at certain areas. There are areas which are not clickable & does not perform a redirect to the currency details page.

Solution: Make the entire currency card clickable

[2018-05-23 23:01] geekyd opened #1642 "Problem: redundant button show on moderator/applogs when there is no data"
Problem: redundant button show on moderator/applogs when there is no data

Solution: Hide the button if there is no data available to be displayed.

![b2072dc7-1fe5-4237-ad8e-aeaf75674614 1](https://user-images.githubusercontent.com/12807846/40455566-35aae770-5f0b-11e8-9a0a-8e63e76de749.jpeg)

[2018-05-23 23:05] geekyd opened #1643 "Problem: moderator is able to create an empty question"
Problem: moderator is able to create an empty question

Solution: Add a validation to the input field in /moderator/questions

[2018-05-23 23:08] geekyd opened #1644 "Problem: inconsistent design of filter menu in /moderator/applogs"
Problem: inconsistent design of filter menu in /moderator/applogs. We should use the design used at /bounties & /problems

Solution: Make the design consistent. Use the design at /bounties & /problems for reference

[2018-05-23 23:12] geekyd opened #1645 "Problem: moderator is shown self proposed changes for vote changedCurrencies/:x"
Problem: moderator is shown self proposed changes for vote changedCurrencies/:x. This leads to a frustrating experience for the user.

Solution: We can either hide the voting buttons from the page for self proposed changes or never show the self proposed changes on the moderator dashboard.

@gazhayes What are your views on this?

[2018-05-24 03:12] #1614 closed

[2018-05-24 03:14] #1615 closed

[2018-05-24 07:14] samuelralak commented on #1645
I would propose not showing the changes. If the item isn't actionable, then isn't any need of showing it to the admin/moderator.

[2018-05-24 07:33] gazhayes commented on #1641
Actually this isn't a problem. Some areas are intended to be independently actionable (e.g. the radar chart labels).

[2018-05-24 07:33] #1641 closed

[2018-05-24 07:35] gazhayes commented on #1645
The same as @samuelralak

[2018-05-24 12:09] gazhayes opened #1646 "Problem: Uncaught TypeError: addProblem.call is not a function at Object.submit"
Problem: this is not a Blockrazor problem, but paid contributors can add this to their timesheets. Anyone interested should also watch https://github.com/EmurgoHK/Emurgis/ as that project will be hiring paid contributors directly very soon.

The issue can be seen here: https://github.com/EmurgoHK/Emurgis/issues/8

[2018-05-24 14:34] samuelralak commented on #1645
@blockrazorbot claim

[2018-05-24 16:34] samuelralak commented on #1645
@blockrazorbot remove "in progress"

[2018-05-24 16:34] samuelralak commented on #1645
@blockrazorbot label "done"

[2018-05-24 16:35] samuelralak commented on #1645
fixed in [#1647](https://github.com/Blockrazor/blockrazor/pull/1647)

[2018-05-24 16:38] samuelralak commented on #1644
@blockrazorbot claim

[2018-05-24 16:45] samuelralak opened #1648 "Problem: Blockrazor.org server down"
Problem: Blockrazor.org cannot be accessed; getting `503 Service Unavailable` when trying to access https://blockrazor.org

ping @gazhayes @anbud

![img_ec219daacff5-1](https://user-images.githubusercontent.com/4476552/40499526-e054a704-5f8a-11e8-9ebc-53f2b7732774.jpeg)

[2018-05-24 19:28] samuelralak commented on #1636
@blockrazorbot claim

[2018-05-24 20:05] anbud commented on #1648
I'll bring it back up in a sec.

[2018-05-24 20:09] anbud commented on #1648
The SSH is also not working currently, I'll try again later, but it may have to wait for @gazhayes.

[2018-05-24 22:55] anbud commented on #1549
@janat08, I've talked to @gazhayes, and, to speed things up, I'll take this over until you return if you don't mind. :)

[2018-05-24 23:19] gazhayes commented on #1648
Woops. Fixed.

[2018-05-24 23:19] #1648 closed

[2018-05-25 04:17] #1646 closed

[2018-05-25 04:38] gazhayes opened #1650 "Problem: paid contributors required for Emurgo"
Problem: Emurgo (https://emurgo.io) requires paid contributors to help build out some of their infrastructure. The development protocol and the stack for most things they build will be the same as Blockrazor (Meteor + C4). They have a LOT of stuff to build (e.g. Blockrazor x20), this will basically be an unlimited oppourtunity for the next 2 years, this is a well funded Blockchain group within the

[2018-05-25 04:43] #1631 closed

[2018-05-25 04:43] gazhayes opened #1651 "problem: [/] users online is always 0"
Problem: I see this even when logged in:

<img width="144" alt="screen shot 2018-05-25 at 12 43 08 pm" src="https://user-images.githubusercontent.com/8143945/40526468-4397199e-6019-11e8-867a-2e73a2d5f4c4.png">

[2018-05-25 05:11] AshHimself commented on #1650
Great news.. so no timesheets on Emurgis until selected?

[2018-05-25 05:13] gazhayes commented on #1650
For that issue you are doing right now just add it to the blockrazor timesheet, but this is an exception, once hired 'officially' I or someone else will give you a new timesheet for Emurgo work.

[2018-05-25 06:17] samuelralak commented on #1650
@gazhayes thats very fine. sounds good to me

[2018-05-25 10:55] geekyd commented on #1650
@gazhayes Sounds great.

[2018-05-25 11:19] anbud commented on #1650
Agreed, it does sound great. :)

[2018-05-25 11:39] gazhayes commented on #1650
One more repo to watch: https://github.com/EmurgoHK/Emurpas/

[2018-05-25 15:43] geekyd commented on #1643
@blockrazorbot claim

[2018-05-25 16:35] geekyd commented on #1643
Done in #1652

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-25 17:21] #1643 closed

[2018-05-25 17:23] #1645 closed

[2018-05-26 01:19] gazhayes commented on #1651
The plot thickens: <img width="147" alt="screen shot 2018-05-26 at 9 18 24 am" src="https://user-images.githubusercontent.com/8143945/40571119-cc87db9c-60c5-11e8-8ce2-141e61a86f62.png">

[2018-05-26 14:19] samuelralak commented on #1278
done in [#1653](https://github.com/Blockrazor/blockrazor/pull/1653)

[2018-05-26 14:19] samuelralak commented on #1278
@blockrazorbot remove "in progress"

[2018-05-26 14:19] samuelralak commented on #1278
@blockrazorbot label "done"

[2018-05-26 14:20] #1634 closed, assigned to nobody

[2018-05-26 15:12] samuelralak opened #1654 "Problem: [/profile/:slug] Wrong krazor balance shown on user's profile"
Problem: Navigating to a user's profile page will always show the current logged in user Krazor balance - this is wrong. Only the Profile page owner's krazor balance should be shown

Solution: Use the user object stored in the userProfile template instance to find the profile page owner's UserData.

[2018-05-26 15:12] samuelralak commented on #1654
@blockrazorbot claim

[2018-05-26 15:17] samuelralak commented on #1654
@blockrazorbot remove "in progress"

[2018-05-26 15:17] samuelralak commented on #1654
@blockrazorbot label "done"

[2018-05-26 15:19] samuelralak commented on #1654
fixed in [#1655](https://github.com/Blockrazor/blockrazor/pull/1655)

[2018-05-26 15:34] samuelralak commented on #1640
@blockrazorbot remove "in progress"

[2018-05-26 15:35] samuelralak commented on #1640
@blockrazorbot label "done"

[2018-05-26 15:35] samuelralak commented on #1640
fixed in [#1656](https://github.com/Blockrazor/blockrazor/pull/1656)

[2018-05-26 15:35] samuelralak commented on #1642
@blockrazorbot claim

[2018-05-26 16:40] geekyd commented on #1637
Done in  #1657

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-26 17:32] geekyd opened #1658 "Problem: inconsistent design of filter menu in /transaction/x"
Problem: inconsistent design of filter menu in /transaction/x. We should use the design used at /bounties & /problems

Solution: Make the design consistent. Use the design at /bounties & /problems for reference

[2018-05-26 17:32] geekyd commented on #1658
@blockrazorbot claim

[2018-05-26 17:37] geekyd opened #1659 "Problem: inconsistent design of filter menu in /wallet/x"
Problem: inconsistent design of filter menu in /wallet/x. We should use the design used at /bounties & /problems

Solution: Make the design consistent. Use the design at /bounties & /problems for reference

[2018-05-26 18:00] anbud commented on #1549
In #1660, each field is validated using the simple-schema we've already defined. Value is validated within the current context. There is some UI stuff to be taken care of here, to make the validation look nice, but the basic functionality is here, so the UI stuff can go into another issue probably.

Now, I really think we should go over the schema again, as, when I was testing it, it seems that so

[2018-05-26 18:55] janat08 commented on #1549
did you check that custom validation functions actually access other fields?

[2018-05-26 20:15] #1637 closed

[2018-05-26 20:15] geekyd commented on #1658
Done in #1661

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-26 20:16] geekyd commented on #1659
@blockrazorbot claim

[2018-05-26 20:17] geekyd commented on #1659
@blockrazorbot claim

[2018-05-26 20:58] #1658 closed

[2018-05-26 20:58] anbud commented on #1651
@gazhayes, do you happen to remember if this was happening before switching to the now hosting solution (production meteor with load balancing)? As this works on localhost, I can only imagine that this info is stored in memory on each instance and the data gets messed up. Saving the data to a real mongodb collection will probably fix it.

[2018-05-26 20:58] geekyd commented on #1659
Done in #1662

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-27 00:47] gazhayes commented on #1651
Yeah now that I think about it, it did start when I moved servers.

That must be what's happening.

[2018-05-27 07:12] gazhayes opened #1663 "Problem: cannot cancel 2FA login"
Problem: when 2FA is enabled, users cannot cancel their login (for example if they lost their code) and cannot view the site.

Solution: add a cancel button

[2018-05-27 07:46] anbud commented on #1651
@blockrazorbot claim

[2018-05-27 08:07] #1607 closed

[2018-05-27 08:45] AshHimself commented on #1535
Fixed in #1664
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

@gazhayes need to run meteor npm run install --save again.. this part of your scripts now yeh?

[2018-05-27 08:46] AshHimself commented on #1535
@blockrazorbot claim

[2018-05-27 08:46] AshHimself commented on #1535
Fixed in #1664
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

@gazhayes need to run meteor npm run install --save again.. this part of your scripts now yeh?

[2018-05-27 08:49] gazhayes commented on #1535
Yeah it's all built in now so all good

[2018-05-27 09:26] #1659 closed

[2018-05-27 09:26] #1640 closed

[2018-05-27 09:31] anbud commented on #1549
@janat08, I did, custom functions have access to everything as I've extended the context.

If you think that's causing issues with required fields, I'll take a deeper look. :)

[2018-05-27 10:59] AshHimself commented on #1535
@gazhayes looks like this latest push has actually broken our style a little bit.. honestly I don't know if its was broken before and is now working correctly. I think before is was broken as the fonts we have now is the actual LUX fonts.

**NOW**
![image](https://user-images.githubusercontent.com/148682/40585142-f7f19500-61df-11e8-9b29-76d5664c220d.png)

**BEFORE**
![image](https://user-images.gi

[2018-05-27 16:42] #1654 closed

[2018-05-27 17:20] samuelralak commented on #1636
@blockrazorbot remove "in progress"

[2018-05-27 17:20] samuelralak commented on #1636
@blockrazorbot label "done"

[2018-05-27 17:26] samuelralak commented on #1636
done in [#1665](https://github.com/Blockrazor/blockrazor/pull/1665)

[2018-05-27 18:13] #1636 closed

[2018-05-27 18:39] samuelralak commented on #1642
@blockrazorbot remove "in progress"

[2018-05-27 18:39] samuelralak commented on #1642
@blockrazorbot label "done"

[2018-05-27 18:39] samuelralak commented on #1642
fixed in [#1666](https://github.com/Blockrazor/blockrazor/pull/1666)

[2018-05-27 18:45] samuelralak commented on #1663
@gazhayes I would also propose adding an alternative option that would allow users to verify and recover their accounts in the event that they loose their codes. This is subject to discussion though.

[2018-05-27 18:47] samuelralak commented on #1663
The cancel button would terminate the login process but users would still have no way to get their accounts back

[2018-05-27 18:48] samuelralak commented on #1663
@blockrazorbot claim

[2018-05-27 18:54] anbud commented on #1663
@samuelralak, I agree, we should have some kind of a process that lets users recover accounts locked by losing 2fa codes. We have a list of 10 backup codes already, maybe there should be a way to somehow send them the backup list. Now, we shouldn't send it by email of course as that would defeat the purpose of 2fa, but we could possibly let them contact support or something.

As for the cancel but

[2018-05-27 18:56] anbud commented on #1651
Should be fixed in #1667.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-27 18:57] anbud commented on #1624
This one was fixed as a part of #1660.

@blockrazorbot label "done"

[2018-05-27 19:01] anbud commented on #1629
It's annoying and it appears to be an easy fix.

@blockrazorbot claim

[2018-05-27 19:01] #1642 closed

[2018-05-27 19:02] #1575 closed

[2018-05-27 19:02] anbud commented on #1445
Closing this one in favor of #1629.

[2018-05-27 19:02] #1445 closed

[2018-05-27 19:04] samuelralak commented on #1663
Yes, this is very correct

[2018-05-27 19:06] anbud commented on #1629
Fixed in #1668.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-27 19:15] anbud commented on #1566
This one was also fixed for `/addCoin` page in #1660.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-27 19:30] samuelralak commented on #1663
@blockrazorbot remove "in progress"

[2018-05-27 19:31] samuelralak commented on #1663
@blockrazorbot label "done"

fixed in [#1669](https://github.com/Blockrazor/blockrazor/pull/1669)

[2018-05-27 19:46] samuelralak commented on #1097
@gazhayes all these tickets are done, though there are still other admin pages such as `/moderator/flagged-hashpower`,  `/moderator/exchanges` and `/moderator/solved-problems` which may also need to follow the same format

  [/changedCurrencies] proposed changes #1276
  [/moderator/pardon] suspended users #1277
  [/moderator/flagged] flagged content #1278

Some UI modifications are also needed for

[2018-05-27 20:01] samuelralak opened #1670 "Problem: [/wallet] scientific figure displayed as wallet kzr balance"
Problem: When the kzr balance figure is too small, the scientific representation of the balance is displayed instead of a number.

<img width="258" alt="screen shot 2018-05-27 at 8 05 20 pm" src="https://user-images.githubusercontent.com/4476552/40590091-a42d5d74-6201-11e8-9b2e-c376cdcfba31.png">

[2018-05-27 20:11] samuelralak opened #1671 "Problem: navbar balance displayed as scientific figure"
Problem: The kzr balance on the navbar is displayed in a scientific format when the actual figure is too small. Logging this as a seperate issue simply because we need to keep UI/UX in mind for this one. We cannot render the actual balance because the navbar space is limited and we may end up breaking the UI.

Potential solution: I would propose showing the balance as `0.000` when balance is below

[2018-05-27 20:36] janat08 commented on #1566
@blockrazorbot unclaim.

[2018-05-27 20:36] janat08 commented on #1566
Problems is left.

[2018-05-27 20:40] janat08 commented on #1515
@blockrazorbot unclaim

[2018-05-27 20:41] janat08 commented on #1399
@blockrazorbot remove label "in progress"

[2018-05-27 20:41] janat08 commented on #1399
@blockrazorbot unlabel "in progress"

[2018-05-27 21:53] #1549 closed

[2018-05-28 00:17] AshHimself commented on #1671
@blockrazorbot claim

[2018-05-28 01:21] AshHimself commented on #1670
I'll create a helper as part of #1671 which this ticket can make use of. Stay tuned.

[2018-05-28 06:52] janat08 commented on #868
@blockrazorbot unclaim

[2018-05-28 07:03] janat08 opened #1672 "Problem: /addcoin will not try to show/limit to valid options"
Problem: Fields like genesis date have dynamic valid options (depending on checkboxes selected). I believe checkbox values are exclusive.

Solution: use simpleSchema to show valid options only, which are mostly defined in custom properties of fields, and don't actually  output ranges or options themselves. Additionaly the date field on form is 3 separate fields using a library to pick date.
@block

[2018-05-28 07:03] janat08 commented on #1672
@blockrazorbot label "low_priority"

[2018-05-28 07:03] #868 closed

[2018-05-28 07:11] janat08 commented on #1612
@blockrazorbot unlabel "unmet dependency"

[2018-05-28 07:11] janat08 commented on #1612
@blockrazorbot remove "unmet dependency"

[2018-05-28 07:12] janat08 commented on #1392
I'm not sure if this is fixed.

[2018-05-28 08:32] samuelralak commented on #1671
@AshHimself you can reproduce this by creating a new account and answering a few ratings questions - basically anything that rewards you a little kzr

[2018-05-28 08:55] gazhayes commented on #1671
@AshHimself ah yeah I need to put drmongo on the new server.

[2018-05-28 08:56] #1650 closed

[2018-05-28 08:58] #1663 closed

[2018-05-28 08:58] #1624 closed

[2018-05-28 08:59] #1584 closed

[2018-05-28 09:01] gazhayes opened #1673 "Problem: [/addcoin] hash algorithm invalid error"
Problem: the hash algorithm question reports an error even when there's no error.

<img width="316" alt="screen shot 2018-05-28 at 4 59 46 pm" src="https://user-images.githubusercontent.com/8143945/40606673-a5f4f792-6298-11e8-89e8-4eab22e27a45.png">

[2018-05-28 09:07] #1581 closed

[2018-05-28 09:07] #1580 closed

[2018-05-28 09:08] gazhayes commented on #1651
It's still -1 and 0 on production.

Is there anything I can do on the server to help with diagnostics?

[2018-05-28 09:19] AshHimself commented on #1671
Still can't replicate.. if you know how to replicate feel free take take the issue as no point me wasting time on it if you have a resolution.

[2018-05-28 09:34] AshHimself commented on #1671
@blockrazorbot unclaim

[2018-05-28 09:35] AshHimself commented on #1566
Maybe you can close this it he requestor isn't around now @anbud

[2018-05-28 11:04] samuelralak commented on #1671
@sjmackenzie no worries mate. will take a look

[2018-05-28 11:04] samuelralak commented on #1671
@blockrazorbot claim

[2018-05-28 12:03] AshHimself commented on #1612
Can't fix this issue until #1673 is resolved

[2018-05-28 12:05] AshHimself commented on #1673
@gazhayes can you replicate this consistently?

[2018-05-28 12:15] gazhayes commented on #1673
Ah I didn't try, but I started with none of the initial boxes checked so try that.

[2018-05-28 12:47] anbud commented on #1673
It's in the new coin schema schema (/imports/api/coins/methods.js - Currencies.newCoinSchema) which takes most of the values from currencies schema (/imports/api/coins/currencies.js - Currencies.schema)

I'm on a mobile device, so paths may not be 100% accurate, but it's there somewhere. :)

[2018-05-28 14:14] AshHimself commented on #1612
@blockrazorbot claim

[2018-05-28 14:26] AshHimself commented on #1673
@gazhayes - working for me. Try again after merging #1674

[2018-05-28 16:35] samuelralak commented on #1671
@blockrazorbot remove "in progress"

[2018-05-28 16:36] samuelralak commented on #1671
@blockrazorbot label "done"

[2018-05-28 16:36] samuelralak commented on #1671
fixed in [#1675](https://github.com/Blockrazor/blockrazor/pull/1675)

[2018-05-28 16:37] samuelralak commented on #1670
[#1675](https://github.com/Blockrazor/blockrazor/pull/1675) should fix this one as well

[2018-05-28 16:37] samuelralak commented on #1670
@blockrazorbot label "done"

[2018-05-28 16:42] samuelralak commented on #1097
@blockrazorbot remove "in progress"

[2018-05-28 16:42] samuelralak commented on #1097
@blockrazorbot remove "unmet dependency"

[2018-05-28 16:42] samuelralak commented on #1097
@blockrazorbot label "done"

[2018-05-28 16:44] samuelralak commented on #1097
done in [#1275](https://github.com/Blockrazor/blockrazor/issues/1275), [#1276](https://github.com/Blockrazor/blockrazor/issues/1276), [#1277](https://github.com/Blockrazor/blockrazor/issues/1277) and  [#1278](https://github.com/Blockrazor/blockrazor/issues/1278)

[2018-05-28 17:09] anbud commented on #1673
This also works for me as well. :)

[2018-05-28 19:58] anbud commented on #1589
Done in #1676.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-28 20:05] anbud commented on #1586
@blockrazorbot claim

[2018-05-28 20:34] #1670 closed

[2018-05-28 20:36] #1671 closed

[2018-05-29 07:18] AshHimself commented on #1612
@gazhayes - can you close this.

[2018-05-29 07:27] AshHimself commented on #1535
@gazhayes - you made a comment somewhere about this not being resolved because we could customise the bootwatch theme?

Doing more research into it and it looks like its best not to modify the theme directly but we can extend it on it, just the same as Bootwatch extends off the Bootstrap scss. So import would look like so.

`/*Custom BlockRazor Styles*/
@import "{}/imports/ui/layouts/blockrazor.sc

[2018-05-29 08:07] AshHimself opened #1679 "problem: headers have incorrect padding"
Problem:  headers have incorrect padding and broken some where down the line.

Solution: update css to display correct padding.

![image](https://user-images.githubusercontent.com/148682/40645933-647bee70-635a-11e8-9c76-2f5975752ad9.png)

[2018-05-29 08:11] AshHimself commented on #1679
@blockrazorbot claim

[2018-05-29 08:13] #1589 closed

[2018-05-29 09:53] gazhayes opened #1680 "Problem: UI layout is bad in some places after switching to full bootswatch"
Problem: it looks like we weren't actually using bootswatch properly before, but now that we are some of the UI looks weird.

Solution: seek and destroy weird layouts, misaligned stuff, whatever.

ping @geekyd this one is probably best suited to you.

[2018-05-29 13:04] geekyd commented on #1680
@blockrazorbot claim

[2018-05-29 15:25] samuelralak opened #1681 "Problem: [/profile/:slug]Profile picture upload fails in production"
Problem: Its not currently not possible to upload a profile. `500 Internal Server Error` is thrown when I try to upload a profile picture.
<img width="430" alt="screen shot 2018-05-29 at 6 20 04 pm" src="https://user-images.githubusercontent.com/4476552/40668582-9689f7f0-636d-11e8-86eb-f87834268881.png">

ping @anbud @gazhayes @AshHimself

[2018-05-29 15:32] samuelralak opened #1682 "Problem: [/moderator/exchanges] exchanges can easily be ignored"
Problem: Exchanges are currently being displayed in a long list which can easily be ignored by moderators.

Solution: Display one exchange at a time and bootswatchify the page. follow the same format as [/moderator/pardon]

[2018-05-29 15:32] samuelralak commented on #1682
@blockrazorbot label "UI-UX"

[2018-05-29 15:39] samuelralak opened #1683 "Problem: [/moderator/flagged-users] Bad UI-UX"
Problem: Flagged IP Addresses is currently not styled and table content appear less visible

Solution: Bootswatchify the page. Apply a white background for the table and table content. Follow the same format as [/moderator/applogs]

[2018-05-29 15:39] samuelralak commented on #1683
@blockrazorbot label "UI-UX"

[2018-05-29 15:51] samuelralak opened #1684 "Problem: [/compareCurrencies] weird border around page content"
Problem: There is a strange grey border around the page content which compromises the quality of the page's UI-UX.

Solution: Eliminate the border-secondary class  on the currency detail container and sets its padding to 0

[2018-05-29 15:51] samuelralak commented on #1684
@blockrazorbot label "UI-UX"

[2018-05-29 16:05] samuelralak opened #1685 "Problem: App content top padding too high"
Problem: The `.app-content` padding is currently too high pushing the page contents further down the page.

Solution: Eliminate `padding-top` property of the `.app-content` class.

[2018-05-29 16:20] samuelralak commented on #1685
fixed in [#1686](https://github.com/Blockrazor/blockrazor/pull/1686)

[2018-05-29 16:27] samuelralak commented on #1684
@blockrazorbot claim

[2018-05-29 16:27] samuelralak commented on #1684
@blockrazorbot remove "in progress"

[2018-05-29 16:27] samuelralak commented on #1684
@blockrazorbot label "done"

[2018-05-29 16:27] samuelralak commented on #1684
fixed in [#1687](https://github.com/Blockrazor/blockrazor/pull/1687)

[2018-05-29 17:40] samuelralak commented on #1683
@blockrazorbot claim

[2018-05-29 17:59] samuelralak commented on #1683
@blockrazorbot label "done"

[2018-05-29 18:06] samuelralak opened #1689 "Problem: [/moderator] inconsistent style on Page Headers"
Problem: The page headers in the moderator section are not styled and appear inconsistent from the rest of the site

Solution: Apply the same pageHeader styling as the rest of the site to the moderator page headers

[2018-05-29 18:07] samuelralak commented on #1689
@blockrazorbot label "UI-UX"

[2018-05-29 18:07] samuelralak commented on #1689
@blockrazorbot claim

[2018-05-29 18:33] samuelralak commented on #1689
@blockrazorbot remove "in progress"

[2018-05-29 18:33] samuelralak commented on #1689
@blockrazorbot label "done"

[2018-05-29 20:21] samuelralak commented on #1682
@blockrazorbot label "done"

[2018-05-29 20:22] samuelralak commented on #1682
fixed in [#1691](https://github.com/Blockrazor/blockrazor/pull/1691)

[2018-05-29 20:26] #1684 closed, assigned to nobody

[2018-05-29 20:26] #1683 closed

[2018-05-29 20:31] anbud commented on #1586
Done in #1692.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-29 20:31] anbud commented on #1681
@blockrazorbot claim

[2018-05-29 20:37] anbud commented on #1681
@gazhayes, is there a way to access server logs now?

Since this works locally, I'm suspecting that GraphicsMagick lib is not available on the server and it causes errors.

[2018-05-29 21:24] #1566 closed, assigned to nobody

[2018-05-29 21:32] anbud opened #1694 "Problem: Most of the codebase expects user balance to be numerical"
Problem: After #1675, user balance is stored as a string, which can cause issues as most of the codebase still expects that user balance is numerical. For example, `/add-problem` doesn't show available KZR balance as the helper breaks because it's not expecting a string (string doesn't have `toFixed` method).

Possible solution 1: Go through the codebase and fix helpers/methods/everything else tha

[2018-05-29 22:14] kriswormwood opened #1695 "Problem: add coin (next button link broke)"
Problem: the next button (step 2 going to step 3) does not respond - possible broken link.

Solution: fix link or skip the steps and put them all on one page?

[2018-05-29 23:16] gazhayes commented on #1694
Solution 2 seems a lot more reasonable. A lot of messing around to do maths on strings everywhere in the codebase otherwise.

[2018-05-30 03:01] gazhayes commented on #1681
I know what this is, it's because I'm using haproxy instead of nginx and haven't configured static image locations yet. I'll fix this one.

[2018-05-30 03:02] gazhayes opened #1696 "problem: server logs not public"

[2018-05-30 03:06] #1612 closed

[2018-05-30 06:02] #1682 closed

[2018-05-30 06:19] samuelralak opened #1697 "Problem: blockrazor.org service unavailable"
Problem: The blockrazor production server seems to be down again. Getting `503 Service Unavailable` while trying to access it.

ping @gazhayes @anbud

[2018-05-30 08:14] #1586 closed

[2018-05-30 11:36] geekyd commented on #1694
Solution 2 seems the way to go here, we should keep any mathematically value numeric in the application.

[2018-05-30 11:51] anbud commented on #1651
It's quite possible that the data was corrupted. After cleaning the collection, it seems to work ok, I've tested out a couple of users and the counter was updated correctly every time.

Please try it out to see if the issue persists. :)

[2018-05-30 12:02] #1651 closed

[2018-05-30 12:06] anbud commented on #1651
I've added a fix to prevent future data corruption in #1699.

[2018-05-30 12:09] geekyd commented on #1680
Fixed in #1698

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-31 01:49] gazhayes opened #1700 "problem: Error with Litecoin detail page"
Problem: `Exception in defer callback: Error: Meteor does not currently support objects other than ObjectID as ids` when trying to get to Litecoin's detail page.

What I'm concerned about is getting to the bottom of the underlying problem not Litecoin itself, but this doesn't seem to be happening with any other currencies.

[2018-05-31 08:37] anbud commented on #1700
This has been happening on local for me, but I thought it was only a local issue, as I couldn't find it in production until now.

It has to do something with exchanges, I'll get to the bottom of it.

@blockrazorbot claim

[2018-05-31 14:02] anbud commented on #1700
Fixed in #1701. `_id` was stored as an object, and not as a string which caused issues.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-31 14:58] samuelralak commented on #1694
@blockrazorbot claim

[2018-06-01 09:37] geekyd opened #1702 "Problem: misaligned modals in the application"
Problem: misaligned modals in the application.
![screen shot 2018-06-01 at 2 50 49 pm](https://user-images.githubusercontent.com/12807846/40834096-80130cea-65ad-11e8-93a5-d778493523e3.png)

Solution: centre align the modals through out the application.

[2018-06-01 09:39] geekyd opened #1703 "Problem: missing helper text on /solved-problems when no data"
Problem: no helper text on /solved-problems when no data

Solution: add a text which says something like "No problems available", use /pardon for reference

[2018-06-01 09:41] geekyd opened #1704 "Problem: user able to submit empty features on currency/x"
Problem: user able to submit empty features on currency/x

Solution: add validation to check if the feature is empty & show proper message to the user.

[2018-06-01 09:44] gazhayes commented on #1704
This should be using simpl-schema and validated method.

[2018-06-01 14:36] anbud commented on #1704
@blockrazorbot claim

[2018-06-01 14:43] anbud commented on #1704
I've just checked, you can't add an empty feature on production (the error is `Feature name is required`), but you can on localhost as the validation is turned off. `addFeature` method is a validated method and it uses a proper schema. So, I'm guessing this is not an issue, if I'm not missing something of course.

@blockrazorbot remove "in progress"

[2018-06-01 14:50] anbud commented on #1515
@blockrazorbot claim

[2018-06-01 15:02] #1704 closed

[2018-06-01 16:36] janat08 commented on #1515
I think I lost the code for this on reinstalling windows.

[2018-06-02 01:47] anbud commented on #1515
@janat08, if you happen to find it, it'll be helpful. :)

[2018-06-02 23:31] anbud commented on #1515
Done in #1705.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-02 23:33] #1697 closed

[2018-06-02 23:34] anbud commented on #1703
@blockrazorbot claim

[2018-06-02 23:38] anbud commented on #1703
Done in #1706.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-02 23:41] anbud commented on #1695
The next button will not respond if data is missing, so I'm guessing that something was missing, but the error was not properly displayed on the UI.

[2018-06-03 02:48] #1097 closed

[2018-06-03 02:49] #1680 closed

[2018-06-03 02:49] #1700 closed

[2018-06-03 02:49] #1703 closed

[2018-06-03 02:49] #1535 closed

[2018-06-03 02:49] #1515 closed

[2018-06-03 02:51] gazhayes commented on #1695
Will get proper UI testing happening to catch all these errors.

[2018-06-03 02:51] #1695 closed

[2018-06-03 05:02] chamidu-supeshala commented on #1702
@blockrazorbot claim

[2018-06-03 05:07] gazhayes commented on #1702
@chamidu-supeshala you're back! I haven't seen you for ages! You ok?

[2018-06-03 05:33] chamidu-supeshala commented on #1702
@gazhayes yes i was away in past week due to some of my research things. And now i'm back to work :)
@blockrazorbot done
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-03 06:16] gazhayes commented on #1702
Have a look at #1650 (closed but still relevant for you)

[2018-06-03 06:36] chamidu-supeshala commented on #1650
Seems interesting for me also. I also will take a look :) :+1:

[2018-06-09 04:13] #1702 closed

[2018-06-09 04:13] gazhayes commented on #1694
@samuelralak how's this one going?

[2018-06-09 04:14] #1622 closed

[2018-06-09 04:14] #1556 closed

[2018-06-09 04:14] #1399 closed

[2018-06-09 04:15] #1673 closed

[2018-06-09 04:15] samuelralak commented on #1694
I haven’t started on it yet. I intend on getting it resolved today.

On Sat, 9 Jun 2018 at 07:13, Gareth Hayes <notifications@github.com> wrote:

[2018-06-09 04:15] #1392 closed

[2018-06-09 04:18] #1390 closed

[2018-06-09 04:18] #1672 closed

[2018-06-09 04:19] #1362 closed

[2018-06-09 04:24] gazhayes opened #1708 "Problem: Blockrazor UI doesn't look very good"
Problem: Blockrazor UI doesn't look very good and isn't very consistent.

Solution: implement coreUI. However, we need to use our own colour schemes so this has to be taken into account (ease of changing colours globally).

ping @samuelralak

[2018-06-09 04:37] gazhayes commented on #1694
Just to be clear, please don't rewrite the codebase to accept strings, just fix whatever requires it to be a string instead.

[2018-06-11 06:49] AshHimself commented on #1708
@samuelralak - you getting to this or want me to?

[2018-06-11 09:46] Ayanrocks opened #1710 "Fixed errors in imports/ui/components/typehead.css"
Problem: There were errors in the css file located at imports/ui/components/typehead.css

Solution: the errors were fixed in the css file and display property is in conflict with float property so the display property is removed

@blockrazorbot  Fixed

[2018-06-12 12:32] AshHimself commented on #1708
Fixed in #1711
@blockrazorbot label done

[2018-06-12 12:35] AshHimself opened #1712 "problem: menu is not functioning correctly"
Problem: menu is not functioning correctly

Solution: implement coreUI/bootstrap responsive tags to correctly open and close menu on small screens and open on large screens.

[2018-06-12 12:36] AshHimself opened #1713 "problem: side menu showing incorrect menu items"
problem: side menu showing incorrect menu items

Solution: Only show relevant side menu items per the last menu structure.

[2018-06-12 14:19] #1708 closed

[2018-06-12 14:19] AshHimself commented on #1713
@blockrazorbot claim

[2018-06-12 14:47] chamidu-supeshala commented on #1712
@blockrazorbot claim

[2018-06-12 15:07] geekyd commented on #1244
@blockrazorbot claim

[2018-06-12 15:19] gazhayes commented on #1712
@chamidu-supeshala since @AshHimself has redone the UI with CoreUI it's probably a good idea to go through everything and hunt for problems and log them, there should be a lot of them.

[2018-06-12 15:31] geekyd opened #1714 "Problem: krazor menu items are not visible on side menu"
Problem: krazor menu items are not visible on side menu

![screen shot 2018-06-12 at 8 59 16 pm](https://user-images.githubusercontent.com/12807846/41300573-b36d3e1a-6e83-11e8-9fa8-4d5f802ee435.png)

Solution: Change the color of the font to make it visible

[2018-06-12 16:17] chamidu-supeshala commented on #1712
@gazhayes yes, sure. i will check and log any issues exist.

[2018-06-12 16:17] chamidu-supeshala commented on #1712
fixed in #1715

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-12 16:31] chamidu-supeshala opened #1716 "Problem: Brand text appear over username for some medium screens"
Problem: the blockrazor text appear on top of username for medium screens

![screenshot from 2018-06-12 21-49-24](https://user-images.githubusercontent.com/27463355/41303717-af513464-6e8b-11e8-8463-f65f034489cd.png)

Solution:
Step1: Left align 'Blockrazor' text for `medium` screens.
Step2: Hide'Blockrazor' text and use Blockrazor brand logo image instead, for `small` screens

[2018-06-12 16:35] chamidu-supeshala opened #1717 "Problem: [/bounties] Share button misplaced"
Problem: 'share with friends' button in [/bounties] is misplaced

![screenshot from 2018-06-12 22-02-58](https://user-images.githubusercontent.com/27463355/41304021-9166a424-6e8c-11e8-9935-ab5ce4d5c16f.png)

Solution: correct the alignment of the button

[2018-06-12 16:50] chamidu-supeshala opened #1718 "Problem: Blockrazor footer need to be updated."
Problem: currently the application footer taking huge space and there's no content.

![screenshot from 2018-06-12 22-06-41](https://user-images.githubusercontent.com/27463355/41304213-25ed825c-6e8d-11e8-8eac-be509ebb00b2.png)

Possible Solution: add appropriate footer text (ex: `Copyright {{year}} Blockrazor.org. All rights Reserved.`)

[2018-06-12 16:52] chamidu-supeshala commented on #1718
@blockrazorbot label "UI-UX"

[2018-06-12 16:52] chamidu-supeshala commented on #1717
@blockrazorbot label "UI-UX"

[2018-06-12 16:53] chamidu-supeshala commented on #1716
@blockrazorbot label "UI-UX"

[2018-06-12 16:57] chamidu-supeshala opened #1719 "Problem: Moderator sub menu items not functioning"
Problem: the sub menu items of moderator menu, not working. Nothing happens when clicked on them.

Solution: find the reason and fix it

[2018-06-12 17:02] chamidu-supeshala opened #1720 "Problem: [/addCoin] active header text of wizard isn't clear"
Problem: the active header text of wizard is not clear as the background is also dark

![screenshot from 2018-06-12 22-28-26](https://user-images.githubusercontent.com/27463355/41305412-76fe5d3a-6e90-11e8-9e90-8a3a012c34c5.png)

Solution: make text color of active header to white

@blockrazorbot label "UI-UX"

[2018-06-12 17:09] geekyd opened #1721 "Problem: extra margin on page when side menu is hidden"
Problem: extra margin on page when side menu is hidden

Solution: Find the reason & fix it.
![screen shot 2018-06-12 at 10 38 16 pm](https://user-images.githubusercontent.com/12807846/41305730-6f166d5a-6e91-11e8-8a09-456eee7ec442.png)
![screen shot 2018-06-12 at 10 38 28 pm](https://user-images.githubusercontent.com/12807846/41305731-6f4550ac-6e91-11e8-96cc-e685a09428cb.png)

[2018-06-12 17:09] geekyd commented on #1721
@blockrazorbot label "UI-UX"

[2018-06-12 17:09] chamidu-supeshala opened #1722 "Problem: [/new-problem] validation errors not shown"
Problem: when adding a new problem, feature request or question, the backend validation errors not displayed in UI. (only shown in console)

Solution: Highlight and Show` inline `error messages

[2018-06-12 17:13] geekyd opened #1723 "Problem: unequal size of icons in header"
Problem: unequal size of icons in header
![screen shot 2018-06-12 at 10 41 53 pm](https://user-images.githubusercontent.com/12807846/41305897-f71a86b4-6e91-11e8-8068-030e129303c0.png)

Solution: make the size of icons equal

[2018-06-12 17:13] chamidu-supeshala opened #1724 "Problem: [/exchanges] page has large gap at top"
Problem: top margin/padding of [/exchanges] page is too large.
Solution: use same common class/margin/padding as other pages

@blockrazorbot label "UI-UX"

[2018-06-12 17:13] geekyd commented on #1723
@blockrazorbot label "UI-UX"

[2018-06-12 17:14] chamidu-supeshala commented on #1721
Hey @geekyd, this issue, already fixed in #1715 (which is yet to merge)

[2018-06-12 17:15] geekyd opened #1725 "Problem: user is able to create empty features in /currency/:x"
Problem: user is able to create empty features /currency/:x

Solution: Add validation for the feature

[2018-06-12 17:16] geekyd commented on #1721
@chamidu-supeshala Thanks for the update.

[2018-06-12 17:16] #1721 closed

[2018-06-12 17:22] geekyd commented on #1725
@blockrazorbot claim

[2018-06-12 17:58] geekyd commented on #1725
fixed in #1726

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-12 18:06] chamidu-supeshala commented on #1716
@blockrazorbot claim

[2018-06-12 18:32] chamidu-supeshala commented on #1716
fixed #1727
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-12 18:33] chamidu-supeshala commented on #1717
@blockrazorbot claim

[2018-06-12 18:42] chamidu-supeshala commented on #1717
fixed #1728
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-12 18:51] chamidu-supeshala commented on #1720
@blockrazorbot claim

[2018-06-12 18:52] chamidu-supeshala commented on #1720
fixed #1729
@blockrazorbot label "done"

[2018-06-12 18:53] chamidu-supeshala commented on #1720
@blockrazorbot remove "in progress"

[2018-06-12 19:52] chamidu-supeshala commented on #1719
@blockrazorbot claim

[2018-06-12 19:57] chamidu-supeshala opened #1730 "Problem: [/moderator/changedCurrencies/] console error when loading the page"
Problem: following error occurs when accessing 'proposed changes' moderator page

![screenshot from 2018-06-13 01-25-58](https://user-images.githubusercontent.com/27463355/41313930-dd845682-6ea8-11e8-98f9-6f97b921e685.png)

[2018-06-12 20:02] chamidu-supeshala commented on #1719
fixed in #1731
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-12 20:08] chamidu-supeshala commented on #1730
@blockrazorbot claim

[2018-06-12 20:22] chamidu-supeshala commented on #1730
fixed #1732
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-12 20:22] chamidu-supeshala commented on #1730
@blockrazorbot label "done"

[2018-06-12 20:23] chamidu-supeshala commented on #1730
@blockrazorbot remove "in progress"

[2018-06-12 20:31] chamidu-supeshala commented on #1724
@blockrazorbot claim

[2018-06-12 20:45] chamidu-supeshala commented on #1724
fixed #1733
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-13 02:56] gazhayes opened #1734 "Problem: tests are failing"
Problem: tests are failing

ping @anbud

[2018-06-13 04:57] Ayanrocks commented on #1724
If its done,you should close the issue

[2018-06-13 04:57] Ayanrocks commented on #1730
Close the issue

[2018-06-13 07:58] anbud commented on #1734
@blockrazorbot claim

[2018-06-13 19:01] geekyd commented on #1244
Fixed in #1736.

@blockrazorbot label "done"

[2018-06-13 19:01] geekyd commented on #1244
@blockrazorbot remove "in progress"

[2018-06-13 20:59] geekyd commented on #1714
@blockrazorbot claim

[2018-06-13 21:01] geekyd commented on #1714
fixed #1737
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-13 21:02] geekyd commented on #1723
@blockrazorbot claim

[2018-06-13 21:41] geekyd commented on #1723
fixed #1738
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-13 21:41] #1714 closed

[2018-06-13 21:43] geekyd commented on #1722
@blockrazorbot claim

[2018-06-13 22:45] geekyd commented on #1722
fixed #1739
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-14 02:53] #1723 closed

[2018-06-14 03:28] #1734 closed

[2018-06-14 03:48] #1716 closed

[2018-06-14 03:48] #1717 closed

[2018-06-14 03:48] #1719 closed

[2018-06-14 03:48] #1720 closed

[2018-06-14 03:49] #1722 closed

[2018-06-14 03:50] #1724 closed

[2018-06-14 03:50] #1730 closed

[2018-06-14 07:23] samuelralak opened #1740 "Problem: blockrazor.org server unreachable"
Problem: I cannot access blockrazor.org since yesterday and am honestly not certain if am the only one who is experiencing this. Am getting the following error message
[code]
ping @gazhayes @anbud

[2018-06-14 07:28] samuelralak commented on #1740
awesome 👍

[2018-06-15 16:56] samuelralak opened #1741 "Problem: [/login] Create an account link cannot be seen"
Problem: Create account link in login page is not visible.

Solution: change font color of link in login page

[2018-06-15 16:57] samuelralak opened #1742 "Problem: [/sign up] Sign in link on isn't seen"
Problem: the sign in link on sign up page is not visible.

Solution: change font color of link.

[2018-06-15 17:00] samuelralak opened #1743 "Problem: [/ratings] bad UI/UX on ratings page"
Problem: elements on ratings page currently look dull and not properly formatted.

Solution: use CoreUI theme to improve page UI and update styling.

[2018-06-15 17:31] MadanBhandari commented on #1742
@samuelralak are you working on this ? I wanna get back to this project and this is easiest to re-start :wink:

[2018-06-15 17:32] samuelralak commented on #1742
@MadanBhandari knock yourself out chief 👍

[2018-06-15 17:39] MadanBhandari commented on #1742
@blockrazorbot label done

[2018-06-15 17:41] MadanBhandari commented on #1742
@samuelralak Now we are using CoreUI right ? Anything I need to keep in mind ?

[2018-06-15 17:41] samuelralak commented on #1694
@blockrazorbot remove "in progress"

[2018-06-15 17:41] samuelralak commented on #1694
@blockrazorbot label "done"

[2018-06-15 17:44] samuelralak commented on #1742
@MadanBhandari yes sir, thats correct. You just need to be familiar with the CoreUI elements `https://coreui.io/demo/#main.html` and before adding extra css rules, first confirm whether or not you can actually do it with the existing css provided by CoreUI.

[2018-06-15 17:47] MadanBhandari commented on #1742
@samuelralak Thanks !!! I will ask you, in case I need any help :)

[2018-06-15 17:54] MadanBhandari commented on #1741
Isn't this same #1744 ?

[2018-06-15 17:55] samuelralak commented on #1741
same solution should apply for both pages

[2018-06-15 17:56] MadanBhandari commented on #1741
@blockrazorbot label "done"

[2018-06-15 17:57] MadanBhandari commented on #1741
@samuelralak  blockrazorbot isn't working or It takes time to update ?

[2018-06-15 17:57] MadanBhandari commented on #1742
@blockrazorbot label "done"

[2018-06-15 18:06] samuelralak opened #1746 "Problem: [/ratings] user not credited with krazor when a question is answered"
Problem: krazor reward is not credited to the user wallete when they answer ratings questions.

[2018-06-15 18:06] MadanBhandari opened #1747 "Problem : Footer has too much black space"
Solution : Remove extra margin from footer container.

Question : What we will show on footer ? Like links for About, Privacy Policy & Licence Info ? Or something else ?

ping @gazhayes @samuelralak

[2018-06-15 18:06] samuelralak commented on #1746
@blockrazorbot claim

[2018-06-15 18:09] #1741 closed

[2018-06-15 18:09] #1742 closed

[2018-06-15 18:10] MadanBhandari opened #1748 "Problem : [/] Price doesn't have currency symbol and sometimes black"
Solution : Add currency symbol before (or after) price. And show N/A (Not Available) in case pricing is not available.

[2018-06-15 18:13] samuelralak commented on #1694
@anbud #1745 reverses all changes made by #1675. This doesn't fix the `add-problem` krazor balance issue. Will a have fix for that in a different PR

[2018-06-15 18:15] MadanBhandari commented on #1748
@blockrazorbot label "UI-UX"

[2018-06-15 18:15] MadanBhandari commented on #1747
@blockrazorbot label "UI-UX"

[2018-06-15 18:29] samuelralak opened #1749 "Problem: missing link to faq section on header"
Problem: The link to `/faq` is currently missing. It used to be around but have been left out during the migration to CoreUI.

Solution: Add `/faq` link to the header template.

[code]

[2018-06-15 18:52] samuelralak opened #1750 "Problem: [/new-problem] krazor balance not being displayed"
Problem: krazor balance does not show. It expects a numerical value as balance but a string is being given instead

Solution: check if balance is string and convert it to a number (float).

[2018-06-15 18:52] samuelralak commented on #1750
@blockrazorbot claim

[2018-06-15 18:53] samuelralak commented on #1750
after #1745 is merged, this solution will work for balance values that may still be stored as strings

[2018-06-15 19:02] samuelralak commented on #1750
fixed in #1751

[2018-06-15 19:02] samuelralak commented on #1750
@blockrazorbot remove "in progress"

[2018-06-15 19:03] samuelralak commented on #1750
@blockrazorbot label "done"

[2018-06-15 19:49] samuelralak commented on #1747
possibly related to #1718

[2018-06-15 20:39] samuelralak commented on #1749
done in #1752

[2018-06-15 20:39] samuelralak commented on #1749
@blockrazorbot claim

[2018-06-15 20:40] samuelralak commented on #1749
@blockrazorbot remove "in progress"

[2018-06-15 20:40] samuelralak commented on #1749
@blockrazorbot label "done"

[2018-06-15 21:00] samuelralak opened #1753 "Problem: [/new-problem] cannot create a new problem"
Problem: new problems cannot be created, submitting the new-problem form yields the below error in the console.

<img width="1680" alt="screen shot 2018-06-15 at 11 59 34 pm" src="https://user-images.githubusercontent.com/4476552/41489311-344d464e-70f8-11e8-8e8e-7f6cbfd55df8.png">

[2018-06-15 21:00] samuelralak commented on #1753
@blockrazorbot claim

[2018-06-15 21:17] samuelralak commented on #1753
@blockrazorbot remove "in progress"

[2018-06-15 21:17] samuelralak commented on #1753
@blockrazorbot label "done"

[2018-06-15 21:17] samuelralak commented on #1753
done in #1754

[2018-06-15 21:18] samuelralak commented on #1743
@blockrazorbot claim

[2018-06-16 04:30] AshHimself commented on #1713
Fairly certain this is now resolved.

[2018-06-16 04:30] #1713 closed

[2018-06-16 04:32] AshHimself commented on #1718
@blockrazorbot claim

[2018-06-16 04:33] AshHimself commented on #1747
Yah this is related let's close this issue.

[2018-06-16 04:50] AshHimself commented on #1718
Fixed in # 1755
@blockrazorbot label "done"

[2018-06-16 04:50] AshHimself commented on #1718
@blockrazorbot done

[2018-06-16 04:56] AshHimself commented on #1747
Fixed in #1755
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-06-16 04:58] AshHimself commented on #1748
@blockrazorbot claim

[2018-06-16 09:17] #1718 closed

[2018-06-16 09:19] #1753 closed

[2018-06-16 09:19] #1750 closed

[2018-06-16 20:53] geekyd opened #1756 "Problem: footer conatins core UI context instead of blockrazor"
Problem: footer conatins core UI context instead of blockrazor

![screen shot 2018-06-17 at 2 21 15 am](https://user-images.githubusercontent.com/12807846/41502348-711906ac-71d5-11e8-81df-8403d3611724.png)

Solution: remove context of core UI from the footer & add blockkrazor

[2018-06-16 20:53] geekyd commented on #1756
@blockrazorbot label "UI-UX"

[2018-06-16 20:55] geekyd opened #1757 "Problem: same color used for problem & question in problems"
Problem: same color used for problem & question in problems

Solution: Use different colors for the badges in problems.

[2018-06-16 20:56] geekyd commented on #1757
@blockrazorbot label "UI-UX"

[2018-06-16 20:58] geekyd opened #1758 "Problem: misaligned text in /profile page"
Problem: misaligned text in /profile page
![screen shot 2018-06-17 at 2 26 50 am](https://user-images.githubusercontent.com/12807846/41502374-0d6888ca-71d6-11e8-99c3-18636f1b7a20.png)

Solution: left align the text on all the tabs in /profile page

[2018-06-16 20:58] geekyd commented on #1758
@blockrazorbot label "UI-UX"

[2018-06-16 21:02] geekyd opened #1759 "Problem: auction form not working in /currencyAuction"
Problem: auction form not working in /currencyAuction

Solution: Add bootstrap styles validations & make the form functional.

[2018-06-16 21:40] geekyd opened #1760 "Problem: no way to notify user of assigned problem"
Problem: no way to notify user of assigned problem.

Solution: add a notification count to the get help section.

Steps to reproduce:
- Visit get help
- Claim a problem

[2018-06-17 00:37] gazhayes commented on #1756
Add: "The content of this page is owned by Blockrazor and Contributors. It is licensed under Creative Commons Attribution-ShareAlike 3.0 License"

[2018-06-17 00:42] #1244 closed

[2018-06-17 00:44] AshHimself commented on #1759
@blockrazorbot claim

[2018-06-18 19:52] anbud commented on #1760
@blockrazorbot claim

[2018-06-18 20:44] anbud commented on #1760
Done in #1762.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-18 20:47] anbud commented on #1756
@blockrazorbot claim

[2018-06-18 20:53] anbud commented on #1756
Done in #1763.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-18 20:55] anbud commented on #1758
@blockrazorbot claim

[2018-06-18 20:58] anbud commented on #1758
Done in #1764.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-20 05:17] Ayanrocks commented on #1760
Kindly close all issues marked done.

[2018-06-20 06:02] #1760 closed

[2018-06-20 06:02] #1758 closed

[2018-06-20 06:02] #1756 closed

[2018-06-20 07:40] Ayanrocks opened #1765 "Small UI improvements required in the wallet page"
Problem: Small UI improvements required in the wallet page

Solution: Need to fix some paddings

[2018-06-20 07:40] Ayanrocks commented on #1765
@blockrazorbot  claim

[2018-06-20 07:41] Ayanrocks commented on #1765
@blockrazorbot label "UI/UX"

[2018-06-20 07:47] Ayanrocks commented on #1765
@blockrazorbot label "done"

[2018-06-21 02:58] #1765 closed

[2018-06-21 03:03] Ayanrocks commented on #1747
Please close the issue.

[2018-06-21 03:40] Ayanrocks opened #1767 "Need minor ui improvements v2"
Need Minor UI improvements v2

[2018-06-21 03:40] Ayanrocks commented on #1767
@blockrazorbot claim

[2018-06-21 03:43] #1767 closed

[2018-06-21 03:44] gazhayes commented on #1767
What's the specific problem?

[2018-06-21 03:46] Ayanrocks commented on #1767
The share button on side bar has an icon that is not showing.

[2018-06-21 03:46] Ayanrocks commented on #1767
@blockrazorbot label "done"

[2018-06-21 03:49] gazhayes commented on #1767
You have to log an issue describing the actual problem, and your pull request has to contain a valid patch.

[2018-06-21 03:54] chamidu-supeshala commented on #1757
@blockrazorbot claim

[2018-06-21 04:16] chamidu-supeshala commented on #1757
fixed #1769
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-21 04:23] chamidu-supeshala opened #1770 "Problem: Some links in the sidebar does not inherit core-ui styles"
Problem: Get Help link in the sidebar does not inherit core-ui styles

![screenshot from 2018-06-21 09-48-33](https://user-images.githubusercontent.com/27463355/41697895-ce4cb84e-7538-11e8-9106-5dfe686a312f.png)

Solution: check why GetHelp nav link styles broken and add the relevant css classes to the all other unstyled links

[2018-06-21 04:38] Ayanrocks commented on #1767
I have logged this issue and will open another one for that additional problem and my pr has a patch

[2018-06-21 04:41] gazhayes commented on #1767
The PR did not contain a valid patch.

[2018-06-21 05:05] chamidu-supeshala commented on #1770
fixed #1771
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-06-21 07:16] #1749 closed

[2018-06-22 09:24] #1770 closed

[2018-06-26 06:36] Ayanrocks opened #1772 "Problem: Need to fix UI in the Home page and In the SideBar"
Problem: Need to fix the Ui in home page and in the sidebar share button

Solution: Fix the input element, Search results and Add ICO Button. Fix UX of search text not visible. Fixing the Share button as the icon is not displaying in the sidebar by removing it

[2018-06-26 06:36] Ayanrocks commented on #1772
@blockrazorbot label "UI-UX"

[2018-06-26 06:36] Ayanrocks commented on #1772
@blockrazorbot claim

[2018-06-26 06:40] Ayanrocks commented on #1772
@blockrazorbot label "done"

[2018-06-26 17:56] #1747 closed

[2018-06-26 18:06] MadanBhandari opened #1774 "Problem : [ / ] Currency container is too small"
Problem : Currency container is too small, only one card on row.

![screenshot from 2018-06-26 23-34-20](https://user-images.githubusercontent.com/6429311/41930726-8621e5de-7999-11e8-8b3b-afbb773c8107.png)

Solution : Fix layout, check responsive as well. Height should be auto, since this is an unlimited scroll page.

[2018-06-26 18:07] MadanBhandari commented on #1774
@blockrazorbot label "UI-UX"

[2018-06-26 18:07] MadanBhandari commented on #1774
@blockrazorbot claim

[2018-06-26 18:16] MadanBhandari opened #1775 "Problem : [ / ] Filter UX is not good"
Problem : Filter currency UX is not good.

My Suggestions :

1. This can be on same page, no need to open in modal. Later, if we start proving more options to filter then we can use modal, currencty it's not necessary.
2. Show selected filter options on home route

cc @AshHimself @gazhayes @samuelralak

[2018-06-26 18:16] MadanBhandari commented on #1775
@blockrazorbot label "UI-UX"

[2018-06-26 18:41] MadanBhandari opened #1776 "Problem : [ / ] Currency card Layout is broken"
Problem : [ / ] Currency card Layout is broken
Solution :

1. Top : Fix Layout of Currency Name and Symbol
2. Bottom : Fix Layout of Price, CPC and CPT

Related #1774

[2018-06-26 18:41] MadanBhandari commented on #1776
@blockrazorbot label "UI-UX"

[2018-06-26 18:41] MadanBhandari commented on #1776
@blockrazorbot claim

[2018-06-26 18:51] MadanBhandari commented on #1776
@blockrazorbot label "done"

Please check and close the issue.

[2018-06-26 18:51] MadanBhandari commented on #1774
@blockrazorbot label "done"

Please check and close the issue.

[2018-06-26 19:08] MadanBhandari opened #1778 "Problem : Footer Layout need to be fix"
Problem : Footer Layout need to be fix

Solution : Make with 100%, make text center and keep inside `<main>`, so that there won't be any unnecessary scroll.

[2018-06-26 19:10] MadanBhandari commented on #1778
@blockrazorbot label "UI-UX"
@blockrazorbot claim

[2018-06-26 23:48] #1757 closed

[2018-06-27 07:35] #1774 closed

[2018-06-27 11:18] MadanBhandari commented on #1778
Fixed in #1779  , Please check and close the issue.

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-06-27 16:40] #1772 closed

[2018-06-27 16:41] Ayanrocks commented on #1740
is it working now?

[2018-06-27 16:58] #1778 closed

[2018-07-02 08:07] #1776 closed

[2018-07-02 08:25] MadanBhandari opened #1780 "Problem : Duplicate menu to top navigation"
Problem : There are duplicate menu on top navigation, eg. notifications & wallet.

Solution : Keep single icon (and links) for notifications and wallet.

[2018-07-02 08:29] MadanBhandari opened #1781 "Problem : Top navigation is breaking on mobile"
Problem : Top navigation is breaking on mobile (small screens)
Solution : Remove extra icons, keep max 2 icons on top navigation at right.

Move FAQs on side navigation (maybe ?)

[2018-07-02 08:30] MadanBhandari commented on #1781
@blockrazorbot label "UI-UX"
@blockrazorbot claim

[2018-07-02 08:30] MadanBhandari commented on #1780
@blockrazorbot label "UI-UX"
@blockrazorbot claim

[2018-07-02 09:17] MadanBhandari commented on #1781
Fixed in #1782 , Please check and close the issue.

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-07-02 09:17] MadanBhandari commented on #1780
Fixed in #1782 , Please check and close the issue.

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-07-02 09:19] MadanBhandari commented on #1775
@blockrazorbot claim

[2018-07-03 10:44] #1780 closed

[2018-07-03 10:44] #1781 closed

[2018-07-04 07:27] Ayanrocks opened #1783 "Problem: Uploading Image in Step 5 of Bounty challenge causes Internal server error"
Problem: Uploading Image in Step 5 of Bounty challenge causes Internal server error[500]

[2018-07-04 08:07] gazhayes commented on #1783
This works in production. On development you need to have the correct directory created and also need graphics magic installed. It probably won't ever work on Windows environments.

[2018-07-05 05:22] #1783 closed

[2018-07-08 09:39] #1694 closed

[2018-07-08 13:17] AshHimself commented on #332
@gazhayes we can close this if you want mate.

[2018-07-09 05:24] Ayanrocks opened #1784 "Problem: Messed up wallet page cards"
Problem: Someone messed up the krazor card in wallet page which increases its size and breaks the disalignment.
Solution: Reduce the img size to 100px.

[2018-07-09 05:51] Ayanrocks opened #1786 "List of features to add"
BlockRazor has now reached a pretty good MVP stage so I thought it will be best to maintain a thread to track features which can be added to BlockRazor next. Everyone is welcomed to post their suggestions and features to add to Blockrazor.

Lets make blockchain easy!!!

[2018-07-09 05:56] Ayanrocks commented on #1784
@blockrazorbot  label "done"

[2018-07-09 05:57] Ayanrocks commented on #1784
@blockrazorbot remove "in progress"
@blockrazorbot label "UI/UX"

[2018-07-09 06:31] AshHimself commented on #1748
Fixed in #1787
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-07-09 06:57] Ayanrocks commented on #1759
@blockrazorbot  remove label "in progress"

[2018-07-09 06:59] Ayanrocks commented on #1759
@blockrazorbot remove "in progress"

[2018-07-10 04:20] #1784 closed

[2018-07-10 04:56] Ayanrocks opened #1788 "Problem: Meteor undefined in imports/api/utilities.js file"
Problem: Meteor is undefined in imports/api/utilities.js file.

Solution: Add import {Meteor} from 'meteor/meteor' to the top.

[2018-07-10 04:57] Ayanrocks commented on #1788
@blockrazorbot claim

[2018-07-10 11:10] MadanBhandari commented on #1748
What about showing NA (Not Available) when price is not available instead of 0.00, 0.00 can be refereed as as 0 value (free).

And everything has price, I don't think price 0.00 make sense here. What you think ?

[2018-07-10 11:15] AshHimself commented on #1748
Makes sense to me... bit of an oversight on my side.

[2018-07-10 12:34] #1746 closed

[2018-07-10 13:02] samuelralak commented on #1743
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

fixed in #1789

[2018-07-10 13:25] geekyd opened #1790 "Problem: missing spaces in footer text."
Problem: missing spaces in footer text.
![screen shot 2018-07-10 at 6 55 13 pm](https://user-images.githubusercontent.com/12807846/42512654-d09f3f10-8472-11e8-98d8-de1645a7c022.png)

Solution: add missing spaces in the footer text.

[2018-07-10 14:27] geekyd opened #1792 "Problem: multiple notifiers for bounties in header"
Problem: multiple notifiers for bounties in header
![screen shot 2018-07-10 at 7 55 17 pm](https://user-images.githubusercontent.com/12807846/42516326-6e999e6a-847b-11e8-9d78-6fab2cff01c8.png)

Solution: there should be only one icon for notification of bounties in the header

[2018-07-10 14:35] geekyd commented on #1792
Fixed in #1793
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-07-10 14:35] geekyd commented on #1792
@blockrazorbot claim

[2018-07-10 14:36] geekyd commented on #1792
@blockrazorbot claim

[2018-07-10 14:36] geekyd commented on #1792
Fixed in #1793
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-07-10 17:00] MadanBhandari commented on #1775
@gazhayes I need one clarification : Genesis Timestamp is just a date right ? without time, like 2015/08/24 ? Or something else ?

[2018-07-10 18:40] geekyd opened #1794 "Problem: elements on some pages are misaligned"
Problem: elements on some pages are misaligned
![screen shot 2018-07-10 at 11 19 25 pm](https://user-images.githubusercontent.com/12807846/42530403-b32d8212-849e-11e8-946b-336882159675.png)
![screen shot 2018-07-10 at 11 20 31 pm](https://user-images.githubusercontent.com/12807846/42530405-b36ab862-849e-11e8-827b-9d13ec673a49.png)

Solution: make sure that the design is consistent & properly align

[2018-07-11 12:36] samuelralak commented on #1743
@blockrazorbot label "done"

[2018-07-11 12:56] AshHimself opened #1795 "problem: bad UX when search from home page"
Problem: bad UX when search from home page

Solution: Add search input to header

[2018-07-11 12:57] AshHimself opened #1796 "problem: sometimes it hard to know where you are on the site"
Problem:  sometimes it hard to know where you are on the site

Solution: add the coreUI breadcrumbs element into the layout.

[2018-07-11 12:58] AshHimself opened #1797 "problem: bad UX on user activity attributes"
Problem: Its unclear and not obvious of the user activity on the home page

Solution: Redesign this element and make it more obvious and not just black text.

[2018-07-11 12:58] samuelralak commented on #1796
Can we deprecate page headers in favor of this?

On Wed, 11 Jul 2018 at 15:57, Ash Smith <notifications@github.com> wrote:

[2018-07-11 12:59] AshHimself opened #1798 "problem: no explanation on some pages"
Problem: some pages have no explanation on what the page is and its purpose. e.g. exchanges

Solution: not sure, would need some thinking as a team.

[2018-07-11 13:01] AshHimself opened #1799 "problem: bad UX in the menu"
Problem: For an unregistered user the menu is confusing and complex.

Solution: The menu needs a little cleanup and restructured to offer a better UX. Not sure entirely but some ideas are to;
- Fix the drop down to be the coreUI theme
- Move FAQ to possibly the footer
- Hide any other menu items that shouldn't be visible before logging in.

[2018-07-11 13:02] AshHimself commented on #1796
I think so mate.. looks a lot nicer

[2018-07-11 13:08] samuelralak commented on #1796
I totally agree

[2018-07-12 07:04] Ayanrocks commented on #1788
@blockrazorbot remove "in progress"
@blockrazorbot  label "done"

[2018-07-12 07:12] AshHimself commented on #1799
@blockrazorbot claim

[2018-07-12 12:06] AshHimself commented on #1799
@gazhayes did a first pass on this. I think its a lot better. I think what's missing now is the site explanation to really sell to first users on what blockrazer is. Its like you need a landing page prior to the actual site. Let's use segment as an example;

First time will see this, straight away you know what the site is and its purpose.
![image](https://user-images.githubusercontent.com/148682/

[2018-07-12 12:07] gazhayes commented on #1799
Yeah I agree, its really not clear what it is right now

[2018-07-15 03:39] AshHimself commented on #1795
@blockrazorbot claim

[2018-07-15 05:05] AshHimself commented on #1795
Fixed in #1802
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-07-15 13:22] #1795 closed

[2018-07-15 13:22] #1792 closed

[2018-07-15 13:22] #1790 closed

[2018-07-15 13:22] #1788 closed

[2018-07-15 13:22] #1748 closed

[2018-07-15 13:22] #1743 closed

[2018-07-15 13:22] #1712 closed

[2018-07-23 03:06] #1786 closed

[2018-07-29 10:13] #1696 closed

[2018-07-29 10:13] #1740 closed

[2018-07-29 10:16] gazhayes commented on #1775
Sorry I didn't see this earlier.

Genesis timestamp is just a date, but it's stored in epoch time (unix time).

[2018-07-29 10:17] samuelralak commented on #1740
Just noticing this. Blockrazor.org is back up

On Sun, 29 Jul 2018 at 13:13, Gareth Hayes <notifications@github.com> wrote:

[2018-07-29 10:18] gazhayes commented on #1796
Yep I agree, at the very least it's worth a try.

[2018-07-29 10:18] gazhayes commented on #1798
These should be logged individually to make it easier to discuss and fix.

[2018-07-29 10:19] gazhayes commented on #1799
@AshHimself do you remember if you sent a PR for this one?

[2018-07-30 06:00] anbud commented on #1759
@blockrazorbot claim

[2018-07-30 08:58] AshHimself commented on #1799
Nah sorry mate been out of country on third world internet. I'm back online from tomorrow. As for a PR, I think it needs a little discussion before I dive into it. My original thoughts was to have the home page changed a lot to advertise what blockrazor is in lamens terms as apposed to just giving the user mass amounts of graphs on the get go.

What are your thoughts?

[2018-07-30 09:12] gazhayes commented on #1799
Yeah I agree with that approach. I was thinking of using a modal but people automatically close those things in general so a more traditional landing page might be needed. What do you think?

[2018-07-31 10:49] AshHimself commented on #1799
I'm thinking more like say... https://tron.network/ (crappy example but you get my idea of RIGHT IN YOUR FACE EXAMPLE OF WHAT BLOCKRAZOR DOES)

Good starting point in bootstrap (https://blackrockdigital.github.io/startbootstrap-heroic-features/)

Could have say a menu option "Explore" to then view some charts without signing up etc.

[2018-08-01 22:37] anbud opened #1803 "Problem: Blank screen when developing on Windows"
Problem: When building Blockrazor locally on the Windows platform, I only get a blank screen when I try to open `localhost:3000`.

I thought it was related to dynamic imports, as it would show the following error after a minute or so:
`http.js?hash=8a08f913bc9ee45ce8aae2cd9cd201e542e61e68:231 POST http://localhost:3000/__meteor__/dynamic-import/fetch 0 ()
http.js?hash=8a08f913bc9ee45ce8aae2cd9cd20

[2018-08-04 04:04] AshHimself commented on #1799
@gazhayes - Thoughts? Want me to make a first pass at something and go from there?

[2018-08-04 04:05] AshHimself commented on #1796
@blockrazorbot claim

[2018-08-04 04:29] gazhayes commented on #1799
Yeah why not ;)

BTW I pinged on on the emurgolance repo but *you* should use emurgolance.org from august 1st  for tracking.

[2018-08-04 05:24] AshHimself commented on #1799
you got it mate.. is that for everything or just emurgo related?

On Sat, Aug 4, 2018 at 12:29 PM Gareth Hayes <notifications@github.com>
wrote:

[2018-08-04 05:34] gazhayes commented on #1799
For everything ;)

[2018-08-04 16:35] anbud commented on #1759
@blockrazorbot abandon

Unclaiming this one until I find a solution for #11.

[2018-08-05 09:35] AshHimself commented on #1796
@Fixed in #1804
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-08-05 10:35] AshHimself commented on #1803
Just you mate... all clear skies and sun shine in OSX.

[2018-08-05 10:36] #1796 closed

[2018-08-05 10:37] AshHimself opened #1805 "problem: bad UX on homepage for filter"
problem: bad UX on homepage for filter

solution: add the filter to the new header per the coreUI demo site to clear up the screen and make it completely obvious that filtering is possible therefore offer more value to the user.

[2018-08-05 10:37] AshHimself commented on #1805
@blockrazorbot claim

[2018-08-05 10:54] anbud commented on #1803
I wonder why it's only happening on this project, while others are working fine.

I'll have to try it on linux.

[2018-08-06 05:55] AshHimself commented on #1805
@gazhayes our bot broken?

[2018-08-06 11:00] AshHimself commented on #1805
@Fixed in #1806
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-08-06 11:01] AshHimself commented on #1797
@blockrazorbot claim

[2018-08-06 14:13] anbud commented on #1803
Got it working on WSL (Windows subsystem for Linux), but I'll leave this one open if somebody stumbles upon a solution.

[2018-08-06 14:14] AshHimself commented on #1803
I had no idea WSL even existed until you just told me :)

[2018-08-06 14:25] anbud commented on #1759
On it again.

[2018-08-06 16:40] anbud commented on #1759
Fixed in #1807.

[2018-08-06 16:50] anbud opened #1808 "Problem: Incorrect image paths on currency details page on production"
Problem: When you visit the currency details page (e.g. [Litecoin](https://blockrazor.org/currency/litecoin)), the console is spammed with errors related to invalid image paths, all static images are returning 404.

![404](https://i.imgur.com/6O3HGmw.png)

This is not happening on localhost, so it has to do something with static resources on production.

Ping @gazhayes.

[2018-08-07 03:59] gazhayes commented on #1808
Ah yeah this is an issue in production, I'll fix it asap.

[2018-08-09 07:55] MadanBhandari commented on #1805
Is this same #1775 right ?

Sorry, I didn't get to worked on that.

[2018-08-13 07:59] #1799 closed

[2018-08-13 08:00] AshHimself opened #1810 "problem: scripts broken with new landing page"
Problem: scripts broken with new landing page

Solution: update scripts to reflect new UI changes

[2018-08-13 08:00] AshHimself commented on #1810
@blockrazorbot claim

[2018-08-13 08:01] AshHimself commented on #1808
I think this is breaking the new landing page image as well @gazhayes

[2018-08-13 08:03] gazhayes commented on #1808
It shouldn't be, can you dig deeper and verify?

[2018-08-13 08:07] AshHimself commented on #1808
Hmmmm

Any idea then why i'm getting 404 on https://blockrazor.org/images/bg-masthead.jpg

It was included in the PR https://github.com/Blockrazor/blockrazor/pull/1809/files

[2018-08-13 08:11] AshHimself commented on #1808
p.s. its working locally after I just merged master. Still looking.

[2018-08-13 08:16] gazhayes commented on #1808
Try moving it to /static instead

[2018-08-13 09:28] #1805 closed

[2018-08-13 10:18] AshHimself commented on #1810
@anbud does it really matter that this has to equal exactly 1? The local collection looks to be increment each time meteor starts in test mode which is failing the tests :/

`let localCurrencies = new LocalizableCollection('currenciesTest', 'fetchCurrencies')

describe('Localizable collections', function() {
	it('Always calls super while running on the server', function() {
        let id = localC

[2018-08-13 10:29] anbud commented on #1810
It doesn't matter at all, the only thing that matters is that it's greater than or equal to 1. Feel free to change it. :)

[2018-08-13 11:45] AshHimself commented on #1810
Fixed in #1810
@blockrazorbot label "done"
@blockrazorbot remove "in progress"
@blockrazorbot done

[2018-08-28 16:34] Ayanrocks opened #1814 "Rough Transitions on Homepage Icons"
Problem: The icons in the homepage have rough transitions and are not smooth
Solution: Add transition property to the icons with ease-in-out.

[2018-08-28 16:34] Ayanrocks commented on #1814
@blockrazorbot claim

[2018-08-28 16:53] Ayanrocks commented on #1814
@blockrazorbot label "UI-UX"

[2018-08-28 17:16] Ayanrocks commented on #1814
@blockrazorbot label "done"

[2018-08-28 17:19] Ayanrocks commented on #1814
Isn't blocrazorbot working? @gazhayes

[2018-08-28 17:27] anbud commented on #1814
Don't worry about it, it'll start working again soon, @gazhayes needs to move it to a new server.

[2018-08-29 16:48] #1814 closed

[2018-08-29 16:52] Ayanrocks opened #1816 "Homepage animations still not smooth enough"
Problem: The animations on icons has this wierd vibrations that need to be fixed

Solution: Maybe instead of increasing font size abruptly, scale the icon to animate smoothly.

[2018-08-29 16:52] Ayanrocks commented on #1816
@blockrazorbot claim

[2018-08-29 16:53] Ayanrocks commented on #1759
If its done, why not close the issue

[2018-08-30 00:26] #1759 closed

[2018-08-31 16:58] Ayanrocks commented on #1816
@blockrazorbot label "done"

[2018-09-01 02:50] gazhayes opened #1818 "problem: blockrazor is not multilingual"
Problem: blockrazor is not multilingual

Solution: not sure, hoping for a discussion ;)

[2018-09-01 07:11] anbud commented on #1818
[TAPi18n](https://github.com/TAPevents/tap-i18n), a key based translation engine for meteor, could be a perfect solution here. It's simple to use and implement, it uses json or yaml for translation files.

[2018-09-01 12:36] gazhayes commented on #1818
Yeah that's probably the best way to go. Feel like doing it?

[2018-09-01 12:37] AshHimself commented on #1818
Worth breaking this up by pages ? Fair bit of hard coding right ?

On Sat, 1 Sep 2018 at 8:36 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-09-01 12:40] gazhayes commented on #1818
Yeah, good idea. I guess do one page first, e.g. "currency detail page is not multilingual" and use that as a standard for people to follow when doing other pages.

[2018-09-01 12:52] anbud commented on #1818
Sure thing, I'll implement it on a couple of pages.

[2018-09-02 00:11] anbud commented on #1818
Implementation of TAPi18n on the first couple of pages (landing, home, and shared components (header, footer, ...)) is done in #1819.

As you can see, translation files have to be in the `i18n` folder and they have to have the `.i18n.json` or `.i18n.yaml` extension for JSON and YAML respectively. Before the extension is the language code (`en` for English, `fr` for French, `sr` for Serbian and so

[2018-09-02 12:51] anbud commented on #1818
I believe that individual folders in `/imports/ui/pages` are a nice way to divide the multilingual conversion work. So, here's the list of what needs to be converted to TAPi18n:

- [ ] activityLog
- [ ] addCoin
- [ ] addHashpower
- [ ] allHashaverage
- [ ] allHashpower
- [ ] auctions
- [ ] bounties
- [ ] codebase
- [ ] communities
- [ ] compareCurrencies
- [ ] currencyDetail
- [ ] developers
- [ ]

[2018-09-02 12:52] anbud opened #1821 "Problem: Moderator section is not multilingual"
Problem: Moderator section is not multilingual

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-02 15:30] anbud commented on #1821
Done in #1822.

[2018-09-02 15:32] anbud opened #1823 "Problem: Currency detail is not multilingual"
Problem: Currency detail is not multilingual

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-02 15:33] #1821 closed

[2018-09-02 17:25] anbud commented on #1823
Done in #1824.

[2018-09-02 17:25] #1823 closed

[2018-09-02 20:48] anbud opened #1825 "Problem: Problems section is not multilingual"
Problem: Problems section is not multilingual

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-03 12:18] anbud commented on #1825
Done in #1826.

[2018-09-03 12:18] #1825 closed

[2018-09-03 12:19] anbud opened #1827 "Problem: Auctions section is not multilingual"
Problem: Auctions section is not multilingual

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-03 13:52] anbud commented on #1827
Done in #1828.

[2018-09-03 13:52] #1827 closed

[2018-09-03 13:53] anbud opened #1829 "Problem: Ratings related pages are not multilingual"
Problem: Ratings related pages (ratings, communities, codebase) are not multilingual

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-03 21:00] anbud commented on #1829
Done in #1828.

[2018-09-03 21:00] #1829 closed

[2018-09-03 21:04] anbud opened #1831 "Problem: Bounties are not multilingual"
Problem: Bounties are not multilingual

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-03 21:31] anbud commented on #1831
Done in #1832.

[2018-09-03 21:31] #1831 closed

[2018-09-03 21:35] anbud opened #1833 "Problem: Hashpower related pages are not multilingual"
Problem: Hashpower related (addHashpower, allHashpower, allHashaverage) pages are not multilingual

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-03 22:12] anbud commented on #1833
Done in #1834.

[2018-09-03 22:12] #1833 closed

[2018-09-03 22:34] anbud opened #1835 "Problem: Add coin page is not multilingual"
Problem: Add coin page is not multilingual

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-03 23:28] anbud opened #1837 "Problem: User related pages are not multilingual"
Problem: User related pages (_userProfile, userPendingCurrencies, editProfile, signIn, signUp_) are not multilingual.

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-04 02:32] #1816 closed

[2018-09-04 02:45] Ayanrocks opened #1838 "Unable to click Add it on Bounty Challenge"
Problem: Unable to click 'Add it' on the bounty challenge for hash power data (/add-hashpower)

Solution: Either the button is broken or need to fix show some sort of error message if something is wrong with the form.

[2018-09-04 02:46] Ayanrocks commented on #1794
is this fixed?

[2018-09-04 12:10] anbud commented on #1837
Done in #1839.

[2018-09-04 12:10] #1837 closed

[2018-09-04 12:12] anbud opened #1840 "Problem: Remaining pages are not multilingual"
Problem: Remaining pages (_activityLog, compareCurrencies, developers, distribution, exchanges, prices, suspended, transactions, wallet_) are not multilingual. Since all of them are quite small, there's no need to divide them into separate issues.

Solution: Convert templates from literal strings to TAPi18n translation keys.

[2018-09-04 13:29] anbud commented on #1840
Done in #1841.

[2018-09-04 13:29] #1840 closed

[2018-09-04 13:46] anbud commented on #1838
I'll take a look.

[2018-09-04 13:59] anbud commented on #1838
It's working on localhost, and it seems that the uploader is broken on production.
@gazhayes, it's probably a permission error or something on the server, it can't save the image. It may be related to #1808.

[2018-09-04 14:03] anbud opened #1842 "Problem: Server error messages are not multilingual"
Problem: Server error messages are not multilingual.

Solution: Convert error messages to TAPi18n translation keys.

[2018-09-04 14:47] gazhayes commented on #1838
Ok I'll check it out

[2018-09-04 20:53] anbud commented on #1842
Done in #1843.

[2018-09-04 20:53] #1842 closed

[2018-09-04 23:19] samuelralak opened #1844 "problem: [/hashpower] bad UI-UX"
Problem: The hashpower isn't styled and therefore looks too plain, the `Add new data`, `Averages` and `Flagged data` look more like plain texts than actual links

[2018-09-06 03:05] Ayanrocks opened #1845 "Adding image to the add coin bounty gives error 500"
Problem: In step 5 of the add coin bounty page, while uploading image gives internal server error 500

Solution: The image is not uploading I guess, so need to change the code for image uploading.

[2018-09-06 03:13] gazhayes commented on #1845
this is probably an issue on the production server itself, I will check it out

[2018-09-06 06:42] MadanBhandari opened #1846 "Problem : Broken link for get started"
Solution : Update link to `/login` from `/signin`

[2018-09-06 06:42] MadanBhandari commented on #1846
@blockrazorbot claim

[2018-09-06 06:59] MadanBhandari opened #1848 "Problem : Currency amount is not formatted"
Problem : Currencies amount are not formatted (eg. USD should only has 2 points after decimal and Bitcoin should have 8).

Solution : Format number based in their currency.

[2018-09-06 07:00] MadanBhandari commented on #1848
@blockrazorbot claim

[2018-09-06 07:05] MadanBhandari opened #1849 "Problem : Home page unnecessary horizontal scroll"
Problem : Home page for not logged in users has unnecessary horizontal scroll

Solution : Figure out what cause that scroll, that should be minor css issue and Fix

[2018-09-06 07:06] MadanBhandari commented on #1849
@blockrazorbot label "UI-UX"

[2018-09-06 07:12] MadanBhandari commented on #1846
This is Fixed, Please check and close.

[2018-09-06 07:12] MadanBhandari commented on #1849
This is Fixed, Please check and close.

[2018-09-06 07:15] MadanBhandari opened #1851 "Problem : Breadcrumbs are not clickable"
Problem : Breadcrumbs are not clickable
Solution : They should be clickable, make breadcrumb `<a> `elements and pass `url` on `href`.

[2018-09-06 07:18] MadanBhandari commented on #1798
What about adding just few lines to describe and link to FAQs section for detailed information on that particular topic ?

[2018-09-06 08:05] gazhayes commented on #1808
@emurgobot claim

[2018-09-06 10:38] MadanBhandari opened #1854 "Problem : Landing page content (UI-UX)"
**Problem :** Landing page content
**Solution :**

- Add all features of project (like bounties, wallet etc.)
- Make banner more elegant, add background image or maybe some animating stuff

We need something appealing user to contribute data, any ideas ?

[2018-09-06 10:40] MadanBhandari commented on #1854
@emurgobot claim
@emurgobot label "UI-UX"

[2018-09-06 10:46] MadanBhandari commented on #1848
@emurgobot label "in progress"

[2018-09-06 11:14] gazhayes commented on #1854
I'm not very good at this stuff, but I think we need a "call to action". There's some good info on Google but maybe you're better than me at this stuff ;)

[2018-09-06 11:14] gazhayes commented on #1854
@emurgobot claim

[2018-09-06 11:16] gazhayes commented on #1854
@emurgobot claim

[2018-09-06 11:40] MadanBhandari commented on #1854
This need little bit of explorations, this is more of content (ui-ux) design rather than coding. I am looking into this and please do share if any of you guys have some input for this.

[2018-09-06 13:11] anbud commented on #1851
I'll add multilingual support for breadcrumbs as a part of this issue as well.

[2018-09-06 13:56] anbud commented on #1851
Done in #1855.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-09-06 15:10] #1851 closed

[2018-09-06 15:16] MadanBhandari commented on #1854
@emurgobot label "UI-UX"

[2018-09-06 15:43] Ayanrocks commented on #1854
Maybe tell users what blockchain is and how to get started.

[2018-09-06 15:50] Ayanrocks commented on #1846
Its fixed. Please close the issue

[2018-09-06 15:51] Ayanrocks commented on #1849
Please close the issue, it's fixed

[2018-09-06 16:47] #1849 closed

[2018-09-06 16:47] #1846 closed

[2018-09-07 00:14] #1818 closed

[2018-09-07 08:42] MadanBhandari commented on #1848
Currency format is updated on wallet page (balance and transactions). For deposit form, I will create another issue and PR for UX changes as well.

Please check and close this issue.

[2018-09-07 10:07] MadanBhandari commented on #1848
@emurgobot label "done"

[2018-09-07 10:09] MadanBhandari opened #1857 "Problem : No reset password option"
Problem : Password reset option not available
Solution : Add password reset link in `/login` page

[2018-09-07 10:10] MadanBhandari commented on #1857
@emurgobot claim

[2018-09-07 10:54] MadanBhandari commented on #1857
@gazhayes : We need MAIL_URL to send, password reset link, do we already have any email services or any free/open source options ?

[2018-09-07 10:55] Ayanrocks commented on #1857
How about sendgrid?

[2018-09-07 10:57] anbud commented on #1857
I agree, sendgrid is perfectly fine.

[2018-09-07 11:08] MadanBhandari commented on #1857
Okay, I will update with sendgrid.

[2018-09-07 11:28] MadanBhandari commented on #1857
Currently I have updated with free account on Sendgrid.

**Sendgrid Details**
Username : blockrazor
Password : blockrazor123

Please check and close this issue.

[2018-09-07 17:19] MadanBhandari opened #1859 "Problem : Not logged-in user's accessibility for project not defined"
**Problem : It's not sure what user can do without login**

Solution : Only keep login restriction for adding and editing data, user should be able to see all the information without login.
Here are my points

**Without Login**
- List of currencies
- Search
- Currency details
- Bounties
- Problems

**Login should be requried for**
- Wallet
- Notifications
- Add/Edit currency, bounties, problems et

[2018-09-07 17:27] MadanBhandari commented on #1859
Currently user can't see list of currencies and search without login, it's compulsory to be logged-in. If this is not on purpose, I will start working on this.

And we also need to change landing page, it should moved to some other path, like in `/about` or move current `/`to another place like `/app` or `/currencies` or something else.

[2018-09-07 18:46] anbud commented on #1859
If I remember correctly, as Blockrazor is user-driven, it was @gazhayes' idea to hide most of the information from nonregistered users so that users would be compelled to register and, possibly, contribute new data.
But, I don't think that the list of currencies should be hidden from nonregistered users, I think it became hidden after the landing page was introduced. So yeah, landing should probab