[2018-03-28 08:02] gazhayes commented on #803
Yeah hiding it is probably better

[2018-03-28 08:04] gazhayes commented on #803
Actually, we're going to want a bounty menu item in the top nav bar on large screens, so maybe just set this as a dependecy to the menu bar issue (will update this witb the issue number.)

[2018-03-28 08:05] AshHimself commented on #803
I posted I PR about 20 seconds before I got this notification :/

On Wed, Mar 28, 2018 at 4:04 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-28 08:06] #803 closed

[2018-03-28 09:12] gazhayes commented on #802
This is a very simple and cool idea:

![](https://cdn-images-1.medium.com/max/1200/1*xlIExbgP0Ktuz5wP6LQtnQ.gif)

Left is before, right is after.

[2018-03-28 09:22] AshHimself opened #808 "problem: you can save a community url with no values"
Problem: When adding a community URL you are actually able to click save and save a null record.

Solution: Add form validation

[2018-03-28 09:27] anbud commented on #800
@gazhayes, I agree, the proposed solution is quite sufficient for now. I also agree with @AshHimself, (re)captcha should be implemented as well, it's the basis of bot and spam prevention.

I can take this one if it's available.

[2018-03-28 09:28] AshHimself commented on #800
Ok with me, i'm active on a few other tickets at the moment.

[2018-03-28 09:32] AshHimself commented on #802
Yeh it’s pretty slick. What I propose is that we perhaps prototype up the
ui on this first and keep it agile. Once we are happy we can then create
the methods for the filtering.

Happy to mock something up (4 day weekend for me !! Whoop)

On Wed, 28 Mar 2018 at 5:12 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-28 09:44] anbud commented on #801
@gazhayes,
Group size divided by time would be better here, it's more informative.
As far as I've checked, the Telegram API doesn't support groups at all. We should probably have a list of community websites where we can use the API to fetch data (e.g. Reddit), so we can let users enter group size and group creation time if the API for their community is not available. Also, if the user entered th

[2018-03-28 10:08] gazhayes commented on #800
@anbud where/when do you think users should be prompted for captcha?

[2018-03-28 10:10] gazhayes commented on #802
Not yet, I want to discuss this with a few more people first. There are a large number of new issues though so that long weekend will come in handy ;)

[2018-03-28 10:13] gazhayes commented on #801
OK. I guess as a start the best thing to do is implement this for reddit since everyone seems to be using it and the API looks pretty clear. Reddit should also be representative even if it is only one data point.

Twitter is probably another relatively easy one, I guess just search for <currencyname> over x time period?

[2018-03-28 10:21] gazhayes commented on #782
Oh and it probably goes without saying but we need to handle the approval process, I guess just the same way as wallet images are handled (if they are rejected by moderators later the user loses the Krazor they earned). In addition to this, another follow up pull request will probably be needed once @anbud is done with #800 which is directly relate. Don't need to wait for that one to get started t

[2018-03-28 11:19] jmspsi126 commented on #784
hello
Nice to meet you.
I checked #784 issue.
As you can see, issue's title is...
<home route does not show off best features of blockrazor>
So we have to update function to show off all best features of blockrazor.
I checked project basically.
I think there are function for comparing cryptocurrencies using api.
You explained on solution...
put the top "red flag" for each currency on the home rout

[2018-03-28 12:02] gazhayes commented on #784
If you have a look at the currency comparison page you'll see there are 3 red flag items (some currencies don't have any test data for this but the element is there, go through till you find a currency with data to see an example). These are the top ranked red flag items from the currency detail page.

The very top item should be put on the / route.

[2018-03-28 13:18] jmspsi126 commented on #784
I understand.
I think...
We have to show values for top three flag items.
I created test account.
There are not test data.
I want to check comparing state with test data.
And i want to check flag items on currency comparison page.
So can you send me test account info that i can use?

[2018-03-28 13:46] AshHimself commented on #808
Just using jQuery validation at this stage. Its 2 lines of code. When those packages are implemented it'll be a side wide change I imagine after the schemas are defined for every collection. Please correct me if I am wrong?

[2018-03-28 13:47] gazhayes commented on #784
You can create an account on blockrazor.org.

A currency that has some red flags is Monero (as an example).

Only the top red flag, not 3.

[2018-03-28 14:19] anbud commented on #801
@gazhayes, Yap, I'll take it after.
You're right, Reddit and Twitter will be enough for now.

[2018-03-28 14:22] gazhayes commented on #808
How are you doing server side?

[2018-03-28 14:22] anbud commented on #800
@gazhayes, comments are the most sensitive part I guess, as there's currently no limit on how many comments users can post. So, basically, we can ask them to verify once before posting comments, or even features/summaries/red flags. I'm not sure about other parts of the site, as most other stuff already has some kind of validation or verification.
My idea is to only ask them once of course, when t

[2018-03-28 14:24] AshHimself commented on #800
From experience, it should only ask once, but if we suspect spamming it
should ask again. e.g. if you post 3 comments in 10 seconds it'll prompt
for another recaptcha.

On Wed, Mar 28, 2018 at 10:22 PM, Andrej Budinčević <
notifications@github.com> wrote:

[2018-03-28 14:28] gazhayes commented on #808
I think we should go straight to using validated-method on anything new, unless it makes things uncomfortable.

[2018-03-28 14:35] gazhayes commented on #800
We probably need to prevent users from posting more than once a week or something anyway for features/red flags/summaries/etc (wherever there's a reward for having the top comment, since new stuff immediately goes to the top).

I'm almost certain I logged an issue about this very recently.

This however won't prevent cross-currency spamming. We could probably just store the timestamps of the last

[2018-03-28 14:38] #601 closed

[2018-03-28 14:38] anbud commented on #800
@gazhayes, I actually solved that issue with limiting yesterday. :)
You're right, we can save a few last activities and prompt the captcha screen if anything seems too fast.

[2018-03-28 14:49] gazhayes commented on #800
Ha! I swear I have just a little bit more grey hair since the start of this project, just from trying to keep up.

[2018-03-28 14:50] AshHimself commented on #800
haha.. its hard to keep up like.. I swear you don't sleep.

[2018-03-28 15:11] jmspsi126 commented on #784
Yeah
I am checking flags on Monero.
You added test values on top red flag.
Top red flag 1 - testing 123
Top red flag 2 - Test Red FLag
Top red flag 3 - ____________

There are five values for flags on radar.
Code quality,Ongoing development,decentralization,community,coin distribution
These have values.

In Monero case.
We have to show 10 for Code quality on Top red flag 1 ?
Another question is...

[2018-03-28 15:21] gazhayes commented on #784
From the first post:

The home route is "/" that's the only thing that needs to be changed for this issue.
/compareCurrencies route is simply to show an example of red flags.

In Monero's case, the top red flag is "testing 123". That's what would be shown on the home route on Monero's panel.

[2018-03-28 15:36] jmspsi126 commented on #784
Ok
I understand.
https://www.screencast.com/t/asUfIM6gQvrt
Please check this screen.
I want you confirm about this again.
I have one question more.
How can we get top red flag?
I can show "testing 123" as top red flag in Monero's case.
There are not value in another's case.
But we need to show this value for each case correctly?
I want you confirm about this again.
Thanks.

[2018-03-28 20:53] janat08 opened #810 "Problem: bounty collection doesn't contain all the bounties"
Problem:  /bounties has to pull data from 3 other collections and then map them to bounty document, which is passable only because we're not approving bounties nor entirely completing them. Also I'm not sure about the reliance on methods that query different collections to tell how much the bounty is worth, nor "default" bounties such as add new coin that are available being identified by special

[2018-03-28 21:10] anbud commented on #810
I've built it like that mostly to prevent data redundancy. We are going to have a lot of currencies (probably in thousands), so mapping each currency to the Bounty collection as well would just waste space. I agree it would probably improve performance a little bit (although it's questionable), but there's no point in saving the data in two places at the same time. Pulling it from 3 collections al

[2018-03-28 22:54] janat08 commented on #810
mongo doesn't care about space at all, and you keep data fresh by make sure that you also modify bounty collection which may get hairy which is where peerDB helps further improving separation of concerns.

[2018-03-28 23:03] janat08 commented on #810
the premise for mongo is that you copy all the data you need into a collection and only query that collection.

[2018-03-28 23:26] gazhayes commented on #784
You can use your own judgment to decide what to do when there's no data.

[2018-03-29 01:10] gazhayes commented on #810
It's good that you logged this one so that we can have a discussion about it.

Different types of bounty are totally different, they *act* differently and they are *approved* differently. For example the bounties from /problem are completely different to adding a new coin. And who knows what new types of bounties we will add in a week, a month, a year. The way we do bounties could be totally diffe

[2018-03-29 02:41] AshHimself commented on #808
@gazhayes - Agree, but to my understanding we need simpleSchema implemented to use validated-method. (Source: https://github.com/meteor/validated-method)

Even with this implemented it still won't solve our client-side validation issues. This article describes pretty much exactly what I am trying to say :)

https://themeteorchef.com/tutorials/validating-forms-with-jquery-validation

[2018-03-29 02:45] AshHimself commented on #808
Ideally both packages should complement each other. e.g. if I write a jquery validation ruleset to define 5 fields as for example, int, int, email, int, text (max 20) it should validate on client first and simple schema should replicate my already defined rules (if they make technical sense ofcourse)

[2018-03-29 03:04] gazhayes commented on #808
@janat08 used validated-method and simplSchema here: https://github.com/Blockrazor/blockrazor/blob/fafe03bf926f8eb329c3963510d65f2d8c3bab56/imports/api/problems/methods.js

And it's called from here: https://github.com/Blockrazor/blockrazor/blob/fafe03bf926f8eb329c3963510d65f2d8c3bab56/imports/ui/pages/problems/newProblem.js

With validated method the same validation is done on the client and serv

[2018-03-29 03:11] janat08 commented on #810
No, as I said the whole point behind mongo is that it's designed and allows for embedded fields which are to contain copied data to avoid aggregation.

The data that pertains to whether bounty has been approved the part that will genuinely be queried by users would typically reside within a single collection, which does have the upside that you don't have to figure out how it should look within ev

[2018-03-29 03:12] gazhayes opened #811 "Problem: [/wallet] can't sort values by amount"
Problem: in /wallet users cannot sort transactions by amount. This would probably require an extra column displaying the amount.

@AshHimself this could be the right place to introduce that cool package you mentioned the other day, I can't remember the name

[2018-03-29 03:13] AshHimself commented on #808
Ok awesome I did not know that. Let me review the code and i'll implement.

[2018-03-29 03:16] gazhayes commented on #810
Can you rephrase that part, I don't think I understand what you mean.

[2018-03-29 03:18] gazhayes commented on #808
If you think it through carefully and make it a **very** well documented commit then your pull request can as a model for everyone else to follow when they are trying to do the same thing later.

[2018-03-29 03:26] AshHimself commented on #811
Yup you got it.. i'll sort it out and we can review!

[2018-03-29 03:26] jmspsi126 commented on #784
Ok
Thanks :+1:

[2018-03-29 03:44] janat08 commented on #810
I meant that the code that looks good is easy to work with. having the single collection with all the fields needed for your view like /bounties makes it readily apparent what you're working with. Neither the problems nor the bounties are optimized as you're doubling number of documents in problems collection which then be indexed and doubling the number of queries with lack of uniform collection

[2018-03-29 03:49] gazhayes commented on #810
Ok thanks, that's much easier to understand.

I'll think a bit more carefully about this and reply later on :)

[2018-03-29 04:45] janat08 commented on #808
simpleSchema doesn't readily support cleaning of values in method call (like for converting NaN to null and then ignoring that if not required, otherwise it fails as it's not a Num), but there're packages that do that. You can also define a schema for collection and then pick necessary fields for the method call.

[2018-03-29 04:46] AshHimself commented on #782
@gazhayes - ok I did a PR for this but soon as I did it I realised I missed something... images are added with approved:false

Assuming we need to add an additional section to https://blockrazor.org/moderator where they would approve these community images?

Also, I tried added URL's to the coin on both prod and locally and they never appeared under the heading "You have already added communities

[2018-03-29 05:09] gazhayes commented on #782
Try using a new account with no baggage in the database.

For the other stuff, I'm not sure what you are actually asking, but I suspect my previous comment answers it already.

[2018-03-29 05:44] AshHimself commented on #811
Fixed in #813
@gazhayes take a look. Its pretty configurable so let me know what you are after or take a look at https://github.com/aslagle/reactive-table

[2018-03-29 06:49] gazhayes commented on #800
That probably deserves its own issue, I'll leave that to you to create once you're confident the rest of recapture is working and it's really only UI stuff.

[2018-03-29 07:07] jmspsi126 commented on #784
hello
I fixed issue.
If you agree me, i am going to commit code on github.

[2018-03-29 07:08] gazhayes commented on #784
No one has to agree, you just have to send a pull request that complies with the C4 :)

[2018-03-29 07:17] jmspsi126 commented on #784
Ok.
I will send pull request.

[2018-03-29 07:25] gazhayes commented on #811
Definitely good enough to start with.

[2018-03-29 07:25] #811 closed

[2018-03-29 07:26] AshHimself commented on #811
@gazhayes - It does come with a filter that works just like the home page. e.g. type anything and it'll query ALL visible fields. Maybe not much user on this page but it is cool.

[2018-03-29 07:34] gazhayes opened #814 "problem: [/wallet] scientific notation sometimes used for amounts"
Problem: scientific notation is used for amounts, this looks strange.

Krazor has a minimum atomic value of 0.00000000001 so we should probably take that into consideration in the UI. I'm not sure of the best solution though.

One possibility might be to somehow group transactions of the same type into something at the top of the wallet and simply display the total for each transaction type. This

[2018-03-29 07:40] gazhayes opened #815 "problem: [/wallet] sorting transactions by time doesn't work"
Problem: when sorting transactions by time/date, they aren't sorted by epoch time (unix timestamp) but instead by the text value that momentjs provides.

[2018-03-29 08:35] AshHimself commented on #815
Good catch!! I got an idea to fix it.

On Thu, 29 Mar 2018 at 3:40 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-29 08:53] AshHimself commented on #808
@gazhayes - Fixed in #817

I am going to look at optimising the error validation on the client so it highlights the attributes itself (bootstrap CSS) instead of showing a popup notification which offers zero UX.

However I am having a few minor issues. @janat08 - Any ideas why when I set optional:false on the image attribute its not flagging an issue when its empty?

[2018-03-29 09:07] gazhayes commented on #810
Yes I agree, and we should always make it easy to work with whenever it's convenient. But there's no point in reworking code just to make it easier to work with, that makes sense in a centrally planned environment but not with the C4. And with this specific bounties case, I doubt it will ever be easy to work with, there's simply too much variance as I mentioned above (different bounties have almos

[2018-03-29 09:33] AshHimself commented on #808
@janat08 - you should find it pretty easy but this is where I am talking about.

`    validate:
        new SimpleSchema({
            currencyId: { type: String, max: 17, optional: false},
            url: {type: String, regEx:SimpleSchema.RegEx.Url, optional: false},
            image: {label:'Your Image',type: String, optional: false, regEx: /\.(gif|jpg|jpeg|tiff|png)$/
},`

[2018-03-29 09:42] gazhayes opened #818 "problem: [/communities] adding new community has a really bad UX"
Problem: the UX for adding a new community to rate has a really bad UI/UX.

<img width="486" alt="screen shot 2018-03-29 at 5 40 50 pm" src="https://user-images.githubusercontent.com/8143945/38082168-73798552-3378-11e8-84a4-71bd93c620cb.png">

Possible solution: use a modal. Also change the filename field to something other than an input field.

[2018-03-29 09:51] gazhayes opened #819 "Problem: [/ratings] 'answerRating': ReferenceError: Cookies is not defined"
Problem: it's not possible to answer questions, fails with error: `'answerRating': ReferenceError: Cookies is not defined`

[2018-03-29 09:58] gazhayes opened #821 "problem: lazy answering detection is too aggressive"
Problem: lazy answering is a bit too aggressive.

solution: use a threshold of 2 seconds instead of 5 (or whatever it currently is) between answers before lazy answering is triggered.

[2018-03-29 10:00] anbud commented on #800
Ok. I'll create one after #820 is merged, tested it on localhost now and it works fine, but I want to be sure it's working in production as well.

[2018-03-29 10:02] AshHimself commented on #818
Sorry i'll do a PR for this now. I won't spend too much time making the rest pretty as this page itself needs a revisit as a whole. That ok?

[2018-03-29 10:05] gazhayes commented on #818
Yeah that's cool

[2018-03-29 10:05] AshHimself commented on #818
Fixed in #822

[2018-03-29 10:06] gazhayes commented on #800
It's probably worth doing some tests for this too.

[2018-03-29 10:09] #818 closed

[2018-03-29 10:14] anbud commented on #800
It's done, it's working. I'll create an issue right away.

I agree with testing, but this is client side, and client-side testing isn't really supported by Mocha.
We could possibly use something like [webdriver.io](http://webdriver.io/) for client-side (acceptance) tests.

[2018-03-29 10:18] jmspsi126 commented on #784
Yeah
I will not commit those files.

[2018-03-29 10:18] anbud opened #823 "Problem: [/currency/x] Recaptcha has bad UI/UX"
Problem: On the currency detail page, a recaptcha form is shown if the user tries to post red flags/summaries/features/comments too fast (10 seconds between is the threshold). But, it's UI and UX are quite bad, as I've just placed it on the page without styling it or anything. To trigger it, you just need to post two things in less than 10 seconds.

Solution: I believe that the best solution here

[2018-03-29 10:27] anbud commented on #810
@gazhayes, that's about what I wanted to say.
Even if we place them all in a single collection, it won't stay for long. I've tried doing that already when the bounty number was small. And no, problems are used directly from the `Problems` collection, they're not copied to the `Bounty` collection currently.

Also, I can't agree with @janat08 that MongoDB doesn't care about space. I've worked on som

[2018-03-29 10:41] #800 closed

[2018-03-29 10:57] jmspsi126 commented on #784
hello

I added .idea on gitignore file

[2018-03-29 10:59] AshHimself commented on #815
Fixed in #825 (Turns out the package has a param to fix this exact issue. #winning)

[2018-03-29 11:02] gazhayes commented on #815
Pretty cool package

[2018-03-29 11:02] #815 closed

[2018-03-29 12:51] AshHimself commented on #823
@anbud trying to see the Recaptcha locally and i'm getting the error that i'm posting too fast but can't see the captcha. I did install not node module too. Thoughts?

[2018-03-29 13:02] AshHimself commented on #819
Fixed in #827

[2018-03-29 13:12] #819 closed

[2018-03-29 13:14] anbud commented on #823
Try increasing the threshold here: https://github.com/Blockrazor/blockrazor/blob/master/client/main.js#L130.
Currently, it's 10000ms, increase it to 100000ms and you'll definitely see it. :)

[2018-03-29 13:23] AshHimself commented on #823
Apologies if i'm missing something here.. its been a long day :)

I am spamming red flags now and getting the error 'You have to wait until you can post another red flag.' but I still see no captcha. :/ i'll dive into the code more unless you can point me and save some time

[2018-03-29 14:01] anbud commented on #823
That's from another issue, you can post only 1 red flag per 3 days when you pass 10 red flags. Try spamming comments, there's no limit there. I've placed the captcha (the `{{{captcha}}}` helper) above `Summaries` header, maybe that's why you're missing it, it's not very visible, which should be fixed in this issue.

The above advice about changing the threshold should also help, as the captcha wil

[2018-03-29 14:03] anbud commented on #798
I have an idea how to fix this one, I'll take it.

[2018-03-29 14:20] jmspsi126 commented on #784
hello
Did you check code?
And if you have free time, i want to discuss about next issue.

[2018-03-29 14:23] gazhayes commented on #784
Your pull request did not comply with the C4.

[2018-03-29 14:25] jmspsi126 commented on #784
For now...
How can i solve this problem?

[2018-03-29 14:26] gazhayes commented on #784
Read the readme file.

[2018-03-29 14:26] anbud commented on #798
Fixed in #828.

[2018-03-29 14:31] gazhayes commented on #784
You're applying for a paid contributor position, and you haven't even read the contribution policy. You've sent two incorrect pull requests, and I told you both times that they do not comply with the C4 and that you need to read the Readme. I'm not spending any more time one this. You get one more chance to get it right, I'm not willing to spend any more time on this.

[2018-03-29 14:37] jmspsi126 commented on #784
I understand.
I want to read Readme carefully again.
Thanks

[2018-03-29 14:47] gazhayes commented on #823
10 red flags based on the User or based on the Currency?

[2018-03-29 15:28] anbud commented on #823
10 red flags based on the currency.

[2018-03-29 23:57] #801 closed

[2018-03-30 00:52] AshHimself commented on #806
Fixed #826

[2018-03-30 00:52] #806 closed

[2018-03-30 01:24] gazhayes opened #830 "problem: hashpower API bounty doesn't end when valid pull request provided"
Problem: when a valid pull request is provided for an API bounty, a success notification is displayed but the bounty keeps running and eventually times out.

**Steps to reproduce:**
Select an API bounty from the bounty page
Submit a valid pull request (grab a merged one from blockrazor)
Click submit.

[2018-03-30 01:26] gazhayes commented on #621
As @janat08 and @samuelralak have been away for a while but are expected back shortly, I think it's better to let this run for another week and then vote.

[2018-03-30 01:49] gazhayes opened #832 "Problem: no user-based average comment/summary/feature/red flag ranking"
Problem: to foster some competition between users, there should be a variety of metrics about users (which can be displayed on their profile page). A good metric to start with would be their overall comment/summary/feature/red flag ranking, this would give a good indication of how valuable their input is in general.

possible solution: use a cron job to count total upvotes and downvotes for each u

[2018-03-30 01:55] AshHimself commented on #832
This is a good idea. Could also do something similar to stackoverflow to
foster trust and respect between users instead of just activity.

E.g commment upvotes 10 times and you get a trusted poster badge.

On Fri, 30 Mar 2018 at 9:49 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-30 01:55] gazhayes opened #833 "Problem: user strikes are not shown on profile page"
Problem: when a user gets 'strikes' they are not shown on their profile page.

Strike system was implemented in #809

[2018-03-30 04:54] gazhayes opened #834 "problem: [/] prices are not accurate"
Problem: prices on the / route are not accurate because they do not allow decimal places.

We should be using a fixed number of digits so that the UI doesn't get messed up. As Bitcoin has recently been up to 5 figures we should use that.

For example, Cardano should be $0.XXXX (decimal), Bitcoin XXXXX (no decimal).

[2018-03-30 04:54] #784 closed

[2018-03-30 04:55] gazhayes opened #835 "problem: [/] user generated content not shown on home route"
Problem: there are already plenty of sites comparing cryptocurrencies using APIs and similar metrics to Blockrazor. The difference with Blockrazor is that it is community driven (e.g. like Wikipedia). This human element should be immediately obvious when seeing blockrazor for the first time.

Partial solution: put the top "red flag" for each currency on the home route.

[2018-03-30 05:00] gazhayes opened #836 "Problem: lazy answering errors aren't clear enough"
Problem: when users are caught lazy-answering (/rankings, /communities, /codebase) they are shown a quick sAlert notification and all their questions are reset. This could be very confusing for some people.

possible solution: launch a modal for these errors instead and explain what's going on.

[2018-03-30 05:04] gazhayes commented on #786
This can be worked on now.

[2018-03-30 05:04] #723 closed

[2018-03-30 05:05] samuelralak commented on #786
Taking a look

On Fri, 30 Mar 2018 at 08:04, Gareth Hayes <notifications@github.com> wrote:

[2018-03-30 05:06] jmspsi126 commented on #784
I checked Readme file yesterday and understood about that process basically.
I am going to fix all problem today.
BTW...
I think you closed this issue.
I didn't work with this good process yesterday.
I need to fix this problem today.
Can i work on this closed state?

[2018-03-30 05:14] jmspsi126 commented on #784
I have to stop to work on this issue?

[2018-03-30 05:14] gazhayes commented on #784
I closed this issue because it's full of very annoying and useless messages.

You can do it in #835 instead.

Let's see. You said that the other two times as well.

[2018-03-30 05:19] gazhayes commented on #786
@samuelralak if you do this one, while you're there can you remove the ability for users to change the problem Type after they've already chosen it?

I.e. they currently choose the problem Type first, then the form is populated, but they can change types after that and things don't update. The simplest way to fix it is to just prevent them from being able to change it (this feature seems unnecessa

[2018-03-30 05:19] jmspsi126 commented on #784
Yeah
I have been worked to fix that issue.
And i fixed that issue and i committed code.
But i didn't send pull request.
So i could solve this problem today.
You closed issue suddenly.
If you close this, i have to start to work on next issue from scratch.
So who can pay about 784 issue?

[2018-03-30 05:21] jmspsi126 commented on #784
I didn't work with C4 process.
But i can fix that problem again.
Can you create 784 issue again?

[2018-03-30 05:21] jmspsi126 commented on #784
It will take some hours to fix new issue.

[2018-03-30 05:22] gazhayes commented on #784
#835 is the same issue, with the same solution.

[2018-03-30 05:29] jmspsi126 commented on #784
Do you have $kype id?
Can we discuss about some problems on $kype?

[2018-03-30 06:07] samuelralak commented on #786
@gazhayes is this part of the `add Problem` process? If so, I can see the form fields update accordingly based on the chosen problem type; though the only difference I see between the bug report form and feature request form is the `Steps to Reproduce the Bug/Potential Solution` field. We could make  *read-only* after the user selects the problem type.

[2018-03-30 06:11] gazhayes commented on #786
Oh yeah, you're right. That's strange, I swear it wasn't updating last time I looked.

[2018-03-30 06:15] gazhayes opened #837 "problem: [/problem] users can add bounties to cancelled problems"
Problem: users can add more bounties to cancelled problems.

[2018-03-30 06:18] gazhayes opened #838 "problem: [/problem] users can comment on cancelled problem"
Problem: users can comment on problems that have been cancelled. This makes it easy to have confusing and stale issues.

possible solution: prevent commenting on cancelled problems, and encourage users to open a new issue instead.

[2018-03-30 06:19] gazhayes opened #839 "problem: [/problem] cancelling an issue does not refund bounty deposits"
Problem: based on https://blockrazor.org/problem/WWb9AHxLSCFQpRBDL it looks like bounty deposits aren't being refunded when a problem is closed.

[2018-03-30 06:53] jmspsi126 commented on #835
Let's start to work together on here :)

[2018-03-30 06:58] samuelralak commented on #786
I think I'll just leave this one to @AshHimself, he'll be at a better position to comment on whats done and whats pending

[2018-03-30 07:32] samuelralak commented on #838
@gazhayes should we also disable comments on solved and closed problems as well?

[2018-03-30 07:34] gazhayes commented on #838
Yeah, that makes sense.

[2018-03-30 07:42] samuelralak commented on #838
ok cool, what brief but yet awesome message should we display to users who wish to comment on a closed/cancelled/solved issue?

Was thinking something close to this 👇
*Didn't solve your problem? You can create a new one here for it*

What did you have in mind?

[2018-03-30 07:57] jmspsi126 commented on #784
hello

When commit code, can i create new issue?
for example...
problem:you can save a sss  …
solution: Implement xxx  #xxx

[2018-03-30 08:38] samuelralak commented on #838
done in [#840](https://github.com/Blockrazor/blockrazor/pull/840)

[2018-03-30 08:42] jmspsi126 commented on #835
master branch is exclusively used to accept incoming changes from upstream:master
so i created my new branch and committed code on that branch.
Before commit code, i pulled code.
My question is...
I have to send pull request from my new branch?

[2018-03-30 08:47] samuelralak commented on #837
@gazhayes do you mean this part here?
<img width="1111" alt="screen shot 2018-03-30 at 11 45 33 am" src="https://user-images.githubusercontent.com/4476552/38131475-f2f239e0-340f-11e8-9d83-7a98607bb4ba.png">

[2018-03-30 08:55] jmspsi126 commented on #835
I sent pull request.

[2018-03-30 09:00] jmspsi126 commented on #835
before i send pull request, i want to ask some question
I mentioned on last message.
but you didn't check that.
I want to discuss about project with real time.

[2018-03-30 09:01] gazhayes commented on #837
Yeah that's where I encountered it.

[2018-03-30 09:01] jmspsi126 commented on #835
There are some problem on communication.

[2018-03-30 09:02] jmspsi126 commented on #835
I fixed all issue but i can't show you that results to you.
When start to work, you need to help me and guide me.
?

[2018-03-30 09:02] samuelralak commented on #837
cool, will be taking this one completing [#836](https://github.com/Blockrazor/blockrazor/issues/836)

[2018-03-30 09:03] jmspsi126 commented on #835
I checked C4 carefully.
First i will fork and work on my github.
I think...
After fix issue on local, i can commit code on my github.
When commit code, i need to check code and test on my local again.
That MUST be Solid and Good code.
After confirm code again, i will commit code.
Then i can send you pull request.
When send pull request, you will check code carefully and send me feedback like today

[2018-03-30 10:05] samuelralak commented on #836
done in [#842](https://github.com/Blockrazor/blockrazor/pull/842)

[2018-03-30 11:08] samuelralak commented on #837
checking whether the problem is solved/closed/cancelled in server  and hiding this section completely on the ui  if problem is solved/closed/cancelled

[2018-03-30 11:09] gazhayes commented on #837
Good solution

[2018-03-30 11:10] AshHimself commented on #821
FIxed in #831

[2018-03-30 11:10] #821 closed

[2018-03-30 11:10] #838 closed

[2018-03-30 11:11] samuelralak commented on #839
taking this one next

[2018-03-30 11:12] AshHimself commented on #782
@gazhayes you ok with this one sir or want some changes made?

[2018-03-30 11:18] AshHimself commented on #821
Fixed in #831

[2018-03-30 11:18] samuelralak commented on #837
done in [#843](https://github.com/Blockrazor/blockrazor/pull/843)

[2018-03-30 11:19] gazhayes opened #844 "Problem: no way for users to trade Krazor for other currencies"
Problem: there is currently no way for users to trade Krazor for other currencies (and vice versa).

I'm opening this to have a discussion first before we decide what to do.

Some key points:
It's probably a good idea to track multiple currencies in users wallets. Currencies can be deposited first, and *then* traded. Everything happens on Blockrazor until they actually withdraw. USD can be deposit

[2018-03-30 11:20] AshHimself commented on #786
@gazhayes are you talking able disabling changing the problem type when creating it? or after the fac. As you can't change it after the fact that I can see.

[2018-03-30 11:21] gazhayes commented on #782
What's the current status? I haven't actually looked at your code.

[2018-03-30 11:22] AshHimself commented on #782
Just clarification on

[2018-03-30 11:35] gazhayes commented on #786
That part is ok (I've since learned).

So this issue really just comes down to what's in your first post.

[2018-03-30 11:37] gazhayes commented on #782
Ah, yeah, for now (if that's the simplest way to deal with it).

That moderator section needs some work, but it also needs some thinking. So just provide a really basic starting point and we can work the rest out later.

[2018-03-30 11:48] jmspsi126 commented on #835
Hello

I checked your message
I am going to clone git and to send pull request without conflict issue.
Can i try once more?
I don't have enough experience to work with this process.
Sorry.
After learn this process, i can work well.
I await your reply again

Best Regards!

[2018-03-30 13:09] AshHimself commented on #844
So we are wanting to actually allow people to buy bitcoin through blockRazor possibly with Krazor and USD?

[2018-03-30 13:10] AshHimself commented on #808
Will raise another issue to track the simpleschema validation issues as this is working right now.

[2018-03-30 13:10] #808 closed

[2018-03-30 13:15] AshHimself commented on #834
I can take a look at this as I wrote the helper which isn't work as it should.

[2018-03-30 13:54] gazhayes commented on #844
Yeah. Only minimal amounts with USD though (deposits are capped). Mostly just crypto to crypto.

[2018-03-30 14:10] gazhayes commented on #835
You applied for a position as a paid contributor. You sent 3 pull requests. None of complied with our contribution policy. We are no longer considering you for that position at this time.

You may contribute to the project, it's open source. The rules in the C4 are very clear, they are also repeated throughout throught the readme. Your code is *not* the problem (well, apart from committing your ID

[2018-03-30 14:13] jmspsi126 commented on #835
Thanks for your reply.
I am trying to send pull request again.
I am working for that.
If learn this process, we can start to work again?

[2018-03-30 15:26] samuelralak commented on #844
am of the same opinion here. we can start small

I also think we need to seriously think about Blockrazor's security as well. We risk attacks from malicious users by having such a feature.

[2018-03-30 15:33] samuelralak commented on #844
Here are my thoughts:

We could have buyers specify a volume range of crypto they are willing to trade and their exchange rate. when a user wants to sell, we ask the user for the volume he wants to trade and match him with sellers within that range. the seller only has to find a buyer with a preferred exchange rate. The reverse would also apply to buyers.

[2018-03-30 15:35] samuelralak commented on #837
this can be closed if the solution is satisfactory

[2018-03-30 15:40] #837 closed

[2018-03-30 15:43] gazhayes opened #845 "problem: [/problem] users can't see how much bounty they added to a problem"
Problem: users aren't shown how much bounty *they* have added to a problem. They can only see how much there is in total.

[2018-03-30 16:00] janat08 commented on #810
@anbud it got slower because you denormolized, querying subset of documents across 3 collections or more would've been faster?

@gazhayes what we do now is sort documents on client because we have them all, and we can do that only because we have all of them. asking for 50 documents sorted when there're more then that can not happen on clientk, unless you know were willing to create another collec

[2018-03-30 16:06] anbud commented on #844
For exchange rate price matching, we can use the model most cryptocurrency exchanges (e.g. cex.io) use, and what @samuelralak mostly described in the post above.

You can put a sell order for a certain volume at a certain price and buyers can either put buy orders for the price they expect and wait for the price to show up, or they can choose to exchange at the currently lowest possible sale price

[2018-03-30 16:08] anbud commented on #830
I'll take this one, it was working last time I've tried, so it's probably something small.

[2018-03-30 16:17] anbud commented on #830
@gazhayes,
I've just tried it out on a couple of coins on production, but every time I click Submit PR link, it submits, shows the success message and ends the bounty. The user is rewarded only when the bounty is merged, when GitHub notifies our webhook of this event. I've just tried it with #843, and I've manually redelivered the event notifications, and I've got the reward. So, it appears to be

[2018-03-30 16:19] anbud commented on #832
Yap, this is a good idea, I agree. I'll take it.

[2018-03-30 16:45] gazhayes commented on #830
Did you try adding an already merged issue? That's when it failed for me.

[2018-03-30 16:49] anbud commented on #832
Done in #847.

[2018-03-30 16:52] anbud commented on #830
Yap, all tries were with already merged issues from this repo. Which currency did you try?

[2018-03-30 17:00] anbud commented on #537
@gazhayes, what's the status on this one?

[2018-03-30 17:11] jmspsi126 commented on #835
I checked all on Readme file carefully.
I have learned so much in the meantime.
I have learned all rules in the C4 well.
What is next process?

[2018-03-30 22:14] anbud commented on #833
Done in #848.

[2018-03-31 00:04] gazhayes commented on #830
Hmmm ok. Zcash I think. I'll try again and see if I can replicate.

[2018-03-31 00:06] gazhayes commented on #830
Must have been a freak thing, I can't replicate it now.

[2018-03-31 00:06] #830 closed

[2018-03-31 00:11] gazhayes opened #849 "problem: haspower API bounty is awarded even if pull request doesn't solve problem"
Problem: the hashpower API bounty is awarded as soon as the Pull Request is merged. However some people might submit a PR that doesn't actually work. These bounties can sometimes be pretty big so they would be a lucrative target for some form of cheating.

possible solution: put something in the hashpower API update that awards the contributor on the first successful API call for that currency

po

[2018-03-31 00:11] gazhayes commented on #849
ping @anbud

[2018-03-31 00:12] gazhayes commented on #537
I think we have to just use space calculations. I had a look at chart.js and realized there are a heap of hurdles, as cool as it would be, the space calcs are the simplest solution here.

[2018-03-31 00:18] gazhayes commented on #835
When you finish an issue, you can say something like "fixed in #846"

[2018-03-31 00:18] #835 closed

[2018-03-31 00:58] #833 closed

[2018-03-31 01:13] #832 closed

[2018-03-31 01:15] AshHimself commented on #844
I have not used those other endpoints but I have used Stripe many many many times before.

[2018-03-31 01:19] gazhayes opened #850 "problem: [/rankings] Exception while invoking method 'answerRating' TypeError: Cannot read property 'xors' of undefined"
Problem:
[code]

[2018-03-31 01:19] #836 closed

[2018-03-31 01:45] gazhayes commented on #798
@anbud this still appears to be a problem

If I load / right now, ethereum classic doesn't show up. After scrolling to the bottom, ethereum classic loads and is placed at the top of the list.

[2018-03-31 01:54] anbud commented on #798
I just found out what happened here. This was actually fixed in #828, but most of the changes are overwritten in #846.

[2018-03-31 01:57] anbud commented on #849
I agree, the first solution is a lot better. How about letting PR contributors put their own username / _id as the last parameter of the `hashrateApi` method call in `hashpower.js`, so we know who's the one that authored it and we know who to reward?
It appears as the easiest solution.

[2018-03-31 01:59] gazhayes commented on #798
Argh. OK. that's remarkably annoying.

[2018-03-31 02:00] gazhayes commented on #798
It's probably easier to just revert #846

[2018-03-31 02:01] gazhayes commented on #798
Probably broke a bunch of other stuff too.

[2018-03-31 02:04] gazhayes commented on #849
Actually that's not a bad idea, then if it breaks later because someone took down the endpoint or whatever the user can be sent a message.

[2018-03-31 02:05] gazhayes commented on #849
Should probably print their _id on the bounty thing somewhere to make it easier for them.

[2018-03-31 02:06] gazhayes commented on #849
And also link to the model pull request you did for this before.

[2018-03-31 02:08] gazhayes commented on #798
Fixed in #851

[2018-03-31 02:12] jmspsi126 commented on #835
fixed in #835

[2018-03-31 02:17] jmspsi126 commented on #835
What is next issue?

[2018-03-31 02:44] gazhayes commented on #835
Your patch broke other functionality. It has been reverted.

[2018-03-31 02:55] gazhayes opened #853 "Problem: coinmarketcap is unreliable"
problem: we currently use coinmarketcap's API to fetch current prices and coins in circulation.

https://medium.com/@coinmarketcapped/intro-how-coinmarketcap-cmc-manipulates-the-market-by-showing-fraudulent-information-to-the-c1246a953144 reveals that this is no longer reliable.

possible solution: get prices directly from exchanges and do some kind of averaging. Get current coins in circulation f

[2018-03-31 02:58] gazhayes commented on #844
We have to stay away from credit cards, paypal, etc. It's too easy to do chargebacks. So only bank transfers.

I guess the most important thing to nail down is actual functionality, we can stub out the currency deposit/withdraw stuff, the actual trading stuff should come first.

[2018-03-31 03:14] gazhayes commented on #844
What about a very simple time based auction?

[2018-03-31 03:32] gazhayes opened #854 "problem: no user generated content is shown on home route"
Problem: no user generated content is shown on home route

Solution: display top red flag on home route.

[2018-03-31 03:34] jmspsi126 commented on #835
Can you explain about that?
There are not issue on my local now.

[2018-03-31 03:37] gazhayes commented on #835
No. Look through the recent issues and commits and work it out for yourself. I am not spending another minute on this.

[2018-03-31 04:58] jmspsi126 commented on #835
ok
understand you.
Can you send me screenshot that can check issue?

[2018-03-31 05:40] gazhayes commented on #835
Screen shots are not necessary. Everything is already documented. I refuse to treat you like an infant and I refuse to spoon feed you.

Look at the comments on your pull request. Look at *why* your patch was reverted. **Take responsibility** for your own education about how to use Git and Github, **do not** continually put the burden on everyone else around you.

[2018-03-31 09:43] janat08 commented on #797
I just added things on january the 1st, but there're limits on genesis block time by year.

[2018-03-31 10:05] gazhayes commented on #797
You mean the problem is actually year not day?

[2018-03-31 10:09] janat08 commented on #797
it is possible to select a year that will fail at validation as far as I remember.

[2018-03-31 10:13] gazhayes commented on #797
Oh ok, that's probably an additional problem. There are some restrictions (intentional), for example a currency that has already launched must have a date in the past.

[2018-03-31 10:17] #845 closed

[2018-03-31 10:36] #760 closed

[2018-03-31 10:54] gazhayes opened #858 "Problem: bounties not visible unless signed in"
Problem: bounties are only visible when users are signed in. This doesn't offer new people enough of a 'tease' to make them want to sign up.

[2018-03-31 12:20] #792 closed

[2018-03-31 13:08] janat08 opened #861 "Problem: /currencyAuction typeahead menu blocked by amount field"
Problem: Opening typeahead at /currencyAuction will open a menu that is blocked by an amount field with higher z-index.

[2018-03-31 13:13] gazhayes opened #862 "problem: logout is broken"
Problem: logout no longer works. There is a recursion error. Most browsers die with memory issues, e.g. chrome: `Uncaught RangeError: Maximum call stack size exceeded`

ping @janat08 this probably happened in #857

[2018-03-31 13:14] janat08 opened #863 "Problem: no typeahead template reuse"
Problem: typeahead is used in compare currencies and auctions, and is to be used for exchange add, has it's own CSS

Solution: @gazhayes should there be a reusable template for typeahead that takes params such as what to do on selection using currying to pass down parent template reference to change state and like what default query params it should and what method to use to initiate local collect

[2018-03-31 13:17] jmspsi126 commented on #835
Did you close #835 issue?
When you close #835, may i try to fix issue?

[2018-03-31 13:19] gazhayes commented on #863
Yes, this is worth doing (in my opinion). We use typeaheads very often and will probably be adding more.

[2018-03-31 14:06] AshHimself commented on #861
Fixed in #864

[2018-03-31 14:09] AshHimself commented on #854
Top red flag for each currency? Real estate is getting tight if so, may need to make those radars 10-15px smaller.

[2018-03-31 14:12] AshHimself opened #865 "problem: drmongo is down"
Problem: unable to access http://drmongo.blockrazor/

Solution: @gazhayes to investigate :)

[2018-03-31 14:15] AshHimself commented on #850
Could you give more replication steps? I can't replicate.

[2018-03-31 14:15] janat08 commented on #565
So it just decided to work with adding hooks before logout, but:
[code]

Doesn't appear to call callback that will diff Session var for preference that is updated during session against whats on record in DB and update if there's a difference. You can debug by comparing session variables and userSession data. screenSize and once they change after you open/close sidebar at a window screen.

I decid

[2018-03-31 14:15] #861 closed

[2018-03-31 14:41] gazhayes commented on #797
OK, I just tried again and it's working. I need to document these things more scientifically.

When I find the actual problem I'll reopen this with specific instructions on how to reproduce.

If you've encountered a separate problem please log it.

[2018-03-31 14:41] #797 closed

[2018-03-31 14:43] jmspsi126 commented on #835
hello

Are you there now?

[2018-03-31 14:59] mstanuch commented on #850
Problematic method is `anwserRating` (file: `/imports/api/ratings/server/methods.js`).

I see two potential problems:
1. Missing `questionId` field  in `rating`, see code:
[code]
If field `questionId` in `rating` doesn't exists, then it will evaluates to `_id: undefined`.
You don't have document with id `undefined` in your database, because of that `question` is evaluated to `undefined` ([Mongo.Co

[2018-03-31 15:37] anbud commented on #849
Done in #866. I've actually found an easier solution than forcing them to include their user _id, I realized that we can get the _id from the bounty itself.

[2018-03-31 15:43] anbud commented on #862
I'll take this one as well, as part of #857 debugging.

[2018-03-31 15:45] #849 closed

[2018-03-31 15:48] gazhayes commented on #850
@mstanuch thanks! I don't suppose you feel like sending a pull request?

[2018-03-31 16:06] anbud commented on #862
This is fixed in #867.
@janat08, Can you please check if it fixes the original issue (#565) as well? I've tried it out, it appears to be calling the callback correctly, both on window unload, and on Meteor.logout, but maybe I'm missing something.

[2018-03-31 16:17] anbud commented on #844
@gazhayes, you mean something like where users can state they're selling some coins, and other users can bid the amount of money/coins they want to pay for it and the highest bidder wins? Or something similar?

[2018-03-31 16:49] janat08 commented on #862
removing () didn't work for me.

[2018-03-31 16:49] #862 closed

[2018-03-31 16:54] janat08 opened #868 "Problem: /addcoin will not try to show/limit to valid options"
Problem: Selecting the year 2008 in /addcoin is an invalid choice, and yet it's available. Turning devValidation false, and simply selecting year 2008. Something like 2010 works.
[code]

Solution: @gazhayes
[code]

[2018-03-31 19:01] mstanuch commented on #850
Unfortunately I don't have access to computer with dev environment until Monday. Fell free to create PR if you want :)

[2018-03-31 19:02] anbud commented on #537
Ok, I'm taking it then, it seems fun. I'll try to make it as scalable as possible.

[2018-03-31 23:05] gazhayes commented on #844
Yeah basically that, or something similar to that. The absolute simplest way possible.

[2018-03-31 23:14] gazhayes commented on #868
For currencies that already exist (have already been launched), the applicable dates are 2009 till the current date.

For currencies that don't exist we don't need genesis date but we do need an estimated genesis date which must be in the future.

[2018-04-01 00:01] gazhayes opened #869 "Problem: hashpower API bounties that have timed out are flagged as in progress"
problem: in-progress and timed out bounties are shown on the bounty page when no user is signed in.

I'm logging this issue because I suspect an underlying problem with the "timed out" items being displayed.

ping @anbud

[2018-04-01 07:45] samuelralak commented on #839
this one seems to work fine. here are the tests I ran
- created problems and closed each one - bounty deposits got refunded each time [passed]
- topped up bounty on an open problem closed it - bounty deposits got refunded [passed]
- deposited bounty using different account then closed it - bounty got refunded to all users that made a deposit [passed]
everything seems to be ok but you can test it a

[2018-04-01 07:46] gazhayes commented on #839
OK. It's probably just an artefact from database experimentation earlier on or something.

[2018-04-01 07:46] #839 closed

[2018-04-01 08:06] anbud commented on #869
I'll check it out. This only happens when you're not signed in?

[2018-04-01 08:10] anbud commented on #844
Yap, that's quite simple I agree. If we take that route, we can reuse lots of existing infrastructure for auctions, I made it very general when I wrote it.

[2018-04-01 08:21] gazhayes commented on #869
Yeah, it's kind of weird.

There's also #858 to take into consideration when looking at this, the main reason I logged it was because I think it's a symptom of some deeper issue as it's showing bounties that have timed out (which by the way, don't seem to be showing up on the normal bounty page when logged in).

[2018-04-01 10:42] janat08 commented on #565
Still incomplete as it is impossible to capture logginIn event with Meteor.logginIn() changing immediately to false within autorun despite triggering it by changing to true.

[2018-04-01 10:45] janat08 commented on #868
Should I low priority and dependency incomplete for simpleSchema conversion?

[2018-04-01 10:51] gazhayes commented on #868
Hmmm. would simpleSchema really fix this though?

[2018-04-01 11:50] engyash commented on #858
I am working on this issue.

[2018-04-01 12:07] gazhayes commented on #858
FYI once you solve an issue you can say something like "fixed in #XXX". Then whoever opened the issue knows you aren't planning on sending any more pull requests and they can verify the solution and close the issue.

[2018-04-01 12:12] gazhayes commented on #869
Ok I did a bit more research.

It turns out that it was any "in progress" bounties that were being shown (not a problem). The actual problem ia that timed out hashpower API bounties are incorrectly counting as "in progress".

[2018-04-01 12:17] gazhayes commented on #869
This one is really in progress
![s80401-201008](https://user-images.githubusercontent.com/8143945/38173014-6b02f5b6-35e9-11e8-88ca-05b6ace5ffe3.jpg)

But this one has timed out (something weird with username still being displayed)
![s80401-200951](https://user-images.githubusercontent.com/8143945/38173020-871ac134-35e9-11e8-868b-a7cb70e57301.jpg)

[2018-04-01 12:18] engyash commented on #858
Fixed in #6e62ed66363249e4811eca9173414a4185b7e358 [6e62ed6].

[2018-04-01 12:24] #858 closed

[2018-04-01 14:09] janat08 commented on #868
well yes, it's more about showing the values that are actually permitted, but I imagine the logic that decides what's permitted will be in autoValue function from simplSchema that you could stick in autorun and update UI values with.

[2018-04-01 14:12] gazhayes commented on #868
Yep that makes sense. Ok, you should make it a dependency and tag that other issue (I cant do it, using github on phone right now)

[2018-04-01 14:13] janat08 commented on #868
#617

[2018-04-01 14:22] janat08 opened #872 "Problem: typeahead template unreactive source for typeahead select menu"
Problem: source for typeahead is unreactive requiring reinitialization when database to be queried or the query changes, with the latter happening somewhat outside the reusable template's -#863 - control reducing it's value proposition.

Solution: place callback call in function as prop of option2 to typeahead in autorun.

[2018-04-01 14:39] janat08 opened #873 "Problem: no reusable template for switching out data sources for lists with reactive filter"
Problem: we filter lists reactively in typeahead, problems, and home route, in typeahead and home route with just load the whole collection into local one or try to use it if it exists before which we still use a subscription for fast-render. In future, we might refractor this to save to browser memory and try to load from that and update it every so often or place an observer to maintain reactivi

[2018-04-01 14:59] gazhayes opened #874 "problem: development database keeps getting out of date"
Problem: the dev database needs to be updated periodicallly to preven errors in development.

Solution: add a cron job to dump the database and then tar and gzip it to a file in /static. Part of the troubleshooting process when developers have a local problem which doesnt exist on the server will be to update their db.

[2018-04-01 14:59] AshHimself commented on #874
and prevent negative krazors :D

[2018-04-01 15:41] gazhayes commented on #844
Ah that's great. OK, I'll keep thinking about how to structure this from a UX standpoint and keep this open but will leave it reserved for you.

[2018-04-01 15:44] janat08 commented on #863
removed "first" param used in curryEvent that was added for initializing from router params but seems to go unused.

[2018-04-01 20:07] anbud commented on #537
It only seemed fun. :) Getting indexes to scale with the chart size was quite a bit of work, even when using chart.js' internal APIs. When you click on a label on either the radar or the bar chart, it's console.log-ed for now, as a placeholder handler.

Done in #876.

[2018-04-01 20:09] samuelralak commented on #781
we could display a warning modal the first time lazy answering is detected, then nuke the user's progress the second time.

[2018-04-01 20:25] anbud commented on #869
Fixed in #877.

[2018-04-01 20:28] samuelralak commented on #814
The transactions in the wallet are also not ordered. I would suggest that we should order the chronologically from the recent transactions to the oldest one

[2018-04-01 20:39] janat08 commented on #873
https://atmospherejs.com/dburles/mongo-collection-instances
https://atmospherejs.com/dburles/collection-helpers

I could probably get away from the issue of template hierarchies instead introducing another helper that will either returns straight from DB or via local collection.

[2018-04-01 21:22] samuelralak commented on #814
@gazhayes since we already know that the Krazor minimum atomic value has a max precision of 11, I have been able to convert the scientific notation numbers in amount to their actual values by using the solution [here](https://stackoverflow.com/a/36028587/2443926) with the [Number.prototype.toFixed()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toFixed) m

[2018-04-01 22:10] janat08 commented on #873
heh, I did it by creating a class.
proof:
[code]

[2018-04-01 22:33] janat08 commented on #863
implement id field prop

[2018-04-01 23:08] gazhayes commented on #781
The problem with that is we will have slightly more fake data that way.

[2018-04-01 23:10] janat08 commented on #873
/problems uses Problems.find everywhere instead of currentData() and such. I could default any query to local collection or make it an option, or do it if local record exists, and then go on to do observeChanges if query is being used to update local collection. I obviusly could go through the codebase updating queries instead.

[2018-04-01 23:13] gazhayes commented on #814
We should stop using numbers in the message anyway since we have a value column anyway.

Sorting deserves its own issue probably.

The numbers are being stored correctly right? This is only a UI issue?

[2018-04-01 23:24] #872 closed

[2018-04-01 23:26] janat08 commented on #863
convert /auctions to it.

[2018-04-02 00:42] gazhayes opened #880 "Problem: travis test is breaking, but production doesn't break"
Problem: travisCI is breaking in #879 onwards. It looks like master *should* break, but it doesn't, only breaks when running `meteor test --driver-package=meteortesting:mocha --once`

ping @anbud @AshHimself

[2018-04-02 01:11] gazhayes opened #881 "Problem: not immediately clear that a commit is a "patch" in the c4 and not a pull request"
Problem: not immediately clear that a commit is a "patch" in the c4 and not a pull request.

ping @sjmackenzie

[2018-04-02 01:14] samuelralak commented on #814
Nop, its not just a UI problem. Thats how the numbers are being stored in
the database as well.

On Mon, 2 Apr 2018 at 02:13, Gareth Hayes <notifications@github.com> wrote:

[2018-04-02 01:22] gazhayes commented on #814
OK. That's the part to solve then. Existing transactions dont matter, only new ones.

[2018-04-02 04:50] #537 closed

[2018-04-02 04:51] #869 closed

[2018-04-02 04:56] gazhayes opened #882 "Problem: edits from observeChanges will make all instances call same edit"
Edit: The scope of this issue has narrowed, scroll down.

Problem: It's not clear to casual viewers how active the site is.

possible solution: display number of users online / number of registered users in total

possible solution: some kind of activity log

[2018-04-02 04:59] gazhayes opened #883 "problem: cursor on chart does not change when hovering over chart labels"
Problem: Its not clear to the user that the labels on charts can be clicked.

[2018-04-02 05:04] AshHimself commented on #883
Should we just make the element clickable then?

[2018-04-02 05:09] gazhayes commented on #883
Yeah can do, it's probably just going to be used for a modal anyway.

[2018-04-02 05:10] samuelralak commented on #814
ok cool. will take this one

On Mon, 2 Apr 2018 at 04:22, Gareth Hayes <notifications@github.com> wrote:

[2018-04-02 05:11] jmspsi126 commented on #835
hello

Did you close #835 issue?
When close issue, can i start to work.
I think you need to open new issue on gitlub.
This is right?

[2018-04-02 05:11] AshHimself commented on #883
Ok maybe i'm not following then.. what should happen when you click the
chart labels. Mine just navigates to /currency/{{coin}}

On Mon, Apr 2, 2018 at 1:09 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-02 05:15] AshHimself commented on #786
Fixed in #884

[2018-04-02 05:26] gazhayes commented on #883
Ah, forgot to mention that #876 is related. Look at the console when clicking radar and bar chart labels.

[2018-04-02 05:29] gazhayes commented on #781
Yes I think thats the simplest solution.

[2018-04-02 05:30] AshHimself commented on #786
Fixed in #885

[2018-04-02 05:32] #786 closed

[2018-04-02 05:43] gazhayes commented on #844
So, I guess the simplest way is to have auctions to sell whatever currency (Krazor, USD, ETH, XMR for now).

This requires an extension to the existing wallet to store these other currencies of course.

We can just stubb off deposit/withdraw.

Users should be able to set the time for how long the auction runs for.

Users should be able to set a reserve, and I guess the reserve amount should be hid

[2018-04-02 05:55] AshHimself commented on #883
ohh I get it.. so the radar being clicked now is just opening the currency page but it'll soon be opening a modal..?

[2018-04-02 06:04] gazhayes commented on #883
Yeah you got it

[2018-04-02 07:12] anbud commented on #844
@gazhayes, that seems perfectly sufficient for the beginning.

[2018-04-02 07:16] gazhayes commented on #844
Ok, I have nothing else to add, you want to take this one right?

[2018-04-02 07:20] anbud commented on #844
Yap, I'm taking it.

[2018-04-02 07:25] anbud commented on #880
I'll check it out,

[2018-04-02 07:48] sjmackenzie commented on #881
Patch is a commit, otherwine known as a changeset. Patch, commit, change change set are pretty much interchangeable. A PR is irrelevant to the process, all the information shoild be present at commit message level. Information at a PR level is a nice to have and generally being polite usage.

[2018-04-02 07:50] sjmackenzie commented on #881
Fun fact, the name patch was derived from the days of punch cards whereby a programmer would use tape to literally patch or cover a hole in the punch card.

[2018-04-02 07:52] gazhayes commented on #881
The problem is that this language difference makes things difficult for new contributors, especially those who are englishly challenged.

[2018-04-02 08:01] anbud commented on #880
Should be fixed in #886. I'm not sure why was the error happening, and the solution given in the PR was the only thing that wanted to work.

[2018-04-02 08:03] gazhayes commented on #880
I'll post an issue on mocha and see what happens.

[2018-04-02 08:03] #880 closed

[2018-04-02 08:04] anbud commented on #880
I'm guessing it has to do something with the load order, but I couldn't seem to find out why.

[2018-04-02 08:55] sjmackenzie commented on #881
Quite likely, have you had experience of people not understanding what a patch is?

[2018-04-02 08:58] gazhayes commented on #881
Yes, it's a regular occurance. Confusion about patch/commit/pull request. It's actually rare that someone doesn't ask and just gets it right.

Not sure what the ZMQ guys have experienced, they seem to be straying from the C4 lately anyway.

[2018-04-02 09:12] sjmackenzie commented on #881
Okay then, how about setting up a github account dedicated to the C4 and other development processes then maintain it there?

[2018-04-02 09:13] gazhayes commented on #881
Yeah that's probably the best idea. I'll do that tonight then.

[2018-04-02 09:17] #881 closed

[2018-04-02 10:20] jmspsi126 commented on #835
Are you there now?
Did you check my message?

[2018-04-02 10:35] jmspsi126 commented on #835
I have to stop to work now?
Or i have to work on closed issue state again?

[2018-04-02 10:36] jmspsi126 commented on #835
I didn't find cause of issue why you removed code i committed yet.

[2018-04-02 10:36] jmspsi126 commented on #835
Can i start to work on another issue list?

[2018-04-02 10:39] jmspsi126 commented on #835
Are you there now?

[2018-04-02 12:12] AshHimself commented on #882
Number of registered users is easy enough; or could go a little deeper

https://github.com/mizzao/meteor-user-status/

[2018-04-02 12:15] gazhayes commented on #882
Yeah that looks like it will work.

[2018-04-02 12:28] AshHimself commented on #882
Looks like it'll only work for a single instance therefore when/if we break out to multiple meteor instances it'll be borked. i'll keep looking.

[2018-04-02 12:30] gazhayes commented on #882
Ah yeah, that's not a solution then. We'll be using multiple instances from day 0 just to stop downtime with every merge.

[2018-04-02 13:18] gazhayes opened #887 "problem: hashpower API bounties not shown unless logged in"
Problem: hahspower API bounties are not shown unless user is logged in.

[2018-04-02 13:33] janat08 commented on #565
https://github.com/meteor/meteor/issues/340
I went without Meteor.logginIn(), but unload event doesn't work in Meteor.

[2018-04-02 13:59] AshHimself commented on #882
https://github.com/VeliovGroup/Meteor-user-status/ looks a lot better.. Giving it a test locally now.

[2018-04-02 14:37] janat08 opened #890 "Problem: [/currency/x] pop-up about adding features invisible if window is scrolled"
Problem: On /currency/x pop-up asking to add features for new currency doesn't appear in viewport if you scrolled down. It has transition animation which might be preventing it from appearing in the viewport, we have scroll magic library installed. The text shown in modal is- in features.html:
[code]

[2018-04-02 15:16] chamidu-supeshala commented on #887
Hi all, I am going  to work on this issue.

[2018-04-02 15:25] janat08 opened #891 "Problem: [/addCoin] doesn't use typeahead for exchanges"
problem: typeahead is not used when adding exchanges at the /addcoin route.

solution: make /addCoin use typeahead for exchanges

[2018-04-02 15:34] gazhayes commented on #891
I edited this to show you how it should have been logged.

[2018-04-02 16:37] chamidu-supeshala commented on #887
Fixed in #892

[2018-04-02 20:51] janat08 commented on #783
The issues with the issue:

- using typeahead template in one of those currencyInfo templates will make suggestion template invisible (not render it), thus it's at the very top of the page.

- I couldn't bind an event to nothing found template inserting typeahead text into exchanges collection.

- passing current typeahead value into thing template isn't possible as it nothing found template is on

[2018-04-02 20:55] janat08 commented on #891
#783 is dependency

[2018-04-02 20:58] janat08 commented on #783
FYI, zcash has some starting exchanges. and I used "name" for exchange name in schemas everywhere instead of tag, although it currencyDetail shows both tag and name fields.

[2018-04-02 21:04] janat08 commented on #565
we could subscribe to separate publication that would keep the setting in memory and then commit when publication dies :P. https://docs.meteor.com/api/pubsub.html#Subscription-onStop

[2018-04-02 21:13] janat08 commented on #882
https://atmospherejs.com/socialize/user-presence
lets you pass callbacks so that you can just increment a field in a separate collection and is supposedly more scalable.

[2018-04-02 23:16] gazhayes commented on #565
Ha! that would probably work.

[2018-04-03 00:18] anbud commented on #844
Done in #894.

[2018-04-03 01:16] gazhayes opened #895 "problem: [/new-auction] auction end dates are hard to choose"
Problem: auction end dates are hard to choose.

possible solution: offer a simple selection of choices such as: 6 hours; 1 day; 3 days; 5 days; 10 days.

[2018-04-03 01:19] gazhayes opened #896 "problem: [/auction/x] incorrect momentjs calculations"
problem: the momentjs calculations seem to be inverting past and future dates.

[2018-04-03 01:23] gsovereignty opened #897 "Problem: [/auctions] UX/UI isn't very good"
Problem: the UX/UI for /auctions isn't great. I've opened this issue to have a discussion first.

possible solutions:
use a layout like /problems and do some filtering/sorting magic,
use a table layout

Let's see what people think.

[2018-04-03 02:35] kevingilliard opened #898 "Problem: Toaster error is displayed behind navigation bar"
Problem: When user input invalid data into form and click submit button, it shows error message as toaster.
![image](https://user-images.githubusercontent.com/13878119/38226158-27971e96-36c6-11e8-9e8e-2ce8079ebe71.png)

The toaster is behind navigation bar and user cannot read text.

Solution: Adjust toaster position to be below navigation bar.

[2018-04-03 02:38] AshHimself commented on #898
@kevingilliard - I would also review the z-index of the topnav and toaster element. Could be a simpler fix that way possibly.

[2018-04-03 02:40] chamidu-supeshala commented on #890
@janat08 Do you mean about helper modals? For me, those appears, but some part is behind the navbar. Is that the case?

[2018-04-03 02:46] kevingilliard commented on #898
@AshHimself - Thank you for your suggestion.
Now the z-index of navigation bar is top-most.
I'm going make it lower than before and make toaster to top-most.

[2018-04-03 03:24] chamidu-supeshala commented on #895
I will work on this problem

[2018-04-03 03:52] nsec-pilot commented on #896
HI @gazhayes, could you tell me a little more about this issue?
Exactly, where do you mean for this calculation issues?

[2018-04-03 04:04] gazhayes commented on #896
for example:
https://blockrazor.org/auction/zcqotYh4kNtPrfh3o
<img width="209" alt="screen shot 2018-04-03 at 12 01 16 pm" src="https://user-images.githubusercontent.com/8143945/38228587-c235be56-3736-11e8-8d0b-5902f08db483.png">

I created this test auction, it ends *in* 2 years.

[2018-04-03 04:06] nsec-pilot commented on #896
What is the correct value?

[2018-04-03 04:18] gazhayes commented on #896
We will not be playing this little game again. You may have changed your github username but I know exactly who you are.

All the information you could ever possibly need is above.

[2018-04-03 05:07] nsec-pilot commented on #896
What do you mean? I am new in this project. I think you misunderstood.

[2018-04-03 05:14] gazhayes commented on #896
It should say "in two years", but it's reporting "2 years ago". I havent looked but I guess it's reversing the time calculation somewhere.

[2018-04-03 05:25] chamidu-supeshala commented on #895
Fixed in #902

[2018-04-03 05:27] gazhayes commented on #896
Ah ok. I just merged a pull request that changes the date selector, this might be resolved then, will know in a few minutes.

[2018-04-03 05:30] gazhayes commented on #896
Could it just be appending "ago" to everything?

[2018-04-03 05:38] gazhayes opened #903 "problem: blockrazor.org whois is private"
Problem: whois lookup cannot be performed on blockrazor.org. This could somewhat undermine the openness and transparency of the project.

[2018-04-03 05:41] chamidu-supeshala commented on #896
Shall i work on this?

[2018-04-03 05:43] gazhayes opened #904 "problem: cannot test new auction system effectively"
Problem: it's hard to test the new auction system effectively because no one has any other currencies other than krazor.

solution: on the wallet page add some buttons like "I can has USD?" for all logged in users to increment different currencies by 10 (or whatever). Make it very clear that this is for testing and will be removed for production, so that casual browsers dont get weird ideas.

[2018-04-03 05:46] anbud commented on #904
I've added a deposit form on the Wallet page (above the filter), where you can select the amount and the currency and "deposit" it immediately.

[2018-04-03 05:49] AshHimself commented on #882
socialize/user-presence looks good but it has a lot of dependencies. I ponder if there is something more lightweight :/

[2018-04-03 05:49] gazhayes commented on #896
I was just chatting to @nsec-pilot and he is already working on it but forgot to follow the readme and claim it first ;)

[2018-04-03 05:51] #904 closed

[2018-04-03 05:52] gazhayes commented on #904
You're like 3 steps ahead of me. I didn't even look.

[2018-04-03 05:53] AshHimself commented on #897
the meteor table plugin would go good here.. on a side note, I believe we need a ticket to define a boilerplate template of what screens should look like for most CRUD interfaces etc. Thoughts?

[2018-04-03 05:54] gazhayes commented on #882
Total users should be easy, in the worst case we can just count once an hour in a cron job and denormalize it somewhere.

So doing online users efficiently is what matters here.

[2018-04-03 05:56] gazhayes commented on #897
Pretend I'm stupid for a second and explain that like I'm 6 years old.

[2018-04-03 05:59] chamidu-supeshala commented on #896
Ok no issues.. it is just an issue with the function i think.. will be fixed if we use fromNow() instead toNow()

[2018-04-03 06:04] AshHimself commented on #897
haha ok

When creating new functionality 'create screens', 'read screens', 'edit screens' & delete screens should all follow some sorta consistency. I don't think this is a high priority just a passing thought.

[2018-04-03 06:45] AshHimself commented on #834
Fixed in #905 pending testing

[2018-04-03 07:21] AshHimself commented on #782
Fixed in #906

[2018-04-03 07:24] AshHimself opened #907 "problem: approval images are using static urls"
Problem: approval images are using static urls

`<img src="/static/images/wallets/{{_id}}.{{extension}}" width="400px" height="auto"><br />
`
Solution: Update code to use global params

[2018-04-03 07:24] AshHimself commented on #907
Taking this as working in file.

[2018-04-03 07:29] AshHimself opened #908 "Problem: [/moderator] UX/UI isn't very good"
Problem: UX is not very good and hard to use

Solution: Bootwatchify & improve UX.

- Group/filter approval types
- bootwatchify Moderation Queue menu items

@gazhayes - I don't see removeUserCredit used at all for when items are flagged? Should this be in the workflow. I can jump on this screen tonight if need be as I am currently not on anything.

[2018-04-03 07:40] gazhayes commented on #908
Actually just hold off on this one, I'll ping you about it later. Going to log a few structural problems first.

[2018-04-03 08:10] janat08 commented on #890
has the text like "this currency was recently added and as such it doesn't have enuf features."

[2018-04-03 08:29] AshHimself commented on #898
@kevingilliard - If you are happy this is solved you should close the ticket as you created it :)

[2018-04-03 08:41] gazhayes opened #909 "problem: [/auction/x] adding a new bid lower than the current bid removes existing bid"
Problem: adding a new bid lower than the current bid removes existing bid, refunds the bid, but leaves the amount as the winning bid.

Steps to reproduce:
bid on an auction
make a new bid lower than the first

[2018-04-03 09:03] anbud commented on #909
Fixed in #910.

[2018-04-03 09:06] anbud commented on #883
@AshHimself, have you started working on this one?

If not, I'll take it, I have a simple solution in mind.

[2018-04-03 09:08] AshHimself commented on #883
I had a tinker but didn't find anything elegant to solve it. Its all yours.

[2018-04-03 09:16] #909 closed

[2018-04-03 09:42] gazhayes opened #911 "problem: [/] warning modal is displayed under navbar"
Problem:
<img width="696" alt="screen shot 2018-04-03 at 5 38 34 pm" src="https://user-images.githubusercontent.com/8143945/38241927-0f06d808-3766-11e8-9579-05f083fe5408.png">

(warning modal triggered by orange image)

solution: move it or change z-index.

Also: remove quotation marks, and make it a link (or whatever) so that the hand cursor is displayed so so users know to click it.

[2018-04-03 09:43] chamidu-supeshala commented on #911
I will work on this:)

[2018-04-03 09:44] #844 closed

[2018-04-03 10:05] chamidu-supeshala commented on #911
fixed in #912

[2018-04-03 10:33] #911 closed

[2018-04-03 10:33] jmspsi126 commented on #854
I already tried to add top red flag.
As Ash mentioned above, after add top red flag,  real estate was getting tight.
But i think we have one method.
We can increase the height value of each block.

[2018-04-03 10:40] jmspsi126 commented on #854
https://www.screencast.com/t/5JqrjM40y

Please check this screen.
I added function to show top red flag like this screen.

[2018-04-03 11:28] #898 closed

[2018-04-03 11:29] kevingilliard commented on #898
Hi, @AshHimself
How can I assign me to issues?  I don't have permission now.

[2018-04-03 11:32] janat08 opened #913 "Problem: a server file makes it into client bundle"
Problem: /imports/api/users/usersStats.js makes into client bundle, because if you remove Meteor.isServer it will fail as it contains server only packages, yet as this file is concerned it's only imported into the server.

[2018-04-03 11:46] AshHimself commented on #898
You will need to reach out to @gazhayes for this one mate.

[2018-04-03 12:08] gazhayes commented on #854
You again? As I mentioned in numerous places, after 3 or 4 failed pull requests in your attempt to be brought onboard as a paid contributor you finally sent one that complies with the C4 but your code broke existing functionality, so I reverted it. This was well documented and discussed between myself and anbud at the time, I tagged your pull request with these conversations. I mentioned them in t

[2018-04-03 12:20] gazhayes commented on #898
@kevingillard I'll fix that up for you as soon as I get back to a computer (using phone now).

[2018-04-03 12:26] janat08 commented on #882
It does add server-presence package, and is not reliable in informing only once that the user is online. I think it would've made more sense to make a global publication to keep track of users online, but it's done.

[2018-04-03 12:34] gazhayes commented on #882
Well, if it doesnt work well enough at least there are other options. Let's see how it goes.

[2018-04-03 12:53] gazhayes commented on #834
Yep looks good to me.

[2018-04-03 12:53] #834 closed

[2018-04-03 14:46] janat08 commented on #882
Actually, it appears to use publications already, I ran into same chaos trying to use them.

[2018-04-03 15:40] janat08 commented on #272
currencies folder, activity log, bounty types, undone as it is broken.

[2018-04-03 15:42] janat08 commented on #272
votes undone

[2018-04-03 18:51] janat08 commented on #808
@AshHimself don't know how I missed this but you should use required if there's requiredByDefault option specified, and obviously, the value for requiredByDefault is devValidationEnabled which is false in a development environment with a toggle in startup folder. It's not just plain Meteor.isDevelopment which is all it is to demonstrate the intent of enabling validation only in production.

[2018-04-03 18:53] janat08 commented on #667
I'll swap this out for devValidationEnabledFalse

[2018-04-03 19:53] anbud commented on #883
Done in #918.

[2018-04-03 19:58] anbud commented on #897
@AshHimself, I kinda agree, it would be nice if we had some sort of a boilerplate template in this situations.  It is a low priority for now, but we should definitely do it later on, once we achieve sitewide consistency.

[2018-04-03 23:37] #883 closed

[2018-04-04 00:46] kevingilliard commented on #896
I found a problem with using moment.js
For example, below url shows "in in"
https://blockrazor.org/auction/zcqotYh4kNtPrfh3o

![image](https://user-images.githubusercontent.com/13878119/38282797-04cd2e5e-3780-11e8-8a56-9bd1cbf97d31.png)

[2018-04-04 00:49] nsec-pilot commented on #896
Ok, let me see and fix it.

[2018-04-04 00:56] gazhayes commented on #896
Also @nsec-pilot when you have finished an issue and aren't sending any more pull requests you shoud mention that you have fixed it so that everyone knows they can check it and close the issue. Also mention the pull request number with a # at the front so that it's easy to find the pull request (#916 in this case)

[2018-04-04 01:01] nsec-pilot commented on #896
Ok, then, after fixing this issue, shall I send pull request again.

[2018-04-04 01:38] kevingilliard commented on #897
Let me try to make a CRUD template for /auctions

[2018-04-04 02:05] jmspsi126 commented on #854
Yes.
I checked code carefully and found cause.
When fix issue correctly, i will send pull request again.

[2018-04-04 02:15] gazhayes commented on #897
@kevingilliard remember that we want the simplest possible solution to to the actual problem that is *currently* observed (C4).

[2018-04-04 03:05] kevingilliard commented on #897
@gazhayes
I'm going to use DataTable that supports filtering and sorting.  https://datatables.net/
And the meteor package is here.
https://github.com/aldeed/meteor-tabular

[2018-04-04 03:09] gazhayes commented on #897
Is that the one that we are already using elsewhere?

[2018-04-04 03:40] kevingilliard commented on #897
No, but it's easy to use.
We can implement filtering & sort with less update.

[2018-04-04 04:02] nsec-pilot commented on #903
Could you let me know a little more about this issue?
Like screenshots or a little more spec.

[2018-04-04 04:03] AshHimself commented on #903
@nsec-pilot This isn't something you will be able to resolve which is why its assigned to @gazhayes.

[2018-04-04 04:10] nsec-pilot commented on #903
Ok, I see.

[2018-04-04 04:12] nsec-pilot commented on #907
Hi @AshHimself, do we need to change static url to global value like next values?

[2018-04-04 04:13] AshHimself commented on #907
I have already resolved this and pushing a PR later.

[2018-04-04 04:29] gazhayes commented on #897
Ok. I guess you can give it shot and see how it goes. So you want to take this one? Are you able to self assign or is it still not working?

[2018-04-04 04:30] AshHimself commented on #897
Are we sure we want to have two packages going which do the same thing? DataTables is really good but we should probably stick to one or the other.

[2018-04-04 04:33] gazhayes commented on #897
It's probably going to come down to overhead and UI. It's ok to use a different one to solve this issue, we can cull one of them later if having both causes problems.

[2018-04-04 04:35] gazhayes commented on #897
@kevingilliard can you self assign yet?

[2018-04-04 04:45] gazhayes commented on #907
@nsec-pilot when something is assigned it means someone is already working on it. Or if someone says something like "taking this" it means they are working on it.

[2018-04-04 04:46] gazhayes commented on #823
@chamidu-supeshala are you able to self assign yourself to tasks or it doesn't let you?

[2018-04-04 04:49] kevingilliard commented on #897
@AshHimself
I think the current UI design is not so good.
And it supports sort by Timeout only.
If I use DataTable, we can do all the things easy.
And I can update all the others use this.

[2018-04-04 05:25] gazhayes commented on #896
@nsec-pilot I'm not sure if you fully understand. You need to make a comment when you have finished. Sometimes some issues require many pull requests, so no one knows what you are thinking unless you say it. It's very important to tell everyone when you've finished working on any issue so that people can check the result and close the issue. Otherwise we have a lot of 'dead' issues and it's very c

[2018-04-04 05:31] chamidu-supeshala commented on #823
fixed in #921

[2018-04-04 05:43] nsec-pilot commented on #896
Yes

[2018-04-04 05:58] chamidu-supeshala commented on #823
Thanks @gazhayes  and now i can self assign tasks. So after i completing a task, do i need to close it? or the person who raised the issue need to verify before closing it?

[2018-04-04 06:41] samuelralak commented on #781
@gazhayes am going to display a warning modal before users start anwering questions for ratings, codebase, and communities with the following message:
[code]
KIndly let me know if the above works or if slight modification will be required?

[2018-04-04 07:08] #896 closed

[2018-04-04 07:09] gazhayes commented on #823
The person who opened it *should* close it.

[2018-04-04 07:12] gazhayes commented on #781
Looks ok to me. You generally don't need to ask these kinds of questions, just use your own judgment, it's your project too.

[2018-04-04 07:13] samuelralak commented on #781
got it 👍

[2018-04-04 09:03] gazhayes commented on #854
@jmspsi126 when you have completed an issue you can mention that it is complete so that everyone knows you aren't sending more pull requests.

[2018-04-04 09:03] #854 closed

[2018-04-04 09:05] gazhayes commented on #783
@janat08 why are _id numbers populating the typeahead?

[2018-04-04 10:36] #667 closed

[2018-04-04 10:37] janat08 commented on #783
Something to test with, in /startup/server/fixtures.js.

[2018-04-04 10:42] jmspsi126 commented on #854
what do you mean?
There are issue on committed code now?

[2018-04-04 10:48] gazhayes commented on #783
Oh ok.

If you are done with this one, I'm going to close it and log a new issue based on the current status so this doesn't go stale.

[2018-04-04 10:49] gazhayes commented on #854
No. I mean that if you have completed an issue, you should say so. Then we can validate it and close the issue.

[2018-04-04 10:50] MadanBhandari commented on #621
Great idea, As I was been away for a while, but I am back now :+1:  I am in.

[2018-04-04 10:58] jmspsi126 commented on #854
Ok.
Did you test about committed code again?
If you find new issue, ping me.
How long it will take to test?
I think...
When fix issue, i have to mention like "Fixed in #854."

[2018-04-04 10:59] janat08 commented on #783
I'm done.

[2018-04-04 11:00] gazhayes commented on #854
correct.

Yes. That's why I closed the issue, it's solved.

[2018-04-04 11:01] janat08 commented on #333
made pull request to their library.

[2018-04-04 11:02] gazhayes commented on #783
Cool, thanks.

[2018-04-04 11:04] gazhayes commented on #333
Can you link? Thanks :)

[2018-04-04 11:05] janat08 commented on #333
https://github.com/ccorcos/meteor-subs-cache/pull/49

[2018-04-04 11:08] jmspsi126 commented on #854
Ok.
Even if it 's a little late, I want to say this. :)
Fixed in #854

[2018-04-04 11:30] gazhayes commented on #333
Ok if they dont merge it within 2 days I will fork this into blockrazor and put it under the C4.

[2018-04-04 11:47] janat08 commented on #882
Make edits from observeChanges will make all instances call same edit.

[2018-04-04 13:00] MadanBhandari opened #923 "Problem : [/wallet] UI/UX isn't good"
Problem :  `/wallet` UI/UX isn't good

1. - [ ] Every currency balance says: Total Balance: _0000_ USD (Repeated Total Balance:)
**My Proposal** : May be we can make cards for each currency, as containing only values like 680.60 USD, 8.00000987 BTC
2. - [ ] Currency amount is not practical : eg. we can not have 9.9887 USD (decimal values should be fixed based on currency)
**My Proposal** : Fix max

[2018-04-04 13:08] jmspsi126 commented on #854
what is next task?

[2018-04-04 13:12] gazhayes opened #924 "problem: too much data in wallet"
Problem: there's too much data in /wallet, it's overwhelming.

Possible solution: use cards or something on the main wallet page to show total balances. Clicking on one of these can lead users to a table view of all transactions for that currency.

[2018-04-04 13:13] gazhayes commented on #923
These should mostly be separate issues rather than one huge issue.

For example, I just created #924.

[2018-04-04 13:22] gsovereignty opened #925 "Problem: transactions in wallet contain amounts twice"
Problem: transactions in user wallets contain a description of the transaction, as well as a value (within the message). In addition, there's a value column.

solution: stop logging transaction amounts to transaction message.

[2018-04-04 13:28] gazhayes opened #926 "problem: wallet transactions shown in relative time"
Problem: Wallet transactions are more of a statement rather than a notification, having transactions displayed as relative time (e.g. 3 weeks ago) instead of absolute time is confusing.

solution: display as datetime

[2018-04-04 13:29] gazhayes commented on #923
this doesn't solve any immediately clear problem.

[2018-04-04 13:30] MadanBhandari commented on #923
I created this for discussion purpose first and I thought creating single issue would help to keep related issues at same place.

@gazhayes Did you got my point ? or I am the one who is confused ?

I will look into this and will share my solution for this.

[2018-04-04 13:36] gazhayes commented on #923
Yep, I know, I'm not saying you did anything wrong just saying yeah I agree and these are real problems so we can make them official.

I get it, and yes it's confusing. We need to keep the notification badge for transactions, and its too much data to put into 'real' notifications. But we also don't need a separate list of wallet notifications, only the table. Maybe just order them by date by defau

[2018-04-04 13:37] MadanBhandari commented on #923
Yes, this isn't a problem for now, just an feature request (If the purpose of table is account statement)

[2018-04-04 13:39] gazhayes commented on #923
OK. If blockrazor becomes a thing and people want pdf/excel transaction output they'll ask for it.

[2018-04-04 13:41] gazhayes commented on #923
@MadanBhandari You should log point 1 as a new issue too, that's definitely an annoying problem.

[2018-04-04 13:41] MadanBhandari commented on #923
What about adding Discussion instead of Problem in title ? For discussion purpose and make new issues to make it official.

[2018-04-04 13:42] MadanBhandari commented on #923
Like, Just I did.

[2018-04-04 13:43] gazhayes commented on #854
We don't assign tasks, if you want to work on a new task you can choose whatever looks interesting to you.

[2018-04-04 13:45] jmspsi126 commented on #854
yeah
I understand.
umm...
May i ask this question?
Who is CFO of blockrazor?
I mean...
Who can pay about my working times?

[2018-04-04 13:55] gazhayes commented on #923
What happens when you do this is two negative things:
1. it degrades the issue list, makes it longer than necessary and requires more brain cycles to process because some things aren't really problems. It also opens the door to all kinds of sillyness because it implies that we have permission to start putting *anything* on the issue tracker, things degrade very quickly.

2. It very quickly leads t

[2018-04-04 13:56] gazhayes commented on #923
Is everything covered by those other issues I logged? Or is there still more to resolve?

[2018-04-04 13:58] AshHimself commented on #925
I'll take this mate and update relevant spot that reference it.

[2018-04-04 13:59] gazhayes commented on #854
We aren't bringing you on as a paid contributor, so nobody can pay you.

[2018-04-04 14:05] jmspsi126 commented on #854
umm...
I understand you enough.
This is not problem to discuss with you.
How can i contact with Client?
Can you send him message?
I fixed one issue.
Client need to pay for this.
If client not paid, how can i work for project?
If client not paid, you can work for project with free?
This is not reasonable contract.
Right?
Can you send client's email or $kype id on here?

[2018-04-04 14:06] MadanBhandari commented on #923
Got it, thanks for the clarification :)

Filter is not included yet and still I am not sure about solution, I will update here, once I figured out.

[2018-04-04 14:16] jmspsi126 commented on #854
Are you CTO or developer of team?

[2018-04-04 14:27] MadanBhandari commented on #854
@jmspsi126 you should first read and understand about what is Open Source and how it's works.

[2018-04-04 14:29] gazhayes commented on #923
Ah yeah, that filter thing. I have no idea what to do. However I suggest creating a new issue and closing this one, that we it's more inviting and specific enough that others will probably pitch in with some ideas. I don't think it's possible for anyone to come up with a simple elegant solution to this problem though.

[2018-04-04 14:31] jmspsi126 commented on #854
@gazhayes
I understand you.
But i fixed issue finally.
If there are not any another client on this team...
I think...
As client you have to pay about this.
If you want, i will send you my paypal email.
Please pay about my working hours.

@MadanBhandari
I know about Open Source well.
So i tried to work for project.
And i learned all process and fixed issue finally.
If you devoted yourself with free

[2018-04-04 14:31] chamidu-supeshala commented on #926
done in #927

[2018-04-04 14:34] gazhayes commented on #854
No, I want to leave you a review when I pay :)

I'm guessing you saw this through upwork or freelancer? What's your username? You've had your fun, it's my turn now.

[2018-04-04 14:35] jmspsi126 commented on #854
I think you are also developer like me.
right?
Who is client?

[2018-04-04 14:36] sjmackenzie commented on #854
@jmspsi126 why are you deliberately stirring up chaos in this project? Are you working on a competing project maybe? Shouldn't you be pushing your own features instead of focusing on creating a cacophony in your competitor's hallways?

[2018-04-04 14:36] samuelralak commented on #854
@jmspsi126 the gods my good sir...the gods

[2018-04-04 14:39] jmspsi126 commented on #854
I completed 600 projects perfectly.
Actually i have been programming for over 10 years.
But i didn't have this experience.
After fixed issue, all clients paid for that.
But i didn't have any.
This is reasonable contract?

[2018-04-04 14:41] jmspsi126 commented on #854
If didn't fix issue, i will not request this.
Sorry.

[2018-04-04 14:49] jmspsi126 commented on #854
@gazhayes
When can you pay?

[2018-04-04 14:51] jmspsi126 commented on #854
I think client is located in United Kingdom.
You are asian.
I want to discuss with client directly.

[2018-04-04 14:51] francisalmighty commented on #854
I don't remember why I started following this repo, but damn this is good entertainment. @jmspsi126 have you ever considered a career in standup comedy?

[2018-04-04 14:54] jmspsi126 commented on #854
@francisalmighty
You can think about this project.
I devoted myself for project, but i didn't get any yet.
So i am requesting this.
Sorry.

[2018-04-04 14:57] jmspsi126 commented on #854
Please pay about my working hours.
I don't want another.

[2018-04-04 15:01] jmspsi126 commented on #854
I devoted myself to fix issue.
Please pay for me.

[2018-04-04 15:01] jmspsi126 commented on #854
If didn't fix issue, i will not request this.
I can't request this.

[2018-04-04 15:01] #926 closed

[2018-04-04 15:17] jmspsi126 commented on #854
@gazhayes

Hi Gareth

For now.
How can i help you?
I want to work continuously on reasonable contract.
I think  you can  understand me because you have experience to work as developer too.
First of all...
I want client pay to me for first contract.
After pay, i want to work on another task with all team members.
Please help me.

Regard!

[2018-04-04 15:34] gazhayes commented on #854
Just for the record:

#784 is the issue where I said:

You then sent a third pull request (#841), and again you hadn't read the readme, I replied with:

Then in issue #835 I said, just to reiterate:

You replied:

I am trying to send pull request again.
I am working for that.
If learn this process, we can start to work again?

I did not at any time after this point indicate that you would ever be

[2018-04-04 15:34] MadanBhandari commented on #854
Well, In my case, I have started working on this because I never worked on any Open Source Projects and I wasn't sure about the process and money was never my main priority for this project (because this is Open Source).

@gazhayes helped me to understand the process and to make my first PR. He is been very supportive and always encourage me to learn, participate in discussion, better understandin

[2018-04-04 15:46] MadanBhandari commented on #926
I think we should also add timezone, OR somewhere on whole website to set timezone or let user know about default timezone.

I have no idea about date and time as user.

Any better idea ?

png @gazhayes @chamidu-supeshala

[2018-04-04 15:53] gazhayes commented on #926
Timestamps are epoch time, so they are displayed in the users local timezone already (I think). Maybe you should verify that though and log an issue if not.

[2018-04-04 15:54] MadanBhandari commented on #882
Sorry for late response.

I think showing online users are not enough. What about showing activity instead of online users.

Example :
New coin added 3 minutes ago by _username_.
Coin info updated 3 minutes ago by _username_ etc.

[2018-04-04 15:58] chamidu-supeshala commented on #926
@MadanBhandari   I initially added GMT with timezone, then changed it to Local time with timezone. Finally removed timezone, thinking that there is no need to show timezone, as this is already converted to local time. If need it, i will add it along with my next PR.

[2018-04-04 15:58] MadanBhandari commented on #926
Yes, it is based on my local time. By default it wasn't sorted by time, that was the reason behind my confusion. Making sorted by time default will solve problem.

[2018-04-04 16:00] MadanBhandari commented on #926
By default sorting by date/time should be enough.

[2018-04-04 16:03] chamidu-supeshala commented on #926
Ok i will work on it :+1:

[2018-04-04 16:04] samuelralak commented on #781
done in [#922](https://github.com/Blockrazor/blockrazor/commit/96d438601c24f032ce0e1aeda8b648ab758c4f41)

[2018-04-04 16:05] samuelralak commented on #814
this issue can be closed if there no more requirements

[2018-04-04 16:06] #814 closed

[2018-04-04 16:08] MadanBhandari opened #928 "Problem: It's not clear to casual viewers this site is managed by community, decentralise and open initiative"
Problem: Not clear about site is open initiative, community driven

Solution : Add short about us paragraph on bottom (footer) and link licence information, privacy policy and terms of use.

I have no idea about legal process and content for documentation but in my view these are complete necessary.

This can be low priority issue for now, as we are still in active development.

ping @gazhayes

[2018-04-04 16:17] MadanBhandari opened #929 "Problem : Filter transaction in wallet is not clear"
Problem : Filter in /wallet is not clear how it works, eg. Top Comments doesn't explain that wallet transaction because of top comment.

Solution : Share your ideas, this is basically some UX update, may be just updating content (text) should be enough.

[2018-04-04 16:18] MadanBhandari commented on #923
Created new issue for filter #929.

Closing this.

[2018-04-04 16:18] #923 closed

[2018-04-04 16:29] samuelralak commented on #929
@MadanBhandari been playing around with the filter  and am not entirely sure that it works the way its supposed to i.e data is not correctly filtered. I think this needs to be addressed as well.

I also think that the position of rows per page should be easily accessible, having at the very bottom of the page IMO may not be the best user experience.
<img width="418" alt="screen shot 2018-04-04 at

[2018-04-04 16:39] MadanBhandari commented on #929
I do not have enough data to check all sort data.

One quick question : how can I become moderator on local? I want to check UI/UX of moderator only pages and see other problems.

Yes, rows per page can be placed on top, on same row as filter, currently filter is also too long.

[2018-04-04 16:40] samuelralak commented on #929
if you have restore the database dump you can use these credentials

[2018-04-04 16:42] MadanBhandari commented on #928
Let's keep this on low priority for now and wait for better ideas.

I agree on this, I just wanted to put one paragraph to tell exactly what is Blockrazor and more details on about-us page. So that user will get some idea before going through very long content.

[2018-04-04 18:06] samuelralak commented on #850
pushing commit checking whether question is defined/exists

[2018-04-04 18:14] MadanBhandari commented on #929
Updated on #930

[2018-04-04 18:24] samuelralak opened #931 "Problem: [/ratings] amount not awarded to user when question is answered"
Problem: When users answer ratings questions, they are not rewarded. The error shown below is thrown instead

<img width="830" alt="screen shot 2018-04-04 at 9 23 16 pm" src="https://user-images.githubusercontent.com/4476552/38326423-71f50910-384e-11e8-961d-a825e86d0991.png">

Solution: import `creditUserWith` utility function into `/imports/api/ratings/server/methods.js`

[2018-04-04 18:30] samuelralak commented on #850
@gazhayes please confirm if this error persists after [#932](https://github.com/Blockrazor/blockrazor/pull/932) is merged

[2018-04-04 23:52] gazhayes commented on #928
Actually I wouldn't call this one low priority. It's probably the most commonly suggested thing people tell me when I show them blockrazor.

[2018-04-05 00:05] gazhayes commented on #850
Appears to be fixed!

[2018-04-05 00:05] #850 closed

[2018-04-05 00:07] samuelralak commented on #931
fixed in [#933](https://github.com/Blockrazor/blockrazor/pull/933)

[2018-04-05 00:07] #931 closed

[2018-04-05 00:12] gazhayes opened #934 "Problem: no project style guide"
Problem: there's no style guide for working on blockrazor

solution: have a look at existing js, es6, node and meteor style guides, piece together something that works well with the C4.

[2018-04-05 00:13] AshHimself commented on #934
You talking about a possible linter ?

On Thu, 5 Apr 2018 at 8:12 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-05 00:14] gazhayes commented on #934
No, linters etc hide code smells.

I mean an actual style guide, here's an example: http://zeromq.org/docs:style

[2018-04-05 00:29] gazhayes opened #935 "Problem: ELO ranking rewards are multiplied, too much KZR being drained"
Problem: When performing an elo ranking question set, the rewards are multiplied. This is going to lead to too much Krazor being drained.

Possible Solution: divide the total bounty by the number of questions a user generates by adding communities etc.

Possible solution: divide the bounty by a nominal value that approximates the average number of questions that users answer

The idea is that the

[2018-04-05 01:31] AshHimself commented on #907
Fixed in #936

[2018-04-05 01:31] #907 closed

[2018-04-05 01:32] AshHimself commented on #782
@gazhayes - you good to close this?

[2018-04-05 01:33] AshHimself commented on #934
Right! This should add another layer of fun for new contributors but totally understand the need :D

[2018-04-05 01:34] AshHimself commented on #908
@gazhayes any update on this one mate?

[2018-04-05 01:35] gazhayes commented on #782
Will validate and close today

[2018-04-05 01:35] AshHimself commented on #802
@gazhayes - How'd you get on with this? Not sure if following you up is against C4 policy :)

[2018-04-05 01:36] AshHimself commented on #401
I think we can agree to close this now being that we have agreed to use validated-method to do server and client validation as a standard. Please reopen if anyone objects.

[2018-04-05 01:36] #401 closed

[2018-04-05 01:37] gazhayes commented on #934
The C4 says you *should* follow the style guide if there is one, so a patch is still valid if it doesn't follow it.

[2018-04-05 01:38] AshHimself commented on #762
Are you looking at this @samuelralak being you removed the in progress label away?

[2018-04-05 01:41] gazhayes commented on #908
Ah no. But I don't want to hold it up any longer.

How do you think that page should be laid out? It's kind of annoying to have to click into everything. I was thinking about maybe concertina'd left menu for moderators so they can easily see everything there without going back to the main moderator page.

[2018-04-05 01:42] samuelralak commented on #762
Yes sir, am still looking at that. Had a bit of a road block but I have
made some progress

On Thu, 5 Apr 2018 at 04:38, Ash Smith <notifications@github.com> wrote:

[2018-04-05 01:47] gazhayes commented on #802
Definitely not.

You (or whoever) could start building the framework and we can let the filtering part evolve over time.

I guess the next step is to choose some things to filter by.

[2018-04-05 02:58] chamidu-supeshala commented on #924
Done in #937

[2018-04-05 03:15] gazhayes commented on #924
REALLY nice work :)

[2018-04-05 03:15] #924 closed

[2018-04-05 03:16] kevingilliard opened #938 "Problem: [/currency/x] Wallet image modal has invalid align"
Problem: When user click the thumbnail for Wallet images in [/currency/x] page, the modal dialog appears.  But it's not center aligned and the image can be out of modal dialog area.
![image](https://user-images.githubusercontent.com/13878119/38345617-185b31ee-385e-11e8-90c1-7e20341d2e55.png)

Solution: Place modal dialog to horizontal center of window.  And if the image width is larger than modal

[2018-04-05 03:18] chamidu-supeshala commented on #924
Thank you for the appreciation :) :+1:

[2018-04-05 03:30] chamidu-supeshala opened #939 "problem: when a particular currency level is zero, an exception occurs in wallet"
Problem: When a currency amount is zero, it won't displayed. Instead an exception occurs.

Solution: I caught it after deploying the last PR, this may be a simple fix, just need to validate amount before displaying

[2018-04-05 03:51] chamidu-supeshala commented on #939
Fixed in #940

[2018-04-05 04:09] kevingilliard commented on #938
Ok, @gazhayes
Thank you for your advice.
From now on, I'll log the issues first.  And if you say it's important, I'll start work on it.
It's a beginning to me on this project, so sometimes I forget the rules.

[2018-04-05 04:15] #939 closed

[2018-04-05 04:35] gazhayes commented on #938
Don't worry, there's a learning curve, you're progressing nicely :)

Just to be clear, in this particular issue there was no problem with you starting work on it immediately (next time just make a comment that you are taking it first). I'm just slowly giving you this kind of information so that you take the right approach when things get more complicated.

[2018-04-05 05:36] gazhayes opened #942 "problem: [/currency/monero] TypeError: Cannot read property 'map' of undefined"
Problem:
[code]

Only happens with Monero, not sure what's going on but we should get to the bottom of it to make sure this isn't something too sinister.

[2018-04-05 06:28] AshHimself commented on #925
Fixed in #943

[2018-04-05 06:35] AshHimself commented on #942
Taking this.

[2018-04-05 06:42] AshHimself commented on #934
The style guide should state to remove debugging console.log statements before PR, so I don't have to remove useless messages spamming my console when I am trying to debug :D

[2018-04-05 07:03] AshHimself commented on #942
@gazhayes - looks like some code was trying to run before data was available. I've just added in some if statements to avoid the error.

This exchange issue where they are showing ID instead of name, do we have a ticket for that?

[2018-04-05 07:57] AshHimself commented on #802
Taking this.

[2018-04-05 08:21] #925 closed, assigned to AshHimself

[2018-04-05 08:57] anbud commented on #935
First solution seems simpler. I'll take this one.

[2018-04-05 09:00] anbud commented on #934
I agree with this one, I fully understand the need. :D
It would be lovely to achieve at least some consistency throughout the code.

[2018-04-05 10:02] AshHimself commented on #802
@gazhayes Thoughts for the filter. Let me know if you got any suggestions. I'm going to try logically group these so its ok for us to provide a lot of options just as long as we group them into logical groups for the user to choose from.

- Currency name and symbol
- Price (Ability to choose less than greater than)
- Consensus
- Genesis Timestamp (Ability to look for new coins to mine)
- ???

[2018-04-05 10:13] gazhayes commented on #802
This can be done through search, the way it works now

Instead of filtering by price a simpler way would be to just sort by price, especially since people will probably want to look at nominal/cpc/cpt prices and not just nominal.

Consensus can simply be proof of stake/proof of work/hybrid at this stage, no need to get into the muck. I'm not sure the best way to do this but maybe 3 checkboxes that

[2018-04-05 11:24] janat08 commented on #681
If there's already a way in which to bind simpl-schema to jquery UI, I could go through method calls, methods and schemas (as they're pretty rough atm, without looking at methods to create the fields).

[2018-04-05 11:34] gazhayes commented on #682
I think I wrote some methods that are intentionally only callable by the server, that would have been a while ago though and I don't remember what they were for.

[2018-04-05 12:54] gazhayes commented on #802
Remember that dates are stored in epoch time, so the filtering is actually pretty simple. The C4 will make the UI pretty later anyway (i.e. display human dates in the UI).

The modal is probably a good idea.

[2018-04-05 12:56] gazhayes commented on #942
BTW is this done?

[2018-04-05 13:12] AshHimself commented on #942
Sorry forgot to comment. Fixed #944

[2018-04-05 13:12] AshHimself opened #945 "problem: [/currency/] exchange typeahead display id instead of name"
Problem: exchange typeahead display id instead of name

Solution: Unknown

[2018-04-05 14:10] #942 closed

[2018-04-05 14:13] gazhayes commented on #945
The idea here is to let the user select from an existing exchange or add a completely new one. @janat08 used those _id values as random data just to have something in the UI (I think).

[2018-04-05 14:17] gazhayes commented on #938
Ah also @kevingilliard whoever opens an issue should close it when they are satisfied with the result.

Sometimes you solve your own issues, or sometimes someone else does, but whoever opened it is always the one to close it.

[2018-04-05 14:41] janat08 commented on #272
the above collections don't have example files from dump, and bounty types was said to be useless. It's ridiculous how you can't make circular schema reference since one of them won't exist when imports and yet DB relations.

[2018-04-05 14:44] janat08 commented on #945
yes, typeahead shows name fields that are random IDs.

[2018-04-05 14:44] #945 closed

[2018-04-05 14:44] janat08 commented on #945
fixtures.js

[2018-04-05 14:52] #823 closed

[2018-04-05 14:54] gazhayes commented on #272
Minor related dependency: #874

[2018-04-05 14:55] gazhayes commented on #874
Note to self: this is now very urgent.

[2018-04-05 14:58] gazhayes commented on #934
@janat08 this is a reference from another project for what I mean: http://zeromq.org/docs:style

[2018-04-05 15:01] janat08 commented on #934
Beautifyrc lib tries to format code after parameters in .beautifyrc file, I think I snuck in one of those into upstream at some point, and meteor guide touches on code style.

[2018-04-05 15:03] gazhayes commented on #934
We shouldn't do any code reformatting, it hides code smells.

[2018-04-05 15:04] janat08 commented on #934
Do you mean using 2 spaces for indendation and actually using indentation, because that what I keep referring to- I read the whole issue. https://github.com/marketplace/styleci

[2018-04-05 15:51] anbud commented on #935
Done in #947.

[2018-04-05 16:01] anbud commented on #934
Just to add, it's not a bad idea to use a CI reformatter with a limited set of rules (indentation, whitespaces, stuff like that), just for aesthetics and consistency.
If we're going to use a CI reformatter, there's no need to pay the monthly fee for StyleCI, we can set up our own thing with eslint or js-beautify, and existing Travis CI infrastructure.

[2018-04-05 16:27] janat08 opened #948 "Problem: can't login and logout thrice on [/]"
Problem: You can't login and then logout thrice, on 3rd time logout getting broken on route [/]. Occurred after meteor reset.

[2018-04-05 16:31] janat08 commented on #934
run on lines in html are common that are then fairly inconsistent.

[2018-04-05 16:54] janat08 commented on #873
@gazhayes should I go and update things by hand.

[2018-04-05 17:01] janat08 commented on #565
the publication thing wasn't the brightest idea as you can not definitively have a single callback for when user disconnects, although user presence package, that usersStats.js uses, likely uses publications and it's on disconnect callback is reliable.

[2018-04-05 21:14] janat08 commented on #882
So I think it would be best if publication for this would just send the variable instead of fetching from DB on every subscription.

[2018-04-05 23:58] gazhayes commented on #948
After database reset, or after rebuild? Does this happen on production?

[2018-04-06 00:01] gazhayes commented on #934
@janat08 if you want to set up a basic reformatter as @anbud  suggests that's ok.

[2018-04-06 00:05] gazhayes commented on #873
To be honest, I'm a bit lost here now. Can you summarize the current problem?

[2018-04-06 00:06] gazhayes commented on #565
It doesn't have to be 100% accurate, just indicative.

[2018-04-06 00:12] gazhayes commented on #565
Things go stale because people don't know what's happening after all the comments and pull requests and it becomes too hard to work it out.

Instead of tagging with stale, just close the issue and log a new one. Describe the *current* problem as a completely new problem, as if you are encountering it for the first time and had never seen this thread. Be very very clear, use code examples if necess

[2018-04-06 00:15] gazhayes commented on #882
Solved now right?

[2018-04-06 00:18] gazhayes commented on #633
Things go stale because people don't know what's happening after all the comments and pull requests and it becomes too hard to work it out.

Instead of tagging with stale, just close the issue and log a new one. Describe the current problem as it exists right now, without the history of this issue. Look at it as a completely new problem, as if you are encountering it for the first time and had nev

[2018-04-06 00:19] gazhayes opened #950 "problem: [/bounties] reason for bounty value resets not clear to user"
Problem: when users go to the bounty page and someone else completes a bounty, the bounty reward is reset. To the user, this is just looks like the number goes back to 0 and starts ticking again.

Possible solution: overlay the bounty item on the bounty page with a notification saying that xxxx user has claimed this bounty for xx KZR and the bounty reward has been reset.

ping @samuelralak @anbud

[2018-04-06 00:22] gazhayes opened #951 "Problem: add new currency for blockrazor bounty last reward is incorrect"
Problem: there's a last reward element in the UI on the new currency bounty. It appears to be displaying perhaps the highest reward issued for this bounty, but it should display the *last* reward.

<img width="1132" alt="screen shot 2018-04-06 at 8 21 20 am" src="https://user-images.githubusercontent.com/8143945/38398062-a9e0b894-3973-11e8-9b46-00af435b1583.png">

[2018-04-06 00:26] gazhayes opened #952 "Problem: [https://blockrazor.org/wallet/zrq] transactions are not sorted by datetime on first load"
Problem: transactions are not sorted by datetime on first load, so when users get new wallet notifications it's a bit hard to work out what that notification was in relation to.

[2018-04-06 00:28] gazhayes opened #953 "Problem: variety of currency codes used instead of KZR"
Problem: throughout Blockrazor there are a variety of currency codes used instead of KZR. This stems from the early days before a name was chosen. As an example, the wallet is using ZRQ instead of KZR.

[2018-04-06 02:10] chamidu-supeshala commented on #953
Yes in the DB also there were three kinds of codes ZZR, KZR and ZRQ. So do we need to update the DB entries or  just change the application code to display all of above three codes as KZR ?

[2018-04-06 02:50] #938 closed

[2018-04-06 03:01] gazhayes opened #954 "problem: demo moderator account keeps getting suspended"
Problem: the demo moderator account (frank) keeps getting suspended by the strike system (#809) for lazy answering etc.

solution: add an exception for this account.

[2018-04-06 04:02] AshHimself commented on #802
@janat08 - Any idea why the field consensusSecurity isn't available in your local collection but is available in the mongoDB collection :/ the below isn't working with my filter, but changing it to Currencies.find does. Thoughts?

`            let templateVars = Currencies.findLocal(filter, { sort: { featured: -1, quality: -1, createdAt: -1 }, limit: templ.limit.get(),
              fields: {

[2018-04-06 04:06] gazhayes commented on #802
Resolving #874 would probably help, I'll try and get to that ASAP.

[2018-04-06 04:07] AshHimself commented on #802
Never mind.. after burning a few hours of debugging I figured out the issue. consensusSecurity was being explicitly defined to not be available therefore filtering would not work :(

[2018-04-06 04:29] #782 closed

[2018-04-06 04:33] gazhayes opened #956 "Problem: [/communities] "=" is not clear"
Problem: the text and equality symbol are hard to see.

<img width="234" alt="screen shot 2018-04-06 at 12 24 43 pm" src="https://user-images.githubusercontent.com/8143945/38403488-5d55386a-3996-11e8-8aa6-b8b8f1ff0c1f.png">

possible solution: this needs to be easily differentiated from the other two choices, but should also be easy to read. I guess another background colour would work, or maybe l

[2018-04-06 04:33] gazhayes commented on #956
This might also affect codebase and wallet rankings, I haven't checked.

[2018-04-06 04:43] chamidu-supeshala commented on #954
done in #957

[2018-04-06 04:50] #954 closed

[2018-04-06 04:58] chamidu-supeshala commented on #953
I mean the messages having codes like ZZR, ZRQ (generated by previous versions of Blockrazor)  still  available in the DB.

We can change the application code to generate new messages only with 'KZR', however this doesn't affect already generated messages with ZZR/ZRQ which are in the DB.

For example, if we look at wallet transaction history of an old profile, we can see messages containing ZZR a

[2018-04-06 05:01] gazhayes commented on #953
OK that's what I thought too. That's fine, since that data will end up being purged later anyway.

[2018-04-06 05:35] chamidu-supeshala commented on #953
fixed in #958

[2018-04-06 06:04] chamidu-supeshala commented on #956
I'm Taking this

[2018-04-06 06:09] AshHimself commented on #802
@gazhayes first PR #959

We can add more attributes in logical groups and perhaps easily group them in something like;
https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example

Sorry this took a while, I was learning how all these local collections worked and drove me nuts.

Welcome changes and suggestions from all.

[2018-04-06 06:16] gazhayes commented on #802
Yeah, some parts of the codebase are pretty confusing, this is a byproduct of the C4 (its much easier to keep the codebase nice and clean when you're centrally planned, but then you end up solving problems that aren't really problems and building stuff no one wants).

This is the reason for this rule in the readme:

[2018-04-06 06:32] AshHimself commented on #908
Taking this, will respond what I think we should do before starting.

[2018-04-06 06:47] gazhayes commented on #908
FYI by 'concertina'd side menu ' I mean collapsible sub-menus on the existing side menu.

[2018-04-06 06:50] AshHimself commented on #908
Something like https://www.codeply.com/go/8ESO56VMns/bootstrap-4-sidebar-menu-(toggleable)
Then we can add as sub menu items to reduce the amounts of clicks required.

- See flagged users
- See questions
- See flagged hashpower
- See applogs
- See solved problems
- Pardon suspended users
- Flagged comments/red flags/features

As for image approvals, all image approvals seem to be bunched all onto

[2018-04-06 07:32] gazhayes opened #961 "problem: community rating questions cannot be rejected by moderators"
Problem: when completing community rating bounties, users must upload a picture of the community with a comment they have made. Moderators can then approve these images as legitimate. They are currently unable to reject them.

Upon rejection of a community image, the user should have their bounties associated with that community removed from their wallet. The ELO rankings should also be removed.

[2018-04-06 07:38] gazhayes commented on #908
That menu looks like the way to go.

You should probably make a new issue just for menu restructuring and do it in there and then come back to this one after.

[2018-04-06 07:40] gazhayes commented on #908
I'd say keep them together, for now. Though more structural work needs to be done on that, for example images need to be embiggenable and things like community url need to be show too.

[2018-04-06 08:42] AshHimself opened #962 "problem: side navbar does not support sub menus"
Problem: side navbar does not support sub menus
Solution: Refactor current solution to support sub menus to offer an overall better UX.

[2018-04-06 08:43] AshHimself commented on #962
Taking this

[2018-04-06 08:48] anbud commented on #961
I'll take it.

[2018-04-06 08:49] samuelralak commented on #762
I'll have to finish this one today before picking any other issue. It seems that the radar charts is responsible for breaking the responsiveness of this page. a fix to this will be to figure out how to make those charts responsive

[2018-04-06 09:03] gazhayes commented on #762
@anbud might have some ideas for you about that.

[2018-04-06 09:27] chamidu-supeshala commented on #956
modified UI in #963

[2018-04-06 09:39] gazhayes commented on #956
Very nice work, yet again :)

[2018-04-06 09:39] #956 closed

[2018-04-06 09:51] anbud commented on #762
@samuelralak, check [this](https://www.chartjs.org/docs/latest/general/responsive.html#configuration-options) out, it should be helpful. :)

[2018-04-06 09:53] samuelralak commented on #762
thanks @anbud having a look

[2018-04-06 10:12] gazhayes opened #964 "problem: can't track user actions"
Problem: in the early stages especially, it's going to be important to know what users are doing (e.g. starting to fill out a form but never finishing). Most users don't say anything when they encounter a problem, they just disappear.

Opening this up to see who thinks what about the plethora of options on how to deal with this problem.

[2018-04-06 10:13] gazhayes commented on #964
ping @janat08 @anbud @AshHimself @samuelralak @MadanBhandari

[2018-04-06 10:28] gazhayes commented on #621
Ah yes, that's a good point. "you voted for that guy last time so I'm not voting for you" type funny business could creep in.

[2018-04-06 10:30] samuelralak commented on #621
good point @AshHimself. still deciding on a vote, I have two guys who I think deserve it 😅

[2018-04-06 10:58] samuelralak commented on #621
vote cast via email

[2018-04-06 11:09] chamidu-supeshala commented on #951
fixed in #965

[2018-04-06 11:13] #951 closed

[2018-04-06 12:00] gazhayes commented on #953
There's still ZRQ in the sidebar (small screens) and the top navbar.

[2018-04-06 12:36] chamidu-supeshala commented on #953
Oh!  i'm very much sorry, forgot to refactor them in side/nav bars. i will correct them and resubmit a PR.

[2018-04-06 12:53] chamidu-supeshala commented on #953
fixed them in #953 and again sorry for the inconvenience

[2018-04-06 12:58] gazhayes commented on #953
No inconvenience! It's pretty easy to miss things at least sometimes ;)

[2018-04-06 12:58] #953 closed

[2018-04-06 13:35] AshHimself commented on #962
Fixed in #967

[2018-04-06 13:35] #962 closed

[2018-04-06 13:40] AshHimself opened #968 "problem: confusing UX on wallet notifications"
Problem: Confusing UX on wallet notifications, Let me best describe this, I had a notification bubble of 30 on my wallet side menu item. I clicked it. It opened the new wallet page but I had no idea what those 30 notification were directed at.

I assume these notifications are due to notification for a certain coin, but I don't know which one.

This should be more obvious to the user, or maybe i'm

[2018-04-06 13:43] gazhayes commented on #968
Was thinking the same thing today.

[2018-04-06 13:54] anbud commented on #961
Done in #969. I've implemented it for both community and wallet images as it wasn't implemented before for any of them.

[2018-04-06 13:56] AshHimself commented on #908
@anbud - do we still need the ELO shortcuts?

[2018-04-06 13:57] anbud commented on #621
I'll cast my vote via email soon, I agree, 'secret' voting is kinda easier and prevents future biases.

[2018-04-06 14:07] anbud commented on #908
@AshHimself, it's done in a cron job every 10 minutes I believe, so, no, I left them there just for testing purposes, but I mostly call methods from console anyways. Feel free to remove them.

[2018-04-06 14:07] AshHimself commented on #908
Removed.. legend!

[2018-04-06 14:17] anbud commented on #964
@gazhayes, we can also use 'tagged' events where some user actions/intents have a certain meaning we can save and process. Tagging is usually done at DOM level with `data` attributes. User actions can be anything from clicks, hovers, etc. That way we can generate various stats about our users and their behavior on the website and learn from it.
The hardest part here is to actually decide what acti

[2018-04-06 15:35] gazhayes opened #971 "problem: side menu does not automatically close on small screens"
Problem: side menu does not automatically close on small screens. The side menu should automatically get out of the way on small screens when you click an item.

This was working before, I believe it was broken in #967 (but haven't verified).

[2018-04-06 15:39] samuelralak commented on #762
done in [#970](https://github.com/Blockrazor/blockrazor/pull/970)

[2018-04-06 15:39] #762 closed

[2018-04-06 15:42] gazhayes opened #972 "problem: [/currency/x] graphs don't scale well"
Problem:
![s80406-23394188](https://user-images.githubusercontent.com/8143945/38430539-1c3052da-39f4-11e8-985b-4618dd0b857c.jpg)

[2018-04-06 15:54] samuelralak commented on #972
changing responsive option to true and maintainAspectRatio to false, yields the below results. though these options may have to be toggled based on the screen size since they don't do well on large screen sizes.
<img width="378" alt="screen shot 2018-04-06 at 6 51 06 pm" src="https://user-images.githubusercontent.com/4476552/38431031-a49755b6-39cb-11e8-8d20-db5d7d8fdcea.png">

[2018-04-06 16:17] gazhayes commented on #971
OK I'll try on a few more phones and see what happens.

[2018-04-06 16:17] gazhayes commented on #971
Could you log the z-index issue?

[2018-04-06 16:28] samuelralak opened #973 "Problem: [/] filter div overlapping side nav"
Problem: on small screens the filter element in the home screen overlaps the side nav when open.
![38430699-a4e8e1b6-39ca-11e8-85fe-e99faa81e78b](https://user-images.githubusercontent.com/4476552/38432526-65ddc44a-39d0-11e8-8f18-4ecc78ca9ae2.jpeg)
Solution: apply a z-index of `<10` to the filter div.

[2018-04-06 16:32] samuelralak commented on #971
@gazhayes you are right. the sidenav doesn't automatically close.  Clicking on a side nav item doesn't automatically  close the side menu.

[2018-04-06 16:41] samuelralak commented on #968
lol, you are not just tired mate :), its a good catch. its not so obvious to which currency the notification belongs. adding a notification badge to each currency would definitely do.

looking into this one

[2018-04-06 17:46] chamidu-supeshala commented on #971
fixed #974

[2018-04-06 17:51] samuelralak commented on #973
fixed in [#975](https://github.com/Blockrazor/blockrazor/pull/975)

[2018-04-06 18:11] chamidu-supeshala commented on #972
@samuelralak are you going to correct this issue?

[2018-04-06 18:26] chamidu-supeshala commented on #972
I've mistakenly assigned this tasked to myself. Then saw, you have suggested the solution. So, solution is already yours, you can correct that. :) I'm going to sleep now :)

[2018-04-06 18:34] MadanBhandari commented on #890
I didn't get this, how can I reproduce this problem ?

[2018-04-06 18:36] MadanBhandari commented on #968
What about adding some indication on all new notifications ? Like unread notification/msg ?

[2018-04-06 18:38] MadanBhandari commented on #929
Please verify the changes and update if anything else can be done for this, other we should close this one.

[2018-04-06 18:41] samuelralak commented on #972
@chamidu-supeshala  no worries chief. Though it really doesn't matter who suggested the solution, if you are in a position to do it and its not already taken then there's no harm in assigning yourself to it 😉. no mistake was made my good sir

[2018-04-06 18:43] MadanBhandari opened #976 "Problem: [/currency/x] Red flags still has show/hide button"
Problem: [/currency/x] Red flags still has show/hide button while rest of the other sections has been updated with load more options to load more content.

Solution : Remove show/hide button and make similar layout to Features

[2018-04-06 18:44] samuelralak commented on #968
@gazhayes am not sure I understand though I believe we already have the badge that pops up indicating the number of all unread notifications/messages. is it the same thing you are talking about?

[2018-04-06 18:46] samuelralak commented on #976
@MadanBhandari I think a `load more` button would also be handy here

[2018-04-06 18:49] MadanBhandari opened #977 "Problem: [/currency/x] Add exchange UI/UX is not good"
Problem: [/currency/x] Add exchange UI/UX is not good

Solution : Added exchange options should have some separations (like commas or something) and separate with enough space to show add new exchange.

**_Question_** : What it is mean by exchange ? Like Coinbase, Kraken etc. ? or something else ?

ping : @gazhayes @samuelralak

[2018-04-06 18:50] MadanBhandari commented on #976
Yes, all the section of similar type should follow same pattern.

[2018-04-06 18:52] MadanBhandari opened #978 "Problem: [/currency/x] Repeated No matching results founds message"
Problem: Repeated No matching results founds message

Solution : This message should be there only if there is no information available.

[2018-04-06 18:55] chamidu-supeshala commented on #972
Haha :jack_o_lantern: You are very funny.  Good to know the procedure, however brother, I'm just going to sleep now, so its up to you :)

[2018-04-06 23:00] janat08 commented on #873
NM.

[2018-04-06 23:01] janat08 commented on #882
I was going to optimize it further as per last comment.

[2018-04-06 23:05] janat08 opened #980 "Problem: no query projection limit on [/bounties]"
Problem: There's not any limit to query on [/bounties] page.

[2018-04-06 23:07] janat08 commented on #621
voting for gazhayes! I hope he returns the favor.

[2018-04-06 23:10] janat08 commented on #948
You did reproduce it on dev though? "meteor reset" command, but maybe not exclusively then. I'd try deleting constellation package with it's account module, and then I messed about with Meteor.logout().

[2018-04-06 23:11] janat08 commented on #890
if you search for quoted text above I'll imagine you'll find the template and relevant parts of code, if not ask  ashhimself as he's likely responsible.

[2018-04-06 23:14] janat08 commented on #934
I'm not interested.

[2018-04-06 23:16] janat08 commented on #565
I'll close this after opening.

[2018-04-06 23:18] janat08 commented on #633
Will close after new issue.

[2018-04-06 23:24] janat08 commented on #802
It does load the whole collection, that method, and then:
[code]

[2018-04-07 00:39] #929 closed

[2018-04-07 00:41] gazhayes commented on #968
@samuelralak I think you meant to reply to @MadanBhandari not me?

[2018-04-07 00:43] gazhayes commented on #977
Check #891

[2018-04-07 00:43] gazhayes commented on #977
Yeah you got it.

[2018-04-07 00:50] gazhayes commented on #980
Do you mean limiting the number of results?

[2018-04-07 00:52] gazhayes commented on #621
Ha! @janat08 you can't vote for me.

[2018-04-07 00:53] gazhayes commented on #948
It's only on dev environment? I wouldn't worry about it then.

[2018-04-07 00:54] gazhayes commented on #890
@MadanBhandari it's probably only on some screen sizes.

[2018-04-07 01:01] gazhayes commented on #890
@janat08 does the page go dark, but no modal appears?

[2018-04-07 01:08] gazhayes commented on #977
Also check #783

[2018-04-07 01:54] gazhayes opened #981 "problem: recapture imported globally on client"
Problem: recapture is imported in the headers here https://github.com/Blockrazor/blockrazor/blob/6dd1fb652f0ef20a3596923a050adcfba69a419e/client/root.html#L4

possible solution: dynamic import that is only triggered when it is required.

[2018-04-07 02:04] gazhayes opened #982 "Problem: active development image is not global"
Problem: the active development image is not global, it also interferes with the layout.

solution: Remove the orange warning image at [/]. Trigger a modal on load (globally) that displays the existing modal, add the orange image to the modal. Use cookies so that user can close it and not see it again. Maybe set a timeout on the cookie for 5 days or something so that it comes back after a while.

[2018-04-07 02:08] #971 closed

[2018-04-07 02:34] #961 closed

[2018-04-07 02:43] gazhayes opened #983 "Problem: when a community or wallet image is rejected, no feedback is given to the user"
Problem: when a community or wallet image is rejected, no feedback is given to the user, so they don't know what they did wrong.

solution: send a message to the user, with a link to the image. The message should say something like "this image does not contain a valid picture of the '`currency name`' '`type (community or wallet)`'. Please read the instructions more carefully. If you think you rece

[2018-04-07 03:00] gazhayes opened #984 "problem: [/] genesis timestamp currency filter is hard to use"
Problem: picking two dates is hard to do and not very dynamic.

possible solution: use a slider, see example 2 [here](http://seiyria.com/bootstrap-slider/). Genesis dates are timestamps, so for now the number range can be from 1233619200000 to Date().getTime().

The C4 will eventually make it look more date-like (instead of number-like) if not done in this issue.

[2018-04-07 03:54] AshHimself commented on #984
Agree that would be nicer. I do find though however these to be a little dicky on mobile devices. Just something we need to be mindful of if desktop and mobile are requirements.

[2018-04-07 03:57] AshHimself commented on #983
When you say message? You mean notification?

It makes sense to be me to send an email as well to bring them 'back' to the site (I use mailgun and onesignal) for this.

[2018-04-07 04:34] gazhayes commented on #984
Mobile can have a cut down version, maybe a checkbox "hide anything older than 6 months"

[2018-04-07 04:38] gazhayes commented on #983
Ah yes, a notification.

People usually end up marking notification emails as spam anyway unless they are really useful. Could do some kind of summary every x messages, that's a different issue anyway.

[2018-04-07 05:33] chamidu-supeshala commented on #984
I'm going to try this as suggested..

[2018-04-07 06:39] MadanBhandari commented on #977
One more question : What does current values mean ? Like 4fy5ev5QFApkRXYQt, 66yQHqJ6jNBkgcBRT, 2LAkibNeKp3zGoB7A etc.

[2018-04-07 06:41] gazhayes commented on #977
Nothing, just random data for testing

[2018-04-07 07:30] janat08 commented on #621
I vote for myself.

[2018-04-07 07:32] janat08 commented on #890
I actually saw a part of modal, don't remember about darkness.

[2018-04-07 07:34] janat08 commented on #980
limit results, projection is limit, sort, fields etc.

[2018-04-07 07:36] chamidu-supeshala commented on #984
fixed in #985

[2018-04-07 07:53] gazhayes commented on #890
I can't reproduce, can you try to do it again and take a screen shot?

[2018-04-07 08:08] gazhayes opened #986 "problem: [/] date filter only works in one direction"
Problem: the date filter only filters out currencies with a genesis block after x date, it does not remove currencies with a genesis before x date. In other words, the left hand side of the slider has no effect.

[2018-04-07 08:09] gazhayes commented on #984
Continued in #986

[2018-04-07 08:09] #984 closed

[2018-04-07 08:53] chamidu-supeshala commented on #986
fixed in #987

[2018-04-07 09:02] chamidu-supeshala commented on #986
I think this issue still not fixed :(

[2018-04-07 09:03] chamidu-supeshala commented on #986
BTC is missing.

[2018-04-07 09:51] chamidu-supeshala commented on #986
Unfortunately BTC not present in my local DB. I have re-executed the dump files, still no help. I can reduce the minimum value to January 2009 or something, however couldn't test in locally without having BTC in my DB. If somebody can tell me the exact genesis timestamp of BTC, it will help me a lot.

[2018-04-07 10:08] chamidu-supeshala commented on #986
Unfortunately BTC not present in my local DB, Even after re-executing dump files, still no help. Without having it in the DB, there is no way to test in locally. I'm also thinking that above mentioned boundary issue may be the case. However it is not good enough to create a PR without testing in DB. So i'm lost here

[2018-04-07 10:30] gazhayes commented on #986
Fetch /static/dump.tar.gz

[2018-04-07 10:50] anbud commented on #934
Since @janat08 is not interested, should I take it?

[2018-04-07 11:05] chamidu-supeshala commented on #986
Thanks @gazhayes , It helped and issue fixed in #988 :)

[2018-04-07 11:12] janat08 opened #989 "Problem: the sidebar constantly updating the preference on DB if the user just opens and closes the sidebar."
Problem: the sidebar currently saves at which screen width it was opened or closed constantly updating the preference on DB if the user just opens and closes the sidebar.

Solution: Use publication and subscription to store preference on the server, since methods can't be called on window destroy events: https://github.com/meteor/meteor/issues/340, but it's difficult to reliably use publication fo

[2018-04-07 11:12] #565 closed

[2018-04-07 11:16] janat08 commented on #633
@samuelralak did you make a proper overlay for when the bounty is reset?

[2018-04-07 11:20] janat08 opened #990 "Problem: [/bounties] last reward shown is false"
Problem: [/bounties] last reward shown can be false, use add coins since bounty won't reset for any other bounty.

Solution: The code that shows last rewad was written before bounty reset logic was implemented, and it assumed that the bounty would have to be approved which it doesn't (for add coins bounty).

[2018-04-07 11:26] janat08 opened #991 "Problem: [/bounties] reason for bounty value resets not clear to users"
Problem: Currently when a bounty is reset an sAlert is shown. This is easily missed by the user and is not linked in the UI to the actual bounty being rest.

solution: use an overlay over the item that was reset.

Test with add coin bounty as it will reset on submission. The text for overlay should be something like: > xxxx user has claimed this bounty for xx KZR and the bounty reward has been res

[2018-04-07 11:27] #633 closed

[2018-04-07 11:34] janat08 commented on #890
[code]

[2018-04-07 11:42] gazhayes commented on #934
Sure, if you want to. It's probably not very high priority but indentation variance is starting to get pretty annoying.

[2018-04-07 11:59] janat08 commented on #882
i'll assume that publication is smart enough to catch this.

[2018-04-07 11:59] #882 closed

[2018-04-07 12:42] janat08 opened #992 "Problem: block razor isn't pwa- installable on mobile."
Problem: Block razor can't be installed on mobile, and given we have Localizable Collection we might look at making blockrazor offline ready, which would require web worker.

Solution: uses google's workbox to make manifest for installation to home screen. It's sad that we can't use meteor's cache for this instead of web worker's one.

[2018-04-07 12:45] #873 closed

[2018-04-07 12:47] janat08 opened #993 "Problem: Localizable Collection should hook into reactive queries for refreshing local"
Problem: Localizable Collection should interecpt live queries to also update local.

Solution: Update local on find, and findOne methods passing along result.

[2018-04-07 13:09] gazhayes commented on #992
This isn't an issue right now, it could be later on if blockrazor becomes popular.

[2018-04-07 13:11] janat08 commented on #980
[/bounties] uses several collections so unless you're okay with just passing the limit and sort even if you're passing it to several collections which means you actually x*limit number of documents then it's best to make sure that you only have to query bounties in [/bounties], although gazhayes thinks that will be next to impossible.

[2018-04-07 13:39] janat08 opened #995 "Problem: no subscription for release of alpha"
Problem: there's no option to subscribe to release of alpha

Solution: show subscription option next to website is in development modal.

[2018-04-07 14:08] janat08 commented on #995
There's suggestion to following blockrazor twitter to receive release news, i thought that was enough.

[2018-04-07 14:27] gazhayes opened #996 "problem: currency comparison typeahead is broken"
Problem: currency comparison typeahead is broken.

[2018-04-07 14:32] gazhayes opened #997 "problem: [/currency/x] not possible to propose adding exchanges to a currency"
Problem: it's not possible for users to add exchanges to coins on the currency detail page.

possible solution: Allow users to add an exchange to a currency from the existing list of exchanges or add a new exchange. Ideally this would be a typahead list with "add" if what the user types isn't found (e.g. how Github works with adding branches).

Any solution should also denormalize the data into th

[2018-04-07 14:32] #783 closed

[2018-04-07 14:38] gazhayes commented on #950
Tracking in #991 which has more detail.

[2018-04-07 14:38] #950 closed

[2018-04-07 14:43] #986 closed

[2018-04-07 15:03] janat08 commented on #982
this is hiden in dev env.

[2018-04-07 15:03] #982 closed

[2018-04-07 15:09] chamidu-supeshala commented on #996
fixed in #999

[2018-04-07 15:24] janat08 opened #1000 "Problem: captcha unreusable"
Problem:  the current global helper has domain specific logic in main.js, and opens a modal of it's own, I think, since placing {{{captcha}}} doesn't do anything. Uncommented, too.

[2018-04-07 15:24] janat08 commented on #995
dependant on #1000

[2018-04-07 15:32] janat08 commented on #997
All the logic for this is done, except for the add template. Notes in last comments of #783.

[2018-04-07 15:33] janat08 commented on #1000
@gazhayes

[2018-04-07 15:36] janat08 commented on #996
that pull request will break functionality elsewhere.

[2018-04-07 15:39] janat08 commented on #996
adjust this line: https://github.com/chamidu-supeshala/blockrazor/blob/5e119b93ce70ed1c2b53de21e9511bc4f774f29b/imports/ui/components/typeahead.js#L66

[2018-04-07 15:43] chamidu-supeshala commented on #996
Hi, @janat08 thanks for your suggestion. I have tested but no issue found after my fix. However as you suggested i will cancel my PR, and will adjust there as you mentioned.

[2018-04-07 15:43] janat08 commented on #996
This is a reusable template, it's used elsewhere.

[2018-04-07 15:45] janat08 commented on #996
btw: createElement is dead code.

[2018-04-07 15:49] janat08 commented on #980
btw another problem here is that the sort values are also calculated client side, so you can't readily sort large collections either.

[2018-04-07 15:53] gazhayes commented on #996
@janat08 I haven't looked at the code, but it should be **_very_** clear in the code that this is a reusable template used elsewhere, it should be very well commented. If not, it will definitely be broken by someone. In fact, reusable stuff should really have associated tests, I haven't looked into client side tests though (and something like snapshot is not robust enough for this).

[2018-04-07 15:58] janat08 commented on #996
there're couple of pargraphs describing params and usage.

[2018-04-07 15:58] gazhayes commented on #1000
ping @AshHimself and @anbud

[2018-04-07 15:59] gazhayes commented on #1000
Grrrrrrrrr.

[2018-04-07 16:00] gazhayes commented on #333
OK. I'm going to take care of this tomorrow.

[2018-04-07 16:03] janat08 commented on #996
along with actual usages

[2018-04-07 16:05] gazhayes commented on #980
What we'll probably do is sort each individual collection by bounty value (somehow, the value isn't in the collection but the timestamp is and that's how the value is calculated) and limit each collection to the x top items. It's important not to cut off whole categories of bounties that are all lower value than another catagory, but it's also important not to try and load 50,000 bounties at once

[2018-04-07 16:09] gazhayes commented on #996
OK. We definitely need tests then. If you didn't see this in time I would have merged it. It would be ok (the C4 takes care of it eventually) but it would still have been very annoying.

[2018-04-07 16:10] janat08 commented on #980
they supposedly will have different gradients of bounty growth. as in different modifiers and such.

[2018-04-07 16:12] gazhayes opened #1001 "problem: no client side tests"
Problem: as demonstrated by #996 we need client side tests so that contributors can add tests to features they work hard to create, otherwise other contributors can sometimes break them and it can take a while to find out.

As far as I can see, the question we need answered before being able to solve this is: what is the simplest possible way to do client CI testing?

[2018-04-07 16:33] gazhayes commented on #1001
OK, yeah I don't see anything wrong there. Do you feel like setting it up?

[2018-04-07 16:36] anbud commented on #1001
Sure thing. I'll include an example PR how to write client tests using webdriver as well.

[2018-04-07 18:13] anbud commented on #1000
I wrote most of the captcha logic (before the modal) and it was modular before (including {{{captcha}}} on a page was supposed to display it). I guess the solution here is to copy the modal code from `/currency/x` page to the helper in order to make it work site-wide. Domain specific logic can be moved to the page that's using the helper.

Also, you can see an example of how to use the server side

[2018-04-07 19:27] janat08 commented on #996
yes, that's good, you're creating a default template for when a template with event for adding currently typed value wasn't provided to the template.

[2018-04-07 19:38] janat08 opened #1003 "Problem: typeahead template function get value param ought to be a function"
Problem: the param in question is just element id.

Solution: it ought to be a function instead that returns value.

[2018-04-07 19:47] chamidu-supeshala commented on #996
Now i got it :)

[2018-04-07 20:01] #973 closed

[2018-04-07 20:04] samuelralak commented on #968
right @gazhayes  🤦‍♂️ my apologies

[2018-04-07 20:05] chamidu-supeshala commented on #996
fixed in #1004

[2018-04-07 20:05] samuelralak commented on #968
fixed in [#1005](https://github.com/Blockrazor/blockrazor/pull/1005)

[2018-04-07 20:08] samuelralak commented on #991
looking into this now

[2018-04-07 20:16] janat08 commented on #978
This message is meant for comments, it is rendered as part of each for commentRender.js with no separate template for showing list of these comments, yet they're shown conditionally. The code about which issue is, is located in feature.html.

[2018-04-07 20:30] janat08 commented on #1000
I'm not inclined to doing this even if I created the issue. I objected to modal being shown, as it would be best to create the modal template instead. I imagine @AshHimself should look at decoupling the logic he introduced or complain about how it originally looked for @andbud to introduce the changes.

[2018-04-07 20:36] anbud commented on #1001
Done in #1002.
A small example test is in `/imports/ui/returnedCurrencies/homepage.ui-test.js`. Please note that all UI tests files from now on should be placed somewhere in the `/imports` directory and end with the extension `.ui-test.js` in order to be recognized by the WebDriverIO. The syntax used for writing tests is quite similar to Mocha, and I've linked to the full browser API in the exampl

[2018-04-07 21:09] anbud commented on #934
I've taken some time to research it and there's only way to make this work, Travis would have to push beautifier's changes directly to this repo, which, I believe, breaks C4 as it would involve writing directly to master.
@gazhayes, what are your thoughts on this one?

[2018-04-07 21:09] #1003 closed

[2018-04-07 21:15] janat08 commented on #1001
Jest all the way =.=

[2018-04-07 22:31] anbud commented on #980
Yap, currently, different collections have different multipliers, multipliers vary by collection.

[2018-04-08 00:51] gazhayes commented on #934
Yeah it would break the C4. OK, another option is for contributors to just run it themselves every now and then on (problem: weird indentation everywhere. solution: run beautifier).

[2018-04-08 01:01] gazhayes commented on #1001
I don't actually see any problem in using Jest in addition to this, the problem it would be solving is that contributors who are used to Jest are more likely to write tests if its there.

@anbud do you see any problems?

[2018-04-08 02:14] anbud commented on #1001
@gazhayes, nope, I don't see any problems, we can run both webdriver and jest tests.
I'll also implement a way to run jest tests in CI as well as a part of this issue then.

[2018-04-08 10:12] chamidu-supeshala commented on #1000
Hi @janat08 , @anbud  , @gazhayes  It's me who implemented a modal to display recaptcha.  You can see my commit here:  #921

Even before making any changes to that helper, I think that global helper already was **dedicated** to avoid spamming activity, and it **only** rendered a captcha, only if two consecutive user activities fired within 10 seconds. (it is clearly commented in the code)

`if ((u

[2018-04-08 10:19] #1000 closed, assigned to nobody

[2018-04-08 10:38] gazhayes commented on #333
@janat08 you can send a PR here and close the one on that other repo if you want: https://github.com/Blockrazor/subscache-C4

[2018-04-08 12:52] gazhayes commented on #540
fixed in #1007

[2018-04-08 12:52] #540 closed

[2018-04-08 13:01] #562 closed

[2018-04-08 13:02] #636 closed

[2018-04-08 13:07] gazhayes commented on #613
If anyone likes any of these logos please comment.

ping @samuelralak @AshHimself @sjmackenzie @clacke @kevgathuku @anbud @janat08 @MadanBhandari @chamidu-supeshala

<img width="567" alt="screen shot 2018-04-05 at 12 16 36 pm" src="https://user-images.githubusercontent.com/8143945/38467809-44e924ea-3b70-11e8-8606-d0b289606412.png">
<img width="595" alt="screen shot 2018-04-05 at 12 16 46 pm" src="

[2018-04-08 13:09] AshHimself commented on #613
I actually don't mind the last two.. and the one that made you laugh gave me a right giggle too.

[2018-04-08 13:12] gazhayes opened #1009 "Problem: [/bounties] add currency bounty reward too low after reset"
Problem: the new currency bounty is probably a bit low after reset, at the start we probably need a bit more encouragement.

solution: start bounty at 1 KZR instead of 0 and let it trend up as usual.

[2018-04-08 13:12] #210 closed

[2018-04-08 13:13] samuelralak commented on #613
these two look alright
<img width="700" alt="screen shot 2018-04-08 at 4 13 05 pm" src="https://user-images.githubusercontent.com/4476552/38467946-c83e04ec-3b47-11e8-8a4e-40c8ecc9634a.png">

[2018-04-08 13:14] gazhayes commented on #791
@janat08 did you want to do this one?

[2018-04-08 13:16] AshHimself commented on #908
@gazhayes - Do we have a view at present to view a currencies attributes before approving? I don't think we do from initial look.

[2018-04-08 13:23] AshHimself opened #1010 "Problem: [/moderator] unable to review new currency for approval"
Problem: unable to review a new currency for approval when creating a new currency. All you can do is review the coin name.

Solution: Create a new review currency coin page.

[2018-04-08 13:24] gazhayes commented on #908
These are the ones that should **not** be done because I'm making structural changes:
Flagged users
rating questions
application logs
solved problems

[2018-04-08 13:25] samuelralak opened #1011 "Problem: [/wallet] krazor notifications not being marked as read"
Problem: krazor notifications are not being marked as read when user clicks on the KZR currency card in wallet.

Potential solution: notifications for other currencies have a currency property which we query by and mark as read save for KZR notifications. We'll have to make an assumption that when a notification doesn't have a currency property, its by default a KZR notification - we mark these on

[2018-04-08 13:29] samuelralak commented on #991
@gazhayes and @janat08 kindly review changs made by [#1008](https://github.com/Blockrazor/blockrazor/pull/1008); this issue can be closed if there are not other requirements

[2018-04-08 13:32] AshHimself commented on #908
Ok I have just done an initial push then which clean up a lot of things. I'll move into the more functional components of it. e.g. reviewing what people are actually approving :)

[2018-04-08 13:35] samuelralak opened #1013 "Problem: [problem/:id] no error message shown when github repo isn't found"
Problem: when user enters invalid github urls for the below input fields, user doesn't get an error response that the inputs failed.
<img width="1111" alt="screen shot 2018-04-08 at 4 32 40 pm" src="https://user-images.githubusercontent.com/4476552/38468128-8812b9d2-3b4a-11e8-834b-bdd91472f335.png">
Solution: show error message to user when github urls isnt't found.

[2018-04-08 13:38] gazhayes commented on #903
Fixed. Whois is now public.

[2018-04-08 13:38] #903 closed

[2018-04-08 13:38] #992 closed

[2018-04-08 13:40] gazhayes commented on #897
Hey @kevingilliard are you still around?

[2018-04-08 13:41] kevingilliard commented on #897
Hi, @gazhayes
I didn't work during this weekend.
I'm going to continue work from tomorrow.
Do you have any urgent task?

[2018-04-08 13:42] AshHimself commented on #802
Were you happy to close this @gazhayes or were there other attributes you wanted to add or change of functionality?

[2018-04-08 13:47] gazhayes opened #1014 "Problem: no FAQ page"
Problem: when people start looking at the site there are a few common questions they are going to ask.

solution: add a FAQ page. Put a font-awesome help icon in the navbar to link to it.

I'll write the content if someone else does the routes etc.

[2018-04-08 13:48] gazhayes commented on #928
Closing in preference of #1014

[2018-04-08 13:48] #928 closed

[2018-04-08 13:49] AshHimself commented on #1014
I can do this before I fall to sleep :)

[2018-04-08 13:52] samuelralak commented on #1014
I don't support the idea of adding this to the navbar as IMO it would clatter the top navbar. I would suggest adding this link (together with the About, T&C e.t.c) on the side menu, possibly at the very bottom.

[2018-04-08 13:57] samuelralak opened #1015 "Problem: app content no longer centered when side menu is open"
Problem: app content is no longer centered and instead, its being pushed closer to the side menu. I changed the initial implementation for this in [#970](https://github.com/Blockrazor/blockrazor/pull/970) with the intention of getting rid of the extra white space to the right of smaller screens; and I can confirm everything was working fine after.

[2018-04-08 14:07] gazhayes commented on #874
Fixed in #1016

[2018-04-08 14:07] #874 closed

[2018-04-08 14:07] #976 closed

[2018-04-08 14:08] AshHimself commented on #1014
I agree its getting a wee bit cluttered. I did add it to topbar now but can change if need be.

Could use this instead if you prefer. https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example

Also to make more room the br logo text should disappear or only show the small logo (when it exists).

[2018-04-08 14:09] gazhayes commented on #272
@janat08 any more to do on this one?

[2018-04-08 14:10] gazhayes commented on #948
Going to close for now, reopen if it causes serious issues.

[2018-04-08 14:10] #948 closed

[2018-04-08 14:12] gazhayes commented on #977
Closing in favour of #997

[2018-04-08 14:12] #977 closed

[2018-04-08 14:13] gazhayes commented on #989
What do you mean by 'stale' exactly? What do you want to happen?

[2018-04-08 14:14] #887 closed

[2018-04-08 14:16] janat08 commented on #272
some from the list above

[2018-04-08 14:17] janat08 commented on #989
if any1 has a better way.

[2018-04-08 14:21] gazhayes opened #1018 "Problem: on large screens, when sidebar is open, it covers content"
Problem:
<img width="1068" alt="screen shot 2018-04-08 at 9 22 20 pm" src="https://user-images.githubusercontent.com/8143945/38468551-80703f3a-3b7a-11e8-8569-7d2727e14a5b.png">

Solution: if the display is wide enough to fit the content nicely without messing around then do that (push it past the edge of the sidebar). If the display is not wide enough for this, add a shadow to the sidebar to indic

[2018-04-08 14:26] gazhayes commented on #978
The message could be updated to something like "There's nothing here yet, why don't you add something?" to make it nicer.

[2018-04-08 14:31] gazhayes commented on #1010
FYI this doesn't need to allow any editing.

[2018-04-08 14:32] gazhayes commented on #1011
Sounds like the simplest solution.

[2018-04-08 14:33] chamidu-supeshala commented on #613
For me,
![image](https://user-images.githubusercontent.com/27463355/38468730-b080c798-3b67-11e8-9a41-5d09fba2f6c0.png)

and

![image](https://user-images.githubusercontent.com/27463355/38468743-ec06fada-3b67-11e8-9c62-d7985763f32c.png)

feels good

[2018-04-08 14:36] gazhayes commented on #991
Is it meant to stay pinned there like that? I think it should stay up for x seconds then go away (leaving the last bounty amount there).
<img width="914" alt="screen shot 2018-04-08 at 10 33 53 pm" src="https://user-images.githubusercontent.com/8143945/38468762-338b0ea4-3b7d-11e8-93f8-0def3b127f04.png">

[2018-04-08 14:37] gazhayes commented on #990
@anbud I think this was fixed in #991, just noticed it seems to be working now.

[2018-04-08 14:41] gazhayes commented on #1014
It needs to be very obvious though. The 'share' button can be moved elsewhere (could actually add this on the bounty page as it's basically a type of bounty and that's where people will be going to earn KZR).

[2018-04-08 14:45] clacke commented on #613
I want logos where the letters interact with some item that represents the subject. These have a razor/blade in there, and I don't like how those gaping K razors look.

![razor A](https://user-images.githubusercontent.com/8143945/38467812-45654da4-3b70-11e8-9493-b5738175fdff.png)

![safety razor BR](https://user-images.githubusercontent.com/8143945/38467813-458c81c6-3b70-11e8-8105-4c1be7a3a6cb.png

[2018-04-08 14:46] gazhayes commented on #897
Oh ok cool.

No, just the usual C4 process.

[2018-04-08 14:47] #802 closed

[2018-04-08 14:47] samuelralak commented on #991
@gazhayes yeah currently its meant to stay pinned. This makes it obvious for other users who visit and scroll down the bounties page. A bounty that has been reset is pushed down the page so if it were to disappear after x seconds, chances are other users may not see the notification when they scroll down to that particular bounty.

An alternative solution would be to display the notification when

[2018-04-08 14:49] gazhayes commented on #1015
I logged #1018 before I noticed this. Have closed it but please see my comment for reference:

[2018-04-08 14:50] gazhayes commented on #272
OK. Do you want to do it?

[2018-04-08 14:51] gazhayes commented on #989
OK. In these situations, you should ping people for ideas instead to get the desired result (feedback from others). Otherwise it's not clear what you want to do.

[2018-04-08 14:56] gazhayes commented on #991
Ok, what do you think about leaving it pinned for a few hours instead?

[2018-04-08 15:03] samuelralak commented on #991
@gazhayes is there a specific number of hours you had in mind?

[2018-04-08 15:09] gazhayes commented on #991
Not really, but I guess we could start with 2 and see what happens.

[2018-04-08 15:10] gazhayes commented on #991
By the way, where are you pulling the username from? (undefined)

[2018-04-08 15:12] samuelralak commented on #991
sounds good. we set it 2hrs then observe. i’ll make the update

On Sun, 8 Apr 2018 at 18:09, Gareth Hayes <notifications@github.com> wrote:

[2018-04-08 15:14] gazhayes commented on #991
The other bounties that repeat ("Add new hash power data for Blockrazor", "Rate cryptocurrency wallets for Blockrazor", "Rate cryptocurrency communities for Blockrazor") should probably do the same thing, the same problem affects them.

[2018-04-08 15:34] janat08 commented on #272
dump doesn't have any documents for those.

[2018-04-08 17:00] #995 closed

[2018-04-08 18:02] chamidu-supeshala opened #1020 "Problem: Side menu items not shown unless the user is a moderator"
Problem: side navigation bar items not displayed even after signed in, unless the user is a moderator

Solution: display side menu items also for the normal users,after they have signed in

![screenshot from 2018-04-08 23-26-19](https://user-images.githubusercontent.com/27463355/38470758-03c7626e-3b85-11e8-8e11-3844d1c8e11d.png)

[2018-04-08 18:15] chamidu-supeshala opened #1021 "Problem: [/] Recaptcha always shown in home route"
Problem: a recaptcha is always displaying in the main route, which won't fade away even after verifying it.

Solution: render that only when necessary

![screenshot from 2018-04-08 23-38-48](https://user-images.githubusercontent.com/27463355/38470867-cd7512cc-3b86-11e8-9085-c9fbedd733dd.png)

[2018-04-08 19:05] anbud commented on #1001
Done in #1022.

[2018-04-08 19:06] anbud commented on #1013
I believe there's a check for this on the server side that's just not showing on the client side.

[2018-04-08 19:31] chamidu-supeshala commented on #1015
@gazhayes as @bstarr322 fixed this, i will reopen #1018 and will do further changes that you mentioned

[2018-04-08 19:38] anbud commented on #1009
Done in #1024.

[2018-04-08 19:41] chamidu-supeshala commented on #1018
done in #1025

[2018-04-08 20:09] bstarr322 commented on #972
let me do that then :)

[2018-04-08 20:10] samuelralak commented on #972
@bstarr322 am working on this already and am about to make a PR in a few

[2018-04-08 20:12] bstarr322 commented on #972
oh really
ok then I will leave this

[2018-04-08 20:15] bstarr322 commented on #972
anyway if you haven't completed this then let me know, I've finished this on my local.
thanks

[2018-04-08 20:26] bstarr322 commented on #1021
I can't see recaptcha at all

[2018-04-08 20:48] samuelralak commented on #1011
done in [#1029](https://github.com/Blockrazor/blockrazor/pull/1029)

[2018-04-08 21:13] chamidu-supeshala commented on #1021
It fires when bot activity detected. After rendered, wont go away

[2018-04-08 22:52] anbud commented on #990
Done in #1033. The previous solution wasn't entirely working, as individual bounties are removed from the database when the user has been rewarded, so the data about previous bounties wasn't always available. Note that this solution is not backward compatible and it will start working when a new bounty is completed.

[2018-04-08 22:57] anbud commented on #934
You're right. I'll just implement a simple js-beautify script then that users can run. :)

[2018-04-08 23:12] #990 closed

[2018-04-08 23:26] anbud commented on #934
Done in #1034. We should probably choose a custom eslint style config, as choosing the standard style says we have about 30000 lint errors of which about 4000 can't be automatically fixed.
Running the linter is done with  `npm run lint`.

[2018-04-08 23:53] #1001 closed

[2018-04-09 00:02] gazhayes opened #1035 "Problem: no client side tests have been written"
Problem: there are not currently any client side tests. We now have a couple of test frameworks installed and CI'd (see #1001), so there's no excuse not to use them.

Solution: If you write any server side code, and you don't want it to break later, write a test for it. If you write client side code and you don't want it to break later, write a client side test.

If you solve an issue and someone

[2018-04-09 00:06] gazhayes commented on #1015
@bstarr322 You should comment to claim an issue _before_ starting to work on something, otherwise multiple people end up working on the same thing.

[2018-04-09 00:06] #1015 closed

[2018-04-09 00:08] gazhayes commented on #991
OK, it probably happens for that particular add coin bounty because you can complete it without actually doing it through the bounty page.

[2018-04-09 00:10] gazhayes commented on #272
Ah I should have mentioned, I have updated this part of the readme. You can now fetch /static/dump.tar.gz and it will have the latest database up to the current hour.

[2018-04-09 00:51] AshHimself commented on #934
So we should be running npm run lint now? I tried it and got a million errors :D

[2018-04-09 01:00] gazhayes opened #1036 "problem: [/currencyauction] insufficient funds error when there are sufficient funds"
Problem: when trying to bid on a currency an insufficient funds error occours even when there are sufficient funds.

[2018-04-09 01:02] #1018 closed

[2018-04-09 01:16] gazhayes commented on #972
FYI @bstarr322 watch out for these:
<img width="411" alt="screen shot 2018-04-09 at 9 15 47 am" src="https://user-images.githubusercontent.com/8143945/38474932-ac915548-3bd6-11e8-844f-2000f00875a8.png">
<img width="224" alt="screen shot 2018-04-09 at 9 15 33 am" src="https://user-images.githubusercontent.com/8143945/38474933-acbfd652-3bd6-11e8-954c-2df15b247043.png">

[2018-04-09 01:16] #972 closed

[2018-04-09 01:24] gazhayes commented on #991
I see the overlay is removed after 2 hours, but the 'last bounty reward' is also removed. We should keep that part permanently so that users know how high to 'bid'.

[2018-04-09 01:26] #1013 closed

[2018-04-09 01:27] gazhayes commented on #1020
@chamidu-supeshala you can close this if you are happy with the result on production.

[2018-04-09 01:31] gazhayes commented on #1010
By the way @AshHimself what happened to the proposed changes mod queue?

[2018-04-09 02:08] gazhayes opened #1038 "problem: non-maintainers must have write access to self-assign issues"
Problem: non-maintainers must have write access to self-assign issues. This creates a huge problem because contributors should **not** have write access. We are currently violating the C4 because github does not allow this level of flexibility.

So, we need to allow contributors to self-assign tasks, otherwise with a huge list of issues you have to open each one to see if someone is working on it

[2018-04-09 04:29] #1020 closed

[2018-04-09 04:49] #1021 closed

[2018-04-09 05:15] AshHimself commented on #1010
Fixed in #1040

[2018-04-09 05:16] #908 closed

[2018-04-09 05:17] AshHimself commented on #983
Taking this

[2018-04-09 05:24] #1010 closed

[2018-04-09 05:28] AshHimself commented on #983
@gazhayes - we don't capture rejection reason for images like we do with coins. Is this a requirement?

[2018-04-09 05:41] gazhayes commented on #983
I was thinking about that just then actually. It's probably a good idea to allow some form of communication from the maintainer who rejects it to the contributor, just like we do on github.

[2018-04-09 06:36] AshHimself commented on #983
Fixed in #1041

[2018-04-09 06:38] AshHimself opened #1042 "problem: Its unknown what community images you have uploaded"
Problem: Its unknown what community images you have uploaded
Solution: Display a tick stating the image has been uploaded and/or approved.

@gazhayes - have we lost communities and ratings page from the UI or am I blind?

[2018-04-09 07:08] samuelralak commented on #991
@gazhayes thats strange, I haven't pushed the patch for this yet. Someone either accidentally fixed this one or broke it or both 😅. let me see what has changed

[2018-04-09 07:10] samuelralak commented on #1035
roger that chief 👍

[2018-04-09 07:32] gazhayes commented on #1042
They've been removed from the menu but you can get them through the bounty page.

[2018-04-09 07:35] gazhayes commented on #991
Huh, it's back again. Could be something local for me.

So you haven't changed the timeout to 2 hours either?

[2018-04-09 07:52] anbud commented on #991
Apparently, I've added the 2 hour limit while working on another issue. I had to change the way we get the previous reward amount (as it's now in the bounty object itself), but I've thought that the 2 hour limit was already implemented before, that's why I wrote it. :)

[2018-04-09 07:57] anbud commented on #1038
ZulipBot seems like a perfect solution to this problem. The commands are quite simple, so the learning curve is probably short, and it's even easier to use it in some situations, as, for example, you can't assign yourself or add labels while you're on a mobile device, while you can use the bot.

[2018-04-09 07:58] anbud commented on #1035
Agreed, let the testing begin! :)

[2018-04-09 07:59] #991 closed

[2018-04-09 07:59] anbud commented on #981
I'll take this one, dynamic import is a better solution, I agree.

[2018-04-09 08:02] samuelralak commented on #991
lol, there's our curlprit 😂

[2018-04-09 08:02] gazhayes commented on #1038
OK, that's a good sign that it's actually the right solution :)

@anbud would you be interested in implementing this?

[2018-04-09 08:07] anbud commented on #1038
Sure, I'll take it.

[2018-04-09 08:16] AshHimself commented on #983
@gazhayes - Its worth noting that there is a little bit of inconsistacy in how reject feedback is gathered for each type. e.g. bounties, images, coins etc. So depending on what you think we could roll fix that.

[2018-04-09 08:33] chamidu-supeshala commented on #1036
fixed in #1043

[2018-04-09 08:53] gazhayes commented on #983
No worries, probably not a problem (yet), see how she goes.

[2018-04-09 09:03] #1036 closed

[2018-04-09 09:05] gazhayes opened #1044 "Problem: [/currencyAuction] not obvious to users that currency auctions tick downwards"
Problem: It's not immediately obvious in the UI that currency auctions are ticking downwards, so it's not clear how things work.

[2018-04-09 10:17] #1044 closed

[2018-04-09 10:20] gazhayes opened #1045 "Problem: [currencyauction] auctions seem to stop counting down after a while"
Problem: The auctions seem to stop ticking after a while, and the winning currency is not displayed at the top of the home route.

[2018-04-09 10:38] anbud commented on #981
Done in #1046.

[2018-04-09 10:46] gazhayes commented on #1045
ping @anbud

[2018-04-09 10:51] anbud commented on #1045
I'll check it out.

[2018-04-09 11:16] anbud commented on #1038
@blockrazorbot label "Done"

[2018-04-09 11:49] AshHimself commented on #1042
Fixed in #1047

[2018-04-09 11:59] janat08 commented on #934
https://github.com/beautify-web/js-beautify
just reformats code.

[2018-04-09 12:11] AshHimself commented on #1014
@gazhayes  updated in #1048

[2018-04-09 12:15] gazhayes commented on #1038
@blockrazorbot claim

[2018-04-09 12:16] gazhayes commented on #1038
@blockrazorbot abandon

[2018-04-09 12:16] gazhayes commented on #1038
That is damn cool.

[2018-04-09 12:16] #1038 closed

[2018-04-09 12:18] gazhayes opened #1049 "problem: blockrazorbot documentation not integrated into readme"
Problem: blockrazorbot documentation not integrated into readme

[2018-04-09 12:49] gazhayes commented on #1049
Fixed in #1050

[2018-04-09 13:00] #1042 closed

[2018-04-09 13:25] gazhayes commented on #1049
@blockrazorbot abandon

[2018-04-09 13:25] gazhayes commented on #1049
@blockrazorbot claim

[2018-04-09 13:26] gazhayes commented on #1049
@blockrazorbot label "done"

[2018-04-09 13:27] gazhayes commented on #1049
@blockrazorbot remove "done"

[2018-04-09 13:27] gazhayes commented on #1049
@blockrazorbot abandon

[2018-04-09 13:28] gazhayes commented on #1049
Everyone feel free to use this thread to experiment with the bot ;)

[2018-04-09 14:14] janat08 opened #1051 "Problem: [/] fast render doesn't work"
Problem: This subscription stops fast-render from working: https://github.com/Blockrazor/blockrazor/blob/1c0d76cbdb8b73b1a8fa03b98f906fdaec651030/imports/ui/pages/returnedCurrencies/returnedCurrencies.js#L35.
Allegedly [/problems/:id] also has the issue.

[2018-04-09 15:14] janat08 commented on #791
I'm going to remove sort field.

[2018-04-09 15:55] gazhayes commented on #791
The UI can sort it by bounty amount anyway.

[2018-04-09 16:26] janat08 commented on #791
Tried doing it in 3 ways all failing: https://github.com/janat08/blockrazor/tree/calculateReward
I marked the relevant code as ``//try 3 at #791``
try 1 and 2 don't respect sort order for some reason with NaN values cropping up even if I overwrite them to 0. Try 1 is unreactive, try 2 isn't necessarily faster and tries 2 and 3 are bonkers although it's likely something else to blame.

@anbud what

[2018-04-09 18:49] anbud commented on #1045
Fixed in #1053.

@blockrazorbot label "done"

[2018-04-09 19:51] anbud commented on #791
Oh, I didn't have any particular solution in mind, I just agreed that the current solution could be somehow optimized probably.
I'll check your code to see if I see something wrong.

[2018-04-09 21:59] samuelralak commented on #997
whats the progress on this one? is anyone actively working on this one?

[2018-04-09 22:07] samuelralak commented on #897
@kevingilliard any progress on this one?

[2018-04-09 22:10] samuelralak commented on #631
@gazhayes what the update on this one?

[2018-04-09 22:13] samuelralak commented on #1049
@blockrazorbot claim

[2018-04-09 22:13] samuelralak commented on #1049
@blockrazorbot abandon

[2018-04-09 22:14] samuelralak commented on #1049
@blockrazorbot label "done"

[2018-04-09 22:29] samuelralak opened #1054 "Problem: [/compareCurrencies] compare currencies page not responsive"
Problem: the compareCurrencies page does not scale well on small screens - the radar chart and comparison data in tables seem to get cut off.

Solution: make radar chart responsive; borrow options from charts in currency and currencyDetail pages. make tables horizontally scrollable.

[2018-04-09 22:29] samuelralak commented on #1054
@blockrazorbot claim

[2018-04-09 22:40] samuelralak opened #1055 "Problem: [/compareCurrencies] Chart data disappears on page refresh"
Problem: When the page is refreshed after adding currencies to compare, it seems like the charts get reset and data is no longer shown. Selecting new coins doesn't help as well as the old coin info is still not reflected on the charts.

I don't have a solution for this yet as I have not taken a look at the source code to find out whats breaking this. Anyone who can do it faster - possibly before a

[2018-04-09 22:40] samuelralak commented on #1055
currently working on [#1054](https://github.com/Blockrazor/blockrazor/issues/1054)

[2018-04-10 00:51] gazhayes commented on #997
No, no one has claimed it

[2018-04-10 00:52] gazhayes commented on #631
No update, just what you see here.

[2018-04-10 00:54] gazhayes commented on #897
He didn't claim it, so no progress. There are no hidden updates on Blockrazor, if its not claimed and there are no new messages there are no updates.

[2018-04-10 01:00] kevingilliard commented on #897
@samuelralak
No progress on this.
I tried big update with some libraries, and @gazhayes doesn't want it.
So I stopped it.

[2018-04-10 01:10] gazhayes commented on #897
@kevingilliard do you mean datatable? I agreed it's a solution and you can use it...

[2018-04-10 01:12] kevingilliard commented on #897
Oh, my god...
Ok, I'll update it as soon as possible

[2018-04-10 01:24] gazhayes commented on #897
Just read comments more carefully and don't jump to conclusions. Any issue like this is going to have a lot of discussion.

[2018-04-10 01:26] gazhayes commented on #897
And if you are taking this, you have to claim it. See #1049.

[2018-04-10 01:32] kevingilliard commented on #897
@blockrazorbot claim

[2018-04-10 01:48] gazhayes commented on #897
OK that's a mistake, I'll fix the bot.

[2018-04-10 01:51] gazhayes opened #1056 "Problem: new contributors cannot claim issues"
Problem: Blockrazorbot replies with this message when a new contributor attempts to claim an issue:

<img width="788" alt="screen shot 2018-04-10 at 9 49 20 am" src="https://user-images.githubusercontent.com/8143945/38531851-9dff207c-3ca4-11e8-98f7-5888894151d9.png">

Under the C4, anyone can claim any unclaimed issue.

Reference: #897

[2018-04-10 02:53] AshHimself commented on #983
@blockrazorbot label "done"

[2018-04-10 02:55] AshHimself commented on #983
@anbud @gazhayes - I can't seem to close this issue. I read #1049 and it states to just called "@blockrazorbot label "done" but I got an error because I already had added the done label. Will that command typically close the issue for me? Cheers guys.

[2018-04-10 04:11] gazhayes commented on #1056
@blockrazorbot abandon

[2018-04-10 04:12] gazhayes commented on #1056
@blockrazorbot claim

[2018-04-10 04:12] gazhayes commented on #1056
@blockrazorbot abandon

[2018-04-10 04:12] #1056 closed

[2018-04-10 04:13] #1045 closed

[2018-04-10 04:13] janat08 commented on #791
I think the LocalBounty.findOne part in autorun that consolidated all collection rerun causing a loop and deleting a value for calculateReward in try 1, but then why it also messed with try 2 I'm unclear.

[2018-04-10 04:13] #981 closed

[2018-04-10 04:49] AshHimself commented on #617
Do we still have an unmet dependency on this ticket? Are we not using validated-method now to use for client side validation on this page? @gazhayes - This page needs a lot of work on the UX whilst adding tickets and validated-method could assist with that giving inline form errors I believe.

[2018-04-10 04:51] janat08 commented on #617
#641 is the dependency.

[2018-04-10 04:52] janat08 commented on #791
The above worked.

[2018-04-10 04:53] AshHimself commented on #617
In what way? Is #641 not done. I guess I am not following the issue correctly then.

[2018-04-10 04:56] AshHimself commented on #1055
So this ticket is related and you are also working on this? You can claim it if you are.

[2018-04-10 05:03] janat08 commented on #791
It's noticeably more lively compared to master at x6 cpu throttle.

[2018-04-10 05:09] janat08 commented on #791
well yea, its  over %25 faster, but not the fastest option as it interfaces with minimongo which is what's used to diff for reward changes.

[2018-04-10 05:16] janat08 commented on #617
Sorry, #624

[2018-04-10 05:26] #983 closed

[2018-04-10 05:27] janat08 opened #1058 "Problem: bot unassigns after closing issue"
Problem: I'd rather bot didn't unassign an issue when its closed as it's a matter of record.

[2018-04-10 05:29] gazhayes commented on #617
@AshHimself  @janat08 I just freed this up. The dependency is close enough, just be aware that some fields may change.

[2018-04-10 05:31] AshHimself commented on #617
@janat08 you ok for me to take this as I have no other tickets on my plate right now.

[2018-04-10 05:33] janat08 commented on #617
ye, I don't do jquery.

[2018-04-10 05:33] gazhayes commented on #617
It's nice to be polite, but there's no need for consensus. @AshHimself are you planning on using validated-method + simplSchema + jquery?

[2018-04-10 05:34] AshHimself commented on #617
All the validate of fields 'should' be done in validated-method + simplSchema. Jquery will only be used to update the DOM with the validation errors from the validated-method.

[2018-04-10 05:35] AshHimself commented on #617
@blockrazorbot claim

[2018-04-10 05:35] gazhayes commented on #617
Yep cool that's the simplest solution I believe.

[2018-04-10 05:39] gazhayes commented on #1058
Yeah you raise a valid point.

[2018-04-10 05:42] gazhayes commented on #1058
@blockrazorbot label done

[2018-04-10 05:43] gazhayes commented on #1058
@blockrazorbot label "done"

[2018-04-10 05:43] gazhayes commented on #1058
@blockrazorbot remove "done"

[2018-04-10 05:44] gazhayes commented on #1058
@blockrazorbot claim

[2018-04-10 05:44] gazhayes commented on #1058
@blockrazorbot label "done"

[2018-04-10 05:44] gazhayes commented on #1058
@blockrazorbot remove "in progress"

[2018-04-10 05:44] gazhayes commented on #1058
Yeah it works.

[2018-04-10 05:46] gazhayes commented on #1058
Finished experimenting. I'll fix this.

@blockrazorbot claim

[2018-04-10 05:49] gazhayes commented on #1056
@blockrazorbot done

[2018-04-10 06:31] janat08 commented on #997
I think I saw jquery typeahead that was reactive for meteor.

[2018-04-10 06:55] samuelralak commented on #1055
@blockrazorbot claim

[2018-04-10 06:57] gazhayes commented on #997
Can you find it again?

[2018-04-10 06:59] janat08 commented on #1035
"scripts": {
    "start": "meteor run",
    "debug": "meteor run --inspect",
    "lint": "./node_modules/.bin/eslint . --fix",
    "test": "jest --testMatch '**/?(*.)(jest-test).js?(x)'"
  },
I tried adding test script, and it doesn't like regex I placed.

[2018-04-10 07:00] samuelralak commented on #997
ok cool. can't claim now though but will take a look if its not claimed before finishing my current issues

[2018-04-10 07:03] janat08 commented on #997
https://atmospherejs.com/sergeyt/typeahead
I'll take it if we're converting.

[2018-04-10 07:03] gazhayes commented on #997
Just remember there are no secret updates and no discussions outside of the issue tracker, so what you see here is what you get. If it's not claimed, no one is working on it. And if there are no attached pull requests and no comments, there are no updates ;)

[2018-04-10 07:06] janat08 commented on #997
It said it supported blaze templates for autocomplete suggestions.

[2018-04-10 07:07] gazhayes commented on #997
@janat08 That looks like the simplest solution :)

[2018-04-10 07:11] gazhayes commented on #997
If there are any problems with that package and you want to modify it I'll fork it here and C4 it, it looks like there's a good pull request just waiting to be merged but the maintainer is being picky about silly things.

[2018-04-10 07:13] janat08 opened #1059 "Problem: dev jest testing implementation not working"
Problem: I'm trying to make jest run on dev environment before pushing. In so far there're 3 issues: blaze rendering, imports and meteor imports, and
actually running jest with regex throwing error:
[code]

Solution: Blaze rendering is solved for by https://github.com/TheBrainFamily/blazeRenderer/blob/master/tests/template.test.js.
Imports may be solved with, but I afraid it doesn't actually addre

[2018-04-10 08:46] janat08 commented on #997
Still can't have reactive value since I can't bind an event to typeahead input: https://github.com/sergeyt/meteor-typeahead/issues/161

[2018-04-10 08:55] janat08 commented on #682
@blockrazorbot claim

[2018-04-10 08:56] janat08 commented on #682
@blockrazorbot unclaim

[2018-04-10 08:57] janat08 commented on #682
@blockrazorbot abandon

[2018-04-10 11:03] samuelralak commented on #1054
@blockrazorbot label "done"

[2018-04-10 11:04] samuelralak commented on #1054
@blockrazorbot remove "in progress"

[2018-04-10 11:41] janat08 commented on #272
bounty types, appLogs, formData, graphData, Problems: [taken, votes], and votes in general.

[2018-04-10 11:44] janat08 commented on #682
@blockrazorbot claim

[2018-04-10 12:00] janat08 commented on #682
sendMessage function in activityLog

[2018-04-10 12:24] janat08 commented on #682
I don't belief moving code that belonged on server only can do harm, feel free to close this if you don't want a review as I moved everything.

[2018-04-10 12:25] janat08 commented on #682
@blockrazorbot label done

[2018-04-10 12:26] janat08 commented on #682
@blockrazorbot label "done"

[2018-04-10 12:28] #682 closed

[2018-04-10 12:53] janat08 commented on #997
@blockrazorbot claim

[2018-04-10 14:25] #1054 closed

[2018-04-10 17:25] #989 closed

[2018-04-10 20:27] anbud commented on #1035
@janat08, This seems to work: `"test": "jest --testMatch \"**/?(*.)(jest-test).js?(x)\" --passWithNoTests"`

[2018-04-10 21:38] anbud commented on #980
I'll take this one then, I'll implement a way to limit them and sort them server side.

@blockrazorbot claim

[2018-04-11 02:35] gazhayes opened #1066 "problem: users cannot log in"
Problem: when logging in users see a 500 error.

Server logs:
[code]

[2018-04-11 02:41] gazhayes commented on #1066
Probably broken in #1064 but haven't verified.

[2018-04-11 06:00] gazhayes commented on #1066
@blockrazorbot claim

[2018-04-11 06:02] gazhayes commented on #1066
@blockrazorbot claim

[2018-04-11 06:03] gazhayes commented on #1066
@blockrazorbot add "in progress"

[2018-04-11 06:08] gazhayes commented on #1058
@blockrazorbot claim

[2018-04-11 06:14] AshHimself commented on #1066
@gazhayes This is fixed in #1067 but I think @janat08 needs to review as it may of broken in other locations

[2018-04-11 06:25] gazhayes commented on #1051
Do you have any ideas for a solution?

[2018-04-11 08:29] AshHimself commented on #617
@anbud  @janat08 - For validating the attributes in saveCoin can I reuse the schema that was aready defined by @janat08 ? Something like the below. The Currencies namespace is currently not available and when I do import it I get a duplicate declaration error. Thought i'd just reach for help before burning too many hours on this.

[2018-04-11 11:04] AshHimself commented on #978
@blockrazorbot claim

[2018-04-11 11:33] AshHimself opened #1068 "problem: [currency] SubsCache.ready() always returning false"
Problem: SubsCache.ready() always returning false therefore the LOADING indicator never goes.

Solution: Unknown

[2018-04-11 11:59] AshHimself commented on #1068
#1057 seems to be the last PR I can see that it was working.

[2018-04-11 12:37] janat08 commented on #1066
No that's okay, that's how it used to be.

[2018-04-11 12:48] janat08 commented on #1068
I actually turned on SubsCache in #1052.

[2018-04-11 12:49] AshHimself commented on #1068
Any ideas on what’s going on ?

On Wed, 11 Apr 2018 at 8:48 pm, zhan ishzhanov <notifications@github.com>
wrote:

[2018-04-11 12:51] janat08 commented on #1068
Would you like me to find out?

[2018-04-11 12:51] AshHimself commented on #1068
Sure

On Wed, 11 Apr 2018 at 8:51 pm, zhan ishzhanov <notifications@github.com>
wrote:

[2018-04-11 12:52] janat08 commented on #1068
@blockrazorbot claim

[2018-04-11 12:53] janat08 commented on #1051
SubsCache is acting up, I'll do that one.

[2018-04-11 13:17] janat08 commented on #1068
Is upstream issue: https://github.com/ccorcos/meteor-subs-cache/issues/20

this is workaround: ``_(SubsCache.cache).chain().values().map((x) => x.ready()).reduce((a,b) => a && b).value()``
@gazhayes should I look into merging this into our subsCache. What does "_" and chain() mean?

[2018-04-11 13:24] AshHimself commented on #1068
Does enabling debug bring anymore light to the issue?

`SubsCache = new Sub(5, 10, true);`

[2018-04-11 13:29] janat08 commented on #1068
Some subscriptions don't pass in params when they should.

[2018-04-11 13:35] janat08 commented on #1068
Stops a bunch of subscriptions.

[2018-04-11 13:36] janat08 commented on #1068
I replied in upstream issue, and we kind of have a workaround. @blockrazorbot unclaim

[2018-04-11 13:43] #1066 closed

[2018-04-11 13:46] gazhayes commented on #1068
@janat08 are they fixing it upstream? Or if you know how to fix it just pull request to our version.

[2018-04-11 13:51] AshHimself commented on #1068
@gazhayes I believe @janat08 may of resolve the issue in #1070 waiting on merge from you to confirm.

[2018-04-11 13:52] janat08 commented on #1068
That doesn't resolve.

[2018-04-11 13:53] janat08 commented on #1068
_(SubsCache.cache).chain().values().map((x) => x.ready()).reduce((a,b) => a && b).value()

Will return true value, but I don't know what any of this means.

[2018-04-11 13:56] janat08 commented on #1068
They have an issue for it, I guess they'd like to.

[2018-04-11 13:58] gazhayes commented on #1068
You mean because you aren't sure what it's doing upstream or just because it's confusing?
It's Functionalized  ES6, @anbud can probably explain this to you better than I can.

[2018-04-11 15:14] anbud commented on #1068
The functional code you've posted above just checks if all caches are ready (map maps them to x.ready() and reduce checks if all of them are true, if any of them is not ready, reduce will return false, otherwise the result is true).

[2018-04-11 15:17] janat08 commented on #1068
That's what original code does: https://github.com/ccorcos/meteor-subs-cache/blob/07a13c0de27dcf9c81e3874edce3df6887cc02d0/src/SubsCache.js#L246

[2018-04-11 15:18] janat08 commented on #1051
@blockrazorbot claim

[2018-04-11 15:32] janat08 opened #1072 "Problem: fast-render is sending every currency in collection for [/] despite infinite scroll"
Problem: Turning off fast render with ``FastRender.debugger.blockDDP()`` will let infinite-load continue loading rather than just the first load/set, which indicates that it will essentially send the whole collection on every visit.

[2018-04-11 15:39] janat08 commented on #1051
This is what's preventing from fast-render working. I'll let someone else actually fix it. https://github.com/Blockrazor/blockrazor/blob/1c0d76cbdb8b73b1a8fa03b98f906fdaec651030/imports/ui/pages/returnedCurrencies/returnedCurrencies.js#L35

[2018-04-11 15:40] janat08 commented on #1051
@blockrazorbot unclaim

[2018-04-11 16:25] janat08 commented on #1059
installed babel, but it can't tell i'm reffering to node_modules :D when ``import 'package'.``

[2018-04-11 18:00] janat08 commented on #1059
there're bunch of close pull request for where I left off.

[2018-04-11 18:12] anbud commented on #1059
Sure thing, I'll check it out.

@blockrazorbot claim

[2018-04-11 18:16] janat08 commented on #1059
@blockrazorbot unclaim

[2018-04-11 18:18] janat08 commented on #1035
@blockrazorbot unclaim, since it won't allow multiple claims

[2018-04-11 18:25] janat08 commented on #1059
some of other links I found that old and/or irrelevant: https://medium.com/@arcomito/setting-up-jest-enzyme-in-a-meteor-js-and-apollo-project-9ceadbcf2fa3

[2018-04-11 18:26] janat08 commented on #1059
https://github.com/acomito/meteor-jest-enzyme

[2018-04-11 18:37] anbud commented on #980
Done in #1075.

@blockrazorbot label "done"

[2018-04-11 19:41] samuelralak commented on #1055
@blockrazorbot remove "in progress"

[2018-04-11 19:42] samuelralak commented on #1055
@blockrazorbot label "done"

[2018-04-11 19:42] samuelralak commented on #1055
fixed in [#1076](https://github.com/Blockrazor/blockrazor/pull/1076)

[2018-04-11 20:15] anbud commented on #1068
The only difference between the two is that the one you've posted above uses underscore/lodash chaining and respective map and reduce, while the original code uses native js map and reduce. This shouldn't make any difference though, but I'm guessing it does.

[2018-04-11 20:17] #1055 closed

[2018-04-11 21:16] samuelralak commented on #891
@janat08 is the dependency for this issue resolved?

[2018-04-11 23:10] gazhayes commented on #891
I'll close this one for now as it's adding some confusion.

[2018-04-11 23:10] #891 closed

[2018-04-11 23:10] #1049 closed

[2018-04-11 23:12] gazhayes commented on #1058
This requires a bit too much work to make it worthwhile. You can still see who sent the pull request to resolve it which is the important thing. You can also see who was assigned just before it was closed.

[2018-04-11 23:12] #1058 closed

[2018-04-11 23:13] gazhayes commented on #1035
You don't really need to claim this one anyway. It's a reminder for everyone.

[2018-04-12 02:43] AshHimself commented on #617
@janat08 yep I tried to use 'Currencies.schema' as the schema in the validated-method per the above code but getting the following error. I assume this is something simple i'm missing and I agree the simple schema could do with a little update to make it more elegant and scalable.

`TypeError: Currencies.schema is not a function
    at methods.js (imports/api/coins/methods.js:17:26)
    at fileEva

[2018-04-12 03:26] AshHimself commented on #978
@MadanBhandari - This has been done.

[2018-04-12 03:33] #978 closed

[2018-04-12 04:02] AshHimself commented on #890
I am also unable to reproduce. I suggest closing and reopening again with repeatable replication steps and screenshot. @gazhayes

[2018-04-12 04:10] #890 closed

[2018-04-12 04:13] gazhayes commented on #1072
If this is happening in the background it's ok (I guess it will help with searching/filtering).

But if it's waiting on load this is a major problem.

The next step here is to verify what the actual problem is.

[2018-04-12 05:21] samuelralak opened #1077 "Problem: [/add-hashpower] form ui/ux not good"
Problem: the form element is not centered and does not follow the standard of forms in /addCoin or /newAuction

Solution: Borrow styles from /addCoin or /newAuction to improve form page UI/UX.

[2018-04-12 05:24] samuelralak opened #1078 "Problem: [/mypending] Getting TypeError messages in browser console"
Problem: Getting the below error messages in browser console when navigating to /myPending.
<img width="1318" alt="screen shot 2018-04-12 at 8 17 06 am" src="https://user-images.githubusercontent.com/4476552/38657799-d7e20b2e-3e2a-11e8-8129-ea201473a29f.png">
Solution: find and add checks for `undefined` variables.

[2018-04-12 05:33] samuelralak opened #1079 "Problem: [/moderator] Pages with tables UI-UX not good"
Problem: ables could be wrapped inside card elemets with white background to make them more visible.
**Solution**
borrow styles from the `/wallet/:currency` to improve UI/UX for the following pages
- [/changedCurrencies]
- [/flaggedHashpower]
- [/pardon]
- [/flaged]
- [/transactions]

[2018-04-12 05:33] samuelralak commented on #1079
@blockrazorbot label "UI-UIX"

[2018-04-12 05:34] samuelralak commented on #1079
@blockrazorbot label "UI-UX"

[2018-04-12 05:48] janat08 commented on #997
I couldn't pass in a event or reflect current value of typeahead in empty template.

[2018-04-12 05:49] gazhayes commented on #1079
@samuelralak actually a table probably isn't the best way to deal with these pages in the first place. I'd say the real problem is that these pages are difficult of maintainers to quickly cycle through. Many of these items have images etc attached and they should be displayed on the page itself and not in a table (and it's bad to make them click to open things because they probably won't bother).

[2018-04-12 05:50] janat08 commented on #272
Problems: [taken, votes], and votes in general. not done.

[2018-04-12 05:50] janat08 commented on #272
@blockrazorbot unclaim.

[2018-04-12 05:52] gazhayes commented on #997
Can you explain more here, a template referring to an empty data set?

[2018-04-12 05:52] chamidu-supeshala commented on #1078
@blockrazorbot claim

[2018-04-12 05:55] #272 closed

[2018-04-12 05:56] gazhayes commented on #272
OK, @janat08 when you see any specific schema problems just add a new specific issue for that particular collection.

[2018-04-12 06:07] janat08 commented on #997
empty result set.

[2018-04-12 06:14] gazhayes commented on #997
OK. I don't know how far along you are with this, but a simpler solution will be to just add a "add new" button next to the typeahead dropdown (similar to /add-hashpower).

[2018-04-12 06:16] samuelralak commented on #1079
If we are going to take this route, I would also suggest having a small message letting moderators know exactly how many items are in the triage. An example for this would be what we have when users answer community/ratings question - a small message is displayed showing the number of questions left.

[2018-04-12 06:24] gazhayes opened #1080 "Problem: menu close button looks bad"
Problem: the menu close button (x) looks bad.

solution:

Use an arrow type close button (e.g. fa-angle-left) and put it further down the menu. This is more like something users are traditionally used to seeing.

[2018-04-12 06:28] janat08 commented on #997
The package is in place, the fact that I can't select typeahead element or update the value aside. The typeahead('val') will work, it's more about other options I like custom events and updating the value.

[2018-04-12 06:35] gazhayes commented on #997
OK. Stay focussed on the problem. This solution is probably too complicated and not worth it.

If you have to make *something* work in an hour and close this issue what would you do?

[2018-04-12 06:37] gazhayes commented on #617
ping @anbud

[2018-04-12 06:55] AshHimself commented on #1080
i'll fix this same time I am fixing the menu @blockrazorbot claim

[2018-04-12 07:05] chamidu-supeshala commented on #1078
@blockrazorbot remove "in progress"

[2018-04-12 07:06] chamidu-supeshala commented on #1078
@blockrazorbot label "done"

[2018-04-12 07:25] AshHimself commented on #631
Fixed in #1082

[2018-04-12 07:39] #1078 closed

[2018-04-12 07:48] janat08 commented on #617
#1083, btw you have to run validator() to return function that validated method can use.

[2018-04-12 08:00] janat08 commented on #997
``Ideally this would be a typahead list with "add" if what the user types isn't found (e.g. how Github works with adding branches).``
Do you want a separate button?

[2018-04-12 08:05] janat08 commented on #1072
It will be slower to load as it sends whole collection right of the bat, otherwise to clarify fast-render works as it should increase page load it only does so expensively.

[2018-04-12 08:13] gazhayes commented on #997
Oh ok, well element selection would be better :)

[2018-04-12 08:15] gazhayes commented on #1072
Ah so the problem is that fast render is sending the whole collection?