[2018-04-12 08:15] janat08 commented on #997
I'm just waiting for someone to respond to https://github.com/sergeyt/meteor-typeahead/issues/161 though.

[2018-04-12 08:36] AshHimself commented on #1080
Fixed in #1084 (some testing will need to be done on mobile as it includes gestures for the menu)

[2018-04-12 08:38] AshHimself commented on #1080
@blockrazorbot label "done"

[2018-04-12 09:07] #980 closed

[2018-04-12 09:42] anbud commented on #1059
@janat08, I've managed to get Babel working in #1086, so imports and other es6 features are working now, but, as far as I can see, the test you wrote requires mocking some Meteor components (Template, ...).

Since I haven't used Jest before, how is mocking/stubbing usually handled? Do you have any example tests written for Meteor in Jest?

[2018-04-12 09:48] anbud commented on #1051
@blockrazorbot claim

[2018-04-12 10:01] janat08 commented on #1072
Yes.

[2018-04-12 10:07] samuelralak opened #1087 "Problem: Broken Master"
Problem: getting a blank screen when visiting `https://blockrazor.org/`. Getting the below error on the browser console
<img width="1665" alt="screen shot 2018-04-12 at 1 06 45 pm" src="https://user-images.githubusercontent.com/4476552/38670780-6d3b71b6-3e52-11e8-8ffd-816088114f29.png">

[2018-04-12 10:08] gazhayes commented on #1087
Resolved

[2018-04-12 10:08] #1087 closed

[2018-04-12 10:11] samuelralak commented on #1087
sweet

On Thu, 12 Apr 2018 at 13:08, Gareth Hayes <notifications@github.com> wrote:

[2018-04-12 10:13] gazhayes commented on #1072
Ok that's definitely worth dealing with.

[2018-04-12 10:33] gazhayes commented on #1072
Yeah, very likely, but can filter/search work if we use limits?

[2018-04-12 10:40] janat08 commented on #1072
you just pass reactive limit to subscription parameter.

[2018-04-12 10:50] janat08 commented on #1072
All that happens is it will stop the search once it gets the amount of documents you want which is generally all that you show.

[2018-04-12 10:51] janat08 commented on #1072
@blockrazorbot claim

[2018-04-12 10:52] janat08 commented on #1059
This explains that: https://blog.meteor.com/real-world-unit-tests-with-meteor-and-jest-3d557e84e84a, but I can handle it from here.

[2018-04-12 10:54] anbud commented on #1059
It's all yours. :)
@blockrazorbot abandon

[2018-04-12 10:54] janat08 commented on #1059
@blockrazorbot claim

[2018-04-12 10:58] gazhayes commented on #1080
There's an issue on small screens.
![screenshot_2018-04-12-18-50-46-738_org mozilla firefox](https://user-images.githubusercontent.com/8143945/38673121-ec33f17a-3e82-11e8-92d0-1e7a7362dbf4.png)

The menu button does weird things. Sometimes it's an arrow, sometimes a hamburger, but it's not consistent. Sometimes it's even both.

The simplest solution is to only use the hamburger icon in the nav bar

[2018-04-12 11:02] samuelralak commented on #1080
Something needs to be done about that wallet UI too :D

Samuel Ralak
Web & Mobile Software Consultant
skype: samuel.ralak | tel: (254) 706 344 347

[2018-04-12 11:03] anbud commented on #1051
Fixed on `/` in #1088, but I can't reproduce it on `/problem/x`.

@blockrazorbot label "done"

[2018-04-12 11:05] AshHimself commented on #1080
Investigating.

[2018-04-12 11:10] janat08 opened #1089 "Problem: entire collection is required to sort by data quality metric"
Problem: adding quality field during publication will not let mongo perform sort and limit, which doesn't entirely matter if localCollection is used, otherwise it won't work and isn't the best performance. The publication that does it says it intends to sort by that.

[2018-04-12 11:12] AshHimself commented on #1080
@gazhayes - was there something you did to get this? I can't seem to replicate.

[2018-04-12 11:26] janat08 commented on #1059
I'm getting this error
[code]

[2018-04-12 11:51] gazhayes commented on #1080
I randomly opened and closed (using the button as well as 'tap outside of the sidebar' gesture).

[2018-04-12 11:52] gazhayes commented on #1080
Just make it a permanent hamburger, then it's definitely solved.

[2018-04-12 11:55] gazhayes commented on #1080
And maybe on of these
<img width="327" alt="screen shot 2018-04-12 at 7 52 42 pm" src="https://user-images.githubusercontent.com/8143945/38675755-65450c5e-3e8b-11e8-9621-0bb9b4e1b8c5.png">

[2018-04-12 11:58] gazhayes commented on #1080
I just had another look, and since this is only causing problems on small screens (where gestures are used and there's shadowing etc) maybe just make *that* a hamburger only and leave the full size screen stuff as it is since nothing is actually broken there.

[2018-04-12 12:08] AshHimself commented on #1080
@gazhayes - no problems #1091

[2018-04-12 12:11] AshHimself opened #1092 "problem: [problems] Received error from server: Malformed method invocation"
Problem: I am getting Received error from server:  Malformed method invocation in the console but can't seem to see what the root method or code is. Anyone know?

[2018-04-12 12:12] samuelralak commented on #1092
on which page are you getting this?

On Thu, 12 Apr 2018 at 15:11, Ash Smith <notifications@github.com> wrote:

[2018-04-12 12:24] janat08 commented on #1059
@anbud I found this: https://github.com/TheBrainFamily/blazeRendererExample. So no mocking required.

[2018-04-12 12:24] AshHimself commented on #1092
ok i think I found the cause, but will need @janat08 to take a look as it relates to his code.

[2018-04-12 12:25] gazhayes commented on #1092
Which route?

[2018-04-12 12:28] #1080 closed

[2018-04-12 12:32] AshHimself commented on #1092
@blockrazorbot  claim

[2018-04-12 12:33] AshHimself commented on #1092
@blockrazorbot label "done"

[2018-04-12 12:33] gazhayes commented on #1011
Looks like someone broke this. Frontend tests weren't implemented when this was dong but they are now ;)

[2018-04-12 12:33] AshHimself commented on #1092
@gazhayes - shouldn't the bot remove the in-progress label?

[2018-04-12 12:34] gazhayes commented on #968
Someone broke this.

A test is needed.

[2018-04-12 12:36] gazhayes commented on #1092
try `@blockrazorbot done`

[2018-04-12 12:36] AshHimself commented on #1092
@blockrazorbot done

[2018-04-12 12:37] AshHimself commented on #631
@blockrazorbot done

[2018-04-12 12:39] gazhayes commented on #968
I wouldn't unassign you even if someone else can do this more efficiently - it's a good learning experience.

[2018-04-12 12:41] gazhayes commented on #1092
What am I doing. This is for you to verify and close.

[2018-04-12 12:42] AshHimself commented on #1092
Clearly not following C4.. you won't win developer of the month ;)

[2018-04-12 12:43] gazhayes commented on #631
How do you add large screen vs small screen items? Can you add some comments in the code?

[2018-04-12 12:44] AshHimself commented on #631
I can but its all document here https://getbootstrap.com/docs/4.0/utilities/display/

[2018-04-12 12:46] gazhayes commented on #1092
No matter which emoticon I use to respond to that it will be taken the wrong way by someone. I have brought shame upon six generations of my ancestors :(

[2018-04-12 12:50] gazhayes commented on #631
Oh I know, and it's pretty easy for us, but you should make more comments anyway (on this and in general) so that it's *really* clear what's going on to people who are learning for the first time.

[2018-04-12 12:57] AshHimself commented on #631
Roger that

[2018-04-12 13:07] janat08 commented on #1092
if there's no method name perhaps an error could be thrown.

[2018-04-12 13:50] #1092 closed

[2018-04-12 14:03] AshHimself commented on #968
Help me out here @gazhayes .. what exactly is broken? I see notification bubbles against the correct currency?
![image](https://user-images.githubusercontent.com/148682/38682310-51d9e9a2-3e9d-11e8-9330-5b4582eed804.png)

[2018-04-12 15:03] janat08 commented on #1059
@gazhayes making progress here, how to get rid of:   ```C:/Users/ALERATOR/blockrazor/imports/api/users/usersStats.js: 'import' and 'export' may only appear at the top level (47:0)```

[2018-04-12 15:09] janat08 commented on #1059
pushed my branch.

[2018-04-12 15:44] janat08 commented on #1051
So the solution is just to add {}, cuz it's breaking for me with trying to set limit on publication because I'm passing a param to publicaiton.

[2018-04-12 15:44] anbud commented on #1059
@janat08, [this](https://github.com/Blockrazor/blockrazor/blob/master/imports/api/users/usersStats.js#L47) is the problem, `export` is inside an `if` statement scope, but it needs to be top level. Moving it outside of the `if` scope should fix that. I'm not sure about `transform-es2015-modules-commonjs`, you can try removing it, it'll probably work without it.

I'll check out the link above, Jest

[2018-04-12 15:47] janat08 commented on #1059
how is this problem only in npm test?

[2018-04-12 15:49] anbud commented on #1059
As far as I know, Meteor is not following ES6 standard to the letter, so it allows small variations, while Jest doesn't.

[2018-04-13 01:27] gazhayes opened #1094 "problem: [/ratings, /codebase] cannot see equal to item"
Problem:
<img width="724" alt="screen shot 2018-04-13 at 9 24 32 am" src="https://user-images.githubusercontent.com/8143945/38712197-a3309472-3efc-11e8-9f7a-4c04c800d4e0.png">

See /communities for reference

[2018-04-13 01:29] gazhayes commented on #1011
Was a database artefact

[2018-04-13 01:29] #1011 closed

[2018-04-13 01:30] chamidu-supeshala commented on #1094
@blockrazorbot claim

[2018-04-13 01:34] gazhayes opened #1095 "problem: [/moderator] when rejecting a new currency no action can be taken"
Problem: when rejecting a new currency no action can be taken; it's like a modal is trying to show but it can't.
<img width="1418" alt="screen shot 2018-04-13 at 9 32 45 am" src="https://user-images.githubusercontent.com/8143945/38712367-bbfadca0-3efd-11e8-962f-eaa2234e1442.png">

[2018-04-13 01:48] gazhayes opened #1096 "Problem: [/moderator] new currency approvals require extra steps"
Problem: new currency approvals require a 'view' step and cannot be done in-line. This is annoying and slows down the process.

[2018-04-13 01:49] #1096 closed

[2018-04-13 02:14] gazhayes opened #1097 "problem: [/moderator] approvals etc can be ignored and not given full attention"
Problem: items waiting for approval are shown in a large list, as are proposed changes, suspended users, flagged content. It's easy for moderators to skip over each item without really reading them or thinking about them if they look 'too hard'.

Possible Solution: Only show one item at a time, in a similar way to /ratings. No extra steps should be needed (e.g. the 'view' button for currency appro

[2018-04-13 02:17] chamidu-supeshala commented on #1094
done in #1098

[2018-04-13 02:18] chamidu-supeshala commented on #1094
@blockrazorbot remove "in progress

[2018-04-13 02:18] chamidu-supeshala commented on #1094
@blockrazorbot remove "in progress"

[2018-04-13 02:19] chamidu-supeshala commented on #1094
@blockrazorbot label "done"

[2018-04-13 02:38] chamidu-supeshala commented on #1095
@blockrazorbot claim

[2018-04-13 02:43] gazhayes commented on #964
@anbud I just want to make sure I definitely understand, are you talking about that in conjunction with @AshHimself's idea or as an alternative?

[2018-04-13 02:44] AshHimself commented on #964
To me it’s the same thing.

On Fri, 13 Apr 2018 at 10:43 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-13 02:47] gazhayes commented on #964
Their npm package looks like the simplest solution and their free tier is probably enough for now.

We could start with a very well documented basic implementation and then people can add whatever events they want later.

[2018-04-13 02:51] AshHimself commented on #964
I assume you mean the Segment.io NPM package? If so yeh its pretty simple to get going and I could create a reusable validatedMethod which we can use to send data. Just remember though that segment.io is our data hub. We still need a service which does the reporting for us, all segment does is allows us to centralise all user activity and send it to other services VERY VERY easily.

[2018-04-13 02:53] gazhayes commented on #964
Yeah I guess GA or something on the other end would work.

[2018-04-13 02:55] AshHimself commented on #964
Sure will.. the C4 will guide us on what works and what does not :)

[2018-04-13 05:15] AshHimself commented on #964
@blockrazorbot claim

[2018-04-13 05:16] AshHimself commented on #964
@gazhayes - Did you have a generic blockrazor email account you want me to use to signup to this service?

[2018-04-13 06:37] #1095 closed

[2018-04-13 07:50] gazhayes opened #1100 "problem: no in-your-face encougement to look at bounties page"
Problem: people may not initially be aware there are bounties, and bounties are a critical part of Blockrazor.

Solution: add bounty menu item to the top navigation bar next to logo. Since this will add too much clutter to small screens, top navigation bar menu items should only be displayed on regular screens and *not* mobile devices or small screens.

[2018-04-13 08:18] gazhayes opened #1101 "problem: [/] no filtering for future projects"
Problem: many projects added to Blockrazor will be future projects (genesis block not yet mined). These are ICOs and altcoins etc that are proposed but haven't been launched yet.

Solution: from the UI perspective this can be as simple as a checkbox in the filter "show projects that haven't launched yet". There are existing flags for project type in the currencies collection in "launchtags".

The

[2018-04-13 08:30] AshHimself commented on #1100
What about a tooltip as well. Sorta like when you sign up to gmail it
highlights key features.

On Fri, 13 Apr 2018 at 3:50 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-13 08:33] gazhayes commented on #1100
I think a menu item top left next to the logo will be enough, if we start using tooltips like that it adds unnecessary complexity

[2018-04-13 10:20] gazhayes opened #1102 "problem: no krazor distribution metrics"
Problem: only a fixed amount of Krazor can be distributed per year. Bounties might need to be adjusted to ensure that the available Krazor doesn't run out. At the moment, there's no easy way to see projections of how soon the available Krazor will run out if expenses continue at the current rate.

Solution: calculate the total Krazor earned through auctions and expended through boubties, project t

[2018-04-13 10:26] gazhayes commented on #1097
That's just an idea I'm throwing out there. Since there are numerous types of things to approve or reject they can't all use the same template. So instead, we could send them to a new route after they process an item, the new route would be a different type of item for approval/rejection. Just using it as an example to prompt some thinking about this issue.

[2018-04-13 10:26] anbud commented on #1102
I'll take this one.

@blockrazorbot claim

[2018-04-13 10:29] samuelralak commented on #1097
Oh I get it now, so the route changes according to the next item in the approval queue. Yeah that makes perfect sense

[2018-04-13 10:29] janat08 commented on #1059
I give up, this gives me error logs that don't point at anything and scours through entire codebase, complaining that: ``Cannot find module '/imports/api/coins/currencies.js' from 'indexDB.js'``
@blockrazorbot abandon

[2018-04-13 10:30] janat08 commented on #1059
https://github.com/janat08/blockrazor/tree/tests
this is where I left off, deleing userStats code and diminishing codebase.js

[2018-04-13 10:35] samuelralak commented on #1097
@gazhayes would this be worth closing [#1079](https://github.com/Blockrazor/blockrazor/issues/1079) and track this issue instead?

[2018-04-13 10:36] gazhayes commented on #1097
Definitely yes

[2018-04-13 10:38] samuelralak commented on #1079
@blockrazorbot remove "in progress"

[2018-04-13 10:38] #1079 closed

[2018-04-13 10:38] samuelralak commented on #1097
@blockrazorbot claim

[2018-04-13 10:39] gazhayes commented on #1059
@janat08 we implemented jest for you. This can be low priority but you have been raving about jest for a long time so I assumed you'd be able to use it.

[2018-04-13 10:44] janat08 commented on #1059
I said that I have never used it at like the very first testing issue, but snapshots are great and adapting testable-meteor is worthwhile it then taking issue with every piece of code that isn't related at all to the test aside.

[2018-04-13 10:46] janat08 commented on #1059
Could be related to the bug where server files make it to the client bundle.

[2018-04-13 10:46] janat08 commented on #1059
#913

[2018-04-13 11:53] chamidu-supeshala commented on #1100
After adding it to the top-navbar, do we need to remove entry from side nav? or keep the sidenav entry also?

[2018-04-13 11:55] gazhayes commented on #1100
I personally think leaving it is ok

[2018-04-13 11:56] chamidu-supeshala commented on #1100
@blockrazorbot claim

[2018-04-13 12:03] #993 closed

[2018-04-13 12:16] janat08 commented on #1059
Like what am I suppose to do with ``Cannot find module '/imports/api/coins/currencies.js' from 'indexDB.js'``

[2018-04-13 12:30] janat08 commented on #1059
I'll wait to see what anbud has to say about this if anything at all and then move on to his testing solution.

[2018-04-13 13:03] chamidu-supeshala commented on #1100
@gazhayes currently there is a bounty icon in the top navigation bar for mobile screens. So it will not add additional clutter to small screens, because bounty icon already there for small screens. So i think we don't need to hide those current top navigation menu items from mobile devices, as current icon set fits well in most of the small screens. Do we need to hide them (and move to side nav) f

[2018-04-13 13:24] gazhayes commented on #1100
On larger screens it should really say "bounties"

[2018-04-13 14:45] chamidu-supeshala commented on #1100
fixed in #1104

[2018-04-13 14:46] chamidu-supeshala commented on #1100
@blockrazorbot remove 'in progress'
@blockrazorbot  label 'done'

[2018-04-13 14:47] chamidu-supeshala commented on #1100
@blockrazorbot remove 'in progress'

[2018-04-13 14:49] chamidu-supeshala commented on #1100
@blockrazorbot remove "in progress"

[2018-04-13 14:50] chamidu-supeshala commented on #1100
@blockrazorbot label "done"

[2018-04-13 16:08] anbud commented on #1059
@janat08, I'll check it out later today and I'll see what I can do.

[2018-04-13 17:03] janat08 commented on #1051
Logged issue here: https://github.com/abecks/meteor-fast-render/issues/16

[2018-04-13 17:03] janat08 commented on #1072
@blockrazorbot label "unmet dependency"

[2018-04-13 22:35] anbud commented on #1059
I've had a look but I can't seem to find what's currently causing the error. Try out WebDriver IO we use for other client tests, it's easy.

[2018-04-13 22:55] gazhayes opened #1105 "problem: 'TypeError: Cannot read property '_id' of undefined' when clicking logo"
Problem: clicking logo does not direct to home route, console error:
`TypeError: Cannot read property '_id' of undefined`

[2018-04-13 23:54] anbud commented on #1102
Done in #1106.

@blockrazorbot done

[2018-04-13 23:58] anbud commented on #613
I've just noticed that I haven't posted here. I like the following:

![this](https://user-images.githubusercontent.com/8143945/38467811-453d773e-3b70-11e8-9d14-364593dae6a0.png)

![this](https://user-images.githubusercontent.com/8143945/38467837-497c03e2-3b70-11e8-923b-7e2c76343176.png)

[2018-04-14 00:58] #1102 closed

[2018-04-14 00:58] #1100 closed

[2018-04-14 01:06] gazhayes commented on #1051
@janat08 since the original issue is solved I'll close this. Please carefully document the problem you are having with passing params in a new issue.

[2018-04-14 01:06] #1051 closed

[2018-04-14 01:14] anbud commented on #1105
@blockrazorbot claim

[2018-04-14 01:32] #1105 closed

[2018-04-14 03:30] gazhayes opened #1108 "Problem: top navbar menu looks bad, is not using bootswatch"
Problem: standard bootswatch should be used for all UI elements, it is not being used for the top navbar menu items (currently only 'bounties').

Solution: use standard bootswatch for menu items, don't use custom fonts etc.

Bootswatch elements can be seen here: https://bootswatch.com/lux/

It should end up looking something like this:

<img width="604" alt="screen shot 2018-04-14 at 11 33 44 am"

[2018-04-14 03:33] gazhayes commented on #1108
ping @AshHimself @chamidu-supeshala

[2018-04-14 04:03] AshHimself commented on #1108
@blockrazorbot claim will do whilst finishing off #631

[2018-04-14 07:37] chamidu-supeshala commented on #1108
Just saw this, hope @AshHimself  already started.

[2018-04-14 07:46] gazhayes opened #1110 "problem: [/bounties] filtering is annoying to use"
Problem: the current way that bounties are filtered is to use a dropdown box and select the Type of bounties you want to see. This is clunky and annoying.

Possible solution: use checkboxes instead of a dropdown, and save the state of checkboxes so users don't have to change settings every time they go to the page.

Set the default to all checked so that users see all bounties initially.

[2018-04-14 07:53] gazhayes opened #1111 "problem: [/new-problem] problem summary is requested before problem details"
Problem: when users fill out a feature request or bug report, they are asked for a summary of the problem before filling out the details of the problem. This does not give them a chance to really understand the reporting process and they may not have thought through the problem.

Solution: move the problem summary field to after the two detail fields (just above the image upload).

[2018-04-14 07:57] gazhayes opened #1112 "problem: [/new-problem] bug report placeholder text is incorrect"
Problem: bug report placeholder text should ask to describe the problem in relation to the bug being reported, it currently asks about a feature request.

Solution: Replace with "Describe the problem you are facing that will be solved by fixing this bug."

I haven't checked but this is probably just UI, I think the logic is already there to use different placeholder text depending on bug/feature r

[2018-04-14 07:58] gazhayes commented on #1112
There's also a stray "0" that should be removed:

<img width="154" alt="screen shot 2018-04-14 at 3 57 43 pm" src="https://user-images.githubusercontent.com/8143945/38765910-aa76ee1a-3ffc-11e8-9bb2-af6a5f202ac0.png">

[2018-04-14 08:16] chamidu-supeshala commented on #1112
@blockrazorbot claim

[2018-04-14 08:16] chamidu-supeshala commented on #1111
@blockrazorbot claim

[2018-04-14 08:40] anbud commented on #1089
@janat08, the publication you're talking about, `dataQualityCurrencies`, is used exclusively on the home route, in conjunction with the local collection, so, sorting by quality field works just fine, and limit also works.

I agree that it wouldn't have the best performance otherwise, but, when I wrote it, I didn't plan on using it anywhere else. I don't really think this needs fixing, it's just a

[2018-04-14 08:43] AshHimself commented on #1108
I have. @gazhayes any more menu items you want added to top too? or we leaving the same icons and BOUNTIES.

[2018-04-14 08:46] gazhayes commented on #1108
The C4 will probably have something to say about it later but I can't think of anything right now.

[2018-04-14 08:47] chamidu-supeshala commented on #1111
fixed in #1114

[2018-04-14 09:00] chamidu-supeshala commented on #1112
fixed in #1115

[2018-04-14 09:01] chamidu-supeshala commented on #1112
@blockrazorbot remove "in progress"

[2018-04-14 09:01] chamidu-supeshala commented on #1112
@blockrazorbot label "done"

[2018-04-14 09:01] chamidu-supeshala commented on #1111
@blockrazorbot remove "in progress"

[2018-04-14 09:02] chamidu-supeshala commented on #1111
@blockrazorbot label "done"

[2018-04-14 09:04] janat08 opened #1116 "Problem: fast-render can't accept publication params"
Problem: Fast render stops working if you pass params into sub and pub doesn't even have to use the param to fail in fast render which is tested with ``FastRender.debugger.blockDDP()``.

[2018-04-14 09:04] janat08 commented on #1116
#1072 dependant

[2018-04-14 09:05] janat08 commented on #1116
logged issue here: https://github.com/abecks/meteor-fast-render/issues/16

[2018-04-14 09:06] chamidu-supeshala commented on #1110
@blockrazorbot claim

[2018-04-14 09:07] #1089 closed

[2018-04-14 09:28] gazhayes commented on #1116
No client or server error messages etc? Or it simply doesn't do anything?

So no one who uses fast render in their projects can pass params, and no one has noticed this yet?

You have to be more specific on that issue you logged upstream, they definitely aren't going to help unless you make it **really** easy for them to help. They need to know exactly how to reproduce this problem without putting

[2018-04-14 09:41] janat08 commented on #1116
No error messages, and doesn't fast-render. I'll try to debug this @blockrazorbot claim

[2018-04-14 10:07] gazhayes commented on #1059
@janat08

Under the C4 it doesn't matter. All that matters is what is and isn't a real problem, and what is the simplest possible solution.

I deviated from the C4 by asking @anbud to implement Jest (it is not the simplest solution to the problem, and the problem was already solved). I hope this goes towards showing you why we should always stick to the C4 and why we don't hunt for problems to sat

[2018-04-14 10:12] gazhayes opened #1117 "Problem: going to /problems and back to / results in no data being loaded"
Problem: going to /problems and clicking the log to go back to / results in no data being loaded:

<img width="788" alt="screen shot 2018-04-14 at 6 11 17 pm" src="https://user-images.githubusercontent.com/8143945/38767136-4b8869b6-400f-11e8-88b9-ba2679815e8c.png">

[2018-04-14 10:33] anbud commented on #1117
@blockrazorbot claim

[2018-04-14 12:59] janat08 commented on #617
says here exchanges field is an object, it's an array in dump and isn't converted before insertion.

also there's conditional check that intends to ``If the coin exists, no matter what it is`` yet decided to run a check if ``altcoin && proposal`` then validating genesisTimestamp field to be inserted as intendedLaunch.

[2018-04-14 13:09] gazhayes commented on #617
You can change the data type, it's no problem. I'm going to remove it from the add currency page anyway.

The second part you mentioned is to determine if the currency/project is already existing or if it is intended to launch in the future. This part is intentional. It could be an altcoin that is already launched, or an altcoin that is planned to launch, or an ICO that has already launched, or an

[2018-04-14 13:12] janat08 commented on #617
it didn't have a check for an array, and array is ``typeof`` object. we were going to add exchanges typeahead.

[2018-04-14 13:16] gazhayes commented on #617
Yep, I think you understand. You can do anything you want with that data type since it isn't really used anywhere yet, just do what you think makes the most sense.

[2018-04-14 13:26] janat08 opened #1118 "Problem: editCoin method doesn't use SimpleSchema that is elaborate"
Problem: edit coin method should be converted to SimpleSchema use once addCoin has been converted.

Solution: Once #617 has finished SimpleSchema editCoin should also be converted. @blockrazorbot claim.

[2018-04-14 16:02] janat08 commented on #617
change max for numbers to 999 and the like, look to integrated addToInsert calls and insert object assignments, pass into custom functions validation error throws: https://github.com/aldeed/simple-schema-js#required, try and concatenate object containing functions (ab).

[2018-04-14 16:06] anbud commented on #1117
This one is not reproducible on the local server, but I've tried implementing a possible fix in #1119.
Although, I believe this one is connected to #1068 and it depends on solving that one first. It's also not deterministic, as it occurs in about 70% of tries.

Mainly, the bug happens because when you load the `/problems` page, `SubsCache.ready()` returns `false`, and stays `false` when you go to

[2018-04-14 16:26] gazhayes commented on #1117
@janat08 any ideas?

[2018-04-14 16:33] samuelralak commented on #1077
@blockrazorbot remove "in progress"

[2018-04-14 16:33] samuelralak commented on #1077
@blockrazorbot label "done"

[2018-04-14 18:56] #1077 closed

[2018-04-14 22:00] anbud commented on #913
@blockrazorbot claim

[2018-04-14 22:26] anbud commented on #913
Done in #1121. Had to move the server part to a separate file, as `usersStats.js` has to be loaded on the client since `UsersStats` variable is imported a few times on the client.

@blockrazorbot label "done"

[2018-04-15 06:31] #913 closed

[2018-04-15 06:45] janat08 commented on #1117
I couldn't reproduce. This points at localizable collection interacting with subs cache poorly, but removing localizable collection for [/] didn't do anything with subsCache returning false with fast-render blockingDDP which isn't entirely related to the issue.

[2018-04-15 06:45] chamidu-supeshala commented on #1110
done in #1122

[2018-04-15 06:45] chamidu-supeshala commented on #1110
@blockrazorbot remove "in progress"

[2018-04-15 06:46] chamidu-supeshala commented on #1110
@blockrazorbot label "done"

[2018-04-15 06:52] #1117 closed

[2018-04-15 06:53] gazhayes commented on #1117
Will close it for now, people will probably just refresh the page when it happens, it's not a huge problem and looks like it's going to be painful to fix.

[2018-04-15 06:54] janat08 commented on #1117
Btw I was trying to reproduce on local :P. Maybe check if some global sub is ready and compare it against subsCache.ready() method to then return a message about server error?

[2018-04-15 06:59] janat08 opened #1123 "Problem: [/problems] text filter doesn't preventDefault() on enter keypress"
Problem: Pressing enter while using text filter in [/problems] will refresh page.

Solution: Use preventDefault().

[2018-04-15 06:59] gazhayes commented on #1117
@janat08 it would be good if you can do a little bit more investigating on the production server and see if that reveals any more information,  maybe you'll see something that makes for an easy fix. If you find out what the real problem is, don't be afraid to log it as a new issue :)

[2018-04-15 07:01] janat08 opened #1124 "Problem: [/problems] doesn't have list readiness messages (loading/nothing found)"
Problem: [/problems] doesn't determine if list is loading or has loaded but there's nothing found.

Solution: Use what all the other lists in repo use with else in each block and global helper for SubsCache.ready().

[2018-04-15 07:18] janat08 opened #1125 "Problem: SubsCache not working, by returning false for ready() method"
Problem: SubsCache show app state as loading by returning false to it's ready() method. It manifests in: #1117, and possibly #1116. Debugging 1117 issue, I found that the computation allReadyComp on which ready() depends is stopped which means it won't rerun on ``invalidated: true`` which it is, and then running ``for (var x in SubsCache.cache){console.log(x, SubsCache.cache[x].ready())}`` which c

[2018-04-15 07:24] gazhayes opened #1126 "problem: [/auction] auctions do not show the price per Krazor"
Problem: auctions show the total highest bid for the amount of Krazor on sale (or vice versa) but do not show the price per coin.

Since we know the price in USD of the other currencies that Krazor is traded with, we could show the price in the bid currency *and* USD, this would be much more useful.

[2018-04-15 07:27] gazhayes opened #1127 "problem: [/wallet] logos are incorrect"
Problem: the wrong logos are used on the /wallet page.

solution: look for existing logos for each currency from the currencies collection and use them (dynamically) from there. This will also have the effect of keeping the logo up to date if it changes upstream.

[2018-04-15 08:16] anbud commented on #1126
@blockrazorbot claim

[2018-04-15 09:50] AshHimself commented on #1108
Fixed in #1129 wow this was harder than I thought. I didn't realize that everything there was all custom :/

[2018-04-15 09:54] AshHimself commented on #1108
@blockrazorbot done

[2018-04-15 09:54] AshHimself commented on #1108
@blockrazorbot label "done"

[2018-04-15 09:55] AshHimself commented on #964
@blockrazorbot done

[2018-04-15 09:55] AshHimself commented on #964
@blockrazorbot label "done"

[2018-04-15 09:56] AshHimself commented on #964
@gazhayes - Did you want me to document how to do the tracking in the README some where or reference the PR?

[2018-04-15 09:56] AshHimself commented on #964
@blockrazorbot done

[2018-04-15 10:04] AshHimself commented on #968
ok so I get it now. The problem @gazhayes is that when you view the page the notifications are not being cleared?

[2018-04-15 10:05] gazhayes commented on #964
You documented it enough in the codebase right?

It's probably not a bad idea to add it to the docs as well so that people can immediately see what we're using and how we're using it.

[2018-04-15 10:07] gazhayes commented on #968
Thought I replied to this.

I _think_ it's just database artefacts that will self-fix when we nuke all user data later.

[2018-04-15 10:15] janat08 commented on #1125
@blockrazorbot claim, likely related to fast render not working.

[2018-04-15 10:27] AshHimself commented on #968
got it! @blockrazorbot unassign

[2018-04-15 10:29] janat08 commented on #1116
Turned out to be that subsCache can't handle duplicate subscriptions with different params.

[2018-04-15 10:29] #1116 closed

[2018-04-15 10:44] chamidu-supeshala commented on #1101
@blockrazorbot claim

[2018-04-15 10:49] chamidu-supeshala opened #1130 "Problem: [/moderator] approved currencies not disappearing from approval list"
Problem: approved currencies not removed from approval list. if a moderator going to re-approve them, incorrect error message showing.

Solution: check the cause behind this, and correct it

[2018-04-15 10:49] chamidu-supeshala commented on #1130
@blockrazorbot claim

[2018-04-15 10:50] chamidu-supeshala commented on #1101
#1130 is a dependency for testing this one

[2018-04-15 10:52] AshHimself commented on #1108
Ok, so the reason there was no highlighting was because the highlight was white and we default the text to white, so will need custom CSS for different highlight which is fine.

As for the heights its at the Bootwatch default right now but reducing it is no issues. @blockrazorbot claim

[2018-04-15 11:27] janat08 opened #1131 "Problem: SubsCache will not accept fast-render sub with different params."
Problem: SubsCache will not consider subscription ready if fast-render didn't use a subscription with the same parameters.

Solution: I imagine just making sure that all fast render subs use the same subscription parameters.

[2018-04-15 11:27] gazhayes commented on #1110
Really nice job on this. I know it's only simply but this is so much nicer to use now.

[2018-04-15 11:27] #1110 closed

[2018-04-15 11:29] gazhayes commented on #1131
This is the core of all those other problems, right?

[2018-04-15 11:33] janat08 commented on #1131
Well, the ready trigger for the infinite scroll on [/] renders like immediately incrementing parameter for subsCache :P.

[2018-04-15 12:26] AshHimself commented on #968
@gazhayes what did you want to do with this ticket then mate? Did you want to leave it open until we confirm its a database issue?

[2018-04-15 12:27] AshHimself commented on #631
@gazhayes - I added some html comments in my last PR. Did you have another idea in mind to document it? README?

[2018-04-15 12:30] AshHimself commented on #1127
@blockrazorbot claim

[2018-04-15 12:30] gazhayes commented on #1108
OK can you document everything you know about this in a new issue?

[2018-04-15 12:30] #1108 closed

[2018-04-15 12:31] AshHimself commented on #1108
You got it mate..

On Sun, Apr 15, 2018 at 8:30 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-15 12:31] gazhayes commented on #968
I'll close it, hopefully it's just a database thing.

[2018-04-15 12:31] #968 closed

[2018-04-15 12:32] gazhayes commented on #631
Nah that's good.

[2018-04-15 12:32] #631 closed

[2018-04-15 12:39] AshHimself opened #1133 "problem: we are using two versions of bootstrap"
problem: we are using two versions of bootstrap and this seems to be causing issues with fonts and other styling issues. The meteor bootstrap version we have is a beta version and its out of beta.

Solution: Remove Bootstrap beta version and only use the Bootstrap JS file and not the CSS as we are using the Bootswatch custom CSS file.

[2018-04-15 12:50] gazhayes opened #1134 "Problem: icons in navbar hard to see"
Problem: the icons in the top navbar are difficult to see, as is the KZR balance.

Solution: make them white.

[2018-04-15 13:54] janat08 commented on #1125
Solved for #1116, subscription parameters between fast-render and template have to be the same.

[2018-04-15 14:08] #1072 closed

[2018-04-15 14:31] gazhayes commented on #1127
No real reason, but only a few coins are needed (the ones that are already there) so they can't just be pulled from the currencies collection.

[2018-04-15 16:02] anbud commented on #1126
Done in #1136.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-15 16:04] anbud commented on #1124
@blockrazorbot claim

[2018-04-15 16:10] anbud commented on #1124
Done in #1137.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-15 16:11] anbud commented on #1123
@blockrazorbot claim

[2018-04-15 16:16] anbud commented on #1123
Done in #1138.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-15 18:49] chamidu-supeshala commented on #1130
Yes, i'm sure, i have tested using two accounts as you mentioned. The reason behind not removing from the approval list is that, the removal code exists inside a callback function of mongo-collection insert function. However that callback function never called, so removal from queue and activity logging not happened. This is solved in #1139

[2018-04-15 18:50] chamidu-supeshala commented on #1130
@blockrazorbot remove "in progress"

[2018-04-15 18:50] chamidu-supeshala commented on #1130
@blockrazorbot label "done"

[2018-04-16 01:44] AshHimself commented on #1127
Fixed in #1140

[2018-04-16 01:53] #1130 closed

[2018-04-16 03:09] gazhayes opened #1141 "Problem: [/currencydetail] cannot change currency logo"
Problem:
When changing currency logo, error: `Method 'changeCoinImage' not found [404]`
<img width="989" alt="screen shot 2018-04-16 at 11 07 59 am" src="https://user-images.githubusercontent.com/8143945/38788491-8fab77fc-4166-11e8-9d8d-ffafaa1d2c4e.png">

[2018-04-16 03:33] AshHimself commented on #1141
ha! just about to raise an issue for this.

[2018-04-16 03:50] AshHimself commented on #1141
Fixed in #1142 @blockrazorbot done

[2018-04-16 03:50] AshHimself commented on #1141
@blockrazorbot label 'done'

[2018-04-16 03:51] AshHimself commented on #1141
@blockrazorbot claim

[2018-04-16 03:51] AshHimself commented on #1141
Fixed in #1142 @blockrazorbot done

[2018-04-16 03:51] AshHimself commented on #1141
@blockrazorbot label 'done'

[2018-04-16 05:12] AshHimself commented on #1141
@blockrazorbot done

[2018-04-16 05:46] gazhayes commented on #1141
Looks like it's still broken on production, same error.

[2018-04-16 05:54] gazhayes opened #1143 "Problem: no indication of how many users have recently signed up"
Problem: It's not very clear (to end users) how active the site is or how fast it's growing.

Solution: display how many users have signed up in the last x days (last 30 days I guess?).

[2018-04-16 06:26] gazhayes commented on #1141
Huh. Ok must be cache or something I'll verify shortly.

[2018-04-16 06:40] gazhayes opened #1144 "Problem: "Loading" everywhere, refresh often needed"
Problem: "Loading" is displayed in many places and it just sits there until the page is refreshed.

It is especially noticeable on the curencydetails route but happens everywhere.

@janat08 is this subscache related?

[2018-04-16 06:44] gazhayes opened #1145 "Problem: [/] infinite scroll forces user back to top of page"
Problem: when the user hits the bottom of the page and infinite scroll is triggered, all currencies disappear and "Loading" is displayed, it then forces the user back to the top of the page and starts displaying currencies again.

Probably subscache related.

[2018-04-16 07:27] AshHimself commented on #1134
Fixed in #1146 @blockrazorbot done

[2018-04-16 07:27] AshHimself commented on #1134
@blockrazorbot label "done"

[2018-04-16 07:29] #1134 closed

[2018-04-16 07:29] janat08 commented on #1144
Is fast-render.debugger.block() enbaled?

[2018-04-16 07:29] #1126 closed

[2018-04-16 07:30] #964 closed

[2018-04-16 07:30] #1124 closed

[2018-04-16 07:30] #1123 closed

[2018-04-16 07:35] gazhayes commented on #1144
Not unless it's enabled by default everywhere.

[2018-04-16 07:38] gazhayes commented on #1144
If I block DDP it's much worse.

[2018-04-16 07:40] janat08 commented on #1145
I was trying to destroy the previous sub, and didn't account for lag. Using global ready() check is probably a bad idea altogether. The sub should probably stop being incremented once local collection is in use.

[2018-04-16 07:43] janat08 commented on #1144
Global readiness check used everywhere, but otherwise: ``for (var x in SubsCache.cache){console.log(x, SubsCache.cache[x].ready())}`` will say everything is ready.

[2018-04-16 07:46] janat08 commented on #1144
Is this new after my last commit?

[2018-04-16 07:46] janat08 commented on #1145
@blockrazorbot claim

[2018-04-16 07:47] gazhayes commented on #1144
It's after one of your recent commits but not sure which one.

Disabling fast render and enabling DDP makes things like the / route completely break on refresh too.

[2018-04-16 07:51] anbud commented on #1143
@blockrazorbot claim

[2018-04-16 09:30] AshHimself commented on #1133
Ok so I think I have this sorted. I have;
- Removed Bootstrap Meteor package and we are now using NPM.
- Had to remove the X-editable package which we were using on Atmosphere as it was loading before bootstrap and causing havoc.
- I tried the NPM package of X-editable but wasn't able to get it to work (future task possibly)
- I then moved it locally but was still getting an error, I did make a mi

[2018-04-16 09:42] gazhayes opened #1147 "Problem: [/auctions] users can cancel auctions after bids have been placed"
Problem: users can cancel auctions after other users have already placed bids.

[2018-04-16 09:44] gazhayes commented on #1133
You still have to claim things before working on them even if you logged them, otherwise the system breaks down and we get stuck in a time loop (end of the world as we know it).

[2018-04-16 09:46] gazhayes commented on #1133
It's very likely that @anbud or @janat08 will be able to fix this later, just log a problem once you send a PR

We can fork it under blockrazor and maintain it ourselves, unless there's someone else who's been doing anything more recent.

[2018-04-16 09:53] AshHimself commented on #1133
Great Scott I forgot!

I would say let's try NPM first because I believe the issue is the X-editable package loads before bootstrap which is why i'm getting the error (can't control load order with Meteor packages)

@blockrazorbot claim

[2018-04-16 10:04] gazhayes opened #1148 "Problem: [/auctions] dropdown selector is annoying"
Problem: the dropdown selector to show closed auctions is not very nice UX.

Solution: use checkboxes ("show open auctions", "show completed auctions"). No need to show cancelled auctions, only complete and open.

[2018-04-16 10:06] janat08 commented on #1144
I think I'll change the global helper try and filter out subs that are genuinely in use and then check them one by one. @blockrazorbot claim

[2018-04-16 10:07] gazhayes opened #1149 "problem: [/auctions] auction name is displayed but not necessary"
Problem: auction name is displayed but this actually isn't very useful information.

Solution: remove.

[2018-04-16 10:07] janat08 commented on #1144
Couldn't reproduce DDP blocked refresh breaking down.

[2018-04-16 10:09] gazhayes opened #1150 "Problem: [/auctions] only auction creator needs to see 'cancel' option on auctions"
Problem: at present, there's an entire column dedicated to cancelling auctions and it's not necessary.

solution: put the cancellation link on the auction detail page instead, and only display to the creator of the auction.

[2018-04-16 10:14] gazhayes opened #1151 "problem: [/auctions] time displayed is absolute"
Problem: the auction end time is displayed as an absolute time which is a bit difficult for users to wrap their heads around.

Solution: either use momentjs to give a "ends in 9 days" type time, or use a countdown timer:
<img width="270" alt="screen shot 2018-04-16 at 6 13 54 pm" src="https://user-images.githubusercontent.com/8143945/38803491-ff7f0b08-41a1-11e8-8d0f-a346514731e2.png">

[2018-04-16 10:15] gazhayes commented on #1144
On production server or local?

[2018-04-16 10:24] gazhayes opened #1153 "Problem: [/auctions] users have to click into an auction to see the price and highest bid"
Problem: the price per Krazor in the bidding currency and USD not shown on the auction table so users have to click into an auction to see the price. Same for the highest bid.

Solution: display this data on the auction table.

[2018-04-16 10:30] janat08 opened #1154 "Problem: subscache not detecting/reusing previous subscription on return to page"
Problem: subscache considers subscriptions with different params separate entities, and therefore will consider [/] starting subscription unready even if it already has the same subscription but with higher limit param that is necessary for fast render. related: https://github.com/Blockrazor/subscache-C4/issues/10

[2018-04-16 10:33] janat08 opened #1155 "Problem: [/] infinite scroll increments while loading"
Problem: infinite scroll from [/] will trigger when loading message appears incrementing subscription. subscache duplicates subscriptions with different params, and it tries to clean previous subscription, but it won't happen if there're 3 of those. I already tried preventing the behavior.
@blockrazorbot claim.

[2018-04-16 10:34] janat08 commented on #1144
yes.

[2018-04-16 10:36] janat08 commented on #1145
@blockrazorbot label "done"

[2018-04-16 10:38] anbud commented on #1143
Done in #1157.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-16 10:39] anbud commented on #1147
@blockrazorbot claim

[2018-04-16 10:53] anbud commented on #1147
Done in #1158.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-16 10:54] janat08 commented on #1144
@blockrazorbot label "done"

[2018-04-16 11:03] janat08 commented on #1125
@blockrazorbot label "done"

[2018-04-16 11:03] #1125 closed

[2018-04-16 11:05] AshHimself commented on #1133
@blockrazorbot done

[2018-04-16 11:05] AshHimself commented on #1127
@blockrazorbot done

[2018-04-16 11:06] AshHimself commented on #1148
@blockrazorbot claim

[2018-04-16 11:15] janat08 commented on #1155
Can't reproduce, I'm guessing it was caused again by previous subscription being cleaning prematurely.

[2018-04-16 11:15] #1155 closed

[2018-04-16 11:16] janat08 commented on #1154
@blockrazorbot label "low priority"

[2018-04-16 11:16] janat08 commented on #1154
@blockrazorbot label "low_priority"

[2018-04-16 11:17] gazhayes commented on #1154
Strange, that should have worked.

[2018-04-16 11:18] janat08 commented on #1154
I edited the 2nd request, it was "low priority" before.

[2018-04-16 11:22] chamidu-supeshala opened #1161 "problem: checkbox and Datepicker styles missing"
Problem: checkbox and date picker styles were missing

Solution: need to fix styles

[2018-04-16 11:37] chamidu-supeshala commented on #1150
@blockrazorbot claim

[2018-04-16 11:46] chamidu-supeshala commented on #1150
fixed in #1162

[2018-04-16 11:46] chamidu-supeshala commented on #1150
@blockrazorbot remove "in progress"

[2018-04-16 11:46] chamidu-supeshala commented on #1150
@blockrazorbot label "done"

[2018-04-16 11:47] chamidu-supeshala commented on #1101
fixed in #1160

[2018-04-16 11:47] chamidu-supeshala commented on #1101
@blockrazorbot remove "in progress"

[2018-04-16 11:47] chamidu-supeshala commented on #1101
@blockrazorbot label "done"

[2018-04-16 11:48] gazhayes commented on #1161
Bootswatch should be used in preference to bootstrap for this if possible.

[2018-04-16 11:51] anbud commented on #1153
@blockrazorbot claim

[2018-04-16 11:52] gazhayes commented on #1161
Ping @AshHimself is this a missing library from your bootstrap issue?

[2018-04-16 12:36] gazhayes opened #1163 "Problem: [navbar] wallet icon is redundant"
Problem: there is a wallet icon, as well as a KZR amount, it's not necessary to have both.

Solution: remove the wallet icon, move wallet notification badge to the KRZ amount instead. Bootswatch should be used for the badge. The "light" badge from bootswatch would probably look best but I don't know.

[2018-04-16 12:39] gazhayes opened #1164 "Problem: winning currency displayed at same time as "put your coin here" item"
Problem: if there's a winning currency, it should be at the top. If not, there should be a 'put your ICO or coin here' notice. The problem is that *both* are shown.

![screen shot 2018-04-16 at 8 36 58 pm](https://user-images.githubusercontent.com/8143945/38809465-2a0e7cd2-41b6-11e8-893b-872a2c6dbc60.png)

[2018-04-16 12:42] gazhayes opened #1165 "Problem: [navbar] icon logo missing from top navbar on small screens"
Problem: on small screens, there isn't enough space for the full logo. There was a placeholder icon before, but it has disappeared.

[2018-04-16 12:51] gazhayes commented on #1127
@AshHimself can you look into why the ethereum logo isn't working?

[2018-04-16 12:55] AshHimself commented on #1127
Sure can, just had a look and I had etherium-classic instead of etherium on
the currency lookup... ooops.

On Mon, Apr 16, 2018 at 8:51 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-16 12:56] janat08 commented on #1131
I suppose tests could be devised for this, although $('body')[0] will always equal $('body')[0]

[2018-04-16 12:58] gazhayes opened #1166 "Problem: [/] "new users in the last month" loads slowly"
Problem: "new users in the last month" loads slowly and might give people a bad immediate impression.

Possible Solution: add it to fast render
Possible solution: I haven't checked how this has been coded but if it's doing a .count every time it would be easier on the CPU to run a cron job once every 12 hours (or whatever) and denormalize this into an existing collection that is already used on th

[2018-04-16 13:04] gazhayes opened #1167 "Problem: [/changedcurrencies] Exception while simulating the effect of invoking 'voteOnCurrencyChange' TypeError: Cannot read property 'clientAddress' of undefined"
Problem:
When merging or downvoting changes:
[code]
We do not need to check client IP address here anyway as this is done in a separate system which should be robust enough to catch cheats (and if it isn't that's the thing to be improved).

[2018-04-16 13:06] gazhayes commented on #1144
This is still a problem in some places, for example I just noticed it on the /changedCurrencies route.

[2018-04-16 13:07] gazhayes commented on #1144
Actually it's just slow loading, different issue.

[2018-04-16 13:07] #1144 closed

[2018-04-16 13:11] gazhayes opened #1168 "problem: [/transactions] NaN displayed for amounts"
Problem: NaN is displayed for all amounts.

[2018-04-16 13:12] gazhayes opened #1169 "problem: [/transactions] incorrect total coin count"
Problem: this is most likely very incorrect
![screen shot 2018-04-16 at 9 11 30 pm](https://user-images.githubusercontent.com/8143945/38810984-e00b4084-41ba-11e8-9ee7-48da35d2a646.png)

[2018-04-16 13:24] gazhayes commented on #1131
Yeah it's pretty hard to test for, though @anbud might have some ideas.

[2018-04-16 13:32] gazhayes commented on #1131
The simplest solution to resolve this particular issue is to crawl through the codebase and make sure all fastrender and subscache params match up.

**The next related problem is:** this is going to keep breaking whenever someone edits params in once place and not the other.
1. use tests
2. fix subscache

@janat08 and @anbud what's the simplest of these two solutions in your opinion?

Finally, the

[2018-04-16 13:39] #1101 closed

[2018-04-16 13:41] gazhayes opened #1170 "probem: [/] cannot hide projects that have already launched"
Problem: it's possible to hide/show projects that have *not* launched, but it's not possible to show/hide projects that have already launched. People looking for upcoming launches of new altcoins or ICOs won't be able to easily filter to display these and hide everything else.

[2018-04-16 13:41] #1133 closed

[2018-04-16 13:42] #1143 closed

[2018-04-16 13:42] #1145 closed

[2018-04-16 13:49] gazhayes opened #1171 "problem: [/auction] users can outbid by placing same bid as last bidder"
Problem: users can outbid the current bid by placing a bid == highest bid.

Solution: only allow bids that are higher than the previous bid.

[2018-04-16 13:50] #1147 closed

[2018-04-16 13:50] #1150 closed

[2018-04-16 13:53] gazhayes commented on #1161
Bootswatch checkbox examples:

[code]
https://bootswatch.com/lux/

[2018-04-16 14:21] chamidu-supeshala commented on #1163
@blockrazorbot claim

[2018-04-16 14:28] chamidu-supeshala commented on #1163
@gazhayes as light badge is also white, it might conflict with text to see. First I will apply and see.  Other thing is, for small screens, i think it is better to have wallet icon again, as KZR amount moved to side-nav when screen size is small

[2018-04-16 14:30] anbud commented on #1169
It probably takes all currencies into account now, and I've deposited quite a lot of USD on my account. :D
I'll fix it.

@blockrazorbot claim

[2018-04-16 14:33] janat08 commented on #1131
It's not a problem since they only have to match initially, subscache only has to receive fast-render once during app load. I stubbed out subscribe calls from the router on client.

I'm unsure that it's entirely fixable as you can't necesserily tell what params are doing, but I don't like that's subsCache doesn't do everything possible to combine subscriptions once params are involved not only bec

[2018-04-16 14:33] janat08 commented on #1131
On another hand testing if subscache is working wouldn't be bad.

[2018-04-16 14:42] anbud commented on #1153
Done in #1172.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-16 14:42] anbud commented on #1168
@blockrazorbot claim

[2018-04-16 14:49] chamidu-supeshala commented on #1163
fixed in #1173

[2018-04-16 14:49] chamidu-supeshala commented on #1163
@blockrazorbot remove "in progress"

[2018-04-16 14:49] chamidu-supeshala commented on #1163
@blockrazorbot label "done"

[2018-04-16 14:52] chamidu-supeshala commented on #1163
@blockrazorbot remove "in progress"

[2018-04-16 14:53] chamidu-supeshala commented on #1165
@blockrazorbot claim

[2018-04-16 15:01] anbud commented on #1169
Done in #1174.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-16 15:02] anbud commented on #1168
Done in #1174.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-16 15:03] anbud commented on #1166
@blockrazorbot claim

I'll implement the second solution, it seems better.

[2018-04-16 15:14] chamidu-supeshala commented on #1165
fixed in #1175

[2018-04-16 15:14] chamidu-supeshala commented on #1165
@blockrazorbot remove "in progress"

[2018-04-16 15:15] chamidu-supeshala commented on #1165
@blockrazorbot label "done"

[2018-04-16 15:17] anbud commented on #1166
Done in #1176.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-16 15:19] anbud commented on #1171
@blockrazorbot claim

[2018-04-16 15:28] anbud commented on #1164
@blockrazorbot claim

[2018-04-16 15:41] samuelralak commented on #1097
@gazhayes items in `/moderator/flagged-users` are not actionable. moderators cannot do anything other than look at the info. what should happen to flagged users?

[2018-04-16 15:41] anbud commented on #1164
Done in #1178.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-16 15:48] chamidu-supeshala commented on #1167
@blockrazorbot claim

[2018-04-16 16:04] chamidu-supeshala commented on #1167
fixed #1179

[2018-04-16 16:04] chamidu-supeshala commented on #1167
@blockrazorbot remove "in progress"

[2018-04-16 16:04] chamidu-supeshala commented on #1167
@blockrazorbot label "done"

[2018-04-16 19:29] anbud commented on #1131
I believe that it would be easier to fix SubsCache than to test each SubsCache/fast-render pair, mainly because if we fix it now, we won't have to worry about tests every time we add new subscriptions.

Of course, if fixing SubsCache is not entirely possible, or if it's too complicated, we can always fall back to tests. We could write tests that would go through each route and check whether params

[2018-04-16 19:33] anbud commented on #1151
@blockrazorbot claim

[2018-04-16 19:40] anbud commented on #1151
Done in #1181.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-16 21:11] janat08 commented on #1131
I meant fast-render working rather than subscache.

[2018-04-16 21:17] janat08 commented on #1131
Im guessing that would be best done by comparing fast render payloads against current subscriptions and if they're all ready.

[2018-04-17 00:01] #1166 closed

[2018-04-17 00:05] gazhayes commented on #1097
Only these are relevant to this issue:

new currency, wallet image, community image, proposed change, suspended user, flagged content

[2018-04-17 00:07] gazhayes commented on #1097
And this part is critical:

So each new route (or however you want to do it) is new, not a modification of the existing stuff.

[2018-04-17 00:27] gazhayes opened #1182 "Problem: [/comparecurrencies] colours are sometimes hard to see"
Problem: sometimes the colours on the graphs are hard to see

Solution: add a 'randomize colors' button.

[2018-04-17 00:28] #1167 closed

[2018-04-17 00:35] gazhayes commented on #1131
@janat08 so the key thing here is: what's the _simplest_ way to stop people breaking this with pull requests in future?

[2018-04-17 00:37] #1151 closed

[2018-04-17 00:37] #1153 closed

[2018-04-17 00:38] #1163 closed

[2018-04-17 00:38] #1164 closed

[2018-04-17 00:38] #1165 closed

[2018-04-17 00:42] gazhayes opened #1183 "Problem: [/transactions] incorrect amounts displayed"
Problem: the amounts displayed on /transactions are incorrect. For example there are a number of 0.1KZR transactions which are being displayed in scientific notation (horrible for users) *and* they are the wrong value (0.000000e+0 instead of 0.1).

[2018-04-17 00:43] gazhayes commented on #1168
There's something weird going on, logged #1183

[2018-04-17 00:43] #1168 closed

[2018-04-17 00:44] samuelralak commented on #1183
Is this an old transaction or a new one?

On Tue, 17 Apr 2018 at 03:42, Gareth Hayes <notifications@github.com> wrote:

[2018-04-17 00:48] gazhayes opened #1184 "Problem [sidebar] moderator dashboard link randomly disappears"
Problem: the moderator dashboard link randomly disappears from the sidebar and the page has to be refreshed to bring it back. Probably some reactive subscription taking time to do another check on whether the user is a moderator or not, or that in combination with subscache.

Possible solution: if subscache is in use for this one, disable it. If fast render is not in use, enable it.

[2018-04-17 00:48] #1169 closed

[2018-04-17 00:49] #1170 closed

[2018-04-17 00:52] #1171 closed

[2018-04-17 00:55] gazhayes opened #1185 "problem: [auction] cannot bid small amounts"
Problem: the minimum bid accuracy is 0.00, however this seriously limits the minimum amount of KZR someone can sell for (for example) XMR or BTC because other uses would have to bid a very high amount (e.g. a minimum of about US$100 if using BTC).

Solution: allow bids down to 0.00000 of accuracy.

[2018-04-17 00:57] gazhayes commented on #1183
These are new. That reminds me I need to log an issue to show dates and types.

[2018-04-17 00:58] gazhayes opened #1186 "problem: [/transactions] date of transaction not shown"
Problem: transaction dates are not shown.

[2018-04-17 00:59] gazhayes opened #1187 "problem: [/transactions] transaction types are not shown"
Problem: the Type of transactions are not shown. @AshHimself added these (apparently) to the methods that add transactions to the database so it should just be a matter of adding them to the UI.

[2018-04-17 01:13] samuelralak commented on #1183
thats strange. all new KZR transactions after April 3rd should have their correct amounts displayed. If its earlier than that then its just stale data - we agreed not to do anything for older transactions. If this is happening to new data, then it needs some further investigation.

[2018-04-17 01:23] samuelralak opened #1188 "Problem: [/wallet] ETH notifications always 0"
Problem: Eth notifications  always display as zero. @AshHimself did you add a test for this?
<img width="1308" alt="screen shot 2018-04-17 at 4 17 08 am" src="https://user-images.githubusercontent.com/4476552/38843300-ffe03f54-41f6-11e8-86d6-c5db5aaf27cf.png">

[2018-04-17 01:26] samuelralak commented on #1183
aah yeah, I see it now. was looking in the wrong, brain was probably still initialising, lol.

[2018-04-17 01:28] samuelralak commented on #1097
I have ended up creating a single new route `/approvals/:approval_id`for the approval items i.e Bounties, WalletImages, CommunityImages and PendingCurrencies

[2018-04-17 01:33] samuelralak commented on #1097
I would probably be breaking this down into smaller composable issues

[2018-04-17 01:49] samuelralak commented on #1183
simply returning `this.amount` seems to clear up this issue. pushing this change

[2018-04-17 01:50] gazhayes commented on #1188
I believe this could be a database artefact

[2018-04-17 01:53] gazhayes commented on #1188
I can reproduce this. This is a real issue.

[2018-04-17 01:54] gazhayes commented on #1097
Those are both _very_ good ideas.

[2018-04-17 01:56] samuelralak commented on #1183
@blockrazorbot remove "in progress"

[2018-04-17 01:58] #1183 closed

[2018-04-17 02:28] samuelralak commented on #1187
@blockrazorbot remove "in progress"

[2018-04-17 02:28] samuelralak commented on #1187
@blockrazorbot label "done"

[2018-04-17 02:29] samuelralak commented on #1187
fixed in [#1190](https://github.com/Blockrazor/blockrazor/pull/1190)

[2018-04-17 02:30] samuelralak commented on #1186
@blockrazorbot claim

[2018-04-17 02:45] AshHimself commented on #1148
Fixed in #1191 @blockrazorbot label "done"

[2018-04-17 02:45] AshHimself commented on #1148
@blockrazorbot done

[2018-04-17 02:47] samuelralak commented on #1186
@blockrazorbot remove "in progress"

[2018-04-17 02:47] samuelralak commented on #1186
@blockrazorbot label "done"

[2018-04-17 02:47] samuelralak commented on #1186
fixed in [#1192](https://github.com/Blockrazor/blockrazor/pull/1192)

[2018-04-17 03:33] gazhayes commented on #1148
Just to make this a bit easier for users, can you default 'show open' to true and 'show completed' to false?

Also, to make the UI nicer, can you use these (below) bootswatch checkboxes (whenever you edit anything with checkboxes in it):

<img width="381" alt="screen shot 2018-04-17 at 11 33 20 am" src="https://user-images.githubusercontent.com/8143945/38847233-2bdc50a2-4233-11e8-8cb9-4c7b7f3b6f15

[2018-04-17 03:34] #1186 closed

[2018-04-17 03:34] #1187 closed

[2018-04-17 06:04] AshHimself commented on #1148
Ooo, didn't realise they had custom elements on the right side of the page :)

Done in #1193

[2018-04-17 06:12] AshHimself commented on #1127
Fixed in #1194 @gazhayes

@blockrazorbot label "done"

[2018-04-17 06:13] AshHimself commented on #1185
@blockrazorbot claim

[2018-04-17 06:49] janat08 commented on #1131
tests, but I have no experience with those.

[2018-04-17 07:10] janat08 commented on #1131
like what happens when you use ``fastrender.debugger.blockddp()`` which refreshes the page.

[2018-04-17 07:11] gazhayes commented on #1131
OK is the original issue resolved now? Do subs and fast render everywhere currently use the same params?

[2018-04-17 07:13] AshHimself commented on #1149
Fixed in #1195 @blockrazorbot label "done"

[2018-04-17 07:16] janat08 commented on #1131
I saw subs that are called for specific items but don't actually pass in params to identify the item.

[2018-04-17 07:19] gazhayes opened #1196 "Problem: changes to subscription parameters can easily break subscache"
Problem: changes to subscription parameters can easily break subscache, creating serious and immediate problems that are sometimes hard to debug.

Possible solution: make subscache tolerant of fast render using different parameters (I'm listing this here for reference but it's most likely not the simplest solution).

Possible solution: write tests for every subscription to make sure that subs and

[2018-04-17 07:30] gazhayes commented on #1127
Looks like you fixed the notification thing but not the logo with that PR?

[2018-04-17 07:45] janat08 commented on #1131
No I mean there're subs that will take id parameter to subscribe for a single item, and there're placed where these subs are used like that but don't actually pass the necessary params.

[2018-04-17 07:48] gazhayes commented on #1131
Ah ok. Do you feel like digging deeper and fixing them?

[2018-04-17 07:48] #1149 closed

[2018-04-17 07:51] janat08 commented on #1131
I think writing tests for fast-render may be easier if it can handle the debugger statement.

[2018-04-17 07:54] janat08 commented on #1131
As in it's entirely possible to see all of current subscription in meteor which fast-render initiates with it's payload, and subscache subscriptions.

[2018-04-17 08:02] gazhayes commented on #1131
OK. Ping @anbud to see what's involved with that and possibly get an example test that you can use as a model to do the rest of them.

[2018-04-17 08:11] AshHimself commented on #1127
I think I actually fixed the notification issue by mistake as that was also looking for etherium-classic as well lol PR sent.

[2018-04-17 08:16] janat08 commented on #1131
https://stackoverflow.com/questions/17221573/is-it-possible-to-view-all-active-subscriptions
SubsCache.cache hold subscriptions as "["subName", ...params ]"

[2018-04-17 08:22] #897 closed, assigned to nobody

[2018-04-17 08:24] AshHimself commented on #1141
@blockrazorbot label "done"

[2018-04-17 08:25] AshHimself commented on #1127
@blockrazorbot label "done"

[2018-04-17 08:25] AshHimself commented on #1148
@blockrazorbot label "done"

[2018-04-17 08:29] janat08 commented on #1196
Changing params shouldn't actually break the page for good anymore instead just breaking fast-render.

If you properly label test that compares what fast render's params and subsCache's params then it should work.

https://stackoverflow.com/questions/17221573/is-it-possible-to-view-all-active-subscriptions
SubsCache.cache hold subscriptions as "["subName", ...params ]"

[2018-04-17 08:31] janat08 commented on #1196
@andbud will supposedly write first test.

[2018-04-17 08:39] gazhayes commented on #1161
@AshHimself they are broken in many places for me (e.g. the bounties page)

[2018-04-17 08:40] gazhayes commented on #1188
@AshHimself Add some ETH to your account and watch the notification on the wallet card. For me it just stays at 0.

[2018-04-17 08:41] AshHimself commented on #1161
Right... so we have two choices.. figure out why the current checkboxes are broken, or fix them broken ones to conform to the bootwatch style which I know works.

[2018-04-17 08:42] #1141 closed

[2018-04-17 08:43] #1127 closed

[2018-04-17 08:43] #1148 closed

[2018-04-17 08:51] gazhayes commented on #1161
That's the simplest solution.

However it would be nice to know why they broke and if there are any landmines waiting for us so keep your eyes out.

[2018-04-17 09:58] AshHimself commented on #1161
I'll do both but concentrate on the bootwatch style. My guess is that's its
an old class that's been retired. In some cases I found class names to be
different from Bootstrap 4 beta and the official which drove me insane.

On Tue, Apr 17, 2018 at 4:51 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-17 10:04] gazhayes commented on #1161
They should be using the C4. The C4 would never allow that to happen. We do not break userspace!

[2018-04-17 10:11] gazhayes opened #1198 "Problem: [/communities] Exception while invoking method 'populateCommunityRatings' ReferenceError: log is not defined"
Problem:

When clicking "next":

[code]

[2018-04-17 10:15] chamidu-supeshala commented on #1161
Yes it may use some class from previous versions of bootstrap, @AshHimself did you started checking on this? if not i will check.

[2018-04-17 10:16] gazhayes opened #1199 "Problem: [/bounties] checkbox state not saved"
Problem:  when users select or clear checkboxes they have to do it again next time they visit the page. This is annoying, especially since if someone hides the stuff where coding skills are required because they will probably never want to see those items if they aren't developers.

Solution: I guess use cookies? Or it could be put into their userdata document so it survives across devices.

[2018-04-17 10:36] chamidu-supeshala commented on #1199
This is already implemented. ( saving user's preference in UserData collection) It should work if not broken somewhere

[2018-04-17 10:44] chamidu-supeshala commented on #1199
I just checked and it is working for me, though it is harder to see which are checked and which are not, due to #1161

[2018-04-17 10:47] gazhayes opened #1200 "Problem: [/auctions] new auctions are not showing up"
Problem: creating a new auction to sell Krazor for USD doesn't appear to be working. The KZR is deducted from the wallet but the auction does not display.

Solution: not sure if this is UI or something deeper as I haven't looked.

[2018-04-17 11:15] gazhayes commented on #1199
Huh, you're right. Not sure how I missed this.

[2018-04-17 11:15] #1199 closed

[2018-04-17 11:25] gazhayes opened #1201 "problem: users cannot add an email address to be notified on launch"
Problem: users cannot add an email address to be notified on launch

solution: add an email address input field on the modal that shows up on first use. Allow not-logged-in and logged-in users to submit an email address. Using a captcha here would also be a good idea but it's not critical.

[2018-04-17 11:27] AshHimself commented on #1200
@blockrazorbot claim

[2018-04-17 11:31] AshHimself commented on #1185
Fixed in #1202

@blockrazorbot label "done"

[2018-04-17 11:33] chamidu-supeshala commented on #1161
@blockrazorbot claim

[2018-04-17 11:38] AshHimself commented on #1200
Fixed in #1203
@blockrazorbot label "done"

[2018-04-17 11:39] AshHimself commented on #1200
@blockrazorbot done

[2018-04-17 11:39] AshHimself commented on #1185
@blockrazorbot done

[2018-04-17 11:40] AshHimself commented on #1201
@blockrazorbot claim

[2018-04-17 11:53] gazhayes opened #1204 "Problem: [/comparecurrencies] graphs are too big"
Problem: the graphs on the compare currencies page are very large and make things a bit confusing and difficult for users to parse.

Possible solution: make the graphs drastically smaller so they can easily fit side by side and be viewed in one hit without scrolling (on screens that aren't too small).

[2018-04-17 12:14] AshHimself commented on #1201
@gazhayes you thinking just a temp collection we store these in and get rid of after launch? Probably the easiest thing being we want to capture logged in and not.

[2018-04-17 12:37] gazhayes commented on #1201
Yeah exactly what I was thinking.

[2018-04-17 12:40] anbud commented on #1182
Done in #1205.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-17 12:41] anbud commented on #1198
@blockrazorbot claim

[2018-04-17 14:37] #1182 closed

[2018-04-17 14:39] gazhayes commented on #1185
Looks like jQuery is still stopping this from happening. Did you test?

[2018-04-17 14:48] chamidu-supeshala commented on #1161
fixed in #1161

[2018-04-17 14:48] chamidu-supeshala commented on #1161
@blockrazorbot remove "in progress"

[2018-04-17 14:48] chamidu-supeshala commented on #1161
@blockrazorbot label "done"

[2018-04-17 14:48] gazhayes opened #1208 "Problem: [/bounties] repeating bounties are not reset if page is left open"
Problem: repeating bounty values are not reset after another user completes the bounty if the page is left open. Values are only reset once page is refreshed (or navigated away from and back to). What should happen is the bounty resets reactively.

Solution: there's a possibility this is subscache related, but it also might not be.

[2018-04-17 14:50] chamidu-supeshala commented on #1204
@blockrazorbot claim

[2018-04-17 14:51] #1200 closed

[2018-04-17 14:51] #1198 closed

[2018-04-17 14:56] #1161 closed

[2018-04-17 15:01] gazhayes opened #1209 "Problem: initial load of / route is too slow"
Problem: the initial load of the / route is too slow

Solution: please propose possible solutions to increase initial load speed and then this can be broken up into individual problems.

ping @janat08 @anbud @AshHimself @samuelralak @kevgathuku

[2018-04-17 15:04] gazhayes opened #1210 "Problem: [/currency/x] UI is very ugly"
Problem: the currency detail UI is probably the ugliest page on the whole site.

Solution: make this look as nice as possible, whoever takes this has free reign to do what they think is right. The C4 will refine it after that.

Requirements: use bootswatch as much as possible, avoid any custom styles. Bootswatch elements can be seen here: https://bootswatch.com/lux/

ping @chamidu-supeshala @Madan

[2018-04-17 18:44] anbud commented on #1196
The example is in #1211.

[2018-04-17 19:17] anbud commented on #1209
We could possibly reduce and/or optimize subscriptions for the home page, it'll help.

[2018-04-17 20:00] chamidu-supeshala commented on #1204
@blockrazorbot remove "in progress"

@blockrazorbot label "done"

[2018-04-17 20:00] chamidu-supeshala commented on #1204
@blockrazorbot label "done"

[2018-04-17 20:02] chamidu-supeshala commented on #1210
@blockrazorbot claim

[2018-04-17 20:28] chamidu-supeshala commented on #1188
I checked this, it is just a typo :jack_o_lantern:  will correct this

@blockrazorbot claim

[2018-04-17 20:31] chamidu-supeshala commented on #1188
@blockrazorbot claim

[2018-04-17 20:35] chamidu-supeshala commented on #1188
fixed in #1213

[2018-04-17 20:35] chamidu-supeshala commented on #1188
@blockrazorbot label "done"

@blockrazorbot remove "in progress"

[2018-04-17 22:40] samuelralak commented on #1188
Krazor notfiications are still not being marked as read, neither are they shown

[2018-04-17 23:30] #1188 closed

[2018-04-18 00:41] gazhayes commented on #1188
@samuelralak

But *new* krazor notifications are being marked as read, right?

[2018-04-18 02:24] gazhayes opened #1215 "Problem: something weird going on with Ethereum Classic hashpower calculations"
Problem: there's something strange going on with ethereum classic hashpower calculations, it's much higher than it should be. In fact I can't even see how it's getting these calculations at all, there could be some weird interaction with Ethereum itself.

Solution: work out what the haspower *should* be and then work out what's happening.

ping @anbud

[2018-04-18 05:45] gazhayes opened #1216 "Problem: can't easily determine which accounts are duplicate and ban them"
Problem: We log IP addresses in the event log, and when more than one user has the same IP address the users are flagged, but this is just a list of usernames and IPs. This isn't enough to determine if something nefarious is going on.

Possible solution:

Create a view showing (side by side) all users who share the same IP address. Show as much of their recent data as possible (comments/features/e

[2018-04-18 05:53] gazhayes opened #1217 "Problem: no home link in sidebar"
Problem: some people testing the site so far have complained that it's hard to navigate back to home as not everyone knows about the customary UI protocol of "the logo goes back to home".

Solution: add a "home" menu item as the first item on the sidebar.

[2018-04-18 07:43] janat08 opened #1218 "Problem: miscellaneous collection not local collection"
Problem: Collection like graphdata don't really change and therefore belong in a cache.

[2018-04-18 07:49] janat08 opened #1219 "Problem: local collection uncached and not updated"
Problem: localizable collection doesn't cache data. If it does it should also record date for when cache was made, and then use that date to receive updates to cache with documents whose date is earlier which can be written with hooks, to insert and update (I don't remember packages names or api). This won't actually improve speed of page load since we use SubsCache.allready().

[2018-04-18 07:52] janat08 commented on #1219
I also wonder how removed files are to be removed from cache short of making an expensive method for that when you're trying to receive partial updates.

[2018-04-18 07:57] janat08 commented on #1196
I think the label should be changed to fast-render params.

[2018-04-18 08:02] gazhayes commented on #1219
Since we are using subscache is this still a problem?

[2018-04-18 08:30] anbud commented on #1215
I think I know what's going on here.

@blockrazorbot claim

[2018-04-18 08:37] janat08 commented on #1219
Performance optimization. low priority?

[2018-04-18 08:38] anbud commented on #1216
Agreed, this one's for me. :)

@blockrazorbot claim

[2018-04-18 08:42] gazhayes commented on #1219
Low priority, unless there's a really specific problem being caused.

[2018-04-18 08:45] janat08 commented on #1209
dynamic imports could help. I believe besides it serving as cache it will also defer initializing rest of the app?

[2018-04-18 08:45] janat08 commented on #1219
@blockrazorbot label "low_priority"

[2018-04-18 08:52] gazhayes commented on #1209
Definitely, dynamic imports are key. Can you make a new issue for that and tag this master issue?

[2018-04-18 08:55] gazhayes opened #1222 "Problem: [/] subscriptions are not optimized for speed"
Problem: home route subscriptions are not optimized for speed and this is making the home route slower than necessary.

[2018-04-18 09:10] janat08 opened #1223 "Problem: [/] route does not use dynamic imports"
Problem: the home route does not use dynamic imports and this degrades loading speed.

Solution: implement [dynamic import](https://docs.meteor.com/packages/dynamic-import.html) on home route and test with bundle visualizer.

[2018-04-18 09:12] janat08 commented on #1218
dependant on #1219

[2018-04-18 09:25] gazhayes commented on #1223
@janat08 I updated your problem to one that is more C4ish.

[2018-04-18 09:32] gazhayes commented on #1218
I fixed this to make it more C4ish.

[2018-04-18 09:35] AshHimself commented on #1185
I did, how is it stopping you? I can look into it more.

@blockrazorbot claim

[2018-04-18 09:37] gazhayes commented on #1185
I get this:

<img width="750" alt="screen shot 2018-04-18 at 5 37 19 pm" src="https://user-images.githubusercontent.com/8143945/38924301-2e32b010-432f-11e8-9144-4445a8e71d8d.png">

[2018-04-18 10:06] janat08 commented on #1218
Yes.

[2018-04-18 10:24] gazhayes commented on #617
@janat08 are you finished with this one?

[2018-04-18 11:15] gazhayes commented on #997
It's safe to say no one is going to respond. So just do whatever the simplest thing is to close this off.

[2018-04-18 11:43] janat08 commented on #617
I'm almost done.

[2018-04-18 11:55] anbud commented on #1215
Fixed in #1224.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-18 12:00] gazhayes commented on #617
No need to rush, I'm just catching up with the status.

[2018-04-18 12:02] #1215 closed

[2018-04-18 15:27] samuelralak commented on #1217
@blockrazorbot claim

[2018-04-18 15:39] samuelralak commented on #1217
done in [#1225](https://github.com/Blockrazor/blockrazor/pull/1225)

[2018-04-18 15:39] samuelralak commented on #1217
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-04-18 16:40] anbud commented on #1216
Basic functionality is in #1226. We can, of course, extend the list of data shown on the page.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-18 20:24] anbud commented on #1196
@janat08, we can call it whatever we want. :)

[2018-04-19 01:59] AshHimself commented on #332
@gazhayes - so its an opensource project which was bought by Meteor and runs as an APM on Galaxy. From what I know its the only Meteor based APM tool out there. You can get it up and running on your own instance however. I always found it very helpful to spot slow running queries, bad performing methods or locks in the DB (bad indexing or horrible)

https://github.com/kadira-open/kadira-server
htt

[2018-04-19 02:03] gazhayes commented on #332
Cool. Have you used it before in any projects?

[2018-04-19 02:51] gazhayes commented on #332
Rightio, I'll set this up over the next few days and we can all see who's been writing slow code.

[2018-04-19 02:52] #1217 closed

[2018-04-19 02:52] #1216 closed

[2018-04-19 02:53] AshHimself commented on #332
Haha not sure what the others think, they may know other tools or methods I
don’t?

If you want to test it you can deploy it to galaxy temporarily.

On Thu, 19 Apr 2018 at 10:51 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-19 03:53] AshHimself commented on #1201
@gazhayes almost done this. Do you want these emails going somewhere for a mailing list? segment can do that for us easily.

[2018-04-19 04:00] gazhayes commented on #1201
Nah just dirt simple list

[2018-04-19 04:01] AshHimself commented on #1201
PR inbound.

[2018-04-19 04:26] AshHimself commented on #1201
Fixed in #1227 I didn't add the captcha as I didn't want to waste time figuring out how to do it. Best best is to just export the list to excel remove duplicate if any and remove the shit if any. I have email validation on it so should remove most of the crap.

@blockrazorbot label "done"

[2018-04-19 04:26] AshHimself commented on #1201
@blockrazorbot done

[2018-04-19 04:33] AshHimself commented on #1185
@gazhayes - ok sorry I missed testing actually posting the form itself.

This opens a larger issue. We seem to have multiple methods of validating data on this.
 - sAlert is prompting users of missing values
- jquery validation is prompting users at the attribute level of incorrect values

[2018-04-19 04:41] AshHimself commented on #1185
@gazhayes - what is actually enforcing this error is the actual step values I have defined on the input. e.g. I have defined 0.00001 so it will ONLY accept those.

- Do we want the validation to be this strict?
- We can remove the stepper and just make sure the value is an integer
- Investigate my previous post and fix the wild wild west.

[2018-04-19 04:43] AshHimself commented on #1184
@blockrazorbot claim

[2018-04-19 04:55] AshHimself commented on #1209
#332 will tell us a lot more too. As well as looking at all the data we are loading onto / and if correct indexes are setup or even exist.

[2018-04-19 06:46] chamidu-supeshala opened #1228 "Problem: side navigation menu missing"
Problem: side navigation bar missing and side-menu open/close button not working

Solution: not identified yet

[2018-04-19 06:46] chamidu-supeshala commented on #1228
@blockrazorbot claim

[2018-04-19 07:02] gazhayes commented on #1228
This must have happened in #1227

FYI @ashhimself

[2018-04-19 07:04] chamidu-supeshala commented on #1228
fixed in #1229

[2018-04-19 07:04] chamidu-supeshala commented on #1228
@blockrazorbot remove "in progress"

[2018-04-19 07:04] AshHimself commented on #1228
oh wow, sorry guys I am not entirely sure why I did that. Massive human error that!

[2018-04-19 07:04] chamidu-supeshala commented on #1228
@blockrazorbot label "done"

[2018-04-19 10:40] janat08 commented on #332
I think there's command that asks mongo about what abuse it took as far as indexes go.

[2018-04-19 10:43] gazhayes opened #1230 "Problem: not possible to add new moderators/maintainers"
First a quick note about terminology. Moderators in Blockrazor are akin to Maintainers under the C4. The C4 is what should be guiding the process of collecting data and problem solving with Blockrazor, but things are obviously a little different when comparing the Blockrazor platform to software development and we are going out into the unknown here to see what works and what doesn't.

------
Prob

[2018-04-19 10:58] gazhayes commented on #332
This is a report from Pingdom:

<img width="1047" alt="screen shot 2018-04-19 at 6 52 04 pm" src="https://user-images.githubusercontent.com/8143945/38987555-ce64f8f8-4402-11e8-8b7e-8d15daad91d3.png">

It would kind of be cool to know why there are all these 1/2 second 'connect' and 'wait' periods which add about 2 seconds to load time. I guess it's just ping time which Meteor can do nothing about,

[2018-04-19 11:02] gazhayes commented on #1209
This is a report from Pingdom:

<img width="1047" alt="screen shot 2018-04-19 at 6 52 04 pm" src="https://user-images.githubusercontent.com/8143945/38987555-ce64f8f8-4402-11e8-8b7e-8d15daad91d3.png">

It would kind of be cool to know why there are all these 1/2 second 'connect' and 'wait' periods which add almost 4 seconds to load time. I guess it's just ping time which Meteor can do nothing about

[2018-04-19 11:05] janat08 commented on #617
made reddit/official site/github/block explorer unrequired since in schema definitions they're both required and unrequired.

[2018-04-19 11:08] gazhayes commented on #617
They are required in some situations and not required in others, depending on the previous options selected on the form.

[2018-04-19 11:09] gazhayes commented on #617
For example block explorer is not required if the project is proposed but hasn't launched yet.

[2018-04-19 11:39] janat08 opened #1231 "Problem: Automated code reformatting"
Problem: In a related issue, a linter was added, rather than basic formatter of code that checks tags and indentations. I beautified one of the method files and I can't merge at all now (although I then went ahead and deleted some unnecessary blank lines).

Possible Solution: use CI linter that was implemented previously, and configure it after the reference files so long as they don't require hum

[2018-04-19 11:42] gazhayes commented on #1231
The simplest way to solve this is not use any beautification. We are absolutely not using it as part of github as this completely breaks the C4 and it also hides code smells.

[2018-04-19 12:25] janat08 commented on #1231
c4:2.3.3: A patch MUST adhere to the code style guidelines of the project if these are defined.
Unlike what you previously said.

[2018-04-19 12:32] janat08 commented on #1231
Our code style is a little to elaborate too, reallly faithfully comply with it. The reasoning it C4 goes as:
``This is just sanity. I've spent time cleaning up other peoples' patches because they insisted on putting the else beside the if instead of just below as Nature intended. Consistent code is healthier.``

[2018-04-19 12:39] anbud commented on #1230
Lovely, I'm taking this one, I like it.

@blockrazorbot claim

[2018-04-19 12:51] gazhayes commented on #1231
You are absolutely correct. I put that there temporarily as a reference but this is definitely not a C4ish style guide, it should be like 2-3 paragraphs of basic things that are easy to remember (mostly just indentation etc).

Unlike what you previously said. I take it this means our codebase isn't supposed to be a mess of formats.

The intention behind that is to get people to follow the guidelin

[2018-04-19 13:12] gazhayes opened #1232 "Problem: style guide is a reference and not actually a C4 style guide"
Problem: C4 projects are inherently messy but they become even more messy if there isn't a style guide. This isn't the only reason for a style guide however, though the other reasons are quite a lot deeper and center around detecting and purging bad actors (C4 projects attract 'graffiti' in the same way Wikipedia does). This is why the C4 states that *if* there's a style guide, it *must* be follow

[2018-04-19 13:13] gazhayes commented on #1231
@janat08 I have created #1232

[2018-04-19 13:14] anbud commented on #1222
I've optimized subscriptions in #1233.
But, we should probably leave this open for some time if somebody else has more ideas on how to further optimize them.

@blockrazorbot abandon

[2018-04-19 13:59] janat08 commented on #1231
But then we're reformatting the project? I see no problem with taking something off contributors hands that they will have to do otherwise. VS Code uses beautifier internally but will not accept custom settings, so I'm switching editors and configuring that then or using an external tool for basic editor feature.

[2018-04-19 14:15] janat08 commented on #1231
A lot of reference rules have lint option mentioned, and so we can have like really robust consistency.

[2018-04-19 14:16] gazhayes commented on #1231
No. We don't reformat the codebase just for the sake of having a nice looking codebase.

That's only because you haven't absorbed the philosophy behind the C4 yet. Though I am happy that you are paying attention to the protocol itself.

It's good for you to make sure that your own pull requests look as nice as possible. Though not as important (for example) as making sure your code contains commen

[2018-04-19 14:26] janat08 commented on #1231
Moreover it falls in line with goals of C4:
``1. To maximize the scale and diversity of the community around a project, by reducing the friction for new Contributors and creating a scaled participation model with strong positive feedbacks;``
``5. To reduce the internal complexity of project repositories, thus making it easier for Contributors to participate and reducing the scope for error;``

[2018-04-19 14:27] gazhayes commented on #1231
It has to be in the same commit, there can be no extra commit to do styling issues. Apart from this, any auto styling cannot change too much or it hides code smells.

We could also probably automatically add "problem" to all patches, but this would not satisfy the reasons behind using a problem statement. Following the style guide is the same thing.

[2018-04-19 14:29] janat08 commented on #1231
Right, so the issue is with CI making another commit. Can it merge them thereafter only keeping patch comments from the 1st one?

[2018-04-19 14:30] gazhayes commented on #1231
There are numerous issues, but that is one of them. Another major one is not destroying code smell. And another one is contributor autonomy.

[2018-04-19 14:30] janat08 commented on #1231
I imagine if it doesn't require human intervention, that it doesn't affect the semantics of code.

[2018-04-19 14:45] sjmackenzie commented on #1231
No need for code formatters, code smell is a great way to catch bad actors. Develop a styleguide everyone is happy with. #1232 is the root cause of this problem, therefore this issue can be closed.

[2018-04-19 14:55] sjmackenzie commented on #1231
A more clear explanation: bad programmers and bad actors cause problems, this messes with people, and code. Bad actors code is generally chaotic, badly formatted and doesn't adhere to the code style of a code base. In other words they couldn't give a damn as their primary goal is to cause trouble nitpicking here and there, and rebelling against the rules. Rules which are in place to keep harmony i

[2018-04-19 14:56] janat08 commented on #617
I did some of those, some I left as comments, others I missed.

[2018-04-19 15:00] gazhayes commented on #617
OK. I had planned on properly thinking through and documenting the 'add coin' rules today so that this becomes much easier for you, but unfortunately I didn't get time. I'll hopefully get to that tomorrow.

[2018-04-19 15:30] sjmackenzie commented on #1231
It's better to make a separate commit to style up badly formatted code, it's in the history the bad actor put it there, it doesn't have to hang around forever. When git bisecting or tracking down a problem introduced into the history the programmer can easily skip over `"Problem: code not formatted properly"` as it's highly unlikely the problem was intorduced there. If you conflate styling and act

[2018-04-19 15:30] #1231 closed

[2018-04-19 15:53] janat08 commented on #1232
Why don't we go for VS Code style that is chiefly goes as always write on new line with indentation when using ``{`` or ``.`` in succession and ``, ``if the line is large.
[code]

[2018-04-19 15:59] janat08 commented on #1222
I don't really know what transpires in publication, but if it concatenates parameters from client-side query and publication the extra sort operators aren't helping, as there're indexing limitations with some of the rougher ones touching on needless sort operations, that is if u query by ``x1`` and sort by ``x2``, it will only ever use the x1 index or x2 index.

[2018-04-19 16:13] janat08 commented on #1231
That is to say that reformatting code is good?

[2018-04-19 16:25] gazhayes commented on #1231
It *can* be good, when used in the right situation and for the right reasons (and within the right scope). But it's not *always* good.

[2018-04-19 16:29] gazhayes commented on #1232
Yeah, I don't see any problems with that. You could add that as the first rule in the style guide :)

[2018-04-20 04:39] gazhayes opened #1235 "problem: [/addcoin] ReferenceError: addCoin is not defined"
Problem: [/addcoin] ReferenceError: addCoin is not defined

Solution: fix and add test.

[2018-04-20 04:43] gazhayes opened #1236 "Problem: [/currency/x & /addcoin] cannot add exchanges to currencies"
Problem: it's not possible for users to add exchanges to coins on the currency detail page.

Solution: Allow users to add an exchange to a currency from the _existing list of exchanges_ or _add a new exchange_. The simplest solution here is probably a dropdown or typeahead with a "add new" button next to it.

Any solution should also denormalize the data into the currencies collection so that curr

[2018-04-20 04:44] gazhayes commented on #997
Closed and moved to #1236

[2018-04-20 04:44] #997 closed

[2018-04-20 04:50] AshHimself commented on #1185
@gazhayes any thoughts on this mate?

[2018-04-20 05:11] gazhayes commented on #1185
Yeah just do that, and should probably kill sAlert for that page and just use inline jquery on the fields themselves (onBlur). Also default reserve to 0 so that if they don't type anything in it doesn't give an error.

[2018-04-20 05:34] AshHimself commented on #1184
Fixed in #1237
@blockrazorbot label "done"

[2018-04-20 05:34] AshHimself commented on #1184
@blockrazorbot done

[2018-04-20 05:38] #1201 closed

[2018-04-20 05:38] gazhayes commented on #1201
Which collection are these going into?

[2018-04-20 05:39] #1184 closed

[2018-04-20 05:40] AshHimself commented on #1201
http://drmongo.blockrazor/meteor/meteor/launchemails

On Fri, Apr 20, 2018 at 1:38 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-20 06:49] AshHimself commented on #1185
Fixed in #1238
@gazhayes - Good thing to know is that those error messages you were getting were not actually jquery but Chrome validation as part of html5 attributes (ewww) I have removed them entirely and used bootstrap validation instead.

Stepper was also not removed but changed it value to 'any' (learned that you could do that today.

@blockrazorbot label "done"

[2018-04-20 06:49] AshHimself commented on #1185
@blockrazorbot done

[2018-04-20 07:26] #1185 closed

[2018-04-20 07:28] AshHimself commented on #1209
Another thing to add is that at our total meteor package is almost at 800kb now so that'll obviously have a little download time for slower connections.

[2018-04-20 07:31] gazhayes commented on #1209
@janat08 is implementing dynamic imports wherever possible on / route to help with that.

[2018-04-20 07:42] janat08 commented on #1236
@blockrazorbot claim

[2018-04-20 08:27] chamidu-supeshala commented on #1210
done in #1240

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-20 08:30] chamidu-supeshala opened #1241 "Problem: [/currency/x] recaptcha missing"
Problem: For the ease of debugging, I commented out recaptcha when working on #1210. Just realized that, it hadn't restored.

Solution: un-comment recaptcha related code block in currencyDetails.html

[2018-04-20 08:30] chamidu-supeshala commented on #1241
@blockrazorbot claim

[2018-04-20 08:37] chamidu-supeshala commented on #1241
fixed in #1242
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-20 08:59] chamidu-supeshala commented on #1241
fixed in #1243

[2018-04-20 09:08] #1241 closed

[2018-04-20 09:48] gazhayes opened #1244 "problem: compare currencies UX is very bad on small screens"
Problem: the compare currencies page is one of the pages that needs to work on mobile because casual and first time users are likely to use it. It is currently pretty bad on mobile / small screen.

[2018-04-20 10:42] samuelralak commented on #1244
IMHO I think a partial redesign of this page - the table section especially - is required to make this page better than it already is now and perhaps make it more intuitive.

I would also propose having the currencies displayed vertically and comparison data horizontal instead. Currently its abit confusing when adding a currency to compare - you don't see the data unless you scroll to right.

[2018-04-20 10:52] gazhayes commented on #1244
Yeah I don't disagree with any of that. Do you want to do it?

[2018-04-20 11:13] gazhayes commented on #1244
Actually vertically might cause problems because there's a fair bit of data to display, it would end up being a very wide page, or are you envisioning something that you think will deal with that?

[2018-04-20 12:28] janat08 opened #1246 "Problem: typeahead add action if empty [/currency/:x] button is ugly/decoupled"
Problem: the button that activates on [/currency/:x] is ugly and decoupled from the input. I didn't put it in typeahead element because it's unstyled.

Solution: style the button, and if you like don't bother with logic making a new issue for that.

[2018-04-20 12:32] janat08 opened #1247 "Problem: typeahead triggers add event twice on select"
Problem: selecting from menu of typeahead will run passed in add function twice.

Solution: One of the first runs is triggered by bound typeahead:select event.

[2018-04-20 12:36] janat08 opened #1248 "Problem: typeahead can't handle external changes well [/currency/:x]"
Problem: in [/currency/:x] is you add exchange twice, the second time it won't clear the input. The props that are passed to typeahead don't directly indicate that a change has occured with it happening roundabout manner where method is run updating ``currentData()`` it then being bount to ``reactiveVar`` and then getting passed to typeahead props. It might be related to #1247, or caused by.

Solu

[2018-04-20 12:42] janat08 commented on #868
@blockrazorbot label "unmet dependency"

[2018-04-20 12:43] janat08 commented on #868
@blockrazorbot unlabel "unmet dependency"

[2018-04-20 12:45] janat08 opened #1249 "Problem: [/addcoin] responsively overflows behind sidebar"
Problem: [/addcoin] forms will hide behind sidebar at large resolution.

[2018-04-20 12:48] janat08 commented on #868
I've removed 2008 options, but there're still a couple of conditions for premine/genesisTimestamp. Currently, the schema's conditional functions can not immediately be used to define what values are permitted besides passing in random numbers to tell what is valid.

[2018-04-20 12:50] janat08 commented on #1235
I'm on [/addcoin] and there're no error mentioned.

[2018-04-20 12:59] gazhayes commented on #1235
The error was in the console. The GUI had no response and just didn't do anything.

[2018-04-20 13:58] janat08 commented on #1235
can't reproduce.

[2018-04-20 14:02] janat08 commented on #1235
@blockrazorbot claim

[2018-04-20 14:05] gazhayes commented on #1235
Can you reporoduce?

[2018-04-20 14:11] janat08 commented on #1235
Yes, it not even working on my branch that I copied over by hand.

[2018-04-20 14:44] janat08 commented on #1235
@blockrazorbot label "done"

[2018-04-20 14:45] janat08 commented on #1035
@anbud ?

[2018-04-20 14:48] janat08 opened #1251 "Problem: all lists are loading"
Problem: all lists are loading thanks to subsCache not being ready.

[2018-04-20 14:48] janat08 commented on #1223
@blockrazorbot claim

[2018-04-20 14:49] janat08 commented on #1251
@blockrazorbot claim

[2018-04-20 15:14] #1251 closed

[2018-04-20 15:15] janat08 commented on #1196
How did #1252 pass?

[2018-04-20 15:28] gazhayes commented on #1184
@janat08 can you explain more with a bit more detail. Why did you have to revert this?

[2018-04-20 15:29] janat08 commented on #1184
#1251

[2018-04-20 15:30] janat08 commented on #1184
discussion in #1196

[2018-04-20 15:31] janat08 commented on #1184
The original pull request wouldn't even stop subscache from deleting it.

[2018-04-20 15:33] janat08 commented on #1068
@blockrazorbot label "done", resolution in #1196

[2018-04-20 15:33] gazhayes commented on #1184
OK. So this problem is a problem again?

[2018-04-20 15:37] janat08 commented on #1184
If the test failed it likely is not, otherwise I didn't at all diagnose the problem aside from finding a culprit. There's an issue for refining for the accuracy of allReady() method of subsCache, and I suggested actually using individual subscription instances instead of allReady in liu of that. If you'd like me to find if the problem that is, is not what manifested itself here, I can go check.

[2018-04-20 15:56] janat08 commented on #1184
btw the test in question will fail on use of Meteor.subscribe, since it also tests genuine subscriptions other than the ones from fast-render.

[2018-04-20 17:01] anbud commented on #1230
Done in #1253.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-20 17:03] anbud commented on #1196
Those subscriptions inside global helpers in #1237 weren't defined in the Router properly, so there was a param mismatch. #1252 passed as the params are perfectly fine again. The test falls back to checking regular subscriptions if it can't find FastRender subscriptions.

[2018-04-20 17:06] anbud commented on #1035
@janat08, sorry, I've completely missed this one. I'll look into it and get back to you here.

[2018-04-20 19:04] janat08 commented on #1196
I took a look at the publication and it's broken, because there wasn't even accompanying fast-render subscription (that was working) to break subscache.

[2018-04-21 03:14] chamidu-supeshala commented on #1249
@blockrazorbot claim

[2018-04-21 05:30] chamidu-supeshala commented on #1246
fixed #1254
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-21 06:28] janat08 commented on #1246
I'll keep the logic/button decoupled then

[2018-04-21 06:28] #1246 closed

[2018-04-21 06:38] chamidu-supeshala opened #1255 "Problem: [/currency/x] basic details edit buttons overflows container"
Problem: the approve/decline buttons appearing when editing one of the currency information, overflows it's container

![screenshot from 2018-04-21 12-05-38](https://user-images.githubusercontent.com/27463355/39081315-bd1938ba-455c-11e8-8a3a-e699f6256b17.png)

Solution: put approve/decline buttons inside the container

[2018-04-21 07:19] chamidu-supeshala opened #1256 "Problem: [/currency/x] Genesis timestamp cannot edit"
Problem: the original issue occurred after removal of duplicate bootstrap packages (in #1152) . The `natestrauser:x-editable-bootstrap` package removed and instead that, the `bootstrap3-editable` files were added to the client/compatibility folder.

This caused conflict with `mrt:combodate` package. because that package uses older version of combodate than the combodate.js version embedded in `boo

[2018-04-21 07:35] gazhayes commented on #1256
You could also probably just grab the files for both packages and use them in our codebase as imports wherever required.

[2018-04-21 08:25] janat08 commented on #1223
You can implement dynamic route for a page, and expect any speed improvements on that page. The way it works is that you dynamically import other pages so that they don't drag down the page that should speed up.

[2018-04-21 08:33] janat08 commented on #1223
I believe what happens is that essentially home route is considered an add-on to initial bundle, which is then asked once initial bundle consisting of everything other than home-route is loaded.

[2018-04-21 08:34] chamidu-supeshala commented on #1256
@gazhayes yup, that is probably be the perfect solution.
@blockrazorbot claim

[2018-04-21 08:35] chamidu-supeshala commented on #1256
@blockrazorbot claim

[2018-04-21 08:36] chamidu-supeshala commented on #1256
@blockrazorbot claim

[2018-04-21 08:37] chamidu-supeshala commented on #1256
@blockrazorbot label "in progress"

[2018-04-21 09:09] janat08 commented on #1223
2. .. seconds on fast 3g. 3.12mb bundle.
8 seconds on 4x slow down without 3g throttling.
10 seconds on 4x and 3g fast.

[2018-04-21 09:11] gazhayes commented on #1256
You should probably check the relevant upstream github repos and take from there rather than the package repos themselves if they are less up to date.

[2018-04-21 09:40] janat08 commented on #1223
It's what bundle visualizer shows, presumably an unzipped bundle.

[2018-04-21 09:41] janat08 commented on #1223
Anyway the tests are bad i had cache enabled.

[2018-04-21 09:53] gazhayes commented on #1223
Ah yes probably unzipped. Also, FYI I'm pretty sure meteor doesn't add compression or minification unless you use --production.

[2018-04-21 09:55] AshHimself commented on #1223
--production isn't supposed to be used in 'production' its used to simulate
it. You should really use meteor build for actual production use.

Source: https://guide.meteor.com/deployment.html

On Sat, Apr 21, 2018 at 5:53 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-21 09:57] gazhayes commented on #1223
I'm just talking about 'dev' production

[2018-04-21 09:58] AshHimself commented on #1223
haha 10-4

On Sat, Apr 21, 2018 at 5:57 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-21 10:02] chamidu-supeshala commented on #1256
tried with no success :(  first moved bootstrap3-editable component to imports/ui/components and imported  it dynamically in required template. however once imported, the library auto applied application wide, as it uses auto executing functions:

(function ($) {
   // code
}(window.jQuery));

so i will try another solution. if anyone has better idea, feel free to claim this. i will unassign mysel

[2018-04-21 10:12] gazhayes commented on #1256
@janat08 might be able to help you with preventing it from executing globally.

[2018-04-21 10:24] chamidu-supeshala commented on #1256
@blockrazorbot abandon

[2018-04-21 10:26] janat08 commented on #1223
6.81, 5.34, 5.4/ 2.78, 1.73, 1.78. in order of finished, DOM loaded, and load. and fast render broke too.

[2018-04-21 10:26] gazhayes commented on #1223
It will if you use --production

[2018-04-21 10:37] janat08 commented on #1223
I had to use https://github.com/VeliovGroup/flow-router, and that doesn't work with our fast-render package.

[2018-04-21 10:37] gazhayes opened #1257 "Problem: no overall user rank"
Problem: users progress towards 'moderatorship' as they complete bounties, make comments, etc. This was implemented in #1253. However, this progress is not clear to the users.

Solution: display a user rank on the user profile page using the same metrics as are used in #1253.

ping @anbud

[2018-04-21 10:38] janat08 commented on #1223
Should I continue persuing this? I'll look at a number of MB I could hypothetically remove from home route, on top of compatibility (which was heavy) folder which appeared to hold non-essential packages that yet broke home-route.

[2018-04-21 10:42] janat08 commented on #1223
If you want to take a look yourself at whats going on with bundle: ``meteor --extra-packages bundle-visualizer --production`` Some of the packages like graphs that are used only on some routes are also hefty, but dynamically importing every route will add another roundtrip to loading which isn't properly simulated in the network.

[2018-04-21 10:49] janat08 commented on #1223
Like 280kb, and I graph library just dissapeard from bundle visualizer.

[2018-04-21 10:50] anbud commented on #1257
@blockrazorbot claim

[2018-04-21 10:58] chamidu-supeshala commented on #1249
fixed in #1258
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-21 10:59] chamidu-supeshala commented on #1249
@blockrazorbot label "done"

[2018-04-21 11:04] janat08 commented on #1256
I have no experience with everything that's related to this.

[2018-04-21 11:05] #1249 closed

[2018-04-21 11:07] janat08 commented on #1256
but there're packages that do this sort of thing that accept param to rename themselves to prevent conflicts.

[2018-04-21 12:07] gazhayes commented on #1223
This should probably be it's own issue but we should actually be using `ostrio:flow-router-extra` (https://github.com/VeliovGroup/flow-router/) anyway because the one we are using is no longer maintained.

[2018-04-21 12:07] gazhayes commented on #1223
What happened with fast-render when you did that?

[2018-04-21 12:13] gazhayes commented on #1256
@anbud this might be for you :P

[2018-04-21 12:14] gazhayes commented on #1257
blockrazorbot was down for a while (DDoS on the node our dev server is on)

[2018-04-21 12:22] gazhayes opened #1259 "Problem: [/currency/x] Cannot read property 'map' of undefined"
Problem: typing into the add currencies box produces the following console error:
`Cannot read property 'map' of undefined`

[2018-04-21 12:26] gazhayes commented on #1223
It's worth playing around a bit more to see what you can come up with, but if it's not interesting you could also just send a PR with any improvement at all that you have so far, I can take a look at this myself later.

[2018-04-21 12:27] #1068 closed

[2018-04-21 12:28] #1235 closed

[2018-04-21 12:28] #1230 closed

[2018-04-21 12:28] #1210 closed

[2018-04-21 12:55] anbud commented on #1257
Done in #1260.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-21 12:57] anbud commented on #1256
I'll check it out.
@blockrazorbot claim

[2018-04-21 13:01] anbud commented on #1035
@janat08, I believe the easiest way here would be to test it out on a template that already uses it (e.g. `/compareCurrencies`) using webdriver + mocha client tests. You can use [WD API](http://webdriver.io/api.html) to simulate data input and to check whether everything is working correctly (e.g. popup is populated with right data, events are handled properly, etc).

If you want, I can write an e

[2018-04-21 16:59] janat08 commented on #1059
I'll take another stab at this on my own time.

[2018-04-21 21:39] anbud commented on #1256
Removing `mrt:combodate` and bumping the combodate version from `1.0.5` to `1.0.7` in `bootstrap3-editable` in #1261 seems to fix this issue (genesis timestamp can be edited again, and styles are preserved on the `/addcoin` page).

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-21 23:52] anbud commented on #1208
@blockrazorbot claim

[2018-04-22 00:44] janat08 commented on #1059
@blockrazorbot claim

[2018-04-22 03:43] AshHimself commented on #1259
@blockrazorbot claim

[2018-04-22 03:50] AshHimself commented on #1259
@gazhayes where abouts are you getting this? On submission?

On another note, we really need to get the inline error messages working on this page, not sure if we ended up making a ticket for that.

[2018-04-22 03:56] gazhayes commented on #1259
It looked like it was happening onKeyUp on the exchange field.

[2018-04-22 04:49] #1256 closed

[2018-04-22 04:49] chamidu-supeshala commented on #1255
@blockrazorbot claim

[2018-04-22 04:51] AshHimself commented on #1259
@gazhayes - ok so looks like this exchange menu has changed a little bit since a few days ago and the reasons we are getting all these errors are due to exchanges not being available. Can you help me out with the workflow a little.

If a currency has no exchanges when and where do they add these? Via the Create exchange I assume? I am trying to add a new one now but the button is constantly disabl

[2018-04-22 05:02] gazhayes commented on #1259
Ah that's probably the root cause then.

[2018-04-22 05:11] #1257 closed

[2018-04-22 05:46] chamidu-supeshala commented on #1255
fixed in #1262

[2018-04-22 05:47] chamidu-supeshala commented on #1255
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-22 05:50] AshHimself commented on #1259
@gazhayes I think this ticket is best for @janat08 to look at as there are a few typeahead tickets open and I think they are all related to this issue and may take me a lot longer to resolve and don't want to waste hours.

[2018-04-22 05:53] AshHimself commented on #1259
@blockrazorbot unclaim

[2018-04-22 08:03] chamidu-supeshala commented on #1259
I will take a look and try to solve this.
@blockrazorbot claim

[2018-04-22 08:10] chamidu-supeshala opened #1263 "Problem: [/addCoin] validation errors not shown in frontend"
Problem: SimpleSchema validation fail errors not showing in front end (they are shown in console, though). So user might not understand why he/she cannot add a new coin

![screenshot from 2018-04-22 13-36-13](https://user-images.githubusercontent.com/27463355/39092780-9fdaddae-4632-11e8-80fb-cc7b9584c9a8.png)

Solution: display validation error messages in front-end

[2018-04-22 08:20] chamidu-supeshala opened #1264 "Problem: [/addCoin] heavy with needless validations"
Problem: validations like `curency_log_file=> required` might not needed. (as if user adding a coin which is not yet released, there may be no exact logo yet)

other thing is user cannot add exchanges to his/her new coin, because in order to pass current validation checks, it is not enough to provide exchange name, it also asks for slug and _id.

![screenshot from 2018-04-22 13-48-10](https://user

[2018-04-22 08:38] gazhayes commented on #1263
These should be displayed inline with JQuery instead of using popup/sAlert type notifications.

[2018-04-22 08:43] gazhayes commented on #1264
The image requirement can be disabled when the coin launch date is in the future.

This was raised in #1236, looks like it hasn't actually been done.

[2018-04-22 08:47] gazhayes commented on #1259
This is another symptom of #1236 not being completed properly.

[2018-04-22 08:50] gazhayes commented on #1236
Opened again as the original issue still exists.

[2018-04-22 10:05] chamidu-supeshala commented on #1259
fixed in #1265.
@gazhayes now add exchange and create exchange working properly in [/currency/x]
(other than the `typeahead-component` bugs such as firing 'add' event twice, which already raised)

I will move on to other symptoms of  #1236 tonight

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-22 10:11] gazhayes commented on #1259
Just to be clear, I'm not sure if you missed this in in #1236 or not, but exchanges are unique objects and have to be in their own collection otherwise all the data about all exchanges has to be repeated on every currency that is listed (in the real world) on that exchange. The name of the exchange (and maybe an _id or slug) should be denormalized into the currencies collection for speed purposes

[2018-04-22 10:11] chamidu-supeshala opened #1266 "Problem: add exchange backend validation failed when there are no existing exchanges"
Problem: if currency has no exchanges currently, adding a new exchange cause backend validation faliure

Solution: correct validation issue

[2018-04-22 10:11] chamidu-supeshala commented on #1266
@blockrazorbot claim

[2018-04-22 10:39] chamidu-supeshala commented on #1259
currently, the new exchanges added to their own collection. And for each currency, the id, name and slug of tagged exchanges included like this. (speed purposes)

![screenshot from 2018-04-22 15-55-10](https://user-images.githubusercontent.com/27463355/39093965-dbb8d5d4-4645-11e8-9eac-7112ce635705.png)

The type-ahead looks at `name` field of `exchanges` collection as below:

![screenshot from 201

[2018-04-22 10:49] chamidu-supeshala commented on #1259
Currently, cannot add exchanges to currencies which don not have any previous exchanges, due to a validation issue. I'm pretty sure, everything in [/currency/x] will work properly after merging #1267

[2018-04-22 11:00] #1266 closed

[2018-04-22 11:09] chamidu-supeshala commented on #1264
Sorry i forgot that when i opening this ticket, i will close this down

[2018-04-22 11:09] #1264 closed

[2018-04-22 11:14] AshHimself commented on #1263
To be add to @gazhayes,  it should use bootstrap inline validation not custom jquery validation code.

[2018-04-22 11:30] AshHimself commented on #1263
@blockrazorbot claim

Let me take a look at this first as I believe this is going to be a little challenge as some fields which are turned from the server as having errors don't align one to one with the ids in the DOM. Mapping table or some rework may be needed.

[2018-04-22 11:38] gazhayes commented on #1263
Also just think through which items should be required in what situation (based on the checkboxes at the top and thinking through cryptocurrencies in general). Ping me for any specifics.

[2018-04-22 13:28] janat08 commented on #1259
I guess the map error occurs where exchangesNames are produced on parent template.
https://github.com/Blockrazor/blockrazor/blob/9ebeb50389c88e1087f11d5dbe744fe12ec41672/imports/ui/pages/currencyDetail/currencyInfo.js#L27

[2018-04-22 13:34] janat08 opened #1268 "Problem: migration to flow-router-extra with dynamic imports support but no fast-render"
Problem: https://github.com/VeliovGroup/flow-router, has support for dynamic imports, but doesn't cooperate with fast-render, and they appear to suggest the use of complete blaze SSR (which I saw before, but it wasn't obvious to me how to use in route), which helps with improving the speed with [/].

Solution: Look for fast-render or look for complete SSR.

[2018-04-22 13:34] janat08 commented on #1268
@blockrazorbot claim

[2018-04-22 13:35] janat08 commented on #1223
@blockrazorbot label "unmet dependency" #1268

[2018-04-22 13:35] janat08 commented on #1118
@blockrazorbot unclaim.

[2018-04-22 13:43] gazhayes opened #1269 "Problem: unmaintained version of flow-router in use"
Problem: the flow-router package we are currently using does not support dynamic imports very well, and is unmaintained (a dead fork).

Possible solution:  use https://github.com/VeliovGroup/flow-router which is maintained and has support for dynamic imports. However it doesn't cooperate with fast-render, and they appear to suggest the use of complete blaze SSR.

[2018-04-22 13:44] gazhayes commented on #1268
closed in favour of #1269 which is this same issue but logged as a C4 problem.

[2018-04-22 13:44] #1268 closed

[2018-04-22 13:47] #1259 closed

[2018-04-22 13:48] gazhayes commented on #1259
@chamidu-supeshala Yep you got it. I'll test tomorrow but should be ok now.

[2018-04-22 13:49] gazhayes commented on #1236
You're going to add it to the add currency page right?

[2018-04-22 19:43] anbud commented on #1208
Done in #1270.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-23 05:13] janat08 commented on #1236
y

On Sun, Apr 22, 2018 at 7:49 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-23 08:59] sjmackenzie opened #1271 "Problem: red flag text doesn't display"
Problem: inserting a new red flag doesn't display the data when on that currency's page

Solution: make it display the recently inserted data.

[2018-04-23 10:32] AshHimself commented on #1263
@gazhayes - give this a test, I did a lot of testing to make sure the inputs were validated when they should be whilst having a good UX.

Ideas - right now I believe its just validating type and if its required so the error message isn't really offering the best UX. Also, validation get performed again on focus would be good as well.

@blockrazorbot label "done"

[2018-04-23 10:34] AshHimself commented on #1263
@blockrazorbot done

[2018-04-23 10:36] AshHimself opened #1273 "problem: its not obvious that red flags/features are scrollable"
Problem: its not obvious that red flags/features are scrollable

Solution: enforce a cross browser technique to show a scroll bar and offer a better UX to users.

[2018-04-23 10:37] AshHimself commented on #1273
@blockrazorbot claim

[2018-04-23 10:47] gazhayes commented on #1273
A simpler solution is to limit the total number of items on display since there's already a load more button and login.

[2018-04-23 10:57] AshHimself commented on #1273
I think the problem here is that the cards are fixed so the load more won't enlarge the cards, same when you show messages to a feature. So we either needs to remove fixed cards or force scroll bars (I did this for another app like last week so its a 10min job).

[2018-04-23 10:58] AshHimself commented on #1271
@blockrazorbot claim

Working in file on another ticket.

[2018-04-23 11:05] gazhayes commented on #1273
Ah ok, fair enough. In that case the best thing to do is still limit the initial results to whatever can fit without scrolling (in addition to the load more button), then scrolling only needs to happen after the user has made that action.

[2018-04-23 12:04] anbud commented on #1247
@blockrazorbot claim

[2018-04-23 12:04] anbud commented on #1248
@blockrazorbot claim

[2018-04-23 12:53] AshHimself commented on #1273
I lie this is not a 10min job.. i'll go with option one for now and keep this at the back of my mind :/

[2018-04-23 13:03] gazhayes commented on #1273
Scrolling *works* everywhere right? Just that scroll bars are not visible?

[2018-04-23 13:08] AshHimself commented on #1273
Correct, and only a OSX issue I believe :)

On Mon, Apr 23, 2018 at 9:03 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-23 13:37] chamidu-supeshala commented on #1273
Actually scrollbars visible properly in ubuntu, windows and android. :smile:  may be only issue with mac and ios

[2018-04-23 13:41] #1263 closed

[2018-04-23 13:54] gazhayes commented on #1273
I just tested on OSX and they are visible when actually scrolling but not normally. Anyway I think the load more thing being visible will make it clear enough.

[2018-04-23 13:59] chamidu-supeshala opened #1274 "Problem: User profile dropdown menu items not visible"
Problem: dropdown menu items of profile menu not visible in ubuntu and windows with Chrome, firefox and opera browsers.

Solution: make dropdown menu visible for any OS/ any browser
![screenshot from 2018-04-23 19-22-28](https://user-images.githubusercontent.com/27463355/39131309-c4a1f00a-472c-11e8-8161-b918b004cb87.png)

[2018-04-23 13:59] chamidu-supeshala commented on #1274
@blockrazorbot claim

[2018-04-23 14:10] samuelralak commented on #1097
Breaking this down into the following:

[2018-04-23 14:15] samuelralak opened #1275 "Problem: [/moderator] Approvals can be ignored and not given full attention"
Problem: Approvals, consisting of `PendingCurrencies`, `Bounties`, `WalletImages`, `Communities` are all displayed in one list which moderators can easily ignore.

Solution: Create a new route for route for approvals i.e `/approvals/:id` and display one approval item at a time.

[2018-04-23 14:18] samuelralak opened #1276 "Problem: [/changedCurrencies] Proposed changes can easily be ignored"
Problem: Currently all proposed changes are displayed in one list which moderators can fail to take notice of.

Solution: bootswatchify the UI and only show one proposed change at a time

[2018-04-23 14:21] samuelralak opened #1277 "Problem: [/moderator/pardon] Suspended users items can easily be ignored"
Problem: Suspended users are all displayed in a long list that can be easily disregarded by moderators.

Solution: bootswatchify the UI and only show one suspended user item at a time

[2018-04-23 14:24] samuelralak opened #1278 "Problem: [/moderator/flagged] Flagged items can be easily be ignored"
Problem: All flagged content is currently being displayed in  large list making it easy for moderators for to skip over items without really paying much attention to them.

Solution: bootswatchify the UI and only show one flagged item at a time

[2018-04-23 14:29] chamidu-supeshala commented on #1274
fixed #1279
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-23 14:42] chamidu-supeshala commented on #1271
@AshHimself i have just checked this (as i worked recently on this), and it's a typo, please make `{{featureName}}` in line 20 of redflag.html to `{{name}}`. This will make redflags visible again. I'm Sorry i think this may be broken by me when working on UI redesigning.

![screenshot from 2018-04-23 20-08-27](https://user-images.githubusercontent.com/27463355/39133768-a45fb830-4732-11e8-9696-d272

[2018-04-23 14:53] #1274 closed

[2018-04-23 15:36] chamidu-supeshala opened #1280 "Problem: [/addcoin] End user might be demotivated to fill a huge form"
Problem: Nowadays there are very less instances where we will be given with a huge form to fill out, because it may make a negative impact in user's mind, as no body wants to fill such a long form.

Solution: My suggestion is to divide the form in to steps, with some friendly headings in each step. (and steps can be designed as cards)

![screenshot from 2018-04-23 20-56-19](https://user-images.git

[2018-04-23 15:48] chamidu-supeshala opened #1281 "Problem: [/wallet] wallet images displayed in different sizes"
Problem: due to different size images, currency cards also not not aligned well, which looks bad.

![screenshot from 2018-04-23 21-14-06](https://user-images.githubusercontent.com/27463355/39137570-9020d09e-473b-11e8-8c3d-bb3d17f87945.png)

Solution: make wallet images to display in similar sizes with each other

[2018-04-23 15:48] chamidu-supeshala commented on #1281
@blockrazorbot claim

[2018-04-23 16:49] chamidu-supeshala commented on #1281
fixed #1282
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-04-23 21:15] anbud commented on #1247
Done in #1283.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-23 21:16] anbud commented on #1248
@janat08, I've tested this one, and, as far as I can tell, the input field is not reset even if you add an exchange only once.
What's the desired behavior here? Am I missing something? :)

[2018-04-23 21:28] anbud commented on #1280
I agree, we have to do something about the form, it can get quite big with some options. I get annoyed with it when I have to fill it out for testing purposes. :)

In my opinion, a step-based approach seems sufficient, we just have to decide how to divide it optimally, to achieve equilibrium between the number of steps and the amount of data each step requires.

[2018-04-23 23:58] gazhayes commented on #1280
Completely agree and have been thinking the same thing for a while. I'll propose a possible solution in the next few hours in terms of how to break it up.

[2018-04-24 00:42] #1208 closed

[2018-04-24 00:45] gazhayes opened #1284 "Problem: exchange typeahead always selected when opening currency page"
Problem: the exchange typeahead is always selected when opening the currency page, causing the list of exchanges to cover everything.

[2018-04-24 01:16] gazhayes opened #1285 "Problem: no page listing all the exchanges"
Problem: there's no page listing all the exchanges

[2018-04-24 02:14] chamidu-supeshala commented on #1284
@blockrazorbot claim

[2018-04-24 02:59] AshHimself commented on #1273
fixed in #1287

@blockrazorbot label "done"

[2018-04-24 02:59] AshHimself commented on #1273
@blockrazorbot done

[2018-04-24 03:05] gazhayes opened #1288 "Problem: compare with other currencies does not populate currency comparison page"
Problem: [/currencydetail/x] compare with other currencies does not populate currency comparison page. When clicking on the 'compare with other currencies' button it directs users to the currency comparison route but does not populate the page with the currency they just came from.

[2018-04-24 03:12] AshHimself commented on #1280
https://github.com/techlab/SmartWizard looks fairly maintained and has bootstrap 4 support. One challenge will be validating attributes which are visible on that tab. You should not be able to get to the end of the form and have to go back and fix fields. Depending on the urgent I can take this on.

[2018-04-24 03:15] AshHimself commented on #1276
Is this the best approach? Some users may only want to approve currencies in which they are knowledgable about. Perhaps are more advanced filter so they get to the data they need. @gazhayes

[2018-04-24 03:24] gazhayes commented on #1280
Each page of the wizard could be saved to the db (and validated) independently, there's a flag to set before it shows up on the approval page anyway so it won't impact that.

Added bonus with that is users could 'resume' if not being able to do so is a problem.

[2018-04-24 03:34] AshHimself commented on #1280
@gazhayes I got ample time today/tomorrow to get started on it.

[2018-04-24 03:49] AshHimself commented on #1273
Is LOAD MORE broken just for me? or everyone, this isn't something I touched so must of been broken before.

[2018-04-24 03:50] AshHimself commented on #1285
@blockrazorbot claim

[2018-04-24 03:59] #1284 closed

[2018-04-24 04:01] gazhayes commented on #1273
It was working for me earlier today.

[2018-04-24 04:03] gazhayes commented on #1271
@AshHimself you still on this?

[2018-04-24 04:04] AshHimself commented on #1271
Yes I am, was just waiting for you to merge my last change so I didn't have
to deal with conflicts.

On Tue, Apr 24, 2018 at 12:03 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-24 04:05] samuelralak commented on #1288
A solution for this would be to add a helper function that returns the currencySymbol from `thiscurrency` object or simply call `thiscurrency.currencySymbol` on
[code]

[2018-04-24 04:05] AshHimself commented on #1271
I'm on BlackRazor today so inbound shortly.

On Tue, Apr 24, 2018 at 12:04 PM, Ashley Smith <missenlinx@gmail.com> wrote:

[2018-04-24 04:06] gazhayes commented on #1276
No it should be trivial to verify that an added currency is legitimate, this is key to having things move fast. If there's not enough data for laymen to approve something (e.g. maybe links to sources should be added)  then it means the system itself needs modifying.

[2018-04-24 04:10] AshHimself opened #1289 "problem: [notification] page is not bootwatchified"
Problem: notification page is not bootwatchified and ugly
Solution: Bootwatchify the page and add intuitive filters and UX

[2018-04-24 04:12] samuelralak commented on #1288
this should be a quick one. @blockrazorbot claim

[2018-04-24 04:29] AshHimself opened #1291 "problem: Its not obvious what page you are on"
Problem: Its not obvious what page you are on

Solution: add an 'active' class to the menu so its obvious what page you are on and offer the user a better UX.

[2018-04-24 06:36] #1288 closed

[2018-04-24 06:53] AshHimself commented on #1285
@gazhayes just want the exchange name in a table?

[2018-04-24 06:54] gazhayes commented on #1280
OK, I think I've worked this out.

It's probably easier to create a new route for this and keep the existing one as a reference till the new one works properly.
<hr />

Wizard 1:
---------

**[Currency Name] [Symbol]**(min 3 max 5)
Verify both name and symbol are unique across pending and existing currencies.

_Has this blockchain or currency already launched?_
**[YES, {{name}} has already launche

[2018-04-24 06:59] gazhayes commented on #1285
Yeah table will be fine.

[2018-04-24 07:00] gazhayes commented on #1285
Just dirt simple for now. I'll be listing new problems once this one is closed, need something like a currency detail page for exchanges and some data from there will probably want to be in the table.

[2018-04-24 07:00] AshHimself commented on #1285
Do we want to list the currencies against each exchange? Could get messy
displaying that :/

On Tue, Apr 24, 2018 at 2:59 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-24 07:01] gazhayes commented on #1285
Nah don't worry about that.

[2018-04-24 07:10] gazhayes commented on #624
Closed in favour of #1280

[2018-04-24 07:10] #624 closed

[2018-04-24 07:11] gazhayes commented on #617
#1280 is related

[2018-04-24 08:36] AshHimself commented on #1285
Ok it looks a wee bit boring at the moment with one column and doesn't offer value besides looking at the exchanges we have. Open for ideas on how to expand it if it needs to?

@blockrazorbot label "done"

[2018-04-24 08:38] AshHimself opened #1293 "problem: incorrect bootwatch font being used"
Problem: incorrect bootwatch font being used and should be using the LUX font.

Solution: Investigate what font is being used, remove it and reference the LUX font globally.

[2018-04-24 08:41] AshHimself opened #1294 "problem: no consistency in page headers/labels"
Problem: no consistency in page headers/labels and are different on each page. e.g. centered, aligned left.

Solution: Discuss and agree on a standard and then apply globally.

[2018-04-24 08:42] AshHimself opened #1295 "problem: [currencyAuction] TypeError: Cannot set property 'highlight' of undefined"
Problem: TypeError: Cannot set property 'highlight' of undefined is given on load in console.

[2018-04-24 08:42] #1285 closed

[2018-04-24 08:43] gazhayes commented on #1294
This should probably be somehow global in a truly global sense so that even if we decided to change it it only has to be changed in one place.

[2018-04-24 08:43] AshHimself opened #1296 "problem: [currencyAuction] able to place with no currency"
Problem: I am able to place a bid with no currency. First select a currency, delete it then click add.

Solution: Implement correct client-side and server side validation.

[2018-04-24 08:45] AshHimself commented on #1294
Correct. e.g. all headers should be in <div class='brazor-header></div> or
whatever.

On Tue, Apr 24, 2018 at 4:43 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-24 09:31] anbud commented on #1295
I believe I've seen this error on some other pages as well. Possibly, it's related to one of the global components.

[2018-04-24 12:59] anbud commented on #1296
@blockrazorbot claim

[2018-04-24 13:28] anbud commented on #1295
@blockrazorbot claim

[2018-04-24 15:59] #1247 closed

[2018-04-24 16:02] janat08 commented on #1248
If you select an item it shouldn't populate the field, meanwhile removing the selection. Once you add another exchange input will not clear.

[2018-04-24 16:05] janat08 commented on #1196
Test is fine, the most recent ordeal had to do with bad publication.

[2018-04-24 19:09] anbud commented on #1296
Done in #1297.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-24 19:41] anbud commented on #1248
Done in #1298.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-24 19:41] anbud commented on #1295
Done in #1298.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-25 06:04] janat08 commented on #1280
You can validate with a schema for a basic object too, picking out fields that have been done so far at each step.

[2018-04-25 06:05] #1248 closed

[2018-04-25 08:42] AshHimself commented on #1271
Fixed in #1299

@blockrazorbot label 'done'

[2018-04-25 08:42] AshHimself commented on #1294
@blockrazorbot claim

[2018-04-25 09:38] AshHimself commented on #1291
@blockrazorbot claim

[2018-04-25 10:01] gazhayes commented on #1294
I haven't looked but I assumed that's what you were going to do anyway so don't let me hold you back.

I think you (or someone) logged that problem and the solution was to use an active class for menu items?

[2018-04-25 11:13] gazhayes opened #1301 "problem: [/currency/X] load more button doesn't work"
problem: [/currency/X] load more button doesn't work

[2018-04-25 11:15] gazhayes opened #1302 "problem: [/currency/X] distribution graph is deformed on small screens"
Problem: the distribution graph becomes deformed when displayed on small screens.

[2018-04-25 11:17] gazhayes commented on #1302
![screenshot_2018-04-25-19-14-07-657_org mozilla firefox](https://user-images.githubusercontent.com/8143945/39242610-2ec87526-48bd-11e8-8edc-88f5b54d682a.png)

[2018-04-25 11:50] janat08 commented on #1232
I switched to webstorm so two spaces as a tab.

[2018-04-25 12:02] #1296 closed

[2018-04-25 12:03] #1273 closed

[2018-04-25 12:03] #1295 closed

[2018-04-25 12:56] AshHimself commented on #1291
Fixed in #1303
@blockrazorbot label "done"

[2018-04-25 13:13] AshHimself commented on #1294
@gazhayes i've added it to all pages now which have been styled. We can gradually add the new style to all other pages as we bootwatchify them. #1304

[2018-04-25 13:13] AshHimself commented on #1294
@blockrazorbot label "done"

[2018-04-25 13:14] AshHimself commented on #1294
@blockrazorbot done

[2018-04-25 13:14] AshHimself commented on #1289
@blockrazorbot claim

[2018-04-25 15:08] gazhayes opened #1305 "Problem: swipe gestures on mobile are annoying"
Problem: the swipe gestures on mobile end up opening and closing the menu when you want to horizontal scroll etc. A number of people have told me this is annoying and I concur.

[2018-04-25 18:39] anbud commented on #1301
@blockrazorbot claim

[2018-04-25 20:36] anbud commented on #1301
Fixed in #1306.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-25 20:41] anbud commented on #1302
@blockrazorbot claim

[2018-04-25 20:45] anbud commented on #1302
Should be fixed in #1307.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-26 00:26] #1301 closed

[2018-04-26 00:27] #1302 closed

[2018-04-26 00:31] gazhayes opened #1308 "Problem: users are not notified when someone replies to their comment"
Problem: [/addcoin, /problems] users are not notified when someone replies to something they have written (comment/red flag/summary/etc).

Solution: notify uses of reply and link back to the original problem or currency.

[2018-04-26 06:56] AshHimself commented on #1305
@blockrazorbot claim

[2018-04-26 06:59] AshHimself commented on #1305
Fixed in #1309

@blockrazorbot label "done"

[2018-04-26 06:59] AshHimself commented on #1305
@blockrazorbot done

[2018-04-26 07:08] #1305 closed

[2018-04-26 07:37] anbud commented on #1308
@blockrazorbot claim

[2018-04-26 07:39] AshHimself commented on #1289
Fixed in #1310
@blockrazorbot label 'done'

[2018-04-26 07:41] AshHimself commented on #1280
Ok i'll tackle this beast!
@blockrazorbot claim

[2018-04-26 07:58] #1289 closed

[2018-04-26 07:59] gazhayes commented on #1280
Don't try and get it perfect as things will probably be changed around, a first pass is good enough.

[2018-04-26 08:00] AshHimself commented on #1280
10-4

Being this is on a seperate route i'll keep it agile and push it over when
the UI looks good then worry about the rest once we are happy if that works
for you.

On Thu, Apr 26, 2018 at 3:59 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-04-26 12:59] janat08 opened #1311 "Problem: [currency/:x] add exchange button doesn't disable"
Problem: add exchange button has a helper for enabling/disabling so long as input is not empty, which only begins working after an exchange was added.

Solution: Possibly simply moving helper to autorun to run non-lazily, or check that dependant reactiveVar is initialized properly.

[2018-04-26 13:00] janat08 commented on #1311
@blockrazorbot  claim

[2018-04-26 13:54] anbud commented on #1308
Done in #1312.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-26 14:20] gazhayes opened #1313 "Problem: users cannot deposit Monero into their wallet"
Problem: users cannot deposit Monero into their wallet.

Solution:

Use the `get_bulk_payments` API call offered by `monero-wallet-rpc`.

There's an existing wrapper that might help here, but it could also be just as easy to write it from scratch since it's pretty trivial to poll for payments: https://github.com/PsychicCat/monero-nodejs

The Monero testnet can be used for now, and we can convert o

[2018-04-26 14:26] anbud commented on #1313
@blockrazorbot claim

[2018-04-26 14:28] gazhayes commented on #1313
I updated the OP with more details.

[2018-04-26 14:38] gazhayes commented on #1313
Yeah, I'd say this and the next few related ones for Bitcoin and Krazor will be some of the most interesting things to work on.

[2018-04-26 14:59] janat08 opened #1314 "Problem: typeahead doesn't update source on create list item event"
Problem: adding an item to typeahead menu, with create exchange button for example, won't immediately reflect the change to then add it separately, even if it source update is supposed to trigger cursor change.

Solution: manually update source to display item.

@blockrazorbot claim

[2018-04-26 15:12] janat08 opened #1315 "Problem: [currency/:x] typeahead create exchange, and then add it doesn't pass correct created item id"
Problem: Creating exchange and then trying to add it will throw an error from ``appendExchange`` method for exchange or currency not existing. I believe the issue being that minimongo on simulation of the method makes up random id, after which it then corrects the actual ID used on the server, with the bad id being passed into typeahead.

Possible Solution: revert to creating and adding an item

P

[2018-04-26 15:12] janat08 commented on #1315
@blockrazorbot claim

[2018-04-26 15:16] janat08 commented on #617
Quote from ui based issue.

OK, I think I've mostly worked this out.

It's probably easier to create a new route for this and keep the existing one as a reference till the new one works properly.

Wizard 1:
[Currency Name] [Symbol](min 2 max 5)
Verify both name and symbol are unique across pending and existing currencies.

Has this blockchain or currency already launched?
[YES, {{name}} has alread

[2018-04-26 15:29] janat08 opened #1316 "Problem: typeahead create item button broke appearing on next line"
Problem: create item button was moved into typeahead template in upcoming- last- pull request of #1236 (@blockrazorbot label "unment dependency"), and now it will appear on next line, the only thing holding it inline was float right applied through ".createExchange" or something class which might have been also used on typeahead input container, but if not deserve to be deleted in css, which then

[2018-04-26 15:30] janat08 commented on #1316
@blockrazorbot label "unmet dependency"

[2018-04-26 15:39] anbud commented on #1313
@gazhayes, thanks for the update. I'll try setting it up now, and I'll get back to you if something doesn't work correctly. :)

[2018-04-26 16:56] janat08 commented on #1314
actually I believe the issue might be with exchange names not being reactive.

[2018-04-26 17:35] janat08 commented on #1314
Lol, it turns out the issue is that my initial code didn't entirely work, and if it does it break.

[2018-04-26 17:40] janat08 commented on #1314
I'll make it a new issue.

[2018-04-26 17:48] janat08 opened #1317 "problem: clicking add exchange in [/addcoin] trigger form submit"
Problem: I belief the issue is that any button in form triggers submit event.

Solution: the submit button should be input of type submit.

[2018-04-26 17:52] janat08 commented on #1317
Solution doesn't work, i take it it's not important anyway, with the form being change.

[2018-04-26 17:52] #1317 closed

[2018-04-26 18:05] janat08 commented on #1236
@blockrazorbot label "done"

[2018-04-26 18:05] #1311 closed

[2018-04-26 18:23] janat08 opened #1319 "Problem: typeahead doesn't react to mongo cursor change"
Problem: typeahead currently will not react to cursor change, instead only reacting to reactiveVars, which is important only if you're making custom create button and don't wish to perform add action straight after.

There're also a bunch of other ramifications that include typeahead value being nullified if reactiveVars change while user types, created typeahead menu items outside typeahead templ

[2018-04-26 20:57] janat08 commented on #617
I imagine the people working on that issue will try and implement this outside simpleSchema, so close this if you like.

[2018-04-26 20:58] janat08 commented on #1269
@blockrazorbot claim

[2018-04-26 21:01] janat08 commented on #1269
implementing fast-render following this issue: https://github.com/VeliovGroup/flow-router

[2018-04-26 21:35] janat08 commented on #1269
stopped doing that, and waiting for authors to implement it.

[2018-04-26 21:36] janat08 commented on #1269
@blockrazorbot label "unmet dependency" linked above

[2018-04-26 21:37] janat08 commented on #1315
@blockrazorbot remove "unmet dependency"

[2018-04-26 21:46] janat08 commented on #1316
@blockrazorbot remove "unmet dependency"

[2018-04-27 01:05] gazhayes commented on #1317
Yeah you can redo the typeahead stuff after the new form is implemented anyway.

[2018-04-27 01:07] #1236 closed

[2018-04-27 01:09] gazhayes opened #1320 "Problem: [/currency/x] new exchanges not added to currency"
Problem: when adding a new exchange on the currency detail page, the exchange is added to the list of available exchanges but it is not added to the currency itself. It also cannot be added to the currency through the typeahead until after a page refresh.

[2018-04-27 01:12] gazhayes commented on #1319
Is this the cause of #1320?

[2018-04-27 01:15] #617 closed

[2018-04-27 03:30] AshHimself commented on #1313
Ooo that does sound fun 😃

[2018-04-27 04:01] AshHimself commented on #1280
@gazhayes - so I got a wizard up and running but this validation per form thing is going to be a real pain in the arse as the validation in most wizard plugins I found were all custom. I'll look into what @janat08 said about picking the fields we require per step as that should be a little bit easier.

[2018-04-27 04:39] gazhayes commented on #1280
You could just send a PR with the wizard itself first and validation can be a separate issue that @janat08 can take a look at.

[2018-04-27 04:42] gazhayes commented on #1280
Have you got the wizard steps to populate based on previous answers?

[2018-04-27 07:31] AshHimself commented on #1280
@gazhayes - First revision sent through. Few things to note
- Access via addcoin2
- Commented the code SmartWizard
- I got validation working but it'll need a bit of jquery love to highlight the tab the errors are actually on.
- Any suggested changes so far? Like you said this could be done easier with simpleSchema so thoughts @janat08 ?

[2018-04-27 07:36] #1271 closed

[2018-04-27 08:24] gazhayes commented on #1280
Just tested it. Closing this issue as the original issue is solved, I'll create a new one for validation.

[2018-04-27 08:27] gazhayes commented on #1280
Actually, may as well make this the /addcoin route now and move the old one to addcoin-legacy for reference only. Then this issue can be closed.

[2018-04-27 09:58] gazhayes opened #1322 "Problem: currency logos are not displayed on approval item"
Problem: I added a logo for this currency however the logo is not displayed on the approval item shown to moderators.

<img width="1067" alt="screen shot 2018-04-27 at 5 56 28 pm" src="https://user-images.githubusercontent.com/8143945/39357148-810600dc-4a44-11e8-83e5-372b5991e45d.png">

[2018-04-27 10:00] gazhayes opened #1323 "Problem: hashpower API bounties are created for proof of stake currencies"
Problem: only currencies that use proof of work should have an associated hashpower API bounty, however new hashpower API bounties are being generated for all new currencies regardless of their security model.

ping @anbud

[2018-04-27 10:23] gazhayes opened #1324 "Problem: smart contracts cannot be added to Blockrazor"
Problem: Currently, the add currency wizard doesn't cater to smart contract tokens, only discrete blockchains. It's important to be able to add tokens because many serious projects are now smartcontract based tokens that exist on another blockchain (such as the Ethereum chain).

Solution:
On the first page of the wizard, ask the user if the coin they are adding is a smart contract, e.g. an ERC20 c

[2018-04-27 12:38] janat08 commented on #1320
Duplicate of https://github.com/Blockrazor/blockrazor/issues/1315

[2018-04-27 12:49] AshHimself commented on #1324
@blockrazorbot claim

[2018-04-27 12:58] #1320 closed

[2018-04-27 13:10] gazhayes opened #1325 "Problem: [/] red flags on currency cards are not obvious"
Problem: the red flags listed on currency cards on the home route are not obvious.

Solution: maybe remove the 'top red flag' text to make the UI a bit nicer, and put the red flag inside a bootstrap `danger` alert (https://getbootstrap.com/docs/4.1/components/alerts/).

Another solution could be to use a font-awesome exclamation mark or something.

[2018-04-27 13:26] dr-dimitru commented on #1269
@gazhayes @janat08 I'd like to :)
I'm a bit worried about our asynchronous subs, dynamic load, and [meta-package](https://github.com/VeliovGroup/Meteor-flow-router-meta) support.

[2018-04-27 13:27] chamidu-supeshala commented on #1316
@blockrazorbot claim

[2018-04-27 13:30] janat08 commented on #1269
I can't, it won't let me.

[2018-04-27 13:40] gazhayes commented on #1269
Ha. The exact issue that caused this problem in the first place.

@janat08 when you did your testing did you manage to get fast render to work _without_ breaking dynamic imports?

[2018-04-27 13:54] gazhayes commented on #1313
@anbud I've mined some testnet coins in case you need more and the faucet doesn't have enough. You can --restore-deterministic-wallet with these seed words:
[code]

[2018-04-27 13:57] janat08 commented on #1269
Im checking that, but sent the pull request first.

[2018-04-27 14:11] janat08 commented on #1269
@dr-dimitru sure enough if you block ddp and visit dynamically imported route it will just wait, otherwise, the dynamically imported branch of repo is still as broken (i went extreme on reducing bunle) as ever and uses fast-render.

[2018-04-27 14:26] janat08 commented on #1269
Actually that begs the questions, would dynamically imported route use fast-render?

[2018-04-27 15:43] janat08 commented on #1196
@blockrazorbot claim

[2018-04-27 15:45] gazhayes commented on #1269
You mean do we need to use it? Yeah, I mean, it's solving a different problem than dynamic imports - ddp initiation times.

[2018-04-27 18:41] janat08 commented on #1196
@anbud check out the last pull request.

[2018-04-27 21:57] anbud commented on #1313
The basic functionality is done in #1327. I've left the localhost RPC server as a placeholder for connections. I couldn't get it to work with HTTP digest auth, but I believe that's due to the local RPC server acting up and it should work when the production server is up. It currently recognizes deposits and credits correct users based on the payment id. I've generated the payment id using user's _

[2018-04-27 21:58] anbud commented on #1196
@janat08, I'll do it tomorrow. :)

[2018-04-28 03:50] chamidu-supeshala commented on #1325
fixed in #1328
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-28 03:57] #1325 closed

[2018-04-28 04:58] anbud commented on #1313
Yap, it works correctly after disabling auth.

Ok, I already wrote the code that filters it, but I've commented it out, so I just need to remove the comments. I'll send a PR later today, when I return from a marathon.

[2018-04-28 05:05] chamidu-supeshala commented on #1316
fixed in #1329
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-28 05:30] chamidu-supeshala opened #1330 "Problem: [/addCoin] added exchanges appearing in a table, which is not so good"
Problem: When adding a new currency, if we add some exchanges to the currency, those exchanges will appear in a table. A table inside a form not looking good.

Solution: replace the table with a list like this

![screenshot from 2018-04-28 10-37-17](https://user-images.githubusercontent.com/27463355/39392428-4a41bc82-4ad3-11e8-992a-5d730b8d8dba.png)

[2018-04-28 05:30] chamidu-supeshala commented on #1330
@blockrazorbot claim

[2018-04-28 05:34] chamidu-supeshala opened #1331 "Problem: [/] top redflag label overwrites contribute data link in new currencies"
Problem:the contribute data link for new currencies appear in same place as the top redflag label

Solution: move top redflag label to next line

[2018-04-28 05:34] chamidu-supeshala commented on #1331
@blockrazorbot claim

[2018-04-28 05:36] gazhayes commented on #1330
FYI we are using a new wizard instead of the form now.

[2018-04-28 07:03] janat08 commented on #1196
thats how i had it beofre.

[2018-04-28 07:10] #1316 closed

[2018-04-28 08:11] gazhayes opened #1333 "Problem: suspended users cannot view and post problems/questions"
Problem: it's quite possible that users will end up being suspended by accident in the early days, or even just be confused about what happened and why they are suspended.

solution: allow suspended users to read and post questions/problems so that they can report issues.

[2018-04-28 09:25] #1308 closed

[2018-04-28 09:57] gazhayes opened #1334 "Problem: cannot specify instances for syncedcron jobs to run on"
Problem: syncedcron tries to run on all instances and logs the time it runs so that other instances don't run the same job. This is a problem for Blockrazor because some syncedcron jobs should only run on specific instances. For example, processing cryptocurrency payments should only happen on the node where the cryptocurrency wallets are, it should not try and run these cron jobs on other nodes.

[2018-04-28 11:14] janat08 commented on #1269
@blockrazorbot label "done".

[2018-04-28 11:15] janat08 commented on #1223
@blockrazorbot remove "unmet dependency"

[2018-04-28 12:05] jigartankhupp commented on #1322
@blockrazorbot claim

[2018-04-28 12:25] janat08 commented on #1196
Could you install chrome in default location so than then people wouldn't have to try and follow this instruction for resetting config: https://sites.google.com/a/chromium.org/chromedriver/capabilities#TOC-Using-a-Chrome-executable-in-a-non-standard-location.

[2018-04-28 12:30] #1059 closed

[2018-04-28 12:40] janat08 commented on #1196
I'll create a separate config for debugging on windows.

[2018-04-28 13:36] janat08 commented on #1315
I take it from previous comments that behaviour should be reverted.

[2018-04-28 13:44] gazhayes commented on #1315
which behaviour?

[2018-04-28 14:35] gazhayes commented on #1315
But what do you mean by reverting it? It hasn't been fixed yet. You are fixing that issue right?

Also it looks like new exchanges can't be added at all now, I'm not sure which pull request broke it though, either yours or @chamidu-supeshala when he did the button layout issue.

[2018-04-28 16:39] janat08 commented on #1315
Mine simple created the exchange. It was then changed to waiting for the response to add it. I changed it back to creating the exchange and showing it to add it which didn't work.

[2018-04-28 17:42] janat08 commented on #1223
simple-schema makes it into bundle thanks to global helpers in main.js
Other offenders:
xmlbuilder
sweetalert
making like 130kb in total of 3 packages
theres also core-js and mime-db that I don't know what they do at 200kb

Main page breaks and only main page*:
![screenshot 32](https://user-images.githubusercontent.com/11337345/39399344-d3febbc2-4b3d-11e8-8000-ad6c0843a062.png)

[2018-04-28 17:44] janat08 commented on #1223
*I moved files in compatibility to dynamic import, which might break pages where they're used if user lands directly there.

[2018-04-28 17:47] janat08 commented on #1223
Should I make a pull request?

Also stop using random package which I added personally I think as that contributes like 700kb. https://github.com/meteor/node-stubs/issues/6

[2018-04-28 18:47] anbud commented on #1333
@blockrazorbot claim

[2018-04-28 18:47] anbud commented on #1334
@blockrazorbot claim

[2018-04-28 19:17] gdevdeiv commented on #1293
@AshHimself, seems right to me, the font file is being loaded correctly and this is the current value used on the site:

`font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";`

[2018-04-28 19:36] anbud commented on #1313
Uncommented the code in #1336.

[2018-04-28 19:55] anbud commented on #1333
Done in #1337.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-28 20:10] anbud commented on #1334
@gazhayes, an example is in #1338.

Do you possibly already have a list of which cronjobs will run where, or will we implement that later?

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-28 20:11] anbud commented on #1323
@blockrazorbot claim

[2018-04-28 20:41] anbud commented on #1035
## Running WDIO tests locally
In order to successfully run WDIO + Mocha tests locally, you'll have to follow the following steps:

### Installing and running selenium-standalone
- npm install selenium-standalone@latest -g
- selenium-standalone install
- selenium-standalone start &

(*Please note that first two commands only have to be run once, the first time*)

### Installing WDIO + Mocha
- npm i

[2018-04-28 22:01] anbud commented on #1196
The test should be fixed in #1340. (we'll see for sure when CI finishes)

[2018-04-28 22:31] janat08 commented on #1196
@blockrazorbot label "done"

[2018-04-29 00:33] gazhayes commented on #1334
No, will work that out later, the only one I'm certain of right now is receiving and sending coins.

[2018-04-29 00:47] gazhayes commented on #1313
Does this handle duplicate txid (tx hash) in the *same* get_bulk_payments response (these are valid)?

[2018-04-29 00:56] gazhayes commented on #1035
The default location is different on every operating system.

[2018-04-29 00:58] #1196 closed

[2018-04-29 01:00] gazhayes commented on #1223
How painful is it to fix that?

The only concern I have is trying not to break anything ;) If you're pretty sure that nothing breaks then send a PR.

[2018-04-29 01:02] #1334 closed

[2018-04-29 01:03] #1323 closed

[2018-04-29 03:01] gazhayes opened #1341 "problem: [/bounties] bounty claim notification displayed when user cancels bounty"
Problem: when a user cancels a bounty, the claimed bounty notification is displayed and the last bounty reward is set to the amount that they were not rewarded.

<img width="1139" alt="screen shot 2018-04-29 at 10 57 12 am" src="https://user-images.githubusercontent.com/8143945/39402793-96affcfe-4b9c-11e8-9576-f3672225b838.png">

[2018-04-29 08:02] gdevdeiv commented on #1341
@blockrazorbot claim

[2018-04-29 09:02] chamidu-supeshala commented on #1330
fixed in #1342
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-29 09:02] gazhayes commented on #1341
Ok I just checked again to verify.

This affects community rating (and probably wallet rating) bounties.

The problem only occurs when the user successfully answers a question and then cancels, I errornously believed it was doing it before actually answering any questions which would be really annoying.

This is not anywhere near as bad as I thought it was and isn't really worth solving so I'll cl

[2018-04-29 09:02] #1341 closed

[2018-04-29 09:05] #1222 closed

[2018-04-29 09:15] gazhayes opened #1343 "Problem: users not told about the importance of adding bounty to bug reports"
Problem: when users add a bug report or a feature request (which, by the way, are the exact same thing under the C4), they are able to proceed without contributing to the bounty to solve it. This is a problem because new users might not understand the importance of taking some responsibility and donating some of their Krazor to solving issues. Ideally there will be no need for any centralized deci

[2018-04-29 09:20] chamidu-supeshala opened #1344 "Problem: [/currency/x] The exchanges cannot untagged / deleted"
Problem: When editing a coin, clicking on typeahead item immediately tags that exchange to the currency. if we mistakenly click on an item, there is no way to undo.

Solution: better to add a remove option (in the table view) which un-tags that exchange from the coin.

[2018-04-29 09:20] gazhayes opened #1345 "problem: not obvious how to close side menu"
Problem: it's not always clear to users that the side menu can be closed.

Solution: add a font awesome carat half way down the side menu itself, near the right hand edge (and definitely not in the nav bar, this was attempted before with poor results).

[2018-04-29 09:26] chamidu-supeshala commented on #1344
@blockrazorbot unclaim
@gazhayes first i would like to know whether this a necessary feature.

[2018-04-29 09:27] gdevdeiv commented on #1345
@blockrazorbot claim

[2018-04-29 09:30] #1330 closed

[2018-04-29 09:38] janat08 opened #1346 "Problem: injecting reactive create button into typeahead"
Problem: typeahead nothing found template is initialized as a template literal only once, and so you can't bind events or reactive values or blaze template.

Solution: pass in web component, hyperhtml and nx frameworks have component libraries.

[2018-04-29 09:41] chamidu-supeshala commented on #1343
@blockrazorbot claim

[2018-04-29 09:57] gazhayes commented on #1344
Yeah it's worth solving - what's really happening is users can't make mistakes the way it currently is (and users always make mistakes).

[2018-04-29 10:10] anbud commented on #1313
Sorry for the confusion, it'll handle it in the next PR. :)

[2018-04-29 10:52] janat08 commented on #1223
- [ ] chart is not defined when landing on elsewhere and then moving to [/compareCurrencies]. It doesn't use reusable component (chart).

- [ ] currencyDetails blank

- [ ] bootsrap edtiable images not imported dynamically (this might work https://atmospherejs.com/nathantreid/static-assets, but I don't know like under what namespace those images are used.)

- [ ] home page broken

[2018-04-29 10:57] janat08 opened #1347 "Problem: not saving changes on [/currency/:x] in modal will not revert changes"
Problem: on modal for saving changes on [/currency/:x] clicking cancel won't revert changes.

[2018-04-29 10:57] janat08 commented on #1346
@blockrazorbot claim

[2018-04-29 11:30] chamidu-supeshala commented on #1343
done in #1348
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-29 11:30] chamidu-supeshala commented on #1344
@blockrazorbot claim

[2018-04-29 11:51] gdevdeiv commented on #1345
Proposed pull request #1349

[2018-04-29 11:59] AshHimself commented on #1293
Must of fixed itself in a previous issue as this is all good now.

[2018-04-29 11:59] #1293 closed

[2018-04-29 13:49] gdevdeiv commented on #1345
@gazhayes this issue can be closed.

[2018-04-29 14:00] #1345 closed

[2018-04-29 14:09] gazhayes commented on #1345
FYI you can:
@blockrazorbot label "done"

[2018-04-29 14:13] geekyd opened #1351 "Problem: No data for rows & pages shown on /exchanges"
Problem: No data for rows & pages shown on /exchanges although the user can change the values but it remains hidden.

![b2072dc7-1fe5-4237-ad8e-aeaf75674614 3](https://user-images.githubusercontent.com/12807846/39407580-9883e4ac-4be5-11e8-80a2-c6a6d984d946.png)

[2018-04-29 14:15] gazhayes commented on #1351
Don't worry about this one, the page itself is going to be different very soon anyway.

[2018-04-29 14:15] #1351 closed

[2018-04-29 14:26] geekyd commented on #1347
@blockrazorbot claim

[2018-04-29 15:13] janat08 opened #1352 "Problem: [/] broke after being dynamically imported"
Problem: [/] breaks after being dynamically imported.

[2018-04-29 15:16] janat08 opened #1353 "Problem: bootstrap editable images not dynamically imported."
Problem: bootstrap editable images belong in ui/components/compatibility folder where index dynamically imports them in bundle. I don't know how to handle them, but heres a tip: https://atmospherejs.com/nathantreid/static-assets.

[2018-04-29 15:20] janat08 opened #1354 "Problem: sweetaleart not dynamically imported."
Problem: sweetaleart is part of bundle, and should be dynamically imported.

Solution: make it global only after it has been imported with ``import('sweetaleart).then((alerts)=>window.sAlert=alerts)``. Run ``meteor --extra-packages bundle-visualizer --production`` to check.

[2018-04-29 15:24] janat08 opened #1355 "Problem: xmlbuilder isn't dynamically imported"
Problem: xmlbuilder isn't dynamically imported, and could be imported where it's needed (on one of the routes) which will make it dynamically imported.

Solution: syntax for dynamic imports, and making global. import('sweetaleart).then((alerts)=>window.sAlert=alerts). Run ``meteor --extra-packages bundle-visualizer --production`` to check.

[2018-04-29 15:27] janat08 opened #1356 "Problem: simple schema is in initial bundle"
Problem: simple schema makes it into client bundle through main.js when it imports collections.

Solution: Create stub for global helpers that use them, dynamically import the collections and then overwrite the stub helpers.  Run ``meteor --extra-packages bundle-visualizer --production`` to check.
[code]

[2018-04-29 15:29] janat08 commented on #1223
anyone knows what is core-js and mimedb and if they're an issue in this context, or knows why node-meteor-stubs is in the bundle (im not great with npm). I would just create an issue for these 3.

[2018-04-29 15:51] gazhayes commented on #1223
Ping @anbud

[2018-04-29 16:13] janat08 commented on #1315
@blockrazorbot label "done"

[2018-04-29 16:13] #1315 closed

[2018-04-29 16:14] janat08 commented on #1223
btw package random is also used for analytics I think.

[2018-04-29 16:47] janat08 opened #1359 "Problem: no lighthouse audit (chrome>devtools>audits)"
Problem: Lighthouse audit is concerned with how quickly a page loads, as well as PWA tech. Currently its unavailable since dynamic imports in breaking home page also break the audit. @blockrazorbot label "unmet dependency" #1352.

Solution: Will look at scores for [/] as per #1209.

[2018-04-29 19:33] anbud commented on #1223
@janat08,  as far as I remember, core-js provides shims and polyfills for es5, es6 and even es7+ proposals. I believe it's used by Meteor itself.
Mimedb (mime-types) is used for mime type checking on upload forms, I don't think we have any of those on the home route.

[2018-04-29 20:04] janat08 commented on #1223
Theres ecmascript package that I argues does what core-js does, so Id like to just delete it. As for mimedb, lol, I imagine it's bundled as part of methods. Ill look into making it a stubbed out global, and deleting every reference.

[2018-04-29 20:06] janat08 commented on #1223
Simply removing random package kept the node-stubs in bundle, so I'll give up on that although it will make up possibly third of app bundle with these and other issues resolved (and I imagine it contributes to initialization time).

[2018-04-29 22:14] janat08 opened #1362 "Problem: typeahead noneFound template triggers click only on text to create item"
Problem: typeahead noneFound template triggers click on text only to create item for example in [/currency/:x] route, to edit styling for the template so that event trigger area covers everything go to line 72 of typeahead.js.

@blockrazorbot label "unmet dependency" #1361 awaiting merge

[2018-04-29 22:19] janat08 opened #1363 "Problem: back and forth navigation broken to pages with typeahead (Uncaught ReferenceError: module is not defined)"
Problem: Thanks to pull #1361 navigation to and from pages that use typeahead with noneFound template will not work. This likely happened after this cryptic error ``Uncaught ReferenceError: module is not defined without any stacktrace`` cropped up otherwise, the nx-framework is interfering with routing as it can totally do that. The error cropped up after two things: event is bound even if handler

[2018-04-29 22:46] janat08 commented on #1362
@blockrazorbot remove "unmet dependency"

[2018-04-29 23:11] janat08 commented on #1209
You know you could probably parse spacebars and blaze into nx-framework since it can inherit state and has proxies (like 10% of peoples browsers not supported), and use SSR.

[2018-04-30 07:12] gdevdeiv commented on #1352
@blockrazorbot claim.

[2018-04-30 07:14] #1346 closed

[2018-04-30 07:48] gdevdeiv opened #1364 "Problem: Cross environment issues on Windows"
Problem: `export` doesn't work on Windows, and so the Getting started guide is not valid for that OS. Maybe even could bring issues in the future (building the project on that arch).

Solution: use `cross-env` before the npm scripts, so the `ROOT_URL` and the `HTTP_FORWARDED_COUNT` flags can be set through that package and not through the bash command export.

[2018-04-30 07:49] gdevdeiv commented on #1364
I guess this is low priority, but just had the issue right now as I won't have my usual Mac machine around ;)

[2018-04-30 07:49] AshHimself commented on #1364
You can update the README to close this or maybe even see what @janat08 does as I believe he is on windows as well?

[2018-04-30 08:01] gazhayes commented on #1364
This isn't actually low priority - this is probably a relatively annoying barrier to entry for people unfortunate enough to be using Windows and the C4 works best when there minimal barriers to entry (e.g. if someone on Windows wants to fix one line of code once and never come back again they shouldn't need to spend an hour trying to get the thing to build).

The only potential issue I see with th

[2018-04-30 08:09] gdevdeiv commented on #1364
Proposed solution: Instead of using `meteor` and `meteor --production` manually to run the project, I would setup some pre-made one-line scripts in the package.json file. That way, by just calling `npm start`/`npm run dev` or `npm run build`/`npm run prod`, everything will be ready for you ;)

[2018-04-30 08:14] janat08 commented on #1364
I quickly skipped those steps.

[2018-04-30 08:15] gazhayes commented on #1364
Cool :) don't forget to also update the relevant sections of the Readme if you do this one.

[2018-04-30 08:16] gazhayes commented on #1364
@janat08 Did you have any problems?

[2018-04-30 08:28] gazhayes opened #1365 "Problem: blockrazorbot (zulipbot) spams new contributors"
Problem: when a new contributor claims an issue, blockrazorbot/zulipbot spams them with irrelevant info.

[2018-04-30 08:32] janat08 commented on #1364
Images upload doesn't work.

[2018-04-30 08:34] gazhayes commented on #1364
Oh this wouldn't fix that anyway, there are some hardcoded global variables for that somewhere.

[2018-04-30 09:26] gazhayes commented on #1364
It's not really a problem that image uploading doesn't work in dev environments, anyone working on image uploading related issues can see in the codebase how to make it work (it's fairly well commented I believed). And for people working on things were image uploading is required to pass validation there are simple temporary workarounds.

[2018-04-30 09:30] gdevdeiv commented on #1364
Then I'll take on this Issue just for the the `ROOT_URL` and the `HTTP_FORWARDED_COUNT` flags, I would however take a look at image uploading on dev environments even if it is "low prio", as it is a must for example when creating a coin (you can't do that using the wizard locally, without messing with validation).

@blockrazorbot claim.

[2018-04-30 10:27] jigartankhupp commented on #1322
@blockrazorbot label "done"

[2018-04-30 10:43] anbud commented on #1364
I'm also on Windows, I haven't had any issue with these environmental variables, I've skipped it, and everything is working fine.

As for the image upload, create C:\var\www\static\images directory, and it'll start working  correctly. Thumbnails aren't working, but the code isn't failing anywhere.

[2018-04-30 10:54] jigartankhupp commented on #1322
@blockrazorbot remove "in progress"

[2018-04-30 10:55] gdevdeiv commented on #1364
Yes, I'm also skipping that and it works just fine, I will assume that the default values for each one are the ones used in development; and that in production we are using the "good values" for each of them. That is OK I guess, we could leave it there and nothing will happen. However it's not really documented, and more env variables could be used in the future. Maybe we could document that in th

[2018-04-30 10:56] jigartankhupp commented on #1322
Done in #1366

[2018-04-30 11:08] gdevdeiv commented on #1352
@blockrazorbot label "done"

[2018-04-30 11:09] gdevdeiv commented on #1352
@blockrazorbot remove "in progress"

[2018-04-30 11:11] janat08 commented on #1363
So basically has nothing to do with my nx-framework, since commenting it entirely along with the library out of the template keeps the bug.

[2018-04-30 11:11] #1363 closed

[2018-04-30 11:12] janat08 opened #1368 "Problem: can't navigate to and from [/currency/:x] using back and forward (using history)"
Problem: can't navigate to and from [/currency/:x] using back and forward (using history).

[2018-04-30 11:39] gdevdeiv commented on #1352
@janat08 They are being `import`ed when needed, in each route. Is that causing any issues?

[2018-04-30 11:43] janat08 commented on #1223
I think Ill move the mime methods back out of client. unless @anbud wants to implement global that replicates mime functionality for the select methods and filetypes we use.

[2018-04-30 11:48] AshHimself commented on #1280
Sorry mate totally missed this comment and was away for weekend.. doing now.

[2018-04-30 11:52] jigartankhupp commented on #1368
@janat08 works fine for me with the latest code in master. Can you tell me browser / os stack you are facing this trouble ?

[2018-04-30 11:54] chamidu-supeshala opened #1370 "Problem: [/addCoin] cant navigate to addCoin page"
Problem: cannot navigate to addcoin page. An error shown in console

Solution: check and solve it

[2018-04-30 11:55] AshHimself commented on #1370
@chamidu-supeshala i'm actually in this file now merging the new add-coin wizard code in.
Do you know the answer as i'll fix in my current PR.

[2018-04-30 11:59] chamidu-supeshala commented on #1370
@AshHimself i think the issue is in routes.js file. I checked and just need to comment the lines 431 and 460. then uncomment the line 426 and 455

[2018-04-30 12:05] dr-dimitru commented on #1352
@gdevdeiv
 1. Is it went broken after moving dynamic import(s) to `action` hook?
 2. Why `waitOn` hooks are removed?

[2018-04-30 12:07] AshHimself commented on #1370
@blockrazorbot claim

[2018-04-30 12:10] gdevdeiv commented on #1352
@dr-dimitru, it broke when the imports where moved to the `waitOn` hook. Yesterday I tinkered with that for a bit, and realised it worked just fine when using async/await in the `action` hook (except for the home page, as it was requiring some CSS that belonged to another view, so I additionally imported that file (currency.scss) to the home view).

[2018-04-30 12:12] janat08 commented on #1223
Lol I skipped the part where you said core-js is used by meteor itself.

[2018-04-30 12:13] AshHimself commented on #1280
@blockrazorbot label 'done'

[2018-04-30 12:13] AshHimself commented on #1280
@blockrazorbot done

[2018-04-30 12:14] AshHimself commented on #1370
Fixed in #1371

[2018-04-30 12:14] AshHimself commented on #1370
@blockrazorbot label "done"

[2018-04-30 12:14] AshHimself commented on #1370
@blockrazorbot done

[2018-04-30 12:15] #1370 closed

[2018-04-30 12:15] janat08 opened #1372 "Problem: mime-db ('mime-types') bundled into the client"
Problem: mime-types is being used in methods for uploading images and thus bundled for method simulation.

Solution: We use very little of functionality of mime-db I belief so we could just reproduce it, hack away the package to make a script file with what's needed, or just move the methods to server.

[2018-04-30 12:16] AshHimself commented on #1370
Should we wait until its merged and tested before closing?

[2018-04-30 12:17] dr-dimitru commented on #1352
@gdevdeiv

 1. Could you tell me more? It's isn't imported at all, or imported in a wrong order?
 2. Have you tried to use `whileWaiting` hook?

[2018-04-30 12:21] janat08 opened #1373 "Problem: meteor-node-stubs bundled into the client"
Problem: meteor-node-stubs is served as dependency of meteor's random and one other package since just deleting random still bundles meteor-node-stubs. Random is used a bunch in the app. As per https://github.com/meteor/node-stubs/issues/6, "crypto" is the dependent of node-stubs and is features in npm folder as requirement several times. @blockrazorbot label "low_priority".

[2018-04-30 12:27] janat08 commented on #1352
it broke only the home route css in isolation.

[2018-04-30 12:27] #1352 closed

[2018-04-30 12:30] #1368 closed

[2018-04-30 12:31] janat08 commented on #1368
It's just gone, I might not have checked master with dynamic imports fixed.

[2018-04-30 12:31] #1223 closed

[2018-04-30 12:34] janat08 commented on #1352
navigation did break, where I mistakenly assumed it was about the page to which home page links in the list items, which is no longer a problem.

[2018-04-30 12:35] AshHimself commented on #1280
Fixed in #1374

[2018-04-30 12:38] AshHimself commented on #1370
Fixed in #1375

[2018-04-30 12:42] janat08 commented on #1319
@blockrazorbot claim

[2018-04-30 13:00] chamidu-supeshala commented on #1370
@AshHimself Do i need to reopen it? Actually i created this because the problems are two separate problems, as this ticket refers to a routing failure due to a dynamic import (which occurred today), while other problem related to migrating newWizard to addCoin. (occurred past week). I didn't aware that you are working on migration process when i raising this new problem. Sorry for the inconvenienc

[2018-04-30 13:14] anbud commented on #1372
I agree, this thing is roughly 200kb, and we use a small subset of its functionality.
I'll create a smaller script with things we need on the client.

@blockrazorbot claim

[2018-04-30 13:25] gdevdeiv commented on #1364
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-04-30 14:11] gdevdeiv commented on #1359
Closed #1352, I guess this Issue can be taken now, @janat08, do you want it? ;)

[2018-04-30 14:33] anbud commented on #1372
Done in #1378.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-04-30 14:46] #1372 closed

[2018-04-30 14:47] janat08 commented on #1359
fine do it

[2018-04-30 14:51] #1280 closed

[2018-04-30 15:20] janat08 opened #1379 "Problem: typeahead untested"
Problem: typeahead untested

Solution: test typeahead. @blockrazorbot claim

[2018-04-30 16:46] anbud commented on #1365
@gazhayes, I believe there's a config option to turn that behavior off completely.

[2018-04-30 17:07] janat08 commented on #1379
I found anbud broke my "enter" event. Theres a param for disabling it.

[2018-04-30 17:19] janat08 opened #1380 "Problem: autocomplete interferes with typeahead on [/currencyAuction]"
Problem: enter a value (i presume with enter), type it out again.
![screenshot 33](https://user-images.githubusercontent.com/11337345/39440487-e0b2c954-4ccc-11e8-8a2e-e20e2192be0b.png)

[2018-04-30 17:38] gdevdeiv commented on #1359
This ticket requires some time for investigation and testing, so I'll claim it for now, although any external input is appreciated ;)

@blockrazorbot claim

[2018-04-30 18:06] janat08 commented on #1359
Technically the issue is about reporting issues discovered.

[2018-04-30 18:08] #1319 closed

[2018-04-30 18:10] janat08 commented on #621
did any1 win?

[2018-04-30 18:14] janat08 commented on #1209
more like 5%

[2018-04-30 18:56] janat08 commented on #1218
@blockrazorbot label "low_priority"

[2018-04-30 19:45] gdevdeiv commented on #1359
As I'm pretty new to Meteor, I must ask you all about this before doing anything. After some tinkering and a lot of reading I have lowered the bundle size from ~600KB to 385KB, and the only change I've made is the following:

imports/startup/client/index.js, line 4
~~`import '../both/index.js'`~~
`import '../both/routes.js'`

BUT, I don't really know if that is actually correct. My judgement was t

[2018-04-30 19:47] gdevdeiv commented on #1359
Nonetheless, I must point out that the main issue I see regarding load times is whatever is serving the app, and by that I mean that something is not right in the web server itself.. I mean, the full JS file is barely 600KB, and it's slow.. Just doesn't make sense, a review of the web server config files or web server technology/serving strategy is recommended from my humble opinion.

[2018-04-30 19:51] gdevdeiv commented on #1380
@blockrazorbot claim.

[2018-04-30 19:52] gdevdeiv commented on #1380
Two possible ways: either we disable the browser built-in autocomplete, or we try to handle it and insert it into the field.

[2018-04-30 20:59] janat08 commented on #1380
I used to think that autocomplete is something developer enables with some attribute.

[2018-04-30 21:02] gdevdeiv commented on #1380
Not really, comes enabled by default, unless you disable it :/

[2018-04-30 21:03] janat08 commented on #1359
theres --production flag (meteor --production) that does the config of files or serving strategy. It does that intentionally in regards to both/index.js for optimistic ui.

[2018-04-30 21:36] janat08 commented on #1380
Oh well, disable it for in typeahead.html

[2018-04-30 21:46] janat08 commented on #1359
Anyway the dynamic import for every route/home page isn't necesserily good, except that for no good reason it turned out to be unreallistically faster compared to it being in initial bundle. Otherwise, blaze hails from 2009-2013.

[2018-05-01 00:28] gazhayes commented on #1209
That would be too much of a sweeping change anyway.

[2018-05-01 00:32] gazhayes commented on #868
Yep, definitely. Especially since validation on that form is a problem.

[2018-05-01 00:52] gazhayes commented on #1359
Absolutely. There's a lot of time spent on DNS lookup for some reason, as well as redirecting from http to https, stuff like that. I'm looking into that.

[2018-05-01 01:02] #1322 closed

[2018-05-01 02:13] gazhayes opened #1384 "Problem: no Krazor price chart"
Problem: there's no current Krazor price, and no price chart.

Solution: use auction results to generate a chart.js chart showing price history in USD. For auctions denominated in other currencies this will require fetching the current USD prices from the currencies collection when the auction ends.

[2018-05-01 02:16] #1343 closed

[2018-05-01 02:58] gdevdeiv commented on #1380
Closed in #1383.

[2018-05-01 03:05] gdevdeiv commented on #1380
@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-01 03:57] geekyd commented on #1347
Done in #1385

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-01 07:44] #1380 closed

[2018-05-01 07:45] #1347 closed

[2018-05-01 07:46] janat08 commented on #868
@blockrazorbot claim

[2018-05-01 07:58] janat08 commented on #1209
I meant mapping blaze api to nx-framework api calls, converting all of blaze files to nx engine, possibly even for minimongo. I'd like to give it a try with the money back guarantee, with a ceiling of 8 hours payable. Blaze isn't actively maintained since 2015, and it's behind in terms of reactivity by generations with getters/setters and then proxies following it.

[2018-05-01 08:13] janat08 commented on #868
@blockrazorbot unclaim

[2018-05-01 08:16] gazhayes opened #1386 "Problem: Hybrid security model shows PoS and PoW algorithms"
Problem: [/addcoin] when users select the hybrid security model, the algorithm list populates with proof of stake and proof of work algorithms to choose from. Proof of stake algorithms should not be populated in this list, only proof of work.

[2018-05-01 09:06] AshHimself commented on #1324
@blockrazorbot label 'done'

[2018-05-01 09:07] AshHimself commented on #1324
Fixed in #1388
@blockrazorbot done

[2018-05-01 09:09] AshHimself opened #1389 "problem: smart contract URL captured but not in currencyDetail"
Problem: smart contract URL captured but not in currencyDetail

Solution: add smart contract attributes to currencyDetail view

@gazhayes - any further requirements you want to add?

[2018-05-01 09:12] gazhayes commented on #1389
No, but while you're in there can you move exchanges out of a modal and into a box on one of those tabs?

[2018-05-01 09:39] AshHimself commented on #1389
@blockrazorbot claim

[2018-05-01 11:03] gdevdeiv commented on #1386
@blockrazorbot claim

[2018-05-01 11:46] jigartankhupp commented on #1384
@gazhayes It's the same issue for Cloakcoin as well.
For some clarity - question : You are having this issue on compare currencies screen - correct ?
I see that prices don't show up for both the above mentioned currencies.
Also on currency detail screen there isn't any distribution added. Confirm please.

[2018-05-01 12:13] jigartankhupp commented on #1384
Just checked this. The currency name in collection for KZR does not match the currency Name in response given by coinmarketcap api. They don't have it in their system, just checked their site as well.
@gazhayes What other market place api would you like me to use here in place of coinmarketcap ?

[2018-05-01 12:13] janat08 commented on #1379
can't test "doesn't erase input on change of cursor observer" as I have no access to collections from webdriverIO.

[2018-05-01 12:16] janat08 commented on #1379
didn't test add behaviour since currency detail is being changed.

[2018-05-01 12:16] jigartankhupp commented on #681
@blockrazorbot claim

[2018-05-01 12:16] jigartankhupp commented on #1384
@blockrazorbot  claim

[2018-05-01 12:38] gazhayes commented on #681
@jigartankhupp you're probably better off to log an issue for a specific form (or whatever) and do them one at a time to avoid having a lot of changes with conflicts.

[2018-05-01 12:40] gazhayes commented on #1384
@jigartankhupp I noticed you took two issues at once. Unless issues are directly related, you should not take more than one issue at a time as this is a _blocking process_ and slows down the project because other people can't work on the issues you have 'reserved'.

[2018-05-01 12:44] gazhayes commented on #1384
@jigartankhupp Krazor is a different situation. If you notice in the issue, I mention _"use auction results..."_

That's because there is no API for Krazor, the price for Krazor is determined by the [auction/trading results](https://blockrazor.org/auctions) on Blockrazor.

[2018-05-01 13:07] janat08 opened #1390 "Problem: [/compareCurrencies] messes up navigation history"
Problem: Using back and forth after using typeahead will break back and forth navigation.

[2018-05-01 13:20] janat08 opened #1392 "Problem: typeahead constant refocusing on keyup triggers animation"
Problem: typeahead has to constantly destroy and initiate typeahead to be able to react to changes outside the template updating typeahead menu and then refocus since it creates 2 other input fields.

Solution: Block the animation on line 149 of typeahead.js ``!reset`` letting it run animation when select event fires and typeahead is refocused.

[2018-05-01 13:26] gdevdeiv commented on #1359
Although it's showing poor results, Lighthouse auditing is working fine now, we probably should open Issues to improve the score soon.

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-01 13:29] gdevdeiv commented on #1392
@blockrazorbot claim

[2018-05-01 13:43] gdevdeiv commented on #1386
Done in #1393.

@blockrazorbot remove "in progress"
@blockrazorbot label "done"

[2018-05-01 14:00] gazhayes opened #1394 "Problem: smartcontract selection does not update fields correctly"
Problem: [/addcoin] selecting the smartcontract checkbox should update the fields as follows:

This blockchain has been launched (genesis block has been mined) => This contract has launched been launched

This is a planned fork of the Bitcoin blockchain => null (this option should be removed when smartcontract is selected, a smart contract cannot be a bitcoin fork)

This is/was planned as an ICO =

[2018-05-01 14:04] janat08 commented on #1359
lux.min.js delays by 1.3 ms, its advised to separate essential CSS.
chart.js -> animations needs 900ms to evaluate
fonts shouldn't be invisible by 1300ms
fonts too small 76%, more than 75% of text should be over 16px for mobile (in SEO category)

for interpretation of screenshots
lux.min.js = bf8d...
meteor bundle/app = 743...

![screenshot 34](https://user-images.githubusercontent.com/11337345/39

[2018-05-01 14:07] janat08 commented on #1359
Feel free to open issues.

[2018-05-01 14:30] gazhayes opened #1395 "Problem: chart.js animations needs 900ms to evaluate"
Problem: it takes almost a whole second to evaluate chart.js animations.

Solution: disable chart animations on [/] and [/currency/:x]. Leave enabled on currency comparison page as the benefits outweigh the costs.

[2018-05-01 14:31] #1386 closed

[2018-05-01 14:33] gazhayes commented on #1359
Will close this now as Lighthouse is working. Please add individual issues for any low-hanging fruit, I added #1395 as an example.

[2018-05-01 14:33] #1359 closed

[2018-05-01 14:52] gazhayes opened #1396 "Problem: currency cards don't look very good"
Problem: the currency cards on [/] don't look very professional.

<img width="437" alt="screen shot 2018-05-01 at 10 50 08 pm" src="https://user-images.githubusercontent.com/8143945/39477503-0e1ecae4-4d92-11e8-9427-d891e88a5839.png">

Solution: propose mockups and see what everyone else says, or just send a pull request with UI changes.

[2018-05-01 15:13] janat08 commented on #1395
I suspect that evaluation encompasses animation duration, it would be good to see if changing animation time to 1 will impact the figure.

[2018-05-01 15:20] janat08 opened #1397 "Problem: lux.min.js + Google font blocks render"
Problem: chrome>devtools>audit says it takes 1300ms longer to render bf8d... file which beginning of which matches lux.min.js. It might be the case that time to render being so long might have to do with font import from CDN, **with lighthouse reporting that render was blocked also by 1300ms thanks to fonts being downloaded.** Light house suggested rendering some other font or something along thos

[2018-05-01 15:30] janat08 commented on #1392
In case I was unclear, all I'm asking for is:
[code]

[2018-05-01 15:34] janat08 opened #1398 "Problem: lighthouse audit says our font size is too small 50% of time for SEO"
Problem: chrome>devToools>audit ran on [/] will complain under SEO section that we use too small of a font size <16px 75% of time, while under 25% would be passable. I imagine not complying will rank us lower. I don't know/check if this is necessarily applicable [/] alone.

[2018-05-01 15:34] janat08 commented on #1359
added rest of the issues

[2018-05-01 15:55] janat08 opened #1399 "Problem: 3500ish ms boot up time for js according to lighthouse"
Problem: It takes 4 seconds to init js alone according to lighthouse (albeit with some major offenders w/o which its 2secs). Benchmarks: https://github.com/mitar/meteor-web-rendering-framework-benchmark, by blaze maintainer.

Solution: Use nx-framework which is expandable and based on proxies (5% audience usage unsupported) to render things reactively without editing any of the templates, but is a

[2018-05-01 15:59] janat08 commented on #1399
@blockrazorbot claim

[2018-05-01 16:09] gazhayes commented on #1398
I also personally find the fonts a bit small anyway.

[2018-05-01 16:11] gazhayes commented on #1399
Is nx meant to be used *instead* of Blaze?

[2018-05-01 16:18] janat08 commented on #1399
No we can still use and keep all of blaze html templates and helpers and hooks (the power of proxies).

[2018-05-01 16:19] janat08 commented on #1399
Although I'm unsure about the compilation steps, as in detecting the html that goes with a template.

[2018-05-01 16:37] janat08 commented on #1397
the issue is that page waits for the font to load before rendering, where a browsers font could be used instead, and loading CSS that is pretty much entirely responsible for how app looks asynchronously will mean that the app will load faster but will be ugly as hell when it does.

[2018-05-01 17:06] anbud commented on #1398
I'm used to small fonts (everything is small on a 12.5" screen), but I agree, the fonts could be bigger, especially in the side nav.

[2018-05-01 17:12] anbud commented on #1397
Would using something like [skeleton screens](https://www.sitepoint.com/how-to-speed-up-your-ux-with-skeleton-screens/) help in this situation? e.g. loading some simple CSS outline synchronously and then asynchronously loading the rest of the CSS and fonts that are responsible for how the app actually looks. I guess it would solve the problem of the app being ugly as hell initially.

[2018-05-01 17:16] anbud commented on #1390
I can't seem to replicate this one on production. What's exactly happening? Tried going back and forth, but it always landed on the page it's supposed to land.

[2018-05-01 17:49] janat08 commented on #1390
Land on [/], go to auctions via link, go to compare currencies, press enter, try to go back.

[2018-05-01 17:50] janat08 commented on #1390
Yes that works reliably. I tried this a bunch before it popped up again.

[2018-05-01 20:43] janat08 commented on #1399
Ill wait for reply here https://github.com/nx-js/framework/issues/15, or a sign of life or 10-15 days. @blockrazorbot label "unmet dependency".

[2018-05-01 20:56] anbud commented on #1356
Done in #1400.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-01 21:48] anbud commented on #1384
@blockrazorbot claim

[2018-05-01 22:34] janat08 commented on #1356
compatibility itself is dynamically imported.

[2018-05-01 22:36] #1356 closed

[2018-05-02 00:37] gazhayes commented on #1398
You work on a 12.5" screen!?

[2018-05-02 00:41] gazhayes commented on #1397
Yeah I was thinking the exact same thing.

[2018-05-02 00:43] gazhayes commented on #1397
Fixing the font issue will probably be enough though, that should be tried first. It till probably get us 80% of the way there, which is good enough. CSS can probably still be synchronous since it's really not that big.

[2018-05-02 00:51] gazhayes commented on #1399
In the longer term, we can always fork it and maintain it ourselves, but it had better work really well to justify it.

[2018-05-02 00:58] gazhayes opened #1401 "Problem: Uncaught ReferenceError: mime is not defined"
Problem: when uploading images (I tested by uploading a new currency logo on the currency detail page), this error is reported in the console and the image doesn't upload.

Solution: I believe this was broken here: https://github.com/Blockrazor/blockrazor/pull/1400/files
A test should probably be added too, so that this doesn't happen again.

[2018-05-02 05:49] AshHimself commented on #1389
@gazhayes - i've added the URL, but I think it makes sense to state some where on the page that this is a blockchain vs smart contract?

[2018-05-02 05:59] gazhayes commented on #1389
Yes, that too.

[2018-05-02 06:01] gazhayes commented on #1389
Also, where on addcoin is the URL input meant to be? Have you checked it's working on production?

[2018-05-02 06:39] anbud commented on #1401
@blockrazorbot claim

[2018-05-02 07:00] anbud commented on #1398
@gazhayes, yap, it's one those DELL Latitudes, it's quite portable, so I can carry it anywhere with me. :)

[2018-05-02 07:01] anbud commented on #1401
Fixed and added tests in #1402.

@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-02 07:34] AshHimself commented on #1389
@gazhayes https://blockrazor.org/currency/omisego you can see smartContract URL on this page if you want to check it out.

[2018-05-02 07:43] jigartankhupp opened #1404 "Problem: No client-side validation on add-feature form"
Problem: Form validation are bulkier on server side.

Solution: So implementing the client side validation as per meteor schema so it won't let data pass as long as it satisfies the criteria for add feature form inside currency detail screen.

This is one of the many issues that will be raised with regards to #681

[2018-05-02 07:43] geekyd commented on #1395
@blockrazorbot claim

[2018-05-02 07:45] jigartankhupp commented on #1404
@blockrazorbot claim

[2018-05-02 07:51] gazhayes commented on #1404
I updated the heading to make it C4.

[2018-05-02 07:54] geekyd commented on #1401
@gazhayes We can close this issue.

[2018-05-02 07:54] gazhayes commented on #1404
Should be something like:
"Problem: [/currencies/:x] no client-side form validation on add feature form

Solution: use validated-method and simpl-schema with bootstrap UX warnings. This means that data will not be sent to the server for validation unless it passes client side validation, and users will see nice errors directly on the form when there are errors."

[2018-05-02 07:59] #1401 closed

[2018-05-02 08:07] jigartankhupp commented on #1404
@gazhayes Noted
@blockrazorbot label "done"

[2018-05-02 08:08] jigartankhupp commented on #1404
@blockrazorbot remove "in progress"

[2018-05-02 08:17] jigartankhupp opened #1407 "Problem : FlowRouter deprecated warning in browser console"
Problem: FlowRouter.notFound is deprecated warning in browser console.
Solution: use FlowRouter.route('*', { /*...*/ }) instead!

[2018-05-02 08:17] jigartankhupp commented on #1407
@blockrazorbot claim

[2018-05-02 08:34] geekyd commented on #1392
@blockrazorbot claim

[2018-05-02 08:42] geekyd commented on #1395
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-02 08:49] jigartankhupp commented on #1407
@blockrazorbot label "done"
@blockrazorbot remove "in progress"

[2018-05-02 08:49] jigartankhupp commented on #1407
Done #1408

[2018-05-02 08:53] jigartankhupp commented on #1404
Done #1406

[2018-05-02 09:01] janat08 commented on #1399
- [ ] look into blaze compiler to see how this gets bundled, and yet isn't compatible with static-html package and so SSR, or look to how frameworks like vue bundle things

- [ ] register components bundling relevant html by creating component with js attached, and a parent one with HTML passed in into js component (since you have to pass in html into it separately), or/and look at migrating into

[2018-05-02 09:03] geekyd commented on #1392
@janat08 Can you please specify the steps to reproduce the situation?

[2018-05-02 09:05] janat08 commented on #1392
``refocusing on keyup triggers animation``

[2018-05-02 09:13] gazhayes commented on #1407
Since you logged this issue yourself, you can close it after you have validated that the solution works on the production server.

[2018-05-02 10:45] jigartankhupp opened #1409 "Problem : Incorrect pagination count on /transactions/"
Problem: Pagination count shows wrong values after selecting filter of transaction type on /transactions/:x

Solution: Send correct filter type to server as selected from dropdown of transaction type. So pass it to `transactionCount` following meteor function from client side. Same filter type also has to be passed on server side method while fetching data from collection.