[2018-03-10 23:18] #403 closed

[2018-03-10 23:18] #405 closed

[2018-03-10 23:21] gazhayes opened #448 "Problem: genesis block date change shown in epoch time"
Problem: proposed changes to the genesis block date are displayed in epoch time, should be converted to human readable format YYYY-MM-DD (I guess that's the best format to *not* confuse anyone with the whole American vs Normal date system).

[2018-03-10 23:25] gazhayes opened #449 "Problem: proposing change to genesis block is problematic"
Problem: inline text is used to change the date of the genesis block. If you don't use American date format (MM/DD/YYYY) it reports the change as NULL.

Possible solution: use a date picker

[2018-03-10 23:27] gazhayes opened #450 "Problem: when changing the security model, no data is shown"
Problem: empty list
<img width="458" alt="screen shot 2018-03-11 at 7 26 31 am" src="https://user-images.githubusercontent.com/8143945/37247860-a26051cc-24fd-11e8-81fa-748c7e4ebc07.png">

[2018-03-10 23:30] gazhayes opened #451 "Problem: data populated by API should not be editable"
Problem: when proposing changes on the currency detail page, some fields are editable that should not be:

circulating,
market cap

[2018-03-10 23:31] gazhayes opened #452 "Problem: cannot propose change to git repository"
Problem: on the currency detail page, it is not possible to propose a change to the git repository location

[2018-03-10 23:32] gazhayes opened #453 "Problem: cannot add notes to proposed changes"
Problem: sometimes when proposing changes, a user may wish to add notes or provide supporting evidence for the maintainers to look at.

@anbud not sure how best to go about this, what do you think?

[2018-03-10 23:46] anbud commented on #450
This thing is populated on localhost, yet it's not populated in production. I'll check the subscriptions.

[2018-03-10 23:50] anbud commented on #453
This is a valid request, I had the same idea while implementing the page, but I really don't know where to place it in the UI. There's no space to put it inline, and a modal may look a little bit weird.

[2018-03-10 23:50] gazhayes opened #455 "problem: when adding ICO, start time and end time of funding is needed"
Problem: When adding an ICO, users are asked for the start time (when funding or buying into the ICO can start) but not when funding will end. These dates will be used for countdown timers on the currency detail page.

currently:
<img width="894" alt="screen shot 2018-03-11 at 7 48 19 am" src="https://user-images.githubusercontent.com/8143945/37247990-b2465a84-2500-11e8-9ec0-d5b47672ac15.png">

Th

[2018-03-10 23:53] gazhayes opened #456 "Problem: dates on add currency page are not using date pickers"
Problem: dates on the add currency page use text boxes, but they should use date pickers wherever possible. Not sure if someone has written a date picker where you can also choose the specific time (useful for ICO launches).

related to #455

[2018-03-10 23:55] anbud commented on #451
Done in #457.

[2018-03-10 23:57] gazhayes opened #458 "Problem: ICO funds raised layout is bad"
Problem: currency dropdown should be inline with the currency amount field

<img width="898" alt="screen shot 2018-03-11 at 7 53 48 am" src="https://user-images.githubusercontent.com/8143945/37248029-7e13bf30-2501-11e8-8374-6419131f7642.png">

[2018-03-11 00:00] gazhayes opened #459 "Problem: no tooltip for block time on add currency page"
Problem: It's not clear what this is for. Should be something like "how many confirmations/blocks do exchanges or other services generally require before a transaction on this blockchain is accepted?"

<img width="275" alt="screen shot 2018-03-11 at 7 58 54 am" src="https://user-images.githubusercontent.com/8143945/37248056-4ea8d996-2502-11e8-9a20-d9890b44e30c.png">

[2018-03-11 00:03] anbud commented on #448
Done in #460.

[2018-03-11 00:07] gazhayes commented on #453
Yeah a modal would be weird. Maybe @MadanBhandari or someone else will have some ideas about where to put it.

[2018-03-11 00:07] #451 closed

[2018-03-11 00:08] #448 closed

[2018-03-11 00:12] #408 closed

[2018-03-11 00:13] anbud commented on #452
Done in #461.

[2018-03-11 00:21] gazhayes commented on #427
Another way would be to allow unlimited numbers of users to contribute to an auction to put their chosen coin at the top, i.e. a coin wins rather than a user. That way it can be more of a competition between currencies rather than between users.

@sjmackenzie @anbud @AshHimself

[2018-03-11 00:24] anbud commented on #450
Done in #462

[2018-03-11 00:38] #450 closed

[2018-03-11 02:11] anbud commented on #449
Done in #463.

[2018-03-11 02:16] anbud commented on #430
I agree, rewarding the top comments once an hour with a small amount of Krazor is a perfectly fine solution for this, it would bring some incentive. Of course, this rewarding process should be stated somewhere in the text, maybe when adding the comment/feature/red flag.

[2018-03-11 02:16] AshHimself commented on #430
Perhaps something like reddit gold where its visible as well that, that type of comment is rewardable?

[2018-03-11 02:17] #449 closed

[2018-03-11 02:18] anbud commented on #427
Yap, you're right, that's probably better, more users would participate then, meaning more coins for us.

[2018-03-11 02:19] gazhayes commented on #430
Can you post a screenshot?

[2018-03-11 02:37] gazhayes commented on #427
How would you structure it / build it in that case?

I was thinking about it and realized the coolest way (if we use the per-currency approach) could be to have an ongoing/continuous auction if we did it that way, instead of a once per day thing. Kind of like a parking meter to keep a currency at the top and the Krazor slowly drains away (into Blockrazor's wallet). That introduces a whole heap of

[2018-03-11 06:59] janat08 commented on #443
cryptoJS in user methods

[2018-03-11 07:22] janat08 opened #467 "Problem: /decentralization route is empty"
Problem: there's empty route in routes.js

Solution: delete it?

[2018-03-11 07:24] janat08 opened #468 "Problem: /server/imageUpload.js is full of random methods that belong in /imports"
Problem: imageUpload.js has lots of random methods that should be moved into appropriate api folders in imports.

Solution: someone who has clear idea what they do or where they belong might want to split them.

[2018-03-11 07:25] janat08 opened #469 "Problem: /server/communityrank.js should be moved to /imports"
Problem: Don't know where it should go or how to split it.

[2018-03-11 07:27] gazhayes commented on #467
Yeah that can go now

[2018-03-11 07:28] gazhayes commented on #469
@anbud

[2018-03-11 07:44] janat08 opened #471 "Problem: /currency/:slug is catching errors (ethereum)"
Problem: There're errors cought, in which file i don't know. Likely caused by #465
[code]

[2018-03-11 07:48] #467 closed

[2018-03-11 07:50] janat08 commented on #69
initializeuser might be a server only method, check it

sendMessage in imports in bounties/server/methods was imported from activityLog as function which is not a method.

ask some1 about the lib/Bounties as those functions are just left behind, replicated as utilities.js in /api

exposed hashing methods to client

exposed rewards.js to client as utilities.js and server.js

developers and codebase

[2018-03-11 08:16] gazhayes commented on #69
Are you fixing this?

[2018-03-11 08:17] gazhayes commented on #69
A few other things are broken too, e.g. compare currencies

[2018-03-11 08:20] gazhayes commented on #69
Actually, most of Blockrazor is now broken ;)

[2018-03-11 08:38] AshHimself commented on #69
yah I can confirm that most pages for me locally are not working.

On Sun, Mar 11, 2018 at 4:20 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-11 08:49] AshHimself commented on #393
Fixed in #473

[2018-03-11 08:57] AshHimself commented on #397
Resolved in #474

[2018-03-11 09:02] AshHimself commented on #374
@gazhayes just trying to replicate this now. Can you still replicate? Possibly fixed as part of was anbud did with the new inline edits?

[2018-03-11 09:14] janat08 commented on #69
fixed in #475

[2018-03-11 09:47] janat08 commented on #431
fixed in #477

[2018-03-11 09:48] janat08 commented on #431
not fixed

[2018-03-11 10:10] gazhayes commented on #471
ping @anbud

[2018-03-11 10:11] gazhayes commented on #468
That was me being lazy.

I'll have a look and either fix it or provide more info.

[2018-03-11 11:06] janat08 commented on #431
fixed.

[2018-03-11 11:27] AshHimself commented on #425
We spoke about this before @gazhayes, but I propose that part of the upload process we create a thumbnail, this is fairly straight forward and will speed page load time & yep I totally agree that it should be in a modal, easiest and best way to do it.

[2018-03-11 11:28] AshHimself commented on #453
You could do a confirmation modal after clicking save. e.g. you are proposing to change x to y and then have a notes field in the same modal.

[2018-03-11 11:38] janat08 commented on #442
Unsolved, giving up.

[2018-03-11 11:39] janat08 commented on #46
bountysource.com has integrations with github

[2018-03-11 11:45] janat08 commented on #459
doing this.

[2018-03-11 11:56] janat08 commented on #459
fixed.

[2018-03-11 12:04] janat08 opened #485 "Problem: addCoin field messages glitch"
Problem: If you enter duplicate currencyname then glitch happens

[2018-03-11 12:04] janat08 opened #486 "Problem: addcoins features section is out of style"
Problem:  Addcoins features are not styled in line with rest of the page

Solution: apply styles.

[2018-03-11 12:05] janat08 commented on #486
doing it.

[2018-03-11 12:23] janat08 opened #488 "Problem: /addcoin unresponsive"
Problem: Fields don't collapse on smaller resolutions. tooltips will also get in the way.

Solution: tooltips top. and something to do with the fields.

[2018-03-11 12:23] anbud commented on #469
I'll check it out, I believe I wrote it.

[2018-03-11 12:23] janat08 commented on #488
doing it.

[2018-03-11 12:24] anbud commented on #442
@janat08, what's causing issues here?

[2018-03-11 12:27] janat08 commented on #486
fixed #486

[2018-03-11 12:27] #486 closed

[2018-03-11 12:30] #393 closed

[2018-03-11 12:36] janat08 commented on #442
I don't know, it said it has issues with database/Bounties.js on the first line.

[2018-03-11 12:41] janat08 commented on #488
@gazhayes would you consider help-text instead of tooltips as I think tooltips in here are bad UX: https://getbootstrap.com/docs/4.0/components/forms/#help-text

[2018-03-11 12:41] anbud commented on #427
So, if I understood this correctly, each currency would have its own auction coins which would drain slowly when the currency is on top? And the one that has the most would be at the top until another one gains the lead? It is the coolest solution, way better than the time based thing, I like it. Reserving user's coins wouldn't be such a big issue, everything that he/she bids would be reserved unt

[2018-03-11 12:43] gazhayes commented on #425
Yes, at this point I completely agree

[2018-03-11 12:45] gazhayes commented on #453
That sounds like the best solution.

[2018-03-11 12:47] gazhayes commented on #485
Can you post a screen shot of what you mean? Or you just want to fix it yourself?

[2018-03-11 12:49] gazhayes commented on #442
@anbud can you get to the bottom of this one

[2018-03-11 12:52] gazhayes commented on #488
In many places the tooltips get in the way, but help-text deforms the page (a lot) because some items require a lot of explanation.

[2018-03-11 12:52] janat08 commented on #488
moved tooltips to top.

The layout doesn't use bootstrap, so I'm not doing rest of it.

[2018-03-11 12:56] janat08 commented on #486
@gazhayes btw as I recall there used to be options that added sections to forms, I couldn't find options that do that, but they're still in the template and maybe not styled.

[2018-03-11 13:06] gazhayes commented on #488
Responsiveness for anything other than "/" route is very low priority anyway.

[2018-03-11 13:06] #488 closed

[2018-03-11 13:07] gazhayes commented on #485
I see it now.

<img width="951" alt="screen shot 2018-03-11 at 9 07 00 pm" src="https://user-images.githubusercontent.com/8143945/37253711-2af46b00-2570-11e8-970b-0fc522defec7.png">

[2018-03-11 13:08] #459 closed

[2018-03-11 13:10] gazhayes commented on #443
@janat08 are you fixing this one?

[2018-03-11 13:16] #431 closed

[2018-03-11 13:22] gazhayes commented on #401
validated-method looks like a pretty good solution here, especially with the integration with simpl-schema.

This is low priority however, but should be kept in mind for new forms.

[2018-03-11 13:25] #374 closed

[2018-03-11 13:26] #397 closed

[2018-03-11 13:28] gazhayes commented on #69
@janat08 what's the status of this one now?

[2018-03-11 13:29] gazhayes commented on #385
ping @MadanBhandari @anbud @AshHimself for any ideas

[2018-03-11 13:32] gazhayes commented on #272
related: #401

[2018-03-11 13:36] AshHimself commented on #425
Done in #491

[2018-03-11 13:38] gazhayes commented on #425
I'm guessing this is because thumbnail generation only runs after uploading? If so no need to fix it.

<img width="251" alt="screen shot 2018-03-11 at 9 37 36 pm" src="https://user-images.githubusercontent.com/8143945/37254025-743e4c46-2574-11e8-8a3a-d188514d65f5.png">

[2018-03-11 13:40] AshHimself commented on #425
Yeh that's right mate.. next time you are cleaning up data maybe just blow away all the images in there now or something. File size on thumbnails is like 100 times smaller so page should load super fast now :)

[2018-03-11 13:41] gazhayes commented on #425
Oh hold up, directory is incorrect.

<img width="515" alt="screen shot 2018-03-11 at 9 40 31 pm" src="https://user-images.githubusercontent.com/8143945/37254068-e2738514-2574-11e8-858d-c628bb57c880.png">
<img width="429" alt="screen shot 2018-03-11 at 9 40 17 pm" src="https://user-images.githubusercontent.com/8143945/37254069-e29bbd36-2574-11e8-8510-0ee2735aa4c6.png">
<img width="186" alt="screen

[2018-03-11 13:43] gazhayes commented on #427
OK cool. Feel like building it?

[2018-03-11 13:47] AshHimself commented on #425
Pushed another PR

[2018-03-11 13:47] anbud commented on #427
Yeah, sure, I'll start soon.

[2018-03-11 13:48] anbud commented on #442
Sure thing, @janat08, give me a little bit more details and I'll assist you. :)

[2018-03-11 13:53] gazhayes commented on #425
Still wrong dir

[2018-03-11 14:03] AshHimself commented on #425
Ws using wrong helper name :( PR inbound.

[2018-03-11 14:07] AshHimself commented on #401
Happy to be corrected from someone else but I have used simpl-schema before in the past and any validation errors are done on save to the collection and not easily reported to the UI. Does another package assist to assist in that component? (without switching to auto-form)

[2018-03-11 14:23] AshHimself opened #494 "problem: unable to add comments to features"
Problem: unable to add comments to features, error: ReferenceError: Cookies is not defined
    at Object.click .comments

Solution: fix dependency error

[2018-03-11 14:23] gazhayes commented on #401
When you use it with collection2 it does that, but you can use it totally independently. I'd say we can probably define schemas separately and import them into server side and client side use of validated-method. This is definitely something to investigate and confirm however, there's no point in using something where code has to be repeated for client *and* server validation.

[2018-03-11 14:25] gazhayes commented on #494
This was probably broken globally by the structural changes, can you check it out and see.

[2018-03-11 14:33] janat08 commented on #69
Well the server still has stuff in it that I dont know what happens in or afrad it split it.

I haven't taken a look at bounties/:id as I wasn't sure it's a real route.

The list of concerns above are just there, but otherwise, I'm not working on the issue.

[2018-03-11 14:35] AshHimself commented on #415
Done in #495

[2018-03-11 14:35] AshHimself commented on #425
Looks to be fixed in #493

[2018-03-11 14:38] janat08 commented on #443
Doing this.

[2018-03-11 14:41] gazhayes commented on #69
OK.

Can you do two things:

1. Can you carefully elaborate on *all* the problems you are currently unable to solve for this to make it complete, and then @anbud and myself will go through them all and work it out.

2. List anything (related to this issue) that you can fix and still want to work on (if there is anything).

That way, we will have a comprehensive idea of what's remaining to be done

[2018-03-11 14:41] janat08 commented on #442
[code]
This uncommented produces error that's entirely useless.

[2018-03-11 14:47] gazhayes commented on #425
I'm getting this for the recent image you uploaded, but existing images are working.

<img width="177" alt="screen shot 2018-03-11 at 10 45 43 pm" src="https://user-images.githubusercontent.com/8143945/37254815-2fb49152-257e-11e8-8281-2146b88aab40.png">

[2018-03-11 14:54] gazhayes commented on #442
Thanks.

FYI You can do it like this instead of copy/pasting the code, it makes it much easier for us to find the right place in the codebase and track it.

https://github.com/Blockrazor/blockrazor/blob/b155014ead6dbfc5687bf6808549fedd2d300316/server/main.js#L13-L17

Copy the permalink (on github web interface):
<img width="1006" alt="screen shot 2018-03-11 at 10 51 17 pm" src="https://user-images

[2018-03-11 14:59] janat08 commented on #485
It looks like there're bunch of those in the form. I don't do CSS.

[2018-03-11 15:02] gazhayes opened #496 "Problem: no link to github repo"
Problem: people stumbling across blockrazor.org won't know it's under active development. Should add a link to github (with the appropriate font-awesome icon) in the menu bar or somewhere, and maybe something to indicate it's under active development.

[2018-03-11 15:04] gazhayes commented on #485
Yeah that's ok, it's good that you reported it, someone will fix it.

[2018-03-11 21:44] anbud commented on #442
It was a simple error, but it was a little bit difficult to spot.
`Applogs` had a lowercase `l` in the export command in `/imports/api/indexDB`, so importing `AppLogs` from there produced an undefined variable. Fixing it was just replacing `Applogs` with `AppLogs`.
Since it's a small fix, I've sent a PR in #497.

[2018-03-11 21:46] anbud commented on #471
On it.

[2018-03-11 22:12] anbud commented on #471
Done in #498.

[2018-03-11 22:25] anbud commented on #469
Done in #499.

[2018-03-12 04:23] #442 closed

[2018-03-12 04:24] #469 closed

[2018-03-12 05:50] AshHimself commented on #425
@gazhayes this all ok for you now mate?

[2018-03-12 05:56] AshHimself commented on #456
@gazhayes bootstrap timepicker supports this out the box. fiddle an example http://jsfiddle.net/Eonasdan/0Ltv25o8/

[2018-03-12 06:19] AshHimself commented on #496
Done in #500

[2018-03-12 06:33] AshHimself commented on #458
Fixed in #502

[2018-03-12 06:34] AshHimself commented on #453
I'll take this then as I think @anbud was assign a biggish ticket recently for the crypto wallet side of thinks.

[2018-03-12 07:53] AshHimself commented on #453
Done in #503

[2018-03-12 07:56] AshHimself opened #504 "problem: inline edit doesn't inherit field type"
Problem: inline edit doesn't inherit field type, therefore inline edit allows people to put string in integer only fields.

Solution: tbc, need to review documents.

[2018-03-12 07:58] #453 closed

[2018-03-12 07:59] #458 closed

[2018-03-12 07:59] #496 closed

[2018-03-12 08:00] gazhayes commented on #456
@AshHimself: IIRC @anbud has implemented a date picker on the currency detail page, check that for reference if you work on this one.

[2018-03-12 08:03] gazhayes commented on #425
No, still broken. Try uploading to production site and testing.

[2018-03-12 08:08] gazhayes opened #505 "problem: users can propose multiple changes on same data point"
Problem: when a user proposes a change on the currency detail page, it's still possible for them (or anyone else) to continue to propose more changes to the same data point. This could very easily create multiple changes for the same data point at the same time, or a 'conflict' in git pull request terms.

[2018-03-12 08:25] gazhayes commented on #471
@janat08 can you test to make sure this is solved, then close it.

[2018-03-12 08:26] janat08 commented on #443
is a global from jparker:crypto-md5

[2018-03-12 08:26] #443 closed

[2018-03-12 08:28] gazhayes commented on #456
Yeah that looks good. Just make sure it doesn't cause UI problems with the popovers/tooltips.

[2018-03-12 08:29] #415 closed

[2018-03-12 08:46] AshHimself opened #508 "problem: thumbnail images do not exist for all upload methods"
Problem: thumbnail images do not exist for all upload methods

Solution: add thumbnail image gd function to all upload methods which require a thumbnails & modal to view at a larger resolution.

[2018-03-12 08:52] janat08 commented on #471
"Exception in template helper: TypeError: val[0].join is not a function" fixed in #509

[2018-03-12 08:52] #471 closed

[2018-03-12 08:59] gazhayes commented on #494
Oops. Got confused with another issue.

[2018-03-12 09:00] janat08 commented on #69
Looking to solve them before having elaborate on them.

- [x] initializeuser might be a server only method, check it

- [ ] /bounties/:_id route isn't done since it's broken, the route is broken (http://localhost:3000/bounties/TgRzdcBd4iy8GeYA) and tries to render templates that don't exist, and in fact conflicts with currencydetails route as it has the same route name. Delete it?
- [ ] sendMessag

[2018-03-12 09:54] janat08 commented on #69
@gazhayes I'm done.

[2018-03-12 10:59] janat08 commented on #429
doing it.

[2018-03-12 11:23] janat08 commented on #429
Am I suppose to be able to assign myself to issues, the collaborator badge says I've been invited to collaborate yet the email invitation to accept does nothing.

[2018-03-12 12:19] gazhayes commented on #429
You can assign yourself to anything you want to work on, or if you comment and say you are working on something I'll assign it to you. I mostly use assignments to keep track of what's currently being worked on. I don't think you need to worry about the email, other than looking at it as a notification.

[2018-03-12 12:22] janat08 commented on #429
Could you invite me to collaborators again, I can't accept it.

[2018-03-12 12:25] gazhayes commented on #429
It looks like you've already accepted it, you're definitely on the collaborator list. What do you want to be able to do that you currently can't do? Self-assign?

[2018-03-12 12:30] janat08 commented on #429
yes

[2018-03-12 12:35] gazhayes commented on #429
OK, can you try again now (try to self assign)

[2018-03-12 12:47] AshHimself commented on #504
Fixed in #513

[2018-03-12 12:58] janat08 commented on #429
I can't following this: https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

[2018-03-12 13:13] MadanBhandari commented on #439
Updated on #514

[2018-03-12 13:25] MadanBhandari commented on #439
Closed by mistake

[2018-03-12 13:30] gazhayes opened #515 "problem: Exception in onLogin callback: ReferenceError: UserData is not defined"
[code]

[2018-03-12 13:35] gazhayes commented on #515
False alarm

[2018-03-12 13:35] #515 closed

[2018-03-12 13:36] gazhayes opened #516 "problem: Error: Cannot find module './desktop.scss'"
I haven't checked but I suspect this broke in the last pull request @MadanBhandari

[2018-03-12 13:37] gazhayes commented on #516
ping @janat08 and @AshHimself as well just in case.

[2018-03-12 13:45] janat08 commented on #516
see no problem

[2018-03-12 13:49] gazhayes commented on #516
Fixed in #517

[2018-03-12 13:49] #516 closed

[2018-03-12 13:51] gazhayes opened #518 "Problem: searching for currency on comparison page is tedious"
Problem: searching on the currency comparison page is tedious, the filter field modifies the dropdown list. Ideally this would be a dynamically filtered dropdown instead.

<img width="347" alt="screen shot 2018-03-12 at 9 49 06 pm" src="https://user-images.githubusercontent.com/8143945/37287312-826f30b6-263f-11e8-8831-05c812691289.png">

[2018-03-12 13:57] gazhayes commented on #429
Still not working?

[2018-03-12 13:58] #504 closed

[2018-03-12 14:01] janat08 commented on #429
I see no checkbox in issues list to select.

[2018-03-12 14:02] AshHimself commented on #518
@gazhayes select2 would do an awesome job here..

[2018-03-12 14:03] janat08 commented on #429
fixed in 519

[2018-03-12 14:06] AshHimself commented on #425
This is now resolved, was an issue with the watermark image location.

[2018-03-12 14:20] janat08 opened #523 "Problem: compare currencies doesn't use router"
Problem: linking to compare with other currencies from currency details page leads to blank page.

Solution: make compare currencies listen to url.

[2018-03-12 14:25] janat08 opened #524 "Problem: currency detail tabs under graph broken"
Problem:  Selecting tabs like coin destribution or code quality under graph doesn't open anything.

[2018-03-12 14:29] janat08 opened #525 "Problem: compare currencies doesn't link to currencies"
Problem: compare currencies doesn't link to currencies selected.

Solution: an icon left of name linking to currency.

[2018-03-12 14:29] AshHimself commented on #505
Some ideas;
1. Prompt the user that a change already exists to discourage them for making another if its the same?
2. Easily group similar changes somehow in the UI to best choose what needs voting up or down.
3. ???

[2018-03-12 14:32] janat08 opened #526 "Problem: difficult to quickly add currencies to compare currencies page"
Problem:  Selecting currency closes dropdown and it then veers outside the window if there're enough currencies which is aweful on mobile.

Solution: on selection clear filter text and enter/clear/focus input, or don't close dropdown. make currency selection stick to the left, and add currencies to the left of currency row.

[2018-03-12 14:35] janat08 commented on #526
doing this.

[2018-03-12 14:35] janat08 commented on #525
doing this.

[2018-03-12 14:35] janat08 commented on #524
doing this

[2018-03-12 14:35] janat08 commented on #523
doing this

[2018-03-12 14:35] janat08 commented on #518
doing this

[2018-03-12 14:37] AshHimself commented on #518
Doing what? UX type issues like I think deserve a little discussion.

[2018-03-12 14:44] janat08 commented on #518
He's basically asking for autocomplete. I've made a bunch of issues for the page and would like to own it ;).

[2018-03-12 14:52] janat08 commented on #518
I'd opt for typeahead as we need fairly custom solution, trying to style it as a combo box.

[2018-03-12 15:02] janat08 commented on #525
or I could style currency names as links (with on hover class), but then delete button would be uncomfortably close.

[2018-03-12 15:26] #425 closed

[2018-03-12 15:26] #494 closed

[2018-03-12 15:27] anbud commented on #427
Done in #494.

[2018-03-12 15:27] gazhayes commented on #505
The simplest solution I believe is to just disable any further changes until the previous change has been merged or deleted.

[2018-03-12 15:30] gazhayes commented on #524
Don't do this, just delete them.

[2018-03-12 15:31] gazhayes commented on #526
#518 should be done at the same time, otherwise let someone do 518 first.

[2018-03-12 15:33] gazhayes commented on #524
@MadanBhandari might already be doing it, this was mentioned in another issue #440.

This is an example of why it is important to keep up to date with all the issues.

[2018-03-12 15:39] gazhayes commented on #525
The icon thing is probably better, and if we can find the right icon it would also indicate that you are leaving that page.

[2018-03-12 15:45] MadanBhandari commented on #385
I am reading about these keywords mentioned in currency details page. Once I completely understood what each keywords means and it's importance, I will definitely suggest the layout. Currently on Reading/Research stage :)

[2018-03-12 15:48] gazhayes commented on #385
Try (accurately and correctly) adding a new currency, that will lead you to research the right type of stuff.

[2018-03-12 15:51] janat08 commented on #525
i could open in new tab

[2018-03-12 15:51] gazhayes opened #528 "Problem: some tests are breaking"
Problem: a few tests are breaking on master. Not sure which commit actually broke what.

[2018-03-12 15:57] gazhayes commented on #525
Nah too annoying, users should control when they want a new tab or not (right click => open in new tab).

[2018-03-12 17:54] MadanBhandari commented on #525
I have two points for Compare Currency page

1. Instead of having blank compare currency page, we could use add to compare (much like add to cart) button on currency details page or on home page itself. And also we need to set maximum currencies to be compared, otherwise user can select as many as s/he wanted, which eventually becomes unreadable and breaks UI as well.

[Reference](https://www.flip

[2018-03-12 18:06] MadanBhandari commented on #524
I am gonna re-work everything on currency details page [UI/UX]. One thing I did't understand is why there are wallet images, what does this mean ?

[2018-03-12 18:07] MadanBhandari commented on #439
This is done, please check and close.

[2018-03-12 19:22] anbud commented on #528
Fixed in #529.

[2018-03-12 23:28] gazhayes commented on #525
Both good ideas.

1. is a low priority thing at the moment, maybe we'll do it later. Another thing is users are going to want to bookmark or save currencies, we can put these currencies at the top of the list or something on the compare page.

2. is quite valuable, I'm going to log an issue for that.

[2018-03-12 23:29] gazhayes opened #530 "problem: currency comparison page cannot be shared"
Problem: users can't share the currency comparison page when comparing currencies

possible solution: rewrite route when adding currencies on compare page.

[2018-03-12 23:29] gazhayes commented on #530
ping @anbud

[2018-03-12 23:31] gazhayes commented on #524
Wallet images are just images of cryptocurrency wallets.

When reworking, make sure to use bootswatch to the maximum level.

[2018-03-12 23:40] gazhayes opened #531 "problem: icon on winning currency does not link to auction page"
Problem: the star icon on the top currency (which has won the auction) should link to the auction page so users can see how it works.

[2018-03-12 23:52] anbud commented on #530
Should we use something like `/compareCurrencies/ETH-XMR-...`? Maybe it would be prettier to do `/compareCurrencies/ETH/XMR/...`, but multiple optional values in the router can cause issues.

[2018-03-12 23:53] gazhayes opened #532 "problem: not enough digits after decimal place on currency auction page"
Problem: users can't 'feel' the Krazor draining away at /currencyAuction, maybe a few more decimal places will help

[2018-03-12 23:56] anbud commented on #531
This is done in #533.

[2018-03-12 23:59] gazhayes opened #534 "problem: currencies sorted by auction ranking"
Problem: currencies that have been beaten in the auction remain high up on the list of currencies. They should resume their normal position rather than staying high up on the list for free.

[2018-03-13 00:16] gazhayes opened #535 "problem: not clear that that users can bid to make currency go to top"
Problem: it's not clear in the UI that the top currency got there by bidding

possible solution: use https://fontawesome.com/icons/gavel?style=solid and also have small letters underneath saying "top bid".

[2018-03-13 00:18] gazhayes commented on #534
later we'll probably sort by razor rank (doesn't exist yet) but for now may as well use _id since it's already indexed.

[2018-03-13 00:24] gazhayes opened #536 "problem: currency previous names not utilized"
Problem: many projects become known by new names as time goes on. We should be able to fully adopt this data point. It is already included on the add currency page but not on the currency detail page (so users can't add them later).

Previous names should also be added to the $or search criteria when searching for a currency.

[2018-03-13 00:29] anbud commented on #534
@gazhayes, it's currently sorted by `createdAt` field, like it was before. This sorting by auction ranking was due to the fact that `featured` field was undefined for most currencies. I've just fixed it on production by updating the database, so it should continue to sort by `createdAt`. Should I change the sort parameter to sort by `_id`?

[2018-03-13 00:33] gazhayes commented on #530
Just use the simplest (ETH-XMR...)

[2018-03-13 00:34] #531 closed

[2018-03-13 00:47] gazhayes opened #537 "problem: specific areas on canvas rendering of chart.js radar graph are not independently actionable"
Problem: in order to provide help functions these areas on the graph need to be independently actionable. I only highlighted the chart area itself as actionable so it can go to the currency details route, but we could also just make it more clear with an icon or something next to the currency name that more details are available.

<img width="518" alt="screen shot 2018-03-13 at 8 43 25 am" src="ht

[2018-03-13 00:49] gazhayes commented on #534
Oh ok, no that's fine. We'll play around with sorting later, I just wanted to get the auction part working nicely.

[2018-03-13 00:49] #534 closed

[2018-03-13 00:55] janat08 commented on #530
there's already issue for it, and i took it.

[2018-03-13 01:09] janat08 commented on #530
in #523

[2018-03-13 01:13] janat08 commented on #537
we could try and use template literals to embed html with links or tooltips as labels, although i don't know if it will work on canvas.

[2018-03-13 01:13] gazhayes commented on #530
#523 isn't very clear about that, try to be more clear and specific with your issues.

[2018-03-13 01:14] janat08 commented on #530
I take this?

[2018-03-13 01:14] #523 closed

[2018-03-13 01:14] gazhayes commented on #530
Yep that's fine.

[2018-03-13 01:15] #528 closed

[2018-03-13 01:17] #524 closed

[2018-03-13 01:20] gazhayes commented on #439
Nice work @MadanBhandari

[2018-03-13 01:20] #439 closed

[2018-03-13 01:20] janat08 commented on #530
I'd like to use flow router api which will produce "?symbols=ETH+XMR".

[2018-03-13 01:21] gazhayes commented on #372
Are you still working on this one?

[2018-03-13 01:21] #396 closed

[2018-03-13 01:22] #427 closed

[2018-03-13 01:22] gazhayes commented on #333
What's the status of this one?

[2018-03-13 01:25] gazhayes commented on #440
related: #537

[2018-03-13 01:29] gazhayes commented on #537
Yeah, the combination of chart.js and canvas makes this a bit more difficult. If we can't crack this one ourselves I'll find someone who specializes in this field.

[2018-03-13 01:32] gazhayes commented on #530
Yeah try to use flow route API without adding anything extra, if possible. @anbud how would you go about this?

We should probably try to make it as search engine friendly as possible.

[2018-03-13 01:33] janat08 commented on #333
still isn't published.

[2018-03-13 02:04] janat08 commented on #371
I suppose the comparison graph is undone.

[2018-03-13 02:29] janat08 commented on #525
installed fontawesome with async script.

[2018-03-13 02:33] gazhayes commented on #371
Ah yes, that one is a bit more difficult. We can worry about that later.

[2018-03-13 02:33] #371 closed

[2018-03-13 02:35] gazhayes commented on #525
It was already installed, so you changed from blocking/synchronous to async import right?

[2018-03-13 02:38] janat08 commented on #525
uninstalled fontawesome, used fortawesome package already installed.

[2018-03-13 05:52] AshHimself commented on #485
Done in #538

[2018-03-13 06:35] AshHimself commented on #456
That package doesn't seem to play with boostrap4 at all. Will try a few more packages but for whatever reasons there doesn't seem to be many popular ones.

[2018-03-13 06:56] gazhayes commented on #456
OK. There must be a bootstrap 4 friendly one. Otherwise I guess just use the same in-line solution @anbud used on the currency detail page.

[2018-03-13 10:38] MadanBhandari commented on #372
This has been updated on #413 and #514. Sorry, I forgot to update here.

Please check and close this issues.

[2018-03-13 10:44] #372 closed

[2018-03-13 10:46] gazhayes opened #540 "problem: no maintainers file"

[2018-03-13 20:33] anbud commented on #536
Done in #541

[2018-03-13 20:38] anbud commented on #530
For SEO purposes, I believe it would be prettier to use something like `/compareCurrencies/ETH-XMR...`, where `ETH-XMR` would be an optional parameter.

[2018-03-13 20:56] anbud commented on #537
Since HTML canvas is basically an image, the only way to track clicks (actions) on it is to mathematically calculate where each element is (basic 2d space calculations), which shouldn't be that hard in our case, as labels are fixed and always in the same place.

[2018-03-13 20:57] anbud commented on #430
What's the status on this one?

[2018-03-13 22:35] #536 closed

[2018-03-13 22:36] gazhayes commented on #530
Yeah I agree

[2018-03-13 22:38] gazhayes commented on #430
No status. Do you want to do it?

[2018-03-13 22:41] gazhayes commented on #429
Not working

<img width="275" alt="screen shot 2018-03-14 at 6 40 44 am" src="https://user-images.githubusercontent.com/8143945/37373698-a974b974-2752-11e8-86ad-86e502240479.png">

[2018-03-13 22:46] gazhayes commented on #537
My concern with that would be flexibility when adding/removing things from the graph. I'll look at the chart.js code and see if there's something I can do from that angle.

[2018-03-13 23:03] anbud commented on #430
Yap, it seems interesting.

[2018-03-14 00:41] anbud commented on #535
Done in #542.

[2018-03-14 00:52] #535 closed

[2018-03-14 00:59] gazhayes opened #543 "Problem: "/" route does not use infinite scroll"
Problem: even in the early stages, Blockrazor has to be able to deal with 1000+ currencies and not break. From a UI perspective, 1000 currencies on the home route is not going to perform very well.

Also from a UI perspective, it's a bad idea to make users click "more" or something at the end of the page to keep loading more, this should be done automatically when hitting the bottom of the page.

[2018-03-14 03:39] gazhayes opened #544 "Problem: master wallet not properly accounted for"
Problem: currently, the total number of coins spent from the master Blockrazor wallet are calculated by taking the sum of the value of users wallets (I think, @anbud to confirm).

When users withdraw their Krazor to their Krazor wallet (not their Blockrazor wallet), it will throw this calculation off because the value of users Blockrazor wallets will drop, making it look like the master Blockrazor

[2018-03-14 04:45] gazhayes opened #545 "problem: no site usage statistics"

[2018-03-14 05:14] AshHimself commented on #545
You think something like mixpanel or GA ?

[2018-03-14 05:32] gazhayes commented on #545
Yeah probably GA just because it's simple and there are already packages to deal with it. Can always do something more funky later on.

[2018-03-14 05:33] #428 closed

[2018-03-14 05:36] gazhayes commented on #429
Oh I see you are denormalizing so will work with new data points, ok no problem.

[2018-03-14 05:36] #429 closed

[2018-03-14 07:11] janat08 commented on #530
I think SEO will be more likely to interpret conventional urls correctly, and I'd rather not have to play with regex to implement this.

[2018-03-14 10:21] janat08 opened #547 "Problem: currency comparison typeahead is not styled"
Problem: typeahead styles don't work. the original typeahead from twitter is unmaintained, and there's one from algolia (although it's a genuine fork, so it may break).

[2018-03-14 10:25] #525 closed

[2018-03-14 10:25] janat08 commented on #518
fixed in #546

[2018-03-14 10:25] anbud commented on #544
Currently, the total sum on the transactions page only includes transactions coming from or to the main wallet (where `from` field is either `System` or `Blockrazor`), so if a user withdraws coins to his/her Krazor wallet, the sum won't change.
The current system for draining works like this: The user bids a certain amount, and that amount is reserved from his wallet (transferred to the main walle

[2018-03-14 10:26] #526 closed

[2018-03-14 10:28] janat08 commented on #543
doing this.

[2018-03-14 10:28] anbud commented on #530
No need to use regex, just split the param at `-` and you're good to go. FlowRouter supports optional parameters out of the box.

[2018-03-14 10:28] #518 closed

[2018-03-14 10:30] gazhayes commented on #543
Can you make sure your other issues are completed before starting on new ones, unless the new one is related to an existing one you are working on.

[2018-03-14 10:32] janat08 opened #548 "Problem: /compareCurrencies typeahead unlimited"
Problem: there's no limit on the length of the options shown or searched.

[2018-03-14 10:35] gazhayes commented on #547
ping @AshHimself

[2018-03-14 10:36] gazhayes commented on #548
We can't really limit the length searched, otherwise people might not be able to find the currency they're looking for. We can limit the length displayed in the UI though.

[2018-03-14 10:37] gazhayes commented on #530
@janat08 if you are doing the #543 next please leave this one to @anbud

[2018-03-14 10:38] janat08 commented on #548
what sort order do you want for ui?

[2018-03-14 10:38] AshHimself commented on #547
I'll take a look tonight @gazhayes. I personally thought typehead just worked out the box with bootstrap but I could be wrong :)

[2018-03-14 10:39] gazhayes commented on #544
Ah ok, thanks for that explanation.

That should be ok then.

[2018-03-14 10:39] #544 closed

[2018-03-14 10:41] janat08 commented on #530
I'd like to see him do this.

[2018-03-14 10:41] gazhayes commented on #548
It doesn't really matter, I guess alphabetical makes the most sense

[2018-03-14 10:46] janat08 commented on #543
doing this.

[2018-03-14 10:47] janat08 commented on #548
what limit?

[2018-03-14 10:50] gazhayes commented on #548
For the UI? Just see what you think works well.

But for search it's important that the entire collection is searched. I'm not sure about the performance implications and what we can do about that though.

[2018-03-14 10:51] gazhayes commented on #547
Thanks. Also ping @MadanBhandari

[2018-03-14 10:54] AshHimself commented on #547
I got a solution for this. Taking :)

On Wed, Mar 14, 2018 at 6:51 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-14 11:01] janat08 commented on #548
if you pass a limit into search it will search entire database untill there're enough matches, if youre limiting UI it doesn't make a difference. although i suppose it's better if the entire collection is just loaded from method since you'd have limits on publications which will then be adversely affected I suppose, and create a local collection with results and operate from that.

[2018-03-14 11:03] gazhayes commented on #548
Yes that sounds good

[2018-03-14 11:04] gazhayes commented on #548
You could also denormalize just the names and _id and only fetch the rest of the data after they have selected a currency.

[2018-03-14 11:09] gazhayes commented on #543
This also has the same search issues as #548.

[2018-03-14 11:18] anbud commented on #430
Done in #549.

[2018-03-14 11:22] #430 closed

[2018-03-14 11:31] gazhayes opened #550 "Problem: no metric to determine quantity/quality of existing data"
Problem: the radar chart displayed for each currency needs some indication of how much data there is behind it in comparison to the amount of data behind other currencies.

For example the number of individual ELO rankings, whether or not APIs are working, etc.

This metric can probably be calculated with a cron job and inserted into the currencies collection, and the global min/max put into graph

[2018-03-14 11:33] janat08 commented on #543
I'll keep subscription on for fast render, and then stop rendering results from sub disabling it once the method is loaded? For this, I'd have to start passing data in from "smart component" to "reusable components".

[2018-03-14 11:44] gazhayes commented on #543
Is fast render still going to try and send 3000 currencies in with the first payload if you do that?

[2018-03-14 11:55] anbud commented on #530
Done in #551.

[2018-03-14 12:02] #530 closed

[2018-03-14 12:36] AshHimself commented on #547
Fixed in #552

[2018-03-14 12:51] janat08 commented on #543
I guess it will only send as many as we need for a page.

[2018-03-14 13:10] gazhayes commented on #543
OK. Well, I guess you should experiment and see what happens

[2018-03-14 13:15] janat08 commented on #530
you can't navigate back to a route with these params if you left it. the new params don't overwrite navigation history, or that is every time you pick or delete the browser history is spammed.

[2018-03-14 13:19] #547 closed

[2018-03-14 13:29] anbud commented on #530
Yap, you're right, should've used the `replaceState` instead of `pushState` to prevent history spamming. PR will follow soon.

[2018-03-14 13:33] anbud commented on #530
Fixed in #553.

[2018-03-14 13:36] AshHimself commented on #485
@janat08 - I believe you need to close this as you raised it.

[2018-03-14 13:42] anbud commented on #550
Yap, the easiest solution here is to count ELO rankings for each currency, and use it as we use other metrics (calculate global min and max in graph data, and place a field in the currencies collection to indicate the value). That way it would require minimal modifications to the current metrics infrastructure.

Stating it underneath the radar chart seems perfectly fine for now. Maybe we should gr

[2018-03-14 13:44] #485 closed

[2018-03-14 13:46] gazhayes commented on #550
That sounds pretty good. Want to do it?

[2018-03-14 13:48] anbud commented on #456
@AshHimself, [this](http://vitalets.github.io/combodate/) is the lib I've used for inline fields if you want to use it.

[2018-03-14 13:48] anbud commented on #550
Yap, I'm taking it. :)

[2018-03-14 13:49] AshHimself commented on #456
Thanks mate, planning on tackling this one tomorrow.

[2018-03-14 13:51] janat08 commented on #530
did replace state just fix the going back issue?

[2018-03-14 14:50] AshHimself opened #554 "Problem: unable to upload hash power image"
Problem: unable to upload hash power image, getting an error stating its already uploaded, when its not.

Solution: Investigate and fix code

[2018-03-15 00:25] gazhayes commented on #554
check https://github.com/Blockrazor/blockrazor/pull/519/files

[2018-03-15 05:45] MadanBhandari commented on #440
I have some idea about, how it should look.
![currency-details](https://user-images.githubusercontent.com/6429311/37446110-68f225b8-2841-11e8-94a3-055def16c544.png)

First grey area is for chart, and what you say about adding short description or intro of currency ?
ping @gazhayes

[2018-03-15 06:05] gazhayes commented on #440
There are already plenty of sites with introductions and statistics, the difference with Blockrazor is that all data is provided by the community (like wikipedia) and always up to date.

So it needs to highlight that fact. Anything in a prime position must be added by users (e.g. features + red flags at the moment). There could be a short summary, limited to x words, contributed by users (and vote

[2018-03-15 12:22] AshHimself commented on #508
This is ready for testing and pushed in #557 however I will not close until I resolve #554 and ensure thumbnails are working for hash images as well. I put the code in for thumbnails for hashpower however.

[2018-03-15 13:08] janat08 commented on #548
gonna check if this actually works

[2018-03-15 13:16] gazhayes commented on #548
It does appear to work, at least from the UI standpoint.

[2018-03-15 13:17] janat08 commented on #543
List of things to consider to add:
- show the item number being seen out of how many
- back to the top button
- all loaded styling
- if 2x limit is smaller then what could be seen in window it won't load anything else

[2018-03-15 13:19] janat08 commented on #548
it might not be actually making the switch to local collection even if it doesn't really use tracker.

[2018-03-15 13:24] gazhayes opened #559 "problem: github logo + link doesn't appear when logged out"
problem: github logo + link only works when a user is signed in.

The purpose of the logo/link is to let people know that blockrazor.org is under active development and to be very forgiving when the site is down or things don't work.

[2018-03-15 13:28] gazhayes commented on #543
I was thinking about  putting some statistics in the header nav instead (e.g. xx projects currently listed), something like that. Maybe the UI guys will have a nice idea about how to give users the impression that there are a lot of currencies (when there actually are a lot).

Yes I'd say this is pretty important

Can you explain what you mean?

I don't quite understand, can you explain this in a

[2018-03-15 13:29] gazhayes commented on #548
Ah I see. You're testing this now?

[2018-03-15 13:36] janat08 commented on #548
I assumed it would just work, on every keystroke it invokes an object. I reconsidered after the blaze test failed. fixed.

[2018-03-15 13:36] #548 closed

[2018-03-15 13:41] MadanBhandari opened #561 "Problem : Home page broken"
Problem : Error: Cannot find module 'ScrollMagic'

Solution : Not sure which PR broke this, Investigate and fix the issue.

[2018-03-15 13:42] janat08 commented on #543
when user reaches bottom, I just stuck a text explaining that they've reached the end of list.

a lot like in meteor forums' topics you'll have an indicator that shows what item you're viewing and how many are left

the limit is 15, if you have UHD screen it will load 30 items because it tries to fill the screen, if you're big enough (or you've scaled things down enough) it will load the 30 items

[2018-03-15 13:52] janat08 commented on #561
npm install

[2018-03-15 13:53] janat08 commented on #559
doing this

[2018-03-15 13:59] gazhayes commented on #543
OK, that has to be fixed. Do you think you're able to fix that? If not, can you log a separate issue?

[2018-03-15 14:00] gazhayes commented on #561
Fixing now

[2018-03-15 14:02] gazhayes opened #562 "Problem: when new packages are added, the production server doesn't automatically install them"
Solution: use shell scripts to start/stop/install packages/restart whenever the package file is changed in a merged pull request.

[2018-03-15 14:14] janat08 commented on #559
fixed in #564

[2018-03-15 14:26] janat08 opened #565 "Problem: defer call to set user preference for when to open/close sidebar"
Problem: the sidebar currently saves at which screen width it was opened or closed to then act accordingly on a repeat visit, but it will also update the preference on DB if the user just opens and closes the sidebar.

Solution: save the value locally, and upset when the client closes tab.

[2018-03-15 14:29] janat08 commented on #543
If you want to be basic about it, you could just do rough math that looks at the current layout and calculates appropriate beginning limit and increments for user. The library used for scroll tracking is fairly elaborate, and it likely is able to deal with this. I already explored it and decided to skip the issue. If someone has experience with ScrollMagic they should have a go, otherwise, I'd be

[2018-03-15 14:32] janat08 commented on #537
I'll give this a look tomorrow unless I forget.

[2018-03-15 14:33] gazhayes commented on #561
@janat08

ScrollMagic would not install, only scrollmagic

I changed the import but forgot to change the usage. Can you check if it is working and update if not?

[2018-03-15 14:36] gazhayes commented on #543
OK. I guess we should just actually test it on UHD screens and see what happens. I'll close this for now as complete, and open a new issue if there's a problem.

[2018-03-15 14:36] #543 closed

[2018-03-15 14:42] #559 closed

[2018-03-15 14:48] gazhayes commented on #442
@anbud Do we need the ostrioLoggerMongo collection or is everything going into applogs?

[2018-03-15 14:50] gazhayes opened #567 "Problem: no easy way to view applogs collection"
Problem: there's no easy way to view the applogs collection and sort or filter by level/message/timestamp.

Only something very very basic is needed.

@janat08 or @anbud do you feel like doing this?

[2018-03-15 15:02] gazhayes opened #568 "Problem: email address required to log in"
Problem: while in development we need to be able to login with usernames (without email addresses). However the login page requires @ symbol in the client side UI.

[2018-03-15 15:16] anbud commented on #550
Done in #569.

[2018-03-15 15:22] anbud commented on #442
@gazhayes, everything is going to `AppLogs`.

[2018-03-15 15:25] #550 closed

[2018-03-15 15:26] gazhayes commented on #385
ping @anbud can you link this to the metrics you just started collecting?

[2018-03-15 15:30] gazhayes commented on #532
ping @anbud and @janat08 very simple one but not sure who wants to do it

[2018-03-15 15:31] #49 closed

[2018-03-15 16:41] anbud commented on #567
I'll take this one.

[2018-03-15 16:42] anbud commented on #385
@gazhayes, surely. Should I just dim out the graph if the data quality rank is, let's say, below 1?

[2018-03-15 17:07] gazhayes commented on #385
Yeah, that would do, we can fine tune it later or whatever

[2018-03-15 17:08] gazhayes commented on #385
Oh and I guess it should be linked to the bounty page or something to suggest that users add more data

[2018-03-15 17:49] anbud commented on #567
Done in #570.

[2018-03-15 18:16] MadanBhandari commented on #568
Done in #571

[2018-03-15 18:50] #568 closed

[2018-03-15 19:14] anbud commented on #532
Fixed in #573.

[2018-03-15 19:26] #561 closed

[2018-03-15 23:12] gazhayes opened #575 "problem: currency logo images are broken"

[2018-03-15 23:14] gazhayes commented on #532
I haven't looked at the code for that page, how did you do the timing?

What I was hoping for was something like the bounties ticking up (except in the opposite direction)

[2018-03-15 23:18] gazhayes opened #576 "Problem: top nav bar is too light in color"
Problem: bootswatch generally has 3 navbar colors: light, medium, dark.

The dark one looks better, we should switch to that.

ping @MadanBhandari

[2018-03-15 23:20] gazhayes opened #577 "problem: bootswatch is not taken full advantage of throughout the entire site"
Problem: bootswatch isn't used throughout the entire site. It should be taken full advantage of so that changing theme is as easy as switching out a bootswatch style sheet.

ping @MadanBhandari

[2018-03-16 00:06] gazhayes opened #578 "Problem: some users are signing up"
Problem: some new users are signing up and the won't know the site is currently being worked on or that the database will be purged before being made made 'public'.

Solution:
Add these somewhere very prominent.

![activedevdark](https://user-images.githubusercontent.com/8143945/37496855-eec0cd58-28ef-11e8-9de3-b0df665daa67.png)
![activedevlight](https://user-images.githubusercontent.com/8143945/3

[2018-03-16 00:32] AshHimself commented on #578
I can do this right now if you like

On Fri, 16 Mar 2018 at 8:06 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-16 00:54] gazhayes commented on #578
Yep, it's only a little one but pretty important. You should probably replace the existing github logo

[2018-03-16 00:56] gazhayes commented on #578
While you're at it, can you make appropriate twitter and github links :)

[2018-03-16 01:21] AshHimself commented on #578
You got it

On Fri, 16 Mar 2018 at 8:56 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-16 01:23] anbud commented on #532
Sorry, I misunderstood the issue, I thought the point was just to increase the number of decimal spaces. I'll implement the timer accordingly. Since it's draining by the minute, I can simulate the drainage per second without a problem.

[2018-03-16 01:41] gazhayes commented on #532
It's my fault, I wasn't specific enough about the actual problem and assumed too much about how this was working without actually looking at the code

[2018-03-16 03:17] gazhayes opened #579 "Problem: "Found ... results" doesn't look good"
Problem: while waiting for collections to load, the text underneath the search bar says "found...results".

Possible solution: it would be nice if the entire text could be replaced with "loading" or something while waiting.

<img width="177" alt="screen shot 2018-03-16 at 11 15 00 am" src="https://user-images.githubusercontent.com/8143945/37501975-a7b7182e-290b-11e8-8e42-c167f66c0b9e.png">

[2018-03-16 03:23] AshHimself commented on #578
Being this is temp, should we just put this above the search bar on the home page, say 100px high? If needed I can create a quick cookie for them to dismiss it and not see it again.

[2018-03-16 03:48] janat08 commented on #579
I'll do this. and that the count doesn't update if local collection has already loaded.

[2018-03-16 03:49] gazhayes opened #580 "Problem: no way for users to report problems other than on github"
Problem: Blockrazor needs to be 100% community driven, this includes reporting problems (which includes requesting features), and finding a way to determine which problems are actually worth solving.

I _very tentatively_ propose something like this as a possible solution and hope for some realistic insights to curb anything that is silly or not necessary:

Users write the problem in the most accu

[2018-03-16 03:50] #46 closed

[2018-03-16 03:59] AshHimself commented on #580
I think you got most of it. Few suggestions;

- When typing the problem we should have an autocomplete to possibly list similar problems to avoid duplications.

- I suggest a notification type system to keep users in the loop of answers/postings etc. e.g. you put up a bounty for x item and an answer has just been posted, can you review within x days.

- Shouldn't they be able to edit the problem s

[2018-03-16 04:01] gazhayes commented on #578
Yeah that'll do it!

[2018-03-16 04:05] janat08 commented on #579
fixed in #582

[2018-03-16 04:05] AshHimself commented on #578
Fixed in #581

[2018-03-16 04:08] gazhayes commented on #578
Don't worry about the cookie (unless you've already done it)

[2018-03-16 04:08] AshHimself commented on #578
Nope, I didn't start it.

On Fri, Mar 16, 2018 at 12:08 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-16 04:08] #579 closed

[2018-03-16 04:12] gazhayes opened #583 "Problem: Exception in callback of async function: TypeError: Cannot read property '51' of undefined"
Problem:
This showed up in the logs, haven't checked it out but could be worth investigating.
[code]

[2018-03-16 04:15] gazhayes commented on #578
Can you remove the button as well as the twitter + github links and just use the image itself, also remove " marks from the modal. (Keep the github and twitter links in the modal though)

[2018-03-16 04:16] gazhayes commented on #578
On second thoughts, don't worry, just leave it, good enough for now.

[2018-03-16 04:17] AshHimself commented on #578
You sure? I have already done it.

On Fri, Mar 16, 2018 at 12:16 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-16 04:20] gazhayes commented on #578
Ah ok, may as well then ;)

[2018-03-16 04:35] sjmackenzie commented on #580
IMHO, don't interface with github just yet, if at all. Add a submission link on the site that displays a dialog which contains "Steps to reproduce", "Expected behaviour", "Actual behaviour" (maybe with a bit of blurb describing what they are.

Submit it to the database and monitor the messages. @gazhayes will probably manually need to understand and filter these problems.

Later the user problem m

[2018-03-16 05:17] AshHimself commented on #575
@gazhayes - I believe this is because coins are now referencing a thumbnail link instead of the orignal image. I just created a new coin then and it looked to work.

This raises another issue. Changing coin images is no longer possible, I created this functionality before but the old changecurrencies page has been decommissioned.

[2018-03-16 05:20] AshHimself commented on #554
Fixed in #584

[2018-03-16 05:20] AshHimself commented on #508
#557

[2018-03-16 05:20] #508 closed

[2018-03-16 05:24] gazhayes opened #585 "Problem: cannot propose changes to (or add new) currency logo"
Problem: currency logos can no longer be updated as we have moved away from the old currency update page.

Any solution should show the previous and new image on the proposed changes page.

[2018-03-16 05:24] gazhayes commented on #575
#585

[2018-03-16 05:25] gazhayes commented on #575
OK. Is there more than 30 minutes of work to make existing images work? If not it's probably worth doing

[2018-03-16 05:27] AshHimself commented on #575
I can download all the images that exist now, rename them with filename_thumbnail and then if you can upload them again that should fix it.

[2018-03-16 05:34] #554 closed

[2018-03-16 05:45] MadanBhandari commented on #404
Done #586

[2018-03-16 05:48] MadanBhandari commented on #576
I got it, I will do this as part of #577 , Overall UI-UX will be updated as per Bootswatch.

[2018-03-16 05:52] MadanBhandari commented on #577
I am used to write custom HTML, CSS for mostly every components. I will update existing as per bootswatch and will keep in mind in future issues.

[2018-03-16 07:34] janat08 commented on #210
you could add a square root modifier that will be inverse of exponential squared.

[2018-03-16 07:40] #404 closed

[2018-03-16 10:37] janat08 commented on #565
So I'm overwriting Meteor.logout() before I import router config on client index and with import from client folder that uses Meteor.startup and I expect this to load before layout does, yet it is not the case as it doesn't recognize my added methods.

[2018-03-16 11:13] anbud commented on #580
I agree, I think you've covered the most of it and that this would be a sufficient solution. We can reuse lots of existing bounty system infrastructure for this.

Editing problem statement should be locked when someone starts working on the issue, as changing the problem statement while someone is working could be bad.

I can just add that if we were to integrate this GitHub, it would be fairly ea

[2018-03-16 11:50] anbud commented on #532
Done in #588.

[2018-03-16 11:55] gazhayes commented on #565
@anbud

[2018-03-16 12:22] janat08 commented on #565
https://github.com/janat08/blockrazor/commit/938ba7a5c43643a9fde7d72c9f9841384c28744d

[2018-03-16 13:59] anbud commented on #565
I'll check it out to see if I can help somehow.

[2018-03-16 15:34] anbud commented on #385
Done in #589.

[2018-03-17 02:35] gazhayes opened #590 "problem: side menu doesn't close automatically on small screens"
Problem: when using a small screen, the side menu takes up most of the page width. When clicking a menu item users have to then close the menu to see the page.

Solution: make the side menu close automatically after clicking a menu item if screen resolution is less than x (whatever x should be)

[2018-03-17 02:40] AshHimself commented on #590
Am I the only one who can't see the full menu when on a small screen? I can see more menu items.

Solution: Use nested menu or scrollable menu.

![image](https://user-images.githubusercontent.com/148682/37550850-770a173e-29cf-11e8-94d6-0a9659fc9120.png)

[2018-03-17 02:42] gazhayes commented on #590
We should start using the top menu in addition to this, it would have to be quite different depending on screen size though.

[2018-03-17 02:45] AshHimself commented on #590
That massive "Welcome Ash Smith" can probably be removed as well.

[2018-03-17 02:48] gazhayes commented on #590
@madan will probably do that stuff, but he probably can't do the auto close part.

[2018-03-17 02:52] gazhayes commented on #575
Oh that's all that's necessary? I'll just rename them on the server

[2018-03-17 03:01] AshHimself commented on #575
You’ll need to make copies though... or the larger images won’t open in
modals if needed.

On Sat, 17 Mar 2018 at 10:52 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-17 03:48] gazhayes opened #591 "Problem: no currency summary"
Problem: there are features and red flags, but no summary for currencies.

This would have to be done in a similar way to features and red flags in that the best summary makes it to the top.

However, it wouldn't make sense to have more than one summary displayed. This introduces a UX problem: _how do we encourage users to vote on summaries when only one is displayed?_

Maybe a 'load more' thing a

[2018-03-17 04:46] janat08 commented on #591
https://www.agolo.com/splash

[2018-03-17 05:00] MadanBhandari commented on #590
Yes, there is no need to welcome message in side navigation, as user name already exist in top navigation (user to know about they are logged in).

[2018-03-17 06:05] gazhayes commented on #590
On small screens the username is too long usually, we should probably use the welcome thing on small screens instead of username at the top. Could have a user icon at the top though.

[2018-03-17 06:07] gazhayes commented on #591
@janat08 that looks very cool. I'm doing a bit of investigation into it now.

[2018-03-17 07:02] AshHimself commented on #585
Done in #592

[2018-03-17 07:03] AshHimself commented on #575
@gazhayes you could also actually just propose changes to the images you want to add now and approve them.

[2018-03-17 07:26] AshHimself commented on #575
@gazhayes  - tested and just changed https://blockrazor.org/currency/monero

[2018-03-17 07:33] AshHimself commented on #591
What about just creating another attribute and then people can propose changes to it. Could even use our current inline editor with the html5 editor;

![image](https://user-images.githubusercontent.com/148682/37552896-89cba54e-29f8-11e8-87f4-accf3ce6b260.png)

[2018-03-17 07:36] AshHimself commented on #590
When you say small, do you mean mobile? or like 13" mac

[2018-03-17 07:41] gazhayes commented on #591
Where is that?

[2018-03-17 07:46] AshHimself commented on #591
We are not using that right now, that’s just a screenshot from the inline
editor documentation.

On Sat, 17 Mar 2018 at 3:41 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-17 07:49] gazhayes commented on #590
Mobile.

And small tablets I guess. Basically anything that doesnt fit 2 tiles in width.

[2018-03-17 07:55] gazhayes commented on #591
Ah ok.

We shouldn't use WYSIWYG, too easy to make things look weird.

Some very basic and limited markdown might be a good idea though, but no reason to think that far ahead.

[2018-03-17 09:33] gazhayes opened #594 "Problem: errors with github API are not self-corrected"
Problem: when the github API poll runs, it doesn't ask users to update the repo url.

Possibly better solution: add the error to applog, and if it happens x times automatically remove the github repo from the currency's collection so that the currency detail page asks users to provide the repo. That way incorrect repos will automatically be fixed. If the server can't reach github or something howe

[2018-03-17 09:34] #567 closed

[2018-03-17 09:34] #532 closed

[2018-03-17 09:35] #385 closed

[2018-03-17 09:35] gazhayes commented on #594
ping @anbud

[2018-03-17 09:35] gazhayes commented on #591
ping @anbud and @MadanBhandari

[2018-03-17 09:42] gazhayes commented on #505
Remember to comment when solved

[2018-03-17 09:42] #505 closed

[2018-03-17 09:43] #575 closed

[2018-03-17 09:44] #585 closed

[2018-03-17 09:58] gazhayes opened #595 "problem: 'features' section on currencydetail route is collapsible"
Problem: this requires extra unnecessary clicks. Things should be as simple as possible.

Possible solution: limit results to x and use a 'load more' button to show more.

@janat08 you might like this one.

[2018-03-17 10:47] anbud commented on #590
@AshHimself, you're not the only one, I don't see all items on the menu as well, on a 13" Dell laptop. Scroll would be lovely here.

[2018-03-17 10:48] anbud commented on #594
I'm on it.

[2018-03-17 11:00] gazhayes commented on #590
@anbud can you log that as a new issue?

[2018-03-17 11:01] anbud commented on #591
@gazhayes,
Yap, the simplest solution here would be what @AshHimself suggested, add a new summary attribute and let users propose changes to it. That sounds perfectly fine and that would require minimal changes to the current codebase.

But, we lose two things in that solution. First is the ability for users to vote on summaries, which may be a little bit against the community-driven approach we h

[2018-03-17 11:09] gazhayes commented on #591
@anbud @ashhimself

The simplest solution to adding a summary would definitely be the "propose change" way, however that would't be the simplest solution if we want this to produce a hill climbing algorithm so that we end up with the *best possible* summary.

So I think copying the features/red flags approach would actually be the simplest solution to the real problem.

[2018-03-17 11:10] AshHimself commented on #591
Roger that. I've done the red flag section so happy to take it.

On Sat, Mar 17, 2018 at 7:09 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-17 11:11] gazhayes commented on #591
Your existing open ones are starting to pile up, can you close them off first before taking a new one?

[2018-03-17 11:29] gazhayes opened #596 "problem: weird wallet layout on mobile"
Problem:
![s80317-19201024](https://user-images.githubusercontent.com/8143945/37554801-c90e7ca2-2a18-11e8-887b-cc5056e28499.jpg)

Anyone else getting this?

[2018-03-17 11:30] anbud commented on #594
Done in #597.

[2018-03-17 11:36] anbud commented on #596
@gazhayes, this is what I get, it's basically the same.
![img](https://eu1rgn-api.samsungcloud.com/ors/v2/public/download/1jALU0xtI4xg_760?auth_code=3356)

[2018-03-17 11:50] anbud commented on #591
@AshHimself, if you're busy with other issues, I'll be happy to take it. :)

[2018-03-17 12:06] janat08 commented on #595
Ill take it

On Sat, Mar 17, 2018, 3:59 PM Gareth Hayes <notifications@github.com> wrote:

[2018-03-17 12:07] gazhayes commented on #591
@anbud please take it

[2018-03-17 12:12] janat08 commented on #595
not taking

[2018-03-17 12:23] gazhayes commented on #590
We can also combine all the moderator menu items as one

[2018-03-17 12:33] janat08 commented on #590
It's actually already the case that sidebar will close on mobile resolution (besides the fix already pushed). To be able to see two columns of stuff on main page you basically have to be at 1200px :D the highest breakpoint, you can check it out with session variable the defines breakpoints.

[2018-03-17 12:41] gazhayes commented on #590
On small screens the menu should not stay open at all, it should close when a menu item is clicked.

[2018-03-17 12:42] janat08 commented on #596
its the bad merger of layout components. the wallet and notification pages acted as if they're alone on the page previously (i got the same error when trying to migrate classes from original navbar to new one in imported). I speculate that this is from when scss styles were merged into a single file.

[2018-03-17 12:43] gazhayes commented on #590
Your last PR doesn't look like it solved the issue

[2018-03-17 12:46] gazhayes commented on #596
Ping @MadanBhandari

[2018-03-17 12:50] MadanBhandari commented on #596
![](https://i.imgur.com/L5DqUgD.jpg) Looks good on my phone, can you tell me which phone you are using ?

[2018-03-17 12:51] janat08 opened #599 "Problem: /addcoin to main navigation breaks page"
Problem:  /addcoin to main navigation breaks page: "Cannot read property 'eloRanking' of undefined"

[2018-03-17 12:53] gazhayes commented on #590
Was just cache on my phone.

[2018-03-17 12:53] #590 closed

[2018-03-17 12:54] gazhayes commented on #596
Log in with frank:rodviv

[2018-03-17 12:58] gazhayes opened #601 "problem: no sample login credentials"
Problem: new developers need to see moderator and user views with populated data.

Solution: add exampele creds to readme.

I'll take this.

[2018-03-17 13:05] MadanBhandari commented on #596
@gazhayes looks fine on my mobile :thinking: ![](https://i.imgur.com/YkI9J3a.jpg)

[2018-03-17 13:06] anbud commented on #596
@MadanBhandari Samsung S8 in my case, it has quite a big screen.

[2018-03-17 13:18] gazhayes commented on #596
I dont have access to a computer right now, maybe you can check the resolution of those screen grabs and see if there's something there.

[2018-03-17 13:20] MadanBhandari commented on #596
I have checked all the available devices on Chrome, I will also check on some manual screen sizes too.

[2018-03-17 13:26] gazhayes commented on #596
Strange. @janat08 can explain more about what you think is causing this?

[2018-03-17 13:29] janat08 commented on #595
did the load more logic.

[2018-03-17 13:37] janat08 commented on #596
if you apply some class that used to be on topbar or sidebar before the migration to imports, you'd get this look. then we MadanBhandari combined layout styles where he could've merged class styles, although i was also using chrome.

[2018-03-17 13:41] janat08 commented on #596
PS: that is combined styles from the old primary layout into new one that he recreated in imports folder that we're using.

[2018-03-17 13:45] gazhayes commented on #596
@MadanBhandari since you are redoing everything with bootswatch you should take this one and see what happens when you restyle it. Maybe it will resolve itself.

[2018-03-17 13:46] MadanBhandari commented on #596
Yes, I will check and will remove all unused css as well, I have checked on chrome responsive with s8 dimensions, it's also looks fine here.

[2018-03-17 13:51] samuelralak commented on #596
applying `width: 100%` to the `.card` seems to fix this issue. Its a quick fix and works fine on all layouts. checkout screenshot below:

<img width="1187" alt="screen shot 2018-03-17 at 4 47 15 pm" src="https://user-images.githubusercontent.com/4476552/37556178-3ff0a43c-2a03-11e8-8546-6d508d852022.png">

[2018-03-17 13:52] gazhayes commented on #596
That is definitely the simplest solution!

[2018-03-17 13:58] gazhayes commented on #596
Yep! Perfect :)

[2018-03-17 14:55] samuelralak commented on #456
@AshHimself have you started working on this already? I would like to pick it up

[2018-03-17 15:13] samuelralak commented on #596
@gazhayes I would also suggest truncating the total balance after x characters. on smaller devices the total balance value seems to overflow outside the `alert.alert-info` div when characters(digits) are too many. kindly let me know your thoughts on this or if its worth creating a seperate issue of its own?

[2018-03-17 15:20] gazhayes commented on #596
You should create a new issue for that.

Also, the way we usually do things is to comment on an issue that you have solved to let the person who logged the issue know that there are no more pull requests coming and they can test + close the issue.

You're finished with this particular issue, right?

[2018-03-17 15:27] samuelralak commented on #596
@gazhayes got it 👍. Yes, am done with this issue

[2018-03-17 15:28] #596 closed

[2018-03-17 16:12] gazhayes commented on #595
ping @MadanBhandari

[2018-03-17 16:15] gazhayes opened #604 "problem: add feature button breaks after adding a new feature"
Problem: Occurs on the currencydetail route. When adding a new feature everything works. However no more features can be added after this as the button breaks. A page refresh makes it work again.

[2018-03-17 16:18] gazhayes opened #605 "problem: compare with other currencies button doesn't populate comparison page with the referring currency"
Problem: when clicking the compare currency button (currencydetail route) it sends the user to the comparison route, however it doesn't pass in the currency code for the currency they were just viewing.

[2018-03-17 16:20] gazhayes commented on #537
If nothing happens within a week from now let's just use 2d space calculations instead.

[2018-03-17 16:21] #424 closed

[2018-03-17 16:28] gazhayes opened #606 "Problem: proposed changes being merged after just one approval"
Problem: proposed changes should (and were) being merged after 3 approvals. However they seem to be merged after the first approval.

ping @AshHimself

[2018-03-17 17:11] anbud commented on #591
Done in #607.

[2018-03-17 20:21] samuelralak commented on #456
@gazhayes submitted a PR for this [here](https://github.com/Blockrazor/blockrazor/pull/608), needs your review

[2018-03-18 00:05] AshHimself commented on #456
I had started but looks like you submitted a PR anyway so thats fine.

[2018-03-18 00:21] gazhayes opened #609 "problem: radar charts on home route do not always render"
Problem: when going to the home route from most other routes using the browser's back function radar charts are not rendered.

[2018-03-18 00:28] gazhayes opened #610 "problem: too many UI elements for currency summaries"
Problem: The currency summary section currently uses a button to "show other summaries" and also "load more". This is too convoluted.

Solution: ideally there would be a single "show more" button.

[2018-03-18 00:53] gazhayes opened #611 "Problem: features/red-flags/summaries/comments are not sorted by rating"
Problem: When I originally built the features section I sorted comments and features by `rating`. The rating is a ratio between upvotes and total votes. This has been lost somewhere along the way.

https://github.com/Blockrazor/blockrazor/blob/0df2d3e1bf15c130b1d4222af33955c0498d3881/imports/api/features/methods.js#L5-L20

This means that brand new summaries/features/comments/whatever SHOULD *alwa

[2018-03-18 01:03] AshHimself commented on #606
Hey @gazhayes, this is just a config item in properties.js Its set as 0 right now so we can test changes straight away without having to wait for someone else to vote on it.

[2018-03-18 01:54] gazhayes commented on #606
Ah cool, ok that's actually perfect anyway.

[2018-03-18 01:54] #606 closed

[2018-03-18 02:29] AshHimself commented on #578
Removed other components  in #612

[2018-03-18 02:45] #578 closed

[2018-03-18 03:05] gazhayes opened #613 "problem: no official logo"
Problem: blockrazor does not have an official logo.

A few different logo formats are required but all must be very recognizable as the same thing:
1. Horozontal logo - used in nav bars etc
2. Square logo - used for profile picture type places, e.g. Twitter, github, maybe other places
3. Icon - used for favicon or other places that require a small icon type logo
4. All 3 of the above must have dar

[2018-03-18 03:17] AshHimself commented on #455
@gazhayes - This is done and i'll send a PR now. A few things to possibly discuss.

- This took ages to test as there was so much clicking to get a full date set. (Do you think this process is something users would be doing often? If could be worth investigating.

- Validation on client is confusing. The field names do not match the validation errors. Example; start time GMT is what the user see's

[2018-03-18 03:25] AshHimself commented on #455
Fixed in #614

[2018-03-18 03:54] gazhayes commented on #455
I'll log some new issues for these.

[2018-03-18 03:54] #455 closed

[2018-03-18 03:58] gazhayes opened #615 "problem: adding a new blockchain project not as simple as possible"
Problem: the 'add currency' route could probably be simpler. I've opened this issue to start a discussion and see if it's worth doing anything about it. Please go and try to add a new currency so you get a feel for how it works and then come back here and share your criticisms and ideas :)

ping @samuelralak @AshHimself @sjmackenzie @janat08 @MadanBhandari @anbud @kevgathuku

[2018-03-18 04:02] gazhayes opened #617 "problem: [/addcoin] client side validation on add currency page is complicated and confusing"
Problem: client side validation on the add currency page is confusing.

Possible solution: from the UI perspective we should probably use jquery or whatever to highlight invalid fields onBlur.

On the server side and client side, it's probably best to use simplSchema and validate based on that so that we don't repeat validation logic. This could be executed on the client side and data only sent to

[2018-03-18 04:03] AshHimself commented on #604
Fixed in #616

[2018-03-18 04:31] #604 closed

[2018-03-18 05:33] gazhayes opened #619 "Problem: clicking usernames does not go to user profile page"
Problem: users should be directed to user profile pages onClick (anywhere that usernames are displayed).

Pretty sure this was working on the currency detail page but is now broken.

[2018-03-18 06:59] AshHimself commented on #610
@gazhayes - fixed in #618

[2018-03-18 07:02] #610 closed

[2018-03-18 07:25] janat08 commented on #617
https://github.com/meteor/validated-method#validation-and-throwstubexceptions
or wtv.

[2018-03-18 07:28] AshHimself commented on #609
I have a fix to get this working.

[2018-03-18 07:32] AshHimself commented on #617
@janat08 I believe we are more talking about UX level on top of what you are talking about. e.g. highlight the culprit fields and provide a UX friendly error stating what they need to do to resolve their issue.

[2018-03-18 07:50] #605 closed

[2018-03-18 08:03] gazhayes commented on #617
@janat08 and @AshHimself I think you're both right. Validated method is a good solution for both client and server side validation. Jquery is a good solution for client side DOM manipulation to show the user which specific fields failed validation.

Is this making sense to both of you?

[2018-03-18 08:50] AshHimself commented on #617
Bingo.

[2018-03-18 08:55] gazhayes commented on #617
I need to actually verify that those forms right though from a blockchain project standpoint, I'll probably be logging an issue in the next few days with updates to the form. Solving that will be a dependency for solving this one (otherwise work will have to be repeated).

We do need to decide on the simplest solution however (the least amount of code required to solve this).

Has anyone actually

[2018-03-18 09:26] gazhayes opened #621 "Problem: deciding (fairly and openly) who the best contributor is"
Problem: Every 2 weeks, I'm going to award the best contributor $100, it's not meant to be an incentive but a token of appreciation for making my life (and everyone else involved in the project) easier. All contributors to the project are eligible.

These things can sometimes go horribly wrong, so I want to first check that everyone is onboard with the idea itself as well as the criteria for choos

[2018-03-18 09:58] AshHimself commented on #617
I’ve used both before with auto form.

On Sun, 18 Mar 2018 at 4:55 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-18 10:00] gazhayes commented on #617
I think autoform uses allow/deny rules instead of using methods, right?

[2018-03-18 11:17] samuelralak commented on #621
Its a good idea and am fully onboard. its a good motivation too :). but whats the voting process; how will we cast our votes?

[2018-03-18 11:19] samuelralak commented on #456
ok cool, @gazhayes this issue can be closed. I won't be making any more commits on this

[2018-03-18 11:24] gazhayes commented on #621
I'll make an issue every voting day and people can say who they want to vote for and why. If they want to email me privately it's also ok.

[2018-03-18 11:28] gazhayes opened #623 "problem: @ashhimself's commits are not showing up in the contributor graph"
Problem: commits from @AshHimself are not showing up [here](https://github.com/Blockrazor/blockrazor/graphs/contributors)

@anbud or @sjmackenzie might know why.

[2018-03-18 11:36] janat08 commented on #615
the tooltip text is blurry on uhd screen.

required fields unmarked.

some field should be focused to demonstrate the tooltips.

unresponsive.

select fields don't expand on focus with tab (don't know if they actually do).

features section goes empty if everything is unchecked, but title remains

if you select all options it looks bad.

[2018-03-18 11:36] janat08 commented on #615
My suggestion going way back to use aside instead of tooltips not that it's any more responsive.

[2018-03-18 11:39] #591 closed

[2018-03-18 11:39] #594 closed

[2018-03-18 11:40] janat08 commented on #617
I don't know what jquery lib offers, but I imagine there should be some error message with which you could invalidate ui fields in MDG lib.

[2018-03-18 11:45] AshHimself commented on #617
It does, I don’t suggest we use it either as i had major issues with it on
Meteor 1.6. We can use simpleschema though without it no issues. I suggest
we get it up and running just on one page to start with. e.g. posting
comments or something similar complexity.

On Sun, 18 Mar 2018 at 6:00 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-18 11:47] gazhayes commented on #615
Yep, good catch.

This page will basically only be used by people on an actual computer.

Can you explain more?

[2018-03-18 11:48] AshHimself commented on #623
Ok I just went through some of the steps in this page https://code.bradymower.com/why-arent-my-commits-showing-up-on-my-contributions-graph-52141efa7542 and my emails for whatever reason did not match. Let's check after my next PR.

[2018-03-18 11:51] AshHimself commented on #615
@gazhayes - I seriously think we should investigate an another more UX friendly datepicker. I did find another that wasn't purely for bootstrap and it does look easy to use. Maintained repo too https://github.com/xdan/datetimepicker

[2018-03-18 11:58] gazhayes commented on #617
It's not really a problem on those pages, there's only one field per form and the errors are working properly with no performance issues etc as far as I can tell.

It's worth it for the add currency page because it's actually not working properly at the moment so something has to be done anyway. It's also one aspect that will very likely change very often as we hit the firehose of reality and disc

[2018-03-18 12:08] gazhayes commented on #615
Just log it as a low priority issue for now to track it. I'm actually not sure what's more convenient anymore because datepickers usually (looks like this is no different) require a shitload of clicks when you want to go back a few years (and many of these projects go back almost 10 years).

[2018-03-18 12:24] gazhayes commented on #580
OK, I have updated this based on everyone's comments.

Users search for existing problems first, and can then log an issue if there aren't any existing issues addressing the same thing. This should basically be the list of all issues (open and closed) that are filtered as the user starts typing.

When the user does not find what they want, I can see 3 possible outcomes at this point: user has a qu

[2018-03-18 12:30] AshHimself commented on #615
@gazhayes  NLP date picker then :P https://sugarjs.com/

[2018-03-18 12:32] gazhayes commented on #623
Ah yes that would explain it.

[2018-03-18 12:43] AshHimself commented on #619
Taking this. @anbud we don't have a sub setup for the users collection and that is the only table which seems to old the users slug. For example. To link to the users profile from the features table all we have is the author name and id. Thoughts?

[2018-03-18 12:51] AshHimself commented on #621
Great idea! I'm all for it.

[2018-03-18 13:05] AshHimself commented on #609
Ok so I could replicate this before but now I can't.. are you still able to replicate this @gazhayes ?

[2018-03-18 13:16] gazhayes commented on #609
Huh, weird, it was 'working' earlier today. Maybe someone snuck in a sneaky fix.

[2018-03-18 13:16] #609 closed

[2018-03-18 13:56] anbud commented on #621
Yap, I agree, it's a great idea. :)

[2018-03-18 14:44] janat08 commented on #617
I think he wants a test run.

[2018-03-18 14:46] janat08 commented on #615
some field should be focused to demonstrate the tooltips.:
the fields are technical, and it's not evident that there're tooltips for them before user decides to not add currency.

[2018-03-18 14:59] gazhayes commented on #617
No need for that. We can test it for real.

[2018-03-18 15:21] janat08 commented on #617
to draw comparison between potential solutions?

[2018-03-18 15:31] #583 closed

[2018-03-18 15:33] gazhayes commented on #580
Oh also @anbud can you look at using simplschema with mdg:validated-method and Jquery (or whatever) client side for UX errors when you do this one?

[2018-03-18 16:59] samuelralak commented on #595
well, the features section is still collapsible and in my opinion non-intuitive. It simply looks like an ordinary section header and one would easily assume that this particular section has no content. Personally I didn't know I to click on it to see content until I came across this issue.

<img width="1241" alt="screen shot 2018-03-18 at 7 49 15 pm" src="https://user-images.githubusercontent.com/

[2018-03-18 17:37] anbud commented on #617
I've been using simplschema with validated method before, it's not too complex, and it's quite good for this issue I believe. About UI validations, jquery to the rescue. We can probably also use meteor's built-in reactivity to, for example, highlight invalid fields and stuff.

[2018-03-18 18:56] anbud commented on #619
@AshHimself,
The idea here was to have a popover whenever you hover over a username, and then it could take you to user's profile. To use the `userHover` template, you just need to pass the `_id` and it would do the rest (subscribe to users collection, get profile image and link to user's profile).

But, if you want to just link to user's profile, and you have the username, you can generate the sl

[2018-03-18 19:07] anbud commented on #615
I'm not sure about changing the date picker, this one works perfectly fine, and it's usually quite hard to navigate through years on a regular date picker.

If you select all three checkboxes on the first part of the form, the UI becomes a little bit weird:
![img](http://i.imgur.com/sMJZYVB.png)

The error handling part needs a little bit of work, but there's already an issue for that I believe.

[2018-03-18 19:46] anbud commented on #580
@gazhayes, Sure thing, I'll check it out.

[2018-03-19 01:56] gazhayes commented on #611
@AshHimself I haven't checked if summaries are using this logic or not, you might have to add it.

[2018-03-19 02:03] gazhayes commented on #595
I'm not sure what @MadanBhandari is doing, but solving this problem should not cause any issues.

When doing *any* styling on Blockrazor please use bootswatch to the maximum amount possible, this allows us to switch the 'theme' very simply and easily. Avoid using any custom css for styling wherever possible.

[2018-03-19 02:07] gazhayes opened #624 "problem: [/addcoin] add currency form may not be completely up to date"
Problem: I built the add currency form a while ago and there may be things missing or unnecessary things. This needs to be sorted out and validated before starting to solve #617

[2018-03-19 02:14] gazhayes commented on #611
@AshHimself if you're doing #619 instead of this, @janat08 might want to do it.

[2018-03-19 02:16] AshHimself commented on #611
I got about 70% into this last night before falling asleep. I am sending a PR through for 619 and this within the hour, Anud answered my question on 619 so its good to go.

[2018-03-19 02:16] gazhayes commented on #619
I'm not sure if the original issue was clear enough, but can you check that this works site wide not just the currency detail page (I just used that as an example). For example hashpower, etc.

[2018-03-19 02:18] AshHimself commented on #619
Yup... what I am doing is creating a global helper which allows us to get
the slug URL from the {{author}} and then i'll update it wherever
{{author}} is found.

On Mon, Mar 19, 2018 at 10:16 AM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-19 02:19] gazhayes commented on #611
Ok cool.

[2018-03-19 02:20] gazhayes commented on #611
I guess there's a fine line somewhere between hogging issues and "I'm waiting for a reply to get going on that other one and have nothing to do".

[2018-03-19 02:25] gazhayes opened #625 "problem: application logs cannot be searched by anything other than message"
Problem: application logs (/applogs) can only be searched by 'message' and not by username or IP address.

ping @janat08 you might like this one.

[2018-03-19 02:26] gazhayes opened #626 "problem: full usernames are too big for small screens"
Problem: full usernames are too big for small screens. Maybe just a user icon from font awesome or something would be enough.

[2018-03-19 02:38] gazhayes opened #627 "Problem: no currency comparison prices"
Problem: At the moment, currencies are priced as the current price per coin. The calculation is:
[code]

The problem is, the number of coins in circulation varies from currency to currency, so comparing prices is really comparing nothing.

Even though this is how everyone is doing it now, it really isn't a good way to compare currencies to other currencies. What's really needed is to compare how m

[2018-03-19 02:46] AshHimself commented on #623
@gazhayes - this looks to now be resolved.

[2018-03-19 02:46] AshHimself commented on #619
Fixed in #628

[2018-03-19 02:57] gazhayes opened #629 "Problem: no bounties to add hashpower API pull request"
Problem: the hashpower metric relies on having up to date network hash rates for each currency. An example pull request doing this for Ethereum is here: https://github.com/Blockrazor/blockrazor/pull/362

We need to somehow add a new bounty for each currency that does not have a hashpower API call, or any currency where the hashpower API call hasn't been working for a while, maybe 24 hours, as this

[2018-03-19 03:03] gazhayes opened #630 "problem: top navbar not using bootswatch dark navbar"
Problem: the white navbar doesn't look as good as a dark navbar in contrast to side menu and the light background pages.

[2018-03-19 03:09] gazhayes opened #631 "problem: side and top navbar layout is the same for small and large screens"
Problem: in light of good UX design rules (http://uxmovement.com/navigation/top-navigation-vs-left-navigation-which-works-better/), we should have critical menu items in the top navbar when it's possible (e.g. on screens with a resolution wider than x) and these should be moved to the side menu on smaller screens. E.g. Bounties should probably be top-left right next to the side menu button.

This

[2018-03-19 03:14] #623 closed

[2018-03-19 03:14] #619 closed

[2018-03-19 03:16] gazhayes opened #632 "Problem: [/bounties] cannot filter bounties by type"
Problem: some bounties are not applicable to some users. For example some bounties require you to be a developer. Users should easily be able to filter out bounty types that they don't want to work on.

[2018-03-19 03:25] AshHimself commented on #611
Just looking at this again and doing testing with multiple accounts and our rating is always staying as 1.

You stated about that the old calculation was a ratio of total votes + and upvotes? I don't think we are even storing what type of vote it even is, just that the user has voted (stored in [appealVoted] ?)

Perhaps this is the problem ? or maybe i'm on the wrong path, thought i'd check before

[2018-03-19 03:36] gazhayes commented on #611
The `vote` method above isn't being used?

[2018-03-19 03:55] gazhayes commented on #611
I went back in history to confirm, it was definitely being used here: https://github.com/Blockrazor/blockrazor/blob/95934d84257f025b33f3f4ac2eb5cd443092fa45/client/normal/currencyDetail/fundamentalMetrics.js#L233-L247

If someone removed it I'm going to be very annoyed with whoever it was.

[2018-03-19 04:18] AshHimself commented on #611
No no, that is still there. I think am confusing yourself and myself a little bit here. I am doing tests on comments and features and downvoting and upvoting and rating is being updated. Maybe I got the problem understanding wrong?

[2018-03-19 06:45] gazhayes commented on #611
Hmmm ok. As long as the rating is being updated, then it's just a matter of sorting by rating in the UI.

[2018-03-19 06:46] gazhayes commented on #611
The expected behaviour is that brand new ratings/comments/whatever *always* go straight to the top but then move down the list very quickly if people downvote them.

[2018-03-19 06:54] MadanBhandari commented on #631
I was also looking about the navigation for the website, I am thinking about having just single navigation should be enough, no more confusion, more space for content.

Here are few points, I would like to share about navigation:

- Use one navigation, in this case top navigation, on smaller screen it will become collapsible
- Combine menu items into groups for eg. Wallet, Pending Items, Edit Prof

[2018-03-19 07:29] gazhayes commented on #631
I think it's worth having both top and side navigation as we currently do.

There are huge benefits to a top menu because the user sees the top-left item immediately. It shouldn't be used for too many items, probably 3 at the most (bounties, add currency, and maybe compare currencies). Site-wide search could be incorporated there later too. What we put here immediately tells users what the site is

[2018-03-19 07:38] gazhayes commented on #631
Also the side menu works very well on mobile, I think it's much better than using those top menus that convert to a vertical menu and take up 100% of the screen even when they don't need to. We probably need to make sure it can be scrolled in case it gets cut off on some screens, but apart from that I think it's pretty good already.

(I'm not saying the design itself is good, just the functionalit

[2018-03-19 08:20] gazhayes opened #633 "Problem: [/bounties] reason for resetting bounty value is not clear to users"
Problem: when users go to the bounty page and someone *else* completes a bounty, the bounty reward is reset. To the user, this is just looks like the number goes back to 0 and starts ticking again.

Possible solution: overlay the bounty item on the bounty page with a notification saying that xxxx user has claimed this bounty for xx KZR and the bounty reward has been reset.

It would also be cool t

[2018-03-19 09:39] janat08 commented on #632
if you mean: http://localhost:3000/bounties

then putting a header for technical bounties would be enough?

[2018-03-19 09:41] janat08 commented on #633
I could try this?

[2018-03-19 09:55] gazhayes commented on #633
Yeah, sure.

[2018-03-19 09:59] gazhayes commented on #632
You mean a header on each bounty? No it wouldn't solve the problem because there are about to be a lot more individual bounties (that bounty page could end up having 1000+ bounties on it).

[2018-03-19 10:52] janat08 opened #635 "Problem: applog user field may be embeded in itself"
Problem:  Some log type can have it's user field embeded in itself.

[2018-03-19 10:57] samuelralak opened #636 "Problem: breaking changes occur due to lack of tests"
Problem: there are currently only 16 tests and no way of knowing whether or not contrubutors introduce breaking changes; an example would be in this [closed issue](https://github.com/Blockrazor/blockrazor/issues/619) where @gazhayes says the feature was initially working but was somehow broken. introducing more tests would help avoid such problems.

Possible solution: Write more tests for server m

[2018-03-19 11:02] samuelralak commented on #595
alright, taking this

[2018-03-19 11:07] anbud commented on #629
@gazhayes, yap, you're right, I like this one. :) When I finish #580, I can start working on it.
I just have one question. Since bounties will be on a per-currency basis, how will we determine the bounty reward for each individual currency? Manually adding it wouldn't be feasible, and to automate it we need some sort of criterion. Maybe the amount of data we currently have on the currency (all dat

[2018-03-19 11:32] gazhayes commented on #635
Embedded as an object? Or embedded in the message?

[2018-03-19 11:37] janat08 commented on #635
additional.user.user

[2018-03-19 11:39] gazhayes commented on #636
Most new code after #303 should have tests written.

We should definitely be using tests to stop things from breaking, but I agree it needs to be done piecemeal.

How about you choose a module, log an issue for it, and send a PR with some tests to solve it. Then @anbud can review and see if anything should be done differently before proceeding with more of them.

[2018-03-19 11:43] gazhayes commented on #629
I saw we just add them at creation time and use the same uptick timer. The easy ones will go first, and the more difficult ones will accumulate more of a reward, it should hopefully reach some kind of equilibrium.

[2018-03-19 11:49] gazhayes commented on #635
Can you post a screen shot?

[2018-03-19 11:55] janat08 opened #637 "Problem: [/bounties] add hashpower bounty resets reward on cancel"
Problem: picking and canceling add hashpower bounty will reset reward.

[2018-03-19 11:59] janat08 commented on #635
![screenshot 23 _li](https://user-images.githubusercontent.com/11337345/37594397-327fd0fa-2b9f-11e8-9f94-59ae0dc6d3b7.jpg)

[2018-03-19 11:59] janat08 commented on #635
i restored dump before posting.

[2018-03-19 12:02] janat08 commented on #636
you're vying for the 100$ reward? this isn't actionable.

[2018-03-19 12:28] gazhayes commented on #637
Good catch

[2018-03-19 12:33] sjmackenzie commented on #636
The most recent comment is a sign the reward system is having the reverse effect. Probably best to carefully monitor the effects and move quickly to deprecate it. But it's too early to tell atm.

[2018-03-19 12:42] gazhayes commented on #636
@janat08 is right in many ways, this is more of a low-priority issue and not an important problem right now. But it's still worth raising because it *is* a problem.

We don't need a comprehensive set of tests, but we do need them for things that we really don't want to break and are hard to detect when they break. This does happen, there have been a few times now where functionality has been broke

[2018-03-19 13:09] sjmackenzie opened #638 "Problem: $100 motivational system is potentially backfiring"
Problem: Incentive in the form of a $100 reward to motivate people to follow the C4 and reduce code development blocking might be showing signs of back-firing. This issue is meant to track experimental data over a period of time. After sufficient data is present a decision to remove or keep the reward system shall be made.

Negative instances:
https://github.com/Blockrazor/blockrazor/issues/636#is

[2018-03-19 13:18] gazhayes commented on #638
It's hard to track positive instances. I've noticed positive things so far that far outweigh the negative but it's difficult to quantify.

Also, if we *do* cancel this $100 reward it won't be till after it has been awarded.

[2018-03-19 13:19] AshHimself commented on #611
Ok so @gazhayes I think its working correctly (at least I think it is)

I created a feature with account1. Post a comment with account one and it went to the top. Posted a comment with account 2 and it went above the first comment. Down-voted second comment which was at the top and now its at the bottom.

[2018-03-19 13:26] AshHimself commented on #632
@gazhayes do we know all the different types of bounty types?

Should these types be something we manage as a collection or global array in properties.js?

[2018-03-19 13:35] AshHimself opened #639 "problem: no error message when approving own currency"
problem: no error message when approving own currency is returned to the user.

Solution: Return error message to user advising them on 'why' they can't approve their own currency.

[2018-03-19 13:44] samuelralak commented on #636
@gazhayes thats alright, I understand.<br>
When I created this issue I had no reward in mind nor was I trying to vie for anything; so I honestly do not understand what this means `"you're vying for the 100$ reward? this isn't actionable."` or where its coming from. <br>
One of my motivations for bringing this up is the challenge in coherently understanding the code for new comers like me and ofcou

[2018-03-19 13:47] gazhayes commented on #611
I just tested on Monero adding "RANKING TEST" as a feature and it looks like it's not working.

[2018-03-19 13:48] gazhayes opened #640 "problem: [/currency] when upvoting/downvoting a comment, all comments are marked as "voted""
Problem: when upvoting/downvoting a comment, all comments are marked as "voted"

I voted on one of these comments and they were all marked as voted.

Need to also verify if this problem affects the database or only the UI.

<img width="392" alt="screen shot 2018-03-19 at 9 48 04 pm" src="https://user-images.githubusercontent.com/8143945/37599270-4bf01638-2bbf-11e8-8f1d-0e1328adcb7d.png">

[2018-03-19 13:51] AshHimself commented on #639
Fixed in #641

[2018-03-19 13:52] gazhayes commented on #611
Did the same thing in summaries and it also isn't working.

[2018-03-19 13:55] AshHimself commented on #611
Got it! I was testing the ordering of comments against the features :( Great news.. that is working I believe :)

[2018-03-19 13:55] gazhayes commented on #611
I haven't tested comments actually, so they are working?

[2018-03-19 13:56] AshHimself commented on #611
I believe so. I posted my simple test script above of what the test case I
went through.

On Mon, Mar 19, 2018 at 9:55 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-19 13:57] gazhayes commented on #632
There's an existing bounty types collection, I haven't looked at it for a while though.

[2018-03-19 13:58] gazhayes commented on #636
That's just @janat08 making a joke, don't worry ;)

[2018-03-19 14:01] AshHimself commented on #632
Just just looking at that now actually.. looks like it has one record. If
this is something you see being managed often then a collection will do the
trick otherwise its best to keep it static on the server.

How is the bounties page populated at the moment? bounty types in the
bounties collection don't seem to correlate.

On Mon, Mar 19, 2018 at 9:57 PM, Gareth Hayes <notifications@github.com>
wr

[2018-03-19 14:04] gazhayes commented on #632
Actually, @anbud built most of that, it will probably take him 10 minutes to add filtering because he knows that part of the codebase very well. May as well leave it for him.

[2018-03-19 14:06] AshHimself commented on #639
Thanks @gazhayes was waiting for the merge before closing.

[2018-03-19 14:06] #639 closed

[2018-03-19 14:35] janat08 commented on #636
No, I'm truly suspicious and cynical.

Anyway, with the developer onboarding in mind, jest's snapshot testing will just give you the diff of before and after of whatever run, so it's much more succinct, and comprehensive for it's ease of set up and maintenance (as in you can just ignore it failing altogether). I'd like to run an example pull request.

[2018-03-19 15:28] samuelralak commented on #640
it affects the database the as well
- I voted on a comment and it automatically applied my vote all other comments; I was unable to cast any more votes even after page refresh.
- I also added a comment on a feature and it and voted and got same results as above ☝️
- I checked the database - features collection - and inside the `appealVoted` property value I noticed my id being added to feature doc

[2018-03-19 16:13] samuelralak commented on #595
fixed with [#643](https://github.com/Blockrazor/blockrazor/pull/643), won't be making any more commits here @gazhayes

[2018-03-19 19:29] samuelralak commented on #640
and I'll be taking this issue as well 😄

[2018-03-19 20:14] samuelralak commented on #468
@gazhayes whats the progress on this?

[2018-03-19 20:34] samuelralak commented on #611
Voted for `RANKING TEST` under Monero using two seperate accounts, it changed its position to second; however, wouldn't it be useful knowing exactly what number of votes(up/down votes) a votable collection e.g `Feature` has? Currently its a bit confusing.

Should user's be allowed to retract their votes e.g lets say I upvoted a feature instead of a downvote, what would a user do in such a case?

[2018-03-19 21:13] samuelralak commented on #638
Gentlemen, if the appreciation reward would influence how people respond to issues, then I would rather not participate at all. Such [comments](https://github.com/Blockrazor/blockrazor/issues/636#issuecomment-374188975) whether jokes or not can be demoralising - for a new comer especially. We also risk overlooking issues that should be given priority. If an issue isn't actionable, I believe contri

[2018-03-19 21:43] gazhayes commented on #611
OK looks like this original issue is fixed. Thanks @AshHimself

Yeah, that should be added.

Maybe, but that could also confuse people because things aren't sorted that way. Something with 100 upvotes and 2 downvotes will still be below something with 2 upvotes and 0 downvotes.

[2018-03-19 21:44] #611 closed

[2018-03-19 21:48] gazhayes opened #644 "Problem: [/currency] users cannot change their vote on comments/features/red flags/summaries"
Problem:  once users have voted for a comment, feature, red flag, or summary they can't change their vote.

[2018-03-19 21:49] gazhayes commented on #468
No progress. I've been working on the c++ side of things (Krazor) and haven't had much time to deal with this and a few other issues.

It's spaghetti code and needs sorting out, I wrote it but it shouldn't be *that* hard to deal with if you want to do it.

[2018-03-19 21:51] #595 closed

[2018-03-19 22:03] gazhayes commented on #636
This is simply UI rendering comparisons, right? Not checking whether user actions such as commenting etc still work?

I don't really see the benefit of this or the problem it's solving. So far in the history of Blockrazor nothing in the UI 'image' has been broken. User actions have been broken, and backend stuff has been broken, but not the UI.

Also the UI is in constant flux, so the test would a

[2018-03-19 22:16] #625 closed

[2018-03-19 23:33] AshHimself commented on #644
IMO I think it would make sense to be able to change your vote or at least have a grace period. If not, then at least give them a modal the first time to warm them of this and then not show the modal again.

[2018-03-20 01:27] #615 closed

[2018-03-20 01:30] gazhayes commented on #635
We can safely leave this the way it is (for now). I will reopen it later though.

[2018-03-20 01:30] #635 closed

[2018-03-20 01:33] gazhayes commented on #644
OK, may as well implement this, it's quite trivial and should take less than an hour anyway.

[2018-03-20 01:38] AshHimself commented on #630
Fixed in #645

[2018-03-20 01:38] AshHimself commented on #626
Taking this.

[2018-03-20 01:58] #630 closed

[2018-03-20 02:01] anbud commented on #580
Done in #646. The only thing I couldn't place in the UI is a way for users to add and remove bounty amounts for a given problem. I've implemented the backend methods (`addProblemCredit` and `removeProblemCredit`) accordingly, but I couldn't find a nice place where to put it in the UI.

[2018-03-20 02:02] gazhayes commented on #626
While you're in there can you fix the icon colour (dark navbar)

[2018-03-20 02:07] AshHimself commented on #626
Just sent in another pr

On Tue, 20 Mar 2018 at 10:02 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-20 02:24] gazhayes commented on #580
Are problems with rewards being pushed to the bounty page? I just tested and it wasn't, but I thought you might be using a cron job to do it.

[2018-03-20 02:35] gazhayes opened #647 "problem: [/problem] headings and body show as editable in UI for users who can't edit"
Problem: the UI for users who cannot edit a problem (because they are not the creator) still looks like it can be edited.

<img width="1153" alt="screen shot 2018-03-20 at 10 34 08 am" src="https://user-images.githubusercontent.com/8143945/37632686-68889cf0-2c2a-11e8-89c1-d64eb8410384.png">

[2018-03-20 02:37] gazhayes opened #648 "problem: [/problem] 0 KZR bounty shown for questions"
Problem: questions cannot have bounties associated with them, hinting that there might be a possibility for a bounty when there isn't might dissuade people from answering ("but this has no bounty!")

solution: don't show any bounty reward field on questions, only problems.

[2018-03-20 02:59] gazhayes opened #649 "Problem: [/new-problem] users are not guided enough when reporting problems"
Problem:

bug report and feature request types are actually the same type, we don't need to distinguish between them on the backend, but the users need to be given different kinds of encouragement to think through their report in a C4 style before submitting it.

possible solution:

Put the 'problem type' selector at the top so that the rest of the form can be populated accordingly.

**case: featu

[2018-03-20 03:01] gazhayes opened #650 "problem: [/new-problem] users can only upload one image"
Problem: users can only upload one image, but multiple images may be needed.

solution: dynamic 'add more' button or something.

[2018-03-20 03:03] gazhayes opened #651 "problem: [/problem] images cannot be expanded"
Problem: images cannot be expanded

solution: use thumbnail + full sized modal, currently in use on currencydetail route.

ping @AshHimself

[2018-03-20 03:13] gazhayes opened #652 "problem: [/problems] UX isn't very nice on this route"
Problem: the UX could be better.

possible solution: try showing problems like summaries/features/etc on the currency detail route, or like bounties on the bounty route.

[2018-03-20 03:13] AshHimself commented on #650
Is this for all views? where only a single option is available?

[2018-03-20 03:16] gazhayes commented on #650
No I've started to use [/xxxxxx] to designate routes

[2018-03-20 03:16] gazhayes commented on #650
This one and that other image one are probably perfect for you though.

[2018-03-20 03:18] AshHimself commented on #650
Right!!! sure I can take them. Currently traveling at the moment but I got wifi which is great.

[2018-03-20 03:44] janat08 commented on #636
Theoretically, you run a template save the code and run an event, and save the difference between old save and new save, then in next tests the diff is compared against that. Works the same way with back-end testing, save DB code, run method, save the diff, and test against that.

I just realized that it won't be as simple with blaze, although there appear to be packages that could help with just

[2018-03-20 03:45] gazhayes opened #653 "problem: [/problem] question asker cannot award best answer"
Problem: the user who asked a question cannot award the answer that solves the question.

solution: answers/comments should use the same ranking system as comments on the currency detail page, however the user who asked the question should be able to select one of the comments/answers as the "solution" to close the question (so they can either award a solution, or cancel the question).

This is no

[2018-03-20 03:49] gazhayes commented on #636
OK. There are more critical issues at the moment, but we can definitely use snapshot testing later when the UI is stable, it will start solving problems then.

[2018-03-20 05:57] janat08 commented on #633
The schema for bounties is wild. In short I can't begin to presume what the schema is, and if it's correct as I think that "Blockrazor needs new codebase ratings" stands for currency rather than website. I can't complete a bounty either since it requires approval and they don't show up in moderator dash.

[2018-03-20 06:12] janat08 commented on #633
there're no bounties in dump.

[2018-03-20 06:20] gazhayes commented on #633
I'll update the database dump.

The codebase ratings are to rate the codebase of a currency. It's just like the other bounties (wallet, community) except it's for the codebase. The only difference is that users need to apply to be allowed to rate codebases.

[2018-03-20 06:29] anbud commented on #653
This is already implemented, it's just I've put a limitation that a user can't accept his own answer. The user can choose to accept comments made from others, which automatically marks the issue as closed. Should I lift the limitation?

[2018-03-20 06:31] janat08 commented on #647
@anbud would you try and use blaze, jquery makes me cringe. I'm going to refractor $.fn out of this.

[2018-03-20 06:32] anbud commented on #650
This one is also already there. When you upload the first image, it gets added to uploaded images and the button turns to 'upload more'. Haven't tested it in production, that's how it works on localhost.

[2018-03-20 06:34] anbud commented on #647
That's part of the x-editable package that's also used when editing currency details. A simple if around it fixes this.
How would you solve inline editable fields with Blaze only? I agree, jquery isn't perfect, but it does the job here.

[2018-03-20 06:35] anbud commented on #580
That's actually a nice idea, I haven't thought of that. I'll link to problems from bounties page.

[2018-03-20 06:36] janat08 opened #655 "Problem: editable field template"
Problem: make editable field template to replace jquery in currency detail and problem/:id routes. The current method relies on jquery to manipulate view, and is repeted throughout codebase rather than using a reusable template.

Solution: Make a template that is extensible and hopefully uses blaze to make a field editable rather than jquery. That would entail accepting params to make it truly reu

[2018-03-20 06:39] janat08 commented on #647
It's fairly roundabout with different templates for editing and info display. the x-editable package is deprecated: "project is currently frozen".

[2018-03-20 06:40] janat08 commented on #647
I'll wait for gazhayes's word on this, I filed an issue: #655.

[2018-03-20 06:41] gazhayes commented on #647
What's the absolute simplest solution to this problem?

[2018-03-20 06:43] gazhayes commented on #655
This is a really badly logged issue.

Please state the problem very clearly, then state the proposed solution.

[2018-03-20 06:46] gazhayes commented on #653
Oh ok, no leave it as is. I thought I checked under a different account but must have been mistaken.

[2018-03-20 06:46] #653 closed

[2018-03-20 06:48] gazhayes commented on #580
Can you slot them in at the right location in the UI based on current bounty value?

[2018-03-20 06:49] anbud commented on #580
Of course. :)

[2018-03-20 06:49] gazhayes commented on #650
Woops.

[2018-03-20 06:49] #650 closed

[2018-03-20 06:55] janat08 commented on #655
@gazhayes edited.

[2018-03-20 07:01] janat08 commented on #647
I suppose looking for a disabled field and pressing on.

[2018-03-20 07:01] gazhayes commented on #655
What is the core problem here?

"code is repeated throughout the codebase"?

[2018-03-20 07:05] janat08 commented on #655
Yes, for if you decided to switch out package later on and to at least hide away the jquery unpleasantness.

[2018-03-20 07:06] gazhayes commented on #647
Zipfs law: You'll spend most of your effort on a fraction of the software. Over-engineering code that isn't in the critical path is a waste of time. It will probably end up being replaced by something else later anyway, no matter how good it is.

Lesson: if shitty code solves the problem, it's not shitty code. Use the simplest possible solution. If the simplest possible solution becomes a problem

[2018-03-20 07:10] gazhayes commented on #655
OK, we can deal with that later, if it becomes a bigger problem. Right now there are more important issues.

[2018-03-20 07:11] #655 closed

[2018-03-20 07:12] anbud commented on #647
I agree, one if fixes this issue (Meteor.userId() === problem.createdBy).

[2018-03-20 07:14] janat08 commented on #647
it's not reactive, I just tested it :D, the autorun will rerun, but the jquery will not care.

[2018-03-20 07:18] samuelralak commented on #468
yeah sure, will take this one after am done with [#640](https://github.com/Blockrazor/blockrazor/issues/640)

[2018-03-20 07:50] #647 closed

[2018-03-20 07:51] janat08 opened #658 "Problem: admin routes not exposed"
Problem: I believe some of the admin routes are not exposed, because I couldn't navigate to proposed changes resulting from bounties.

Solution: set up links in the admin dashboard.

[2018-03-20 07:59] janat08 opened #659 "Problem: availability of field to be edited isn't reactive"
Problem: availability of fields to be edited won't toggle if reactive variable changes in currency details or problem routes. the disable field for jquery package that denotes field as editable is in autorun but is unresponsive to being rerun with disable equating to true.

[2018-03-20 08:05] janat08 commented on #647
@andbud I didn't check the edit method for if it verifies access.

[2018-03-20 08:10] janat08 opened #660 "Problem: add problem link in /problems doesn't stand out, and will hide in long list"
Problem: the add it link in text "YOUR PROBLEM IS NOT ON THE LIST? ADD IT!" at the route /problems has very heavy font weight, which makes link blend it with the text. Also, it's at the very bottom of the list, so with list long enough it will hid.

Solution: prompt user to search for a problem before adding it, showing add it at bottom after search text filled in search input?

[2018-03-20 08:39] gazhayes opened #661 "Problem: pressing 'back' after viewing /currency/auction goes to currency detail page"
Problem: pressing 'back' after viewing /currency/auction goes to currency detail page of the top auction currency.

### Steps to reproduce:
1. Click the gavel "top bid" icon
2. press back in the browser

### Expected behaviour:
Should go back to the previous page (home route, in this particular case)

### Actual behaviour:
Goes to currency detail page

[2018-03-20 09:10] janat08 commented on #649
you think it might be better if steps to reproduce or solution be a separate field, since you could then edit out the text.

[2018-03-20 09:30] gazhayes commented on #647
It verifies server side. Reactivity shouldnt be a problem on this particular route, as long as it renders correctly on load.

[2018-03-20 09:31] gazhayes commented on #660
Yep, agreed.

[2018-03-20 09:37] gazhayes commented on #649
Yes they should be different fields (this is in my proposed solution above).

The prepended text has to be added after otherwise there can be no placeholder text.

[2018-03-20 09:40] #661 closed

[2018-03-20 09:45] janat08 commented on #647
what about currency details?

[2018-03-20 09:46] gazhayes commented on #647
No that's ok, no problems with that part

[2018-03-20 10:16] janat08 commented on #649
I don't know how schema validation failure should interact with fields, so I'd rather wait for example.

[2018-03-20 10:21] janat08 commented on #649
waiting for #580 to close, to see how to do validation.

[2018-03-20 10:22] #659 closed

[2018-03-20 10:29] janat08 commented on #69
The stylesheets and tests folders are anti-pattern. you're not suppose to have to juggle between two folders whatever you're working on.

[2018-03-20 11:09] janat08 commented on #658
Still can't tell where to approve things as an admin, but I suppose there's a db dump coming.

[2018-03-20 11:09] #658 closed

[2018-03-20 11:17] gazhayes commented on #658
Did you see the db dump?

[2018-03-20 12:08] #648 closed

[2018-03-20 13:09] janat08 commented on #637
the problem went away when I updated dump. On another hand, if you "meteor reset" it will totally break.

[2018-03-20 13:13] janat08 commented on #637
and it's back

[2018-03-20 13:20] janat08 commented on #637
so yea, you have to make sure there's createdAt field.

[2018-03-20 13:29] janat08 commented on #637
PS: all bounties assume there's already a record, or use Date.now() except add new coin.

[2018-03-20 13:47] samuelralak commented on #644
@AshHimself @gazhayes I have the following questions:
- are we showing a modal to let the user know they cannot change their votes or are we notifying of the change vote grace period?
- are we keeping of the type of vote the user casts (upvote or downvote)?

If we are going to allow users change their votes, I would proposing having a different for the type of vote cast i.e if a user downvotes thu

[2018-03-20 13:51] samuelralak commented on #652
working on this one

[2018-03-20 13:55] samuelralak commented on #640
@gazhayes submitted a PR fixing the original issue [not merged yet]. I would love to know your thoughts on this:

ping @AshHimself @anbud @janat08

[2018-03-20 14:05] janat08 opened #667 "Problem: validation, and image validation blocks from testing user flows"
Problem: validation,  especially such that requires that images are submitted when the code is broken in development prevents devs from testing methods/website.

Solution: Remove validation using variable devValidationEnabled exported from indexDB that is false in the development environment.

[2018-03-20 14:20] janat08 commented on #640
I don't know what "embedded comments collection" means, but I guess anbud didn't want to wright voting mechanic for different fields/collections, otherwise, the schema is neither optimized for meteor or for mongodb, nor convenient besides the voting methods. I already suggested using libraries that deal with relations that were only taken into consideration by gazhayes.

[2018-03-20 15:50] gazhayes commented on #640
We could decouple comments, but then we'd have multiple comment collections (features, red flags, problems, questions, etc).

If there are *proven* ways to increase performance, we definitely need to look at that. Apart from that, we always use the simplest possible solution.

[2018-03-20 16:02] gazhayes commented on #637
Is this happening on the production server or only locally on your dev server?

[2018-03-20 16:04] gazhayes commented on #644
Yep I agree. You want to do it?

[2018-03-20 16:07] gazhayes commented on #667
We would also require the Readme to be updated with how to use this.

[2018-03-20 16:08] janat08 commented on #637
dev server, if there're no completed bounties it will basically break.

[2018-03-20 16:09] janat08 commented on #667
when you run meteor it launches in the development environment.

[2018-03-20 16:11] gazhayes commented on #637
Ok. Then it should be ok once there are some completed bounties so don't worry. If it works on the production server then its working.

[2018-03-20 16:12] gazhayes commented on #667
Yes, but people might try to "fix" it later if its not being validated.

[2018-03-20 16:14] janat08 commented on #667
you could also check by variable that determines if validation should be on

[2018-03-20 16:15] janat08 commented on #640
the simplest solution would be to embed this comments as array :P which just runs fewer queries.

[2018-03-20 16:25] #640 closed

[2018-03-20 16:27] gazhayes commented on #667
Ok. This is worth fixing. It's really annoying to test things when validation is required. But you have to document your code very carefully if you do this one, make sure it's really easy to understand what's happening.

[2018-03-20 16:52] anbud commented on #632
@gazhayes, I haven't used BountyTypes collection, as it wasn't compatible with the idea at the time. Currently, I can say that we have three types of bounties, bounties to answer questions, bounties to add new data (hash power, currencies), and the old bounty system used for feature requests I believe. There will be a fourth type soon, bounties that would link to problems.

Would this be a suffici

[2018-03-20 16:54] anbud commented on #651
I've actually reused the same code Ash used on currency details, but it refused to work. It's probably just a small bug I've missed.

[2018-03-20 17:02] samuelralak commented on #644
@gazhayes yes I do, will start working on this one tomorrow

[2018-03-20 17:23] gazhayes commented on #632
That might be enough. The most important ones to be able to filter by are the ones that require coding skills (codebase ratings, problems)

[2018-03-20 18:56] samuelralak opened #669 "Problem: [/problems] no way to navigate to problems/:_id from /problems"
Problem: There is currently no way to navigate to the `problems/:_id` from the problems page. we were initially able to do this by clicking on a problem header but this behavior was broken by changes I personally introduced in [#652](https://github.com/Blockrazor/blockrazor/issues/652)

Solution: make problem a header a link that redirects to `problems/:_id`.

[2018-03-20 19:32] anbud commented on #580
Added problems to bounties in #671 and added the ugly UI element for crediting at #672.

[2018-03-20 19:36] #669 closed

[2018-03-20 19:39] samuelralak commented on #652
@gazhayes made the `/problems` more presentable. you can close this issue if the results are satisfactory.

[2018-03-20 19:41] anbud commented on #667
I agree, this would be quite useful, especially for preventing uniqueness validation when uploading images that one is most annoying when testing.

[2018-03-21 00:09] #580 closed

[2018-03-21 00:09] gazhayes commented on #649
I just closed #580

[2018-03-21 00:10] #652 closed

[2018-03-21 00:13] gazhayes commented on #633
Do you still want this one? #69 is more important, but I'm not sure how much time you need to spend on it.

[2018-03-21 00:27] AshHimself commented on #651
I'll sort her out :)

[2018-03-21 00:35] gazhayes opened #673 "problem: [/problem] text in edited fields gets duplicated when editing"
Problem:
When editing text on the /problem route the text becomes duplicated.

Edit the message and change to a single "A":
<img width="424" alt="screen shot 2018-03-21 at 8 32 31 am" src="https://user-images.githubusercontent.com/8143945/37689871-90afddd4-2ce2-11e8-8b3c-ed2476c2294f.png">

After submitting, the "A" is doubled to "AA":
<img width="447" alt="screen shot 2018-03-21 at 8 32 39 am" sr

[2018-03-21 01:41] AshHimself commented on #651
Fixed in #674

@anbud bit of troubleshooting on this yesterday and today and I learned something new. Having the modal ID "2322323asdfasdfasdf.jpeg"would not work, but "2322323asdfasdfasdf" would. Looks like jQuery modals do not [support](http://api.jquery.com/category/selectors/) fullstops when doing a lookup. I could of escaped it per the above documentation but I just removed it entirely.

[2018-03-21 01:50] #651 closed

[2018-03-21 02:28] #626 closed

[2018-03-21 03:19] gazhayes opened #676 "problem: [/problems] no line break between problem and solution statement"
Problem: no line break between problem and solution statement

<img width="1126" alt="screen shot 2018-03-21 at 11 18 34 am" src="https://user-images.githubusercontent.com/8143945/37693305-b8406398-2cf9-11e8-80a3-91a9fabe4711.png">

[2018-03-21 03:22] gazhayes opened #677 "problem: [/problems] not clear which items are problems and which are questions"
Problem: on the /problems page it's not clear which items are problems and which are questions.

potential solution: use a bootswatch label in the header to designate whether an item is a question or problem.

[2018-03-21 03:25] gazhayes opened #678 "problem: [/problems] datestamp used on items is not very nice"
Problem: at present, a date stamp is used to show when an item on the /problems page was created. This is not very meaningful to users.

potential solution: use momentjs (already installed) to show time since creation time (e.g. created 1 day ago)

[2018-03-21 03:34] AshHimself commented on #678
I have already created a helper for this on another ticket Suggest we make
it global and reusable.

On Wed, 21 Mar 2018 at 11:25 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-21 03:34] gazhayes opened #679 "problem: user's balance only displayed inside wallet page"
Problem: users have to go to their wallet page to check their krazor balance.

possible solution: add KZR balance (truncated to 3 significant figures, I guess) to the top nav bar when there's space, and to the top of the sidebar on small screens.

[2018-03-21 03:37] gazhayes commented on #678
OK.

Also can you document all global helpers that you've made, and how to use them? I guess /docs/helpers.md or whatever

[2018-03-21 03:57] AshHimself commented on #678
Roger that.

On Wed, 21 Mar 2018 at 11:37 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-21 05:31] janat08 commented on #633
I unassigned myself, but will take it after disabling validation and 69, and validating #649

[2018-03-21 06:29] sjmackenzie opened #680 "Problem: Proof of Stake category doesn't have a sub-category list of PoS algos available (Site wide problem not just Currency page.)"
## Problem: Proof of Stake category doesn't have a sub-category list of PoS algos available. (Site wide problem not just Currency page.)

### Steps to reproduce:
* click on Cardano on the home page
* click to edit the "Hash Algorithm"

### Expected behaviour
* a drop down list of different algorithms appears, allowing the selection of PoS algos including `Ouroboros` (soon to be called `Ouroboros P

[2018-03-21 06:39] gazhayes commented on #680
This problem runs deeper.

There actually shouldn't be a hash algorithm dropdown because Cardano uses proof of stake.

[2018-03-21 06:39] sjmackenzie commented on #680
It uses Ouroboros

[2018-03-21 06:42] gazhayes commented on #680
Ah yes, we should probably distinguish between different types of proof of stake.

So the problem here is actually that proof of stake (on Blockrazor) doesn't allow sub-catagories like proof of work does.

[2018-03-21 06:49] sjmackenzie commented on #680
Here's a short list of PoS algorithms
* Algorand
* Snow White
* Ouroboros
* Ouroboros Praos
...

[2018-03-21 06:50] gazhayes commented on #680
It should be noted that:

1. the sub categories for proof of stake and proof of work are different,
2. this is a site-wide issue, not just the currency detail page. It needs to also be addressed on the add currency page.
3. Since new proof of stake and proof of work algorithms appear very often, we should allow users to create new proof of stake and proof of work sub-items (algorithms). This is cu

[2018-03-21 08:08] janat08 commented on #601
the constellation package has accounts option which isn't enabled by default in config, that will let you switch accounts.
![screenshot 24](https://user-images.githubusercontent.com/11337345/37699328-41c29caa-2d11-11e8-953a-27bafde3c66e.png)

[2018-03-21 08:29] gazhayes commented on #601
Ok that's a better solution. Can you take this one?

[2018-03-21 08:49] janat08 commented on #601
Fine, I'll go find user that did a lot of things in a DB dump, and suggest using him, but providing password too wouldn't be bad (which I can't get to).

[2018-03-21 08:50] janat08 commented on #637
I don't think createdAt field is inserted when hashpower is added.

[2018-03-21 08:56] gazhayes commented on #601
I guess for the production server just giving a user\password is a good solution, but it's definitely good to be able to switch users when developing, this would have made life much easier for me before.

[2018-03-21 08:59] janat08 opened #681 "Problem: validation methods are needlessly server-heavy"
Problem: some methods use simple checks or their own validation methods on the server. This needlessly increases server load.

Partial solution: make a comment `//server-only validation, no optimistic UI #681` while going through codebase addressing other issues.

Partial solution: all new code should use mdg:validated-methods and simplSchema for validation.

Solution: change instances of server-o

[2018-03-21 08:59] janat08 opened #682 "Problem: some methods are server-only and prevent the use of optimistic UI"
Problem: a lot of methods are on the server even if they're intended for client. while going through codebase removing validation in development I decided that it would be helpful to denote methods that are needlessly on the server side only. Will use commented mark `is used by client, but is server only #682`.

Solution: so long as the method is validated there's no harm in it being on the client

[2018-03-21 09:07] gazhayes commented on #681
Any new validation added to the codebase should use validated-methods and simplSchema.

Existing code can slowly be reworked slowly whenever we need to update validation on any forms etc.

[2018-03-21 09:08] gazhayes commented on #682
I think this is covered by #681?

[2018-03-21 09:10] gazhayes commented on #682
Whenever you see something like this while you are working can you also make a comment in the codebase? Is that what you've been doing?

[2018-03-21 09:10] janat08 commented on #682
this one covers methods that are used by client, but are server only methods preventing optimistic ui.

[2018-03-21 09:15] janat08 commented on #69
will look at converting this back to client.

[2018-03-21 09:21] gazhayes commented on #681
I updated your first comment to make it more clear.

[2018-03-21 09:45] janat08 commented on #667
disabled validation in most bounties other than ratings which are just all about images.

[2018-03-21 11:06] #69 closed

[2018-03-21 11:10] gazhayes opened #687 "problem: blockrazor.org white screen"
Problem: something is dead. Please fix asap. Im on phone and cant do much.

[2018-03-21 11:10] AshHimself commented on #678
Fixed in #686

[2018-03-21 11:11] AshHimself commented on #687
On it

[2018-03-21 11:11] AshHimself commented on #687
Uncaught Error: Cannot find module '/.typeahead.css'

[2018-03-21 11:11] samuelralak commented on #687
<img width="968" alt="screen shot 2018-03-21 at 2 11 00 pm" src="https://user-images.githubusercontent.com/4476552/37706779-c07c92a8-2d11-11e8-9f9e-88bdec469e30.png">

[2018-03-21 11:18] AshHimself commented on #687
Fixed in #688

[2018-03-21 11:19] AshHimself commented on #687
@anbud - Possible to right a test script to catch errors from Meteor being able to even start?

[2018-03-21 11:20] AshHimself commented on #687
@gazhayes - I merged this myself due to the severity and blockrazor.org looks to back online.

[2018-03-21 11:21] anbud commented on #687
I'll look into it, I believe we can do something like that with full app testing in mocha.

[2018-03-21 12:21] AshHimself commented on #679
Fixed in #689

[2018-03-21 12:22] #637 closed

[2018-03-21 12:23] AshHimself commented on #677
Taking this

[2018-03-21 12:40] AshHimself commented on #677
Fixed in #691

[2018-03-21 12:56] AshHimself commented on #676
Fixed in #692

[2018-03-21 13:23] anbud commented on #673
I believe this is due to Meteor's reactivity not cooperating with x-editable. One possible solution is to temporarily disable Meteor's reactive updates for these two fields, which should prevent text duplication.

[2018-03-21 13:28] AshHimself commented on #660
Fixed in #693

[2018-03-21 14:23] janat08 commented on #660
the problem title isn't saved if the button is pressed (the title input isn't visible until type is selected).

it also doesn't tip of as to why button is deactivated.

[2018-03-21 14:26] AshHimself commented on #660
Can you please elaborate. Is this a new issue? or existing.

[2018-03-21 14:36] janat08 commented on #660
it's irritating that we demand that user first enters problem text before adding a problem to then not save it. This issue's solution suggestion is aweful and incomplete. The summary input should be visible before type is selected.

add title property to the button prompting user to search first.

Also you could use session variable to make the button deactivate if text is cleared (it doesn't), si

[2018-03-21 14:41] janat08 commented on #649
aded simple schema, didn't use jquery since #580 hasn't used it, and simplschema has integration with tracker and so much have ability to be used to validate ui, and I'd like to think there's integration of some sort with validated-methods that I've integrated.

[2018-03-21 15:26] samuelralak commented on #468
@janat08 @gazhayes I have split the code inside imageUpload.js into their respective contexts. I have also discarded the imageUpload.js file itself. kindly review :)

[2018-03-21 15:37] #678 closed

[2018-03-21 15:48] janat08 commented on #601
you can't permanently switch to a certain user, so you'll have to constantly switch to admin user after every refresh.

[2018-03-21 15:57] samuelralak commented on #644
@gazhayes whats the scale of the rating in features/summaries/comments i.e */5, */10 or */100?

[2018-03-21 16:04] janat08 commented on #676
you could use: style="white-space: pre-wrap"

[2018-03-21 16:22] janat08 opened #698 "Problem: simplSchema prevents from asking a question with nonexistent field bounty"
Problem: simplSchema prevents questions from being asked as they don't have bounty field which are passed in as null into validation.

Solution: try to clean params.

[2018-03-21 16:22] janat08 commented on #649
are images required?

[2018-03-21 17:18] #698 closed

[2018-03-21 21:40] samuelralak commented on #468
@gazhayes wont be making any more commits

[2018-03-22 00:16] #687 closed

[2018-03-22 00:27] gazhayes opened #701 "problem: [/currency/x] username not displayed on features"
Problem: usernames are not displayed on features

<img width="362" alt="screen shot 2018-03-22 at 8 24 38 am" src="https://user-images.githubusercontent.com/8143945/37744566-d112425e-2daa-11e8-8b4f-0130ba9632ef.png">

[2018-03-22 00:30] gazhayes opened #702 "problem: [/auction] dropdown box used (bad UI)"
Problem: the currency selector on /auction uses a search field and a dropdown box which is a bad UI pattern.

solution: use typeahead (already installed)

ping @janat08

[2018-03-22 00:32] gazhayes commented on #644
The rating is `upvotes / total votes` and it works well, looks like it didn't break with that update.

[2018-03-22 00:32] #644 closed

[2018-03-22 00:33] #468 closed

[2018-03-22 00:36] gazhayes commented on #649
No, not strictly required.

[2018-03-22 00:36] #649 closed

[2018-03-22 00:36] #676 closed

[2018-03-22 00:37] gazhayes commented on #601
OK, I'll fix this with some login credentials in the Readme.

[2018-03-22 00:40] gazhayes commented on #660
I think it's ok, they would need to reword it anyway. If it can be fixed really simply and easily then ok just send a PR, but otherwise don't worry.

[2018-03-22 00:40] #660 closed

[2018-03-22 00:41] gazhayes commented on #677
Can you update to only use [problem] and [question] but not [bug] [feature] [question]?

[2018-03-22 00:42] #679 closed

[2018-03-22 01:49] gazhayes opened #703 "problem: [/currency/x] wallet image modal does not expand to enclose entire image"
Problem:
<img width="923" alt="screen shot 2018-03-22 at 9 48 27 am" src="https://user-images.githubusercontent.com/8143945/37746665-4a42163a-2db6-11e8-84a3-a5d9bc61d1b9.png">

[2018-03-22 01:51] AshHimself commented on #703
Looks like the modal is fixed pixel. We should watch out fixing widths.....
I’m here all week folks.

On Thu, 22 Mar 2018 at 9:49 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-22 01:51] gazhayes commented on #703
The images might need to be resized too on upload to maintain some kind of normalcy.

[2018-03-22 03:20] AshHimself commented on #677
So you want a mapping of bug,feature,question? or just;

question = question and bug = problem.

[2018-03-22 04:22] gazhayes opened #704 "Problem: [/] winning currency (auction) not removed when no winner"
Problem: when the Krazor in the winning auction have drained away and there's no winner, the previous winner stays at the top of the page on the home route.

solution: since we should highlight the fact that you *can* bid to put a currency at the top of the home route, when there are no winning auctions a small UI element should be inserted in the place of the top currency saying something like "p

[2018-03-22 04:27] gazhayes commented on #677
Bug and feature request should be labeled as [problem] (they are the same thing under the C4, it's just that we need to ease users into this style of thinking gently)

Question should be [question]

[2018-03-22 05:01] gazhayes commented on #613
A logo competition is running here: https://www.freelancer.com/contest/Design-a-Logo-for-Blockrazor-1286618.html

[2018-03-22 05:18] AshHimself commented on #703
Fixed in #706

[2018-03-22 05:20] #703 closed

[2018-03-22 05:20] gazhayes commented on #703
Is that you who keeps posting pictures of watches?

[2018-03-22 05:21] AshHimself commented on #703
hahaha no..

On Thu, Mar 22, 2018 at 1:20 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-22 05:23] gazhayes opened #707 "problem: Travis CI tests are breaking"
Problem: Travis CI tests are breaking, not sure exactly why.

[2018-03-22 05:26] AshHimself commented on #701
Fixed in #710

[2018-03-22 05:27] #701 closed

[2018-03-22 05:40] gazhayes commented on #707
Travis CI error:
[code]
cannot replicate locally or on production server.

[2018-03-22 05:54] AshHimself commented on #702
@gazhayes - so you only want one element? or still the search element but the dropdown to be typahead ?

[2018-03-22 06:03] gazhayes commented on #702
Should probably do the same thing as on the comparecurrencies route

[2018-03-22 06:04] AshHimself commented on #702
Sorry deleted my comment as I totally get what needs to be done.

[2018-03-22 06:53] AshHimself commented on #576
@gazhayes This is fixed but can't seem to find the PR it was fixed on :/

[2018-03-22 07:05] janat08 commented on #633
where do you approve community ratings?

[2018-03-22 07:16] samuelralak commented on #673
is this fixed? if not, how do I replicate?

[2018-03-22 07:20] AshHimself commented on #677
Fixed in #710

[2018-03-22 08:45] #576 closed

[2018-03-22 08:47] gazhayes commented on #673
Ah it appears to be fixed now.

[2018-03-22 08:47] #677 closed

[2018-03-22 08:48] gazhayes commented on #707
ping @anbud @AshHimself

[2018-03-22 08:51] #702 closed

[2018-03-22 09:11] gazhayes opened #711 "problem: currency ratings do not use currency logos"
Problem: when rating currencies on the codebase, wallet, and community ELO ranking system  the currency's logo isn't used.

<img width="1055" alt="screen shot 2018-03-22 at 5 09 37 pm" src="https://user-images.githubusercontent.com/8143945/37761208-ff52ecb0-2df3-11e8-9a1a-71da235b5a2f.png">

[2018-03-22 09:16] gazhayes opened #712 "problem: detecting lazy answering on rating questions isn't robust enough"
Problem: detecting lazy answering on rating questions isn't robust enough, users can click through mindlessly and earn krazor without reading the text. There's the ability to add 'checksum' questions already, however nothing is done about the speed of answering.

Solution: if the time between 2 answers is less than x seconds (I guess 5 seconds), trigger the lazy answering reset (this code already

[2018-03-22 09:41] janat08 commented on #633
I couldn't test anything, since bounties wouldn't reset, and previous reward payout isn't styled and I just alert saying bounty was reset.

[2018-03-22 09:44] janat08 commented on #673
it's not fixed for me.

[2018-03-22 09:47] gazhayes commented on #633
Actually, don't worry about community/wallet/codebase stuff because the approval process hasn't been finalized yet anyway.

You should be able to do the add currency one though, you could send a PR just for that one first.

[2018-03-22 09:49] gazhayes commented on #673
Not fixed for you on the production server?

[2018-03-22 09:55] janat08 commented on #673
it's still issue everywhere.

[2018-03-22 09:57] anbud commented on #629
@gazhayes, I'll send another PR shortly, it appears that a bounty is not locked when someone is working on it. It should be an easy fix.

[2018-03-22 10:02] janat08 commented on #633
yes I can't test that as bounty won't actually reset on blockrazor master.

[2018-03-22 10:08] gazhayes commented on #633
Ah ok I get what you mean now. I just discovered another related problem that I will log in a few minutes, that one may need to be solved before you can solve this one.

[2018-03-22 10:24] samuelralak commented on #711
@gazhayes how do I navigate to this page?

[2018-03-22 10:24] janat08 commented on #633
anyway, that code is fairly nasty. there're 3 collections involved, 2 of which are then mapped like every 10 ms into a bounty.

[2018-03-22 10:36] anbud commented on #707
On it.

[2018-03-22 10:36] anbud commented on #629
Done in #715.

[2018-03-22 10:39] samuelralak commented on #712
Hey @gazhayes I would like to handle this issue but am not sure how I can get to this page. Tried going through /ratings but things seem to be unresponsive here 😅am pretty sure am doing something wrong (sent you an email on this). Please advisde

[2018-03-22 10:48] anbud commented on #712
@samuelralak, I'll give you an example.
This should be implemented on `/ratings`, `/communities` and `/codebase`. So, for example, go to `/communities`, add a few communities for cryptocurrencies and click next. Then, start answering questions. If your answer is 'tie' more than 10 times, or if you answer a checksum question incorrectly two times, it'll reset your progress and take away the rewarde

[2018-03-22 11:01] anbud commented on #707
It was just a cache issue, solved it by cleaning Travis' cache.

[2018-03-22 11:04] samuelralak commented on #712
@anbud quick question, is there any other way of adding community (besides from the `/addCoin`)?. I keep on being prompted to add a community but the only way I can see is through adding a new currency. Can't I select currencies with already existing communities?

[2018-03-22 11:09] samuelralak opened #716 "Problem: [/communities] communities page UX not good"
Problem: The communities page isn't styled and doesn't look very good.

Solution: apply same styling used in `/ratings` to `/communities` since these two pages have similar features.

[2018-03-22 11:10] anbud commented on #716
@samuelralak, yap, this should be also done for `/codebase` as it's using the same unstyled template.

[2018-03-22 11:12] samuelralak commented on #716
@anbud right, just noticed the same for `/codebase` as well. will fix this one.

[2018-03-22 11:12] anbud commented on #712
@samuelralak, currently no, you can only add communities to currencies where you haven't added communities before. You can try this at `/ratings` and `/codebase`, the same principle applies, or create some random currencies for testing.

[2018-03-22 11:14] samuelralak commented on #712
@anbud ok cool. trying that

[2018-03-22 11:38] anbud commented on #673
Fixed in #717.

[2018-03-22 12:07] janat08 commented on #716
would be great if a template were to be reused.

[2018-03-22 13:42] gazhayes commented on #707
How do you do that?

[2018-03-22 13:42] #707 closed

[2018-03-22 13:45] gazhayes commented on #712
There should be enough currencies there already to test with. You just need to add a wallet image whatever to pass the validation, it will the populate your questions.

[2018-03-22 13:48] gazhayes commented on #673
@janat08 is it fixed for you now?

[2018-03-22 14:03] gazhayes opened #718 "problem: new curency bounty does not reset until new currency approved"
Problem: at present, the add currency bounty is reset upon approval of a new currency.

This is going to lead to a situation where the bounty keeps climbing while people add heaps of currencies, then it's going to reset a bunch of times as a maintainer (moderator) merges (approves) these new currencies.

Possible solution: it's probably better to reset the bounty whenever someone submits a new cur

[2018-03-22 14:04] gazhayes commented on #633
related: #718

[2018-03-22 14:17] anbud commented on #707
There's an option to clear cache on the Cache page. You can access it in one of the sidebar links.

[2018-03-22 14:28] gazhayes commented on #707
Cool, thanks.

[2018-03-22 15:12] anbud commented on #632
Done in #719.

[2018-03-22 15:20] anbud commented on #718
Changing when the bounty is reset is an easy fix (requires just changing a few lines), but I'm not sure about what's the smartest solution to this one. I agree, currently, bounty values can go quite high, but, if we reset the bounty when the currency is added (not approved) it could lead to constant small bounty values and users could spam incorrect new currencies just to lower the bounty.

When I

[2018-03-22 15:35] anbud commented on #627
I'll take this one.

[2018-03-22 18:51] anbud commented on #627
Done in #720.

[2018-03-22 20:03] anbud commented on #704
Done in #721. UI could probably be reworked a little bit.

[2018-03-22 20:03] janat08 commented on #673
yes

[2018-03-22 20:03] #673 closed

[2018-03-22 20:06] samuelralak commented on #712
@gazhayes the Next button `/ratings` seems to be unresponsive; getting the following error in develop:
<img width="817" alt="screen shot 2018-03-22 at 11 02 09 pm" src="https://user-images.githubusercontent.com/4476552/37795286-1f4f1dbe-2e25-11e8-8432-9853ccacb262.png">
Fixing that in my development environment seems to make it responsive again. please confirm whether you getting the same issue.

[2018-03-23 00:20] #632 closed

[2018-03-23 00:25] gazhayes commented on #712
I'll have a look, but FYI you can check for these errors on the production server by going to /static/log.txt

[2018-03-23 00:45] gazhayes opened #722 "problem: [/ratings] Exception while invoking method 'populateRatings'"
Problem: Exception while invoking method 'populateRatings'

[code]
This may also affect codebase ratings and community ratings.

[2018-03-23 00:46] gazhayes commented on #712
Filed a new issue under #722

[2018-03-23 01:10] gazhayes opened #723 "Problem: [/] comparison prices not shown on home route"
Problem: comparison prices (cpc, cpt) are in the currencies collection but are not displayed on the home route.

solution: remove the `$180/10m`. Insert CPC $XXXX, CPT $XXXX. The actual price should go in there somewhere too.

Figures should be limited to 4 significant figures so that the UI doesn't break.

[2018-03-23 06:21] AshHimself commented on #722
Fixed in #724

[2018-03-23 06:24] #722 closed

[2018-03-23 06:40] AshHimself commented on #716
Are you working on this @samuelralak, do you have permissions to self assign issues to yourself so we all know what tickets are assigned to you?

[2018-03-23 06:47] samuelralak commented on #716
@AshHimself no I don't have permissions to self assign issues to myself sadly. yes am working on this

[2018-03-23 06:48] samuelralak commented on #712
@gazhayes great. thanks

[2018-03-23 06:48] AshHimself commented on #716
I'm looking for some tickets to knock off, could you comment on which ones your doing and I can assign you mate?

[2018-03-23 06:52] gazhayes commented on #716
Strictly speaking, we shouldn't use assignments because we run the risk of it devolving into maintainers assigning tasks to other people (which is not compatible with the C4). We should really just be using comments to say what we're taking.

But assignments do make it much easier to see at a glance which issues are not being worked on, which is how I'm currently using them, we just need to be car

[2018-03-23 06:54] AshHimself commented on #716
Right.. it makes sense to say you are taking this to comply with C4 but also makes sense to manage at a high level which tasks are free for the taking without opening each task one by one. Like everything.. pros and cons :)

[2018-03-23 06:55] samuelralak commented on #716
@AshHimself ok cool.  I intend on picking up [#711](https://github.com/Blockrazor/blockrazor/issues/711) and [#712](https://github.com/Blockrazor/blockrazor/issues/712) after submitting a pull request for this one.

[2018-03-23 07:06] gazhayes commented on #712
OK let's try an experiment. The necessary data point is knowing whether or not a task is being worked on, not who's working on it. I've created the "in progress" label. So now people can claim tasks with a comment and apply the in progress label.

[2018-03-23 07:10] samuelralak commented on #712
@gazhayes one problem, I don't have permissions to add labels to issues. I'll just go ahead and comment on issues that am working on, then anyone with the right permissions could add the label.

[2018-03-23 07:21] gazhayes commented on #712
How about now?

[2018-03-23 08:53] AshHimself commented on #613
156 submissions already lol, really?

[2018-03-23 09:10] gazhayes commented on #613
Yeah 95% BS

[2018-03-24 00:26] samuelralak commented on #711
@gazhayes this should be fixed in [#725](https://github.com/Blockrazor/blockrazor/pull/725). Kindly confirm

[2018-03-24 00:27] samuelralak commented on #716
fixed in [#725](https://github.com/Blockrazor/blockrazor/pull/725)

[2018-03-24 00:28] #716 closed

[2018-03-24 01:30] #711 closed

[2018-03-24 03:12] gazhayes opened #726 "problem: radar chart not compatible with all blockchain projects"
Problem: the radar chart we are currently using is not compatible with all blockchain projects. This is because there are different types of projects, and different stages of development.

An ICO, for example, may not have a wallet that can be rated.

Solution: I have gone through all scenarios I can think of to come up with the lowest common denominator - the maximum amount of metrics we can have

[2018-03-24 03:18] gazhayes commented on #718
OK. I think we should just reset it upon submission.

We can work out some extra steps later to make sure the submissions are generally correct and can't be fooled.

[2018-03-24 03:30] #629 closed

[2018-03-24 03:30] #627 closed

[2018-03-24 03:32] gazhayes commented on #577
@samuelralak you might want to have a look at this one.

[2018-03-24 03:34] gazhayes commented on #565
Any change in status for this one?

[2018-03-24 03:35] gazhayes commented on #537
If we are going to use 2d space calculations to solve this one, #726 is a dependency.

[2018-03-24 03:36] #440 closed

[2018-03-24 08:50] gazhayes opened #727 "problem: hard for user to navigate back to a bounty that is in progress"
Problem: if a user starts a bounty and then leaves the page, its really hard for them to get back to it.

Possible solution: add a UI element at the top of the bounties page if the user has a bounty in progress. This could possibly be a site-wide thing instead.

[2018-03-24 10:27] anbud commented on #718
I'll take it.

[2018-03-24 14:41] anbud commented on #718
Done in #728.

[2018-03-24 14:57] #718 closed

[2018-03-24 15:00] anbud commented on #565
@janat08, could you please send a PR with that code, so I can try to debug it? :) Sorry, I forgot about this one.

[2018-03-24 15:05] anbud commented on #726
@gazhayes, I agree, those 5 data points seem sufficient.

About the problems this introduces, I like the multi-axis bar chart solution better, it seems a lot simpler than creating a new radar chart for every group, and I believe it would provide more information for comparison.

[2018-03-24 15:07] anbud commented on #727
@gazhayes, how about adding it as an icon to the navbar stating that you have a running bounty? Maybe we can even show the remaining time as well.

[2018-03-24 15:16] gazhayes commented on #726
Do you want to start on it?

[2018-03-24 15:17] gazhayes commented on #727
That would solve it on large screens, but on small screens the top nav bar is basically full already.

The UI guys can probably work that out though if you do the logic.

[2018-03-24 15:25] anbud commented on #726
Yap, taking it.

[2018-03-24 18:58] samuelralak commented on #727
Space can still be created on the top navbar for smaller screens
- we could eliminate the caret next to the user icon
- we could also reduce space between the user icon and notifications icon, IMO the space unnecesarily large
- the right padding for the div that contains the navbar icons can be reduced as well, moving the icons closer to the right while creating space at the same time
- there is a

[2018-03-24 19:41] anbud commented on #727
Sure thing, you can take it, I still haven't started.
You can start the bounty at `/bounties`, and you can see how to check if there's an active bounty in `activeBounty` helper on, for example, community ratings page.

[2018-03-24 20:03] anbud commented on #726
Done in #730.

[2018-03-24 20:14] anbud commented on #680
I'm taking this one.

[2018-03-24 20:22] samuelralak commented on #712
fixed in [#729](https://github.com/Blockrazor/blockrazor/pull/729). setting time difference between 2 answers to `5 seconds`

[2018-03-24 20:51] anbud commented on #680
Done in #731.

[2018-03-24 20:52] samuelralak commented on #727
@anbud ok cool, thanks.

I would also suggest putting activeBounties at the top of the list in `/bounties` page and possibly having a different color for the cards.

@anbud another question, when the user clicks on an active bounty, should it redirect to the bounty type page e.g when a bounty is for `addCurrency` should the user be redirected to the `addCoin` page?

[2018-03-24 20:58] samuelralak commented on #631
@gazhayes I believe space can still be created on the top nav for smaller devices. kindly to this comment [here](https://github.com/Blockrazor/blockrazor/issues/727#issuecomment-375916584). We should also identify the critical menu items that need to go to the top nav for smaller screens.

[2018-03-24 22:21] anbud commented on #727
@samuelralak, I agree, it can be on top of the `/bounties` page as well.

Yap, that's the idea I believe. For most bounties, you have an `url` field available, that's where you should redirect them.

[2018-03-24 23:53] #712 closed

[2018-03-25 00:00] gazhayes commented on #727
#633 is related

[2018-03-25 00:26] #726 closed

[2018-03-25 00:29] gazhayes commented on #680
The currency detail page also needs something like this.

[2018-03-25 00:38] gazhayes opened #732 "problem: currency logos lose transparency on thumbnail generation"
Problem: thumbnails generated for currency logos have a white background instead of being transparent (even when the original has a transparent background). This makes them look bad when used on the site (e.g. on the currency detail page.

ping @AshHimself

[2018-03-25 01:29] gazhayes opened #733 "Problem: wallet transfers do not have discrete reasons for transfer"
Problem: wallet transfers in both users' wallets and also as displayed on the /transactions page do not show discrete reasons for the transfer. This means that:

- Wallet items cannot be sorted or grouped by transaction type/reason
- the only way for users to see the reasons for transations on the /transactions page would be to add the whole comment associated with the transfer, instead of just so

[2018-03-25 01:34] gazhayes opened #734 "problem: [/comparecurrencies] bar chart and radar chart have duplicate items"
Problem: some items on the bar chart and radar chart are duplicated.

solution: remove items from bar chart if they are on radar chart already

[2018-03-25 01:35] gazhayes opened #735 "problem: [/comparecurrencies] hashpower metric on bar chart is incorrect"
Problem: the hashpower metric on the bar chart doesn't actually appear to be using the hashpower data point (see monero as an example).

[2018-03-25 01:36] gazhayes commented on #537
This issue now also affects the bar chart on [/comparecurrencies]

[2018-03-25 01:41] gazhayes opened #736 "problem: data quality metric does not check for github repo"
Problem: the data quality metric does not incorporate the github repo data point. If a github repo is included (and the API has validated that it works) it is valid, if not it is invalid. This data point should be given equal weight with everything else.

[2018-03-25 01:45] gazhayes commented on #633
@janat08 where does this number come from?

<img width="1120" alt="screen shot 2018-03-25 at 9 43 48 am" src="https://user-images.githubusercontent.com/8143945/37870812-4322f5ec-3011-11e8-986f-81ab31610eae.png">

[2018-03-25 02:45] AshHimself commented on #732
I'll take a look mate.

[2018-03-25 04:18] AshHimself commented on #732
Fixed in #737

[2018-03-25 04:28] gazhayes opened #738 "problem: [/changedcurrencies] maintainers (moderators) can merge their own proposed changes"
Problem: moderators can currently merge their own changes (they can upvote their own changes anyway). This should not be allowed.

[2018-03-25 04:32] AshHimself commented on #738
Taking this.

[2018-03-25 04:35] #732 closed

[2018-03-25 04:36] gazhayes opened #739 "problem: [/changedcurrencies] proposed changes layout gets all messed up when images are involved"
Problem: when proposing image changes, large images aren't scaled so they deform the UI quite a lot.

[2018-03-25 04:36] gazhayes commented on #739
ping @AshHimself while you're in there

[2018-03-25 08:41] AshHimself commented on #739
Fixed in #740

[2018-03-25 08:41] AshHimself commented on #738
Fixed in #740

[2018-03-25 08:56] AshHimself commented on #733
@gazhayes - are you just wanting to show the 'message' field on these pages which is display the reason/type of the transaction? or looking for something a little more structured?

[2018-03-25 09:04] gazhayes commented on #733
No, something more structured. I guess we need to define some Types for transactions that can be used site wide. At least that gives us a starting point.

The types so far (off the top of my head) would be something like: bounty reward; comment reward; problem reward.

[2018-03-25 09:27] AshHimself commented on #733
Got it, well let's make it scalable so if we need to add to this its easy enough. I am assuming we are going to have to modify all methods to include the relevant transaction types as well. Shouldn't be too hard to identify these.

[2018-03-25 09:30] gazhayes commented on #733
Yeah I'm pretty sure you got it.

[2018-03-25 13:34] AshHimself commented on #733
@gazhayes i've made an initial PR on this. Is this a long the lines on what you were thinking?

[2018-03-25 14:03] samuelralak commented on #633
Hey @janat08 whats progress with this one? I would like to take a stab at it after am done with [#727](https://github.com/Blockrazor/blockrazor/issues/727)

[2018-03-25 16:04] samuelralak commented on #577
@gazhayes I propose going through site and make issues of routes where Bootswatch styles are not being used. I have spotted some such as `/add-hashpower`, the page isn't properly styled. I can do this

[2018-03-25 19:39] anbud commented on #680
I'll add it right away.

[2018-03-25 20:14] anbud commented on #680
Done in #742.

[2018-03-25 20:42] anbud commented on #735
Done in #743.

[2018-03-25 20:42] anbud commented on #734
Done in #743.

[2018-03-25 20:47] anbud commented on #736
@gazhayes, currently, the data quality metric is just a sum of ELO ratings (questions answered) for the given currency.
How much weight should the GitHub API validity have? I believe it should weigh more than a single answer.

[2018-03-25 21:45] gazhayes commented on #577
You could list them all if you like, or you could just do a commit for each one.

[2018-03-25 21:47] #680 closed

[2018-03-25 21:47] #735 closed

[2018-03-25 21:47] #734 closed

[2018-03-25 21:50] gazhayes commented on #736
Yes I absolutely agree. I should probably weigh the same as 1/4 of all answers (so one catagory).

[2018-03-25 22:59] AshHimself commented on #577
@samuelralak - If its all the same to you, just post which view or views you are doing and post them here as I am going to start doing a few as well.

[2018-03-25 23:00] samuelralak commented on #577
@AshHimself already making a list of this, posting them here in a bit

[2018-03-25 23:01] AshHimself commented on #577
Legend.

On Mon, Mar 26, 2018 at 7:00 AM, Samuel Ralak <notifications@github.com>
wrote:

[2018-03-25 23:13] samuelralak commented on #577
@AshHimself @gazhayes

- [top-nav] most custom css can be eliminated to fully utilize bootswatch navbar theme
- [/add-hashpower] form in add-hashpower page could use some styling; borrow from /addCoin
- [/problem/:_id] input element not styled; add form classes
- [/hashpower] add form classes to input elemets
- [/developers] could use some styling, borrow from bounties or problems
- [/profile] wra

[2018-03-25 23:20] samuelralak commented on #727
done in [#744](https://github.com/Blockrazor/blockrazor/pull/744)

[2018-03-25 23:27] AshHimself commented on #577
Want to just split this and we can knock it out today @samuelralak ? I am sure we can just do a commit for each against this single ticket.

[2018-03-25 23:37] samuelralak commented on #577
Yeah sure @AshHimself. am about to go to bed though so you can go ahead start. let me know what items are done so I can pick up from you when I wake up. if you happen to do them all thats ok too 😄

[2018-03-25 23:54] #727 closed

[2018-03-25 23:58] gazhayes opened #745 "problem: [/comparecurrencies] ease of use metric doesn't appear to be using correct data"
Problem: there should be quite a few ELO rankings for ease of use (wallet) but something weird is happening with the bar chart as it it's getting data from somewhere but it's quite different to the data that was originally used on the radar chart.

ping @anbud

[2018-03-25 23:59] #739 closed

[2018-03-26 00:01] #738 closed

[2018-03-26 00:01] gazhayes commented on #733
Yep that looks like it will do it.

[2018-03-26 00:01] #733 closed

[2018-03-26 00:04] gazhayes opened #746 "problem: [/wallet] cannot filter transactions by Type"
Problem: transactions in /wallet cannot be filtered by Type of transaction.

ping @AshHimself

[2018-03-26 00:05] AshHimself commented on #746
Got it!

[2018-03-26 00:11] gazhayes opened #747 "problem: use of slugs as unique id for usernames causes problems when two people have same name"
Problem: we are using slugs as the unique id for fetching user data, but this does not allow two people with the same name to have an account (or causes problems anyway).

ping @anbud for ideas

[2018-03-26 00:32] gazhayes opened #748 "problem: [/transactions] no reason shown for transactions"
Problem: no reason is shown for each transaction.

ping @AshHimself you might have some ideas

[2018-03-26 00:34] AshHimself commented on #748
Are you talking about on the page itself mate? displaying the reason itself on the page prior to filtering?

[2018-03-26 00:38] samuelralak commented on #747
I would advise that usernames remain unique, upon registration we could prepend the username with a number or unique code if a user with the same username already exists i.e if username `samuel` already exists then another user who registers with the same name would be assigned `samuel-123` as username/slug.

[2018-03-26 00:38] gazhayes commented on #748
Some kind of info is needed on the page itself. You could use the Type system that you already built and do a different message for each type, that's *probably* enough, at least for now.

[2018-03-26 00:43] gazhayes commented on #747
Yeah that would probably be the simplest solution here.

[2018-03-26 01:33] gazhayes commented on #747
Do you mean for email signups? Or do you mean when facebook/github provide an email address?

[2018-03-26 01:47] samuelralak commented on #747
I mean the email signups

facebook/github signup already provide a seperate email and username

[2018-03-26 01:48] gazhayes commented on #747
Oh it doesn't matter then, email signups are only temporary while we are developing, they won't be used in production.

[2018-03-26 07:53] AshHimself opened #749 "problem: profile pictures are not displaying"
Problem: profile pictures are not displaying

[2018-03-26 07:54] gazhayes commented on #749
It's working here: https://blockrazor.org/profile/gareth-hayes

The tooltip thing is working too.

[2018-03-26 07:57] AshHimself commented on #749
Can you try change it? I just tried in production and getting 404. The URL is looking in root as well which isn't right.

![image](https://user-images.githubusercontent.com/148682/37893661-4f085d4a-310e-11e8-94dd-fdb0d59511a2.png)

[2018-03-26 08:02] gazhayes commented on #749
Ah yeah, it's broken.

Strange that the correct location is used for https://blockrazor.org/profile/gareth-hayes but not for https://blockrazor.org/profile/gareth

[2018-03-26 08:04] gazhayes commented on #749
When you fix this (if you fix it) can you use the same progress displaying uploady thing you used elsewhere?

[2018-03-26 08:05] AshHimself commented on #749
haha will implement the uploading thing.

[2018-03-26 08:49] AshHimself commented on #749
@gazhayes should we really be having md5 hash checking on user profile pictures?

[2018-03-26 08:54] gazhayes commented on #749
No, I only really implimented it for images where we don't want duplicates (e.g wallet images). The only reason for md5 otherwise would be to verify data integrity in the upload, but I think that's handled by the library that handles uploads anyway?

[2018-03-26 08:57] AshHimself commented on #749
Yeh I think it was carried over from your code but it really doesn't need to be there. I am reviewing the profile picture upload code now and its a little weird. Its updating the user collection, but its also storing historical records in the ProfileImages collection. That's a wee bit overkill if you ask me.

[2018-03-26 08:59] gazhayes commented on #749
Yeah may as well nuke that part while you're in there and keep things streamlined.

Can you also make the hash rig pics embiggenable like wallet images?

[2018-03-26 09:01] gazhayes commented on #749
Just a reminder too: do these things in separate commits so that each commit is solving a discrete problem. Can all be in the same PR though.

[2018-03-26 09:22] gazhayes opened #751 "problem: [/profile/x] mining rig pictures not public"
Problem: mining rig pictures are not public (people like to show these things off).

[2018-03-26 09:23] gazhayes opened #752 "Problem: [/profile/x] "edit" tab is publicly visible"
Problem: the 'edit' tab is publicly visible, it should only really be shown to the owner.

[2018-03-26 09:25] gazhayes opened #753 "problem: [/profile/x] comment history layout is bad"
Problem: comment tags are flowing over to the next line making them look like they are associated with the wrong comment.

<img width="693" alt="screen shot 2018-03-26 at 5 23 36 pm" src="https://user-images.githubusercontent.com/8143945/37898136-9949ce50-311a-11e8-82f6-fcf276601c77.png">

[2018-03-26 09:26] gazhayes commented on #751
It is currently public (which is fine) but the mining rig pics aren't for some reason (I guess the sub is checking for owner).

[2018-03-26 11:59] gazhayes commented on #736
@anbud do you feel like doing this one?

[2018-03-26 12:02] anbud commented on #745
I've used the same value as it was on the radar chart, but something could have gone wrong, I'll check it out.

[2018-03-26 12:03] AshHimself commented on #749
Fixed in #749 everyone will need to change their display pictures for this work otherwise it'll display a placeholder (didn't before).

[2018-03-26 12:03] anbud commented on #736
Yap, I'll take it.

[2018-03-26 12:04] gazhayes commented on #577
@samuelralak your list looks pretty good to me.

That would probably look much better.

[2018-03-26 12:09] anbud commented on #747
The `friendlySlugs` package we are using actually solves this by adding `-1, -2, ...` to the slug if the string is not unique. So, it's saved correctly in the `slug` field in the user object.
The only problem here could be caused by our `slugify` helper that's used for linking to user profiles. To solve that, we would have to subscribe to user data or have a sitewide subscription for user slugs so

[2018-03-26 12:25] gazhayes opened #756 "problem: no incentive for users to invite friends"
Problem: there's currently no incentive for users to invite their friends to join Blockrazor. In the early stages, we should try everything possible to get new users.

Requirements for solution:
- a direct "invite someone and get x Krazor" is no good because the incentive will simply be to create fake accounts

Possible solution: invite a friend and you get awarded x% of whatever they earn (not de

[2018-03-26 12:35] gazhayes commented on #747
The only place I've seen this problem is on the user profile, so that's probably the only actual issue here then.

Only on the templates that link to profiles?

[2018-03-26 12:54] gazhayes commented on #749
There's something weird going on.

When I upload a profile pic it works and displays properly, but only till the page is refreshed. Then it's back to the default pic.

[2018-03-26 12:59] AshHimself commented on #577
@samuelralak  - I started these mate

[/hashpower] add form classes to input elemets
[/developers] could use some styling, borrow from bounties or problems
[/profile] wrap form in card element; borrow from addCoin

[2018-03-26 13:05] gazhayes commented on #577
@AshHimself did you push everything? I.e. should @samuelralak leave these routes alone, or can he carry on with them?

[2018-03-26 13:50] AshHimself commented on #577
I have not pushed those routes there are just halfish done. He can do all
the others though without risk.

On Mon, Mar 26, 2018 at 9:05 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-26 14:01] AshHimself commented on #749
super weird.. happening to me now too. Looking into it.

[2018-03-26 14:10] AshHimself commented on #749
Can you try again @gazhayes  in #757

When saving it was nulling out profilePicture object which is bad. It only populates that field on an image upload now.

[2018-03-26 14:19] AshHimself commented on #752
Fixed in #759

[2018-03-26 14:20] AshHimself commented on #753
Fixed in #758

[2018-03-26 14:22] AshHimself commented on #756
Off topic, but related. Not only is getting new users important, but its important to keep users  that do sign up (user retention). I've worked in this a lot so happy to discuss it in another ticket.

[2018-03-26 14:26] AshHimself opened #760 "problem: no 404 for profile pages"
Problem: no 404 for profile pages if the user does not exist. e.g. https://blockrazor.org/profile/trump should display something about the user not existing.

Solution: Extend template to check if the user object has a value. {{user.length}} or something similar.

[2018-03-26 14:38] AshHimself commented on #751
Fixed in #761

[2018-03-26 17:36] samuelralak opened #762 "Problem: [/currency/:slug] currencyDetail page not responsive"
Problem: The currencyDetail UI page isn't responsive. The UI breaks on smaller devices and elements don't fit on screen

Solution: use Bootswatch UI to improve currencyDetail page responsiveness.

[2018-03-26 20:43] anbud commented on #756
@gazhayes,
I agree with the proposed solution, a percentage of friend's earnings is sufficient, it's simple enough and it will prevent fake account creation. 1-5% would be enough in my opinion.

A tokenized URL is the simplest way to share I believe, and we can store the token in either cookies or localStorage for later usage. We could also let users invite friends by email or something possibly,

[2018-03-26 21:27] anbud commented on #736
Done in #763.

[2018-03-26 21:33] anbud commented on #745
@gazhayes, I've just had a look and I've tried it out, the data seems fine. The value is correct, it's calculated from `walletRanking` field.
Maybe some testing with questions messed up ELO values a little bit.

[2018-03-26 21:36] anbud commented on #747
@gazhayes, yap, we only need to subscribe to user data on templates that would link to profiles in order to fix this one.

[2018-03-26 21:48] anbud commented on #747
Solution in #764.

[2018-03-26 22:30] gazhayes commented on #756
@anbud ok cool, we're on the same page, this is all yours if you want it.

[2018-03-26 22:34] gazhayes commented on #756
One thing to be careful of is that we don't award Krazor for the next level of 'friend', so that it doesn't turn into some weird pyramid scheme. So I guess create a new transaction Type (check #741) for this and don't include that type when calculating.

I also have no idea how often we should be calculating this, probably once a day so that the numbers are large enough to have some meaning, but f

[2018-03-26 22:39] gazhayes opened #765 "problem: [/profile] upload does not show progress"
Problem: upload does not show progress when changing/adding profile picture.

[2018-03-26 22:39] #749 closed

[2018-03-26 22:40] #752 closed

[2018-03-26 22:43] gazhayes opened #766 "problem: [/profile/x] mining rig pictures cannot be expanded"
Problem: mining rig pictures cannot be expanded

Solution: wallet images have everything needed, we could just use the same thing. It also might be worthwhile to make a global helper to "modalize" images and reuse the same code.

[2018-03-26 22:43] #753 closed

[2018-03-26 22:44] AshHimself commented on #766
You read my mind !

On Tue, 27 Mar 2018 at 6:43 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-26 22:45] #751 closed

[2018-03-26 22:46] gazhayes commented on #762
It's also pretty bad on desktop too, that page needs some serious work.

[2018-03-26 22:49] gazhayes commented on #762
#440 is related. I closed this due to staleness but you might want to look at the thread.

[2018-03-26 22:50] #736 closed

[2018-03-26 22:50] #745 closed

[2018-03-26 22:55] gazhayes opened #767 "problem: [/comparecurrency] Hash power unit should simply be W not W h/s"
Problem: Hash power unit should simply be W not W h/s

[2018-03-26 22:55] #747 closed

[2018-03-27 01:29] gazhayes opened #768 "problem: [/profile] saving profile changes forces user back to / route"
Problem: saving profile changes forces user back to / route.

[2018-03-27 01:32] gazhayes opened #769 "problem: unnecessary extra profile editing page"
Problem: profiles can be edited through the user profile page (using a tab). They can also be edited directly on /profile.

Solution: direct /profile to /profile/user-slug for logged in users. Remove 'edit profile' link from top nav menu.

[2018-03-27 03:15] AshHimself commented on #766
Fixed in #770

[2018-03-27 03:25] AshHimself commented on #767
Fixed in #771

[2018-03-27 03:38] AshHimself commented on #769
Fixed in #772

[2018-03-27 03:42] AshHimself commented on #768
Fixed in #773

[2018-03-27 03:50] #767 closed

[2018-03-27 03:50] #769 closed

[2018-03-27 03:53] #768 closed

[2018-03-27 05:03] AshHimself commented on #748
Fixed in #774

[2018-03-27 05:27] AshHimself commented on #723
Fixed in #775

[2018-03-27 05:44] #748 closed

[2018-03-27 05:57] #766 closed

[2018-03-27 06:02] gazhayes commented on #723
Where are you getting the price from?

[2018-03-27 06:03] AshHimself commented on #723
price column.. should it be another field?

On Tue, Mar 27, 2018 at 2:02 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-27 06:03] gazhayes commented on #723
Everything is 0

[2018-03-27 06:58] AshHimself opened #777 "problem: add hash page is ugly"
Problem: add hash page is ugly
Solution: bootwatchify the page for future design

[2018-03-27 07:00] AshHimself commented on #777
Fixed in #778 @gazhayes any alterations needed? If not we can close.

[2018-03-27 07:08] #777 closed

[2018-03-27 07:29] AshHimself commented on #723
Fixed in #779

[2018-03-27 07:45] gazhayes opened #780 "problem: [/] first coins on / route don't look complete"
Problem: the first coins users see on the / route are often ones without much data, this doesn't look very good.

solution: initially sort coins by data quality rank.

[2018-03-27 07:49] gazhayes opened #781 "Problem: when answering rating questions, users are not informed that lazy answering is being detected"
Problem: on the routes where users rate currencies based on codebase, wallet, and community, users are not warned about lazy answering being detected.

Solution: Add a modal after users click 'next' to inform them that lazy/malicious answering is being detected and that everything gets reset if they mess around.

[2018-03-27 07:53] gazhayes opened #782 "problem: [/communities] no validation that users are part of the communities they are ranking"
Problem: when users add wallets to rank they have to send screen shots of the wallet. Nothing like this is done for communities.

Solution:  require users to make a comment in the community they are ranking (they must mention Blockrazor) and take a screen shot. This image must be uploaded as part of the community ranking thing.

[2018-03-27 07:57] gazhayes commented on #633
@samuelralak you can just go ahead with this if you want :)

[2018-03-27 08:08] gazhayes commented on #723
Was this working locally for you?

[2018-03-27 08:09] AshHimself commented on #723
Yep, its working on production for me as well. Some coins don't actually have a price though.

![image](https://user-images.githubusercontent.com/148682/37954730-41aceafa-31d9-11e8-83ed-af102a0e1771.png)

[2018-03-27 08:09] gazhayes commented on #723
Oh I see what's going on now. You need 3 *significant* digits. Many prices are below 0.XX

[2018-03-27 08:10] AshHimself commented on #723
ohhh right.. i'll remove that then..

[2018-03-27 08:13] gazhayes commented on #723
Ah actually it's going to have to be more digits for *price*. Bitcoin is regularly XXXXX long. I guess 5 digits will do for now.

[2018-03-27 08:14] gazhayes commented on #723
On second thought, CPC and CPT will also need 5 digits. Thanks Bitcoin.

[2018-03-27 08:30] gazhayes opened #783 "problem: [/currency/x] cannot add exchanges to coins"
Problem: it's not possible for users to add exchanges to coins on the currency detail page.

possible solution: Allow users to add an exchange to a currency from the existing list of exchanges or add a new exchange. Ideally this would be a typahead list with "add" if what the user types isn't found (e.g. how Github works with adding branches).

Any solution should also denormalize the data into th

[2018-03-27 09:10] gazhayes opened #784 "Problem: home route does not show off best features of blockrazor"
Problem: there are already plenty of sites comparing cryptocurrencies using APIs and similar metrics to Blockrazor. The difference with Blockrazor is that it is community driven (e.g. like Wikipedia). This human element should be immediately obvious when seeing blockrazor for the first time.

Partial solution: put the top "red flag" for each currency on the home route. Real estate on this page is

[2018-03-27 09:14] gazhayes opened #785 "problem: [currency/x] users can 'camp' on the top feature/red flag/summary"
Problem: users can camp on the top feature/red flag/summary by continually submitting new summaries etc.

Possible solution: limit user's contributions to one a week (or whatever). Though this would create a problem at the start when people want to add a heap of new features etc for their favourite coin. Maybe the limit could come into effect only after there are x number of items.

[2018-03-27 09:29] AshHimself commented on #784
This is 100% clear to me but how are we communicating the purpose of krazor
to them or it exists ? And what it means to them?

On Tue, 27 Mar 2018 at 5:10 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-27 09:45] gazhayes commented on #784
I have another issue for menu restructuring so that we can put "bounties" right at the top-left next to the logo where it's impossible to miss (on screens that can fit it), that should take care of that (for desktop & tablet users anyway).

[2018-03-27 09:47] gazhayes commented on #784
FYI here are the main competitors:
https://coincheckup.com/analysis
https://www.coingecko.com/en

[2018-03-27 11:50] AshHimself opened #786 "problem: problem page is ugly"
Problem: problem page is ugly and isn't conforming to bootstrap 4 class standards.

Solution: Bootwatchify the page

@gazhayes - Few comments that I think still needs to be done.
- There is no form validation. e.g. when github validation on server fails. User never knows.
- The Krazor figure needs to stand out a lot more right?
- I think we need an overal standard to how commenting works? If a pro

[2018-03-27 11:53] gazhayes commented on #786
I'm about to change this page actually, just hold off on it and I'll update this one tomorrow.

[2018-03-27 11:53] AshHimself commented on #786
oh dear...

On Tue, Mar 27, 2018 at 7:53 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-27 11:53] gazhayes commented on #786
Oh youve already done it

[2018-03-27 11:54] AshHimself commented on #786
Was working on it as part of 577 but raised another ticket so we could keep
track of comments and commits better.

On Tue, Mar 27, 2018 at 7:53 PM, Ashley Smith <missenlinx@gmail.com> wrote:

[2018-03-27 12:20] janat08 commented on #633
the 2nd number is the previous bounty amount when it was taken

On Tue, Mar 27, 2018 at 1:57 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-27 12:24] gazhayes commented on #577
Don't do the /problems route, I'm going to log an issue for structural changes.

[2018-03-27 12:26] AshHimself commented on #746
Fixed in #788

[2018-03-27 12:27] #746 closed

[2018-03-27 12:28] AshHimself commented on #746
@gazhayes - Ever consider using a table component to streamline adding matrix of data to the site? I've used both (https://github.com/aldeed/meteor-tabular) which is simpler and the more complex dataTables.

Thoughts?

[2018-03-27 12:32] gazhayes commented on #746
Definitely keep that in mind for wallet and messages/notifications, it will probably solve a problem sooner or later.

[2018-03-27 12:34] AshHimself commented on #723
Can you have another test with #789 I changed it to 5 and it was 3

`return Number(val.toPrecision(5));`

[2018-03-27 12:48] AshHimself commented on #781
@gazhayes are you talking about on the ratings page?

![image](https://user-images.githubusercontent.com/148682/37968237-29703aba-3200-11e8-9a10-912283cf2f24.png)

[2018-03-27 12:49] AshHimself commented on #765
Taking

[2018-03-27 12:54] gazhayes commented on #781
Yeah, all those pages. But I mean a pre-warning.

That error should also probably trigger a modal instead too, those errors are too easy to miss for something this critical.

[2018-03-27 13:06] AshHimself commented on #746
https://github.com/aldeed/meteor-tabular is insanely simple to implement so we should do that for the next view that makes sense.

[2018-03-27 13:07] AshHimself commented on #765
Fixed in #790

[2018-03-27 13:18] AshHimself commented on #784
What about sentiment analysis on comments and the community within BlockRazor to gauge a score on its popularity? Quick example below of what we could implement fairly easily (hard part will be how we score it and present it)

![image](https://user-images.githubusercontent.com/148682/37969676-e7b61348-3203-11e8-9c48-d2f11fdc4e8b.png)

![image](https://user-images.githubusercontent.com/148682/37969

[2018-03-27 13:27] AshHimself commented on #782
So just an upload element with your instructions here?

![image](https://user-images.githubusercontent.com/148682/37970266-a28aedbe-3205-11e8-8886-272df3c6223c.png)

[2018-03-27 13:32] #765 closed

[2018-03-27 13:34] gazhayes commented on #784
Nah too complicated and also not uncommon. Start with top red flags and see what happens.

[2018-03-27 13:34] gazhayes commented on #782
Yep, you got it.

[2018-03-27 13:35] AshHimself commented on #782
Taking this.

[2018-03-27 15:02] janat08 opened #791 "Problem: calculateReward in /bounties runs a lot"
Problem: calculateReward is triggered every 10ms by session.get('now') in bounties.js and bountyRender.js, and it will trigger the whole autorun with lots of other operations that are in bounties.js.

Solution: In bounties.js split away calculateReward to operate on LocalBounties local collection with this.ids.get() filter, and adjust bounties helper query to sort by calculatedReward value of docu

[2018-03-27 15:06] janat08 commented on #633
still can't be tested, since  items are immidiately approved likely thanks to validation skip code.

[2018-03-27 15:15] janat08 commented on #633
@samuelralak the UI/CSS still needs work, I just planted last bounty near current bounty.

[2018-03-27 15:19] janat08 opened #792 "Problem: /mypending shows pending currency as approved"
Problem: adding new currency will insert into pendingCurrency collection, and will redirect to /mypending route where your item is shown under label of approved, with a header above that describing the section with the label as "If you have any items waiting for moderator approval they will be shown below".

[2018-03-27 15:21] janat08 opened #793 "Problem: [dev environment] add new coin bounty doesn't reset, nor reward"
Problem: adding new bounty will not reset bounty timer, or reward user, but will register as complete in ux. relevant issues:
bounty reset logic #718
bounty reset ui #633
add new coin submit redirect misleading #792

[2018-03-27 15:32] janat08 commented on #783
you mean currently listed in some exchange?

[2018-03-27 15:38] anbud commented on #793
The bounty timer is reset when a new currency is added, and the user is rewarded when the currency is approved by a moderator. That's how it worked last time I've checked.

[2018-03-27 15:40] janat08 commented on #793
My timer continues running, but I didn't refresh DB dump.

[2018-03-27 15:44] gazhayes commented on #783
Yeah exactly

[2018-03-27 15:47] gazhayes commented on #793
It should be working locally too.

[2018-03-27 15:52] gazhayes commented on #793
Basically if anything works on production then it works. It's only a problem if it doesnt work on production. If it's not working locally it's something to do with your environment, you might need help getting it working but you should be clear that its only with your environment and not blockrazor itself.

[2018-03-27 16:12] gazhayes commented on #723
@janat08 can you have a look at this? For example, Cardano should be something like $0.18

[2018-03-27 18:30] anbud commented on #791
I agree with this one, although it's low priority for now, it's not the happiest solution.

[2018-03-27 20:10] anbud commented on #780
Done in #795.

[2018-03-27 21:40] anbud commented on #785
Done in #796.

[2018-03-27 23:04] gazhayes commented on #791
This is definitely one of the highest of the low priority tasks.

[2018-03-27 23:06] #756 closed

[2018-03-27 23:06] #780 closed

[2018-03-27 23:07] #785 closed

[2018-03-28 00:28] gazhayes opened #797 "problem: [/addcoin] off-by-one error on genesis block"
Problem: it's not possible to add the genesis block for anything where genesis happened in January, form validation fails. I strongly suspect this is an off-by-one error.

ping @janat08

[2018-03-28 00:31] gazhayes commented on #793
I just confirmed on the production server, everything works as normal.

[2018-03-28 00:35] gazhayes commented on #633
OK, so the last bounty amount is incorrect. I tested it twice to make sure.

The last bounty for addcoin was 14.516209 however 18.593672 is displayed.

[2018-03-28 00:44] gazhayes opened #798 "problem: [/] coins are not loaded in same order they are displayed"
Problem: coins are displayed in order of data quality. However they are not initially loaded by fast render in this order. So new items that load when the bottom of the page is reached are distributed through the already rendered coins based on their data quality rank.

What should happen is the initial load should be in the same order as the coins are displayed.

[2018-03-28 00:51] janat08 commented on #793
I was on the wrong branch.

[2018-03-28 00:51] #793 closed

[2018-03-28 00:55] janat08 commented on #633
@samuelralak and this part has no CSS  it just calls sAlert:

[2018-03-28 02:11] gazhayes commented on #272
How does this sound:
@anbud could do an example schema and @janat08 can then use that as a reference to follow when implementing this everywhere.

What do you guys think?

[2018-03-28 04:14] gazhayes commented on #784
Temporarily assigning this to me to keep it reserved for a new contributor who's about to take it.

[2018-03-28 04:17] AshHimself opened #799 "Problem: UX issues with new share button"
Problem: UX issues with new share button, click the profile button sometimes for me opens the share button and visa versa. Share button could also do with a but of a style.

Solution: Refactor the html/CSS.

P.s. is this feature all complete? Close if its not :)

[2018-03-28 04:50] gazhayes opened #800 "problem: no way to suspend users who post spam etc"
Problem: there will be some users (maybe even bots) that post spam or silly things. There will also be users who repeatedly submit bad bounties (e.g. adding a new coin and typing in random stuff in fields they can't be bothered to check), as well as lazy-answering in the ELO rankings.

possible solution:

When users flag a comment/feature/red flag/summary/whatever and the ratio between flags and l

[2018-03-28 04:55] gazhayes opened #801 "problem: community metric does not take size of community into account"
Problem: the community metric at present is simply a subjective comparison between communities. This doesn't take size into account (which should probably be a multiplier). We could get representative sizes from the Reddit API and maybe some other things like that. Getting the size of telegram groups would also be cool but I don't know if there's an API for that or what's needed. In the worst case

[2018-03-28 05:00] gazhayes opened #802 "problem: not enough filtering on / route"
Problem: in order to expand on the whole 'razor' concept we need to be able to slice and dice the blockchain projects.

At this stage, I'm looking for any ideas on how this could be done, what we should be slicing/dicing by, etc.

E.g. I have x GPU card, I'm looking for something that I can mine. I want something that isn't well established yet so I can actually grab a fair chunk of the total tota

[2018-03-28 05:03] gazhayes opened #803 "problem: bounty icon doesn't do anything when there are no bounties running"
Problem: the bounty icon (target) in the top navbar doesn't do anything when there are no bounties running

solution: I guess link it to the bounties page? Unless there's something better to do.

[2018-03-28 05:20] AshHimself commented on #799
Fixed in #804

[2018-03-28 05:55] #799 closed

[2018-03-28 05:56] gazhayes commented on #799
That's about 8 billion times better.

[2018-03-28 06:06] AshHimself commented on #802
Ok this is interesting. It needs to offer advanced functionality to search multiple attributes but at the same time it has to be easier enough that it won't scare people away (e.g. not a form with 100 attributes to filter on).

This [article](https://uxdesign.cc/death-to-complexity-how-we-simplified-advanced-search-a9ab2940acf0) explains it pretty well on how we could tackle it. We can track searc

[2018-03-28 06:09] AshHimself commented on #800
To prevent bots (not full prevention) we could implement https://www.google.com/recaptcha.

All your other comments are good, it just should be coded in a scalable manner so we can tweak it as the site progresses if need be.

[2018-03-28 06:38] gazhayes commented on #802
Good article there.

[2018-03-28 06:41] gazhayes commented on #800
Definitely yes.

Recapture is not a bad idea. When/where do you think it should be used?

[2018-03-28 06:44] AshHimself commented on #800
You could just ask for it before commenting (once) to verify they are human or any other feature where we want to prevent user/bot automation from spamming the site.

[2018-03-28 07:55] AshHimself opened #806 "Problem: [compareCurrencies] select currency input over header"
Problem: The select currency input is overlaying the header when scrolling

Solution: Should be a simple CSS fix.

![image](https://user-images.githubusercontent.com/148682/38016044-6415ff2e-32a0-11e8-9f48-80a67ccfa24f.png)

[2018-03-28 08:00] AshHimself commented on #803
I think hide it, clear up the UI a little bit, unless you want it to display zero and display a one off tooltip "You have no bounties, head over to the bounties page". @gazhayes