[2018-09-08 08:24] AshHimself opened #1860 "problem: UI on mobile is broken"
Problem: UI on mobile is broken, BlockRazor has had some major changes recently in the UI but testing the mobile UI has not been factored in.

Solution: Investigate the changes and update the UI to look professional again on mobile.

![image](https://user-images.githubusercontent.com/148682/45252071-9a8fc080-b383-11e8-8ba6-adf9f61b7bfc.png)

[2018-09-08 09:51] AshHimself opened #1861 "problem: bad UX for language choice/selection"
Problem: bad UX for language choice/selection

Solution: Most sites these days don't leave it to the user to select the language, putting this one out there to the team. Why don't we check the browser language settings and if its not english we prompt a modal? I only pursue this as our nav bars real estate is hot property and we don't have room for another button nor do I think we should. I did so

[2018-09-08 10:01] anbud commented on #1861
I agree, the switcher up there is more of a temporary solution until we decide what's the best UX.

We can detect user's language preference without an issue, and modal should be perfectly fine for choosing a language if it's not English. :)

[2018-09-08 10:04] AshHimself commented on #1861
I think this is the approach 'most' websites take. The only other solution is to pass the users IP address through a IP address lookup service and suggest a language but to me this is more phase 3 and this approach should be 100% suitable for now.

I'm cleaning up the header UI and everything now as part of another ticket so makes sense for me to take this one unless others have any objections?

[2018-09-08 10:09] anbud commented on #1861
Sure thing, go for it. :)

[2018-09-08 10:30] AshHimself commented on #1860
Ok, its looking a lot better already. @gazhayes the images in production look to be broken still but working on my local. Did we even get to the route cause of this? Do I need to upload any code locally in my PR?

I have moved the search to a modal on 'mobile' only so the header isn't stressed for space.

![image](https://user-images.githubusercontent.com/148682/45253159-26f6af00-b395-11e8-9962-c7

[2018-09-08 10:32] AshHimself commented on #1857
Team, I understand we need to be 'open' but we should probably change ^^ password so people don't tamper with the account haha.

[2018-09-08 12:02] MadanBhandari commented on #1857
User Names and passwords, needs to be moved to `settings.json` file once we got our official account.

[2018-09-08 12:33] AshHimself commented on #1860
Fixed in #1862
@emurgobot label "done"
@emurgobot done

[2018-09-08 12:39] AshHimself commented on #1860
@gazhayes I think our bot is broken again :(

[2018-09-08 12:40] AshHimself opened #1863 "problem: menu does not close when clicked on mobile"
problem: menu does not close when clicked on mobile

Solution: close side menu when clicking a menu item on mobile devices

[2018-09-08 12:40] AshHimself commented on #1863
@emurgobot claim

[2018-09-09 00:00] anbud commented on #1860
@AshHimself, he's just moody, sometimes he wants to respond, sometimes he doesn't. :D

On the serious side, he's online, but he's returning 500 error for most requests, there's probably an issue with underlying zulipbot.
@gazhayes, email me server details and I'll fix him up, I think I know what's going on.

[2018-09-09 05:16] Ayanrocks opened #1864 "Unable to run Blockrazor locally on linux"
Problem: When running blockrazor on ubuntu 18.04 it shows the following error

`Error: ENAMETOOLONG: name too long, rename '/home/ayanrocks/.meteor/packages/fourseven_scss/.4.5.4.q...`

Any solution would be appreciated

OS: Ubuntu 18.04 64-bit
Kernel: Linux ayan 4.15.0-33-generic

[2018-09-09 05:43] Ayanrocks opened #1865 "Back button don't work while login screen is displayed"
Problem: Back button while showing the login page don't work. It just changes the url thorugh HTML5 push redirect but a full refresh don't occur.

Solution: Instead of changing the url, its best to do a full redirect to home.

[2018-09-09 05:50] Ayanrocks opened #1866 "Need to Update the faq Page"
Problem: he FAQ page is siitng idle on 'Lorem ipsum' for quite a long time. Need to update it with information.
Solution: I can do that but need to think what information to add as a team. Comment your suggestions

[2018-09-09 07:56] AshHimself commented on #1863
Fixed in #1867
@emurgobot label "done"
@emurgobot done

[2018-09-09 07:59] AshHimself commented on #1863
Fixed in #1867
@emurgobot label "done"
@emurgobot done

[2018-09-09 12:09] #1863 closed

[2018-09-09 12:10] #1860 closed

[2018-09-09 12:12] AshHimself commented on #1861
Fixed in #1868
@emurgobot label "done"
@emurgobot done

[2018-09-09 12:16] AshHimself opened #1869 "problem: can set username as null"
problem: can set username as null when editing a profile, username is required as its used through the site.

Solution: Set validation on the username object when editing a profile.

[2018-09-09 12:17] AshHimself commented on #1869
@emurgobot claim

[2018-09-09 12:26] AshHimself commented on #1869
Fixed in #1870
@emurgobot label "done"
@emurgobot done

[2018-09-09 12:30] AshHimself opened #1871 "problem: chat containers have bad UX"
Problem: The chat containers through the site have been broken and have a bad UX

Solution: Design again to look nice through the site.

![image](https://user-images.githubusercontent.com/148682/45264451-3518fe00-b46f-11e8-84b7-371fdb81eaef.png)

[2018-09-09 12:31] AshHimself commented on #1871
@emurgobot claim

[2018-09-09 13:07] AshHimself commented on #1871
Fixed in #1872
@emurgobot label "done"
@emurgobot done

[2018-09-09 14:11] AshHimself opened #1873 "problem: bad performance with site"
problem: bad performance with site, its loading really slow for me. Loading a currency on my local instance is taking like 15-17 seconds.

Solution:  Ideally I would get Kadira going and see where its performing badly but I think we can all provide some input.

[2018-09-09 14:28] Ayanrocks commented on #1873
Changing from blaze to react can fix it with added ssr.

[2018-09-09 14:29] gazhayes commented on #1873
When did this change for you?

[2018-09-09 14:30] AshHimself commented on #1873
@gazhayes the speed? If so, then i'd say its been getting gradually slower and in the last month or so. Is it just me? or is it fast for everyone else.

The currency view page does have A LOT of DOM elements and Blaze just craps itself with too many DOM elements.

[2018-09-09 14:32] gazhayes commented on #1873
Kadira to the rescue methinks

[2018-09-09 14:33] AshHimself commented on #1873
:) https://medium.com/@foodfitnesscode/setting-up-kadira-on-a-ubuntu-16-04-server-part-1-a821cdddd1e6

[2018-09-09 14:52] #1871 closed

[2018-09-09 14:52] #1869 closed

[2018-09-09 14:56] gazhayes commented on #1873
guess I better do it, unless someone else volunteers

[2018-09-09 16:37] Ayanrocks commented on #1864
Did that but still same issue. However Fixed the issue by completely removing meteor and installing it afterwards.

[2018-09-09 16:37] #1864 closed

[2018-09-09 19:50] anbud commented on #1873
I'm not sure what's different, but it still takes about 3-4 seconds to load a currency on a local server for me. But, Kadira will help us anyway. If you haven't started working on it @gazhayes, I can do it. :)

[2018-09-09 20:50] geekyd opened #1874 "Problem: share button overlapping with header on bounties page"
Problem: share button overlapping with header on bounties page

Solution: Add margin between header & share button

[2018-09-09 20:50] geekyd commented on #1874
@emurgobot claim

[2018-09-09 21:33] #1794 closed

[2018-09-09 21:53] geekyd opened #1876 "Problem: language modal pops up if current language option is selected"
Problem: language modal pops up if current language option is selected

Solution: If the user selects keep using current language option then avoid showing the language modal

[2018-09-09 21:53] geekyd commented on #1876
@emurgobot claim

[2018-09-09 22:16] geekyd commented on #1874
Done in #1875

[2018-09-09 22:16] geekyd commented on #1876
Done in #1877

[2018-09-10 02:04] gazhayes commented on #1873
@anbud you want me to give you a fresh ububtu server to work with?

[2018-09-10 02:10] AshHimself commented on #1873
@gazhayes not sure if the box is ready but I can get the ball moving if it is.

[2018-09-10 02:32] gazhayes commented on #1873
I can have her fired up in an hour.

[2018-09-10 06:27] AshHimself commented on #1873
How'd yah get on mate? @gazhayes

[2018-09-10 06:55] gazhayes commented on #1873
oops: gareth@58.152.37.119
password sent by email

[2018-09-10 07:06] samuelralak commented on #1873
there’s been little change in regards to performance on my end, though am
assuming that the situation will change as blockrazor grows. good thing
this came up now

On Mon, 10 Sep 2018 at 09:55, Gareth Hayes <notifications@github.com> wrote:

[2018-09-10 10:28] AshHimself commented on #1873
@anbud @gazhayes - I have Kadira running but getting some CORS issues which is stopping data being sent to the server. Anyone have experiance in this? I can keep looking but obviously looking for the fastest path to resolution :)

http://58.152.37.119:4000/
admin@gmail.com
admin

[2018-09-10 10:47] anbud commented on #1873
Change this [line](https://github.com/kadira-open/kadira-server/blob/74a7fa8ca4f8f90d2ad0e35a42a8997152619861/kadira-engine/lib/utils.js#L11) to `'Access-Control-Allow-Origin': '*',`, restart the server and it'll probably fix the issue.

[2018-09-10 10:52] #1874 closed

[2018-09-10 10:52] #1876 closed

[2018-09-10 10:54] AshHimself commented on #1873
Let me have a look, I’m using a docket image so not sure I can just change
it easily ?

On Mon, 10 Sep 2018 at 6:47 pm, Andrej Budinčević <notifications@github.com>
wrote:

[2018-09-10 11:10] anbud commented on #1865
Hmm, I can't seem to reproduce it, either on production or on the local server. The back button always takes you back.

[2018-09-10 11:16] anbud opened #1878 "Problem: Reset password page is not multilingual"
Problem: Reset password page is not multilingual

Solution: Convert literal strings to TAPi18n keys.

[2018-09-10 11:40] anbud commented on #1878
Done in #1879.

[2018-09-10 11:41] #1878 closed

[2018-09-10 12:40] AshHimself commented on #1873
@anbud i've resolved this CORS issue, but i'm just getting NO data sent to Kadira :/

[2018-09-10 14:01] anbud commented on #1873
Hmm, yeah, email me the server details and I'll take a look what's happening. :)

[2018-09-10 17:52] #1857 closed

[2018-09-10 18:44] MadanBhandari commented on #1859
Currently user can access `/home`, link is on side navigation. I kept Get started link to `/login` as we want user to be logged-in.

[2018-09-10 18:51] anbud commented on #1873
I spent quite some time looking for a solution and it appears that it was as simple as adding `?replicaSet=kadira` to docker-compose.yml file. The UI and the engine were using different mongodb instances hence the discrepancies between data.

It's fixed now, and in #1881 I've connected Blockrazor to our Kadira instance. It seems to be getting the correct data as far as I've tested it locally.

[2018-09-10 18:55] MadanBhandari commented on #1854
Blockchain is too broad topic, we should just use core features of our project instead of about (or use case) of blockchain itself, we can make separate section for blockchain introduction, use cases and how world can take benefits from this.

At first I need more clarifications about this project, my points are :

1. What is the use of balance on our wallet ? Are we gonna start trading ?
2. What

[2018-09-11 01:26] gazhayes commented on #1859
I did this intentionally before, but I guess its better to do it the way Madan suggests at first and then introduce restrictions only after we have a critical mass of users

[2018-09-11 06:04] MadanBhandari opened #1882 "Problem : Eslint is not configured for meteor"
Problem : Eslint gives too many errors as this is not configured for Meteor

Solution :  Use eslint plugin for Meteor like [eslint-meteor-plugin](https://github.com/dferber90/eslint-plugin-meteor), and configure according to our style guide

[2018-09-11 06:16] MadanBhandari opened #1883 "Problem : Docs are not linked in README"
Problem : Detailed style guide is available in `/docs` but they are not linked in README
Solution : Link `/docs` to `README.MD`

[2018-09-11 06:36] MadanBhandari commented on #1882
@emurgobot label 'done'

[2018-09-11 06:37] MadanBhandari commented on #1883
@emurgobot label 'done'

[2018-09-11 06:50] MadanBhandari commented on #1882
@emurgobot claim

[2018-09-11 07:02] MadanBhandari commented on #1882
Fixed in #1885
@emurgobot label "done"
@emurgobot done

[2018-09-11 07:28] gazhayes opened #1886 "problem: images are constantly reloading"
Problem: images that don't exist (not found) are 'flashing' across the whole site and flooding the console with not found errors.

<img width="539" alt="screen shot 2018-09-11 at 3 24 29 pm" src="https://user-images.githubusercontent.com/8143945/45344855-4d0b9180-b5d7-11e8-81e9-77c6cfc00116.png">

[2018-09-11 07:29] gazhayes opened #1887 "problem: kadira requests are being blocked"
Problem: requests from/to kadira are being blocked because it's not using ssl.

[2018-09-11 07:30] gazhayes commented on #1866
@emurgobot claim

[2018-09-11 07:31] gazhayes commented on #1866
@emurgobot claim

[2018-09-11 07:32] AshHimself commented on #1873
@anbud - nice work mate!

Can you upgrade the account as well? I would but i'm traveling right now.

[2018-09-11 07:35] #1865 closed

[2018-09-11 08:16] #1883 closed

[2018-09-11 08:16] #1882 closed

[2018-09-11 08:31] anbud commented on #1887
Hmm, could you point a domain to the IP where Kadira is?

Letsencrypt can't generate valid SSL certificates for an IP address, it needs a valid domain.

[2018-09-11 08:32] anbud commented on #1873
Sure thing. :)

[2018-09-11 08:33] gazhayes commented on #1887
Ah yeah, will do that asap

[2018-09-11 08:34] gazhayes opened #1888 "problem: no domain pointed at kadira instance"
claim

[2018-09-11 08:58] MadanBhandari commented on #1854
![screenshot from 2018-09-11 14-27-03](https://user-images.githubusercontent.com/6429311/45349417-d4a0d280-b5ce-11e8-9389-6836ec937f9e.png)

I am planning to something like this, any suggestions / ideas ?

[2018-09-11 11:14] anbud commented on #1887
@emurgobot claim

[2018-09-11 11:14] anbud commented on #1887
@emurgobot abandon

[2018-09-11 11:35] anbud commented on #1873
Upgraded.

[2018-09-11 11:37] anbud commented on #1886
@emurgobot claim

[2018-09-11 11:58] MadanBhandari commented on #1854
@emurgobot label "UI-UX"

[2018-09-11 11:58] MadanBhandari commented on #1854
Finally @emurgobot  is back to work :+1:

[2018-09-11 11:59] MadanBhandari commented on #1844
@samuelralak are you working on this ?

[2018-09-11 12:00] samuelralak commented on #1844
yes I am

[2018-09-11 12:09] MadanBhandari commented on #1854
@samuelralak @gazhayes @anbud

I need one more clarification, what is current second language ? Google says croatian, is that correct ? and simple Google translate (English to Croatian) is good ?

and I was also expecting answers for [these questions](https://github.com/Blockrazor/blockrazor/issues/1854#issuecomment-420021959) :D

[2018-09-11 12:14] anbud commented on #1854
Don't worry about the other language, I've just added it as a proof of concept for the whole translation thing. You don't have to translate anything, English is sufficient for now.

It's Serbian, which is about 97% the same as Croatian, even Google can't tell them apart. :)

[2018-09-11 12:32] MadanBhandari commented on #1887
Is this the reason for failed build ?

[2018-09-11 15:06] anbud commented on #1854
About the other questions:
1. Yap, the idea is to let users to trade their crypto or fiat for KZR, that's why we have other balances in the wallet.
2. Source of data quality index are questions that users can answer as a part of a bounty. There questions about wallets, communities, codebase and decentralization.
3. There's actually a moderator rank that is calculated for each user which you can se

[2018-09-11 17:00] Ayanrocks commented on #1888
Where is the Problem?

[2018-09-11 17:03] gazhayes commented on #1888
dns resolution is required for ssl, ssl is required for downstream elements.

@emurgobot claim

[2018-09-11 20:42] anbud commented on #1886
Fixed in #1890.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-09-11 20:46] anbud commented on #1887
@emurgobot claim

[2018-09-11 22:26] AshHimself opened #1891 "problem: side bar closing on mobile for dropdowns"
problem: side bar closing on mobile for dropdowns, this should not happen and only on parent nodes.

Solution: Add lookup to check the class before closing the menu.

[2018-09-11 22:33] AshHimself opened #1893 "problem: search does not work when not authenticated"
problem: search does not work when not authenticated

Solution: allow users to search prior to being logged in.

[2018-09-12 02:20] AshHimself opened #1895 "problem: zero password strenth enforced on signup"
Problem:  zero password strength enforced on signup which allows users to signup with single letter passwords.

Solution: Enforce users to have at least 8 chars.

[2018-09-12 02:26] AshHimself commented on #1895
In addition to this, users can signup without actually using in email.

[2018-09-12 03:12] AshHimself commented on #1893
Fixed in #1894
@emurgobot label "done"
@emurgobot done

[2018-09-12 03:15] AshHimself commented on #1895
Fixed in #1896
@emurgobot label "done"
@emurgobot done

[2018-09-12 03:21] AshHimself opened #1897 "problem: scrollbars not visible"
problem: scroll bars are not visible on OSX to certain areas giving the users the impression there is no more data to see.

![image](https://user-images.githubusercontent.com/148682/45400233-af739900-b68e-11e8-80a8-cdf310100955.png)

Solution: Not the foggiest.

[2018-09-12 04:18] AshHimself opened #1898 "problem: Remaining chars display has bad ux"
Problem: clearly describe the problem you are reporting. Include references to the codebase where applicable.

![image](https://user-images.githubusercontent.com/148682/45401985-aa1a4c80-b696-11e8-8042-ef2e7d681b08.png)

Solution: Make a nicer UX and put the text under the textarea.

[2018-09-12 04:24] AshHimself opened #1899 "problem: exchanges showing GUID resulting in bad UX"
Problem: exchanges showing GUID resulting in bad UX
![image](https://user-images.githubusercontent.com/148682/45402118-52301580-b697-11e8-88f4-f2e533dc5208.png)

Solution: guessing this should be showing the actual exchange name

[2018-09-12 04:26] AshHimself opened #1900 "problem: hardware devices are missing data"
Problem: hardware devices are missing data
![image](https://user-images.githubusercontent.com/148682/45402201-d387a800-b697-11e8-8dea-e031a5052155.png)

Solution: Add data, at least set a baseline and more 'blah'

[2018-09-12 04:34] AshHimself commented on #1897
Fixed in #1901
@emurgobot label "done"
@emurgobot done

[2018-09-12 04:57] AshHimself commented on #1898
![image](https://user-images.githubusercontent.com/148682/45403122-32e7b700-b69c-11e8-89d8-eda20bb73941.png)

Fixed in #1902
@emurgobot label "done"
@emurgobot done

[2018-09-12 04:58] AshHimself commented on #1898
shut up EmurgoBot!!

[2018-09-12 04:59] AshHimself opened #1903 "problem: notifications bubble is hidden under header"
problem: notifications bubble is hidden under header and the message isn't 100% seen

Solution: Fix the UI

[2018-09-12 05:00] AshHimself commented on #1903
@emurgobot

[2018-09-12 05:00] AshHimself commented on #1903
@emurgobot claim

[2018-09-13 05:29] AshHimself commented on #1903
Fixed in #1904
@emurgobot label "done"
@emurgobot done

[2018-09-13 05:51] AshHimself opened #1905 "problem: cannot select currency when comparing"
problem: cannot select currency when comparing

Solution: should be able to select and view a currency when comparing it

[2018-09-13 05:54] AshHimself commented on #1905
@emurgobot claim

[2018-09-13 06:54] AshHimself opened #1907 "problem: bad UX on the transactions UX"
problem: bad UX on the transactions UX

Solution: clean up so its clearly visible and offers a great UX

[2018-09-13 16:33] MadanBhandari commented on #1899
Does this still exist ?

This is working as expected with me (local and online both).

[2018-09-13 16:37] MadanBhandari opened #1908 "Problem: TypeError: Cannot read property 'split' of undefined"
Problem : Exception in template helper: TypeError: Cannot read property 'split' of undefined

Solution : Check what's causing the problem and fix.

[2018-09-13 16:38] MadanBhandari commented on #1908
@emurgobot claim

[2018-09-13 17:51] MadanBhandari commented on #1908
Fixed in #1909
@emurgobot label "done"
@emurgobot done

[2018-09-13 17:53] MadanBhandari commented on #1907
@emurgobot claim

[2018-09-13 17:56] #1859 closed

[2018-09-13 22:31] anbud commented on #1899
This one is working for me as well, your data is probably old, old exchanges were randomly generated with random names that look like ids.

[2018-09-14 05:18] AshHimself commented on #1907
sorry @MadanBhandari I totally forgot to claim this and just did a PR for it.

[2018-09-14 05:18] AshHimself commented on #1907
Fixed in #1910
@emurgobot label "done"
@emurgobot done

[2018-09-14 05:30] MadanBhandari commented on #1907
@AshHimself No worries, I will pick another one.

[2018-09-14 05:30] MadanBhandari commented on #1907
@emurgobot unclaim

[2018-09-14 10:38] MadanBhandari opened #1911 "Problem : Github fork url blank in solved problems"
Problem : Github fork url blank in solved problems, after problem Mark as solved.

![block-razor-error](https://user-images.githubusercontent.com/6429311/45545524-2b5d1500-b838-11e8-9fb6-70d4b48d3126.png)

[2018-09-14 10:41] MadanBhandari opened #1912 "Problem : Comments ux is bad in /problem"
Problem : Comments UX is bad in problems
Solution : Replace text input with text area

[2018-09-14 10:43] MadanBhandari commented on #1911
@emurgobot claim

[2018-09-14 10:43] MadanBhandari commented on #1912
@emurgobot label "UI-UX"
@emurgobot claim

[2018-09-14 10:58] MadanBhandari commented on #1911
Fixed in #1913
@emurgobot done

[2018-09-14 11:00] MadanBhandari commented on #1911
@emurgobot label "done"

[2018-09-14 11:23] MadanBhandari opened #1915 "Problem : FAQ link not available on Navigation"
Solution : Add FAQ link to Navigation

[2018-09-14 11:40] MadanBhandari commented on #1915
Fixed in #1916
@emurgobot label "done"
@emurgobot done

[2018-09-14 11:40] MadanBhandari commented on #1912
Fixed in #1914
@emurgobot label "done"
@emurgobot done

[2018-09-14 12:09] samuelralak commented on #1844
@emurgobot remove "in progress"
@emurgobot label "done"

done in #1917

[2018-09-14 12:17] samuelralak opened #1918 "Problem: [/avg-hashpower] bad UI-UX"
Problem: No styles added to `/avg-hashpower` thus giving the page a plain look.

Solution: CoreUi-fy `/avg-hashpower` page.

[2018-09-14 12:17] samuelralak commented on #1918
@emurgobot claim

[2018-09-14 12:37] samuelralak commented on #1918
@emurgobot remove "in progress"
@emurgobot label "done"

[2018-09-14 12:37] samuelralak commented on #1918
done in #1919

[2018-09-14 12:40] samuelralak opened #1920 "Problem: [/flagged-hashpower] bad UI-UX"
Problem: No stylng applied to `/flagged-hashpower` page.

Solution: Core-fy the page. Follow `/approvals` page template

[2018-09-14 12:40] samuelralak commented on #1920
@emurgobot claim

[2018-09-14 12:47] MadanBhandari opened #1921 "Problem : Email password is in code"
Problem : Email password is in code

Solution :

1. Remove password from `/main.js` and move to` settings.json` file
2. Update readme for meteor settings for email

[2018-09-14 12:48] MadanBhandari commented on #1921
@emurgobot claim

[2018-09-14 12:49] samuelralak opened #1922 "Problem: [/moderator/applogs] Bad UI-UX"
Problem: Page has very large margins between the filter inputs and content table.

Solution:  Reduce the search input filter margins

[2018-09-14 13:30] MadanBhandari commented on #1921
Fixed in #1923
@emurgobot label "done"
@emurgobot done

[2018-09-14 14:58] geekyd opened #1925 "Problem: missing page to approve users as developers"
Problem: missing page to approve users as developers

Solution: Enable moderator to approve/reject a user as a developer

[2018-09-14 14:58] geekyd commented on #1925
@emurgobot claim

[2018-09-14 15:00] geekyd opened #1926 "Problem: inconsistent UI in case of large screen size /currency"
Problem: inconsistent UI in case of large screen size /currency

![screen shot 2018-09-14 at 8 28 54 pm](https://user-images.githubusercontent.com/12807846/45558202-f8794800-b85c-11e8-8d32-20a67be2eabf.png)

[2018-09-14 15:03] anbud commented on #1925
There's a page for this already (I believe it's/developers), the original idea was that other developers can approve developers.

[2018-09-14 15:08] geekyd commented on #1925
@anbud Yes the page exists but there is no way to reach the page currently. This will not allow users to complete the bounties for rating the currencies. I checked the page there is no listed pending approval on the page but there are some in the DB.

I think the idea of other developers approving is good. We should implement voting instead here just like we do for moderators.

@gazhayes What are

[2018-09-14 15:08] gazhayes commented on #1925
solved

[2018-09-14 15:08] #1925 closed

[2018-09-14 16:14] geekyd opened #1927 "Problem: no link to visit /developer route"
Problem: no link to visit /developer route

Solution: Add a link in the side menu to access the developer route if the user is developer

[2018-09-14 16:14] geekyd commented on #1927
@emurgobot claim

[2018-09-14 16:34] geekyd commented on #1927
Fixed in #1928
@emurgobot label "done"
@emurgobot done

[2018-09-15 08:57] #1891 closed

[2018-09-15 08:57] #1893 closed

[2018-09-15 08:57] #1895 closed

[2018-09-15 08:57] #1898 closed

[2018-09-15 08:57] #1903 closed

[2018-09-15 08:58] #1907 closed

[2018-09-15 08:58] #1861 closed

[2018-09-15 08:58] #1897 closed

[2018-09-15 08:58] #1798 closed

[2018-09-15 11:04] gazhayes opened #1929 "problem: weird scroll length on mobile"
problem: when scrolling (any route) on mobile it scrolls a few pixels the locks, you need to lift up your finger and restart scrolling to continue scrolling down the page.

this happens at the very top and very bottom of the page.

[2018-09-15 11:05] AshHimself commented on #1929
@emurgobot claim

leme take a looksy

[2018-09-15 11:12] #1918 closed

[2018-09-15 13:11] samuelralak commented on #1920
@emurgobot remove "in progress"
@emurgobot label "done"

done in #1930

[2018-09-15 13:11] samuelralak commented on #1922
@emurgobot claim

[2018-09-15 14:02] samuelralak commented on #1922
@emurgobot remove "in progress"
@emurgobot label "done"

done in #1931

[2018-09-15 14:03] #1920 closed

[2018-09-15 14:03] #1844 closed

[2018-09-15 14:07] samuelralak opened #1932 "Problem: [/add-hashpower] bad UI-UX"
Problem: Core Ui theme isn't fully taken advantange on the `/add-hashpower` page. Margins are too large on the left and right side of the form.

[2018-09-15 14:07] samuelralak commented on #1932
@emurgobot claim

[2018-09-15 14:59] Ayanrocks commented on #1926
@emurgobot claim

[2018-09-15 15:05] Ayanrocks commented on #1926
which page is this?

[2018-09-15 15:06] samuelralak commented on #1926
check the compareCurrencies page

On Sat, 15 Sep 2018 at 18:05, Ayan Banerjee <notifications@github.com>
wrote:

[2018-09-15 15:14] Ayanrocks commented on #1926
I didnt find any inconsistancy?
![screenshot from 2018-09-15 20-42-10](https://user-images.githubusercontent.com/11027998/45587777-2ecfc980-b928-11e8-9219-92940ff3a21f.png)

[2018-09-15 15:29] Ayanrocks commented on #1845
still working @gazhayes  in this issue?

[2018-09-15 15:41] gazhayes commented on #1845
Yep, I'm slow ;)

[2018-09-15 18:01] samuelralak opened #1934 "Problem: [/flagged-ip/:address] bad UI-UX"
Problem: Inconsistent UI compared to the rest of the site; page does not take full advantage of the Core Ui theme.

[2018-09-15 18:01] samuelralak commented on #1934
@emurgobot claim

[2018-09-15 19:02] samuelralak commented on #1932
@emurgobot remove "in progress"
@emurgobot label "done"

done in #1933

[2018-09-15 19:03] samuelralak opened #1936 "Problem: [/priceChart] bad UI-UX"
Problem: Page UI is inconsistent with the rest of the site. Core UI not taken full advantage of.

[2018-09-15 19:03] samuelralak commented on #1934
@emurgobot remove "in progress"
@emurgobot label "done"

done in #1935

[2018-09-15 19:34] samuelralak commented on #1936
@emurgobot remove "in progress"
@emurgobot label "done"

done in #1937

[2018-09-15 19:37] samuelralak opened #1938 "Problem: [/transactions/1] bad ui-ux"
Problem: Page requires general UI improvements. Core UI not taken full advantage of.

Solution: Apply Core UI theme styles to table and filter inputs

[2018-09-15 19:37] samuelralak commented on #1938
@emurgobot claim

[2018-09-15 20:33] samuelralak commented on #1938
@emurgobot remove "in progress"
@emurgobot label "done"

done in #1939

[2018-09-15 20:42] samuelralak opened #1940 "Problem: [/wallet/:currency] bad UI-UX"
Problem: Page header is unstyled and looks out of place. CoreUI not fully taken advantage of

[2018-09-15 20:42] samuelralak commented on #1940
@emurgobot claim

[2018-09-16 03:22] gazhayes opened #1942 "problem: landing page isn't using tap18 translation"
problem: landing page isn't using tap18 translation. The text in the translation files is correct but it's not being used by the landing page.

[2018-09-16 03:25] gazhayes opened #1943 "problem: existing users are directed to landing page instead of home page"
problem: existing (logged in) users are directed to landing page instead of home page. This is unnecessarily annoying for people who are already 'sold' enough to have created an account.

<img width="1070" alt="screen shot 2018-09-16 at 11 23 49 am" src="https://user-images.githubusercontent.com/8143945/45592544-18b31f00-b9a3-11e8-89ea-446b1ba5735f.png">

[2018-09-16 03:32] gazhayes commented on #1886
ping @anbud  This is still happening. There must be some nasty root cause.

https://youtu.be/amO75Ev_D_I

[2018-09-16 03:40] gazhayes opened #1944 "Problem: not everyone notices that there's a side menu on large screens"
Problem: not everyone realizes there's a side menu when on large screens

solution: on large screens default the menu to be open unless the user has intentionally closed it.

[2018-09-16 03:44] gazhayes commented on #1888
@anbud I've pointed kadira.emurgolance.org to the kadira instance.

[2018-09-16 03:44] #1888 closed

[2018-09-16 03:45] gazhayes commented on #332
-

[2018-09-16 03:45] #332 closed

[2018-09-16 03:45] #1365 closed

[2018-09-16 03:46] gazhayes commented on #1797
Still doing this one @AshHimself?

[2018-09-16 03:47] #1803 closed

[2018-09-16 03:47] AshHimself commented on #1797
Ooops, forgot I was still assign to me. Let me do it today.

[2018-09-16 04:02] gazhayes commented on #1873
Closing this as Kadira is up, performance related issues can be logged separately.

[2018-09-16 04:02] #1873 closed

[2018-09-16 04:03] gazhayes commented on #1887
Done. kadira.emurgolance.org

[2018-09-16 04:03] #1899 closed

[2018-09-16 04:03] gazhayes commented on #1899
@AshHimself it's just legacy data, try using the latest dump from production.

[2018-09-16 04:04] gazhayes commented on #1900
We can let users add data it's ok.

[2018-09-16 04:04] #1900 closed

[2018-09-16 04:05] #1905 closed

[2018-09-16 04:05] #1908 closed

[2018-09-16 04:05] #1932 closed

[2018-09-16 04:06] #1911 closed

[2018-09-16 04:06] #1912 closed

[2018-09-16 04:06] #1915 closed

[2018-09-16 04:06] #1921 closed

[2018-09-16 04:06] #1922 closed

[2018-09-16 04:07] #1934 closed

[2018-09-16 04:07] #1936 closed

[2018-09-16 04:07] #1938 closed

[2018-09-16 05:07] AshHimself commented on #1797
Fixed in #1945
@emurgobot label "done"
@emurgobot done

[2018-09-16 05:08] AshHimself opened #1946 "problem: search stats displayed always"
problem: search stats displayed always even when a search is not in progress. I have commented it out but needs to be worked into the new UX.

Solution: only display search stats when search inprogress

[2018-09-16 06:28] AshHimself commented on #1929
@gazhayes - this was a super weird issue to fix (I think at least for me) the sticky footers fixed height was causing two scroll bars. I had to slowly remove each dom element till I found the culprit :/

Fixed in #1947
@emurgobot label "done"
@emurgobot done

[2018-09-16 06:45] gazhayes commented on #1929
Yeah I know the feeling, spent 6 hours once on an off-by-one error.

[2018-09-16 06:45] #1929 closed

[2018-09-16 06:57] anbud commented on #1886
I'll check it out, I've possibly fixed just one of the causes then. :)

[2018-09-16 06:58] anbud commented on #1887
Thanks. I'll take care of it from here.

[2018-09-16 09:59] geekyd commented on #1926
@Ayanrocks The problem exists for large size screens. To check this open the device toolbar from the chrome dev & select large screen size.

![screen shot 2018-09-16 at 3 26 19 pm](https://user-images.githubusercontent.com/12807846/45595146-ef0aef80-b9c4-11e8-9f50-1202e6bb6f59.png)

[2018-09-16 10:17] AshHimself commented on #1944
@emurgobot - claim

[2018-09-16 10:28] AshHimself commented on #1944
Fixed in #1948
@emurgobot label "done"
@emurgobot done

[2018-09-16 10:30] AshHimself commented on #1943
@emurgobot claim

[2018-09-16 10:44] #1944 closed

[2018-09-16 10:47] #1797 closed

[2018-09-16 11:11] AshHimself commented on #1943
Fixed in #1949
@emurgobot label "done"
@emurgobot done

[2018-09-16 11:12] AshHimself commented on #1946
@emurgobot claim

[2018-09-16 13:18] gazhayes opened #1950 "problem: breadcrumbs do not show what currency you are looking at"
Problem:
<img width="419" alt="screen shot 2018-09-16 at 9 18 01 pm" src="https://user-images.githubusercontent.com/8143945/45596901-17f7a880-b9f6-11e8-9200-9b16dc8744a6.png">

[2018-09-16 13:20] gazhayes opened #1951 "problem: total registered users not shown"
Problem: only the number of online users is shown but not the total number of registered users.
<img width="169" alt="screen shot 2018-09-16 at 9 19 10 pm" src="https://user-images.githubusercontent.com/8143945/45596910-3fe70c00-b9f6-11e8-8fbc-19e0a6036d20.png">

Solution: I guess display online users as a fraction (e.g. 5/80), people will probably get it

[2018-09-16 16:26] samuelralak commented on #1950
@emurgobot label "done"

done in #1952

[2018-09-16 16:27] samuelralak commented on #1951
@emurgobot claim

[2018-09-16 21:55] samuelralak commented on #1951
@emurgobot label "done"
@emurgobot remove "in progress"

done in #1953

[2018-09-16 21:55] #1940 closed

[2018-09-16 22:09] samuelralak opened #1954 "Problem: [/wallet/kzr] TypeError thrown in console"
Problem: The below error is thrown when user navigates to the krazor wallet transactions.

<img width="1312" alt="screen shot 2018-09-17 at 1 07 12 am" src="https://user-images.githubusercontent.com/4476552/45601477-3e2d4080-ba16-11e8-84ff-d17df03dfedf.png">

[2018-09-16 22:09] samuelralak commented on #1954
@emurgobot claim

[2018-09-16 22:42] anbud commented on #1942
Done in #1956.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-09-16 22:58] anbud commented on #1887
Done in #1957.

@emurgobot label "done"
@emurgobot remove "in progress"

[2018-09-17 01:33] gazhayes opened #1959 "problem: incorrect number of total users"
Problem: there are ~80 registered users, only 1 displayed

<img width="137" alt="screen shot 2018-09-17 at 9 33 07 am" src="https://user-images.githubusercontent.com/8143945/45603242-c9c9c000-ba5c-11e8-908a-a57b8495ead1.png">

[2018-09-17 01:34] #1954 closed

[2018-09-17 01:34] #1951 closed

[2018-09-17 01:36] #1950 closed

[2018-09-17 01:37] #1942 closed

[2018-09-17 01:37] #1887 closed

[2018-09-17 01:38] #1886 closed

[2018-09-17 01:42] #1943 closed

[2018-09-17 07:00] AshHimself commented on #1959
@emurgobot claim

[2018-09-17 07:47] AshHimself commented on #1959
@gazhayes - This isn't a DB issue or something is it? I'm getting this locally;

![image](https://user-images.githubusercontent.com/148682/45611171-06171380-ba91-11e8-9e41-a9707d195723.png)

[2018-09-17 07:54] AshHimself commented on #1959
For some reason production isn't subscribing to all users collection where it is locally :/

[2018-09-17 08:02] AshHimself commented on #1959
Fixed in #1961
@emurgobot label "done"
@emurgobot done

[2018-09-17 12:01] #1959 closed

[2018-09-17 12:02] gazhayes opened #1963 "problem: total currencies is incorrect"
Problem: total currencies is incorrect
<img width="193" alt="screen shot 2018-09-17 at 8 01 42 pm" src="https://user-images.githubusercontent.com/8143945/45621863-9155d080-bab4-11e8-82b3-a1e91f21704b.png">

[2018-09-17 12:05] gazhayes opened #1964 "problem: people who haven't created accounts might think blockrazor is inactive"
problem: people who haven't created accounts might think blockrazor is inactive

solution: add some site metrics to the landing page thing. suggestions: active + total users, signups this month, comments in the last month (this should obviously be obtained using a cron job to update something in a collection already used by that page rather than counting all the comments. If it's more than half an

[2018-09-17 12:08] anbud commented on #1964
@emurgobot claim

[2018-09-17 15:27] anbud commented on #1964
Done in #1965.

@emurgobot done

[2018-09-17 15:27] anbud commented on #1963
@emurgobot claim

[2018-09-17 15:41] anbud commented on #1963
Done in #1966.

@emurgobot done

[2018-09-18 00:49] #1963 closed

[2018-09-18 00:49] #1964 closed

[2018-09-18 06:44] MadanBhandari opened #1967 "Problem : Sendgrid suspended account"
**Problem :** Email services from sendgrid  is suspended

I got this email from sendgrid.

![screenshot from 2018-09-18 12-09-00](https://user-images.githubusercontent.com/6429311/45668960-20f29200-bb3c-11e8-8d38-b7096d251e43.png)

**Solution :**
I have sent an email to sendgrid for removing suspension as we have removed the username and password from our git repo, I will share updated credentials

[2018-09-18 12:05] gazhayes opened #1968 "problem: some data cannot be public"
Problem: blockrazor needs to be totally transparent and open, but there are sometimes things that cannot be made public, such as passwords to third party services, server ssh credentials, etc. The problem is that going forward, I am a single point of failure if I'm storing all this data myself and no one else has access to it.

Solution: this is the best I've come up with so far: place an encrypte

[2018-09-18 12:12] gazhayes opened #1969 "problem: incorrect image directory used in codebase"
Problem: the image directory used for uploaded images is now incorrect.

solution: update the codebase

It should now be:
/home/gareth/blockrazor_assets/static/images

All queries for /images are sent to a separate node instance serving the images in the above directory.

This also means you cannot put images in /public/images in Meteor, anything in there should be moved to /public/codebase_images

[2018-09-18 12:17] AshHimself commented on #1946
Someone can take this i'm offline for a day or so and do not want to hold up the project @emurgobot unclaim

[2018-09-18 12:34] anbud commented on #1968
I like this one, and the approach is perfectly fine.
@emurgobot claim

Just one question about the deadman switch, do you have a suggestion what would it be? For example, it could be failure to login in, let's say, 14 days, failure to respond to a notification or an email, failure to enter a code of some sort every now and then or something similar.

[2018-09-18 12:52] MadanBhandari commented on #1946
@emurgobot claim

[2018-09-18 13:27] anbud commented on #1968
You're right, it would be better if it's independent. Ok, I'll start working on the voting system.

[2018-09-18 14:01] gazhayes opened #1970 "problem: menu does not close on mobile when tapping off-menu"
problem: users are accustomed to closing side menus by tapping the body of the app or page. This doesn't happen on blockrazor which is a bit annoying.

[2018-09-18 14:36] samuelralak commented on #1970
@emurgobot claim

On Tue, 18 Sep 2018 at 17:01, Gareth Hayes <notifications@github.com> wrote:

[2018-09-18 18:31] anbud commented on #1968
Done in #1971.

Deadman switch should insert a record looking like this:
[code]

to `encryption` collection and it'll trigger the voting system. It uses a cron job to check whether the switch was triggered every hour.

@emurgobot done

[2018-09-19 05:57] gazhayes opened #1972 "problem: related github repos not considered"
Problem: for each blockchain project, there are usually people working on their own extensions etc. These are generally found on github. Blockrazor does not take these projects into account when providing the user with data.

solution:
use the github search API to populate a collection with relevant data. E.g search for "monero" and then for each result store:
html_url
fork
created_at
updated_at
s

[2018-09-19 06:14] MadanBhandari commented on #1946
Fixed in #1973

@emurgobot done
@emurgobot label "done"

[2018-09-19 06:51] MadanBhandari commented on #1967
@emurgobot done

[2018-09-19 06:52] MadanBhandari commented on #1967
@emurgobot claim
@emurgobot done

[2018-09-19 06:52] MadanBhandari commented on #1967
@emurgobot done

[2018-09-19 07:12] anbud commented on #1972
Yap, I'm taking it.

@emurgobot claim

[2018-09-19 07:18] MadanBhandari commented on #1967
MAIL_URL fixed in #1974

**Updated Details :**
blockrazor :::: blockrazor125

ping @gazhayes @anbud

[2018-09-19 07:18] #1967 closed

[2018-09-19 11:49] anbud commented on #1972
Done in #1976.

@emurgobot done

[2018-09-19 13:30] anbud commented on #1969
@emurgobot claim

[2018-09-19 16:11] anbud commented on #1969
Fixed in #1977. This should also fix #1681, #1808, #1838 and #1845.

@emurgobot done

[2018-09-21 00:08] #1808 closed

[2018-09-24 03:13] #1838 closed

[2018-09-24 03:13] #1946 closed

[2018-09-24 03:13] #1968 closed

[2018-09-24 03:14] #1969 closed

[2018-09-24 03:14] #1970 closed

[2018-09-24 03:28] gazhayes opened #1978 "problem: no IP whitelist for banning system"
Problem: due to the use of reverse proxies etc, sometimes 127.0.0.1 or some other local addresses are flagged as being used by multiple users.

Solution: add an object to an existing collection or create a new collection for an IP whitelist. No GUI needed as it can be manipulated manually. Add a fixture to add 127.0.0.1 to the list if it's not already there. Check this list for addresses before us

[2018-09-24 03:30] gazhayes opened #1979 "problem: flagged users not sorted by time"
Problem: [/moderator/flagged-users] flagged users (or flagged IPs) are not sorted by last access time.

[2018-09-24 08:32] anbud commented on #1978
@emurgobot claim

[2018-09-24 10:42] anbud commented on #1978
Done in #1980.

To add an IP to the whitelist just run this query:
[code]

@emurgobot done

[2018-09-24 10:44] anbud commented on #1979
@emurgobot claim

[2018-09-24 10:54] anbud commented on #1979
Done in #1981.

@emurgobot done

[2018-09-24 10:54] #1972 closed

[2018-09-24 10:54] #1978 closed

[2018-09-24 10:54] #1979 closed

[2018-09-24 10:55] #1681 closed

[2018-09-24 10:56] #1845 closed

[2018-09-25 11:33] gazhayes opened #1982 "problem: weird right side border"
Problem: there's some weird double or triple border thing in the UX.

[2018-09-25 11:51] gazhayes opened #1983 "problem: can't sort suspicious IP's by IP login time"
Problem: the last login time on the duplicate account IP list is based on the user login time. This means that any IP that has ever been used by a user is pushed to the top of the list whenever that user logs in. This makes it hard to distinguish by IP address.

Solution: add a new data point: last time this IP was used. Keep the existing sort method but add this data point to the list in an extra

[2018-09-25 11:52] gazhayes opened #1984 "problem: proposed changes that a user has already voted on are still shown in the moderation queue"
problem: proposed changes that a user has already voted on are still shown in the list at /moderator/changedCurrencies

[2018-09-25 11:57] gazhayes opened #1985 "problem: user's total KZR balance not shown on problem detail page"
problem: user's total KZR balance not shown on problem detail page (/problem/x) in the "add credit to bounty" box.

[2018-09-25 12:01] anbud commented on #1983
Yap, it's me, @emurgobot claim. I'll add the sort functionality and UI/UX guys can make it pretty. :)

[2018-09-25 12:02] gazhayes opened #1986 "problem: bottom of page content is cut off"
Problem: the bottom of each page is cut off prematurely on most pages

[2018-09-25 12:05] gazhayes opened #1987 "problem: when a bounty is in progress, users can't easily find their way back after navigating away"
problem: when a bounty is in progress, users can't easily find their way back after navigating away. There's a target icon in the menu bar but the side menu goes to the bounty page.

solution: make the bounty menu items (top and side menu) redirect to the current bounty when a bounty is in progress.

[2018-09-25 12:14] gazhayes opened #1988 "problem: no github project summary"
Problem: on the currency detail page there's no summary of github projects for this currency.

Solution: add a summary, something like this:

Related projects on Github: xxx
Watchers on all projects: xxxx
Likes on all projects: xxxxxx
Watchers per project: xxxx
Top 5 languages: x, x, x, x, x.

This should probably be stored in the currency collection (or something else that's already used on this

[2018-09-25 12:18] samuelralak commented on #1984
@emurgobot claim

[2018-09-25 12:36] MadanBhandari commented on #1986
@emurgobot claim

[2018-09-25 12:37] samuelralak commented on #1984
@emurgobot done

done in #1989

[2018-09-25 12:37] samuelralak commented on #1985
@emurgobot claim

[2018-09-25 12:38] gazhayes opened #1990 "problem: extra steps required for facebook or github signup"
Problem: extra steps are required for facebook or github signups, but email (which actually should be discouraged due to ease of creating multiple accounts) is easy.

solution: add sign in with github/facebook buttons to landing page. Remove email sign up from landing page. Add link to "sign up with email" instead of having it on the page itself.

Add the email sign-in (not sign-up) form to the la

[2018-09-25 12:41] gazhayes opened #1991 "problem: site stats on landing page are easy to miss"
problem: site stats on landing page are easy to miss because they are mixed in with other very similar looking things.

solution: not really sure, somehow make them stick out more, move them to the top of the page, change the styling, or something.

[2018-09-25 12:44] samuelralak commented on #1985
@gazhayes this seems to work fine. anyone else experiencing the same @anbud @AshHimself @MadanBhandari?

The test mod account has also been suspended, can't test with that anymore

[2018-09-25 12:45] samuelralak commented on #1985
@emurgobot unclaim

[2018-09-25 12:46] samuelralak commented on #1987
@emurgobot claim

[2018-09-25 12:48] gazhayes opened #1992 "problem: auction box at top of coin list doesn't really fit in"
problem: auction box at top of coin list doesn't really fit in. It looks good on small screens (single coin column) but not when there are multiple columns.

solution: I'm not sure, I guess make it a full-sized box like the other coins when there's more then one column, that's a good start and new problems can be added when people have ideas of what to actually use to fill the space.

[2018-09-25 12:50] gazhayes commented on #1985
Strange. It's not working for me. Could be some legacy DB thing or something, will wait to see if other people have the same issue.

Try logging in with gareth:rodviv for mod stuff

[2018-09-25 12:52] gazhayes opened #1993 "problem: difficult to change language"
problem: difficult to change language

solution: add language changer to bottom of side menu

[2018-09-25 12:54] gazhayes opened #1994 "problem: it's difficult for non-tech people to add translations"
problem: it's difficult for non-tech people to add translations

solution: no idea, anyone have any ideas? Maybe a quick form or something that generates a translation file?

[2018-09-25 13:35] samuelralak commented on #1987
@emurgobot done

done in #1995

[2018-09-25 13:36] geekyd commented on #1990
@emurgobot claim

[2018-09-25 14:10] samuelralak commented on #1991
@emurgobot claim

[2018-09-25 14:32] geekyd commented on #1990
Done in #1996

@emurgobot done

[2018-09-25 14:36] geekyd commented on #1994
@gazhayes We should add a page with a form to generate translation files seems a good idea. We can list all the text required to be translated & generate a file. This will enable anyone to add translation easily.

[2018-09-25 15:10] anbud commented on #1994
We used to use CrowdIn in one of the places I've previously worked, but it was free then, now it only has paid plans. It's a great solution, but I don't think it's worth the money.

Adding forms to generate translations is the easiest solution here, I've tried it a couple of times few years ago, non-tech people had no problems filling out the forms, while json can be tricky.

[2018-09-25 15:42] MadanBhandari commented on #1986
Done in #1997

@emurgobot done

[2018-09-25 15:43] #1854 closed

[2018-09-25 15:45] MadanBhandari commented on #1993
@emurgobot claim

[2018-09-25 15:48] MadanBhandari commented on #1992
what about making other cards little smaller ? Any alternate graph options ?

@emurgobot label 'UI-UX'

[2018-09-25 15:50] MadanBhandari commented on #1992
@emurgobot label "UI-UX"

[2018-09-25 15:53] MadanBhandari commented on #1982
If you meant by extra scrollbars, that should be fixed in #1997

[2018-09-25 15:53] MadanBhandari commented on #1982
@emurgobot label "UI-UX"

[2018-09-25 15:56] MadanBhandari commented on #1985
@samuelralak looks like it's working for me too :D

[2018-09-25 16:39] anbud commented on #1985
It works for me as well.

[2018-09-25 17:18] MadanBhandari commented on #1993
Fixed in #1999

@emurgobot done

[2018-09-25 17:39] MadanBhandari commented on #1982
Fixed in #2000

it took me too much time to debug :/

@emurgobot done

[2018-09-25 18:08] anbud commented on #1983
Done in #2001.

@emurgobot done

[2018-09-25 18:09] anbud commented on #1988
@emurgobot claim

[2018-09-25 18:14] MadanBhandari commented on #1992
@emurgobot claim

[2018-09-25 18:48] anbud commented on #1988
Done in #2002.

@emurgobot done

[2018-09-26 00:15] gazhayes commented on #1994
Can the forms be auto generated based on the existing files? otherwise every UI change requires manually adding new forms which then makes this more trouble than its worth to solve.

[2018-09-26 00:27] #1985 closed

[2018-09-26 00:54] geekyd opened #2003 "Problem: incorrect order of list on hashpower route"
Problem: incorrect order of list on hashpower route. The list is not sorted from latest to oldest.

Solution: Add sort to the list.

[2018-09-26 00:54] geekyd commented on #2003
@emurgobot claim

[2018-09-26 01:09] geekyd commented on #2003
Done in #2004

@emurgobot done

[2018-09-26 01:10] geekyd opened #2005 "Problem: Inconsistent colors used in header for notifying user"
Problem: Inconsistent colors used in header for notifying user
![screen shot 2018-09-26 at 6 35 56 am](https://user-images.githubusercontent.com/12807846/46051453-39276a00-c157-11e8-9600-6e188e961fb8.png)

Solution: Use red color for all notification counts

[2018-09-26 01:10] geekyd commented on #2005
@emurgobot claim

[2018-09-26 01:14] geekyd commented on #2005
Done in #2006
@emurgobot done

[2018-09-26 01:23] geekyd opened #2007 "Problem: user can apply for developer even if decision is pending"
Problem: user can apply for developer even if decision is pending

Solution: User should not be able to apply if the decision is already pending.

[2018-09-26 01:39] geekyd commented on #2007
Done in #2008
@emurgobot done

[2018-09-26 05:56] gazhayes commented on #1991
Just to clarify, I meant the landing page:

<img width="1649" alt="screen shot 2018-09-26 at 1 54 07 pm" src="https://user-images.githubusercontent.com/8143945/46059943-e28c5100-c193-11e8-926f-3873b0160f45.png">

[2018-09-26 05:57] gazhayes opened #2009 "problem: after sign in, users are still shown the landing page"
problem: after sign in, users are still shown the landing page

<img width="1434" alt="screen shot 2018-09-26 at 1 56 20 pm" src="https://user-images.githubusercontent.com/8143945/46059983-08b1f100-c194-11e8-87e9-db4afcafa4b0.png">

[2018-09-26 06:00] gazhayes opened #2010 "problem: statistics at top of page take up a lot of room"
problem: statistics at top of page take up a lot of room

<img width="1448" alt="screen shot 2018-09-26 at 1 58 58 pm" src="https://user-images.githubusercontent.com/8143945/46060104-6f370f00-c194-11e8-8744-a9057c39b114.png">

Solution: do other people agree this is a problem? Maybe make them considerably smaller?

[2018-09-26 06:00] #2007 closed

[2018-09-26 06:01] #2005 closed

[2018-09-26 06:01] #2003 closed

[2018-09-26 06:02] #1993 closed

[2018-09-26 06:02] #1990 closed

[2018-09-26 06:06] #1987 closed

[2018-09-26 06:07] #1986 closed

[2018-09-26 06:08] #1984 closed

[2018-09-26 06:09] gazhayes commented on #1983
OK this isn't quite fixed.

Sorting by the last IP access time still just sorts by the last time any user who has ever used that IP last accessed the site FROM any IP. However for it to be useful it has to be sorted by the last time the site was accessed from that IP.

Let me know if this makes sense or not

[2018-09-26 06:10] #1982 closed

[2018-09-26 06:10] gazhayes commented on #1988
@anbud  where is this actually visible?

[2018-09-26 06:15] samuelralak commented on #1991
lol, worked on a totally different thing

On Wed, 26 Sep 2018 at 08:56, Gareth Hayes <notifications@github.com> wrote:

[2018-09-26 06:16] samuelralak commented on #1991
I think the landing page is gonna need more graphics

On Wed, 26 Sep 2018 at 09:14, Samuel Ralak <thesamuelralak@gmail.com> wrote:

[2018-09-26 06:17] gazhayes commented on #1991
Yeah I saw the currency listing page and immediately knew lol

[2018-09-26 06:17] gazhayes commented on #1991
Yeah if you have any ideas feel free to play around

[2018-09-26 07:32] MadanBhandari commented on #1992
Done in #2011

@emurgobot done

[2018-09-26 07:32] samuelralak commented on #2009
@emurgobot claim

[2018-09-26 07:33] samuelralak commented on #2009
claim the wrong issue @emurgobot unclaim

[2018-09-26 07:34] samuelralak commented on #2010
makes them more conspicuous IMHO 😄

[2018-09-26 07:34] samuelralak commented on #2010
@emurgobot claim

[2018-09-26 07:35] MadanBhandari commented on #2009
@emurgobot claim

[2018-09-26 07:41] gazhayes commented on #2010
@samuelralak yeah I kind of like it and the colors... or maybe you can make them shrinkable or closable or something

[2018-09-26 07:42] samuelralak commented on #2010
yeah sure, working on that

On Wed, 26 Sep 2018 at 10:41, Gareth Hayes <notifications@github.com> wrote:

[2018-09-26 07:56] MadanBhandari commented on #2009
Done in #2012

@emurgobot done

[2018-09-26 07:58] anbud commented on #1983
It should be doing exactly the thing you've described, I'll check out what's happening. It could be that missing data is causing this behavior as last access time for IPs wasn't saved until this PR.

[2018-09-26 07:59] anbud commented on #1983
@emurgobot claim

[2018-09-26 08:03] anbud commented on #1988
Currency details page, related repos tab.

[2018-09-26 08:06] #1988 closed

[2018-09-26 08:08] gazhayes opened #2013 "problem: total github watchers and likers are same number"
problem: total watchers and likers are same number on each currency, I suspect something weird is going on.

ping @anbud

[2018-09-26 08:11] gazhayes opened #2014 "problem: signing in with email is too encouraged"
problem: signing in with email is too encouraged

<img width="470" alt="screen shot 2018-09-26 at 4 09 01 pm" src="https://user-images.githubusercontent.com/8143945/46066149-926aba00-c1a6-11e8-9c19-930a0bf15e6e.png">

solution: put facebook and github buttons at the top of the box. Hide the email sign in form, add a third button 'sign in with email' which toggles it to display onclick.

[2018-09-26 08:18] anbud commented on #2013
Hmm, it is weird, but `watchers` field is a sum of `watchers_count` and `likes` is a sum of `stargazers_count`. But, I've just discovered [this](https://github.com/milo/github-api/issues/19#issuecomment-357615223), it seems that `subscribers_count` is actually the number of watchers now. Nice way to name things. :D

I'll fix it.

[2018-09-26 08:27] gazhayes commented on #2013
microsoft probably fucked it after taking over

[2018-09-26 09:54] anbud commented on #2013
@emurgobot claim

[2018-09-26 10:26] anbud commented on #2013
Of course, `subscribers_count` field is not available in search API and it would be quite a lot of fetching to fetch repo info for each related repo, and we would reach GitHub limits quickly, so I'm using `watchers` field which should be `subscribers_count` in the preview search API endpoint.

Done in #2016.

@emurgobot done

[2018-09-26 10:32] MadanBhandari commented on #2014
@emurgobot label "UI-UX"

@emurgobot claim

[2018-09-26 10:33] anbud commented on #1983
Fixed in #2017. Sorting should work properly even if there's data missing.

[2018-09-26 11:21] MadanBhandari commented on #2014
Done in #2018

@emurgobot done

[2018-09-27 03:45] gazhayes opened #2020 "problem: some dependencies have security issues"
problem: some dependencies have security issues

<img width="752" alt="screen shot 2018-09-27 at 11 45 01 am" src="https://user-images.githubusercontent.com/8143945/46122370-dadbb380-c24a-11e8-9ddd-02d1f7a5e2a4.png">

[2018-09-27 06:57] samuelralak commented on #2020
@emurgobot claim

On Thu, 27 Sep 2018 at 06:45, Gareth Hayes <notifications@github.com> wrote:

[2018-09-27 07:36] anbud commented on #1994
@gazhayes, I've just tried it on production, it's not loading data. Is `process.env.PWD` defined when the server is deployed? I'm using that variable to find the root of the project, it's the only variable that actually works in this situation.

`__dirname` doesn't want to cooperate and absolute paths aren't working either.

[2018-09-27 08:50] anbud commented on #1994
@emurgobot claim

@emurgobot remove "done"

[2018-09-27 08:58] #1983 closed

[2018-09-27 08:58] #1992 closed

[2018-09-27 08:59] #2009 closed

[2018-09-27 08:59] #2013 closed

[2018-09-27 08:59] #2014 closed

[2018-09-27 12:10] samuelralak commented on #1991
@emurgobot remove "in progress"

[2018-09-27 12:44] samuelralak commented on #2010
@emurgobot done

done in #2021

[2018-09-27 13:50] samuelralak commented on #2020
@emurgobot done

done in #2022

[2018-09-27 13:50] samuelralak commented on #1991
@emurgobot label "in progress"

[2018-09-27 19:59] anbud commented on #1994
Done in #2025.

@emurgobot done

[2018-09-29 02:01] #2020 closed

[2018-09-29 02:02] #2010 closed

[2018-09-29 02:02] #1994 closed

[2018-09-29 21:01] samuelralak commented on #1991
@emurgobot done

done in #2026

[2018-09-30 00:30] samuelralak opened #2027 "problem: [flagged-haspower] mod still see items already voted on"
Problem: Mods can still see items they already voted.

Solution: only display items mods are yet to vote for/against.

[2018-09-30 00:32] samuelralak opened #2028 "problem: [/login] bad UI/UX"
Problem: the style on the login page is broken. No margins have been applied and the form is stretched.

[2018-09-30 00:36] samuelralak opened #2029 "problem: its difficult for unauthenticated users to login"
Problem: unauthenticated have to go all the way back to the landing page to login which isn't so obvious while interacting with blockrazor. This is bad user experience

Solution: put a sign in button on the header/navbar when user is unauthenticated.

[2018-09-30 00:37] samuelralak commented on #2027
@emurgobot claim

[2018-09-30 01:00] samuelralak commented on #2027
@emurgobot done

done in #2030

[2018-09-30 01:01] samuelralak commented on #2028
@emurgobot claim

[2018-09-30 01:33] samuelralak commented on #2028
@emurgobot done

done in #2027

[2018-09-30 01:33] samuelralak commented on #2029
@emurgobot claim

[2018-09-30 12:14] samuelralak commented on #2029
@emurgobot done

done in #2032

[2018-09-30 12:14] #2029 closed

[2018-09-30 12:15] #2028 closed

[2018-09-30 12:15] #2027 closed

[2018-10-01 08:30] geekyd opened #2033 "Problem: Login with github not working in production"
Problem: Login with github not working in production

Solution: Enable login with github

Ping @anbud @gazhayes

[2018-10-01 18:20] MadanBhandari opened #2034 "Problem : Sign up link doesn't exist"
Problem : Sign up link doesn't exist
Solution : Add sign up link on `/login` like there was earlier

[2018-10-01 18:22] MadanBhandari commented on #2034
@emurgobot label "UI-UX"
@emurgobot claim

[2018-10-01 18:27] MadanBhandari commented on #2034
Did I missed anything ? why the `/login` is completely changed after #2018 ? any specific reasons ?

ping @gazhayes @anbud @samuelralak

[2018-10-01 18:30] MadanBhandari commented on #2034
@emurgobot unclaim

[2018-10-01 18:30] MadanBhandari commented on #1926
@emurgobot label "UI-UX"
@emurgobot claim

[2018-10-02 01:37] #1991 closed

[2018-10-02 01:37] #1926 closed

[2018-10-02 01:38] gazhayes commented on #2033
It's working for me, can you take screenshots or video of what's happening to you?

[2018-10-03 13:15] MadanBhandari commented on #2034
@gazhayes  Should I add back signup link ?

[2018-10-04 02:12] gazhayes commented on #2034
Ah yeah, I guess so. I'm not sure what happened there

[2018-10-04 15:34] MadanBhandari commented on #2034
@emurgobot claim

[2018-10-04 17:00] MadanBhandari opened #2036 "Problem : /login page UI-UX broken"
Problem : /login page UI-UX broken

Solution : Update Layout and fix alignment issues

[2018-10-04 17:01] MadanBhandari commented on #2036
@emurgobot label "UI-UX"
@emurgobot claim

Since I am working on #2034 as well, I will send single PR for both

[2018-10-04 17:16] MadanBhandari commented on #2036
Done in #2037

@emurgobot done

[2018-10-04 17:17] MadanBhandari commented on #2034
Done in #2036
@emurgobot done

[2018-10-04 17:19] MadanBhandari opened #2038 "Problem : User can not signup"
Problem : User can not signup, it keeps giving an error for password format not match even when it's more than 6 char long

Solution : Update password requirement or update error message to tell user what is expected as password

[2018-10-04 21:35] #2034 closed

[2018-10-04 21:35] #2036 closed

[2018-10-04 21:37] MadanBhandari commented on #2033
I get `Internal server error [500]`

[2018-10-04 23:58] samuelralak commented on #2036
@MadanBhandari just realised that the PR submitted with this issue reversed my changes.

The Login Page wasn't broken, I had modified it to blend in the with the updated landing page. This is what I updated it to. The Login page was modified to reflect this as well.

<img width="1680" alt="screen shot 2018-10-05 at 2 50 32 am" src="https://user-images.githubusercontent.com/4476552/46509103-8091b28

[2018-10-05 03:42] gazhayes opened #2039 "problem: uploading a new profile picture is annoying"
problem: uploading a new profile picture is annoying, users have to go to the 'edit' tab on their profile.

solution: add an upload image button below the existing profile image

[2018-10-05 11:15] MadanBhandari commented on #2036
@samuelralak Oh I understand now, while changing on landing page it was also changed in `/login` too.

For this, we can create new template to render on landing page and update UI-UX accordingly.
Hiding email forms are explained her #2018

[2018-10-05 11:31] samuelralak commented on #2036
Will create an issue and submit a patch for this. Then we can look at how to hide the Login Form while keeping the UI consistent.

[2018-10-05 11:32] anbud commented on #2039
@emurgobot claim

[2018-10-05 12:09] anbud commented on #2039
Done in #2040.

@emurgobot done

[2018-10-05 13:42] MadanBhandari commented on #2038
@emurgobot claim

[2018-10-05 13:48] MadanBhandari commented on #2038
It wasn't working earlier for me, now it's working fine :/

Closing this, as it's working now.

[2018-10-05 13:48] #2038 closed

[2018-10-05 13:54] MadanBhandari opened #2041 "Problem : No way to know about wallet notification"
Problem : No way to know about wallet notification
Solution : Add wallet notifications on `/wallet`

[2018-10-05 13:59] MadanBhandari commented on #2041
This happens on account creation.

[2018-10-05 14:29] MadanBhandari commented on #2041
@emurgobot claim

[2018-10-06 19:01] MadanBhandari commented on #2041
Done in #2042
@emurgobot done

[2018-10-06 20:01] samuelralak opened #2043 "Problem: UI regression on login page/card"
Problem: PR #2037 reversed changes introduced by #2026 and #2031 as mentioned in this comment [here](https://github.com/Blockrazor/blockrazor/issues/2036#issuecomment-427205867) causing regression on the login UI page/card.

Solution: Reverse the effects of #2037

[2018-10-06 20:03] samuelralak commented on #2043
@emurgobot claim

[2018-10-06 20:58] samuelralak commented on #2043
@emurgobot done

done in #2044

[2018-10-07 12:56] MadanBhandari opened #2045 "Problem : Wallet transaction has bad UI-UX"
Problem : Wallet transaction has bad UI-UX

Solution : Remove extra navigation, update filter UX and table

[2018-10-07 12:56] MadanBhandari commented on #2045
@emurgobot label "UI-UX"
@emurgobot claim

[2018-10-08 05:52] #2043 closed

[2018-10-08 05:52] #2041 closed

[2018-10-08 05:52] #2039 closed

[2018-10-08 08:47] #2045 closed

[2018-10-09 17:26] staronline1985 opened #2047 "login, reset-password and signup page should have home or back button"
Problem: when user redirect to login , reset-password or signup page . After that i can't go back to home page.

Solution: There should be back button so end user go back to home or main page.

[2018-10-09 20:05] MadanBhandari opened #2048 "Problem : [/bounties] Filter bounties UI is broken"
Problem : [/bounties] Filter bounties UI is broken

Solution : Update Layout by using some padding/margin in CSS

[2018-10-09 20:06] MadanBhandari commented on #2048
@emurgobot label "UI-UX"
@emurgobot claim

[2018-10-09 20:28] MadanBhandari commented on #2048
Done in #2049
@emurgobot done

[2018-10-10 04:43] gazhayes commented on #2047
Another way to fix it could be to put the whole signup/login thing in a modal.

[2018-10-10 05:07] #2048 closed

[2018-10-10 11:31] cipherm commented on #2047
We can add the Project Name "BlockRozer" or Logo above the Login/Signup cards with a link of the home page.

[2018-10-10 11:31] cipherm commented on #2047
@emurgobot claim

[2018-10-11 07:32] gazhayes opened #2050 "problem: users not always redirected to home route after login"
problem: users not always redirected to home route after login. For example when logging in with facebook the users are shown the splash page instead of the home route with a list of currencies.

[2018-10-11 07:45] cipherm commented on #2047
@emurgobot label "done"

[2018-10-11 08:09] MadanBhandari commented on #2047
Hey @cipherm , update issue with with done

No need to change label, label will be automatically added

[2018-10-11 10:49] cipherm commented on #2047
@MadanBhandari
In the **Step-by-step guide to sending a pull request** at the point 10 is written about to change the label so I followed the instruction from there.

I will follow your instruction in future tasks.

[2018-10-11 10:52] gazhayes commented on #2047
The instructions in the readme should be updated, anyone want to do it?

[2018-10-11 11:42] MadanBhandari commented on #2047
@gazhayes Sure, I will update with little more easy and short points.

@cipherm these points are like more of a suggestion (in my view) not hard rule :)

[2018-10-11 11:45] MadanBhandari opened #2052 "Problem : Contribution guide on Readme needs update"
Problem : Contribution guide on Readme needs update

Solution : Update existing contribution guide for updating issue after PR

[2018-10-11 11:45] MadanBhandari commented on #2052
@emurgobot claim

[2018-10-11 11:47] #2047 closed

[2018-10-12 00:42] AshHimself opened #2053 "Problem: site can't be indexed by search engines"
Problem: Being a meteor application, key pages can't be index by search engines.

Solution: Implement SEO on key pages to ensure BR can be index and crawled.

[2018-10-12 00:42] AshHimself commented on #2053
@emurgobot claim

[2018-10-12 06:46] MadanBhandari commented on #2052
Done in #2054

@emurgobot done

[2018-10-12 09:46] #2052 closed

[2018-10-12 15:29] staronline1985 opened #2055 "Problem: Krazor Home link doesn't open in a new tab"
Problem: When click on krazor Home, It should not full redirect to website , only open new tab

Solution: Open website in new tab show .

[2018-10-12 15:31] staronline1985 commented on #2055
@emurgobot claim

[2018-10-13 09:45] MadanBhandari opened #2057 "Problem : [/problems] Filter UI is broken"
Problem : [/problems] Filter UI is broken

Solution : Fix layout issues with updating layout and css like in #2048

[2018-10-14 12:40] porcellus commented on #2057
Done in #2058

@emurgobot done

[2018-10-14 21:16] anbud commented on #2053
I actually wrote an article about implementing SEO support in Meteor. You can check it out [here](https://blog.zamphyr.com/how-we-do-seo-in-meteor-2f26706ec4f9).

It was more than a year ago, things have probably changed a lot, but it may be still useful in some way.

[2018-10-14 21:18] anbud commented on #2050
@emurgobot claim

[2018-10-14 21:30] anbud commented on #2050
Done in #2059.

@emurgobot done

[2018-10-15 10:39] #2057 closed

[2018-10-15 13:20] AshHimself commented on #2053
Well.. looks like I was actually close to your design pattern but you did it more elegant :P I wish I saw this first :|

[2018-10-15 13:30] AshHimself commented on #2053
@anbud - one thing I gotta test which you may of done before is that I am trialing a bit of open graph tags for social sharing as well as SEO. Should be fun.

[2018-10-15 13:50] AshHimself commented on #2053
@gazhayes - ok so things look to be working sweet in facebook and whatsapp for social sharing. Before if you shared the site it would be the same old boring link. Now when you share we have some social content and an awesome logo!!!

![image](https://user-images.githubusercontent.com/148682/46954938-569b8400-d0c4-11e8-81a1-4e35be1fcd2f.png)

[2018-10-15 16:56] #2055 closed

[2018-10-16 08:12] #2050 closed

[2018-10-16 18:58] staronline1985 opened #2061 "Amount Text box should have maximum limit"
Problem: On the Currency Auction Page (currencyAuction) , Amount text box should have maximum character amount limit.
![screenshot from 2018-10-17 00-23-48](https://user-images.githubusercontent.com/11016784/47040268-7fdf1180-d1a3-11e8-9870-a7e823d0aa25.png)

Solution: Set the maximum amount limit .

[2018-10-16 18:59] staronline1985 commented on #2061
@emurgobot claim

[2018-10-18 10:57] gazhayes opened #2063 "problem: not clear how to add extra translations"
problem: it's not clear how to add extra translations

solution: probably add a link in the bottom toolbar or something

ping @anbud

[2018-10-18 16:07] #2061 closed

[2018-10-18 21:04] anbud commented on #2063
Hmm, adding something (maybe a + icon) close to the language switcher in the footer would probably do the trick.

[2018-10-19 09:58] gazhayes commented on #2053
Brutal

[2018-10-19 15:57] staronline1985 opened #2064 "All amount input text fields should have maximum limit"
Problem: All amount input text fields do not have maximum character limit.

Solution: Should have maximum character limits
![screenshot from 2018-10-19 21-26-40](https://user-images.githubusercontent.com/11016784/47229594-b1dfb600-d3e5-11e8-9209-6782f8f4ea6b.png)

[2018-10-19 15:58] staronline1985 commented on #2064
@emurgobot claim

[2018-10-20 05:43] #2064 closed

[2018-10-20 11:54] MadanBhandari opened #2066 "Problem : [/bounties] Share with friends button is not visible"
Problem : [/bounties] Share with friends button is not visible

Solution : Must be some CSS issues, fix with css layout updates

[2018-10-20 11:54] MadanBhandari commented on #2066
@emurgobot claim

[2018-10-20 12:12] MadanBhandari commented on #2066
@emurgobot done in #2067

[2018-10-21 07:30] #2066 closed

[2018-10-22 17:50] staronline1985 opened #2068 "Redirect to 404 page , after click on logout button"
Problem: After successfully  login , click on profile  (top right ) menu and then click on logout , it showing 404 page .

![image](https://user-images.githubusercontent.com/11016784/47309040-03d84400-d651-11e8-93ed-f81af06d956e.png)

Solution: After logout should be redirect to home page.

[2018-10-22 17:57] staronline1985 commented on #2068
@emurgobot claim

[2018-10-24 15:47] #2068 closed

[2018-10-24 16:56] staronline1985 opened #2070 "Some lack in code"
Problems:

1) Meteor.users.findOne({: Meteor.userId()}).slug,
2)  $('#imageInput').val()

Solutions:

1) It should be like this   Meteor.user().slug

2) it should be templateinstance.$('#imageInput').val() . Because if we find any template DOM values blaze provide us Jquery instance with current template instance. So it will find  element  only in template not in whole page DOM

[2018-10-24 16:58] staronline1985 commented on #2070
@anbud , Please have look above-said issues and let me know your suggestions for same.

[2018-10-24 18:38] anbud commented on #2070
Hmm, for the first one, I believe that `Meteor.users.findOne()` is used in most of the places as `Meteor.user()` sometimes doesn't return all fields from the user object. I could be wrong on this one though, I'm not sure.

For the second one, you're totally correct, we should use the scoped jQuery instance to avoid the possibility of detecting a wrong element in the whole DOM. It's not a huge issu

[2018-10-25 12:11] AshHimself commented on #2053
Closing this and opening another for each SEO issue I find. Prep for release @gazhayes ;)

[2018-10-25 12:11] #2053 closed

[2018-10-25 12:11] AshHimself opened #2071 "problem: currency pages are not indexable"
problem: currency pages are not indexable

Solution: make them indexable with some basic SEO.

[2018-10-27 20:49] anbud commented on #2071
@emurgobot claim

[2018-10-28 22:43] anbud commented on #2071
I actually found a better solution than the previous one. By using [puppeteer](https://github.com/GoogleChrome/puppeteer) we can render some SEO critical pages on the server and serve pure HTML to crawlers. Puppeteer is just a headless Chrome browser, so it renders pages perfectly fine.

I've implemented this approach on a couple of pages in #2072. Adding new pages is as easy as adding `SeoRouter.

[2018-10-30 04:12] #2071 closed

[2018-10-31 05:02] staronline1985 commented on #2070
@anbud, For the first one I agree with you but it depends upon where we need full user detail or default detail, so we can user Meteor.user() where we need default detail.

 what I need to do Should I put on hold or need to work on it?

[2018-11-02 04:42] gazhayes commented on #2070
@staronline1985 I'll be adding a lot of new issues to blockrazor over the coming days and you'll get a better sense of what kind of things are valid problems.

[2018-11-02 04:42] #2070 closed

[2019-05-05 10:00] gazhayes opened #2073 "problem: invalid password length"
problem:

![photo6230931531774404776](https://user-images.githubusercontent.com/8143945/57192128-a5751200-6f5f-11e9-93ee-e4fd2aca5fbb.jpg)

[2019-05-20 10:37] ioioio8888 opened #2075 "Problem: Forgot password is not working"
It shows "User not found" in Forgot password page, but I have already sign up with the same email before.
![image](https://user-images.githubusercontent.com/19797490/58015527-1571c380-7b2e-11e9-8b1e-7624f7477b7b.png)

![image](https://user-images.githubusercontent.com/19797490/58015558-29b5c080-7b2e-11e9-9c57-add0533d347a.png)

[2019-06-21 14:01] samuelralak opened #2082 "Problem: Potential security vulnerabilities found in dependencies"
Problem: Therer are potential security vulnerabilities found in dependencies

Solution: Find source of vulnerabilities and update packages

[2019-07-09 06:53] porcellus commented on #2082
I'm happy to fix this if you get in contact with me @gazhayes

[2019-07-10 06:55] kevgathuku commented on #2033
Also experienced this while trying to login today
![image](https://user-images.githubusercontent.com/3721994/60947271-d4f62100-a2f8-11e9-9fb8-5fd46a27444f.png)

[2019-09-03 11:56] corollari opened #2083 "Website is down"
https://blockrazor.org/ returns a 503 error:
![image](https://user-images.githubusercontent.com/32309574/64171277-d5d4aa80-ce84-11e9-9a01-c7e523d6c6fa.png)

[2019-09-09 09:35] MadanBhandari commented on #2083
ping @gazhayes