[2017-10-26 16:04] gazhayes opened #6 "Problem: add currency form jumps around on input"
When selecting any input field, some help text is shown below. Due to the layout of the form, this reshuffles things around to make everything fit (every time you mouse or tab through form elements).

Solution: make the form items the full width of the form panel instead of half width, arrange form elements in a nice way.

[2017-10-26 16:24] gazhayes opened #7 "Problem: Currencies could be duplicates"
Solution: When a user starts inputting a new currency, check the database for anything with the same name as soon as they exit the currencyName field so that users do not fill out the whole form before being told they just wasted their time.

[2017-10-26 16:25] gazhayes opened #8 "Problem: replay protection doesn't make it into database"
Replay protection field for bitcoin forks isn't being added to the database.

[2017-10-27 01:44] gazhayes opened #9 "Problem: no layer for maintainers to merge changes"
When users add a currency it goes straight into the database without a second person checking if it complies with the protocol for updates.

Solution: something like git fork/pull (maybe).

[2017-10-27 02:08] sjmackenzie commented on #9
Potentially a minimal solution might be to only accept PRs to canonical from maintainers. The non-maintainers send PRs to maintainers. This is the linux kernel lieutenant model. Kinda messes with C4 but it's minimal.

[2017-10-29 14:51] #7 closed

[2017-11-01 05:22] gazhayes commented on #8
solved in f1a1a0d

[2017-11-01 05:22] #8 closed

[2017-11-01 05:33] gazhayes opened #16 "Problem: adding API calls has to be done manually"
Some aspects of Blockrazor rely on up to date information from block explorers and/or open nodes. API call structure can vary wildly between different currencies. At present, the only way to add a new API call and have it update the right database fields is to manually do it with a github pull request for each currency. This works fine, but adds an extra layer of friction and also extra required s

[2017-11-08 08:44] gazhayes commented on #16
fixed in #21

[2017-11-08 08:44] #16 closed

[2017-11-14 06:04] gazhayes opened #25 "Problem: no metric for comparing community and software"
Solution: add a UI for users to compare currency pairs that they actively use. The simplest solution seems to be to ask a specific question (e.g. "which wallet has the most annoying problems") and ask the user to choose between two different currencies. Do this for each possible pair (that they indicated they use).

Use the Elo chess player ranking algorithm to combine all ratings from all users i

[2017-12-14 07:16] gazhayes opened #27 "Problem: currencies do not have logos"
Solution: ask user to add currency logo when adding a new currency

Related to #6 and #58

[2017-12-18 20:30] gazhayes opened #29 "Problem: cannot use inverse elo rating for comparison questions"
When user is asked to subjectively compare two currency wallets the question must always be in the positive to satisfy the elo rating algorithm, but sometimes questions need to be asked in the negative.

Solution: add logic to reverse the elo rating selection so that questions can be asked in the negative.

[2017-12-18 20:35] gazhayes commented on #25
Partial solution in #28

[2017-12-22 21:10] gazhayes opened #31 "Problem: [ratings] confusing response if a user tries to add wallet pictures for currency that they've already previously added images for"
On the ratings page (/ratings) (ratings.html template) if a user adds a currency that they've already added previously and click next it just goes back to the same page.

Solution 1: add a list of currencies that this user has already added/rated to the top of the page and let them know they can add more if they want

Solution 2: show an error message when a user adds a currency that already exist

[2017-12-24 00:37] gazhayes opened #32 "Problem: easy for users to pull wallet images from site and re-upload"
Solution: watermark uploaded images to enable easy detection of re-used images.

[2017-12-26 00:49] gazhayes opened #33 "Problem: no size/type checks on wallet image uploads"

[2017-12-26 01:01] gazhayes opened #34 "Problem: mongo subscriptions don't start and end correctly"
Possible solution: put subscriptions in a tracker.autorun function at the template level

[2017-12-26 19:12] gazhayes opened #36 "Problem: wallet images not shown on currency page"
Solution: add wallet image gallery to currency detail page

[2017-12-27 04:16] gazhayes opened #37 "Problem: changing bounty value causes UI to jump around"
When going to /bounties on certain screen sizes the changing numbers expand and contract the DIV making the UI jump around.

[2017-12-28 18:14] gazhayes opened #39 "Problem: users can create multiple accounts"
Possible Solutions:

- Log user IP address and check for multiple accounts using same IP
- Only allow sign up through other services (e.g. github/facebook/linkedin/google)
- Log user local timezone and cross reference with IP for people using VPN etc
- Tracking user hardware: http://yinzhicao.org/TrackingFree/crossbrowsertracking_NDSS17.pdf
- Tracking user interaction (e.g. if one user keeps appro

[2017-12-28 21:29] gazhayes opened #41 "Problem: sessiondata is only being logged once"
Sessiondata should be logged at each login to capture user IP address (related to #39 )

Sessiondata logging starts here: https://github.com/Blockrazor/blockrazor/blob/master/server/main.js

[2017-12-28 22:47] gazhayes opened #42 "Problem: documentation doesn't have git workflow"
Solution: add an example git workflow for people who want to contribute but don't know how to use git.

[2018-01-01 07:16] gazhayes commented on #25
Partial solution in #43

[2018-01-06 01:38] gazhayes opened #44 "Problem: fetching usernames doesn't work for all users"
usernames are stored differently in the database depending on how the user created their account (github or facebook). Email sign ups will not be allowed in production but are used in development to make things easier, but this is a third way of storing usernames.

An example of where usernames are used: https://github.com/Blockrazor/blockrazor/blob/3e38ca52a259ddd2b0027ed43b08012d127214e8/lib/dat

[2018-01-06 21:57] gazhayes opened #45 "Problem: users can't easily tell if they have new notifications"
Solution: add notification badges (i.e. like facebook notification icon) showing how many new notifications/messages they have which haven't been read yet. Bootstrap [badge](https://v4-alpha.getbootstrap.com/components/badge/) should be ok for UI element.

[2018-01-06 22:05] gazhayes opened #46 "Problem: no way for users to fund a bug bounty/feature request"
Development of blockrazor should be community driven, which means users should be able to contribute coins towards a new feature/bug fix if they can't actually write code themselves.

Solution: some kind of bounty funding page. Any solution must avoid the [Cobra Effect](https://en.wikipedia.org/wiki/Cobra_effect).

[2018-01-06 22:12] gazhayes commented on #32
http://www.imagemagick.org/Usage/annotating/

[2018-01-06 22:19] gazhayes opened #47 "Problem: no hash power metric for currency comparison"
Solution:
- hash power itself can be obtained from various APIs. Maybe add bounties for git pull requests that add a needed API call.
- Hash power means nothing if you don't know how much electricity is consumed for each algorithm. Need some kind of page and bounty for people to add hardware, hashrate and power consumption.
- When there's a list of hardware/hashrate/power consumption and also reli

[2018-01-06 22:22] gazhayes opened #48 "Problem: no logging system"
Logging is very important to keep track of failed log-in attempts, errors, failed form requests, etc etc.

Solution: possibly this: https://atmospherejs.com/ostrio/logger

[2018-01-06 22:23] gazhayes opened #49 "Problem: nowhere for users to get help"
Solution: maybe a forum to discuss 'meta' issues, or perhaps a simple comment system built into the application

[2018-01-08 00:16] gazhayes opened #50 "Problem: currency detail page subscribes to all currency and comment data"
Route location: https://github.com/Blockrazor/blockrazor/blob/be508d2bcee5507f20632364ae168d5a28cbfdcd/lib/routes.js#L53

The currency detail page subscribes to all available currency and comment data. This will quickly degrade the speed of the site for users.

Solution: only publish/subscribe to data for the _current_ currency when in a currency detail page.

[2018-01-08 00:18] gazhayes opened #51 "Problem: users cannot directly compare currencies"
Currencies can be viewed individually but there's no way to compare two (or more) currencies with each other, for example no way to display and overlaid radar chart showing two or more currencies.

[2018-01-08 00:20] gazhayes opened #52 "Problem: no way to filter currencies by different metrics"
No way to filter through all available currencies to find one with specific metrics.

Solution: add a search bar to the main page. When the search bar is activated, display an advanced search form with a variety of criteria.

[2018-01-08 00:23] gazhayes opened #53 "Problem: users cannot rank a currency's community"
Solution: add a community ranking system (ELO) based on the wallet ranking system. Some example questions to ask:

- Which one has the friendliest community?
- Which community talks most about the price or when to buy/sell?
- Which community talks most about new features, security issues, plans for the future, etc?
- Which community has the most experienced people?
- Does one community have strong

[2018-01-08 00:26] gazhayes opened #54 "Problem: users cannot rate the codebase of a currency"
ELO ranking of each currency's codebase is needed as a metric but there's no way for users to participate in this process.

Something based on the wallet ranking system can be built quite easily and simply however the following should be kept in mind:

- Most users don't know how to code, but questions about the codebase should be answered only by people who have at least some programming experien

[2018-01-08 00:28] gazhayes opened #55 "Problem: users cannot add red flags to currencies"
Users can add features to currencies but not warnings or red flags. Something similar to the features system should be used because this would be easy to adapt.

[2018-01-10 14:39] gazhayes commented on #42
Solved in #56

[2018-01-10 14:39] #42 closed

[2018-01-11 03:56] gazhayes opened #58 "Problem: add currency page is ugly"
Problem: the add currency page (/addcoin route) is remarkably ugly. The 'tooltips' also make things jump around quite a lot.

[2018-01-12 01:05] janat08 commented on #6
Do you think that an aside my do a better job of displaying help info? Are you open to using CSS framework such as semantic ui?

[2018-01-12 01:11] janat08 commented on #6
I'm looking to work on this, seeking bounty.

[2018-01-12 01:12] gazhayes commented on #6
Yes that would probably be much better.

If you want to use Semantic-UI that's perfectly fine with me, I was already leaning towards it anyway for some other elements :)

[2018-01-12 01:28] janat08 opened #60 "Problem: Manual CSS work needed to improve layout"
Adding Semantic-UI. Taking care of it without any theming, and installing as framework using atmosphere package as there's special integration taking advantage of meteor bundler allowing selection of framework components for smaller bundle.

[2018-01-12 03:25] janat08 opened #62 "Problem: slow meteor reloads"
qualia:reval allows you to only reload relevant template without having meteor rebuild everything and is dev only package.

[2018-01-12 03:31] janat08 commented on #60
Bootstrap is already loaded from cdn, with layout classes applied on top templates within routes (editAnything) which then interferes with semantic-ui (making sticky rail for add coin form: https://github.com/Blockrazor/blockrazor/issues/6.

[2018-01-12 04:06] gazhayes commented on #62
You can go ahead and install that if you want.

[2018-01-12 04:23] gazhayes commented on #60
Can you dynamically load semantic-ui on that page alone (for now)? It does indeed break some other things (such as modals) used elsewhere.

[2018-01-12 04:29] janat08 commented on #60
There's an issue with it's layout (column classes) conflicting with sticky rails, so I could instead load bootstrap on separate routes, and semantic-ui on that one which I suppose will involve setting semantic-ui layout.

[2018-01-12 04:42] #62 closed

[2018-01-12 04:46] janat08 commented on #60
https://github.com/Semantic-Org/Semantic-UI/issues/6086
Packages have to support dynamic import.

[2018-01-12 14:34] gazhayes opened #64 "Problem: UI is generally very ugly"
The UI at present is very basic.

Bootstrap is currently used but may not be the best thing to use long term. It doesn't appear to be all that easy to build something that scales well, and tends to have a 'bootstrap' look and feel which is hard to avoid.

Comments about the usefulness of other CSS frameworks in this situation are very welcome.

[2018-01-12 14:35] gazhayes commented on #60
Reference #64

[2018-01-12 14:57] gazhayes commented on #58
Removing bounty until a decision is reached about Semantic-UI vs Bootstrap.

[2018-01-12 14:58] gazhayes commented on #6
Temporarily removing this from bounty list until a decision is reached about site-wide use of Semantic-UI vs Bootstrap.

[2018-01-12 15:01] gazhayes commented on #37
Temporarily removing bounty until a decision is reached about site-wide use of Semantic-UI vs Bootstrap.

[2018-01-12 15:29] janat08 commented on #60
I stopped working on this although CSS grid could be used.

[2018-01-12 15:33] janat08 commented on #64
https://developers.google.com/web/fundamentals/design-and-ux/responsive/#set-the-viewport

[2018-01-12 15:48] janat08 commented on #44
Would you be interested in using transform option that applies to any data consumption calls other than observechanges or publish cursors (ie db.find: username: exists: true.count). It doesn't denormalize (although by default SSO accounts won't merge anyway), and isn't complicated as changing UI logic.

[2018-01-12 16:48] janat08 commented on #44
I belief that's password package level implementation.

[2018-01-12 17:27] janat08 opened #67 "Problem: using fetch to count records is slow/expensive"
Ratings.js uses fetch to count records which will literally result in the whole collection being scanned and sent, meanwhile cursor supports count() operator. It's exacerbated by the fact that it now resides in a tracker, resulting in the whole collection being observed.

[2018-01-12 17:29] janat08 opened #68 "Problem: Empty lists don't inform of absence of records"
Empty lists may come across as bugged, should display a message about there being nothing to show.

[2018-01-12 17:39] janat08 commented on #34
ratings count is now observed which may not be the ideal solution, as it previously used onReady callback of subscription expression. I could stick it into nonreactive tracker within reactive subscription expression's callback instead.

Counting records, even in this manner, I hear is pretty bad I imagine as it may assume that there're filters set after which it will have to scan for edited docume

[2018-01-12 17:41] janat08 commented on #34
This took me around 30 mins, at 12$ an hour, here's my upwork: https://www.upwork.com/freelancers/~01eb063baa9c98f0b0

Previous activities took me 70 mins some of it including rechecking protocols and familiarising with project.

[2018-01-12 19:22] Fen747 commented on #41
Should the sessiondata be updated at every user  login or every user connection to the server ?

In the first case, we might need to logout users after a certain timeout, or log them out of every session.
In the second case, we'll store data everytime the user open a tab to blockrazor.

What would be the exact benefits / use of saving every connection timestamp and headers ?

[2018-01-12 19:40] Fen747 opened #69 "Problem : App architecture introduces inefficiencies and overhead"
In its current state, the application architecture have many drawbacks, and implementing an architecture like the one recommended [here](http://www.meteor-tuts.com/chapters/3/structure.html).

Current drawbacks :

- bad separation of client side and server side code, resulting in potential future security leaks and bundle useless oversize
- hard to keep the separation of concerns and to implement

[2018-01-12 19:46] Fen747 opened #70 "Problem : cursors are not optimized for server performance"
Solution : for every use of the `collection.find` method in a publication / observer, always add a projection as second argument with a `sort` and a `limit` and a `fields` fields.

e.g. :
[code]

[2018-01-12 21:07] gazhayes commented on #68
Can you link to an example in the codebase to make sure I understand what you mean?

[2018-01-12 21:15] janat08 commented on #68
The approved/rejected moderation page.

[2018-01-12 21:31] Fen747 opened #71 "Problem : Session is global and should be avoided"
Session is known for being a global variable, which is something that's to be deprecated in general.
Session in particular can be replaced by ReactiveDict / ReactiveVars.

As much as possible, variables should be scoped to the lower lever possible, to mimic react's state is a good thing for exemple.

[code]

[2018-01-12 21:48] Fen747 commented on #68
A proper way to handle this in laze is :
[code]

Wich, to say the truth, is not really elegant nor efficient. THe best alternative here would be to switch to react or inferno or vuejs

[2018-01-12 21:49] gazhayes opened #72 "Problem: Merge #61 breaks UI elements"
Adding Semantic-UI breaks modals and other UI elements.

Solution: revert changes in merge #61

[2018-01-12 22:26] gazhayes commented on #72
Fixed in #73

[2018-01-12 22:26] #72 closed

[2018-01-12 23:59] gazhayes commented on #70
Quite often I've done this on the publication side instead (and intended to do more of it as we refine things).

Does doing this on the client actually change what the server sends over the wire? I was under the impression this only filters (client side) and that everything is still sent over the wire?

[2018-01-13 00:08] gazhayes commented on #41
Sessiodata should be logged each time a user opens a new tab (or whatever). The reason is just to build up a user fingerprint for multiple account detection (see #39). Unless they are actually logging in (new browser or device) the IP is probably all that's needed.

[2018-01-13 08:58] Fen747 commented on #70
For performance purpose, you need to do it in the Meteor.publish, on the server. Then, how you get your data client-side does not affect server performance, but it is still a good habit to use the same queries for isomorphic purpose

[2018-01-13 23:36] gazhayes commented on #44
Facebook username fixed in #44 by @Fen747

[2018-01-15 03:38] AshHimself commented on #33
@gazhayes - To ensure the best security i've implemented checking on the client for extension and then on the server for the actual MIME type check using the NPM [mime-types](https://www.npmjs.com/package/mime-types) library. Few questions though,

- Success and failure of upload is not returned to the user for anything at present. Should we create a ticket for this?
- I have created a global vari

[2018-01-15 06:36] AshHimself commented on #45
@gazhayes Do you want this next to the Notification menu item?
Do you want notifications marked as read as soon as the notification view is loaded?
Do you want this to be reactive or simply using a meteor method on each page load?

Thanks

[2018-01-15 07:51] AshHimself commented on #50
@gazhayes who should be able to view bounties? I put a restriction on the subscription but now I am not getting any data as someone has restricted the cursor to only return it if the username is true?

`      return Bounties.find({_id: id, currentUsername: Meteor.user().username});
`

Thanks mate.

[2018-01-15 13:10] gazhayes commented on #45
Yep that's fine till we clean up the UI

Yeah, that's probably the simplest way to do it

A meteor method will be fine

[2018-01-15 13:14] gazhayes commented on #33
Yes I forgot to create an issue for that, opening one now

Perfect! Thanks :)

[2018-01-15 13:16] gazhayes opened #79 "Problem: Success and failure of upload is not returned to the user"
Problem: Success and failure of upload is not returned to the user (ratings image upload).

[2018-01-15 13:37] gazhayes opened #82 "Problem: all uploaded images are given jpg extension"
https://github.com/Blockrazor/blockrazor/blob/36dc5b77eee538c8b0d2868497e3c60cef705412/server/methods/imageUpload.js#L134
Possible solution: detect image mime type and add appropriate extension.

[2018-01-15 13:38] gazhayes commented on #33
Added #82 and #79 in relation to this issue.

[2018-01-15 13:41] AshHimself commented on #82
@gazhayes the mime-types package can do this easily. I will implement whilst working on #79 as its the same file.

https://www.npmjs.com/package/mime-types#mimeextensiontype

[2018-01-16 03:13] matmello commented on #45
Are you working on this @AshHimself ? Or can i give it a try?

[2018-01-16 03:14] AshHimself commented on #45
I am. Sending a PR today.

[2018-01-16 06:12] AshHimself commented on #29
@gazhayes - Could you please advise on where this logic is invoked in the UI mate?

[2018-01-16 10:52] AshHimself commented on #27
@gazhayes - For a solution, are you ok with the logo being captured within the form, uploaded to server and filename stored in the database? I can implement the same filesize and filetype validation for the wallet uploading form.

Are there any particular views you would like the logo displayed?
Should we do any server side scaling of the images to ensure consistency? e.g. scale to 100x60 etc. Pos

[2018-01-16 15:26] gazhayes commented on #45
Fixed in #83

[2018-01-16 15:26] #45 closed

[2018-01-16 15:31] gazhayes commented on #34
Fixed in #65

[2018-01-16 15:31] #34 closed

[2018-01-16 15:36] gazhayes commented on #50
Fixed in #78

[2018-01-16 15:36] #50 closed

[2018-01-16 15:44] gazhayes commented on #33
Fixed in #81

[2018-01-16 15:44] #33 closed

[2018-01-16 15:50] gazhayes commented on #29
At https://blockrazor.org/ratings if you add some wallet images it will populate the database with new 'rating questions'. These questions are then displayed to the user when they click next (or reload the page).

The way it currently works, the ELO rating accepts a 'winner' and a 'loser' based on user input. This problem is basically to avoid writing specially worded questions like "which wallet

[2018-01-17 05:30] AshHimself commented on #48
@gazhayes - I have implemented ostrio:logger using the mongoDB logging mechnism as this will be the best option to report on and it'll also allow us to use the data to resolve other issues. e.g. #39

The following events are being captured.
- Failed login attempts
- User created
Please let me know what other events you would like monitored and I can slowly start adding these when it makes sense.

[2018-01-17 05:45] AshHimself opened #85 "Problem: Notification badge is not cleared when logging out"
Problem: When logging out the notification bubble in the menu is not removed.

Solution: Need to clear the reactiveVar which stores the notification count on logout.

[2018-01-17 08:14] AshHimself opened #87 "Problem: No view for 404 error messages"
Problem: When a view is accessed that does not exist a white page is presented. A suitable 404 message should be presented to the user. e.g. https://blockrazor.org/fdasf

Solution: create a new flow router route for 404 error messages.

[2018-01-17 08:27] gazhayes commented on #87
@AshHimself Have you started working on this one? If you haven't, I'll label it as a new contributor assessment because it's a nice simple one with limited scope to break other things.

[2018-01-17 08:28] AshHimself commented on #87
I have not mate. Just raising for visibility.

[2018-01-17 08:32] gazhayes commented on #82
@AshHimself  If you believe this is fixed, just comment on the issue (in addition to tagging the commit or PR as you have already done) so that whoever logged the original issue knows it's safe to confirm the solution and close it. I know it's solved in this case but just for future reference.

[2018-01-17 08:33] gazhayes commented on #82
Fixed in #84

[2018-01-17 08:33] #82 closed

[2018-01-17 08:34] gazhayes commented on #87
Perfect, a good issue to raise!

[2018-01-17 08:34] AshHimself commented on #36
@gazhayes - are you fussed on how these images are presented at the moment or just happy to have the images related to the currency returned. We can possibly display thumb nails in the future and use semantic-ui modals to enlarge them?

[2018-01-17 08:41] gazhayes commented on #36
At this point it doesn't really matter because the UI will probably change beyond recognition anyway, it will just be used as a starting point for UI 'refinement'.

[2018-01-17 09:59] AshHimself commented on #55
@gazhayes - Could you expand on this a little? Is it simply the same as the below screenshot but for red flags?
![image](https://user-images.githubusercontent.com/148682/35036698-1a2bb01a-fbb0-11e7-9ed1-f1b32f5ac232.png)

[2018-01-17 12:01] AshHimself commented on #41
@gazhayes - per [PR](https://github.com/Blockrazor/blockrazor/pull/86), IP address are now logged on each login event and session renewal. Can this ticket now be closed?

[2018-01-17 15:04] mutox19 commented on #87
added a 404 route

[2018-01-19 02:17] gazhayes commented on #85
@AshHimself FYI if this is solved you (as the issue creator) can leave a quick comment (e.g. fixed in #90) and close it.

[2018-01-19 06:41] AshHimself commented on #85
Fixed [#90](https://github.com/Blockrazor/blockrazor/pull/90)

[2018-01-19 06:43] AshHimself commented on #85
Fixed in [#90](https://github.com/Blockrazor/blockrazor/pull/90)

[2018-01-19 06:43] #85 closed

[2018-01-19 07:21] madguy02 opened #92 "the UI design is not awesome(as of now). Is there any kind of focus to be laid on the UI or set as a roadmap soon?"
Problem: clearly describe the problem you are reporting. Include references to the codebase where applicable.

Solution: describe the _simplest possible solution_ to the problem (if you know of a solution).

[2018-01-19 09:39] AshHimself commented on #92
Hi @madguy02,

Yes there UX framework is being looked at now by the repo owners. Also you need to read the README as there is a process documented on how to raise problems correctly.

[2018-01-19 12:28] gazhayes opened #93 "Problem: radar chart tries to render before subscription is ready"
The radar charts for each currency on the main (/) route try to render before the subscription to graphdata is ready.

https://github.com/Blockrazor/blockrazor/blob/7036d8140f53b75ab40289b1146b3c27bcca5d2a/views/templates/normal/currency.html#L1

https://github.com/Blockrazor/blockrazor/blob/7036d8140f53b75ab40289b1146b3c27bcca5d2a/client/normal/currency.js#L48

Possible solution: wait for subscri

[2018-01-19 13:33] #92 closed

[2018-01-19 15:24] gazhayes commented on #52
Related pull request: #95

[2018-01-20 04:11] AshHimself opened #99 "problem: using Meteor.user() on the server is expensive"
Problem: avoid using Meteor.user() on the server, it’ll fetch the user object from MongoDB, every single time!

Solution: Instead, use this.userId. Refer to [documentation](https://docs.meteor.com/api/accounts.html) for more info

[2018-01-21 08:12] gazhayes commented on #87
As the pull request for this paid contributor assessment did not make any attempt to comply with the contribution protocol (at all) it was rejected, the issue is still available.

[2018-01-21 08:23] madguy02 commented on #87
Issue resolved and merged https://github.com/Blockrazor/blockrazor/pull/104

[2018-01-21 08:31] madguy02 commented on #87
Should this issue be removed?? as it is resolved

[2018-01-21 08:43] gazhayes commented on #87
It's not quite resolved as you directed users to /wallet which is only for logged in users. I have fixed this in my pull request, once it is merged I will close this issue.

[2018-01-21 08:44] madguy02 commented on #87
ok great

[2018-01-21 12:57] AshHimself opened #107 "problem: all menu items are visible when not logged in"
Problem: all menu items are visible when not logged in.

Solution: hide all menu items until the user is authenticated.

[2018-01-21 12:58] AshHimself commented on #107
@gazhayes - Can you please advise should menu items should be visible when a user is not authenticated?

[2018-01-21 13:03] madguy02 opened #108 "Problem:Facebook configure login popup over flows the desktop view, when not full screened"
Problem: After clicking on configure facebook login, the popup that comes up over flows desktop view, which makes it hard to enter the credentials for facebook login

Solution: Please add a scrollbar to the pop up

[2018-01-21 13:08] madguy02 commented on #108
@gazhayes can you please look into this issue

[2018-01-21 13:10] AshHimself commented on #39
@gazhayes - I am about to submit a PR for this ticket. I have implemented the following solution so far which should allow us to report on suspected users.
- Log user IP address on login and registration.
- Raise warning in mongoLogger if you register a user and another user exists with the same IP address.
- Raise warning in mongoLogger if you login and the same IP was logged in with another acco

[2018-01-21 13:13] gazhayes commented on #107
In addition to this, some menu items should also be hidden from normal users and only be visible to moderators. There will probably be a need for an admin level too.

What's probably more important is how you impliment showing and hiding for different types of users so that it's simple to add a new menu item and have it shown to the correct type of user.

I haven't thought specifically about what

[2018-01-21 13:23] gazhayes commented on #108
This is a problem with the service configuration plugin. But anyway, on blockrazor.org it's already configured.

For local development you can try a web developer plugin for chrome or firefox and resize the screen for mobile/tablet simulation, for some reason that makes it work. As this only affects developers and _not_ users, and as there are workarounds to make it work on the rare situation that

[2018-01-21 13:26] madguy02 commented on #108
@gazhayes  got it, thanks

[2018-01-21 13:26] #108 closed

[2018-01-21 13:28] madguy02 commented on #93
@gazhayes  can you please elaborate on this issue. Some more insight on the problem will be helpful

[2018-01-21 13:54] gazhayes commented on #39
Just realized I didn't explain why this is a problem.

Users could create multiple accounts and approve their own changes (especially when there's a bounty incentive).

[2018-01-21 14:07] gazhayes commented on #39
SMS validation is not a bad idea at all.

I'm thinking:
User level 0: can follow other users, add favourites, etc.
User level 1 (sms validation): Can earn bounties, and are eligible to become moderators (i.e. same as maintainers under the C4)
User level 2: these are moderators/maintainers who can approve "pull requests" (anything that adds or changes data)

[2018-01-21 14:14] gazhayes commented on #39
https://receive-a-sms.com kind of destroys the sms idea

[2018-01-21 19:07] anbud commented on #71
I'll take this and convert Sessions to ReactiveVars, it improves performance and stops the pollution of the global namespace.

[2018-01-21 22:22] gazhayes commented on #71
Once you are sure it's fixed mention it here and then (usually) whoever opened the issue can check if they also think its fixed and close the issue (or if there's radio silence for a week or so you can close it yourself)

[2018-01-21 23:39] anbud commented on #71
Yap, this is fixed in #111, there's no more Session usage in the codebase. I've replaced it everywhere with either ReactiveVar or ReactiveDict.

[2018-01-22 04:17] gazhayes commented on #93
It's quite straight forward, the chart cannot render if the subscription isn't ready. So what happens is most of the time the charts simply don't render. If you refresh the page over and over again, some charts for some currencies *will* render because the universe aligned in such a way that the subscription happened to be ready before the chart tried to render.

[2018-01-22 04:22] #60 closed

[2018-01-22 04:24] gazhayes commented on #55
Yes, that would do (at least for now).

[2018-01-22 04:28] gazhayes commented on #48
Fixed in #86

[2018-01-22 04:28] #48 closed

[2018-01-22 04:32] gazhayes commented on #44
The Github component of this issue is still open.

[2018-01-22 04:34] #41 closed

[2018-01-22 04:37] #36 closed

[2018-01-22 04:39] madguy02 commented on #44
I will shoot a PR soon

[2018-01-22 04:43] gazhayes commented on #27
Yeah that's fine. That's what I used for the wallet images.

The reason I created the issue was to get logo images to use on the rating/comparison page (when you actually run through the questions and it displays two currencies side by side). It's also probably a good idea to put them in the UI somewhere on the main page and the currency detail page.

Yes, have you used imagemagick with node befor

[2018-01-22 04:53] #79 closed

[2018-01-22 04:55] #67 closed

[2018-01-22 07:48] AshHimself commented on #55
I have already started :)

On Mon, Jan 22, 2018 at 3:47 PM, Andrej Budinčević <notifications@github.com

[2018-01-22 07:49] anbud commented on #55
@AshHimself, no problem then, that's why I wanted to check. :)

[2018-01-22 07:59] anbud commented on #51
I'll take this one. I believe that the easiest solution here would be the overlaid radar chart with multiple currency details. That way, the user could compare as many currencies (each would get its own color) as he wants until the chart gets cluttered.

[2018-01-22 09:53] anbud commented on #51
This is almost done in #113.
The only thing left is the actual chart data, and I'll update the code accordingly when the chart data per currency becomes available. As on the other parts of the site, I've stubbed the chart data (except the wallet parameter which is available).

[2018-01-22 11:09] anbud opened #114 "Problem: Currency details page uses currency _id in url"
Problem: Currency details page uses currency `_id` in URL (i.e. `/currency/6onKzomxFLsAdaBXA` (Ethereum)), which is bad for SEO purposes and it's not descriptive enough

Solution: Use a slug (URL friendly string) generated from currency name instead of currency `_id` in the URL (i.e. `/currrency/ethereum`)

[2018-01-22 11:52] anbud commented on #31
I'm taking this one.

[2018-01-22 12:23] AshHimself commented on #99
Fixed #100

[2018-01-22 12:23] #99 closed

[2018-01-22 12:26] AshHimself commented on #87
Fixed #105

[2018-01-22 12:26] #87 closed

[2018-01-22 12:34] AshHimself opened #117 "problem: unable to limit views or menu by role"
Problem: unable to limit views or menu by role.

Solution: Implement meteor-roles to offer role base security.

[2018-01-22 12:34] AshHimself commented on #107
Original menu issue has been resolved but the role issue still exists and issue raised to track #117

[2018-01-22 12:44] gazhayes commented on #117
FYI if you look at the extra users collection there's a moderator flag somewhere there which is what I've been using so far.

There was some reason I didnt use meteor roles but cant remember why, does it require allow/deny?

[2018-01-22 13:03] anbud commented on #31
Fixed in #119.

[2018-01-22 14:26] anbud commented on #53
@gazhayes,
I'll take this one.
This rating process should also be in the ratings (ratings.html) page, right?

When rating wallets, the user has to upload wallet images to prove ownership of a wallet. Should a user provide some proof that he/she's part of the community, and, if so, what kind of a proof would that be? (i.e. reddit, bitcointalk, cryptocompare,... username or something?)

[2018-01-22 20:00] anbud opened #120 "Problem: No filter on ratings page"
Problem: No filter on `ratings` page which will be a problem when the number of cryptocurrencies available on the site rises

Solution: Add a way to filter cryptocurrencies by name (and possibly some other fields)
I'm taking this and implementing the solution above right away.

[2018-01-22 20:24] anbud commented on #120
Fixed in #121.

[2018-01-23 00:04] gazhayes commented on #117
I had a think about this:

1. Implementing this means all existing code that checks for a user's role would need to be reworked
2. There are only really 2 roles: user, and moderator. Both these roles are already implemented.

So adding meteor-roles just adds complexity.

I think the reason I looked at this as a solution before and decided to just simply set and check for a flag was that this packa

[2018-01-23 00:13] gazhayes opened #123 "problem: some views require redirection to a login page"
For example: users who are not logged in should be able to see a "add currency" menu item or button in the UI but then be redirected to a login/signup page when they click it. Currently this login page does not exist so when this situation rises there's nowhere to redirect users.

It would also be nice if the login page can redirect a user back to the referring page after they have logged in.

[2018-01-23 00:14] gazhayes commented on #117
#123 is slightly related

[2018-01-23 07:44] anbud commented on #123
I'm taking this one.

[2018-01-23 08:24] gazhayes commented on #120
@anbud As the issue creator, you can close this if you are satisfied that it is fixed.

[2018-01-23 08:25] #120 closed

[2018-01-23 08:28] AshHimself commented on #117
@gazhayes  - I agree, I was not aware of your current implementation prior to raising this. Closing ticket as no longer required.

[2018-01-23 08:28] #117 closed

[2018-01-23 08:29] AshHimself commented on #107
Fixed #118

[2018-01-23 08:29] #107 closed

[2018-01-23 08:37] AshHimself commented on #55
@gazhayes - just wanted to get something clarified. When we say red flags, are we talking about the users typing something in and posting something about the currency they want to flag? Or, red flagging features and comments with the flag icon?

![image](https://user-images.githubusercontent.com/148682/35265626-9c4b59e2-005b-11e8-91db-7d6e52d8b60b.png)

[2018-01-23 08:40] gazhayes commented on #123
@anbud if possible could you also do a well documented example of how to use your solution (in a separate commit), maybe apply it to the 'add currency' page.

[2018-01-23 08:43] gazhayes commented on #55
Yes, that's the one.

[2018-01-23 08:46] AshHimself commented on #55
Ok great i have not wasted my time. Should we raise another ticket for the flag button doing nothing then? We could just raise log a warning for now and then later on we can create a ruleset to say hide a comment `if(flag) > x hideComment()`

Thoughts?

[2018-01-23 08:59] gazhayes commented on #55
Absolutely yes, that should be a new issue. I'll log it myself so I can describe what it should do.

The original issue was basically me making a note to myself, if you see other vague-ish things like that created before today definitely don't hesitate to get some clarification.

[2018-01-23 09:38] anbud commented on #123
The new login page is in #124, and the documented example of how to use it (on /addcoin) is in #125.

[2018-01-23 10:32] anbud commented on #53
@gazhayes,
For a simpler solution, users could be asked to rate communities of cryptocurrencies whose wallets they've already added.
Which solution would you prefer?

[2018-01-23 10:55] gazhayes commented on #53
This should be on a different page to the wallet rating. Instead of uploading wallet images, there will be something similar (I'm not sure exactly what, probably links and images though, you could use some kind of placeholder for now).

You might want to look at the inverse elo rating problem too, this issue will have the same problem.

[2018-01-23 11:57] AshHimself opened #127 "problem: no error is returned to the user when voting twice on features or red flags"
Problem: no error is returned to the user when voting twice on features or red flags
Error in console now is;
`You can only vote once. [Error]
`
Solution: return an error message to the user.

[2018-01-23 11:57] AshHimself commented on #127
I have already started resolving this issue as part of another ticket.

[2018-01-23 11:59] AshHimself commented on #127
Raised in error, seems this is already happening.

[2018-01-23 11:59] #127 closed

[2018-01-23 12:14] AshHimself commented on #39
@gazhayes - we can validate mobile numbers on validation. e.g. only validate a number once.

[2018-01-23 12:30] gazhayes commented on #39
Looks like SMS validation is not any more reliable than email validation. IP logging will do for now and I'll look at some more advanced  fingerprinting later.

With IP logging though, suspect accounts need to be flagged and added to a list. This list will later be something like the moderation queue but instead show user history (a seperate issue) so its easy to see any accounts that are doing we

[2018-01-23 20:53] anbud commented on #49
@gazhayes,
I'm taking this.
I think implementing a simple forum would be a sufficient solution here. I just have one question, should the forum have some kind of categories, or would simple topics be enough?

[2018-01-23 20:57] anbud commented on #53
Yap, I'll do the inverse ELO rating in a separate PR. Other than that, the basic functionality (with stubbed proofs) is implemented in #129.

[2018-01-23 23:14] sjmackenzie commented on #49
feature requests you do on your own dime/time, or you contract someone to do it for you. Otherwise please don't solve things that aren't a problem.

[2018-01-23 23:56] gazhayes commented on #49
Yeah don't work on this one.

[2018-01-24 07:46] anbud commented on #49
Ok, I'm stopping activities on this one.

[2018-01-24 08:17] anbud opened #132 "Problem: No error handling on /addcoin"
Problem: There's no error handling on /addcoin route. If the user misses a field or enters data that fails sanity checks, and clicks on the `Add coin` button, nothing will happen, which is confusing.

Solution: Report the error back to the user with explanation how to fix it.

[2018-01-24 08:27] anbud commented on #132
Fixed in #133.

[2018-01-24 13:44] AshHimself opened #134 "problem: UserData collection is only exported on the server"
Problem: UserData collection is only exported on the server

Solution: Create a publication on the lib folder to subscribe to the logged in users UserData record.

[2018-01-24 13:59] anbud opened #135 "Problem: Errors happening on the server are not logged"
Problem: Errors happening on the server are not saved anywhere, just console.log-ed, which will be a problem for future debugging (ELO ranking errors, upload errors, ...)

Solution: Use the already implemented ostrio:logger to log all server errors
I'm taking this and implementing the solution above.

[2018-01-24 14:34] anbud commented on #135
Fixed in #136.

[2018-01-24 20:02] #132 closed

[2018-01-24 20:02] #135 closed

[2018-01-24 22:05] gazhayes commented on #134
Can you specify what the actual problem is? I intentionally left UserData as server side only.

[2018-01-25 00:48] AshHimself commented on #134
@gazhayes - Apologies for not clarifying. I was coding a helper on the client side which could be used to hide/display elements based on if you are a moderator or not. We could do this via a method but it would mean calling the method a lot. Open for suggestions if others have a more elegant solution?

[2018-01-25 01:46] gazhayes commented on #134
Ok that's fine. Just make sure you use methods for verifying their account levels for any actual actions of course.

[2018-01-25 03:35] gazhayes opened #139 "Problem: modals no longer working"
Problem: There are numerous modals throughout blockrazor. For an example see the help icon when adding a new feature to a currency.

Modals work here:
https://github.com/Blockrazor/blockrazor/commit/339a3fc01bbf9a4f46e5a22699cea11d0290e5c5

Something that happened after this has broken them. Possibly package related (someone adding a package). Something @janat08 did has definitely contributed to t

[2018-01-25 04:34] AshHimself commented on #139
I'm on it.

[2018-01-25 05:02] AshHimself commented on #139
@gazhayes - This is related to having multiple version of jquery included. We are including a version of jquery in root.html and the meteor jquery package is also included. [339a3fc](https://github.com/Blockrazor/blockrazor/commit/339a3fc01bbf9a4f46e5a22699cea11d0290e5c5) does not have jquery as a package.

We should ideally not being including scripts via <script> tags and avoid meteor packages a

[2018-01-25 05:08] AshHimself commented on #139
#140 created... Another ticket is probably deserved to look into this further, furthermore it worth looking into why bootstrap v3 and v4 are included :/ I can't imagine that is a good idea :)

[2018-01-25 08:44] #139 closed

[2018-01-25 08:55] #71 closed

[2018-01-25 08:56] #55 closed

[2018-01-25 12:03] anbud commented on #69
@gazhayes,
Should I tackle this, or are we leaving it as is for now?
I do agree with @Fen747, there are issues with client/server separation, and it'll be harder to separate them as we progress, but refactoring is always a big job.

[2018-01-25 12:17] gazhayes commented on #69
How would you go about solving this?

[2018-01-25 12:18] #51 closed

[2018-01-25 12:20] #31 closed

[2018-01-25 12:21] #27 closed

[2018-01-25 12:24] gazhayes commented on #25
Partial solution in #129

[2018-01-25 21:21] #29 closed

[2018-01-26 12:20] anbud commented on #69
Before Meteor 1.3, the current architecture was quite optimal.
The biggest problem here is that Meteor loads all files outside of `imports` directory eagerly, which creates unnecessarily big bundles and degrades performance. So, that's why they decided to offer a possible solution to this problem by including ES2015 modules support in Meteor.
Now, the recommended structure would be something like

[2018-01-26 22:23] #123 closed

[2018-01-26 23:02] gazhayes opened #143 "Problem: uploaded logos not included in database"
Problem: logos are uploaded but are not included in the database so they cannot be used.

Solution: include filename in database, ensure that the filename is copied over from pending to active database on approval.

[2018-01-26 23:04] #9 closed

[2018-01-26 23:05] gazhayes commented on #143
ping @AshHimself

[2018-01-26 23:45] #134 closed

[2018-01-27 00:02] gazhayes commented on #32
@AshHimself what's the status of this one?

[2018-01-27 01:37] AshHimself commented on #32
I dropped you an email as I was having issues getting access to the meteor
logs, any chance you can help me out with that?

On Sat, Jan 27, 2018 at 8:02 AM, Gareth Hayes <notifications@github.com>
wrote:

[2018-01-27 01:56] gazhayes opened #144 "Problem: Elo ranking does weird stuff when tie"
Problem: the ELO ranking Method (probably not the ranking algorithm) does weird stuff when two currencies are tied. Sometimes it leaves the score as is, and sometimes it decreases it substantially. I haven't looked into what exactly is going on but I think I wrote something so that one of the currencies would be given a win/loss when there's a tie (based on how much difference there is between the

[2018-01-27 02:25] gazhayes commented on #53
Problem: community rankings do not appear to be populating the elorankings collection.

graphdata and currency collections are also not updated when running appropriate methods but this is probably because of the elorankings collection issue.

@anbud

[2018-01-27 02:42] gazhayes commented on #32
Does it work locally on your dev machine?

[2018-01-27 03:08] AshHimself commented on #32
It does mate, can we check on the server if these dependencies are installed? It should console.logon the server if they are not found when attempting to upload an image but I can't confirm.

https://www.npmjs.com/package/gm

[2018-01-27 09:30] anbud commented on #53
@gazhayes,
As far as I remember, it populated the database correctly. It's probably some regression. I'll check it out and a PR will follow.

[2018-01-27 09:59] AshHimself commented on #143
@gazhayes - should we have a ticket related to no ability to edit currencies? or this something we are expecting to do manually if needed? Seems like more of an admin role not even moderator. Thoughts?

[2018-01-27 11:27] anbud commented on #53
@gazhayes,
I've tested it out, and the only bug I've found is that the button on the communities page had a wrong ID, so it wasn't doing anything. But, by fixing that in #149, it calls the correct method now.
Elorankings collection has data in it, and the graphdata is also updated, so, it should be working fine. I've checked both on localhost and production (with DrMongo), the data is there.

[2018-01-27 12:01] gazhayes commented on #143
I'll elaborate on this later

[2018-01-27 12:01] #143 closed

[2018-01-27 13:52] AshHimself opened #153 "problem: RazorRank value has no value in the database."
problem: RazorRank value has no value in the database. razorRank is being called in the helper but I can't see it being defined anywhere only called.

Solution: Get clarification from @gazhayes and define in code or remove from helper.

[2018-01-27 13:54] AshHimself commented on #52
@gazhayes - was there anything left to do on this ticket? or leaving open so we can complete once we move ahead on the UX?

[2018-01-27 14:01] AshHimself opened #154 "problem: unable to create/edit your profile"
Problem: unable to create/edit your profile.

Solution: Create view profile page and edit profile page.

[2018-01-27 20:53] gazhayes commented on #93
@AshHimself don't do any issues with the `paid_contributor_assessment` in future.

[2018-01-27 20:53] #93 closed

[2018-01-28 07:06] AshHimself commented on #154
@gazhayes - I have created a boiletplate page to;
- edit: fullname
- edit: avatar
- edit: email

Current signup process only captures email. Do you think its plausible to just leave it as is and users finish their profile once signed up? or we can create a ticket to change signup flow or figure that out later.

[2018-01-28 08:37] gazhayes commented on #154
Email signup will be disabled for production, only facebook and github will remain.

Users should be able to change (or add) their email for notifications but this can be done after signup.

Also need a bio field too (again, after signup).

[2018-01-29 04:37] AshHimself commented on #44
@madguy02 - what method did you use to solve this?

[2018-01-29 04:50] gazhayes commented on #44
He didn't, but the solution is very obvious and simple (5 minutes max) so I'm leaving it open as an assessment for new contributors.

[2018-01-29 06:45] AshHimself commented on #68
Are low_priority tags ok to start work on @gazhayes

[2018-01-29 07:10] gazhayes commented on #68
Not for paid contributors. I'll be adding more issues very shortly though.

[2018-01-29 09:44] AshHimself commented on #39
@gazhayes - It may be my local instance but I was able to sign up with two accounts with facebook and github. Are you getting the same results? I tried to test on production version and was not able to.

[2018-01-29 10:35] gazhayes commented on #39
Do you mean you were able to sign up twice with, for example, the same facebook account?

That's probably just some quirk with changing hosts/domain, in that case it shouldn't affect production.

[2018-01-29 10:36] AshHimself commented on #39
No I mean, I could signed up with two accounts; 1 account was facebook, the
other was github ,both with same email. I suspect this is just an issue
locally but thought i'd raise it none the less so we can test properly once
in production.

On Mon, Jan 29, 2018 at 6:35 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-01-29 10:48] gazhayes commented on #39
Oh ok, that's not surprising, there's nothing preventing it (yet).

What's needed is a master list of email addresses and if a users tries to sign up with one that's already in use, prevent it. Same for IP addresses, except include not only signup IPs but also access IPs.

[2018-01-31 03:00] #154 closed

[2018-01-31 07:54] kevgathuku opened #157 "Problem: Iterating through the same collection multiple times is inefficient"
Problem: Iterating through the same collection multiple times is inefficient
This is specifically for this instance:
https://github.com/Blockrazor/blockrazor/blob/master/server/serverdb/addCoin.js#L48-L51

Solution:
Use one loop with multiple if..else statements to achieve the same functionality

[2018-01-31 08:04] kevgathuku commented on #157
I'll work on this.

[2018-01-31 23:13] gazhayes opened #159 "Problem: graphdata is being populated incorrectly"
Problem: `graphdata` should be populated with the maximum and minimum values from `currencies:communityRanking` and `currencies:walletRanking`. The existing Methods to populate this are floating around in https://github.com/Blockrazor/blockrazor/blob/master/server/methods/elorankings.js

While you're doing this: the existing code is mixed in with other methods, please make this its own method and

[2018-01-31 23:31] gazhayes opened #160 "Problem: level of decentralization is not measured"
Problem: the level of decentralization is not measured. Some subjective questions asked when ranking the community (https://blockrazor.org/communities) and the codebase (not yet implemented) will also reflect on the relative levels of decentralization. For example, if pull requests to a codebase need to comply with someone's vision for the future of the currency, that would be more centralized tha

[2018-01-31 23:32] gazhayes commented on #160
ping @AshHimself @sjmackenzie  @anbud for any ideas or suggestions.

[2018-01-31 23:56] gazhayes commented on #157
Not sure how/why I closed this prematurely.

Looks like this is fixed in #158, @kevgathuku can you confirm and close if so?

A great first pull request by the way :)

[2018-02-01 00:44] anbud commented on #160
@gazhayes,
The explicit questions (the example with the founder) could be asked directly for each currency the user adds (adding a currency could be a similar process to adding a currency for community or wallet comparison). These results should probably have a higher priority in the overall ranking.
The implicit part, however, could be solved by adding an array of metrics the question implicitly

[2018-02-01 07:59] anbud commented on #144
Fixed in #162.

[2018-02-01 08:01] anbud commented on #54
The proposed solution is exactly the one I had in mind before you've edited the text. I'm on it.

[2018-02-01 09:11] #144 closed

[2018-02-01 09:17] gazhayes commented on #54
One small update:

Instead of moderators (level 1 in the userdata collection) approving people to become 'developers', a better way is going to be to set a `developer` flag in the userdata collection (manually for the first time (me)), and anyone who has that flag set can also approve new 'applicants' who then have the `developer` flag set and they can also approve new developers, hopefully this w

[2018-02-01 13:44] kevgathuku commented on #157
Hey @gazhayes yes, this fixes the issue.
Happy to help out 😄

[2018-02-01 13:44] #157 closed

[2018-02-01 21:38] gazhayes commented on #159
Yeah that's probably the problem. Graphdata should be populated from the `currencies` collection (and the currencies collection should be populated by averageEloWallet and averageEloCommunity). I put these in the same Method (I think) which was a dumb idea.

So basically split off anything related to graphdata in all the methods in that file and create a new method dedicated to popuating graphdata

[2018-02-02 01:16] anbud commented on #54
Done in #163.

[2018-02-02 01:39] anbud opened #164 "Problem: No way to modify currencies"
Problem: Currently, once a user adds a new currency, the data is fixed and there's no way to edit it (apart from modifying it in the database)

Solution: Add a way for users to propose changes to currencies which would have to be approved by a moderator. The simplest way would be to reuse some of the UI on `addCoin` page.

[2018-02-02 03:29] gazhayes commented on #159
@anbud there's also of course the recently added codebase comparison thing to add to this.

[2018-02-02 03:42] gazhayes commented on #164
That should work. The only thing is that we may need to have some kind of voting (agree + disagree) rather than just a single 'approval' to make it a bit more fuckery-tolerant.

[2018-02-02 04:05] gazhayes commented on #164
@anbud if you haven't started on this I'd like to assign @AshHimself because I have a fair bit of Elo stuff for you to do and you are more familiar with that part of the codebase.

[2018-02-02 04:52] AshHimself commented on #164
Ok so I propose the following;
- Add button currency page to 'Propose Change' (Anyone can propose a change)
- New view page to propose changes a long with a new collection (or use pendingcurrencies with new attributes)
- New view to track currency change requests.
 - Who should be able to vote on currency changes? (Moderators?)
- Then we determine what approval actually means. 3 votes? Majority ru

[2018-02-02 05:03] gazhayes commented on #164
This whole issue introduces another problem: the currency detail page doesn't actually have any details at present.

I was playing with using tabs or something to show more details but I don't think this is very good from a UI perspective.

On the 'home' page I'm planning on adopting a grid layout something like https://atmospherejs.com (I'll log an issue now explaining the problem). So anyway, th

[2018-02-02 05:29] AshHimself commented on #164
Got it.. well I can make a start on the editing components today and then we can tweak if required as we go forward.

[2018-02-02 07:46] anbud commented on #159
@gazhayes, of course. I'm on it.

[2018-02-02 08:20] anbud commented on #159
Done in #168.

[2018-02-02 11:54] #54 closed

[2018-02-02 11:54] #159 closed

[2018-02-02 11:56] #25 closed

[2018-02-02 11:57] gazhayes commented on #39
@anbud can you have a look at this and see if you have any ideas?

[2018-02-02 11:58] #53 closed

[2018-02-02 12:08] gazhayes commented on #160
I think that's a good partial solution to start with. The coefficient probably isn't necessary, we can add it later if it solves a problem.

Do you have any thoughts on how to introduce this to the the existing Elo metric type system we are using?

[2018-02-02 12:26] gazhayes opened #169 "Problem: currency detail page does not show many details"
Problem: All available data for a currency should be shown on the currency detail page (in a manner that is simple visually and from a UX/UI perspective.

Additional data will also be coming later so keep this in mind.

Just to be specific, the currency detail page is the /currency:xxxxxxxx route.

I have started using some tab type structure but this should not influence the decision making proce

[2018-02-02 13:25] anbud commented on #160
@gazhayes, it could a little bit tricky, since ELO is a match ranking system. But, a possible simple solution to explicit questions would be just to increase or decrease the metric value based on the question answer (i.e, we could increase or decrease by 5). So, the ELO ranking would be used implicitly, and the explicit questions would affect the metric directly.

[2018-02-02 13:32] anbud commented on #39
@gazhayes, basically, the solution with the email master list is fine for email checking, and it should be implemented. We could very well save the email for every user anyway since both Facebook and GitHub return the email amongst other data. Other than that, browser fingerprinting (both hardware and canvas) is also a nice way to prevent this and it's quite easy to implement. And SMS validation i

[2018-02-03 00:30] anbud commented on #160
I've implemented a possible solution in #170, based on my previous answer. It supports both implicit (question's `affects` field) and explicit rankings (`/decentralization`).

[2018-02-05 07:33] AshHimself commented on #164
@gazhayes - I have created the edit form, and have got proposed currency changes going into the pendingcurrency collection stating proposedchange:true.

Doing this created a new problem, there is no easy way to see what the new changes were. e.g. bob change currency symbol from eth to etm. Thoughts? or worry about this later. I am going to submit the voting of pending changes as a seperate PR. Is

[2018-02-05 08:43] gazhayes commented on #164
Each proposed change should be indepenedent, e.g. proposing to change eth to etm should be an independent item to approve than changing the ethereum premine amount. So it's probably better to use a new collection just for proposed changes and merge these into the currencies collection on approval. As well as this, users need to be able to add a note to the change (e.g. provide some evidence of app

[2018-02-05 09:02] AshHimself commented on #164
Not a problem, i'll change the logic to reflect your changes.

On Mon, Feb 5, 2018 at 4:43 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-02-05 09:05] gazhayes commented on #164
Just in case it wasn't clear enough, that should solve the problem you are facing regarding previous and proposed values because you can just copy those values to the new collection.

[2018-02-05 09:07] AshHimself commented on #164
Step ahead of you mate :)

On Mon, Feb 5, 2018 at 5:05 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-02-05 09:07] gazhayes commented on #164
Also remember to make use of `stash` and `pop` and keep your master brach synced with this master branch so that there aren't conflicts when you send a pull request.

[2018-02-05 22:03] anbud commented on #39
@gazhayes, should I implement any of that?

[2018-02-05 22:58] gazhayes commented on #39
Definitely do that. And something similar for IP addresses (not just sign up and login but also access). I'm not sure exactly how to handle IP address control, I guess a first step is to set a flag for any accounts that use an IP address which has already been used and we can decide later how to handle it.

Don't worry about browser fingerprinting, but timezone logging would provide a very useful

[2018-02-05 23:05] anbud commented on #39
I'm on it then.

[2018-02-05 23:37] #52 closed

[2018-02-06 01:19] anbud commented on #39
@gazhayes, done in #172. While working on it, I've got another idea on how to reduce multiple account creation. Should we check whether the email is disposable? (for example, @guerrillamail.info)

[2018-02-06 01:39] gazhayes commented on #39
Yeah that's a good idea.

I'm just looking at #172, I'm running low on sleep but I can't see how you are storing and referring to a master list of IPs and email addresses?

[2018-02-06 03:23] AshHimself commented on #164
I just created a PR for this. At this moment in time the proposed changes are visible but I wanted to discuss how changes should be merged back into the currencies collections. Need to discuss/agree on the flow. This took A LOT longer then I thought to do as there is so much logic between all the fields.

e.g. 3 votes then its merged or something more complex. Thoughts?

[2018-02-06 19:54] anbud commented on #39
Then it'll be implemented.
For #172, instead of storing a master list (which would be a waste of memory, since we already have this data saved), I'm saving user's email address in `email` field in the user object. That way, we can easily query the database to see if the email is already in use. If you're worried about performance here, I can add an index on `email` field to improve search performa

[2018-02-06 20:23] anbud commented on #39
Disposable emails check has been implemented in #174.

[2018-02-07 01:01] gazhayes commented on #39
Ok cool. Is that being done now with that PR?

[2018-02-07 01:03] gazhayes commented on #164
You can just send through a PR if it's a small issue, just be very clear in the commit message(s) regarding problem and solution.

[2018-02-07 01:06] gazhayes commented on #164
I guess 3 votes should do it. We can always change it later if there's a problem.

[2018-02-07 01:10] AshHimself commented on #164
@gazhayes -
Ok, so three votes and its merged. I'll make this a var in our properties.js so we can change if need be. I'll do auditing on the votes as well to ensure votes are not coming in from people on multiple accounts (even though we are doing our best to avoid this).

[2018-02-07 09:14] anbud commented on #39
@gazhayes, yap.

[2018-02-07 13:28] AshHimself commented on #164
@gazhayes - I have just created a PR for the voting functionality. We can change the voting restriction in the properties.js file.

Once the threshold is reached the status is change from 'pending review' to 'merged'.
Once the status is merged the proposed change is merged into the currencies collection.

An additional feature to this is that we limit voting from the same IP address? This is possi

[2018-02-07 14:16] anbud commented on #47
@gazhayes, I'll take this one, if it's not low priority. Can you explain in little more detail how is it supposed to look?

[2018-02-07 19:34] anbud commented on #169
@AshHimself, are you already working on this?

[2018-02-07 19:43] gazhayes commented on #47
This one can start with a simple form to populate a new hashpower collection.

The data points are:

hardware category (ASIC or GPU)
hardware device (see below),
algorithm (select from list, e.g. sha-256),
hash rate and unit, (unit should be selected from list, I'll add a comment here later with them all),
power consumption (Watts).

Hardware device input should allow users to add a new device or

[2018-02-07 19:48] gazhayes commented on #47
Also can you use the new imports structure for this.

[2018-02-07 19:50] gazhayes commented on #164
That should be OK. @anbud has introduced a feature where no one can sign up or log in with an IP address that anyone else has used.

[2018-02-07 19:55] anbud commented on #47
@gazhayes, ok, I'll implement accordingly. I've already started using the new imports structure for this. :)

[2018-02-07 20:37] #44 closed

[2018-02-07 20:40] gazhayes commented on #69
Partial solution: all new features should use the imports structure https://guide.meteor.com/structure.html#example-app-structure

[2018-02-07 21:42] anbud commented on #164
@gazhayes, the current behavior for the IP tracking system is that the user only gets flagged (`flags` in `UserData` collection) if he/she used a previously used IP address. Do you want to completely disable signup/login for users using a previously used IP address? Cross-reference #39.

[2018-02-07 21:56] anbud commented on #47
The first basic solution is in #176.

[2018-02-08 00:41] gazhayes commented on #164
@anbud no that's ok for now, as long as a flag is set we can work out the rest later.

[2018-02-08 00:52] AshHimself commented on #164
Yeh I don't think blocking by IP is a good idea. Some public places all share the same IP address externally.

[2018-02-08 12:09] anbud commented on #39
@gazhayes, in #177, I've implemented a page where moderators can easily see which users are flagged. How should the voting system work? More than 3 votes would result in a ban or? Should I go on with the banning system implementation, or should I leave it as is for now?

[2018-02-08 13:00] AshHimself commented on #169
Yes sir. Got a bit delayed on another ticket.

[2018-02-08 13:33] AshHimself commented on #169
@gazhayes - Idea, the idea is for the community to make changes if data is incorrect or missing right? If data does not exist for a currency should we have a button visible to propose a change perhaps?

[2018-02-09 00:32] gazhayes commented on #39
Leave this one as is for now. With real data the solution will become more clear.

[2018-02-09 00:36] gazhayes commented on #169
Yes, exactly what I was thinking.

There's different 'standard data' for different types of currencies though. For now, just do the bare minimim and see what happens.

[2018-02-09 02:32] gazhayes opened #179 "Problem: adding hashpower device has fixed options for unit"
Problem: (/add-hashpower) Some algorithms use sols/s instead of H/s (as an example).

Solution: some other fields are allowing users to add new data, do this for the hashrate field too.

[2018-02-09 06:15] AshHimself commented on #169
@gazhayes - Just created a PR with a basic table and created a few helpers to display a contribute button if data is null. A suggest is that instead of just going to currencyEdit:currency we actually do currencyEdit:currency/fieldBeingEdited. This way we can focus to that field and they can edit it right away.

[2018-02-09 12:57] anbud commented on #179
Done in #182.

[2018-02-10 07:06] #179 closed

[2018-02-10 07:07] gazhayes commented on #169
Yes I agree, that was my original intention/idea with the edit currency ticket.

[2018-02-10 07:09] gazhayes opened #183 "Problem: editing one data point for a currency forces user to use a more confusing form than necessary"
Problem: When editing or adding a data point on a currency page it directs a user to edit *all* the details for that currency.

[2018-02-10 07:09] gazhayes commented on #169
#183

[2018-02-10 07:09] #169 closed

[2018-02-11 09:31] gazhayes opened #184 "Problem: currency logo image extension not always correct"
Problem: when a users adds a currency logo in jpeg format (for example) the filename is saved as .jpeg, however when the image is used the .jpg extension is called instead of .jpeg

[2018-02-11 09:55] gazhayes opened #186 "Problem: currency logo not shown on currency detail page"
Problem: the currency logo (which is currently visible on the / route) is not shown anywhere in the currency detail page.

[2018-02-11 10:01] AshHimself commented on #186
@gazhayes I am about to make a PR tonight on this file. I know you have flagged as paid_contributor_assessment but let me know.

[2018-02-11 10:05] gazhayes opened #187 "Problem: something weird happening with graphdata collection"
Problem: Something weird is going on with the graphdata collection (which then breaks the UI/radar chart).

https://i.imgur.com/uMw13jf.png

[2018-02-11 10:08] gazhayes commented on #187
While you're looking at that, can you make graphdata populate with minimum based on the real minimum from `currencies` collection, I made it use 400 as the lowest ELO but it can actually be lower in some situations. The problem is that the radar chart should end up displaying the correct 'spread' but it isn't.

[2018-02-11 10:09] anbud commented on #187
Sure thing, I'm on it.

[2018-02-11 11:07] anbud commented on #187
Fixed in #188. About the min value, it's generated from the currency collection (`_.min(allRatings)`), but, currently, there's not enough data for the ELO ranking to go under 400.

[2018-02-11 12:16] AshHimself commented on #183
Problem: Found a bug where the edit button is displayed on an attribute which should not be changable. e.g. gitUpdate, gitCommits.

Solution: Remove helper from these attributes and create a secondary helper which simply displays '-' instead of the propose change button.

[2018-02-11 20:12] #187 closed

[2018-02-11 20:13] #186 closed

[2018-02-11 21:23] gazhayes opened #190 "Problem: currency detail page 'flashes' on load"
Problem: when going to a currency's detail page, the page 'flashes', especially on slow connections.

[2018-02-11 23:48] AshHimself commented on #190
@gazhayes - Not sure if this is the problem here but we really need a global solution to show a loading indicator whilst subscriptions are completing. e.g. editing a currency does the same thing as the DOM loads before the subscription is complete.

[2018-02-11 23:54] anbud commented on #190
The problem here was a little bit different, but I generally agree, we do need a loading page. IronRouter has a nice `waitOn` property, but, since we're using FlowRouter, something like [this](https://github.com/kadirahq/flow-router/issues/229#issuecomment-125819349) or [this](https://www.discovermeteor.com/blog/template-level-subscriptions/) should be useful. That would be a simplest possible sol

[2018-02-11 23:58] AshHimself opened #192 "Problem: DOM is displayed before subscriptions are ready"
Problem: DOM is displayed before subscriptions are ready

Solution: Implementation a progress loader / indicator to indicate that the subscription is still loading and/or DDP transactions are still in progress.

[2018-02-11 23:59] AshHimself commented on #190
@anbud created #192 to track this.

[2018-02-12 00:08] gazhayes commented on #190
Just note that we will probably use fast render for the initial payload so waiting for ddp to crank up shouldn't be much of an issue.

[2018-02-12 05:32] #64 closed

[2018-02-12 05:33] #6 closed

[2018-02-12 06:56] gazhayes opened #193 "Problem: home route UX does not show enough scope"
Problem: the home route (blockrazor.org/) requires a lot of scrolling through currencies, it is not easy on the brain or the eye. As Blockrazor becomes populated with data, there will be 2000+ currencies in the database. Users should immediately understand when seeing the home route that *all* the currencies and blockchain projects are here.

Possible solution: rework the UX to look something like

[2018-02-12 09:23] gazhayes opened #194 "Problem: radar chart does not maximise available values"
Problem: currency radar charts for ratings etc do not maximise the available data. A currency's graph data for the wallet ranking (for example) is calculated here: https://github.com/Blockrazor/blockrazor/blob/f42f3d1eb2ba8182b63c4a9fa16c79ead1b716c4/client/normal/currency.js#L48
This means that if a currency has the lowest of all ELO rankings in the system, it can still be shown as a relatively h

[2018-02-12 09:27] gazhayes commented on #192
Another possible solution to this would be to deploy [fast render](https://atmospherejs.com/staringatlights/fast-render)

I used it here but turned it off for some now forgotten reason:
https://github.com/Blockrazor/blockrazor/blob/ff709fa271babb1363b7b16f6757d402ed66d21b/server/main.js#L147

[2018-02-12 10:35] anbud commented on #194
@gazhayes,
If you want to have a nice spread over the graph, we could calculate the graph data like this:
`graphdata(x) = ((x - min) / (max - min)) * 10`

Example:
[code]

[2018-02-12 12:55] AshHimself commented on #184
@gazhayes I can't replicate this. Was there a certain file you were using that might have a weird MIME type? Can you share it so I can check it out and try catch the error? I tried a bunch of files and all were saved in JPEG on the server and in the collection.

[2018-02-12 18:09] gazhayes commented on #184
I had 'wallet image' in the original description but I actually meant 'currency logo'.

Have a look at https://blockrazor.org/currency/test

It looks for https://blockrazor.org/static/images/coin/1b1cab96ee35a8735b6403dda3147bff.jpg but should actually look for https://blockrazor.org/static/images/coin/1b1cab96ee35a8735b6403dda3147bff.jpeg

(or save as .jpg instead of .jpeg)

[2018-02-12 21:28] gazhayes opened #196 "Problem: currencies::featureTags not needed, adds clutter"
Problem: featureTags are not needed because we now have the features module/discussion.

Solution: remove featuretags from everywhere in the codebase.

[2018-02-12 22:22] #190 closed

[2018-02-12 22:29] gazhayes opened #197 "Problem: DDP latency causes slow loading"
Problem: It takes a while for DDP to crank up. The DOM renders before DDP is ready, this can be confusing to users (especially on slow connections).

Solution: wherever possible, use Fast Render to send the initial DDP payload over HTTP.
Fast Render is already installed and just needs to be deployed: https://github.com/Blockrazor/blockrazor/blob/ff709fa271babb1363b7b16f6757d402ed66d21b/server/main

[2018-02-12 22:39] gazhayes opened #198 "Problem: bounty page does not encourage users to add new currencies"
Problem: The bounty page is currently used to encourage users to add data about existing currencies. It is important that new currencies are also added to the system.

The bounty reward can be set manually at first (no UI or algorithms needed) but will probably need to be controlled with an algorithm later on (an increasing amount of Krazor based on the last currency submission).

The bounty page

[2018-02-12 23:30] gazhayes opened #199 "Problem: watermarked images have a very large file size"
Problem:
Watermarked images are very large in comparison to the uploaded image. Some GM tweaking probably needed.

![](https://i.imgur.com/tA8LzJm.png)

[2018-02-12 23:33] gazhayes opened #200 "Problem: non-watermarked image used for wallet image display"
Problem: both the original and watermarked images are available in the upload directory but the non-watermarked image is used for display in the UX.

A related problem that can probably be solved in the same solution: it's easy for users to grab the unwatermarked image straight from the server. We don't need to store the original image so maybe just replace the original with the watermarked image.

[2018-02-13 04:05] AshHimself commented on #184
Ok I eventually found the cause of this issue after debugging for a while. The server is using the mime-type library to figure out the extension from the mime-type (best way to do it) whereas on the client it was grabbing the extension from the users machine. e.g. you could rename a PNG to JPG and it would use JPG (wrong way to do it).

The mime-types package is now being used on both server and c

[2018-02-13 05:39] gazhayes commented on #32
Reminder to self, this isn't working on server, need to check what's going on

[2018-02-13 05:39] #32 closed

[2018-02-13 05:40] #184 closed

[2018-02-13 09:52] anbud commented on #198
So, if I understood this correctly, the 'add currency' bounty would be a different module that's just similar to the current bounty system. And the bounty would be complete when the user actually adds a new currency and a moderator approves it? Just by browsing through the code, I've come across a collection named `BountyTypes`. If the behavior is not that different, we could just add a new type,

[2018-02-13 18:59] gazhayes commented on #198
It's just the same (well, of course it can be modified) as the 'add currency' thing (https://blockrazor.org/addcoin) is now. Right now the problem is that it's not displayed on the bounty page (and the bounty reward is fixed).

Would that still be ok, given the above?

[2018-02-13 21:16] anbud commented on #198
Oh, I get it now. I thought that this 'add currency' bounty was something new that needed to be added. That's why I thought we could use `BountyTypes`.

In this case, however, the simplest way would be just to 'inject' the 'add currency' bounty on the bounties page on the client side, there's no need to complicate things on the server. Just extending the bounties array would be fine.
And about alg

[2018-02-14 01:06] gazhayes commented on #198
Yeah I agree that's probably the simplest solution (but verify the reward rate on server to prevent fuckery).

FYI In the existing bounties I'm pretty sure I used exactly what you just described to calculate the bounties.

[2018-02-14 01:10] gazhayes commented on #198
The reward for adding a new coin should be the same (at the same point in time) regardless of whether it was accessed from bounties, or the add currency button (which will later be prominently displayed somewhere).

[2018-02-14 01:19] gazhayes opened #202 "Problem: users might add a currency that is already in the moderation queue"
Problem: users might add a currency that is already in the moderation queue.

Solution: when a user adds a new currency it already checks that one with the same name doesn't already exist in the `currencies` collection. This needs to be added for the currencies in the moderation queue that have not been approved or rejected.

[2018-02-14 18:19] anbud commented on #198
The basic solution is in #204.
I've just noticed that when we algorithmically calculate the reward, the reward can be quite small in some cases (right after a currency is added, the reward is about 0.000001). Should I set a minimum value of the reward to somehow fix this?

[2018-02-15 02:13] gazhayes commented on #198
Don't worry about that for now, I'll revisit it when working out overall bounty budgets later.

[2018-02-15 02:13] #198 closed

[2018-02-15 02:29] gazhayes opened #205 "Problem: bounty timer is not reset when cancelled"
When cancelling an add currency bounty the timer is not reset.

[2018-02-15 03:34] AshHimself commented on #199
@gazhayes - PR issued. Thoughts on another feature to create a thumbnail sized image as well? This would allow that to be used on initial load instead of the full image therefore increasing page load times, especially for future mobile use cases.

[2018-02-15 04:50] #199 closed

[2018-02-15 04:51] #200 closed

[2018-02-15 04:54] gazhayes commented on #199
Don't worry (for now).

[2018-02-15 07:26] #164 closed

[2018-02-15 11:12] anbud commented on #205
I'm on it.

[2018-02-15 11:42] anbud commented on #205
Done in #207.

[2018-02-15 19:30] #205 closed

[2018-02-16 03:44] AshHimself commented on #183
Resolved in #195

[2018-02-16 03:44] #183 closed

[2018-02-19 04:46] gazhayes commented on #160
@anbud do you remember how the 'affects' questions are treated when used for ELO rankings? I added a test question locally (community and affects decentralization) but when answering the question I can't see anything in the ratings collection that could be used for processing the decentralization part.

[2018-02-19 05:38] gazhayes opened #209 "problem: decentralization metric not displayed"
Problem: the decentralization metric is not displayed on the radar chart. There may be sub-problems associated with this in terms of ELO rankings as well as deciding the best way to incorporate nominal and comparative questions into the dataset.

ping @anbud for opinion.

[2018-02-19 22:25] gazhayes opened #210 "Problem: [/bounties] add currency bounty reward too low after reset"
Problem: the new currency bounty is probably a bit low after reset, at the start we probably need a bit more encouragement.

solution: start bounty at 1 KZR instead of 0 and let it trend up as usual.

[2018-02-19 22:27] gazhayes opened #211 "Problem: amount credited to users after a new currency bounty is approved is incorrect"
Problem: I just added litecoin as a test. The bounty was 18.59 however 0.00000039 was credited.

[2018-02-19 22:33] anbud commented on #160
@gazhayes, There's no separate entry in the `Ratings` collection, the `affects` field is enough. The current calculation is quite basic, it increases or decreases the current decentralization ranking by 2. (in [elorankings.js](https://github.com/Blockrazor/blockrazor/blob/master/server/methods/elorankings.js#L145-L162))

[2018-02-19 22:34] gazhayes opened #212 "Problem: proposed changes cannot be downvoted"
Problem: proposed changes (https://blockrazor.org/changedCurrencies) can only be upvoted but not downvoted.

Solution: Allow downvoting and use a something along the lines of:

if (3+ upvotes and (downvotes/totalvotes < 0.2) then merge.

[2018-02-19 22:34] anbud commented on #211
This one is mine, I'll check it out.

[2018-02-19 22:38] gazhayes opened #213 "Problem: when premine is (legitimately) 0 the currency page still asks for users to contribute the data point"
Possible solution: IIRC premine is null or false unless it is set so check for === rather then == false.

[2018-02-19 23:02] anbud commented on #211
@gazhayes, Is there a way to access production server logs somehow? I can see that this doesn't work correctly in production, but I can't reproduce the bug locally, as it credits the correct amount on the local server.

[2018-02-19 23:12] anbud commented on #211
Added a little bit more logging in #214 and a possible fix.

[2018-02-19 23:26] gazhayes commented on #211
Weird. Maybe something client side is affecting it?

Do you still want that after the last PR? I can give you ssh access.

[2018-02-20 00:02] gazhayes opened #215 "Problem: github API request not automagically generated"
Problem: when adding a new currency it is reasonable to expect users to provide a github repository location but not the API endpoint to fetch the number of recent commits.

API call: https://github.com/Blockrazor/blockrazor/blob/master/server/API_requests/github.js

[2018-02-20 00:09] anbud commented on #211
Thanks for the SSH access, it helped. I believe I got it, it should be fixed in #216.
`Meteor.userId()` works correctly in methods called from the server locally, but apparently, it doesn't work correctly in production.

[2018-02-20 00:11] gazhayes commented on #211
That's weird, I'll post to the meteor forum and ask if this is is a bug or a feature.

[2018-02-20 01:16] AshHimself commented on #211
Could be a side bar comment but, you can use this.userId as well which is a lot less heavy.

[2018-02-20 02:05] anbud commented on #215
@gazhayes, Can I take this one?

[2018-02-20 04:44] gazhayes commented on #215
Yes, sure.

[2018-02-20 04:54] gazhayes opened #217 "Problem: merged changes still visible after merge"
Problem: once changes are merged the change should not be visible on the proposed changes page.

Possible solution: only subscribe to 'merged: false'.

[2018-02-20 18:48] anbud commented on #209
@gazhayes, we can display decentralization data on the radar chart the same way we display the other data, there's no big difference. It's not hard to calculate the spread over the chart.

Currently, the "pseudo" ELO calculation is quite simple (increase/decrease the ELO ranking by 5 if it's a nominal question, and increase/decrease ELO ranking by 2 if it's affected by another comparative question

[2018-02-20 19:08] gazhayes commented on #209
Actually, we have to use ELO rankings for decentralization measurements, the current way won't work. I'll add a new issue now.

[2018-02-20 19:20] anbud commented on #215
Done in #218.

[2018-02-20 19:51] gazhayes opened #219 "Problem: decentralization measurements are nominal not comparative"
Problem: currently, decentralization measurements are taken absolutely instead of comparatively with ELO rankings. This means that when one currency has more users rating it than others it's very easy to skew the results.

Possible solution: fully implement ELO rankings for decentralization as with wallets and community etc. Have separate decentralization questions for users, even if some are the

[2018-02-20 19:52] gazhayes opened #220 "Problem: if github repo is not added (correctly) at coin creation time the git API will not be used"
Problem: if git repo is added or corrected later on the git API will not use it.

[2018-02-20 21:20] anbud commented on #220
Done in #221.

[2018-02-20 21:41] anbud commented on #219
@gazhayes,
Basically, the first possible solution is easier to implement, as it's fully compatible with the current ELO system.
But, in my opinion, the second solution seems better, as users would only have to answer the same questions once. Will there be any comparative questions only about decentralization?

If there won't be many nominal questions, I agree, this is a better approach.

[2018-02-21 04:12] #220 closed

[2018-02-21 04:22] gazhayes commented on #219
How about using the first solution but inject decentralization questions into the appropriate place (community/codebase/whatever) at the UI level? The decentralization questions can be written so they are specifically for the decentralization metric, but the context of community or  codebase (for example) is the right place to actually ask the user.

So far there's only one nominal question anyway

[2018-02-21 08:46] AshHimself commented on #212
@gazhayes - Do you want to historically track if a user has voted and then downvoted and then say upvoted again or just track the users end result? The latter is obviously the easiest but the former will take a little more code. Let me know and i'll get this done.

[2018-02-21 09:08] gazhayes commented on #212
Just track the end result, that should be enough. Also please now make it so only moderators can vote.

[2018-02-21 11:27] anbud commented on #219
Yap, that's a perfectly fine solution, I like it. I could add a context field to the 'add question' form that would determine where to actually show the question.
Should I go on with the implementation of this?

[2018-02-21 12:09] AshHimself commented on #212
You got it!

On Wed, 21 Feb 2018 at 5:08 pm, Gareth Hayes <notifications@github.com>
wrote:

[2018-02-21 19:00] gazhayes commented on #219
Yes absolutely :)

[2018-02-21 22:36] anbud commented on #219
In #222 I've implemented the full ELO system for decentralization questions and I've removed the old nominal questions system.

Another PR will follow later for absolute questions on 'add currency' page.

[2018-02-22 03:00] gazhayes opened #223 "Problem: decentralization elo rankings are not averaged"
Problem: decentralization elo rankings look like they aren't being used, they are not being averaged and copied to the currency collection. Looking in the elorankings collection I see that the decentralization rankings have a null in category, this is probably the cause but I'm not completely sure if that's the only cause. For example item with _id: 94668AADAb.

[2018-02-22 04:31] gazhayes opened #224 "Problem: comments on the currency detail page don't look very good"
Problem: the way comments/features/red flags are displayed doesn't look great. For example: https://blockrazor.org/currency/ethereum

[2018-02-22 07:51] AshHimself commented on #212
@gazhayes - Fair bit of logic added into this one.
- Can upvote and then revert your upvote which takes score back to zero
- Can now downvote
- If you are a moderator you should see the proposed changes view in the menu.
- If you are not a moderator and know the URL you still can't vote as error handling is done on method.
- Once merged a message is presented to the user.

Please note that once a

[2018-02-22 08:04] gazhayes commented on #212
Yeah that's actually perfect and how the C4 works anyway.

Only had a cursory look but the PR looks good.

One thing I noticed, I just tried to add a genesis block timestamp to Monero (as an example) but it doesn't make it into proposed changes. Any ideas?

[2018-02-22 09:30] anbud commented on #223
@gazhayes, I can't seem to reproduce this, either locally or on the production server.

For a test, I've just added a new question for decentralization (`Decentralization test`) shown at the codebase page. I've added a few currencies, answered the questions, called `tabulateElo` and `averageElo` for `decentralization` (from modpanel dashboard), and finally called the `updateGraphData` method. Ever

[2018-02-22 10:10] gazhayes commented on #223
Ah, strange. Ok thanks, I must have been doing something weird.

[2018-02-22 10:10] #223 closed

[2018-02-22 10:42] anbud commented on #223
If you happen to come across it again, record your steps and I'll look into it. :)

[2018-02-22 10:51] anbud commented on #209
@gazhayes, Since we've switched to the ELO ranking for decentralization in #219, should we display the data here as we display the other data on the radar chart? We could also switch to the new formula for graph data calculation presented in #194.

[2018-02-22 11:18] gazhayes commented on #209
Yes to both :)

[2018-02-22 12:14] AshHimself opened #230 "problem: when coin changes are merged they are saved as arrays"
Problem: when coin changes are merged they are saved as arrays not strings. There is also an issue with the genisistimestamp not merging correctly.

Solution: Revise merge method to ensure they are saved in the correct format.

[2018-02-22 14:43] anbud commented on #219
Nominal questions on 'add currency' are implemented in #232.

[2018-02-22 15:13] anbud commented on #209
Done in #233.

[2018-02-22 19:47] #209 closed

[2018-02-22 20:24] #213 closed

[2018-02-22 20:32] #217 closed

[2018-02-22 20:34] gazhayes opened #234 "Problem: changes to currencies are not cancelled with downvotes"
Problem: when a proposed change has more than 3 downvotes it's probably a bad change and should be removed to free up the UI.

[2018-02-22 20:38] #215 closed

[2018-02-22 20:52] #211 closed

[2018-02-22 20:55] #212 closed

[2018-02-22 20:56] #160 closed

[2018-02-22 20:56] #39 closed

[2018-02-22 20:57] #47 closed

[2018-02-22 21:53] gazhayes opened #235 "Problem: no framework for to fetch current hash rate and compute power consumption"
Problem: In order to use a hashpower metric a standard unit of measure must be used to compare different algorithms and different currencies. The most ideal is probably the current power draw in kW.

https://blockrazor.org/hashpower will eventually be populated with a wide variety of ASIC and GPU data. That will (after some algorithm is written to generate a good value from the results) provide th

[2018-02-22 23:38] gregorymendoza commented on #58
Hello. I'll work on this issue. The interface is free for me to redesign?

[2018-02-23 00:15] gazhayes commented on #58
Yes, totally free and open for however you want to tackle it, you can do anything you want :)

[2018-02-23 01:09] AshHimself commented on #58
Question to the team; how are we handling interface changes? Are we just doing a mockup in html then someone else merging into meteor? Interested to know how we are handling this following C4.

Ping @gazhayes

[2018-02-23 02:10] gazhayes commented on #58
Just the usual C4 fork/pull should work, do you foresee a problem?

[2018-02-23 06:27] gregorymendoza commented on #58
For the UX/UI development, can I commit more than once or I have to save all changes in a single commit?

[2018-02-23 06:40] gazhayes commented on #58
You _can_ break down a large problem into multiple smaller problems (which means multiple commits). This is especially useful for larger problems when it makes sense to divide things into smaller problems.

The important thing is that each individual commit must follow the C4; each commit must be solving a clearly defined problem (explained in the commit message).

[2018-02-23 06:48] gregorymendoza commented on #58
Alright, so the main problem is the ugly interface, if I want to commit a series of changes to the design, I should first write "Problem:" followed by the description of the changes made, correct?

[2018-02-23 07:14] gazhayes commented on #58
Yes, so the main problem you are solving is the one described in this issue. If you want to break down the problem into smaller problems you should define each one (in each commit message).

For example you might want to fix the layout in one commit:
"problem: layout doesn't allow scaling for different screen sizes"

then you might want to use floating tooltips instead of inline tooltips:
"problem

[2018-02-23 10:16] MadanBhandari commented on #224
I want to work on this, can you please assign this to me ?

[2018-02-23 10:30] MadanBhandari commented on #193
What about the rest of info (like the Good, Bad etc) ? and I would I also suggest the navigation menu should be collapsible.

[2018-02-23 17:01] MadanBhandari commented on #193
![blockrazor](https://user-images.githubusercontent.com/6429311/36606252-2f7353dc-18e9-11e8-94c4-6322703fd691.png)

Here is my solution

[2018-02-23 17:35] anbud commented on #235
@gazhayes,
I agree, power consumption in kilowatts (or watts) would be an ideal metric, as we already capture it for each added hardware.
To get the algorithm + power consumption for each algorithm, I believe we could calculate an average power consumption for one hash/s (or solution/s?) based on the hardware data and go from there. That way, we could easily calculate the power consumption based o

[2018-02-23 18:36] gazhayes commented on #193
I completely agree.

Your layout looks good. The only problem is that the most important graph for users to see quickly is the radar chart (the orange one), not the coin distribution chart.

You can play around with it, but I think the smaller the tiles are, the better. Users can aways click in to each one to get the rest of the data but they need a quick way to view and filter through currencies

[2018-02-23 19:03] gazhayes commented on #235
I used kH/s when adding that GPU, it should actually have been H/s. That yields a more realistic 138,203,125W (at the current hashrate).

Your first paragraph is precisely what I was thinking (and the whole reason for collecting the hashpower data). Average is probably the simplest thing to use for now that will actually work, as we get more date we can play around with it.

That's probably the si

[2018-02-24 08:39] gazhayes opened #238 "Problem: ongoing development metric not calculated or used"
Problem: the number of changes to a currency's git repo in the last 3 months is fetched via the github API and stored in `gitCommits` in the currencies collection. However this is not used by the radar chart::ongoing development.

Possible Solution: use something similar to the elo ranking system which populates graphdata based on the values in the currencies collection.

[2018-02-24 15:11] MadanBhandari commented on #193
This is done.

**Quick question :** Can I use Min Premine for Premine Greater Than and Min Circulation for Circulating Greater Than ? or can you suggest any shorten term for these search fields ?

[2018-02-24 16:34] anbud commented on #238
@gazhayes, the easiest solution here would be to use the highest number of git commits as the maximum value for the graph, and 0 as the minimum. That way, we can have a nice spread over the radar chart based on the number of git commits.
Can I take this one?

[2018-02-24 16:47] sjmackenzie commented on #238
Open source projects come to maturity, hence commit-count might not be an
accurate metric. Probably best for now.

[2018-02-24 17:57] anbud commented on #235
Done in #240.

[2018-02-24 18:48] gazhayes commented on #193
You can try and we'll see what it looks like. If it's no good it's not hard to change.

[2018-02-24 19:00] gazhayes commented on #238
@anbud yep it's all yours, I agree that's the simplest solution.

@sjmackenzie I agree, however some projects (like Dash) have literally no activity for 6 months, while much older projects (e.g. Bitcoin itself) still has ongoing development.

If this were the only metric, yes it wouldn't be very useful, but when comparing github activity along with everything else it becomes useful as another data

[2018-02-24 19:07] sjmackenzie commented on #238
Agreed, just adds one more dimension which could be useful for whatever
reason.

[2018-02-24 19:20] gazhayes opened #241 "Problem: add currency and hashpower use different algorithm data source"
Problem: As we now use an API to fetch the current network hashrate for each currency and then use this along with the data in /hashpower to calculate power consumption in Watts, the algorithm list used when users add a new currency, and the algorithm list for adding the power consumption of a hardware device should be identical.

[2018-02-24 19:22] anbud commented on #238
Done in #242.

[2018-02-24 19:43] anbud commented on #241
@gazhayes, noticed this while implementing #235.
There are two obvious solutions here:
- use the user-generated list from hash power everywhere.
- use the fixed list from 'add currency' page everywhere.

I believe the first solution would be better. The only problem I see with that is that users are only adding algorithms by name, while the 'add currency' page also needs the category (PoW, PoS, ..

[2018-02-24 19:55] gazhayes commented on #241
I also agree, the first solution is better and simpler.

The hashpower page only need PoW algorithms, so anything they type in is already PoW category (in reality). So maybe you could just insert it as PoW for the add currency page? And for 'hybrid' just concatenate them (or whatever)?

The only problem I can see is that we might at some point want to add the ability for users to add new algorithm

[2018-02-24 20:39] anbud commented on #241
Sure thing, I can insert the user-generated algorithms as PoW (and concatenate them for 'hybrid').
If we ever decide to let users add algorithms on the 'add currency' page, we can use the same method used to add algorithms on the hash power page, there's no big difference.

[2018-02-25 02:14] #238 closed

[2018-02-25 02:20] gazhayes opened #243 "Problem: rating wallets, communities, codebase is not bountified"
Problem: especially during the initial stages, to drive up user interaction there needs to be some reward for contributing. Comparative ratings of various aspects of each currencies used for comparison metrics are essential to blockrazor, however there are no bounties for rating wallets, communities and codebases.

Dependency: #244

[2018-02-25 02:28] gazhayes opened #244 "Problem: very easy to cheat on comparative ranking bounties if incentivised to do so"
Problem: bountifiying the elo ranking system is (probably) necessary (#243). This however introduces a new problem: many users will probably just randomly click through questions just to get the bounty.

Possible solution: throw in some reverse questions to verify a previously answered question (ask the same question twice in a different way but reverse it and see if the answers match). Something

[2018-02-25 02:37] gazhayes opened #245 "Problem: no coherent accounting strategy to track Krazor coins"
Problem: bounties etc are rewarded in Krazor (BlocKrazor) coins. As there is a finite number of Krazor coins and transfers happen on an immutable blockchain, its important not to make mistakes. For this reason it's best to have a fixed amount of coins in a 'main' wallet which are transferred to user's wallets when necessary in a kind of double-entry accounting fashion. This can all be done in Mete

[2018-02-25 02:39] gazhayes opened #246 "Problem: cannot develop Blockrazor while offline because some libraries require connectivity"
Problem: some libraries (e.g. bootstrap) are fetched from a CDN which makes it hard to develop while offline.

[2018-02-25 02:45] gazhayes opened #247 "Problem: adding hashpower and energy consumption for hardware devices is not bountified"
Problem: adding hardware at /hashpower is not bountified. Early on, this probably has to be incentivised. However maybe a screenshot of the user's mining rig or something is needed for verification. Alternatively, maybe outliers for each hardware device can be purged, or perhaps some kind of flagging or something.

[2018-02-25 03:32] AshHimself commented on #246
Ideally we should be using packages for npm for all depencies and not cdn
at all imo. The root.html needs a bit of an overhaul.

On Sun, 25 Feb 2018 at 10:40 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-02-25 04:06] gazhayes commented on #246
@AshHimself completely agree.

[2018-02-25 07:48] #234 closed

[2018-02-25 07:49] gazhayes commented on #230
Was this fixed in one of the last PRs?

[2018-02-25 08:32] AshHimself commented on #230
No mate, inbound as a seperate commit in another issue I just resolved.

[2018-02-25 09:15] AshHimself opened #248 "problem: dates are not returned as dd/mm/yyyy and left in raw format"
problem: dates are not returned as dd/mm/yyyy and left in raw format

Solution: create a new helper to return dates as dd/mm/yyyy using momentJS.

[2018-02-25 09:44] AshHimself commented on #246
@gazhayes - Sorry mate didn't see you added the low priority on this. You prefer these as NPM packages if available or atmosphere. NPM is better just more time consuming obviously as need to define in each file. Could probably do this slowly as well as required. e.g. do moment first etc.

[2018-02-25 11:48] anbud commented on #247
@gazhayes, I agree, adding a bounty to add hash power data would be a nice thing to speed up data collection. A time based bounty that we use in other places is perfectly fine here.
As for verification, users could easily pull images of mining rigs from the internet, I believe that some flagging system would be sufficient here. We could also algorithmically check if the data is valid. We currently

[2018-02-25 11:52] anbud commented on #244
@gazhayes, XOR questions would be a nice solution here. When adding a question I could add a field where you can select which questions are in XOR relation to that one. If we catch the user, we can purge his progress, and maybe we can even deduce some small amount of Krazors from his account as a penalty. Maybe even add a time based ban for other bounties if this happens multiple times.

[2018-02-25 12:04] anbud commented on #243
When #244 is solved,  this can easily use the same system as the bounty for adding new coins. It would require some modifications, but the basic idea is the same. Would we use fixed or time based bounty prizes?

[2018-02-25 17:46] anbud commented on #241
Done in #251.

[2018-02-25 18:31] gazhayes commented on #246
Can you elaborate on that one?

I remember trying to use NPM for bootstrap and it was a disaster, can't remember exactly why though.

[2018-02-25 18:38] gazhayes commented on #247
What I did with wallet images etc to try and combat this is MD5 the image and not allow any more uploads of that image. Of course they could just slightly change the image, but it forces people to be a bit more determined to cheat.

Yes, it works with wikipedia, will probably work here.

[2018-02-25 18:41] gazhayes commented on #243
We should use time based. The idea is that as more people start adding data the system will self-regulate the rate that coins are distributed. Similar to mining but for contributions instead.

[2018-02-25 18:46] gazhayes commented on #244
OK that sounds like the best and simplest solution.

That should be enough to dissuade most. And if they get caught again add a time based ban and a permanent thing on their profile (profiles will come later).

[2018-02-25 18:48] gazhayes commented on #244
This also raises a question in how to award bounties for answering questions in #243, if they are awarded immediately the amount would have to be deducted from their wallet when purging their answers. But if waiting till all the (unknown number) of questions are answered before transferring the bounty that introduces extra complexity.

[2018-02-25 18:50] gazhayes commented on #243
Also slightly related: #245

[2018-02-25 18:51] #241 closed

[2018-02-26 07:06] #230 closed

[2018-02-26 07:06] #248 closed

[2018-02-26 07:16] AshHimself commented on #246
Sorry let me clarify my statement. NPM is better for packages which may only be used in few areas of the site. e.g. moment or other larger packages, we can then use imports to only load them when needed and increase the performance of initial load.

After doing an assessment of the packages we have so far in root.html it may just make sense to use atmosphere for now and any other 'future' packages

[2018-02-26 07:56] gazhayes commented on #246
Ah yes, we are going to want to be making use of dynamic imports so NPM makes more sense for most things.

[2018-02-26 08:59] #58 closed

[2018-02-26 09:06] anbud commented on #246
Yea, in my experience, dynamic imports can improve performance and initial load times drastically, we should definitely start using them.

[2018-02-26 09:08] gazhayes commented on #193
@MadanBhandari how are you going with this one?

[2018-02-26 09:11] anbud commented on #244
My initial idea here was to wait until the user answers all rating questions on the given topic to give him/her the bounty (number of questions times the locked-in bounty amount). If the user happens to leave the page while answering the questions, he/she would be credited for the amount of questions he/she answered. And if we catch him/her cheating, it's easy to reset the money counter.

[2018-02-26 09:17] AshHimself opened #254 "problem: filter on ratings page does not work"
Problem: filter on ratings page does not work

Solution: Looks to be a js related issue. I will resolve as I am currently working on another issue in same file.

[2018-02-26 09:18] anbud commented on #247
We could do that with images, you're right, it would probably force them to give up on trying to cheat the system.
Maybe we could do it like this, let them upload the image, check the checksum and if everything is ok, let them add the data. (No separate image verification by moderator as when adding wallet images)
If other users notice that something is not right, they can just flag the data, and

[2018-02-26 09:18] gazhayes commented on #244
The problem (I think) is that the questions are not actually generated until the do x for currency y (e.g. upload a wallet image).

Is that a problem for the solution you are thinking of?

[2018-02-26 09:47] anbud commented on #245
The solution you've described is what crypto exchanges mostly use. Basically, it wouldn't be optimal to use the chain for every transaction, and if you make a mistake, there's no going back. So, you never communicate with the blockchain unless a user wants to withdraw or deposit some coins (will we have deposits?). And that's all. That's what we should be using here as well.
I haven't had a good l

[2018-02-26 10:26] anbud commented on #244
You're right, they are not generated until you make an action. (uploading a wallet image, adding a community,...) But, my idea is to have a bounty amount for answering one question and show that amount when accepting the bounty. The bounty text would, of course, say that the amount will be multiplied by the number of questions you answer.

[2018-02-26 10:34] gazhayes commented on #245
Yes, I'll publish details on how to consume the Krazor API. At this stage however, it's not even necessary.

The main thing I'm worried about with this issue is tracking coins within Blockrazor itself.

[2018-02-26 10:35] gazhayes commented on #244
Ah yes. Now I understand. Yeah that's probably the simplest solution.

[2018-02-26 10:57] AshHimself commented on #246
@gazhayes - we need to update the readme to state that meteor npm install chart.js --save is required. Currently chart.js is not being found.

[2018-02-26 18:53] gazhayes commented on #246
I can't replicate that. A fresh clone works for me when running the instructions in the readme as they are now.

[2018-02-26 19:41] gazhayes opened #259 "Problem: some modals broken"
Problem: there were some modals on the currency detail page, for example when a currency doesn't have any listed features, users are prompted to add some. When users click the textbox to add feature text, a modal gave them some instructions.

These were broken in #256, probably something to do with the load order of jquery or bootstrap's javascript stuff.

[2018-02-26 19:49] gazhayes commented on #254
Something recent must have broken that, it should be easy to cycle through commits with `git log` and `git checkout xxxxxx` or use git blame to find the offending commit.

[2018-02-26 19:52] gazhayes commented on #254
It's not broken (on /ratings), could be a local issue on your fork?

[2018-02-26 20:11] anbud commented on #244
Ways to prevent cheating are implemented in #260. Currently, when the user is caught, we only reset his answering progress. When we implement the bounty system for rating wallets, codebases, and communities, I'll also implement a way to reset bounties.

[2018-02-26 20:28] gazhayes commented on #259
Clicking into comments is also broken in the same pull request, probably the same cause.

 ![](https://i.imgur.com/LLSBCor.png)

[2018-02-27 01:02] AshHimself commented on #259
Ok let me look into what's going on here.

[2018-02-27 04:12] AshHimself commented on #254
This was actually on production but its working for me now so could of been related to a PR or reverted PR recently. All a ok now.

[2018-02-27 04:12] #254 closed

[2018-02-27 04:17] AshHimself commented on #246
Looks to be all good now @gazhayes.

[2018-02-27 04:39] gazhayes commented on #259
Appears to still be broken. *some* modals are working (such as the help button), but not others. This doesn't look like a modal issue, maybe a jquery issue.

Modal should appear onFocus in this field:
![](https://i.imgur.com/qEo5iRE.png)

Comments and comment text box should be shown onClick:
![](https://i.imgur.com/gXvUdDX.png)

[2018-02-27 04:53] AshHimself commented on #259
Ok I think I know the issue. Typically I import NPM packages like `import { Cookies } from 'js-cookie';` but this is causing issues; however in the NPM documention for js-cookie it stipulates to use` import  Cookies from 'js-cookie';`

[2018-02-27 08:27] anbud commented on #245
You mean something like keeping a transaction log of all transactions happening on Blockrazor, so we can check if everything is ok?
Transactions are already kept in the `Wallet` collection (with lots of metadata), maybe we can just display them somewhere? We could also implement a way to nullify transactions if something goes wrong.

[2018-02-27 08:31] #259 closed

[2018-02-27 08:40] gazhayes commented on #245
That's a good point actually. We can probably just make sure that any necessary data is logged to that collection and it should be enough for now.

I'll sit on this and think about it for a while, there are some other complications such as users contributing to bounties for system improvements etc, tipping other users for useful comments, etc, so something more robust may be needed later.

[2018-02-27 08:43] #244 closed

[2018-02-27 08:44] #246 closed

[2018-02-27 12:09] anbud commented on #247
Done in #263.

[2018-02-27 14:10] gregorymendoza commented on #37
I will be solving this.

[2018-02-28 03:34] AshHimself opened #265 "problem: ratings page UI was not intuitive and appealing"
problem: ratings page UI was not intuitive and appealing

solution: update UI and flow. further tickets are required to ensure the page offers a better UX.

[2018-02-28 04:39] MadanBhandari commented on #193
@gazhayes I am working on this, will complete by this weekend, homepage alongwith top + side navigation. Side Navigation will be collapsible and common to all inner pages

[2018-02-28 05:56] AshHimself commented on #193
@gazhayes - interested to know how these merges of multiple UI components (possible frameworks) will handle each other.

[2018-02-28 06:32] gazhayes commented on #193
@AshHimself ultimately we'll go one way or another (one will reign supreme).

[2018-02-28 06:40] #265 closed

[2018-02-28 08:00] AshHimself opened #267 "problem: no way to know if user has uploaded images on ratings"
Problem: no way to know if user has uploaded images on ratings
Solution: add functionality for users to see what images they have uploaded therefore allowing them to upload more if required.

[2018-02-28 08:00] AshHimself opened #268 "problem: actual uploaded coin images are not displayed during question workflow on ratings"
Problem: actual uploaded coin images are not displayed during question workflow on ratings

Solution: update helpers to reference actual coin images and not placeholder image.

[2018-02-28 08:04] gazhayes commented on #243
@anbud are you doing this one?

[2018-02-28 08:15] anbud commented on #243
@gazhayes, yap, I'm on it.

[2018-02-28 11:36] AshHimself opened #269 "problem: unable to propose changes to coin logo"
Problem: unable to propose changes to coin logo

Solution: Improve the coin merge workflow to handle for images

[2018-02-28 11:37] AshHimself commented on #269
@gazhayes
Is this something we need?
Should old images be deleted on merge success?

[2018-02-28 19:29] gazhayes commented on #269
Yep, definitely. Was just thinking about this yesterday.
Yeah it should be fine to remove old images.

[2018-02-28 21:44] anbud opened #272 "Problem: No schemas on collections"
Problem: It is generally a good practice to use a schema to constrain the contents of collections to conform to a known format. When there's no schema, data can be anything, so whenever we read from the database, we have to write defensive code to check whether data exists and whether it's valid. Since we read data more often than we write it, it’s would be easier, and more optimal to use a schema

[2018-02-28 22:37] gazhayes commented on #272
I looked at simplSchema for this and implimented it eariler on, I can't remember the reason right now but I removed it shortly after. I'll try to remember what it is. Even in the best case scenario this would be low priority however.

[2018-03-01 04:40] gazhayes opened #273 "Problem: no user profile page"
Problem: users can't see other users' activity and statistics. This severely limits the "interaction" feeling. Currently, user actions (comments, currencies they added, number of ratings completed, etc) are not centrally tracked  so that probably has to happen first.

ping @anbud for ideas.

[2018-03-01 04:41] gazhayes commented on #197
@anbud if you haven't started this can you look at 273?

[2018-03-01 05:01] AshHimself commented on #273
@gazhayes - I've done this before in two parts.

**Part 1**
1. Log all activity points to mondoDB collection (we can use our existing logging component).
2. Display data on profile page, coin page.
3. Perhaps 'star/fav' coins to get all activity in a feed on your home page?

**Part 2**
Capture all activity points as part of overall growth. e.g. track user activity and behavior into segment.io (or

[2018-03-01 05:17] janat08 commented on #202
Is there a check for if currency already exists/added?

[2018-03-01 05:53] AshHimself commented on #273
I'll be honest i've not had to scale mongoDB before but it should be able to scale collections into the millions of records. The only advantage at this point is simplicity, decoupling into a more microservice architecture does have its benefits but obviously comes with more overhead in sysadmin. Getting the data tracked out of BR is easy I guess (intercom, mixpanel, GA), its just bringing it back

[2018-03-01 05:53] gazhayes opened #274 "Problem: no dedicated currency comparison page"
Problem: it's difficult to compare two (or more) currencies. There's some functionality in the currency detail page but it's not robust enough.

Ping @anbud

Maybe something like this:
![](https://i.imgur.com/L3OOWaP.png)

[2018-03-01 05:55] #268 closed

[2018-03-01 06:11] gazhayes opened #275 "Problem: users can take a new bounty while an existing bounty is running"
Problem: the UI allows users to start a new bounty when another bounty is already running. Some bounty types prevent multiple bounties being run and other's don't. No errors etc are given when a user tries to start another bounty but things tend to go wrong, for example when starting a new currency bounty while another bounty is already in progress the countdown doesn't start and Krazor will not b

[2018-03-01 06:18] gazhayes opened #276 "Problem hashpower flagging does not allow removal of flag"
Problem: flagged hashpower values should allow removal of the flag as well as remove of the hashpower data point.

In order to prevent strange behaviour we should probably require 3+ moderators to remove the flag or to remove the data point.

[2018-03-01 10:36] anbud commented on #274
@gazhayes, yap, I agree, the UI you've presented will be just fine for this, The other data in the image could be data about currencies shown on the homepage. (type of consensus, hash algorithm, hash rate,...)

[2018-03-01 10:39] anbud commented on #275
You're right, this needs a UI check, as the backend code checks if the bounty is active, that's why some other bounties are not starting. Greying out the 'take bounty' button is the simplest solution, both codewise and UX-wise.

[2018-03-01 10:42] anbud commented on #276
@gazhayes, should I implement the same system here that is used in moderation of changed currency data?

[2018-03-01 10:45] anbud commented on #197
@gazhayes, not yet. Should I do anything with it?

[2018-03-01 10:46] anbud commented on #272
@AshHimself, yap, check package should also be used wherever possible, I agree.

[2018-03-01 11:00] AshHimself commented on #267
@gazhayes If a user uploads say a wallet images then clicks the next button and answers all the questions the currency is then moved to added wallets. At that point should he/she be able to add more screenshots to say 'CONFIGURATION OR OPTIONS'? I assume yes but in current workflow this isn't possible.

[2018-03-01 11:05] AshHimself commented on #267
Additionally, a user can also upload multiple images for a wallet and multiple records get created in walletimages. I am thinking if the user attempts to upload another image for the same currency the old record should be deleted as well as the image on the server.

[2018-03-01 18:41] gazhayes commented on #197
Ok cool. This one is pretty simple and I added some things that I' 99.99% sure are much more interesting for you, so I de-assigned you.

[2018-03-01 18:46] gazhayes commented on #276
Yeah I guess that's probably the best way to do it.

[2018-03-01 19:48] janat08 opened #277 "No fixtures for hash algorithm"
Push a couple of strings on startup if none exist for testing.

[2018-03-01 19:52] gazhayes commented on #277
This isn't necessary: I regularly update the /dump directory with the latest database for testing, when more hash algorithms are added these will also be in there.

[2018-03-01 20:01] janat08 commented on #277
I just realized I'm not complying with protocol, and missed the relevant instructions.

[2018-03-01 20:01] #277 closed

[2018-03-01 20:14] janat08 commented on #202
Right, the unique name check already looks up pending. I will abort form submit if invalid, and use method again on server submit method.

[2018-03-01 20:24] gazhayes commented on #272
I was confusing SimplSchema with Collection2. I think collection2 required using client side inserts which would have been an immediate deal breaker. I did also use SimpleSchema directly for a while but then decided not to use it because things were changing too often and I kept having to rewrite schemas. We should definitely use it as we get closer to production though. Low priority for now (for

[2018-03-01 20:25] gazhayes commented on #277
No but still good that you logged an issue :)

[2018-03-01 20:49] gazhayes commented on #202
You added this, or it was already doing it?

[2018-03-01 20:55] gazhayes commented on #202
Ah, you're right. Its already doing it. This issue shouldn't have been logged.

It should already give the user an error onBlur, but yeah  good idea to abort if they still try to submit it.

[2018-03-02 01:04] AshHimself commented on #267
@gazhayes - understood, I think I am merging a few issues together here. So the uploaded images, where should they be able to see those?

[2018-03-02 01:20] gazhayes commented on #267
Maybe in a modal or something when the user clicks the currency on the ratings page? It's really up to you, wherever you think it makes the most sense.

[2018-03-02 05:19] AshHimself commented on #267
@gazhayes - Pushed a PR for this. I didn't do a modal at this point until another ticket is raised and we can find a good home. Users can see what images they have uploaded however prior to clicking the next button (is that the right word we need to use? Next?)

I'll raise another ticket to not process currencies with images until 3 images are created?

[2018-03-02 05:40] gazhayes commented on #267
Ok, don't worry about the modal, but definitely do the 3 image check.

[2018-03-02 06:10] AshHimself opened #281 "problem: Ensure all three images are uploaded before moving on"
Problem: Ensure all three images are uploaded before moving on, currently you can click next and continue with only one image attached.

Solution: Enforce that all three images are attached prior to moving on, display a tick when all three images are attached and orange integers when not. e.g. 1 (orange) 2 (orange) 3 (Green tick)

@gazhayes - Apologies I don't know the terminology to use when you

[2018-03-02 06:25] janat08 commented on #273
There's article describing hell that came with doing social stuff with mongo (relations). I favour [peerdb](https://github.com/peerlibrary/meteor-peerdb) even if it pretty much results in you normalizing and denormalizing data simultaneously, but meteor as described in 1.3/2 release blog post doesn't handle updates that don't occur with id selector effectively so telling it to update all user docu

[2018-03-02 06:33] AshHimself commented on #267
#281 raised to track

[2018-03-02 06:33] #267 closed

[2018-03-02 07:53] gazhayes opened #282 "Problem: clicking on uploaded image in wallet rating modal produces strange results"
Problem: it's like a modal is trying to display (page is greyed out). Image exists, but isn't displayed.

[2018-03-02 07:54] AshHimself commented on #282
Yeh I think this is issue with flow router and modals. I think I have a
solution.

On Fri, Mar 2, 2018 at 3:53 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-02 07:58] gazhayes opened #283 "Problem: image filename sometimes displayed instead in addition to image"
Problem: This doesn't happen for all currencies, but on the currency detail page some currencies (e.g. Neo) display the logo filename in addition to rendering the actual image itself.

[2018-03-02 22:24] anbud commented on #275
Done in #285.

[2018-03-02 23:40] anbud commented on #274
@gazhayes, just to check, this will be on a separate dedicated page, right? (not on currency details)

[2018-03-03 00:07] gazhayes commented on #274
Yeah on a new page.

[2018-03-03 00:09] gazhayes commented on #274
The idea is for it to be independent of any currency. Users can start typing to filter and select currencies to compare (maybe use a modal or something).

[2018-03-03 00:35] gazhayes commented on #275
@anbud did you grey out the UI buttons on the bounty page for this one? Might not be working

[2018-03-03 00:41] anbud commented on #275
@gazhayes, yap, the 'take bounty' button should be grey and disabled. I've just tested it on production, this is how it looks:
![imgur](https://i.imgur.com/dmW51vn.png)

What kind of an issue are you encountering?

[2018-03-03 00:54] janat08 commented on #197
I'm doing this and I can't handle imports: https://github.com/janat08/blockrazor/blob/fast-render/lib/routes.js
[code]
I moved it out of imports and into lib since routes have to be also on server side for fast render.

[2018-03-03 01:24] janat08 commented on #202
close this.

[2018-03-03 01:25] AshHimself commented on #197
@janat08 - currencyEdit.html is intentionally supposed to be in the imports directory as that is the architecture we are moving towards and away from the lib directory. Are you doing your imports correctly?

[2018-03-03 01:51] #281 closed

[2018-03-03 01:56] janat08 commented on #197
I belief I am, if you move it into client folder it won't throw errors. I edited error message. Im trying to do the same thing on meteor todos example and it will throw errors for modules not found way down the line for the imports that I'm not even using within routes.js. Forums will just suggest running separate routes directory for fast render alone on server side.

[2018-03-03 02:02] janat08 commented on #197
[code]

[2018-03-03 02:15] gazhayes commented on #197
You mean moving routes.js to /lib, NOT currencyEdit.html?

[2018-03-03 02:17] janat08 commented on #197
Yes moving routes.js to lib or import to server will just break.

[2018-03-03 02:23] gazhayes commented on #197
Ah ok. Well that's not so bad. However @anbud and @ashhimself might have some ideas.

[2018-03-03 02:29] janat08 commented on #197
heres my reproductions which will throw errors for things breaking further down the line: https://github.com/janat08/todos

[2018-03-03 02:36] janat08 commented on #197
I also considered searching for SSR examples as they would run into similar issues or a good fast-render example repo, if you don't want to decouple fast render logic from routes config.

[2018-03-03 02:44] AshHimself opened #289 "problem: file not deleted when changing wallet img"
Problem: file not deleted when changing wallet img

Solution: When changing a wallet image the record is deleted in the collection however the file on the server is not deleted. This should happen to preserve file space and integrity in blockrazor.

[2018-03-03 03:27] gazhayes opened #292 "problem: currency name check on /addcoin is case sensitive"
Problem: when adding a new currency the name is checked against active and pending currencies to make sure one with the same name doesn't already exist. The problem is that if you don't use the same case for any character it no longer matches and does not result in an error.

Solution: use a case insensitive check instead of a case sensitive check when checking if a currency name already exists.

[2018-03-03 03:30] gazhayes commented on #275
Ah looks like it was a local problem for me, thanks.

[2018-03-03 03:30] #275 closed

[2018-03-03 03:35] janat08 commented on #292
I could also check by symbol.

[2018-03-03 03:57] gazhayes commented on #292
@janat08 when you submit a pull request please also comment on the issue so the original creator can close it. E.g. "fixed in #293.

[2018-03-03 03:57] #292 closed

[2018-03-03 04:00] janat08 commented on #194
fixed in #290

[2018-03-03 04:00] janat08 commented on #196
fixed in #291

[2018-03-03 04:02] gazhayes commented on #194
Looks like the wallet data is fixed but not the other data points.

[2018-03-03 04:03] #196 closed

[2018-03-03 04:08] janat08 commented on #194
Should I also remove hard coded values as in "currencyData.communityRanking || 400" where I assume it's suppose to be minimal values?

[2018-03-03 04:22] gazhayes commented on #194
Yes, and you're correct that's just a placeholder for minimum value.

[2018-03-03 05:59] janat08 commented on #194
fixed in 295

[2018-03-03 06:53] gazhayes commented on #197
You can decouple FR logic from routes if you want.

[2018-03-03 08:48] gazhayes opened #299 "Problem: "Please upload some wallet images to continue." doesn't always make sense"
Problem: /ratings page. Error does not always make sense. Should be something like "you haven't added enough wallets to....."

[2018-03-03 08:54] gazhayes commented on #282
FYI after the last pull request I'm seeing this:
![](https://blockrazor.org/static/images/wallets/3a49d066a317971d9c9735a41b04a08c.jpeg)

[2018-03-03 18:35] gazhayes opened #303 "Problem: no testing"
Problem: there are currently no tests being run. This is going to start becoming a real problem as more people send pull requests to the project which could break existing code.

Anything important that we don't want to break should probably have an assert or something so that it doesn't get broken in future.

Tests however are a double edged sword and should be used with care. Whenever a test is

[2018-03-03 19:01] gazhayes opened #304 "Problem: radar graph data not normalized"
Problem: the radar graph should have a maximum value of 10 on each axis, however I just did a codebase review of a few currencies and evidently this is not the case as the radar graph expands to accommodate the codebase ranking dataset.

[2018-03-03 19:12] gazhayes opened #306 "Problem: log out not working"
Problem: can't log out of account

[2018-03-03 19:14] gazhayes commented on #304
Update: looks like this is only a problem *before* the graphdata cron job runs. Something to think about but not sure of the best solution, maybe just run the cron job more often. ping @anbud for ideas.

[2018-03-03 19:21] anbud commented on #304
@gazhayes, the thing is, the 'graph data' cron job updates the upper and lower bound for graph values but until it's called, there can be issues like this if average ELO values change in the meantime. One solution is to run the cron job more often, and one solution is to call the `updateGraphData` method every time `averageElo` method is called to ensure that the graph data will be correctly displ

[2018-03-03 19:29] sjmackenzie commented on #303
Probably, mandating a test for every bugfix which grows over time is a good start. Once the project stabilizes; when it starts solving real end user problems, _then_ put down a battery of tests for important functionality. This approach eases the testing suite in with bite sized chunks allowing for adjustments and improvements.

[2018-03-03 20:15] janat08 opened #307 "Problem: two route configs, one with unmaintained fork"
Problem: There's new flow router fork installed with it's implementation in imports/both directory, deleting the older one will not result in links continuing to work.

Solution: Change imports of older package with newer.

[2018-03-03 20:28] janat08 commented on #303
jest snapshot testing.

[2018-03-03 20:29] anbud commented on #276
Done in #308.

[2018-03-03 21:41] gazhayes opened #309 "problem: no wallet activity badge"
Problem: when users recieve Krazor for fulfilling a bounty (or whatever) it would be nice for them to see a badge showing that there's a new message (e.g. how it currently works for message notifications).

Update: appears to be broken for message notifications.

[2018-03-03 21:43] janat08 commented on #307
@gazhayes can i work on this?

[2018-03-03 21:51] gazhayes opened #310 "problem: strange reward amounts for ratings"
Problem: reward amounts for answering questions appear to have the decimal in the wrong place.

![](https://blockrazor.org/static/images/wallets/312950fe9d9668336ac1be8990c4d434.jpeg)

[2018-03-03 21:52] gazhayes commented on #307
Sure

[2018-03-03 23:01] anbud commented on #274
Done in #311.

[2018-03-03 23:03] anbud commented on #310
@gazhayes, if you're answering them with no active bounty, without a fixed reward, these values are correct. I've set the reward multiplier to 0.3 so the values are quite small. Should I increase them to something more meaningful?

[2018-03-03 23:11] gazhayes commented on #310
I tested it by launching through the bounty page (was about 5 Krazor at the
time).

What you have now is fine for launching without the bounty, but maybe
there's a nicer way to display small values?

On Mar 4, 2018 12:03, "Andrej Budinčević" <notifications@github.com> wrote:

@gazhayes <https://github.com/gazhayes>, if you're answering them with no
active bounty, without a fixed reward, these valu

[2018-03-03 23:28] janat08 commented on #307
fixed in #312

[2018-03-03 23:30] gazhayes commented on #307
Since you logged this issue you can also close it if you are sure it's solved.

[2018-03-03 23:33] #307 closed

[2018-03-03 23:34] janat08 commented on #306
Ill take this.

[2018-03-04 00:09] janat08 commented on #306
fixed in #314

[2018-03-04 00:34] #306 closed

[2018-03-04 00:38] janat08 commented on #309
I'll take this.

[2018-03-04 00:42] gazhayes opened #315 "Problem: home route search is too complicated"
Problem: Seaching for a currency on the home route is a little bit confusing/complicated/messy. It also doesn't scale well to different screen sizes.

![](https://blockrazor.org/static/images/wallets/cfcb91d7f1bebdb1a1e021a738c46426.png)

Possible Solution:
Make a single 'search' input which renders the other fields (and anything we add later) when selected. This should also search onKeyUp (or wha

[2018-03-04 00:48] gazhayes commented on #309
Also please pay attention to this with your next one:

Tell other people what you're doing by putting very clear and descriptive comments in your code every 2-3 lines.
Add your name to the AUTHORS file so that you become a part owner of Blockrazor.

[2018-03-04 02:07] janat08 commented on #309
It appears to be working, do you mean wallet notifications, and are there any specific bounty transactions that don't show up?

[2018-03-04 02:24] gazhayes commented on #309
What I mean is the notification badge showing how many new notifications there are. I tried to get you a screen shot but it appears to now be broken. It was introduced in #83.

So maybe you can fix it for the notification messages and also implement it for wallet messages.

[2018-03-04 02:46] janat08 commented on #309
I'll go and make it reactive by writing to user data, and subscribe to it globally.

[2018-03-04 02:49] gazhayes commented on #309
Making it reactive is also good. The main thing though is that the badges start working again.

[2018-03-04 02:50] janat08 commented on #309
Or just read from activity log if that's a notifications collection. I belief meteor-peerdb would work nicely here.

[2018-03-04 03:01] gazhayes commented on #309
Yes but it's extra weight and not necessary.

Did you look at #83?

[2018-03-04 03:14] janat08 commented on #309
Yes, but I shouldn't count records reactively which is what this avoids, and then incrementing userData collection's field to show data is brittle. I could probably just find relevant records and count them server side, in lieu of counting (which I'm don't know if is justifiable).

Also, it looks like I'm in for layout work since that implementation just linked relevant page (there're two now). I

[2018-03-04 03:20] AshHimself commented on #299
Can add a count to say "You must have two wallets to continue", then after adding one wallet it could then say "please add one more wallet to continue".

[2018-03-04 03:43] gazhayes commented on #309
Yeah that would be ok.

It is currently being done server side here: https://github.com/Blockrazor/blockrazor/blob/e42906aed4365e522481d832f3ea1925500e83a3/server/methods/notifications.js

Don't you just need to add a badge to the UI?

[2018-03-04 03:44] gazhayes commented on #299
Yeah that would probably be better.

[2018-03-04 03:47] #283 closed

[2018-03-04 03:57] AshHimself commented on #282
Yeh looks like the OnRendered event wasn't init the tooltips once deployed to prod (due to delay for some reason) but does it locally. I've added a fallback init which should resolve this.

[2018-03-04 04:01] AshHimself commented on #315
That should be easier enough, single query using mongoDB $or operator on all those fields and we can expand on that as we go scale.

[2018-03-04 04:10] janat08 commented on #309
I meant count on clientside, but I suppose I'll just make it work as per protocol.

[2018-03-04 04:17] gazhayes commented on #309
Are you worried about server load doing it server side?

A small thing like this probably won't have much of an effect, but I'm a little worried about client side performance/loading times.

What do you think?

[2018-03-04 04:22] gazhayes commented on #315
Yeah, name and currency code is probably all that's needed for the main search bar.

[2018-03-04 05:22] janat08 commented on #309
Just invoking minimongo is allegedly expensive while its' methods are cheap. There's a suspicion that counting in the publication will cause a disconnect to a degree that MDG dev release package for collections with 100 documents which is supposed to be an improvement: https://github.com/percolatestudio/publish-counts.

[2018-03-04 05:30] gazhayes commented on #309
Oh wow ok I was completely unaware of this.

So are you saying that doing on server side is better, or client side, or you want to use another package?

[2018-03-04 06:18] janat08 commented on #309
I was going to do it client-side to revisit the topic, I don't think that using a package would be sensible as you intend for there to be more notifications in app at which point it would make sense to write to user field or use a single collection.

[2018-03-04 06:33] gazhayes commented on #309
OK, yeah just follow the protocol then and use the simplest solution, we can revisit it later.

[2018-03-04 07:46] MadanBhandari commented on #193
**More Improvements**
 1. Side + Top Navigation always fixed
Side Navigation Closed
![nav-close](https://user-images.githubusercontent.com/6429311/36943310-3be2eafe-1fad-11e8-8448-9b5fd8610b54.png)

Side Navigation Closed
![nav-open](https://user-images.githubusercontent.com/6429311/36943315-4eca8cc6-1fad-11e8-8ea6-be1eeed500ef.png)

2. Make Find/Filter single search bar and move to top navigation

[2018-03-04 07:54] gazhayes commented on #193
Remember to add your name to the authors file with your next pull request.

[2018-03-04 08:13] janat08 opened #318 "Problem: publications unreactive check for meteor.userId"
Problem: publications aren't reactive so that if a user logs out, the session will continue behaving as if he's logged which is important for navbar items that don't reset on log out as templates, keeping subscriptions alive

Solution: use some sort of reactive package for publications, or tracker autorun on server (if the lib code is up to it).

[2018-03-04 08:29] janat08 commented on #309
fixed in #319

[2018-03-04 09:04] janat08 opened #320 "Problem: UserData publications redundantly numerous"
Problem: UserData.js splits publications and then subscribes globally which makes little sense, since servers will then have hard time batching and will do the same work twice.

Solution: Unify publications that are global.

[2018-03-04 09:08] anbud commented on #303
I agree with @sjmackenzie, when the project stabilizes, we can introduce lots of new tests, but, for now, maybe we can just write tests for important new features.
I've used Mocha + Chai for Meteor testing before, it works perfectly fine for unit, integration and acceptance tests.

[2018-03-04 09:16] janat08 commented on #320
Doing it.

[2018-03-04 09:19] janat08 commented on #315
Doing this.

[2018-03-04 09:22] anbud opened #322 "Problem: Some routes are not rendering"
Problem: After #312, the following routes: `/add-hashpower`, `/flagged-hashpower`, `/hashpower`, `/changedCurrencies`, `/compareCurrencies`, ... are refusing to render as their templates are not imported into the new router.

Solution: Import the templates accordingly

[2018-03-04 09:28] anbud commented on #322
Done in #323.

[2018-03-04 09:30] AshHimself commented on #315
Sorry forgot to assign this to me and already stated.

On Sun, 4 Mar 2018 at 5:20 pm, zhan ishzhanov <notifications@github.com>
wrote:

[2018-03-04 09:39] janat08 commented on #315
Stopping.

[2018-03-04 11:18] janat08 commented on #192
Should this just block main layout, or do you want me to go through lists and stuff?

[2018-03-04 11:25] #320 closed

[2018-03-04 16:27] gazhayes commented on #315
@MadanBhandari please take note of this one and discuss with @AshHimself

[2018-03-04 16:32] gazhayes commented on #192
Don't block main layout. Especially since we are using fast render wherever possible.

However a loading image while fetching subscriptions would be very good, it has to be on a per template basis though, the UI can load but just show a loading image for parts of the page that require a subscription (often there is more than one element on a page coming from different subscriptions).

[2018-03-04 16:34] gazhayes commented on #70
@janat08 do you want to make some improvements here?

[2018-03-04 16:36] gazhayes commented on #322
@janat08 please take note

[2018-03-04 17:35] anbud commented on #310
I've tested it a few times with various bounties, they all started correctly, and the rewards were awarded correctly. But I may have an idea why the bounty didn't start at your end, and I'll send a PR shortly. Also, for displaying small values, I'll use `.toExponential(3)` which transforms, for example, `0.000000000122323232` to `1.223e-10`.

[2018-03-04 17:51] anbud commented on #310
Should be fixed in #326.

[2018-03-04 17:55] anbud opened #327 "Problem: Bubble notifications appear to be broken"
Problem: Bubble notifications (handled with `sAlert`) appear to be broken sitewide. I'm not sure what's the cause, but they are not showing anymore.
I've tried calling them from the console, only notification id is returned.

[2018-03-04 17:58] anbud opened #328 "Problem: Users can't delete their own hash power data"
Problem: I've accidentally deleted the `deleteHashpower` method in one of the previous PRs, so users can't delete hash power data they've added.

Solution: Revert the deletion, add the method required again.

[2018-03-04 18:05] anbud commented on #328
Done in #329.

[2018-03-04 18:08] gazhayes commented on #327
Possibly related to #317

[2018-03-04 18:44] gazhayes commented on #327
@janat08 do you want to see if you can fix this?

[2018-03-04 18:46] gazhayes commented on #304
That's probably the best solution as increasing the cron job frequency still won't *really* fix it.

[2018-03-04 18:48] gazhayes commented on #303
Could you implement this and write an example test case that other people can refer to in future?

[2018-03-04 19:02] #322 closed

[2018-03-04 19:13] #309 closed

[2018-03-04 19:25] gazhayes commented on #328
I've been closing your resolved issues, but actually whoever logs an issue should close it when they believe it's resolved (even if they are the ones who resolve it with a pull request).

[2018-03-04 19:52] gazhayes opened #330 "Problem: no public user profiles"
Problem: there's no basic user profile page.

Solution: implement some kind of basic user profile page with username, profile image, currencies that this user has added to Blockrazor, and anything else that's easy to implement (e.g. maybe their comment history). This will probably be extended later with more stuff as things develop further. Would also be nice to have a an easy way to integrate a h

[2018-03-04 19:52] gazhayes commented on #273
Closing and moving to #330

[2018-03-04 19:52] #273 closed

[2018-03-04 20:01] gazhayes opened #331 "problem: Readme not inviting enough"
Problem: the readme is a little bit long and cluttery, and not very nice looking.

[2018-03-04 23:09] anbud commented on #303
@gazhayes, yap, of course.

[2018-03-04 23:10] #328 closed

[2018-03-04 23:13] AshHimself commented on #330
I’ll take this.

On Mon, 5 Mar 2018 at 3:52 am, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-04 23:39] janat08 commented on #330
It's assigned

[2018-03-04 23:56] gazhayes commented on #330
@AshHimself I'd prefer @anbud to do this one. I think you're working on some other stuff right now?

[2018-03-05 00:06] AshHimself commented on #330
All good, I didn't see it assigned :)

On Mon, Mar 5, 2018 at 7:56 AM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-05 00:08] AshHimself commented on #282
@gazhayes - this looks to be resolved now. Can you retest when you get a moment and close.

[2018-03-05 00:12] #282 closed

[2018-03-05 00:12] AshHimself opened #332 "problem: no way to monitor and/or benchmark performance"
Problem: no way to monitor and benchmark performance.

Solution: Implement Kadira on a private instance. I understand this is low priority but project is scaling quite fast and would be good to know what methods are performing badly or if the overal site is loading slow due to bad mongoDB indexing etc.

Thoughts @gazhayes?

[2018-03-05 00:44] gazhayes commented on #327
I just tried creating a new account with a username that is already taken (to produce an error). It's working there.

[2018-03-05 00:47] janat08 commented on #327
I'll do it last for when there're details forthcoming.

[2018-03-05 00:53] janat08 commented on #70
I will.

[2018-03-05 01:00] gazhayes commented on #327
@anbud where did you notice it being broken?

[2018-03-05 01:33] janat08 opened #333 "Problem: duplicate subscription calls + navigation speed"
Problem: According to https://github.com/meteor/meteor/issues/4376 duplicate subscriptions will call for two publications with the solution posted at the very end calls for usage of subs-manager that is basically a cache that will ignore the second subscription with the idea being to not make users wait when they go back and forth between pages within some time span. We have duplicate subscription

[2018-03-05 01:40] gazhayes commented on #333
This could also help: https://github.com/kadirahq/subs-manager

[2018-03-05 01:42] janat08 commented on #333
I'll use a maintained fork, after what happened with the kadira's flow router.

[2018-03-05 01:47] janat08 opened #334 "Problem: Signaling list's readiness state"
Problem: Combination of #192 and #68. 68 being about empty lists not saying anything, and 192 rendering DOM before subscription readiness (also an empty list).

Solution: Show spinner or no records found.

[2018-03-05 01:48] janat08 commented on #192
Reframed in #334, close.

[2018-03-05 01:49] #68 closed

[2018-03-05 01:50] #192 closed

[2018-03-05 03:16] janat08 commented on #318
My package of choice breaks on 1.6.1 awaiting comments from maintainer:  https://github.com/peerlibrary/meteor-reactive-publish/issues/33

[2018-03-05 03:24] janat08 commented on #333
Fails at running with fast render within context of flow-router, awaiting comments: https://github.com/ccorcos/meteor-subs-cache/issues/47

[2018-03-05 03:33] janat08 opened #335 "Problem: fast render isn't working for graphdata on / route"
Problem: Subscribing to graphdata to be fast rendered in routes fails. error:
[code]

Solution: I can't tell.

[2018-03-05 03:50] janat08 commented on #335
It's not precisely the graphdata sub that fails, a combination of returnedCurrencies and graphdata will fail, each alone/individually alone not causing errors (although obviously graphdata sub will not get used without returned currencies since lists are rendered by returnedCurrencies). The route for single currency doesn't cause errors although it subscribes to both graphdata and returnedcurrenci

[2018-03-05 03:52] janat08 commented on #335
I will try and determine if it specifically error with blaze or graph- in which case I'll give up.

[2018-03-05 04:11] janat08 commented on #303
What method style is best so that I could convert to it, and run checks for delete operations as they may truly cause damage?

[2018-03-05 05:37] MadanBhandari commented on #315
@AshHimself @gazhayes : what about fix search by name and symbol in top navigation ? This will be visible across whole website and should return to home route with results, whenever user search something.

[2018-03-05 05:57] MadanBhandari commented on #335
This is not in `/` route, it's on `currency/currencyName`.

Solution:
Remove distribution chart in `currencyDetails.js` as we are not using distribution chart anywhere.
OR
Add distribution chart in `currencyDetails.html`

[2018-03-05 06:57] aamanatullah commented on #193
Hi, I want to start on this. Is there end date to this opening?

[2018-03-05 08:46] AshHimself commented on #334
This is something which could be tackled as part of the UX overhaul within each template itself.

[2018-03-05 08:49] janat08 commented on #335
yes, ty, that indeed throws an exception too without giving blank screen.

[2018-03-05 08:53] janat08 commented on #335
I'm not working on this. @MadanBhandari

[2018-03-05 08:54] janat08 commented on #335
register graphdata subscription in '/' route when done.

[2018-03-05 08:55] janat08 commented on #334
I'm switching out subscriptions anyway.

[2018-03-05 09:05] janat08 commented on #327
sAlert wasn't included in the desktop layout.

[2018-03-05 09:07] janat08 commented on #327
fixed in #339

[2018-03-05 09:32] janat08 commented on #62
Any change this could go into packages folder for I don't know how to keep it out of pull requests without deleting/adding it for every branch (along with babrahms:constellation).

[2018-03-05 10:16] janat08 commented on #194
Will adjust compare graphs too.

[2018-03-05 10:27] janat08 commented on #70
features have comments and stuff, yet I can't even tell where it's rendered. If we had snapshotting testing I could just go and modify every helper that renders in each and then work my way from there, although I'm trying to only modify things that are not unimportant.

[2018-03-05 10:57] #327 closed

[2018-03-05 11:40] AshHimself commented on #289
This is now resolved.

[2018-03-05 11:40] #289 closed

[2018-03-05 11:47] anbud commented on #304
Done in #344.

[2018-03-05 11:49] AshHimself commented on #315
Done in #342

[2018-03-05 12:47] gazhayes commented on #193
This one is already being worked on, but you can find something else to work on or even create your own issue.

[2018-03-05 12:52] gazhayes commented on #335
The other thing we could do which would also speed things up is pre-render the chart in a cron job every x minutes and just send the image without the subscriptions.

[2018-03-05 12:55] gazhayes commented on #62
If you want to use it locally you could try using .gitignore

[2018-03-05 13:15] AshHimself commented on #299
Fixed in #345 error messages could probably still be tweaked but the logic is there ready to go.

[2018-03-05 23:25] anbud commented on #330
The basic functionality is done in #346.

[2018-03-06 00:07] #315 closed

[2018-03-06 00:08] #299 closed

[2018-03-06 00:17] gazhayes opened #347 "Problem: add new coin page layout is nasty"
Problem:  the layout of the add new coin page is weird, its hard to know where to even look. There has to be a better way to do this.

It's also using a different template to everything else so no menu etc, and it's not using bootswatch.

[2018-03-06 02:43] janat08 commented on #335
I looked at SSR packages compatible with blaze and they don't much to help with the first load (although there's flow-router v4 branch that was suppose to do SSR), loading from the method instead. I could load with meteor's server-render and hyperhtml.

[2018-03-06 02:53] gazhayes commented on #333
How about this fork: https://github.com/simsim0709/subs-manager

[2018-03-06 02:56] gazhayes commented on #335
That seems like a lot of work, have you done something like this before?

which package?

[2018-03-06 03:00] gazhayes opened #348 "Problem: users cannot upload profile image"
There's some existing image upload boiler plate for wallet image uploads and coin logo image uploads.

[2018-03-06 03:01] gazhayes commented on #348
If a user signs up from facebook or github it would be better to pull their profile picture from there first but allow them to change it later.

[2018-03-06 03:02] AshHimself commented on #348
Can we pull github/facebook image profile image first?

[2018-03-06 03:02] #330 closed

[2018-03-06 03:09] janat08 commented on #335
server-render needs static-html package which blaze's compiler conflicts with.

[2018-03-06 03:13] gazhayes commented on #335
Ok. Maybe @anbud or @AshHimself have some ideas.

[2018-03-06 03:20] gazhayes commented on #318
I've had a look and I'm not seeing the actual problem, when I log out the menu is reset. Am I misunderstanding the issue?

[2018-03-06 03:30] janat08 commented on #335
there's viperHTML which is meant for SSR, although I struggle to understand it (not that it's complex).

[2018-03-06 03:56] gazhayes commented on #335
You could also post the error to the Meteor forums, someone might have seen something like this before and have some idea of what's going on.

[2018-03-06 04:01] janat08 commented on #335
static-html and blaze's compiler are competing packages.

[2018-03-06 04:41] janat08 commented on #333
It's pretty ancient, I'll try it after a day, if that fails after all I might just have to delete subscriptions within router.

[2018-03-06 04:43] gazhayes opened #349 "Problem: errors on hashpower page can be confusing sometimes"
Problem: when submitting a hashpower data point, if an image isn't uploaded an error is reported "please complete all fields". This also happens when an image is in the process of being uploaded. An indicator (something like what's on the wallet image upload page) would make things less confusing. Making the errors nicer would probably also be good.

[2018-03-06 04:48] janat08 commented on #318
https://guide.meteor.com/security.html#publications-user-id
I misconstrued the issue myself.

[2018-03-06 04:48] gazhayes opened #350 "Problem: sidebar menu closes when reloading page"
Problem: the sidebar closes when refreshing the page (and will also close when changing pages when this is deployed site-wide).

Possible Solution: use a reactive-var or session var

[2018-03-06 04:48] janat08 commented on #334
I was going to do subscriptions first since subs-manager will have its own subs ready method.

[2018-03-06 04:52] AshHimself commented on #350
My suggestion is we go responsive so it auto closes based on screensize and
if you close it yourself it remembers the users choice from view to view.

On Tue, Mar 6, 2018 at 12:51 PM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-06 04:54] gazhayes commented on #350
Yeah that's probably the best approach.

[2018-03-06 05:30] janat08 commented on #350
I could take it.

[2018-03-06 05:33] gazhayes commented on #350
Ok @janat08, I'll leave this one to you.

[2018-03-06 12:11] anbud commented on #348
Done in #351.

[2018-03-06 13:39] AshHimself commented on #347
Done in #352 - Any feedback for changes?

Which view would you like me to tackle next?

[2018-03-06 14:00] AshHimself commented on #350
Something like this could do the trick https://codyhouse.co/demo/responsive-sidebar-navigation/index.html#0

[2018-03-06 14:17] janat08 opened #353 "Problem: 3 layout templates"
Problem: There are 3 layout templates all of them used besides the mobile one (where a session or css grid will do), which makes adding logic to layout tricky since lifecycle hooks will be called more than you'd expect for layout template.

Solution: Pick one.

[2018-03-06 14:26] janat08 commented on #350
In theory, I'm done with saving user preference by media breakpoints, and closing sidebar on outside click on mobile. I'm opposed to popovers and usage of nav sidebars other than on mobile.

[2018-03-06 14:37] gazhayes commented on #353
@AshHimself is already working on this.

[2018-03-06 20:33] gazhayes commented on #347
Ah yeah it broke the site, also I shouldn't have merged it as it's not following the protocol.

[2018-03-06 21:09] gazhayes commented on #347
Reverting in #354

[2018-03-06 23:51] #353 closed

[2018-03-07 00:23] gazhayes opened #355 "Problem: can't see Meteor CLI output without SSHing into server"
Problem: sometimes it's very useful to see the Meteor CLI output while it's running, but the only way to do this at the moment is by SSHing into the server and resuming a `screen` session. Maybe there's a way to output it to a text file or something (and put this in a directory served by Nginx).

[2018-03-07 08:28] janat08 commented on #350
I've set the default for opened sidebar at 991px, and it may glitch on small resizes for unregistered users as it doesn't even try and track their preferences with debounce not being totally reliable at 50ms causing for example sidebar to close on small resolutions when you like open console.

It also doesn't defer saving user preferences since there's not an entirely reliable manner in which it c

[2018-03-07 08:30] janat08 commented on #350
Also it will close opened sidebar at mobile breakpoint, but it will not block any other events from occuring, so you can't just carelessly click outside sidebar to close it.

[2018-03-07 08:52] AshHimself commented on #347
Fixed in #357

[2018-03-07 08:54] AshHimself commented on #350
I cant seem to close the sidebar at the moment, there is also hidden menu items at the bottom that I am unable to scroll to.

[2018-03-07 10:05] #202 closed

[2018-03-07 10:07] gazhayes commented on #335
@janat08 What if we denormalized graphdata into the currencies collection?

[2018-03-07 10:08] gazhayes commented on #318
Does that mean this isn't really a problem?

[2018-03-07 10:09] #274 closed

[2018-03-07 10:10] gazhayes commented on #332
Definitely low priority for now, but yeah it's going to become necessary.

[2018-03-07 10:13] #348 closed

[2018-03-07 10:13] #310 closed

[2018-03-07 10:14] #304 closed

[2018-03-07 10:14] #276 closed

[2018-03-07 10:14] #247 closed

[2018-03-07 10:14] #243 closed

[2018-03-07 10:34] gazhayes commented on #235
@anbud could you do an example standalone pull request that can be used as a model for adding a hashrate API?

Ethereum: https://www.etherchain.org/api/basic_stats (current hashrate is in the first object).

The algorithm is EtHash and I've added some real world data for it.

[2018-03-07 10:36] #347 closed

[2018-03-07 10:53] gazhayes opened #359 "Problem: when refreshing currency detail page, radar chart loses data"
Problem: when opening a currency detail page from the home route everything is fine, but going to the currency detail route directly produces strange results on the radar chart.

[2018-03-07 11:24] janat08 commented on #350
the hidden menu items is a separate issue I had nothing to do with. I imagine it's something you might want to solve with CSS which I'm no good at.

[2018-03-07 11:25] AshHimself opened #361 "problem: votes are logged but not visually depicted in the UI"
Problem: when casting votes on the currencyDetail page they are logged in the database but if the page is refreshed you still have the ability to upvote or download again (though now allowed if tried)

Solution: display the tick if you have already voted or allow to change your vote (more complex)

@gazhayes

[2018-03-07 11:27] anbud commented on #235
@gazhayes, sure thing.

[2018-03-07 11:39] janat08 commented on #335
In case you're not aware MadanBhandari posted solutions above which are correct even if I don't know what he's talking about. I imagine what's happening is that the fast render code that runs to determine what data is needed to half-way render it is a whole lot less forgiving than blaze thus breaking. The reason why I indulged you is that I assumed you're not trying to solve topic's issue per se (

[2018-03-07 11:39] anbud commented on #235
The example is in #362.

[2018-03-07 11:40] janat08 commented on #318
No, not unless you intend to kick moderators a lot and then publish sensitive data.

[2018-03-07 11:40] #318 closed

[2018-03-07 11:43] anbud commented on #355
The output of the meteor server can be easily redirected to a text file anywhere on the server using `>>` (append) operator on Linux. (e.g. `meteor --production >> /var/www/log.txt`)

[2018-03-07 11:48] #235 closed

[2018-03-07 11:51] MadanBhandari commented on #335
If no one is working on this right now, I will do this tonight (GMT+5:30).

[2018-03-07 12:05] AshHimself commented on #224
@gazhayes - Should Wymi be mandated on every comment post?

[2018-03-07 12:11] gazhayes commented on #224
Probably just going to remove it actually

[2018-03-07 12:12] AshHimself commented on #224
Consider it gone...

[2018-03-07 12:53] AshHimself commented on #224
@anbud - i'm trying to link to the users profile from the features page but you are using the slug package. I understand the concept of this package but on the features table we only seem to be logging the author. e.g. Ash Himself, but my slug would be ash-himself.

Is that a safe business rule to assume its all lowercase and spaces replaced with - ?

Thanks mate.

[2018-03-07 18:52] MadanBhandari commented on #335
#363

[2018-03-07 19:31] MadanBhandari opened #364 "Problem : Activity and wallet notification doesn't look nice on top Navigation"
Solution : Use icons for activity and wallet notification with new notification count and align properly.

[2018-03-07 19:36] MadanBhandari commented on #364
Updated #365

[2018-03-07 19:43] #364 closed

[2018-03-07 22:34] gazhayes opened #367 "Problem: Mocha + Chai not used for testing"

[2018-03-07 22:35] gazhayes opened #368 "Problem: no example pull request for writing tests"
Problem: new contributors need to know how to write tests but there is no example pull request showing how to (best) do this.

Solution: find something that should be tested and write a test.

[2018-03-07 22:39] gazhayes opened #369 "Problem: repository does not use CI testing"
Problem: if you contribute to Blockrazor and send a patch, you probably don't want someone else to break your code later on. The solution to that is to write a test. However not everyone is going to run tests before sending a pull request, so it would be nice if tests were run automagically when sending a pull request.

Solution: Travis CI can hopefully be used with Meteor (or NPM) tests.

ping @a

[2018-03-07 22:40] gazhayes commented on #303
Related: #367 #368 #369

[2018-03-07 22:40] #303 closed

[2018-03-07 22:42] gazhayes commented on #361
The simpler solution (displaying a tick) should do fine.

[2018-03-07 22:43] #37 closed

[2018-03-07 23:27] #193 closed

[2018-03-07 23:38] #219 closed

[2018-03-08 01:02] janat08 commented on #272
Long ago.

[2018-03-08 02:07] gazhayes opened #371 "Problem: radar chart on currency detail page different to home route"
Problem: the logic used to render the radar chart on the currency detail page is different to that of the home route (and the comparison page).

This should probably be modularized so that code is not repeated.

[2018-03-08 03:28] MadanBhandari opened #372 "Problem : Home page doesn't look nice on mobile devices"
Problem: Not fully responsive on mobile devices

Solution:
Add responsive meta tag
Update layout accordingly to adapt fully responsive.

@gazhayes : Assign this to me, I am starting working on this.

[2018-03-08 03:34] #355 closed

[2018-03-08 03:49] gazhayes opened #373 "Problem: user's proposed changes do not show up"
Problem: when proposing changes, a user's changes do not actually show up in the UI either on the page shown straight after submitting a change, nor on their pending changes/additions page.

[2018-03-08 03:57] gazhayes opened #374 "Problem: when proposing changes, genesis block date month is off by one"
Problem: when proposing a change, the genesis block launch date shows the actual month -1

Haven't looked to see if this off-by-one error is created at the time of submitting a new currency, or at the time of converting epoch time to a human date on the 'edit currency' page.

[2018-03-08 03:57] AshHimself commented on #374
Weird... i'll look into what I did wrong here..

[2018-03-08 03:59] AshHimself commented on #367
@anbud - Anyway to do tests which validates the data in mongoDB after a method has ran? Never really written tests in Chai or Mocha before.

[2018-03-08 04:02] gazhayes commented on #374
It's just as likely to be my code on the add currency stuff

[2018-03-08 04:06] gazhayes commented on #367
@AshHimself what do you usually use for testing?

[2018-03-08 04:10] #350 closed

[2018-03-08 09:29] janat08 commented on #333
Will replace kadiras subs-manager later on- supposedly within a week- since it will stop subscription on timer end despite subscription actual use.

[2018-03-08 09:30] anbud commented on #367
@AshHimself, you can import collections in Mocha, so you can query the database to see the changes after the method invocation.

[2018-03-08 09:32] anbud commented on #369
@gazhayes, I've used GitLab CI runners for tests before, but I believe that Travis CI will work in the same way, I'll look into it. It's free for open source projects, so it's a perfect solution here.

[2018-03-08 11:01] anbud commented on #367
This one is done in #376.

[2018-03-08 13:06] #334 closed

[2018-03-08 17:56] anbud commented on #368
Example in #378.

[2018-03-08 17:58] anbud commented on #367
I forgot to say, this is the command to run the tests:  `meteor test --driver-package practicalmeteor:mocha`

[2018-03-08 20:10] gazhayes commented on #69
@anbud have you started on this at all?

[2018-03-08 20:22] gazhayes opened #379 "problem: / route is broken, no.currencies displayed"
Problem: / route just shows loading

![s80309-04185666](https://user-images.githubusercontent.com/8143945/37174422-66868142-2351-11e8-9010-f8da98c6ae90.jpg)

[2018-03-08 22:01] gazhayes commented on #69
Ok, since this will affect basically anyone working on any part of the codebase it's probably a good idea to send many smaller pull requests as you go rather than one big one at the end. Each module in a different pull requst maybe?

[2018-03-08 22:39] anbud commented on #69
Yap, that's exactly what I was thinking, each module in a different pull request is perfectly fine.

[2018-03-08 23:05] gazhayes commented on #69
@AshHimself @janat08 @MadanBhandari please keep an eye on this and keep your master branch in your fork up to date to avoid conflicts etc.

[2018-03-08 23:18] janat08 commented on #379
I think it's still the #335 if blockrazor has enabled graphdata for "/'' which it hasn't on github. Even if you disable it will cause issues navigating between pages and back to home.

[2018-03-09 00:08] janat08 commented on #373
I can see changes on page shown straight after, unless you use are adding data/filling in data rather than proposing actual changes.

Doing it.

[2018-03-09 00:10] gazhayes commented on #373
I did a name change, can you try that and see if it works?

[2018-03-09 00:12] janat08 commented on #373
Works. Ill fix filling in data.

[2018-03-09 00:15] #379 closed

[2018-03-09 00:17] janat08 commented on #373
Actually, all of it works.

[2018-03-09 00:18] gazhayes commented on #373
Ok must be something local to me.

[2018-03-09 00:18] #373 closed

[2018-03-09 00:20] #367 closed

[2018-03-09 00:21] janat08 commented on #359
working on it

[2018-03-09 00:22] gazhayes opened #381 "Problem: test info not in readme"
Problem: new contributors might not know how to write and run tests.

`meteor test --driver-package practicalmeteor:mocha`

Also include example test written by @anbud

[2018-03-09 00:23] gazhayes commented on #371
@janat08 do you think you could handle this one or too difficult?

[2018-03-09 00:24] gazhayes commented on #359
Related: #372

[2018-03-09 00:25] gazhayes commented on #359
Related: #371

[2018-03-09 00:39] janat08 commented on #371
It might take some time.

[2018-03-09 00:46] gazhayes opened #382 "Problem: blockrazor logo onClick doesn't go to home route"
Problem: blockrazor logo onClick doesn't go to home route

[2018-03-09 00:52] janat08 commented on #382
the '/' route is broken because of the graphs.

[2018-03-09 01:30] janat08 commented on #359
Will later on convert to making sure that graph only loads when subs are ready which is what caused the issue, once subs-cache is back in.

[2018-03-09 01:39] gazhayes opened #384 "Problem: currency detail page actions are broken (again)"
Problem:

Modal should appear onFocus in this field:
![](https://i.imgur.com/qEo5iRE.png)

Comments and comment text box should be shown onClick:
![](https://i.imgur.com/gXvUdDX.png)

[2018-03-09 01:46] janat08 commented on #70
I think this is still less impact than trying to reuse components more, I spend 90 mins on this and only changed two helpers.

[2018-03-09 01:53] gazhayes commented on #384
Exactly the same problem as #139

Why is this so vulnerable?

ping @AshHimself @janat08

[2018-03-09 01:57] janat08 commented on #384
I couldn't find the route where this is.

[2018-03-09 01:58] gazhayes opened #385 "Problem: radar charts are misleading until there's enough data"
Problem: radar charts are misleading (and sometimes broken) before a currency starts getting ELO rankings.

Maybe dim/grey out the chart and put a notice saying more data is needed, until there's 'enough' data.

[2018-03-09 02:01] gazhayes commented on #70
Yeah I'll close it for now. Send a PR for what you have done though.

[2018-03-09 02:01] #70 closed

[2018-03-09 02:01] sjmackenzie commented on #385
Thoughts: the notice could be a hyperlink to ELO rankings of that currency. I'm find there's too much clicking to get to the menu to add data to a coin. Probably every radar should have this link...

[2018-03-09 02:03] janat08 commented on #371
I could do it integrating #363, and possibly comparison page. I might just skip the ability to set width if just setting width/height to 100% of parent will not work.

[2018-03-09 02:26] gazhayes commented on #384
Actually it's not broken. My mistake.

[2018-03-09 02:26] #384 closed

[2018-03-09 02:43] gazhayes commented on #385
Yep not a bad idea at all.

[2018-03-09 02:45] gazhayes commented on #371
Yeah that sounds good. Do you want to take it?

[2018-03-09 02:45] janat08 commented on #371
yes

[2018-03-09 02:54] gazhayes commented on #371
That would be pretty cool if you can do that, maybe too difficult though.

[2018-03-09 03:18] AshHimself commented on #361
@gazhayes  - is it correct that you can only vote on one feature within the entire currency? or bug found/created.

[2018-03-09 03:24] gazhayes commented on #361
I'm able to vote on multiple features on the production server, are you seeing something different?

[2018-03-09 03:25] AshHimself commented on #361
try upvote on multiple comments sorry on different features.

On Fri, Mar 9, 2018 at 11:24 AM, Gareth Hayes <notifications@github.com>
wrote:

[2018-03-09 03:27] gazhayes opened #389 "Problem: comments cannot be posted on features"
Problem: adding comments to features is broken

[2018-03-09 03:28] #389 closed

[2018-03-09 03:31] AshHimself commented on #389
Can't comment if you have already commented? perhaps a message stating that to users after posting?

[2018-03-09 03:31] gazhayes commented on #361
OK, just tested quite comprehensively and everything is working.

Try making a new account (to rule out voting history etc) and see if you have the same issue.

[2018-03-09 03:33] gazhayes commented on #389
I logged this too ambitiously, the message was too short so I was getting an error that's all

[2018-03-09 03:34] gazhayes commented on #389
Probably better to do it before posting, so they choose their words carefully

[2018-03-09 04:29] AshHimself commented on #361
Ok found the cause of the issue. The redflags.html comment template was actually using the same template as features when there is a redflags comment template.

[2018-03-09 04:30] janat08 commented on #335
I'm integrating #363 into consolidated graph template.

[2018-03-09 04:45] #224 closed

[2018-03-09 04:48] gazhayes opened #391 "Problem: bootswatch syle sheet is accidentally global"
Problem: bootswatch style sheet is accidentally global and will stop working when things are moved to imports. It should be deliberately global.

[2018-03-09 04:58] AshHimself commented on #361
Fixed in #390

[2018-03-09 04:58] #361 closed

[2018-03-09 05:53] MadanBhandari commented on #69
I have already stared working on this, I will send PR by tonight.
Currently I am moving components (top & side navigation), layout (mainLayout) and home route to `/import`.

[2018-03-09 05:57] janat08 opened #392 "Problem: database imports scattered"
Problem: there's no index for database imports, requiring clutter in imports

Solution: create index.js that imports all databases and then exports them.

[2018-03-09 06:49] AshHimself opened #393 "problem: scroll position is not consistent"
problem: scroll position is not consistent when navigating from page to page. e.g. if you scroll down half way on one view, then navigate to addCoins its not scrolled to the top of the page where it should be.

Solution: Implement something like https://github.com/tomwasd/flow-router-autoscroll

[2018-03-09 06:57] #335 closed

[2018-03-09 07:03] janat08 opened #396 "Problem: currency detail graph is off center"
Problem: I made new graph template that went off-center even if I tried to preserve options and classes. in #395

@MadanBhandari

[2018-03-09 07:07] #391 closed

[2018-03-09 07:10] janat08 commented on #382
fixed in #395

[2018-03-09 07:15] #382 closed

[2018-03-09 07:16] gazhayes opened #397 "Problem: currency logos on currency detail page are partially obscured"

[2018-03-09 07:25] janat08 commented on #385
Would using a median somewhere or adjusting rankings by relative amount of data or having elo ranking for data work? If you're investing money then our idea of what data is enough might be discouraging.

[2018-03-09 08:18] MadanBhandari commented on #396
I'll take this

[2018-03-09 08:39] gazhayes opened #399 "Problem: no central place to view all transactions"
Problem: a page is needed where users can view all transactions on Blockrazor, and the sum total of all coins "moved" from the master wallet (which doesn't exist yet but will contain the maximum allowable coins provided to Blockrazor in the genesis block or Krazor) to anywhere else. This will essentially be the number of coins brought into circulation through bounties etc on Blockrazor (as opposed

[2018-03-09 08:41] janat08 commented on #393
taking this.

[2018-03-09 08:42] gazhayes commented on #393
I just sent you a message about another one, can you check first?

[2018-03-09 08:44] janat08 commented on #393
untaking this

[2018-03-09 08:45] janat08 commented on #69
doing rest of this

[2018-03-09 08:55] janat08 commented on #392
doing this before the move to imports

[2018-03-09 09:10] gazhayes commented on #381
fixed in #386

[2018-03-09 09:11] #381 closed

[2018-03-09 09:12] gazhayes commented on #369
We don't *have* to use Travis CI, but we do have to use something that's free.

[2018-03-09 09:24] AshHimself commented on #349
Fixed in #400

@gazhayes included jquery validation in this package, I believe it would offer a lot of value to add this on other more advanced screens where validation of data is paramount. Just saying DATA REQUIRED in some cases isn't enough and we should possibly help the user on what is required so the data can be more useful and valuable to the community.

[2018-03-09 09:31] gazhayes commented on #349
Can you create an issue with a list of places it should be used?

[2018-03-09 09:31] #349 closed

[2018-03-09 09:44] AshHimself opened #401 "problem: no consistency in client-side validation"
Problem: no consistency in client-side validation

Solution: Implement jquery validation on the following routes
- addCoin
- currencyEdit
- profile

Please let me know if I missed any other complex form?

[2018-03-09 10:22] gazhayes opened #403 "Problem: proposing changes doesn't always work"
Problem: as an example, try adding a genesis timestamp to Monero. FYI it's meant to be 2014-04-18.

[2018-03-09 10:23] AshHimself commented on #403
I am actually looking at this right now as part of #347

[2018-03-09 10:24] gazhayes opened #404 "Problem: coin distribution chart not shown anywhere"
Problem: the coin distribution chart isn't shown anywhere. Maybe put it on the currency detail page.

[2018-03-09 10:34] gazhayes opened #405 "Problem: updating currency data is convoluted"
Problem: the UI for updating values about a currency is basically just the add currency form. This is more confusing than it needs to be. Maybe a modal or something for the specific value that is being updated (well, being proposed to be updated) would be better.

@AshHimself how much work is in this?

[2018-03-09 10:35] gazhayes commented on #403
Look at #405 before spending too much time on it

[2018-03-09 10:44] gazhayes commented on #396
Related: #404

[2018-03-09 10:46] gazhayes commented on #385
I agree. Maybe some kind of metric underneath the radar chart to show how much data there is in comparison to the average (or median) of all currencies.

[2018-03-09 11:03] janat08 commented on #69
This api was combined into folders (several collections within) users, hashing (as there was a massive method file for hashing already), miscellaneous for for graph/form data. I intend to keep ratings and elorankings combined. and combine walletImages with with wallet folder, and combine profileimages into users folder.

[2018-03-09 11:16] gazhayes commented on #69
There's also a lot of stuff from earlier on where I wrote the logic for multiple components/views/templates in one file.

Please break down your changes as much as possible and send multiple pull requests, one for each module would be good. Otherwise people working on other things are going to have a lot of conflicts.

[2018-03-09 11:54] gazhayes opened #406 "Problem: adding image to hashpower causes error"
Problem: error when uploading image (wrong directory)
[code]

Should be /var/www/static/images/hashpower

[2018-03-09 12:48] janat08 commented on #69
I'm talking about api where you'd try and bundle things into a thematic folder. The UI templates I'll decouple surely.

[2018-03-09 12:49] #368 closed

[2018-03-09 12:49] #245 closed

[2018-03-09 12:52] janat08 commented on #401
methods are supposed to take care of it, theres mdg package for methods that describes how it's done.

[2018-03-09 13:00] gazhayes commented on #401
@janat08 can you post a link?

[2018-03-09 13:02] MadanBhandari commented on #69
@janat08 Can you please review my PR #398 ? Should I continue the same ?

[2018-03-09 13:04] AshHimself commented on #401
client side? methods are on the server

[2018-03-09 13:08] janat08 commented on #69
I'm not in love with template name of topNavNew. and meteor guide said to organize components by their routes, so I suppose the top nav and sidenav belong in layouts. Gazhayes asked me to do this, so I'll take it from here.

[2018-03-09 13:16] MadanBhandari commented on #69
That was supposed to be only topNav but I did not deleted or updated existing because that was breaking inner pages.

[2018-03-09 13:36] AshHimself commented on #406
I sense a test script :/ @anbud can we assert text files for values?

[2018-03-09 13:53] gazhayes opened #408 "Problem: no tests to confirm correct file upload directory"
Problem: when working on the relevant methods on a local dev server people change file upload directories to work on their local system and quite often forget to change them back before sending a pull request.

Some simple tests should solve this.

[2018-03-09 13:53] #406 closed

[2018-03-09 13:56] AshHimself commented on #408
Might take a go at this to learn mocha (no paid contribution) learning exercise for myself if that's ok with you.

[2018-03-09 13:57] #359 closed

[2018-03-09 14:05] #392 closed

[2018-03-09 14:07] janat08 commented on #69
I'll try to push changes ASAP, although entirely in small parts.

[2018-03-09 14:32] gazhayes commented on #408
Sounds like a great idea ;)

[2018-03-09 14:39] gazhayes opened #410 "problem: wallet images broken in #409"

[2018-03-09 14:45] gazhayes opened #411 "Problem: uploading wallet images not working"
Problem: when trying to upload wallet images it just keeps loading forever. Please try and replicate this in case it's just me. Looks to have started in #409

[2018-03-09 23:04] gazhayes opened #415 "problem: profile popovers are broken"
Problem: On the currency detail page, when users add comments, features, or red flags, their username could be clicked to view their profile. You could also hover over their name to view their profile picture.

@AshHimself I *think* your PR broke this one

[2018-03-09 23:11] anbud commented on #369
@gazhayes,
I get this screen when I try to enable Travis CI on this repo. Can you give me the right access, or can you activate it, please?
![Image](https://i.imgur.com/l08ZOT8.png)

[2018-03-09 23:16] gazhayes commented on #369
I activated it a few minutes ago, it might still be working its way though the tubes and pipes

[2018-03-09 23:19] anbud commented on #369
Thanks. I've activated the repo, I'll run a build right now to see how it's working.

[2018-03-09 23:24] gazhayes commented on #369
I can see it running now

[2018-03-10 01:31] anbud commented on #399
Done in #420.

[2018-03-10 01:36] #369 closed

[2018-03-10 01:40] gazhayes commented on #405
ping @anbud for any ideas

[2018-03-10 01:42] AshHimself commented on #405
@gazhayes - we could do inline editing or a modal just how you suggested. Something like https://vitalets.github.io/bootstrap-editable/ should give you an idea.

[2018-03-10 01:44] AshHimself commented on #411
Yah this is broken, a lot of JS errors in console due to undefined variables. Looks like its broken in the import restructure.

[2018-03-10 01:45] anbud commented on #405
@gazhayes, yap, when I logged the issue, I've had something like @AshHimself just suggested in mind. I believe that inline editing would be a sufficient solution here.

[2018-03-10 01:45] AshHimself commented on #415
Yah.. I broke this. Looks like I actually forgot to merge the popover code in. Will move back in.

[2018-03-10 01:52] #399 closed

[2018-03-10 01:53] AshHimself commented on #408
@anbud I just sent a PR through for this. Any suggestions? or this an ok first stab at a mocha script.

[2018-03-10 01:55] gazhayes commented on #405
Yeah that library looks perfect. @AshHimself you're pretty busy on other issues right? @anbud do you want to do it?

[2018-03-10 01:58] janat08 commented on #401
https://guide.meteor.com/methods.html#validated-method

Run validation code by itself without running the Method body.
Easily override the Method for testing.
Easily call the Method with a custom user ID, especially in tests (as recommended by the Discover Meteor two-tiered methods pattern).
Refer to the Method via JS module rather than a magic string.
Get the Method simulation return value to get

[2018-03-10 01:58] gazhayes commented on #411
OK, let's see if @janat08 can fix it

[2018-03-10 02:00] gazhayes commented on #405
Just to be a little more clear: I personally think the best place for this to happen is directly on the currency detail page rather than going to another page with all the values.

[2018-03-10 02:01] anbud commented on #408
@AshHimself, it's perfectly fine for the first stab. Since `properties.js` is a javascript file, I would just import it with `import` and assert if variables are well defined and all. But, your solution is also fine, it basically does the same thing.

[2018-03-10 02:02] AshHimself commented on #405
I'm happy to do it but won't get to it till tomorrow however as i'll be out today. @anbud if you want to do it today feel free to grab it :)

[2018-03-10 02:02] anbud commented on #405
Sure thing, I can take it. I agree, the best place is the currency detail page, there's no need to take the user elsewhere.

[2018-03-10 02:03] AshHimself commented on #408
doh.. didn't even think of that. Must of been late last night :D

[2018-03-10 02:06] gazhayes commented on #405
@anbud while you're in there you might want to look at #403 too.

[2018-03-10 02:07] AshHimself commented on #405
Should we retire the old changeCurrencies view at the same time? being that was a horrible way to do it to start with?

[2018-03-10 02:09] gazhayes commented on #405
Yeah it will be redundant once this is solved.

[2018-03-10 03:09] janat08 commented on #410
fixed

[2018-03-10 03:09] janat08 commented on #411
fixed

[2018-03-10 03:41] gazhayes opened #424 "Problem: Nginx says nothing while Meteor is rebuilding"
Problem: when a pull request is merged, the production server rebuilds Meteor. It can sometimes take a while to rebuild.

This means blockrazor.org tries to load for a long time and then fails with a 502 error.

As more people get involved, it would be nicer if instead, as soon (i.e. retry for 500ms instead of 5s or whatever it's doing now) as nginx can't find anything running on port 3000 locally

[2018-03-10 03:44] gazhayes opened #425 "Problem: wallet images aren't displayed very nicely"
Problem: the wallet images in currency detail page aren't displayed very nicely. Should use a modal (or something).

[2018-03-10 05:14] gazhayes opened #427 "problem: Krazor coins only flowing one way"
Problem: Blockrazor itself will need some income to pay for server upkeep etc. At the current time, Krazor coins are only flowing from Blockrazor to users (to pay for bounties etc).

One possible way to make coins flow back to Blockrazor is to have a running auction for a 'featured' currency/ICO/whatever. This would simply be the same as all the other tiles on the "/" route except that this would

[2018-03-10 05:15] #410 closed

[2018-03-10 05:17] gazhayes opened #428 "Problem: user's mining rig pictures are not shown on their profile page"
Problem: users can upload pictures of their mining rig when submitting hashpower data. People are usually very proud of their mining rigs, and love to show them off, but the pictures are not shown on their profile page so they can't really show them off.

[2018-03-10 05:19] gazhayes opened #429 "Problem: user name is not shown on hashpower page"
Problem: each hashpower data point should also show the user who contributed it.

[2018-03-10 05:24] gazhayes opened #430 "Problem: comments/red flags/features are not incentivised"
Problem: There's currently no incentive to add features/red flags/comments to currencies.

Possible solution:
reward (once a day or hour or whatever) the top comment, feature, and red flag.

[2018-03-10 05:29] gazhayes opened #431 "Problem: bounties reward is broken"
Problem: bounties reward is broken, probably in the code refactor.

Notify: @janat08

[2018-03-10 05:32] #411 closed

[2018-03-10 06:23] janat08 commented on #431
[code]
UI error. Unassign me.

[2018-03-10 06:29] gazhayes opened #433 "problem: #432 breaks test"
Problem: testing fails after #432, this doesn't necessarily mean the codebase needs to change, I haven't looked at specifically why it failed but it's just as likely to mean that a test needs to be updated to use the new structure.

ping @janat08 @AshHimself @anbud

[2018-03-10 06:31] #433 closed

[2018-03-10 06:33] gazhayes opened #434 "Problem: #432 breaks build process"
Problem: #432 breaks Meteor
[code]

[2018-03-10 06:34] gazhayes commented on #434
https://blockrazor.org/static/log.txt

[2018-03-10 06:39] janat08 commented on #434
I can't tell why there's a problem. it's importing file that exists and is there.

[2018-03-10 06:39] gazhayes commented on #431
ping @anbud @AshHimself @MadanBhandari

[2018-03-10 06:43] janat08 commented on #434
Perhaps revert and ask anyone to look at it, because I have no idea what could possibly be wrong.

[2018-03-10 06:49] gazhayes commented on #434
Found the problem: Currencies.js vs currencies.js

[2018-03-10 06:56] gazhayes commented on #434
fixed in #435

[2018-03-10 06:56] #434 closed

[2018-03-10 07:00] gazhayes commented on #434
@janat08 are you using Windows for your development environment? Just remember *nix has a case sensitive filesystem. That could be why it was working on your local machine but not on the production server.

[2018-03-10 07:01] janat08 commented on #434
wasn't working on my system, and I used lowercase everywhere.

[2018-03-10 07:07] gazhayes commented on #434
Why did you send a PR if it wasn't working on your system? *always* make sure your changes do not break Meteor *before* you send a pull request.

[2018-03-10 07:30] gazhayes commented on #431
@janat08 this was broken in your commit: `e626b57f5c370a7927d27f25aa4c9ee561262ace`

https://github.com/Blockrazor/blockrazor/pull/377

[2018-03-10 07:51] janat08 opened #436 "Problem: Redflags collection broken"
Problem: Redflags is undefined in compare currencies route. My filesystem can't be trusted with capital case so I imagine in /imports/api/redflags/ file redflags.js is capitalized.

Solution: See if redflags.js is capitalized or what is happening, because I don't see a problem.

[2018-03-10 07:51] janat08 commented on #431
I'll do this.

[2018-03-10 07:53] janat08 commented on #436
@gazhayes

[2018-03-10 07:55] janat08 commented on #434
I resolved conflict and it stopped working.

[2018-03-10 07:55] gazhayes commented on #436
You can check capitalization directly on github if Windows is causing you problems.

[2018-03-10 07:57] janat08 commented on #436
nm

[2018-03-10 07:57] #436 closed

[2018-03-10 07:57] gazhayes commented on #436
Is this problem in the current MASTER, or only on your local machine?

[2018-03-10 07:58] janat08 commented on #436
will be fixed in the next push.

[2018-03-10 08:04] gazhayes commented on #434
I left a comment on the code of the first PR (with conflicts). I'm sure it was broken then already because Currencies.js was changed to currencies.js

It's ok, and it's a very simple mistake, but just be careful in future. It's also a lesson in how something really basic and simple can make you bang your head against the wall trying to look for a complicated reason for why it's not working.

[2018-03-10 08:14] gazhayes opened #437 "Problem: incorrect wallet image directory"
Problem: (STDERR) [39m[35m{ Error: Command failed: gm composite: Unable to open file (/Users/hellofriend/Documents/upload/watermark.png) [No such file or directory]

should be /var/www/static/images/wallets/

[2018-03-10 08:16] anbud commented on #424
I believe there's a better solution, we can have absolutely no downtime while redeploying. It's done by running two meteor instances and a load balancer (nginx can act as one, caddy also). When redeploying, first deploy the first one, while the other one is still working, then deploy the second when the first one is up. It takes a little bit more resources, but it provides us with virtually no dow

[2018-03-10 08:18] gazhayes commented on #436
Nice work. Please provide a general overview of what you did on the original issue, so that the others can look it over and see if it's going to affect them or if anything else should be done.

[2018-03-10 08:19] anbud commented on #427
This is a nice idea, it could bring us some nice Krazors.

[2018-03-10 08:20] gazhayes commented on #427
Any ideas about how to structure the auction side of things?

[2018-03-10 08:26] gazhayes commented on #424
Yeah that would be considerably better. And we should definitely do it that way before making it 'public'. The load balancing would be a good idea too just to provide a bit of redundancy and stability.

It's not a big enough or near enough problem right now, so instead of solving it in a half assed way right now (as I described above) I'll just leave it be and stick it in low priority to track it

[2018-03-10 08:29] gazhayes commented on #396
@MadanBhandari when you think you've fixed something, comment in the issue to let everyone know that it can be tested and closed.

[2018-03-10 08:35] gazhayes commented on #436
FYI:

[code]

[2018-03-10 09:05] MadanBhandari opened #439 "Problem : Top Navigation breaking on mobile screen"
Solution : Change layout on smaller screen, We can use user image instead of User Name to open drop down for My Profile, Edit Profile and Log out ?

[2018-03-10 09:10] MadanBhandari opened #440 "Problem : [/currency] currency details page doesn't show enough scope"
Solution : Update layout, check responsive layout on smaller screens.

@gazhayes
Please share if you guys have any idea or plans for this.

Related #404 #396

[2018-03-10 09:12] AshHimself commented on #439
@gazhayes - what is the scope for mobile at this point in time? Are you bothering we responsive design for web or rather invest the time in the actual native mobile app?

[2018-03-10 09:13] MadanBhandari commented on #396
Updated on #412  and will update overall layout while working on #440

[2018-03-10 09:19] gazhayes commented on #440
You see how there are some tab things I put in there? I put those in to show some generic data about what everything means. I don't really think that's the best way to do it though.

There's stuff on that page that won't make a whole lot of sense to people and requires some explanation. Maybe some modals or something next to each bit of information, I don't know.

Also the radar chart, I had a qui

[2018-03-10 09:25] janat08 commented on #69
All of collections are now available in /imports/api/indexDB.js as you may have noticed, which makes it easier to then move original collection declarations around and add collections into the file. It will also give you an overview of how API is grouped in folders.

[2018-03-10 09:27] gazhayes commented on #439
@MadanBhandari

I don't see any particular reason not to. A fallback image would be needed though in case they don't have a profile picture for some reason.

@AshHimself

Basically don't really bother too much. Having the home route work on mobile is probably something that we should do, but anything else is not really important. What is slightly more important is tablets though since everyone see

[2018-03-10 09:28] janat08 opened #442 "Problem: LoggerMongo disabled in main.js"
Problem: server main.js imports are wrong, which I wasn't aware of when I just disabled loggerMongo. The generatebounties and such in imports likely pointed to Bounties.js which is still available.

Solution: Correct imports using utilities.js in imports/api. Enable loggermongo.

[2018-03-10 09:30] janat08 opened #443 "Problem: CryptoJS npm package in currencychoices.js"
Problem: Currencychoices.js holds CryptoJS in helpers which isn't imported. It has been moved into imports thus should be imported.

[2018-03-10 09:32] janat08 opened #444 "Problem: currency2 template deleted"
Problem: I deleted currency2 template within currency.html

[2018-03-10 09:33] gazhayes opened #445 "problem: test is failing"
Problem: #441 is failing a test, but it doesn't appear to be anything to do with the code in the commits. I'm not sure what's happening here.

[code]
https://travis-ci.org/Blockrazor/blockrazor/builds/351641052?utm_source=github_status&utm_medium=notification

@anbud @AshHimself any ideas?

[2018-03-10 09:36] gazhayes commented on #444
That's a pretty confusing/bad name for a template anyway. What's it doing?

[2018-03-10 09:36] janat08 commented on #69
Here are my current notes/issues if weird stuff is happening and you're looking for some1 to blame, I'll post it when everything is moved into imports to solve then:

initializeuser might be a server only method, check it

sendMessage in imports in bounties/server/methods

ask some1 about the lib/Bounties as those functions are just left behind

exposed hashing methods to client

exposed rewards.j

[2018-03-10 09:41] gazhayes commented on #69
Yeah that's server only, unless someone else has started using it client side for some reason.

Looks ok to me, but some things only show up in certain situations.

[2018-03-10 09:41] gazhayes commented on #69
Where was it before?

[2018-03-10 09:45] janat08 commented on #69
sendMessage is activityLog method, I think the issue was that is was just a exported function before which I switched to method.

[2018-03-10 09:59] janat08 commented on #444
I was full of ipsum lorem, but also much more elaborate then currency template.

[2018-03-10 10:19] gazhayes commented on #444
I think it was probably just me testing things earlier on, it's probably no longer used anywhere.

[2018-03-10 11:52] #444 closed

[2018-03-10 11:55] janat08 commented on #69
A lot of our logic is within the template that's rendered by router without any children and we have a lot of pages too, so I think we could try something other than what meteor guide suggests.

[2018-03-10 11:56] gazhayes commented on #69
How do you prefer to do it?

[2018-03-10 12:48] anbud commented on #445
Is it possible that it was merged before the test even ran? For some weird reason it can't fetch that pull request, but others are working fine.

[2018-03-10 12:51] anbud commented on #405
@gazhayes, sure thing, I'll check that out as well.

[2018-03-10 12:55] gazhayes commented on #445
Actually yes that's probably why.

[2018-03-10 12:55] #445 closed

[2018-03-10 13:00] anbud commented on #427
We could organize auctions to be pinned for a certain amount of time (maybe we can do this daily or something). For example, we can organize an auction every day, start at 1 KZR, and have increments of 1 KZR. When the auctions ends, the winner could choose a currency/token to pin and it will stay pinned for the next 24 hours (until the other auction ends). Time frame can of course be smaller or bi

[2018-03-10 14:43] janat08 commented on #69
Render by route/page with folder for it if there're children, with a folder for moderator pages.

[2018-03-10 15:49] gazhayes commented on #69
Yeah I think that's a good idea.

[2018-03-10 22:59] anbud commented on #405
Done in #447.

[2018-03-10 23:00] anbud commented on #403
This should also be fixed in #447.

[2018-03-10 23:12] #437 closed